<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <span style="font-size:18px;"><strong><span style="color:#FF0000;"></span><span style="color:#FF0000;"></span></strong></span>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/932/content_1707091.png"
                     style="width: 100%">
                <span style="font-size:18px;"><strong><span style="color:#FF0000;"></span><span style="color:#FF0000;"></span></strong></span>
            </p>
            <hr>
            <section>
                <p style="text-align: center;">
                    <span style="color:#FF0000;"><b>第1章～第5章のメインシナリオで仲間に加入したキャラクターの</b></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF0000;"><b>いずれかの魔鏡が必ず獲得できる</b></span>
                </p>
                <p style="text-align: center;">
                    <b>『スタートダッシュ応援ガシャ』開催！</b>
                </p>
                <div class="frame1">
                    <p style="text-align: center;">
                        <strong>本ガシャから出現する魔鏡</strong>
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/933/content_110002.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/934/content_210002.png"
                             style="width: 80px;
                                    height: 80px">
                        <br>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/935/content_1910002.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/936/content_2010002.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/937/content_2510002.png"
                             style="width: 80px;
                                    height: 80px">
                        <br>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/938/content_1410002.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/939/content_3110002.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/940/content_2710002.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                </div>
                <p style="text-align: center;">スタートダッシュ応援ガシャを引くには</p>
                <p style="text-align: center;">
                    <span style="color:#FF8C00;"><b>『</b><strong>1章～5章キャラ魔鏡確定ビバ☆チケット​</strong></span><font color="#ff8c00"><b>』</b></font>が必要です。
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"></span>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/930/content_170709.png"
                         style="width: 80px;
                                height: 80px">
                </p>
            </section>
        </div>

        <section>
            <!-- 魔鏡訴求画像(ガシャと共通部材) -->
            <hr>
            <section>
                <img src="{{ s3_url }}public/uploads/ckeditor/pictures/212/content_170228113.png"
                     style="width:100%;
                            margin:10px auto">
                <ul class="box">
                    <li>
                        魔鏡技:&nbsp;<strong><span style="color:#f33;">閃光鏡牙陣</span></strong><span style="color:#f33;"></span><span style="color:#000000;">威力：</span><strong><span style="color:#f33;">1300</span><span style="color:#f33;"></span></strong>
                    </li>
                    <li style="text-align:right;float:right">
                        <strong>イクス</strong>専用
                    </li>
                </ul>
                <div class="frame1">
                    <strong>効果内容</strong>
                    <br>
                    高速で敵に接近、光の刃の連撃で邪なるものを滅砕する魔鏡技
                </div>
                <ul class="list">
                    <li style="width:26%;">
                        <span class="ico-swd">&nbsp;</span><strong>491</strong>
                    </li>
                    <li style="width:26%;">
                        <span class="ico-mgc">&nbsp;</span><strong>419</strong>
                    </li>
                    <li style="width:26%;">
                        <span class="ico-cc">&nbsp;</span><strong>13</strong>
                    </li>
                </ul>
            </section>
            <section>
                <p>
                    <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                </p>
                <p style="text-align: center;">
                    <strong><a href="https://www.youtube.com/watch?v=nIpQqOJF7qAexternalbrowser=true">魔鏡技動画はコチラ！！</a></strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:9px;">※ブラウザが開きます。</span>
                </p>
                <hr>
                <img src="{{ s3_url }}public/uploads/ckeditor/pictures/213/content_170228114.png"
                     style="width:100%;
                            margin:10px auto">
                <ul class="box">
                    <li>
                        魔鏡技:&nbsp;<span style="color:#f33;"><strong>静華鏡水陣</strong>　　</span><span style="color:#000000;">威力：</span><strong><span style="color:#f33;">1370</span></strong>
                    </li>
                    <li style="text-align:right;float:right">
                        <strong>ミリーナ</strong>専用
                    </li>
                </ul>
                <div class="frame1">
                    <strong>効果内容</strong>
                    <br>
                    周囲に展開した多数の鏡に水の力を反射させ全方位から攻撃を繰り出す魔鏡技
                </div>
                <ul class="list">
                    <li style="width:26%;">
                        <span class="ico-swd"></span><strong>401</strong>
                    </li>
                    <li style="width:26%;">
                        <span class="ico-mgc"></span><strong>509</strong>
                    </li>
                    <li style="width:26%;">
                        <span class="ico-cc"></span><strong>13</strong>
                    </li>
                </ul>
            </section>
            <!-- 仕切り -->
            <p style="text-align: center;">
                <strong><a href="https://www.youtube.com/watch?v=5tn5I_41eD4externalbrowser=true">魔鏡技動画はコチラ！！</a></strong>
            </p>
            <p style="text-align: center;">
                <span style="font-size:9px;">※ブラウザが開きます。</span>
            </p>
            <section>
                <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                <hr>
                <img src="{{ s3_url }}public/uploads/ckeditor/pictures/227/content_170228112.png"
                     style="width:100%;
                            margin:10px auto">
                <ul class="box">
                    <li>
                        魔鏡技:&nbsp;<span style="color:#FF0000;"><strong>爪牙竜狼破</strong><span style="color:#f33;"></span><span style="color:#000000;">威力：</span><strong><span style="color:#f33;">1300</span></strong></span>
                    </li>
                    <li style="text-align:right;float:right">
                        <strong>ユーリ</strong>専用
                    </li>
                </ul>
                <div class="frame1">
                    <strong>効果内容</strong>
                    <br>
                    回転力を駆使した乱舞から竜狼の気を放つ魔鏡技
                </div>
                <ul class="list">
                    <li style="width:26%;">
                        <span class="ico-swd">&nbsp;</span><strong>518</strong>
                    </li>
                    <li style="width:26%;">
                        <span class="ico-mgc">&nbsp;</span><strong>391</strong>
                    </li>
                    <li style="width:26%;">
                        <span class="ico-cc">&nbsp;</span><strong>13</strong>
                    </li>
                </ul>
            </section>
            <p style="text-align: center;">
                <strong><a href="https://www.youtube.com/watch?v=o5tppCItyt0externalbrowser=true">魔鏡技動画はコチラ！！</a></strong>
            </p>
            <p style="text-align: center;">
                <span style="font-size:9px;">※ブラウザが開きます。</span>
            </p>
            <section>
                <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                <hr>
                <img src="{{ s3_url }}public/uploads/ckeditor/pictures/228/content_170228115.png"
                     style="width:100%;
                            margin:10px auto">
                <ul class="box">
                    <li>
                        魔鏡技:&nbsp;<strong style="color: rgb(255, 0, 0);">絶覇猛犬迅</strong><span style="color: rgb(255, 51, 51);"></span><span style="color: rgb(0, 0, 0);">威力：</span><strong style="color: rgb(255, 0, 0);"><span style="color:#f33;">1300</span></strong><strong style="color: rgb(255, 0, 0);"><span style="color:#f33;"></span></strong>
                    </li>
                    <li style="text-align:right;float:right">
                        <strong>ラピード</strong>専用
                    </li>
                </ul>
                <div class="frame1">
                    <strong>効果内容</strong>
                    <br>
                    空中に斬り上げ、紅蓮の火球で屠る魔鏡技
                </div>
                <ul class="list">
                    <li style="width:26%;">
                        <span class="ico-swd">&nbsp;</span><strong>482</strong>
                    </li>
                    <li style="width:26%;">
                        <span class="ico-mgc">&nbsp;</span><strong>427</strong>
                    </li>
                    <li style="width:26%;">
                        <span class="ico-cc">&nbsp;</span><strong>13</strong>
                    </li>
                </ul>
            </section>
            <p style="text-align: center;">
                <strong><a href="https://www.youtube.com/watch?v=psAyFIyFVq4externalbrowser=true">魔鏡技動画はコチラ！！</a></strong>
            </p>
            <p style="text-align: center;">
                <span style="font-size:9px;">※ブラウザが開きます。</span>
            </p>
            <section>
                <hr>
                <img src="{{ s3_url }}public/uploads/ckeditor/pictures/22/content_170228123.png"
                     style="width:100%;
                            margin:10px auto">
                <ul class="box">
                    <li>
                        魔鏡技: <span style="color:#FF0000;"><b>刹華燕舞</b></span><span style="color:#f33;"></span><span style="color:#000000;">威力：</span><strong><span style="color:#f33;">1330</span></strong>
                    </li>
                    <li style="text-align:right;float:right">
                        <b>ソフィ</b>専用
                    </li>
                </ul>
                <div class="frame1">
                    <strong>効果内容</strong>
                    <br>
                    光子を放って牽制し、怒涛の突進から衝撃波でとどめを刺す魔鏡技
                </div>
                <ul class="list">
                    <li style="width:26%;">
                        <span class="ico-swd"></span><b>518</b>
                    </li>
                    <li style="width:26%;">
                        <span class="ico-mgc"></span><b>391</b>
                    </li>
                    <li style="width:26%;">
                        <span class="ico-cc"></span><strong>13</strong>
                    </li>
                </ul>
            </section>
            <p style="text-align: center;">
                <strong><a href="https://www.youtube.com/watch?v=lLYlkzXNrGgexternalbrowser=true">魔鏡技動画はコチラ！！</a></strong>
            </p>
            <p style="text-align: center;">
                <span style="font-size:9px;">※ブラウザが開きます。</span>
            </p>
            <hr>
            <section>
                <img src="{{ s3_url }}public/uploads/ckeditor/pictures/23/content_170228122.png"
                     style="width:100%;
                            margin:10px auto">
                <ul class="box">
                    <li>
                        魔鏡技:<span style="color:#FF0000;"> <b>滅覇皇迅撃</b></span><span style="color:#f33;"></span><span style="color:#000000;">威力：</span><strong><span style="color:#f33;">1729</span><span style="color:#f33;"></span></strong>
                    </li>
                    <li style="text-align:right;float:right">
                        <b>ルーク</b>専用
                    </li>
                </ul>
                <div class="frame1">
                    <strong>効果内容</strong>
                    <table border="0" cellpadding="0" cellspacing="0" width="284">
                        <tbody>
                            <tr height="18">
                                <td height="18" width="284">大地を震わせる気力を放出する魔鏡技</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="list">
                    <li style="width:26%;">
                        <span class="ico-swd">&nbsp;</span><b>501</b>
                    </li>
                    <li style="width:26%;">
                        <span class="ico-mgc">&nbsp;</span><strong>410</strong>
                    </li>
                    <li style="width:26%;">
                        <span class="ico-cc">&nbsp;</span><strong>13</strong>
                    </li>
                </ul>
            </section>
            <p style="text-align: center;">
                <strong><a href="https://www.youtube.com/watch?v=hjDF263VNroexternalbrowser=true">魔鏡技動画はコチラ！！</a></strong>
            </p>
            <p style="text-align: center;">
                <span style="font-size:9px;">※ブラウザが開きます。</span>
            </p>
            <hr>
            <section>
                <img src="{{ s3_url }}public/uploads/ckeditor/pictures/24/content_170228132.png"
                     style="width:100%;
                            margin:10px auto">
                <ul class="box">
                    <li>
                        魔鏡技:<span style="color:#FF0000;">&nbsp;<b>獅子閃刃牙</b></span><span style="color:#f33;"></span><span style="color:#000000;">威力：</span><strong><span style="color:#f33;">1691</span><span style="color:#f33;"></span></strong>
                    </li>
                    <li style="text-align:right;float:right">
                        <b>スレイ</b>専用
                    </li>
                </ul>
                <div class="frame1">
                    <strong>効果内容</strong>
                    <table border="0" cellpadding="0" cellspacing="0" width="284">
                        <tbody>
                            <tr height="18">
                                <td height="18" width="284">獅子戦吼からの高速ラッシュを叩き込み左手の霊力を解放する魔鏡技</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="list">
                    <li style="width:26%;">
                        <span class="ico-swd">&nbsp;</span><b>501</b>
                    </li>
                    <li style="width:26%;">
                        <span class="ico-mgc">&nbsp;</span><strong>410</strong>
                    </li>
                    <li style="width:26%;">
                        <span class="ico-cc">&nbsp;</span><strong>13</strong>
                    </li>
                </ul>
            </section>
            <p style="text-align: center;">
                <strong><a href="https://www.youtube.com/watch?v=OU5BvPm4nDEexternalbrowser=true">魔鏡技動画はコチラ！！</a></strong>
            </p>
            <p style="text-align: center;">
                <span style="font-size:9px;">※ブラウザが開きます。</span>
            </p>
            <section>
                <!-- 魔鏡訴求画像(ガシャと共通部材) -->　
                <hr>
                <img src="{{ s3_url }}public/uploads/ckeditor/pictures/25/content_170228133.png"
                     style="width:100%;
                            margin:10px auto">
                <ul class="box">
                    <li>
                        魔鏡技: <font color="#ff0000"><b>煉牙鳳墜</b></font><span style="color:#f33;"></span><span style="color:#000000;">威力：</span><strong><span style="color:#f33;">1690</span></strong>
                    </li>
                    <li style="text-align:right;float:right">
                        <b>ジュード</b>専用
                    </li>
                </ul>
                <div class="frame1">
                    <strong>効果内容</strong>
                    <br>
                    怒涛のラッシュを叩き込み、三連の鳳墜拳で周囲を焼き墜とす魔鏡技
                </div>
                <ul class="list">
                    <li style="width:26%;">
                        <span class="ico-swd"></span><b>518</b>
                    </li>
                    <li style="width:26%;">
                        <span class="ico-mgc"></span><b>391</b>
                    </li>
                    <li style="width:26%;">
                        <span class="ico-cc"></span><strong>13</strong>
                    </li>
                </ul>
            </section>
            <p style="text-align: center;">
                <strong><a href="https://www.youtube.com/watch?v=jL90PXND7Rgexternalbrowser=true">魔鏡技動画はコチラ！！</a></strong>
            </p>
            <p style="text-align: center;">
                <span style="font-size:9px;">※ブラウザが開きます。</span>
            </p>
            <div class="frame2">
                <p style="text-align:center;">《注意事項&nbsp;》</p>
                <p class="indent">・本ガシャは「1章～5章キャラ魔鏡確定スタートダッシュ応援ガシャ」のみで実行できます。</p>
                <p class="indent">・本ガシャは1章～5章キャラ魔鏡確定ビバ☆チケット1枚につき、1回実行できます。</p>
                <p class="indent">・本ガシャからは1章～5章キャラの魔鏡のいずれかが獲得できます。</p>
                <p class="indent">・本ガシャからは重複する魔鏡が出現する可能性がございます。</p>
                <p class="indent">・表示されているのは、最大強化後のステータス及び効果となります。</p>
            </div>

        </section>
    </body>
</html>
