<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- TOP訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6217/content_18080706.jpg"
                     style="width: 100%">
            </p>
            <hr>
            <section>
                <section>
                    <p style="text-align: center;">
                        <span style="font-size: 0.8rem; text-align: left;"></span>
                    </p>
                </section>
            </section>
            <section>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong>◆参戦キャラクター◆</strong></span>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/6218/content_18080708.jpg"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/6219/content_18080709.jpg"
                         style="width: 80%">
                </p>
                <hr>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong>◆イベント限定装備◆</strong></span>
                    <img src="{{ s3_url }}public/uploads/ckeditor/pictures/6313/content_18080711.jpg"
                         style="font-size: 0.8rem;
                                text-align: left;
                                width: 100%;
                                margin: 10px auto">
                </p>
                <section>
                    <ul class="box">
                        <li>
                            レアリティ：<span style="color:#FF4747;"><strong>★4</strong></span>　術技：<span style="color:#FF4747;"><b>朧月夜</b></span><span style="color:#f33;"></span>威力：<span style="color:#FF4747;"><b>330</b></span>
                        </li>
                        <li style="text-align:right;float:right">
                            <b>アスベル</b>専用
                        </li>
                    </ul>
                    <div class="frame1">
                        <strong>効果内容</strong>
                        <br>
                        剣の軌跡が満月を描くような回転斬り
                    </div>
                    <ul class="list">
                        <li style="width:26%;">
                            <span class="ico-swd"></span><b>523</b>
                        </li>
                        <li style="width:26%;">
                            <span class="ico-mgc"></span><strong>99</strong>
                        </li>
                        <li style="width:26%;">
                            <span class="ico-cc"></span><b>6</b>
                        </li>
                    </ul>
                    <hr>
                    <p style="text-align: center;">
                        <img src="{{ s3_url }}public/uploads/ckeditor/pictures/6314/content_18080710.jpg"
                             style="font-size: 0.8rem;
                                    text-align: left;
                                    width: 100%;
                                    margin: 10px auto">
                    </p>
                    <section>
                        <ul class="box">
                            <li>
                                レアリティ：<span style="color:#FF4747;"><strong>★4</strong></span>　術技：<span style="color:#FF4747;"><b>裂震虎砲</b></span><span style="color:#f33;"></span>威力：<span style="color:#FF4747;"><b>385</b></span>
                            </li>
                            <li style="text-align:right;float:right">
                                <b>アスベル</b>専用
                            </li>
                        </ul>
                        <div class="frame1">
                            <strong>効果内容</strong>
                            <br>
                            虎をも屠る闘気を敵に叩き付け吹き飛ばす
                        </div>
                        <ul class="list">
                            <li style="width:26%;">
                                <span class="ico-swd"></span><b>530</b>
                            </li>
                            <li style="width:26%;">
                                <span class="ico-mgc"></span><strong>92</strong>
                            </li>
                            <li style="width:26%;">
                                <span class="ico-cc"></span><b>6</b>
                            </li>
                        </ul>
                    </section>
                    <p>&nbsp;</p>
                </section>
                <hr>
                <p style="text-align: center;">
                    <img src="{{ s3_url }}public/uploads/ckeditor/pictures/6311/content_18080712.jpg"
                         style="font-size: 0.8rem;
                                text-align: left;
                                width: 100%;
                                margin: 10px auto">
                </p>
                <section>
                    <ul class="box">
                        <li>
                            レアリティ：<span style="color:#FF4747;"><strong>★4</strong>　</span>術技：<span style="color:#FF4747;"><b>ハートレスサークル　</b></span>回復力：<span style="color:#FF4747;"><b>36</b></span><span style="color:#FF4747;"></span>
                        </li>
                        <li style="text-align:right;float:right">
                            <b>シェリア</b>専用
                        </li>
                    </ul>
                    <div class="frame1">
                        <strong>効果内容</strong>
                        <br>
                        範囲内の味方のHPを中回復する術
                    </div>
                    <ul class="list">
                        <li style="width:26%;">
                            <span class="ico-swd"></span><strong>92</strong>
                        </li>
                        <li style="width:26%;">
                            <span class="ico-mgc"></span><strong>530</strong>
                        </li>
                        <li style="width:26%;">
                            <span class="ico-cc"></span><b>6</b>
                        </li>
                    </ul>
                </section>
                <hr>
                <p style="text-align: center;">
                    <img src="{{ s3_url }}public/uploads/ckeditor/pictures/6312/content_18080713.jpg"
                         style="font-size: 0.8rem;
                                text-align: left;
                                width: 100%;
                                margin: 10px auto">
                </p>
                <section>
                    <ul class="box">
                        <li>
                            レアリティ：<span style="color:#FF4747;"><strong>★4</strong>　</span>術技：<span style="color:#FF4747;"><b>フラッシュティア　</b></span>威力：<span style="color:#FF4747;"><strong>710</strong></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span>
                        </li>
                        <li style="text-align:right;float:right">
                            <b>シェリア</b>専用
                        </li>
                    </ul>
                    <div class="frame1">
                        <strong>効果内容</strong>
                        <br>
                        地面に聖なる刻印を刻む
                    </div>
                    <ul class="list">
                        <li style="width:26%;">
                            <span class="ico-swd"></span><strong>36</strong>
                        </li>
                        <li style="width:26%;">
                            <span class="ico-mgc"></span><strong>586</strong>
                        </li>
                        <li style="width:26%;">
                            <span class="ico-cc"></span><b>6</b>
                        </li>
                    </ul>
                </section>
                <p>&nbsp;</p>
                <hr>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>◆イベントの遊び方◆</strong>
                </p>
                <section>
                    <div class="frame1">
                        <p>
                            <span style="font-size:11px;"><span style="color:#FFFFFF;"></span></span>
                        </p>
                        <p style="text-align: center;">
                            <strong>≪イベント復刻方法について≫</strong>
                        </p>
                        <p>
                            <span style="font-size:12px;"></span>
                        </p>
                        <p>・クエスト画面の「復刻イベント」タブを選択</p>
                        <p>・「復刻する」ボタンを選択し、復刻したいイベントを選択しよう！</p>
                        <p>※復刻したイベントのクエストミッションにはダイヤは含まれません</p>
                        <p>※一部イベント内容が過去に開催されたものと異なるものがございます</p>
                        <p>・復刻には「イベント復刻チケット」が1個必要！</p>
                        <p>・最大3イベントまで同時に復刻可能！</p>
                        <p>・復刻中イベントの「終了」ボタンで任意のタイミングで終了させることもできる！</p>
                        <p>&nbsp;</p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/7403/content_13520.png"
                                 style="width: 80%">
                        </p>
                        <p>&nbsp;</p>
                        <p style="text-align: center;">
                            <strong>≪チケットについて≫</strong>
                        </p>
                        <p>
                            <span style="font-size:12px;">・チケットはショップの「復刻チケット購入ボタン」から購入することができる！</span>
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">
                            <strong>≪開催期間について≫</strong>
                        </p>
                        <p>
                            <span style="font-size:12px;">・復刻したイベントは以下の日程で開催される！</span>
                        </p>
                        <p>
                            <span style="font-size:12px;">※イベントの終了は任意のタイミングによる終了も含みます</span>
                        </p>
                        <center>
                            <table border="1" cellpadding="1" cellspacing="1" width="406">
                                <tbody>
                                    <tr height="25">
                                        <td height="25" style="text-align: center;" width="50%">
                                            <span style="font-size:12px;">イベントクエスト</span>
                                        </td>
                                        <td style="text-align: center;" width="50%">
                                            <p>
                                                <span style="font-size:12px;">イベント復刻開催より10日間</span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr height="25">
                                        <td height="25" style="text-align: center;">
                                            <span style="font-size:12px;">復刻ガシャ</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <p>
                                                <span style="font-size:12px;">イベントの終了と同日時</span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr height="25">
                                        <td height="25" style="text-align: center;">
                                            <span style="font-size:12px;">復刻チケットガシャ</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <p>
                                                <span style="font-size:12px;">イベントの終了+4日間</span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="25" style="text-align: center;">
                                            <span style="font-size:12px;">イベント交換所</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <p>
                                                <span style="font-size:12px;">イベントの終了+2日間</span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="25" style="text-align: center;">
                                            <span style="font-size:12px;">復刻イベントミッション</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <p>
                                                <span style="font-size:12px;">イベントの終了と同日時</span>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </center>
                        <p>&nbsp;</p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">
                            <strong>≪仲間加入について≫</strong>
                        </p>
                        <p>
                            <span style="font-size:12px;">・「<strong>復刻イベント</strong>」から「<strong>戦慄！ティル・ナ・ノーグ七不思議</strong>」を選択</span>
                        </p>
                        <p>
                            <span style="font-size:12px;">・クエストをクリアし、「<span style="color:#FF9900;"><strong>アスベル</strong></span>」「<span style="color:#FF9900;"><strong>シェリア</strong></span>」を仲間にしよう！</span>
                        </p>
                        <p>&nbsp;</p>
                        <p>
                            <span style="font-size:12px;"></span>
                        </p>
                        <p style="text-align: center;">
                            <span style="font-size:12px;"><strong>≪交換アイテムについて≫</strong></span>
                        </p>
                        <p>
                            <span style="font-size:12px;"></span>
                        </p>
                        <p>
                            ・復刻イベントでは以下の方法で交換アイテムが獲得可能!!
                            <br>
                            　①復刻イベントのイベントミッション
                        </p>
                        <p>②鏡晶石による復刻イベントガシャ</p>
                        <p>・イベント交換所では交換アイテムと</p>
                        <p>イベント限定装備やガシャチケットなどと交換が可能!</p>
                        <p>
                            <span style="font-size:12px;"></span><span style="font-size:12px;"></span>
                        </p>
                        <p style="text-align: center;">
                            <span style="font-size:12px;">
                                <br>
                            ～このイベントの交換アイテム～</span>
                        </p>
                        <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                            <tbody>
                                <tr>
                                    <td style="text-align: center;">
                                        <span style="font-size:12px;">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6220/content_3513.png"
                                                 style="width: 108px;
                                                        height: 108px">
                                        </span>
                                    </td>
                                    <td style="text-align: center;">
                                        <span style="font-size:12px;">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6222/content_3514.png"
                                                 style="width: 108px;
                                                        height: 108px">
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">
                                        <span style="font-size:12px;">《ガラスフィア》</span>
                                    </td>
                                    <td style="text-align: center;">
                                        <span style="font-size:12px;">《白銀の彫像》</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">
                            <span style="font-size:12px;"><strong>≪このイベントのミッション一覧≫</strong></span>
                        </p>
                        <p>
                            <span style="font-size:12px;">◆ジャスト入力ミッション◆
                                <br>
                                イベント終了までにジャスト入力を5回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                2000
                                <br>
                                イベント終了までにジャスト入力をさらに5回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                2000
                                <br>
                                イベント終了までにジャスト入力をさらに10回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                3000
                                <br>
                                イベント終了までにジャスト入力をさらに10回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                3000
                                <br>
                                イベント終了までにジャスト入力をさらに20回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにジャスト入力をさらに20回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにジャスト入力をさらに30回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにジャスト入力をさらに30回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにジャスト入力をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにジャスト入力をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                8000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                8000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                8000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                8000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                8000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                8000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                10000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                10000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                10000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                10000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                10000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                10000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                10000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                10000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                10000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                10000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                10000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                10000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                10000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                10000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                10000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                10000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                15000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                15000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                15000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                15000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                15000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                15000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                15000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                15000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                15000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                15000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                15000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                15000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                15000
                                <br>
                                イベント終了までにジャスト入力をさらに100回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                15000
                                <br>
                                ※始祖久遠の塔ではカウントされません</span><span style="font-size:12px;"></span>
                            </p>
                            <p>&nbsp;</p>
                            <p>
                                <span style="font-size:12px;"></span>
                            </p>
                            <p>
                                <span style="font-size:12px;"></span>
                            </p>
                            <p>
                                <span style="font-size:12px;">◆魔鏡技使用回数ミッション◆</span>
                            </p>
                            <p>
                                <span style="font-size:12px;"></span>
                            </p>
                            <p>
                                イベント終了までに魔鏡技を3回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                2000
                                <br>
                                イベント終了までに魔鏡技をさらに5回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                2000
                                <br>
                                イベント終了までに魔鏡技をさらに10回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                3000
                                <br>
                                イベント終了までに魔鏡技をさらに10回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                3000
                                <br>
                                イベント終了までに魔鏡技をさらに20回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までに魔鏡技をさらに20回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までに魔鏡技をさらに30回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までに魔鏡技をさらに30回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までに魔鏡技をさらに40回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までに魔鏡技をさらに40回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                7500
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                7500
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                7500
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                7500
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                7500
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                7500
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                7500
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                7500
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                7500
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                7500
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                7500
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                7500
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                7500
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                7500
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                7500
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                7500
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                7500
                                <br>
                                イベント終了までに魔鏡技をさらに50回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                7500
                            </p>
                            <p>
                                <span style="font-size:12px;">※始祖久遠の塔ではカウントされません</span><span style="font-size:12px;"></span>
                            </p>
                            <p>&nbsp;</p>
                            <p>
                                <span style="font-size:12px;">◆オーダー・討伐回数ミッション◆</span>
                            </p>
                            <p>
                                イベント終了までにオーダー・討伐を1回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                2000
                                <br>
                                イベント終了までにオーダー・討伐をさらに2回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                2000
                                <br>
                                イベント終了までにオーダー・討伐をさらに3回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                3000
                                <br>
                                イベント終了までにオーダー・討伐をさらに3回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                3000
                                <br>
                                イベント終了までにオーダー・討伐をさらに3回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                4000
                                <br>
                                イベント終了までにオーダー・討伐をさらに3回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                4000
                                <br>
                                イベント終了までにオーダー・討伐をさらに3回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに3回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに3回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに3回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに3回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに3回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに3回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに3回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに3回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに3回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに3回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに3回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに3回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに3回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに3回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに3回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに5回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに5回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに5回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに5回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに5回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに5回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに5回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに5回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに5回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに5回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに5回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに5回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに5回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                                <br>
                                イベント終了までにオーダー・討伐をさらに5回行う
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                     style="width: 16px;
                                            height: 16px">
                                5000
                            </p>
                            <p>※報告を受けた時にカウントされます。</p>
                            <p>&nbsp;</p>
                            <p>◆オーダー・時間ミッション◆</p>
                            イベント終了までにオーダーを３時間行う
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                 style="width: 16px;
                                        height: 16px">
                            2000
                            <br>
                            イベント終了までにオーダーをさらに６時間行う
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                 style="width: 16px;
                                        height: 16px">
                            2000
                            <br>
                            イベント終了までにオーダーをさらに12時間行う
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                 style="width: 16px;
                                        height: 16px">
                            4000
                            <br>
                            イベント終了までにオーダーをさらに30時間行う
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                 style="width: 16px;
                                        height: 16px">
                            4000
                            <br>
                            イベント終了までにオーダーをさらに45時間行う
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                 style="width: 16px;
                                        height: 16px">
                            5000
                            <br>
                            イベント終了までにオーダーをさらに45時間行う
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                 style="width: 16px;
                                        height: 16px">
                            5000
                            <br>
                            イベント終了までにオーダーをさらに45時間行う
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                 style="width: 16px;
                                        height: 16px">
                            5000
                            <br>
                            イベント終了までにオーダーをさらに45時間行う
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                 style="width: 16px;
                                        height: 16px">
                            5000
                            <br>
                            イベント終了までにオーダーをさらに45時間行う
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                 style="width: 16px;
                                        height: 16px">
                            5000
                            <br>
                            イベント終了までにオーダーをさらに45時間行う
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                 style="width: 16px;
                                        height: 16px">
                            5000
                            <br>
                            イベント終了までにオーダーをさらに45時間行う
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6223/content_3513.png"
                                 style="width: 16px;
                                        height: 16px">
                            5000
                            <br>
                            イベント終了までにオーダーをさらに45時間行う
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                 style="width: 16px;
                                        height: 16px">
                            5000
                            <br>
                            イベント終了までにオーダーをさらに45時間行う
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                 style="width: 16px;
                                        height: 16px">
                            5000
                            <br>
                            イベント終了までにオーダーをさらに45時間行う
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                 style="width: 16px;
                                        height: 16px">
                            5000
                            <br>
                            イベント終了までにオーダーをさらに45時間行う
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                 style="width: 16px;
                                        height: 16px">
                            5000
                            <br>
                            イベント終了までにオーダーをさらに45時間行う
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                 style="width: 16px;
                                        height: 16px">
                            5000
                            <br>
                            イベント終了までにオーダーをさらに45時間行う
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                 style="width: 16px;
                                        height: 16px">
                            5000
                            <br>
                            イベント終了までにオーダーをさらに45時間行う
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                 style="width: 16px;
                                        height: 16px">
                            5000
                            <br>
                            イベント終了までにオーダーをさらに45時間行う
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                 style="width: 16px;
                                        height: 16px">
                            5000
                            <br>
                            イベント終了までにオーダーをさらに45時間行う
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                 style="width: 16px;
                                        height: 16px">
                            5000
                            <br>
                            イベント終了までにオーダーをさらに45時間行う
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                 style="width: 16px;
                                        height: 16px">
                            5000
                            <br>
                            イベント終了までにオーダーをさらに45時間行う
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                 style="width: 16px;
                                        height: 16px">
                            5000
                            <br>
                            イベント終了までにオーダーをさらに45時間行う
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                 style="width: 16px;
                                        height: 16px">
                            5000
                            <br>
                            イベント終了までにオーダーをさらに45時間行う
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6224/content_3514.png"
                                 style="width: 16px;
                                        height: 16px">
                            5000
                            <p>※報告を受けた時にカウントされます。</p>
                        </div>
                    </section>
                    <p>&nbsp;</p>
                    <hr>
                    <p style="text-align: center;">&nbsp;</p>
                    <div class="frame2">
                        <p style="text-align: center;">《&nbsp;注意事項&nbsp;》</p>
                        <p>
                            <span style="font-size:11px;">・イベントに参加するには、1部第1章をクリアしている必要がございます。</span>
                        </p>
                        <p>
                            <span style="font-size:11px;">・イベントを復刻するためには「イベント復刻チケット」1個が必要になります。</span>
                        </p>
                        <p>
                            <span style="font-size:11px;">・一部、過去に開催されていたイベントの内容と異なるイベントがございます。</span>
                        </p>
                        <p>
                            <span style="font-size:11px;">・復刻ガシャ及び復刻チケットガシャは過去に開催されていたイベントの内容</span>
                        </p>
                        <p>
                            <span style="font-size:11px;">となります。詳細はガシャ内訳をご覧ください。</span>
                        </p>
                        <p>
                            <span style="font-size:11px;">・一度復刻をした期間限定の衣装、アタッチメント、武器見た目は
                                <br>
                            　永続的にキャラカスタムに表示されるようになります。</span>
                        </p>
                        <p>
                            <span style="font-size:11px;">・復刻するイベントにより複数のイベントが復刻されるものがございますが、</span>
                        </p>
                        <p>
                            <span style="font-size:11px;">終了された場合は、復刻した複数のイベントも同時に終了致します。</span>
                        </p>
                        <p>
                            <span style="font-size:11px;">・イベント復刻機能で同時に復刻可能なイベント数は3つになります。</span>
                        </p>
                        <p>
                            <span style="font-size:11px;">・イベントで登場するキャラ/装備は、再度登場する場合がございます。</span>
                        </p>
                        <p>
                            <span style="font-size:11px;">・イベント専用シナリオでは、APオーブは獲得できません。</span>
                        </p>
                        <p>
                            <span style="font-size:11px;">・過去の同イベントでキャラクター・報酬魔鏡を獲得している場合、</span>
                        </p>
                        <p>
                            <span style="font-size:11px;">復刻した際に追加でキャラクター・報酬魔鏡を獲得することはできません。</span>
                        </p>
                        <p>
                            <span style="font-size:11px;">・過去のイベントでクリアしたクエストのシナリオは再生されません。</span>
                        </p>
                        <p>
                            <span style="font-size:11px;">シナリオログでは引き続きいつでもご覧頂けます。</span>
                        </p>
                        <p>
                            <span style="font-size:11px;">・過去のイベント参加時のクエスト進行状況は全てリセットされます。</span>
                        </p>
                        <p>
                            <span style="font-size:11px;">・過去イベントで達成したクエストミッションは</span>
                        </p>
                        <p>
                            <span style="font-size:11px;">リセットされ、再度報酬が獲得可能となります。</span>
                        </p>
                        <p>
                            <span style="font-size:11px;">・イベント交換所が終了するとイベントの交換アイテムは</span>
                        </p>
                        <p>
                            <span style="font-size:11px;">　次回同一イベントを復刻した際に引き継がれず消失します。
                                <br>
                            ・イベント交換所の交換状況は復刻されるたびに初期化されますが、</span>
                        </p>
                        <p>
                            <span style="font-size:11px;">　一度しか獲得できない報酬などは初期化されません。
                                <br>
                                ・クエストミッションにダイヤの報酬はございません。
                                <br>
                            ・過去イベントで獲得したイベント交換用のアイテムはリセットされます。</span>
                        </p>
                        <p>
                            <span style="font-size:11px;">・イベント交換用のアイテムはイベントミッション、
                                <br>
                            　鏡晶石による復刻ガシャから獲得することができます。</span>
                        </p>
                        <p>
                            <span style="font-size:11px;">・イベント交換用のアイテムは</span>
                        </p>
                        <p>
                            <span style="font-size:11px;">　クエスト中のエネミーから獲得することはできません。
                                <br>
                            ・表示されているのは、最大強化後のステータス・効果となります。</span>
                        </p>
                        <p>
                            <span style="font-size:11px;"></span><span style="font-size:11px;"></span>
                        </p>
                        <p class="indent">
                            <span style="font-size:10px;"></span>
                        </p>
                    </div>
                </section>
            </div>

        </body>
    </html>
