<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <section>
                <p style="text-align: center;">
                    <span style="font-size:14px;"></span>
                </p>
                <p style="text-align: center;">
                    <strong><span style="font-size:18px;">『ハイプリズム交換所』ご利用方法</span></strong>
                </p>
                <hr>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/426/content_2020102807.jpg"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:12px;"></span>
                </p>
                <p>
                    <span style="color:#FF4747;"><strong>■ハイプリズム獲得方法</strong></span>
                    <br>
                    ・ガシャやミッションなどで、既に限界突破を最大まで行っていた
                    <br>
                    　魔鏡を獲得する際、獲得した魔鏡は自動で売却され、
                    <br>
                    　ハイプリズムを獲得することができます。
                    <br>
                    &nbsp;
                </p>
                <p>以下のチケットが交換可能です。</p>
                <p>
                    <strong>①【ハイプリズム】季節魔鏡確定ビバ★チケット</strong>
                </p>
                <p>
                    　※ 2021/3/31までに登場した季節魔鏡のいずれかが獲得できます。
                    <br>
                    　※コラボキャラクターは含まれません
                </p>
                <p>※出現する魔鏡は特定の期間ごとに更新されます。</p>
                <p>
                    　※通常魔鏡、決戦魔鏡、オーバーレイ魔鏡、
                    <br>
                    　　クロスオーバー魔鏡、コラボ魔鏡は出現しません。
                </p>
                <p>※【ハイプリズム】季節魔鏡確定ビバ★チケットには使用期限はございません。</p>
                <p>&nbsp;</p>
                <p>
                    <strong>②【ハイプリズム】季節魔鏡セレクトチケット</strong>
                </p>
                <p>
                    　※2021/3/31までに登場した季節魔鏡のいずれかが獲得できます。
                    <br>
                    　※コラボキャラクターは含まれません
                </p>
                <p>※交換可能な魔鏡は特定の期間ごとに更新されます。</p>
                <p>
                    　※通常魔鏡、決戦魔鏡、オーバーレイ魔鏡、
                    <br>
                    　　クロスオーバー魔鏡、コラボ魔鏡は
                    <br>
                    　　セレクトチケットでの交換の対象外となります。
                </p>
                <p>※【ハイプリズム】季節魔鏡セレクトチケットには使用期限はございません。</p>
                <p>&nbsp;</p>
                <p>
                    <strong>③【ハイプリズム】通常魔鏡確定ビバ★チケット</strong>
                </p>
                <p>
                    　※ 2022/3/31までに参戦したキャラクターの
                    <br>
                    　　通常魔鏡のいずれかが獲得できます。
                    <br>
                    　※コラボキャラクターは含まれません
                </p>
                <p>※出現する魔鏡は特定の期間ごとに更新されます。</p>
                <p>
                    　※季節魔鏡、決戦魔鏡、オーバーレイ魔鏡、
                    <br>
                    　　クロスオーバー魔鏡、コラボ魔鏡は出現しません。
                </p>
                <p>※【ハイプリズム】通常魔鏡確定ビバ★チケットには使用期限はございません。</p>
                <p></p>
                <p>
                    <strong>④【ハイプリズム】通常魔鏡セレクトチケット</strong>
                </p>
                <p>※2022/3/31までに参戦したキャラクターの</p>
                <p>
                    　　通常魔鏡のいずれかが獲得できます。
                    <br>
                    　※コラボキャラクターは含まれません
                </p>
                <p>※交換可能な魔鏡は特定の期間ごとに更新されます。</p>
                <p>
                    　※季節魔鏡、決戦魔鏡、オーバーレイ魔鏡、
                    <br>
                    　　クロスオーバー魔鏡、コラボ魔鏡は
                    <br>
                    　　セレクトチケットでの交換の対象外となります。
                </p>
                <p>
                    　※【ハイプリズム】通常魔鏡セレクトチケットには使用期限はございません。
                    <br>
                    &nbsp;
                </p>
                <p>
                    <strong>⑤【ハイプリズム】鏡装確定ビバ★チケット</strong>
                </p>
                <p>※ 2022/3/31までに参参戦したキャラクターの</p>
                <p>
                    　　通常鏡装のいずれかが獲得できます。
                    <br>
                    　※コラボキャラクターは含まれません
                </p>
                <p>※出現する鏡装は特定の期間ごとに更新されます。</p>
                <p>※コラボ鏡装は出現しません。</p>
                <p>※【ハイプリズム】鏡装確定ビバ★チケットには使用期限はございません。</p>
                <p></p>
                <p>
                    <strong>⑥【ハイプリズム】鏡装セレクトチケット</strong>　
                </p>
                <p>※ 2022/3/31までに参参戦したキャラクターの</p>
                <p>通常鏡装のいずれかが獲得できます。</p>
                <p>※コラボキャラクターは含まれません</p>
                <p>※交換可能な鏡装は特定の期間ごとに更新されます。</p>
                <p>※コラボ鏡装はセレクトチケットでの交換の対象外となります。</p>
                <p>※【ハイプリズム】鏡装セレクトチケットには使用期限はございません。</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/427/content_2020102808.jpg"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p>
                    <span style="color:#FF4747;"></span>
                </p>
                <p>
                    <span style="color:#FF4747;"><strong>■ハイプリズム交換所ご利用方法</strong></span>
                </p>
                <p>
                    ・「交換・売却」＞「交換所・引換所」より「ハイプリズム交換所」を選択します。<span style="color:#FF00FF;"></span>
                </p>
                <p>・交換リストから交換したいものを選択します。</p>
                <p>
                    ・交換したい数を選択し、交換ボタンを選択することで
                    <br>
                    　必要な数のハイプリズムを消費し、交換することができます。
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <hr>
                <div class="frame2">
                    <p style="text-align: center;">
                        <span style="font-size:11px;"><b>《 注意事項&nbsp;》</b></span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・ハイプリズム交換所が実装されて以降、魔鏡が売却された場合のみ
                            <br>
                            　ハイプリズムを入手することができます。
                            <br>
                            ・報酬魔鏡の自動売却時、ハイプリズムを獲得することはできません。</span><span style="font-size:11px;"></span><span style="font-size:11px;"></span>
                        </p>
                        <p>
                            <span style="font-size:11px;">・交換可能数に制限がある場合、交換可能数を超えて交換することはできません。</span>
                        </p>
                        <p>
                            <span style="font-size:11px;">・交換可能数の上限まで交換した場合、以降交換することはできなくなります。</span>
                        </p>
                        <p>
                            <span style="font-size: 11px;"></span>
                        </p>
                        <p>
                            <span style="font-size:11px;"></span>
                        </p>
                    </div>

                </section>
            </div>
        </body>
    </html>
