<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/7025/content_1810021.png"
                     style="width: 100%">
            </p>
            <hr>
            <p>
                <b>ジューダス、コンウェイ</b>の<span style="color:#FF4747;"><strong>『魔鏡』</strong>と</span><span style="color:#FF4747;"><strong>『装備』のみ</strong></span>が出現する
            </p>
            <p>【復刻】ジューダス・コンウェイ確定チケットガシャが開催!!</p>
            <p>&nbsp;</p>
            <p>
                <strong>◆開催期間◆</strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;">イベントの終了+4日間</span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                【復刻】ジューダス、コンウェイ確定チケットガシャでは、
                <br>
                <b>ジューダス、コンウェイ</b>の<span style="color:#FF4747;"><strong>『</strong><span style="color:#FF4747;"><strong>装備</strong></span><strong>』と『</strong><span style="color:#FF4747;"><strong>魔鏡</strong></span><strong>』のみ</strong></span>が出現!!
            </p>
            <div class="frame1">
                <p style="text-align: center;">
                    <strong>ジューダスの装備・魔鏡</strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1854/content_5710002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1855/content_574001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1856/content_574006.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1857/content_573002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1858/content_573003.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1859/content_573004.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1860/content_573005.png"
                         style="width: 80px;
                                height: 80px">
                </p>
            </div>
            <div class="frame1">
                <p style="text-align: center;">
                    <strong>コンウェイの装備・魔鏡</strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1861/content_7010002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/7043/content_705001.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1862/content_704002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1863/content_704006.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1864/content_703003.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1865/content_703004.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1866/content_703005.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1867/content_703006.png"
                         style="width: 80px;
                                height: 80px">
                </p>
            </div>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                【復刻】ジューダス・コンウェイ確定ガシャチケットは
                <br>
                <strong>復刻『ティル・ナ・ノーグ ハロウィン』ガシャ</strong>
                <br>
                のおまけで<strong>入手が可能!</strong><!-- 仕切り -->
            </p>
            <hr>
            <section>
                <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                <img src="{{ s3_url }}public/uploads/ckeditor/pictures/6996/content_1710072.png"
                     style="width: 100%">
                <ul class="box">
                    <li>
                        <strong>魔鏡技:<font color="#FF4747">業魔月閃刹</font></strong>　　威力:<font color="#ff4747"><b>1794</b></font>
                    </li>
                    <li style="text-align:right;float:right">
                        <strong>ジューダス専用</strong>
                    </li>
                </ul>
                <div class="frame1">
                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        <strong>効果内容</strong>
                                    </p>
                                    <p>
                                        水晶の槍で追い詰めた敵を切り上げ
                                        <br>
                                        月をも切り裂く斬撃で断罪する魔鏡技
                                    </p>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong><a href="https://www.youtube.com/watch?v=bdn71N8T9zYexternalbrowser=true">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                 style="width: 60px;
                                                        height: 60px">
                                        </a></strong>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="list">
                    <li style="width:26%;">
                        <span class="ico-swd"></span><b>501</b>
                    </li>
                    <li style="width:26%;">
                        <span class="ico-mgc"></span><b>410</b>
                    </li>
                    <li style="width:26%;">
                        <span class="ico-cc"></span><b>13</b>
                    </li>
                </ul>
            </section>
            <hr>
            <section>
                <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                <img src="{{ s3_url }}public/uploads/ckeditor/pictures/6997/content_1710073.png"
                     style="width: 100%">
                <ul class="box">
                    <li>
                        <strong>魔鏡技:<font color="#FF4747">ビヴリオクラズム</font></strong>　　威力:<font color="#ff4747"><b>1370</b></font>
                    </li>
                    <li style="text-align:right;float:right">
                        <strong>コンウェイ専用</strong>
                    </li>
                </ul>
                <div class="frame1">
                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        <strong>効果内容</strong>
                                    </p>
                                    <p>
                                        本を巨大化し無知蒙昧な敵ごと
                                        <br>
                                        焚書する魔鏡技
                                    </p>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong><a href="https://www.youtube.com/watch?v=QJvsAXKkeFsexternalbrowser=true">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                 style="width: 60px;
                                                        height: 60px">
                                        </a></strong>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="list">
                    <li style="width:26%;">
                        <span class="ico-swd"></span><b>345</b>
                    </li>
                    <li style="width:26%;">
                        <span class="ico-mgc"></span><b>564</b>
                    </li>
                    <li style="width:26%;">
                        <span class="ico-cc"></span><b>13</b>
                    </li>
                </ul>
            </section>
            <hr>
            <div class="frame2">
                <p style="text-align:center;">
                    <b>《 注意事項&nbsp;》</b>
                </p>
                <p>
                    <span style="font-size:11px;">・本ガシャは「【復刻】ジューダス・コンウェイ確定ガシャチケット」のみで実行できます。
                        <br>
                        ・本ガシャは【復刻】ジューダス・コンウェイ確定ガシャチケット1枚につき、
                        <br>
                        　1回実行できます。
                        <br>
                        ・本ガシャからはジューダスの魔鏡・★4装備・★3装備または
                        <br>
                        　コンウェイの魔鏡・★5鏡装・★4装備・★3装備のいずれかが獲得できます。
                        <br>
                        ・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。
                        <br>
                        ・イベント限定ポイントボーナス及び攻略戦ボーナスの効果は、
                        <br>
                        　該当のイベント開催時のみ発動します。
                        <br>
                        ・イベント限定ポイントボーナス及び攻略戦ボーナスが
                        <br>
                        　発動する魔鏡・装備の一覧は、該当イベントのお知らせをご確認ください。
                        <br>
                        ・本ガシャで獲得できる装備・魔鏡から
                        <br>
                        　限定衣装・限定アタッチメント・限定武器見た目は
                        <br>
                        　入手することはできません。
                        <br>
                        ・期間限定の魔鏡・装備は再登場する場合がございます。
                        <br>
                        ・表示されているステータス・効果・ポイントボーナス
                        <br>
                    　攻略戦ボーナスは、最大強化後の値となります。</span><span style="font-size:11px;"></span><span style="font-size:11px;"></span><span style="font-size:11px;"></span><span style="font-size:11px;"></span>
                </p>
            </div>
        </div>

    </body>
</html>
