<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/5285/content_1805151.png"
                     style="width:100%;
                            margin:10px auto">
            </p>
            <hr>
            <p style="text-align: center;">
                <b>第4章～第7章</b>で仲間になるキャラクター
            </p>
            <p style="text-align: center;">
                <span style="font-size:14px;"></span>
            </p>
            <p>
                <strong>スレイ、ジュード、ルーティ
                    <br>
                メルディ、キール</strong>
            </p>
            <p style="text-align: center;">
                <span style="font-size:14px;"></span>
            </p>
            <p style="text-align: center;">
                のみの<span style="color:#FF4747;"><strong>装備・魔鏡</strong></span>が手に入る
            </p>
            <p style="text-align: center;">
                <span style="color:#FF9900;"><strong>第4章～第7章ピックアップガシャ</strong></span>が追加！
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                <span style="font-size:16px;"><span style="color:#FF4747;"><strong>1日1回のみ鏡晶石50個</strong></span></span>でガシャが引ける！
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                さらに!!<strong><span style="color:#FF4747;">10連ガシャは初回半額!!</span></strong>
                <br>
                <strong>初回</strong>に限り
            </p>
            <p style="text-align: center;">
                <span style="font-size:18px;"><span style="color:#FF4747;"><strong>鏡晶石1000個</strong></span></span>または<span style="color:#FF4747;"><strong>ダイヤ100個</strong></span>で
            </p>
            <p style="text-align: center;">
                <span style="color:#FF4747;"><strong>10連ガシャ</strong></span>が可能!!
            </p>
            <p style="text-align: center;">
                <strong><span style="color:#FF4747;"></span></strong>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                <span style="color:#000000;"></span><span style="font-size:14px;"><span style="color:#FF4747;"><strong>&nbsp;</strong></span><span style="color:#FF4747;"><strong>第4章～第7章ピックアップガシャ</strong></span>では<span style="color:#000000;">、</span></span><span style="font-size:14px;"></span><span style="font-size:14px;"></span><span style="font-size:14px;"></span>
            </p>
            <p>
                <strong>スレイ、ジュード、ルーティ
                    <br>
                    メルディ、キール</strong><span style="font-size:14px;"></span><span style="font-size:14px;"></span><span style="font-size:14px;"></span><span style="font-size:14px;"><span style="color:#000000;"></span>
                    <br>
                    の<strong><span style="color:#FF4747;">★3・★4装備</span></strong>と</span><span style="font-size:14px;"><span style="color:#FF4747;"><strong>魔鏡</strong></span></span><span style="font-size:14px;"><strong><span style="color:#FF4747;"></span></strong>が出現！</span><span style="font-size:14px;"><span style="color:#FF4747;"></span></span>
                </p>
                <p>&nbsp;</p>
                <p>さらに！</p>
                <p>
                    <strong>スレイ、ジュード、メルディ</strong>の
                </p>
                <p>
                    <span style="color:#FF4747;"><strong>★5鏡装</strong></span>も獲得可能!!
                </p>
                <p style="font-size: 0.8rem;
                          margin: 10px 0px;
                          padding: 10px 10px 0px;
                          text-align: center">
                    <span style="font-size:14px;"><span style="color:#000000;"></span><span style="color:#FF4747;"><strong>&nbsp;強力な</strong></span><strong><span style="color:#FF4747;">装備</span></strong>と<strong><span style="color:#FF4747;">魔鏡</span></strong>を手に入れて<span style="color:#FF4747;"><strong>メインシナリオ</strong></span>を進めよう!!</span>
                </p>
                <div class="frame1" style="text-align: center;">
                    <strong>このガシャから装備・魔鏡が出現する対象キャラ</strong>
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/727/content_31.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/728/content_27.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/729/content_5.png"
                         style="width: 100px;
                                height: 100px">
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/730/content_7.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/731/content_8.png"
                         style="width: 100px;
                                height: 100px">
                </div>
                <!-- 仕切り -->
                <section>
                    <hr>
                    <section>
                        &nbsp;
                    </section>
                    <section>
                        <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                        <img src="{{ s3_url }}public/uploads/ckeditor/pictures/5304/content_170228132.png"
                             style="width: 100%">
                        <ul class="box">
                            <li>
                                <strong>魔鏡技:<font color="#FF4747">獅子閃刃牙</font></strong>　　威力:<font color="#ff4747"><b>1691</b></font>
                            </li>
                            <li style="text-align:right;float:right">
                                <strong>スレイ専用</strong>
                            </li>
                        </ul>
                        <div class="frame1">
                            <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>
                                                <strong>効果内容</strong>
                                            </p>
                                            <p>
                                                獅子戦吼からの高速ラッシュを叩き込み左手の
                                                <br>
                                                霊力を解放する魔鏡技
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong><a href="https://www.youtube.com/watch?v=OU5BvPm4nDEexternalbrowser=true">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                         style="width: 60px;
                                                                height: 60px">
                                                </a></strong>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <ul class="list">
                            <li style="width:26%;">
                                <span class="ico-swd"></span><b>501</b>
                            </li>
                            <li style="width:26%;">
                                <span class="ico-mgc"></span><b>410</b>
                            </li>
                            <li style="width:26%;">
                                <span class="ico-cc"></span><b>13</b>
                            </li>
                        </ul>
                    </section>
                    <hr>
                    <section>
                        <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                        <img src="{{ s3_url }}public/uploads/ckeditor/pictures/5305/content_170228133.png"
                             style="width: 100%">
                        <ul class="box">
                            <li>
                                <strong>魔鏡技:<font color="#FF4747">煉牙鳳墜</font></strong>　　威力:<font color="#ff4747"><b>1690</b></font>
                            </li>
                            <li style="text-align:right;float:right">
                                <strong>ジュード専用</strong>
                            </li>
                        </ul>
                        <div class="frame1">
                            <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>
                                                <strong>効果内容</strong>
                                            </p>
                                            <p>怒涛のラッシュを叩き込み、三連の鳳墜拳で周囲を焼き堕とす魔鏡技</p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong><a href="https://www.youtube.com/watch?v=jL90PXND7Rgexternalbrowser=true">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                         style="width: 60px;
                                                                height: 60px">
                                                </a></strong>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <ul class="list">
                            <li style="width:26%;">
                                <span class="ico-swd"></span><b>518</b>
                            </li>
                            <li style="width:26%;">
                                <span class="ico-mgc"></span><b>391</b>
                            </li>
                            <li style="width:26%;">
                                <span class="ico-cc"></span><b>13</b>
                            </li>
                        </ul>
                    </section>
                    <hr>
                    <section>
                        <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                        <img src="{{ s3_url }}public/uploads/ckeditor/pictures/5302/content_170308112.png"
                             style="width: 100%">
                        <ul class="box">
                            <li>
                                <strong>魔鏡技:<font color="#FF4747">ブラッディローズ</font></strong>　　威力:<font color="#ff4747"><b>1820</b></font>
                            </li>
                            <li style="text-align:right;float:right">
                                <strong>ルーティ専用</strong>
                            </li>
                        </ul>
                        <div class="frame1">
                            <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>
                                                <strong>効果内容</strong>
                                            </p>
                                            <p>
                                                バラが散るような刹那の連撃を
                                                <br>
                                                刻む魔鏡技
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong><a href="https://www.youtube.com/watch?v=xq7Q-a8zT9Iexternalbrowser=true">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                         style="width: 60px;
                                                                height: 60px">
                                                </a></strong>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <ul class="list">
                            <li style="width:26%;">
                                <span class="ico-swd"></span><b>410</b>
                            </li>
                            <li style="width:26%;">
                                <span class="ico-mgc"></span><b>501</b>
                            </li>
                            <li style="width:26%;">
                                <span class="ico-cc"></span><b>13</b>
                            </li>
                        </ul>
                    </section>
                    <hr>
                    <section>
                        <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                        <img src="{{ s3_url }}public/uploads/ckeditor/pictures/5303/content_1704012.png"
                             style="width: 100%">
                        <ul class="box">
                            <li>
                                <strong>魔鏡技:<font color="#FF4747">イグニスブレード</font></strong>　　威力:<font color="#ff4747"><b>1781</b></font>
                            </li>
                            <li style="text-align:right;float:right">
                                <strong>メルディ専用</strong>
                            </li>
                        </ul>
                        <div class="frame1">
                            <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>
                                                <strong>効果内容</strong>
                                            </p>
                                            <p>炎の魔剣を召喚し敵を焼き払う魔鏡技</p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong><a href="https://www.youtube.com/watch?v=ZeRvLWWfxEQexternalbrowser=true">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                         style="width: 60px;
                                                                height: 60px">
                                                </a></strong>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <ul class="list">
                            <li style="width:26%;">
                                <span class="ico-swd"></span><b>345</b>
                            </li>
                            <li style="width:26%;">
                                <span class="ico-mgc"></span><b>564</b>
                            </li>
                            <li style="width:26%;">
                                <span class="ico-cc"></span><b>13</b>
                            </li>
                        </ul>
                    </section>
                    <hr>
                    <section>
                        <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                        <img src="{{ s3_url }}public/uploads/ckeditor/pictures/5383/content_1704013.png"
                             style="width: 100%">
                        <ul class="box">
                            <li>
                                <strong>魔鏡技:<font color="#FF4747">グランドゲイル</font></strong>　　威力:<font color="#ff4747"><b>1345</b></font>
                            </li>
                            <li style="text-align:right;float:right">
                                <strong>キール専用</strong>
                            </li>
                        </ul>
                        <div class="frame1">
                            <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>
                                                <strong>効果内容</strong>
                                            </p>
                                            <p>大地を震わせる竜巻を呼び出す魔鏡技</p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong><a href="https://www.youtube.com/watch?v=75fulIe_YI0externalbrowser=true">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                         style="width: 60px;
                                                                height: 60px">
                                                </a></strong>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <ul class="list">
                            <li style="width:26%;">
                                <span class="ico-swd"></span><b>355</b>
                            </li>
                            <li style="width:26%;">
                                <span class="ico-mgc"></span><b>555</b>
                            </li>
                            <li style="width:26%;">
                                <span class="ico-cc"></span><b>13</b>
                            </li>
                        </ul>
                    </section>
                    <hr>
                    <section>
                        <section>
                            &nbsp;
                        </section>
                        <div class="frame2">
                            <p style="text-align:center;">《&nbsp;注意事項&nbsp;》</p>
                            <p class="indent">
                                <span style="font-size:11px;"></span>
                            </p>
                            <p>
                                <span style="font-size:11px;">・鏡晶石10連ガシャの、10回の抽選のうち1回は</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">「★5鏡装・魔鏡」のいずれかが確定で出現します。</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">提供割合は、「鏡晶石10連ガシャ 1/10回」一覧に準じます。</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">・ダイヤ10連ガシャの、10回の抽選のうち1回は</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">「★4装備・★5鏡装・魔鏡」のいずれかが確定で出現します。</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">提供割合は、「ダイヤ10連ガシャ 1/10回」一覧に準じます。</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">・「鏡晶石10連ガシャ 1/10回」及び「ダイヤ10連ガシャ 1/10回」以外の提供割合は、</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">「鏡晶石1連ガシャ、鏡晶石10連ガシャ 9/10回、</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">ダイヤ1連ガシャ、ダイヤ10連ガシャ 9/10回」一覧に準じます。</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">・それぞれの提供割合は、小数第4位を四捨五入して表示しているため、</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">合計値が100％にならない場合がございます。</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">・鏡晶石とダイヤいずれの手段でもガシャの提供割合は変わりません。</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">・鏡晶石とダイヤを組み合わせてガシャを実行することはできません。</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">・鏡晶石1連ガシャは1日1回のみ鏡晶石50個でご利用できます。</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">2回目以降は通常時の鏡晶石200個となります。</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">0：00に再び鏡晶石50個でご利用できるようになります。</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">・鏡晶石10連ガシャは初回のみ半額の鏡晶石1000個でご利用できます。</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">２回目以降は通常時の鏡晶石2000個となります。</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">・ダイヤ10連ガシャは初回のみ半額のダイヤ100個でご利用できます。</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">２回目以降は通常時のダイヤ200個となります。</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">・期間限定ガシャでの登場となっているリオンの装備・魔鏡は</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">本ガシャから出現しませんのでご注意ください。</span>
                            </p>
                            <p class="indent">
                                <span style="font-size:11px;"></span><span style="font-size:11px;"></span>
                            </p>
                        </div>
                    </section>
                </section>
            </div>

        </body>
    </html>
