<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/9528/content_1902261.png"
                     style="width:100%;
                            margin:10px auto">
            </p>
            <hr>
            <p style="text-align: center;">
                <b>2部第8章～終章</b>で仲間になるキャラクター
            </p>
            <p style="text-align: center;">
                <span style="font-size:14px;"></span>
            </p>
            <p>
                <strong>シング、カイウス、スパーダ</strong>
            </p>
            <p>
                <strong>アスベル、</strong><strong>フレン</strong>
            </p>
            <p style="text-align: center;">
                <span style="font-size:14px;"></span>
            </p>
            <p style="text-align: center;">
                のみの<span style="color:#FF4747;"><strong>装備・魔鏡</strong></span>が手に入る
            </p>
            <p style="text-align: center;">
                <span style="color:#FF9900;"><strong>2部第8章～終章ピックアップガシャ</strong></span>が追加！
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                <span style="font-size:16px;"><span style="color:#FF4747;"><strong>1日1回のみ</strong></span></span><span style="font-size:18px;"><span style="color:#FF4747;"><strong>鏡晶石50個</strong></span></span>で1連ガシャが引ける！
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                さらに!!<strong><span style="color:#FF4747;">10連ガシャは初回半額!!</span></strong>
                <br>
                <strong>初回</strong>に限り
            </p>
            <p style="text-align: center;">
                <span style="font-size:18px;"><span style="color:#FF4747;"><strong>鏡晶石1000個</strong></span></span>または<span style="color:#FF4747;"><strong>ダイヤ100個</strong></span>で
            </p>
            <p style="text-align: center;">
                <span style="color:#FF4747;"><strong>10連ガシャ</strong></span>が可能!!
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                <span style="color:#000000;"></span><span style="font-size:14px;"><span style="color:#FF4747;"><strong>2部第8章～終章</strong></span><span style="color:#FF4747;"><strong>ピックアップガシャ</strong></span>では<span style="color:#000000;">、</span></span><span style="font-size:14px;"></span><span style="font-size:14px;"></span><span style="font-size:14px;"></span>
            </p>
            <p>
                <strong>シング、カイウス、スパーダ</strong>
            </p>
            <p>
                <strong>アスベル、</strong><strong>フレン</strong><span style="font-size:14px;"></span><span style="font-size:14px;"></span><span style="font-size:14px;"></span><span style="font-size:14px;"><span style="color:#000000;"></span>
                <br>
                の<strong><span style="color:#FF4747;">★3・★4装備</span></strong>と<strong><span style="color:#FF4747;">★5鏡装・</span></strong></span><strong><span style="font-size:14px;"><span style="color:#FF4747;">魔鏡</span></span></strong><span style="font-size:14px;"><strong><span style="color:#FF4747;"></span></strong>が出現！</span>
            </p>
            <p>&nbsp;</p>
            <p>
                <span style="font-size:14px;"><span style="color:#000000;"></span><span style="color:#FF4747;"><strong>&nbsp;強力な</strong></span><strong><span style="color:#FF4747;">装備</span></strong>と<strong><span style="color:#FF4747;">魔鏡</span></strong>を手に入れて<span style="color:#FF4747;"><strong>メインシナリオ</strong></span>を進めよう!!</span>
            </p>
            <div class="frame1" style="text-align: center;">
                <strong>このガシャから装備・魔鏡が出現する対象キャラ</strong>
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/9529/content_58.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/9530/content_62.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/9531/content_106.png"
                     style="width: 100px;
                            height: 100px">
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/9532/content_24.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/9533/content_75.png"
                     style="width: 100px;
                            height: 100px">
            </div>
            <!-- 仕切り -->
            <section>
                <hr>
                <section>
                    <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                    <img src="{{ s3_url }}public/uploads/ckeditor/pictures/9535/content_1808103.png"
                         style="width: 100%">
                    <ul class="box">
                        <li>
                            <strong>魔鏡技:<font color="#FF4747">裂軌星旺斬</font></strong>　　威力:<font color="#ff4747"><b>1690</b></font>
                        </li>
                        <li style="text-align:right;float:right">
                            <strong>シング専用</strong>
                        </li>
                    </ul>
                    <div class="frame1">
                        <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                            <tbody>
                                <tr>
                                    <td>
                                        <p>
                                            <strong>効果内容</strong>
                                        </p>
                                        <p>
                                            飛ばした魔法陣を利用し敵の背後から
                                            <br>
                                            強力な蹴りを放つ魔鏡技
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: center;">
                                            <strong><a href="https://www.youtube.com/watch?v=UkZ6qlWLb_Mexternalbrowser=true">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                     style="width: 60px;
                                                            height: 60px">
                                            </a></strong>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="list">
                        <li style="width:26%;">
                            <span class="ico-swd"></span><b>555</b>
                        </li>
                        <li style="width:26%;">
                            <span class="ico-mgc"></span><b>355</b>
                        </li>
                        <li style="width:26%;">
                            <span class="ico-cc"></span><b>13</b>
                        </li>
                    </ul>
                </section>
                <hr>
                <section>
                    <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                    <img src="{{ s3_url }}public/uploads/ckeditor/pictures/9534/content_1808102.png"
                         style="width: 100%">
                    <ul class="box">
                        <li>
                            <strong>魔鏡技:<font color="#FF4747">餓狼吼衝破</font></strong>　　威力:<font color="#ff4747"><b>1320</b></font>
                        </li>
                        <li style="text-align:right;float:right">
                            <strong>カイウス専用</strong>
                        </li>
                    </ul>
                    <div class="frame1">
                        <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                            <tbody>
                                <tr>
                                    <td>
                                        <p>
                                            <strong>効果内容</strong>
                                        </p>
                                        <p>
                                            大きく跳び上がり突撃し
                                            <br>
                                            怯んだ敵に狼の闘気を放つ魔鏡技
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: center;">
                                            <strong><a href="https://www.youtube.com/watch?v=VVoEZjL5k2sexternalbrowser=true">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                     style="width: 60px;
                                                            height: 60px">
                                            </a></strong>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="list">
                        <li style="width:26%;">
                            <span class="ico-swd"></span><b>545</b>
                        </li>
                        <li style="width:26%;">
                            <span class="ico-mgc"></span><b>364</b>
                        </li>
                        <li style="width:26%;">
                            <span class="ico-cc"></span><b>13</b>
                        </li>
                    </ul>
                </section>
                <hr>
                <section>
                    <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                    <img src="{{ s3_url }}public/uploads/ckeditor/pictures/9536/content_1810082.png"
                         style="width: 100%">
                    <ul class="box">
                        <li>
                            <strong>魔鏡技:<font color="#FF4747">断雷裂閃光</font></strong>　　威力:<font color="#ff4747"><b>1300</b></font>
                        </li>
                        <li style="text-align:right;float:right">
                            <strong>スパーダ専用</strong>
                        </li>
                    </ul>
                    <div class="frame1">
                        <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                            <tbody>
                                <tr>
                                    <td>
                                        <p>
                                            <strong>効果内容</strong>
                                        </p>
                                        <p>
                                            大きく斬り上げた敵を雷と共に
                                            <br>
                                            急降下しつつ両断する魔鏡技
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: center;">
                                            <strong><a href="https://www.youtube.com/watch?v=Y8yzxIBfhOMexternalbrowser=true">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                     style="width: 60px;
                                                            height: 60px">
                                            </a></strong>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="list">
                        <li style="width:26%;">
                            <span class="ico-swd"></span><b>536</b>
                        </li>
                        <li style="width:26%;">
                            <span class="ico-mgc"></span><b>373</b>
                        </li>
                        <li style="width:26%;">
                            <span class="ico-cc"></span><b>13</b>
                        </li>
                    </ul>
                </section>
                <hr>
                <section>
                    <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                    <img src="{{ s3_url }}public/uploads/ckeditor/pictures/9537/content_1708072.png"
                         style="width: 100%">
                    <ul class="box">
                        <li>
                            <strong>魔鏡技:<font color="#FF4747">冥葬虎幻</font></strong>　　威力:<font color="#ff4747"><b>1729</b></font>
                        </li>
                        <li style="text-align:right;float:right">
                            <strong>アスベル専用</strong>
                        </li>
                    </ul>
                    <div class="frame1">
                        <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                            <tbody>
                                <tr>
                                    <td>
                                        <p>
                                            <strong>効果内容</strong>
                                        </p>
                                        <p>刹那で葬る斬撃を放つ魔鏡技</p>
                                    </td>
                                    <td>
                                        <p style="text-align: center;">
                                            <strong><a href="https://www.youtube.com/watch?v=9nAcl9gzijIexternalbrowser=true">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                     style="width: 60px;
                                                            height: 60px">
                                            </a></strong>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="list">
                        <li style="width:26%;">
                            <span class="ico-swd"></span><b>527</b>
                        </li>
                        <li style="width:26%;">
                            <span class="ico-mgc"></span><b>382</b>
                        </li>
                        <li style="width:26%;">
                            <span class="ico-cc"></span><b>13</b>
                        </li>
                    </ul>
                </section>
                <hr>
                <section>
                    <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                    <img src="{{ s3_url }}public/uploads/ckeditor/pictures/9538/content_1812202.png"
                         style="width: 100%">
                    <ul class="box">
                        <li>
                            <strong>魔鏡技:<font color="#FF4747">炎覇竜翼旋</font></strong>　　威力:<font color="#ff4747"><b>1320</b></font>
                        </li>
                        <li style="text-align:right;float:right">
                            <strong>フレン専用</strong>
                        </li>
                    </ul>
                    <div class="frame1">
                        <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                            <tbody>
                                <tr>
                                    <td>
                                        <p>
                                            <strong>効果内容</strong>
                                        </p>
                                        <p>
                                            竜の如き正義の炎で
                                            <br>
                                            敵を焼き尽くす魔鏡技
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: center;">
                                            <strong><a href="https://www.youtube.com/watch?v=vbMS6L_rA20externalbrowser=true">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                     style="width: 60px;
                                                            height: 60px">
                                            </a></strong>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="list">
                        <li style="width:26%;">
                            <span class="ico-swd"></span><b>555</b>
                        </li>
                        <li style="width:26%;">
                            <span class="ico-mgc"></span><b>355</b>
                        </li>
                        <li style="width:26%;">
                            <span class="ico-cc"></span><b>13</b>
                        </li>
                    </ul>
                </section>
                <hr>
                <section>
                    <section>
                        &nbsp;
                    </section>
                    <div class="frame2">
                        <p style="text-align:center;">《&nbsp;注意事項&nbsp;》</p>
                        <p class="indent">
                            <span style="font-size:11px;">　・鏡晶石10連ガシャの、10回の抽選のうち1回は
                                <br>
                                　「★5鏡装・魔鏡」のいずれかが確定で出現します。
                                <br>
                                　提供割合は、「鏡晶石10連ガシャ 1/10回」一覧に準じます。
                                <br>
                                ・ダイヤ10連ガシャの、10回の抽選のうち1回は
                                <br>
                                　「★4装備・★5鏡装・魔鏡」のいずれかが確定で出現します。
                                <br>
                                　提供割合は、「ダイヤ10連ガシャ 1/10回」一覧に準じます。
                                <br>
                                ・「鏡晶石10連ガシャ 1/10回」及び「ダイヤ10連ガシャ 1/10回」以外の提供割合は、
                                <br>
                                　「鏡晶石1連ガシャ、鏡晶石10連ガシャ 9/10回、
                                <br>
                                　ダイヤ1連ガシャ、ダイヤ10連ガシャ 9/10回」一覧に準じます。
                                <br>
                                ・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。
                                <br>
                                ・それぞれの提供割合は、小数第4位を四捨五入して表示しているため、
                                <br>
                                　合計値が100％にならない場合がございます。
                                <br>
                                ・鏡晶石とダイヤいずれの手段でもガシャの提供割合は変わりません。
                                <br>
                                ・鏡晶石とダイヤを組み合わせてガシャを実行することはできません。
                                <br>
                                ・鏡晶石1連ガシャは1日1回のみ鏡晶石50個でご利用できます。
                                <br>
                                　2回目以降は通常時の鏡晶石200個となります。
                                <br>
                                　0：00に再び鏡晶石50個でご利用できるようになります。
                                <br>
                                ・鏡晶石10連ガシャは初回のみ半額の鏡晶石1000個でご利用できます。
                                <br>
                                　２回目以降は通常時の鏡晶石2000個となります。
                                <br>
                                ・ダイヤ10連ガシャは初回のみ半額のダイヤ100個でご利用できます。
                                <br>
                                　２回目以降は通常時のダイヤ200個となります。
                                <br>
                                ・表示されているステータス・効果・ポイントボーナス
                                <br>
                                　攻略戦ボーナスは、最大強化後の値となります。
                                <br>
                                ・イベント限定ポイントボーナス及び攻略戦ボーナスの効果は、
                                <br>
                                　該当のイベント開催時のみ発動します。
                                <br>
                                ・イベント限定ポイントボーナス及び攻略戦ボーナスが発動する
                                <br>
                            　魔鏡・装備の一覧は、該当イベントのお知らせをご確認ください。</span><span style="font-size:11px;"></span><span style="font-size:11px;"></span><span style="font-size:11px;"></span><span style="font-size:11px;"></span>
                        </p>
                    </div>
                </section>
            </section>
        </div>

    </body>
</html>
