<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <strong>『精霊片交換所』ご利用方法</strong>
            </p>
            <hr>
            <p style="text-align: center;">&nbsp;</p>
            <p>
                <strong>■精霊片交換方法</strong>
            </p>
            <p style="text-align: left;">&nbsp;</p>
            <p style="text-align: left;">
                <span style="font-size:12px;">・精霊片交換所では、</span><span style="font-size:12px;"><strong>フラグメント</strong>を精霊片に<span style="display: inline !important;
             float: none;
             background-color: transparent;
             color: rgb(255, 255, 255);
             font-family: 游ゴシック体,&quot;
             Yu Gothic&quot;
             ,YuGothic,&quot;
             ヒラギノ角ゴシック Pro&quot;
             ,&quot;
             Hiragino Kaku Gothic Pro&quot;
             ,メイリオ,Meiryo,Osaka,&quot;
             ＭＳ Ｐゴシック&quot;
             ,&quot;
             MS PGothic&quot;
             ,sans-serif;
             font-size: 12px;
             font-style: normal;
             font-variant: normal;
             font-weight: 400;
             letter-spacing: normal;
             orphans: 2;
             text-align: left;
             text-decoration: none;
             text-indent: 0px;
             text-transform: none;
             -webkit-text-stroke-width: 0px;
             white-space: normal;
             word-spacing: 0px">交換することができます。</span></span>
            </p>
            <p style="text-align: left;">
                <span style="font-size:12px;">・フラグメントを交換したい場合は、</span>
            </p>
            <p style="text-align: left;">
                <span style="font-size:12px;">　『<b>交換・売却</b>』から『<strong>交換所・引換所</strong>』を選び『<strong>精霊片交換所</strong>』を選択します。</span>
            </p>
            <p style="text-align: left;">
            　<span style="font-size:12px;">キャラクターを選択すると、</span><span style="font-size:12px;">選択したキャラクターの精霊片リストが表示されます。</span>
        </p>
        <p style="text-align: left;">
            <span style="font-size:12px;">・交換可能数を超えて精霊片を交換することはできません。</span>
        </p>
        <p style="text-align: left;">
            <span style="font-size: 12px;">精霊片が品切れになりますと補充されますが、</span>
        </p>
        <p style="text-align: left;">
            <span style="font-size: 12px;"></span><span style="font-size: 12px;">交</span><span style="font-size: 12px;">換に必要なフラグメントの量は多くなります。</span>
        </p>
        <center>
            <table bgcolor="#204060"
                   cellpadding="0"
                   cellspacing="0"
                   style="border-collapse: collapse;
                          border: 2px solid rgb(80, 96, 112);
                          width: 80%;
                          font-size:13px;
                          table-layout: fixed">
                <thead>
                    <tr>
                        <th bgcolor="#304040"
                            scope="col"
                            style="border:1px #506070 solid;
                                   border-collapse: collapse;
                                   width: 30%">&nbsp;</th>
                        <th bgcolor="#304040"
                            scope="col"
                            style="border:1px #506070 solid;
                                   border-collapse: collapse;
                                   width: 35%">
                            <p>フラグメント</p>
                            <p>必要数</p>
                        </th>
                        <th bgcolor="#304040"
                            scope="col"
                            style="border:1px #506070 solid;
                                   border-collapse: collapse;
                                   width: 35%">
                            <p>1キャラあたり</p>
                            <p>交換可能数</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="border:1px #506070 solid;
                                   border-collapse: collapse;
                                   text-align: left;
                                   padding: 4px">1段階目</td>
                        <td style="border:1px #506070 solid;
                                   border-collapse: collapse;
                                   text-align: right;
                                   padding: 4px">10</td>
                        <td style="border:1px #506070 solid;
                                   border-collapse: collapse;
                                   text-align: right;
                                   padding: 4px">30</td>
                    </tr>
                    <tr>
                        <td style="border:1px #506070 solid;
                                   border-collapse: collapse;
                                   text-align: left;
                                   padding: 4px">2段階目</td>
                        <td style="border:1px #506070 solid;
                                   border-collapse: collapse;
                                   text-align: right;
                                   padding: 4px">20</td>
                        <td style="border:1px #506070 solid;
                                   border-collapse: collapse;
                                   text-align: right;
                                   padding: 4px">30</td>
                    </tr>
                    <tr>
                        <td style="border:1px #506070 solid;
                                   border-collapse: collapse;
                                   text-align: left;
                                   padding: 4px">3段階目</td>
                        <td style="border:1px #506070 solid;
                                   border-collapse: collapse;
                                   text-align: right;
                                   padding: 4px">30</td>
                        <td style="border:1px #506070 solid;
                                   border-collapse: collapse;
                                   text-align: right;
                                   padding: 4px">30</td>
                    </tr>
                    <tr>
                        <td style="border:1px #506070 solid;
                                   border-collapse: collapse;
                                   text-align: left;
                                   padding: 4px">4段階目</td>
                        <td style="border:1px #506070 solid;
                                   border-collapse: collapse;
                                   text-align: right;
                                   padding: 4px">40</td>
                        <td style="border:1px #506070 solid;
                                   border-collapse: collapse;
                                   text-align: right;
                                   padding: 4px">30</td>
                    </tr>
                    <tr>
                        <td style="border:1px #506070 solid;
                                   border-collapse: collapse;
                                   text-align: left;
                                   padding: 4px">5段階目</td>
                        <td style="border:1px #506070 solid;
                                   border-collapse: collapse;
                                   text-align: right;
                                   padding: 4px">50</td>
                        <td style="border:1px #506070 solid;
                                   border-collapse: collapse;
                                   text-align: right;
                                   padding: 4px">無制限</td>
                    </tr>
                </tbody>
            </table>
        </center>
        <p>&nbsp;</p>
        <p>
            <img alt=""
                 src="{{ s3_url }}public/uploads/ckeditor/pictures/428/content_19063002_01.jpg"
                 style="width: 100%">
        </p>
        <p style="text-align: center;">
            <img alt=""
                 src="{{ s3_url }}public/uploads/ckeditor/pictures/438/content_3.jpg"
                 style="width: 100%">
        </p>
        <p style="text-align: center;">
            <img alt=""
                 src="{{ s3_url }}public/uploads/ckeditor/pictures/439/content_4.jpg"
                 style="width: 100%">
        </p>
        <p style="text-align: center;">&nbsp;</p>
        <hr>
        <p style="text-align: center;">&nbsp;</p>
        <section>
            <div class="frame2">
                <p class="indent" style="text-align: center;">
                    <span style="font-size:11px;">&nbsp;</span><span style="font-size:12px;">《注意事項》</span><span style="font-size:11px;"></span>
                </p>
                <p class="indent">
                    ・<span style="font-size:11px;">精霊装は1キャラクターにつき、1つしか</span><span style="font-size:11px;">作成することができません。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・精霊装のレアリティは、強化することで</span><span style="font-size:11px;">レアリティ5まで</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">上げることができます。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・精霊装は売却することができません。</span>
                </p>
                <p class="indent">
                    <span style="font-size: 11px;
                                 margin-bottom: 0px;
                                 margin-left: 0px;
                                 margin-right: 0px;
                                 margin-top: 0px;
                                 padding-bottom: 0px;
                                 padding-left: 0px;
                                 padding-right: 0px;
                                 padding-top: 0px">・精霊片は、対応したキャラクターの精霊装のみ作成することができます。</span>
                </p>
                <p class="indent"
                   style="background-color: transparent;
                          color: rgb(255, 255, 255);
                          font-family: 游ゴシック体,&amp;
                          quot;
                          yu gothic&amp;
                          quot;
                          ,yugothic,&amp;
                          quot;
                          ヒラギノ角ゴシック pro&amp;
                          quot;
                          ,&amp;
                          quot;
                          hiragino kaku gothic pro&amp;
                          quot;
                          ,メイリオ,meiryo,osaka,&amp;
                          quot;
                          ｍｓ ｐゴシック&amp;
                          quot;
                          ,&amp;
                          quot;
                          ms pgothic&amp;
                          quot;
                          ,sans-serif;
                          font-size: 12.8px;
                          font-style: normal;
                          font-variant: normal;
                          font-weight: 400;
                          letter-spacing: normal;
                          margin-bottom: 0px;
                          margin-left: 0px;
                          margin-right: 0px;
                          margin-top: 0px;
                          orphans: 2;
                          padding-bottom: 0px;
                          padding-left: 12.8px;
                          padding-right: 0px;
                          padding-top: 0px;
                          text-align: left;
                          text-decoration: none;
                          text-indent: -12.8px;
                          text-transform: none;
                          -webkit-text-stroke-width: 0px;
                          white-space: normal;
                          word-spacing: 0px">
                    <span style="font-size: 11px;
                                 margin-bottom: 0px;
                                 margin-left: 0px;
                                 margin-right: 0px;
                                 margin-top: 0px;
                                 padding-bottom: 0px;
                                 padding-left: 0px;
                                 padding-right: 0px;
                                 padding-top: 0px">・精霊装を作成可能なキャラクターがいない場合、新たに精霊装を作成することはできません。</span>
                </p>
            </div>
        </section>

    </div>
</body>
</html>
