<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/7886/content_1812041.png"
                     style="width: 100%;
                            margin: 10px auto">
            </p>
            <hr>
            <p style="text-align: center;">
                <span style="font-size:14px;"></span>
            </p>
            <p>
                <strong><span style="color:#FF9900;">1回限定!!</span></strong>
            </p>
            <p>
                <font color="#ff4747"><b>天海 春香</b></font>の<strong><span style="color:#FF4747;">装備・魔鏡</span><span style="color:#FF4747;">のみ</span></strong>が出現する
            </p>
            <p>
                <span style="font-size:14px;"><strong style="color: rgb(255, 153, 0);">『</strong></span><span style="color:#FF9900;"><strong>1回限定 天海 春香魔鏡確定10連</strong></span><span style="font-size:14px;"></span><span style="color:#FF9900;"><strong>ガシャ</strong><span style="font-size:14px;"><strong style="color: rgb(255, 153, 0);">』</strong></span></span><span style="color:#FF9900;"></span><span style="color:#FFCC00;"></span>が開催!!
            </p>
            <p>&nbsp;</p>
            <p>
                <strong>1回だけ実行できる鏡晶石での10</strong><strong>連</strong>で
            </p>
            <p>
                <span style="font-size:20px;"><span style="color:#FF4747;"><font color="#ff4747"><b>天海 春香の魔鏡</b></font><strong>が1つ確定!!</strong></span></span><span style="font-size:14px;"><span style="color:#FF0000;"></span></span>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="font-weight: bold; text-align: center;">◆開催期間◆</p>
            <p style="text-align: center;">
                <span style="color:#FF4747;"><strong>イベントの終了と同日時</strong></span>
            </p>
            <p style="font-size: 0.8rem;
                      margin: 10px 0px;
                      padding: 10px 10px 0px;
                      text-align: center">
                <strong>『1回限定 天海
                    春香魔鏡確定10連ガシャ』</strong>では、<span style="color:#FF4747;"><span style="color:#FF4747;"><span style="color:#FF4747;"><font color="#ff4747"><b><span style="font-size:16px;"></span>
                    <br>
                    <span style="font-size:16px;"></span><span style="font-size:16px;">天海 春香</span><span style="font-size:16px;"></span><span style="font-size:16px;"></span></b></font></span></span></span>
                    <br>
                    <strong>の</strong><span style="color:#FF4747;"><span style="font-size:16px;"><strong>装備・</strong><span style="color:#FF4747;"><span style="font-size:16px;"><strong>魔鏡</strong></span></span></span></span><span style="font-size:16px;"><strong>のみが出現!!</strong></span>
                </p>
                <div class="frame1" style="text-align: center;">
                    <strong>このガシャから装備・魔鏡が出現する対象キャラ</strong>
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/2594/content_87.png"
                         style="width: 100px;
                                height: 100px">
                </div>
                <hr>
                <section>
                    <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                    <img src="{{ s3_url }}public/uploads/ckeditor/pictures/7904/content_1712042.png"
                         style="width: 100%">
                    <ul class="box">
                        <li>
                            <strong>魔鏡技:<span style="color:#FF4747;">ToP!!!!!!!!!!!!!</span></strong><span style="color:#f33;"></span><b>威力</b><strong>：<font color="#ff3333">0</font></strong>
                        </li>
                        <li style="text-align:right;float:right">
                            <b>天海 春香</b>専用
                        </li>
                    </ul>
                    <div class="frame1">
                        <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                            <tbody>
                                <tr>
                                    <td>
                                        <p>
                                            <strong>効果内容</strong>&nbsp;
                                        </p>
                                        <p>
                                            みんなが一番に輝けるテーマソングで
                                            <br>
                                            MRを大きく高め相手の物攻も下げる
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: center;">
                                            <strong><a href="https://www.youtube.com/watch?v=luDkFdP8wFgexternalbrowser=true">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                     style="width: 60px;
                                                            height: 60px">
                                            </a></strong>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="list">
                        <li style="width:26%;">
                            <span class="ico-swd"></span><b>436</b>
                        </li>
                        <li style="width:26%;">
                            <b><b><span class="ico-mgc"></span>473</b></b>
                        </li>
                        <li style="width:26%;">
                            <b><span class="ico-cc"></span><b>13</b></b>
                        </li>
                    </ul>
                </section>
                <section>
                    <b>&nbsp;</b>
                    <hr>
                </section>
                <section>
                    <div class="frame2">
                        <p style="text-align:center;">《&nbsp;注意事項&nbsp;》</p>
                        <p class="indent">
                            <span style="font-size:11px;">・本ガシャは鏡晶石のみで実行できます。</span>
                        </p>
                        <p class="indent">
                            <span style="font-size:11px;">・本ガシャはSTEP1のみのステップアップガシャとなります。</span>
                        </p>
                        <p class="indent">
                            <span style="font-size:11px;">・STEP1を実行した時点でガシャは実行不能となります。</span>
                        </p>
                        <p class="indent">
                            <span style="font-size:11px;">・ガシャの抽選は、各STEPに応じた提供割合に準じます</span>
                        </p>
                        <p class="indent">
                            <span style="font-size:11px;">・イベント限定ポイントボーナス及び攻略戦ボーナスの効果は、</span>
                        </p>
                        <p class="indent">
                            <span style="font-size:11px;">該当のイベント開催時のみ発動します。</span>
                        </p>
                        <p class="indent">
                            <span style="font-size:11px;">・イベント限定ポイントボーナス及び攻略戦ボーナスが発動する</span>
                        </p>
                        <p class="indent">
                            <span style="font-size:11px;">魔鏡・装備の一覧は、該当イベントのお知らせをご確認ください。</span>
                        </p>
                        <p class="indent">
                            <span style="font-size:11px;">・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。</span>
                            <br>
                            <span style="font-size:11px;">・それぞれの提供割合は、小数第4位を四捨五入して表示しているため、</span>
                            <br>
                            <span style="font-size:11px;">合計値が100％にならない場合がございます。</span>
                        </p>
                        <p class="indent">
                            <span style="font-size:11px;">・期間限定の魔鏡・装備は再登場する場合がございます。</span>
                        </p>
                        <p class="indent">
                            <span style="font-size:11px;">・表示されているステータス・効果・ポイントボーナス</span>
                        </p>
                        <p class="indent">
                            <span style="font-size:11px;">攻略戦ボーナスは、最大強化後の値となります。</span>
                        </p>
                        <p class="indent">
                            <span style="font-size:11px;">・本ガシャで獲得できる魔鏡・装備から</span>
                        </p>
                        <p class="indent">
                            <span style="font-size:11px;">衣装・アタッチメント・武器見た目は入手することはできません。</span><span style="font-size:11px;"></span><span style="font-size:11px;"></span>
                        </p>
                    </div>
                </section>
            </div>

        </body>
    </html>
