<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12423/content_1903041.png"
                     style="width: 100%">
            </p>
            <hr>
            <p>
                <b>ロゼ、デゼル</b>の<span style="color:#FF4747;"><strong>『魔鏡』</strong>と</span><span style="color:#FF4747;"><strong>『装備』のみ</strong></span>が出現する
            </p>
            <p>【復刻】ロゼ・デゼル確定チケットガシャが開催!!</p>
            <p>&nbsp;</p>
            <p>
                <strong>◆開催期間◆</strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;">イベントの終了+4日間</span></strong>
            </p>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                【復刻】ロゼ・デゼル確定チケットガシャでは、
                <br>
                <b>ロゼ、デゼル</b>の<span style="color:#FF4747;"><strong>『</strong><span style="color:#FF4747;"><strong>装備</strong></span><strong>』と『</strong><span style="color:#FF4747;"><strong>魔鏡</strong></span><strong>』のみ</strong></span>が出現!!
            </p>
            <div class="frame1">
                <p style="text-align: center;">
                    <strong>ロゼの装備・魔鏡</strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/9678/content_7710002.png"
                             style="width: 80px;
                                    height: 80px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/9679/content_775001.png"
                             style="width: 80px;
                                    height: 80px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/9680/content_774001.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/9681/content_774002.png"
                             style="width: 80px;
                                    height: 80px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/9682/content_773001.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/9683/content_773002.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/9684/content_773003.png"
                             style="width: 80px;
                                    height: 80px">
                    </strong>
                </p>
            </div>
            <div class="frame1">
                <p style="text-align: center;">
                    <strong>デゼルの装備・魔鏡</strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/9685/content_7810002.png"
                             style="width: 80px;
                                    height: 80px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/9686/content_785001.png"
                             style="width: 80px;
                                    height: 80px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/9687/content_784001.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/9688/content_784002.png"
                             style="width: 80px;
                                    height: 80px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/9689/content_783001.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/9690/content_783002.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/9691/content_783003.png"
                             style="width: 80px;
                                    height: 80px">
                    </strong>
                </p>
            </div>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                【復刻】ロゼ・デゼル確定ガシャチケットは
                <br>
                <strong>復刻『千客万来・商売繁盛記』ガシャ</strong>
                <br>
                のおまけで<strong>入手が可能!</strong><!-- 仕切り -->
            </p>
            <hr>
            <section>
                <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                <img src="{{ s3_url }}public/uploads/ckeditor/pictures/9675/content_1801132.png"
                     style="width: 100%">
                <ul class="box">
                    <li>
                        <strong>魔鏡技:<font color="#ff4747">絶技・三千閃界</font></strong>　　威力:<font color="#ff4747"><b>1774</b></font>
                    </li>
                    <li style="text-align:right;float:right">
                        <strong>ロゼ専用</strong>
                    </li>
                </ul>
                <div class="frame1">
                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        <strong>効果内容</strong>
                                    </p>
                                    <p>
                                        神速妙技の剣閃で
                                        <br>
                                        三千世界の悪を断つ魔鏡技
                                    </p>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong><a href="https://www.youtube.com/watch?v=2oJd5TQVEKIexternalbrowser=true">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                 style="width: 60px;
                                                        height: 60px">
                                        </a></strong>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="list">
                    <li style="width:26%;">
                        <span class="ico-swd"></span><b>527</b>
                    </li>
                    <li style="width:26%;">
                        <span class="ico-mgc"></span><b>382</b>
                    </li>
                    <li style="width:26%;">
                        <span class="ico-cc"></span><b>13</b>
                    </li>
                </ul>
            </section>
            <hr>
            <section>
                <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                <img src="{{ s3_url }}public/uploads/ckeditor/pictures/9676/content_1801133.png"
                     style="width: 100%">
                <ul class="box">
                    <li>
                        <strong>魔鏡技:<font color="#ff4747">リーサル・サウザンド</font></strong>　　威力:<font color="#ff4747"><b>1300</b></font>
                    </li>
                    <li style="text-align:right;float:right">
                        <strong>デゼル専用</strong>
                    </li>
                </ul>
                <div class="frame1">
                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        <strong>効果内容</strong>
                                    </p>
                                    <p>
                                        幾千もの死を呼ぶ風で
                                        <br>
                                        敵の命を切り刻む魔鏡技
                                    </p>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong><a href="https://www.youtube.com/watch?v=9Di0eTrGL9Yexternalbrowser=true">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                 style="width: 60px;
                                                        height: 60px">
                                        </a></strong>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="list">
                    <li style="width:26%;">
                        <span class="ico-swd"></span><b>401</b>
                    </li>
                    <li style="width:26%;">
                        <span class="ico-mgc"></span><b>509</b>
                    </li>
                    <li style="width:26%;">
                        <span class="ico-cc"></span><b>13</b>
                    </li>
                </ul>
            </section>
            <hr>
            <div class="frame2">
                <p style="text-align:center;">
                    <b>《 注意事項&nbsp;》</b>
                </p>
                <p>
                    <span style="font-size:11px;">・本ガシャは「【復刻】ロゼ・デゼル確定ガシャチケット」のみで実行できます。
                        <br>
                        ・本ガシャは【復刻】ロゼ・デゼル確定ガシャチケット1枚につき、1回実行できます。
                        <br>
                        ・本ガシャからはロゼ・デゼルの魔鏡・★5鏡装・★4装備・★3装備のいずれかが獲得できます。
                        <br>
                        ・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。
                        <br>
                        ・イベント限定ポイントボーナス及び攻略戦ボーナスの効果は、
                        <br>
                        　該当のイベント開催時のみ発動します。
                        <br>
                        ・イベント限定ポイントボーナス及び攻略戦ボーナスが発動する
                        <br>
                        　魔鏡・装備の一覧は、該当イベントのお知らせをご確認ください。
                        <br>
                        ・表示されているステータス・効果・ポイントボーナス
                        <br>
                        　攻略戦ボーナスは、最大強化後の値となります。
                        <br>
                        ・期間限定の魔鏡・装備は再登場する場合がございます。
                        <br>
                        ・本ガシャで獲得できる魔鏡・装備から
                        <br>
                        　限定衣装・限定アタッチメント・限定武器見た目は
                        <br>
                        　入手することはできません。
                        <br>
                        ・本ガシャからロゼの魔鏡「正月の過ごし方」は
                        <br>
                    　出現しませんのでご注意ください。</span><span style="font-size:11px;"></span><span style="font-size:11px;"></span><span style="font-size:11px;"></span><span style="font-size:11px;"></span>
                </p>
            </div>
        </div>

    </body>
</html>
