<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/18874/content_1908121.png"
                     style="margin: 10px auto;
                            width: 100%">
            </p>
            <hr>
            <p style="text-align: center;">
                <strong><span style="font-size:14px;">『鏡装チケットガシャVer.4</span></strong><strong>』では</strong>
            </p>
            <p style="text-align: center;">
                <strong>2019/8/12までに参戦した</strong><strong>キャラクターで</strong>
            </p>
            <p style="text-align: center;">
                <strong>最初に登場した<span style="color:#FF9900;">『鏡装』</span>が獲得可能!!</strong>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>
            <div class="frame1" style="text-align: center;">
                <strong><span style="font-size:14px;">『</span><span style="font-size:14px;">鏡装チケットガシャVer4</span>』
                    <br>
                    排出対象鏡装
                    <br>
                【テイルズ オブ ゼスティリア】</strong>
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12751/content_315001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12752/content_325001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12753/content_505001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12754/content_775001.png"
                     style="width: 100px;
                            height: 100px">
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12947/content_1075001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12755/content_365001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12756/content_785001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12763/content_615001.png"
                     style="width: 100px;
                            height: 100px">
                <br>
                <strong>【テイルズ オブ ベルセリア】</strong>
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12757/content_375001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12758/content_385001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12759/content_835001.png"
                     style="width: 100px;
                            height: 100px">
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12760/content_815001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12761/content_825001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12762/content_605001.png"
                     style="width: 100px;
                            height: 100px">
                <br>
                <strong>【</strong><b>テイルズ オブ ザ ワールド レディアント マイソロジー１</b><strong>】</strong>
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12764/content_985001.png"
                     style="width: 100px;
                            height: 100px">
                <br>
                <strong>【</strong><b>テイルズ オブ </b><span style="display: inline !important;
             float: none;
             background-color: transparent;
             color: rgb(255, 255, 255);
             font-family: 游ゴシック体,&quot;
             Yu Gothic&quot;
             ,YuGothic,&quot;
             ヒラギノ角ゴシック Pro&quot;
             ,&quot;
             Hiragino Kaku Gothic Pro&quot;
             ,メイリオ,Meiryo,Osaka,&quot;
             ＭＳ Ｐゴシック&quot;
             ,&quot;
             MS PGothic&quot;
             ,sans-serif;
             font-size: 12.8px;
             font-style: normal;
             font-variant: normal;
             font-weight: 700;
             letter-spacing: normal;
             orphans: 2;
             text-align: center;
             text-decoration: none;
             text-indent: 0px;
             text-transform: none;
             -webkit-text-stroke-width: 0px;
             white-space: normal;
             word-spacing: 0px">ザ ワールド <span style="display: inline !important;
              float: none;
              background-color: transparent;
              color: rgb(255, 255, 255);
              font-family: 游ゴシック体,&quot;
              Yu Gothic&quot;
              ,YuGothic,&quot;
              ヒラギノ角ゴシック Pro&quot;
              ,&quot;
              Hiragino Kaku Gothic Pro&quot;
              ,メイリオ,Meiryo,Osaka,&quot;
              ＭＳ Ｐゴシック&quot;
              ,&quot;
              MS PGothic&quot;
              ,sans-serif;
              font-size: 12.8px;
              font-style: normal;
              font-variant: normal;
              font-weight: 700;
              letter-spacing: normal;
              orphans: 2;
              text-align: center;
              text-decoration: none;
              text-indent: 0px;
              text-transform: none;
              -webkit-text-stroke-width: 0px;
              white-space: normal;
              word-spacing: 0px">レディアント</span>マイソロジー2</span><strong>】</strong>
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12765/content_485001.png"
                     style="width: 100px;
                            height: 100px">
                <br>
                <strong>【</strong><b>テイルズ オブ </b><span style="display: inline !important;
             float: none;
             background-color: transparent;
             color: rgb(255, 255, 255);
             font-family: 游ゴシック体,&quot;
             Yu Gothic&quot;
             ,YuGothic,&quot;
             ヒラギノ角ゴシック Pro&quot;
             ,&quot;
             Hiragino Kaku Gothic Pro&quot;
             ,メイリオ,Meiryo,Osaka,&quot;
             ＭＳ Ｐゴシック&quot;
             ,&quot;
             MS PGothic&quot;
             ,sans-serif;
             font-size: 12.8px;
             font-style: normal;
             font-variant: normal;
             font-weight: 700;
             letter-spacing: normal;
             orphans: 2;
             text-align: center;
             text-decoration: none;
             text-indent: 0px;
             text-transform: none;
             -webkit-text-stroke-width: 0px;
             white-space: normal;
             word-spacing: 0px">ザ ワールド <span style="display: inline !important;
              float: none;
              background-color: transparent;
              color: rgb(255, 255, 255);
              font-family: 游ゴシック体,&quot;
              Yu Gothic&quot;
              ,YuGothic,&quot;
              ヒラギノ角ゴシック Pro&quot;
              ,&quot;
              Hiragino Kaku Gothic Pro&quot;
              ,メイリオ,Meiryo,Osaka,&quot;
              ＭＳ Ｐゴシック&quot;
              ,&quot;
              MS PGothic&quot;
              ,sans-serif;
              font-size: 12.8px;
              font-style: normal;
              font-variant: normal;
              font-weight: 700;
              letter-spacing: normal;
              orphans: 2;
              text-align: center;
              text-decoration: none;
              text-indent: 0px;
              text-transform: none;
              -webkit-text-stroke-width: 0px;
              white-space: normal;
              word-spacing: 0px">レディアント</span>マイソロジー3</span><strong>】</strong>
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12766/content_1115001.png"
                     style="width: 100px;
                            height: 100px">
                <br style="background-color: transparent;
                           color: rgb(255, 255, 255);
                           font-family: 游ゴシック体,&amp;
                           quot;
                           yu gothic&amp;
                           quot;
                           ,yugothic,&amp;
                           quot;
                           ヒラギノ角ゴシック pro&amp;
                           quot;
                           ,&amp;
                           quot;
                           hiragino kaku gothic pro&amp;
                           quot;
                           ,メイリオ,meiryo,osaka,&amp;
                           quot;
                           ｍｓ ｐゴシック&amp;
                           quot;
                           ,&amp;
                           quot;
                           ms pgothic&amp;
                           quot;
                           ,sans-serif;
                           font-size: 12.8px;
                           font-style: normal;
                           font-variant: normal;
                           font-weight: 400;
                           letter-spacing: normal;
                           margin-bottom: 0px;
                           margin-left: 0px;
                           margin-right: 0px;
                           margin-top: 0px;
                           orphans: 2;
                           padding-bottom: 0px;
                           padding-left: 0px;
                           padding-right: 0px;
                           padding-top: 0px;
                           text-align: center;
                           text-decoration: none;
                           text-indent: 0px;
                           text-transform: none;
                           -webkit-text-stroke-width: 0px;
                           white-space: normal;
                           word-spacing: 0px">
                <strong>【テイルズ オブ リンク】</strong>
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12771/content_905001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12772/content_335001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12773/content_915001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12774/content_895001.png"
                     style="width: 100px;
                            height: 100px">
                <br>
                <strong>【テイルズ オブ ザ レイズ】</strong>
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12775/content_15001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12776/content_25001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12777/content_1565001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12778/content_345001.png"
                     style="width: 100px;
                            height: 100px">
            </div>
            <section>
                <strong>&nbsp;</strong>
            </section>
            <hr>
            <div class="frame2">
                <p style="text-align:center;">
                    <strong><b>《&nbsp;注意事項&nbsp;》</b></strong>
                </p>
                <p class="indent">
                    <strong><b><span style="font-size:11px;"></span></b></strong>
                </p>
                <p>
                    <span style="font-size:11px;"></span><span style="font-size:11px;">・本ガシャからは、2019/8/12までに参戦したキャラクターの
                        <br>
                        　最初に登場した★5鏡装のいずれかが獲得できます。
                        <br>
                        ・本ガシャは「鏡装ガシャチケットVer.4」のみで実行できます。
                        <br>
                        ・本ガシャは鏡装ガシャチケットVer.4」1枚につき、1回実行できます。
                        <br>
                        ・本ガシャからは重複する★5鏡装が出現する可能性がございます。
                        <br>
                        ・本ガシャから出現する★5鏡装は、該当ガシャのお知らせをご確認ください。
                        <br>
                        ・本ガシャからはコラボ鏡装は出現しません。
                        <br>
                        ・期間限定の鏡装は再登場する場合がございます。
                        <br>
                        ・本ガシャで獲得できる鏡装から
                        <br>
                        　限定キャラカスタムを入手することはできません。
                        <br>
                        　テイルズ オブ ゼスティリア
                        <br>
                        　テイルズ オブ ベルセリア
                        <br>
                        　テイルズ オブ ザ ワールド レディアント マイソロジー1
                        <br>
                        　テイルズ オブ ザ ワールド レディアント マイソロジー2
                        <br>
                        　テイルズ オブ ザ ワールド レディアント マイソロジー3
                        <br>
                        　テイルズ オブ リンク
                        <br>
                    　テイルズ オブ ザ レイズ</span><span style="font-size:11px;"></span><span style="font-size:11px;"></span>
                </p>
                <p class="indent">
                    <strong><b><span style="font-size:11px;"></span><span style="font-size:11px;"></span></b></strong>
                </p>
            </div>
            <p>
                <strong><b>

                </b></strong>
            </p>
        </div>
    </body>
</html>
