<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/18873/content_1908111.png"
                     style="margin: 10px auto;
                            width: 100%">
            </p>
            <hr>
            <p style="text-align: center;">
                <strong><span style="font-size:14px;">『鏡装チケットガシャVer.3</span></strong><strong>』では</strong>
            </p>
            <p style="text-align: center;">
                <strong>2019/8/12までに参戦した</strong><strong>キャラクターで</strong>
            </p>
            <p style="text-align: center;">
                <strong>最初に登場した<span style="color:#FF9900;">『鏡装』</span>が獲得可能!!</strong>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>
            <div class="frame1" style="text-align: center;">
                <strong><span style="font-size:14px;">『</span><span style="font-size:14px;">鏡装チケットガシャVer.3</span>』
                    <br>
                    排出対象鏡装
                    <br>
                【テイルズ オブ ヴェスペリア】</strong>
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12722/content_195001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12723/content_205001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12724/content_525001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12725/content_945001.png"
                     style="width: 100px;
                            height: 100px">
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12726/content_215001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12727/content_425001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12728/content_1045001.png"
                     style="width: 100px;
                            height: 100px">
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12729/content_755001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12730/content_1595001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12731/content_1375001.png"
                     style="width: 100px;
                            height: 100px">
                <br>
                <strong>【テイルズ オブ ハーツR】</strong>
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12732/content_585001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12733/content_225001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12734/content_235001.png"
                     style="width: 100px;
                            height: 100px">
                <br>
                <strong>【</strong><b>テイルズ オブ グレイセスｆ</b><strong>】</strong>
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12735/content_245001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12736/content_255001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12737/content_395001.png"
                     style="width: 100px;
                            height: 100px">
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12738/content_765001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12739/content_265001.png"
                     style="width: 100px;
                            height: 100px">
                <br>
                <strong>【</strong><b>テイルズ オブ エクシリア</b><strong>】</strong>
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12740/content_275001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12741/content_285001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12750/content_865001.png"
                     style="width: 100px;
                            height: 100px">
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12742/content_495001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12743/content_295001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12744/content_975001.png"
                     style="width: 100px;
                            height: 100px">
                <br>
                <strong>【</strong><b>テイルズ オブ エクシリア2</b><strong>】</strong>
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12745/content_305001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12749/content_595001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12746/content_1025001.png"
                     style="width: 100px;
                            height: 100px">
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12747/content_1035001.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/12748/content_1385001.png"
                     style="width: 100px;
                            height: 100px">
            </div>
            <section>
                <strong>&nbsp;</strong>
            </section>
            <hr>
            <div class="frame2">
                <p style="text-align:center;">
                    <strong><b>《&nbsp;注意事項&nbsp;》</b></strong>
                </p>
                <p class="indent">
                    <strong><b><span style="font-size:11px;"></span></b></strong>
                </p>
                <p>
                    <span style="font-size:11px;"></span><span style="font-size:11px;"></span><span style="font-size:11px;">・本ガシャからは、2019/8/12までに参戦したキャラクターの
                        <br>
                        　最初に登場した★5鏡装のいずれかが獲得できます。
                        <br>
                        ・本ガシャは「鏡装ガシャチケットVer.3」のみで実行できます。
                        <br>
                        ・本ガシャは「鏡装ガシャチケットVer.3」1枚につき、1回実行できます。
                        <br>
                        ・本ガシャからは重複する★5鏡装が出現する可能性がございます。
                        <br>
                        ・本ガシャから出現する★5鏡装は、該当ガシャのお知らせをご確認ください。
                        <br>
                        ・本ガシャからはコラボ鏡装は出現しません。
                        <br>
                        ・期間限定の鏡装は再登場する場合がございます。
                        <br>
                        ・本ガシャで獲得できる鏡装から
                        <br>
                        　限定キャラカスタムを入手することはできません。
                        <br>
                        ・本ガシャからは以下タイトルの鏡装を入手することができます。
                        <br>
                        　テイルズ オブ ヴェスペリア
                        <br>
                        　テイルズ オブ ハーツ R
                        <br>
                        　テイルズ オブ グレイセス f
                        <br>
                        　テイルズ オブ エクシリア
                        <br>
                    　テイルズ オブ エクシリア2</span><span style="font-size:11px;"></span>
                </p>
                <p class="indent">
                    <strong><b><span style="font-size:11px;"></span><span style="font-size:11px;"></span></b></strong>
                </p>
            </div>
            <p>
                <strong><b>

                </b></strong>
            </p>
        </div>
    </body>
</html>
