<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/10112/content_1904021.png"
                     style="width: 100%">
            </p>
            <hr>
            <p>
                <b>セルシウス</b>の<span style="color:#FF4747;"><strong>『魔鏡』</strong>と</span><span style="color:#FF4747;"><strong>『装備』のみ</strong></span>が出現する
            </p>
            <p>【復刻】セルシウス確定チケットガシャが開催!!</p>
            <p>&nbsp;</p>
            <p>
                <strong>◆開催期間◆</strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;">イベントの終了+4日間</span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                【復刻】セルシウス確定チケットガシャでは、
                <br>
                <b>セルシウス</b>の<span style="color:#FF4747;"><strong>『</strong><span style="color:#FF4747;"><strong>装備</strong></span><strong>』と『</strong><span style="color:#FF4747;"><strong>魔鏡</strong></span><strong>』のみ</strong></span>が出現!!
            </p>
            <div class="frame1">
                <p style="text-align: center;">
                    <strong><strong>セルシウスの魔鏡・装備</strong></strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/4479/content_9910002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/4480/content_995001.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/4481/content_994001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/4482/content_994002.png"
                         style="width: 80px;
                                height: 80px">
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/4483/content_993001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/4484/content_993002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/4485/content_993003.png"
                         style="width: 80px;
                                height: 80px">
                </p>
            </div>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                【復刻】セルシウス確定ガシャチケットは
                <br>
                <strong>復刻『FIGHTING OF THE SPIRIT～氷の章～』ガシャ</strong>
                <br>
                のおまけで<strong>入手が可能!</strong><!-- 仕切り -->
            </p>
            <hr>
            <section>
                <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                <img src="{{ s3_url }}public/uploads/ckeditor/pictures/10117/content_1804032.png"
                     style="width: 100%;
                            margin: 10px auto">
                <ul class="box">
                    <li>
                        <strong>魔鏡技:<font color="#FF4747">フリジット・ブレス</font></strong><span style="color:#f33;"></span>威力:<font color="#FF4747"><b>1430</b></font>
                    </li>
                    <li style="text-align:right;float:right">
                        <strong>セルシウス専用</strong>
                    </li>
                </ul>
                <div class="frame1">
                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        <strong>効果内容</strong>&nbsp;
                                    </p>
                                    <p>
                                        フェンリルとのコンビネーションで
                                        <br>
                                        徹底的に凍らせる魔鏡技
                                    </p>
                                </td>
                                <td>
                                    <p style="text-align: center;">&nbsp;</p>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong><a href="https://www.youtube.com/watch?v=fWhItDWw6Dwexternalbrowser=true">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                 style="width: 60px;
                                                        height: 60px">
                                        </a></strong>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="list">
                    <li style="width:26%;">
                        <span class="ico-swd"></span><b>401</b>
                    </li>
                    <li style="width:26%;">
                        <b><b><span class="ico-mgc"></span>509</b></b>
                    </li>
                    <li style="width:26%;">
                        <b><span class="ico-cc"></span><b>13</b></b>
                    </li>
                </ul>
            </section>
            <hr>
            <div class="frame2">
                <p style="text-align:center;">
                    <b>《 注意事項&nbsp;》</b>
                </p>
                <p>
                    <span style="font-size:11px;">・本ガシャは「【復刻】セルシウス確定ガシャチケット」のみで実行できます。
                        <br>
                        ・本ガシャは【復刻】セルシウス確定ガシャチケット1枚につき、1回実行できます。
                        <br>
                        ・本ガシャからはセルシウスの魔鏡・★5鏡装・★4装備・★3装備の
                        <br>
                        　いずれかが獲得できます。
                        <br>
                        ・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。
                        <br>
                        ・イベント限定ポイントボーナス及び攻略戦ボーナスの効果は、
                        <br>
                        　該当のイベント開催時のみ発動します。
                        <br>
                        ・イベント限定ポイントボーナス及び攻略戦ボーナスが発動する
                        <br>
                        　魔鏡・装備の一覧は、該当イベントのお知らせをご確認ください。
                        <br>
                        ・表示されているステータス・効果・ポイントボーナス
                        <br>
                        　攻略戦ボーナスは、最大強化後の値となります。
                        <br>
                        ・期間限定の魔鏡・装備は再登場する場合がございます。
                        <br>
                        ・本ガシャで獲得できる装備・魔鏡から
                        <br>
                        　限定衣装・限定アタッチメント・限定武器見た目は
                        <br>
                    　入手することはできません。</span><span style="font-size:11px;"></span><span style="font-size:11px;"></span><span style="font-size:11px;"></span><span style="font-size:11px;"></span>
                </p>
            </div>
        </div>

    </body>
</html>
