<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/10824/content_1905121.png"
                     style="width: 100%">
            </p>
            <hr>
            <p style="text-align: center;">
                <span style="font-size:14px;"></span>
            </p>
            <p>
                <font color="#ff4747"><b>マギルゥ、エステル、メルディ、ミント</b></font>
            </p>
            <p>
                の<strong><span style="color:#FF4747;">装備・魔鏡</span><span style="color:#FF4747;">のみ</span></strong>が出現する
            </p>
            <p>
                <span style="color:#FF9900;"><strong>復刻</strong><strong>『</strong><strong>ビエンフーのドギ★マギ ウェディングプラン</strong><strong>』</strong><strong>ガシャ</strong></span>
            </p>
            <p>
                <span style="color:#FF9900;"></span><span style="color:#FF9900;"></span><span style="color:#FFCC00;"></span>が開催!!
            </p>
            <p>&nbsp;</p>
            <p>
                <strong>鏡晶石での10</strong><strong>連</strong>は1回<span style="color:#FF4747;"><strong>★5鏡装以上が確定!!</strong></span>
            </p>
            <p>
                <b>さらにおまけで</b>
            </p>
            <p>
                <b><span style="color:#FF4747;"></span>【復刻】マギルゥ確定ガシャチケット<span style="color:#FF4747;"></span>と</b>
            </p>
            <p>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/5061/content_3842.png"
                     style="width: 16px;
                            height: 16px">
                <b>が2000個のおまけ付き！</b>
            </p>
            <p style="text-align: center;">
                <span style="font-size:14px;"><span style="color:#FF0000;"></span></span>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                <strong>鏡晶石1連では</strong>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/5061/content_3842.png"
                     style="width: 16px;
                            height: 16px">
                <strong>200個のおまけ付き！</strong>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                <span style="font-size:14px;"><span style="font-size:14px;">期間限定の<span style="color:#FF4747;"><strong>マギルゥの魔鏡、</strong></span></span></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:14px;"><span style="font-size:14px;"><span style="color:#FF4747;"><strong>エステル、メルディ、ミントの新魔鏡</strong></span></span></span><span style="font-size: 14px;"><b>には</b></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:26px;"><strong><span style="color:#FFa54e;">限定衣装</span></strong></span><span style="font-size:14px;">がセットに！</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:14px;"></span>
            </p>
            <p style="text-align: center;">
                <img src="{{ s3_url }}public/uploads/ckeditor/pictures/5116/content_1805096.png"
                     style="width: 80%">
                <span style="font-size:14px;"></span><span style="font-size:12px;"></span>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="font-weight: bold; text-align: center;">◆開催期間◆</p>
            <p style="text-align: center;">
                <span style="color:#FF4747;"><font color="#ff4747"><b>イベントの終了と同日時</b></font></span>
            </p>
            <p style="font-size: 0.8rem;
                      margin: 10px 0px;
                      padding: 10px 10px 0px;
                      text-align: center">
                <strong>復刻『ビエンフーのドギマギ
                    ウェディングプラン』ガシャ</strong>では、<span style="color:#FF4747;"><span style="color:#FF4747;"><span style="color:#FF4747;">
                    <br>
                    <font color="#ff4747"><b><span style="font-size:16px;"></span><span style="font-size:16px;">マギルゥ、エステル、メルディ、ミント</span><span style="font-size:16px;"></span><span style="font-size:16px;"></span></b></font></span></span></span>
                <br>
                <strong>の</strong><span style="color:#FF4747;"><span style="font-size:16px;"><strong>装備・</strong><span style="color:#FF4747;"><span style="font-size:16px;"><strong>魔鏡</strong></span></span></span></span><span style="font-size:16px;"><strong>のみが出現!!</strong></span>
            </p>
            <div class="frame1" style="text-align: center;">
                <strong>このガシャから装備・魔鏡が出現する対象キャラ</strong>
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/5064/content_82.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/5082/content_52.png"
                     style="width: 100px;
                            height: 100px">
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/5073/content_7.png"
                     style="width: 100px;
                            height: 100px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/5101/content_73.png"
                     style="width: 100px;
                            height: 100px">
            </div>
            <p>&nbsp;</p>
            <p>
                <span style="color:#FF4747;"><strong>鏡晶石での10連は1回★5鏡装以上が確定!!&nbsp;</strong></span>
                <br>
                <span style="font-size:14px;"><strong>さらにマギルゥの<span style="color:#FF4747;">『装備』</span>か<span style="color:#FF4747;">『</span></strong><span style="font-size:14px;"><strong><span style="color:#FF4747;">魔鏡</span></strong></span><strong><span style="color:#FF4747;">』</span>が<span style="color:#FF4747;">
                    <br>
                    必ず手に入るチケット</span></strong>が<strong><span style="color:#FF4747;">おまけ</span></strong>でついてくる!!</span>
                </p>
                <p>
                    <span style="font-size:14px;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/10825/content_190513.png">
                    </span>
                    <br>
                    <span style="color:#FF4747;"><span style="color:#FF4747;"></span></span><span style="color:#FF4747;"><span style="color:#FF4747;"></span></span>
                    <br>
                    <strong>ダイヤでの10連は★4以上1つ確定!!&nbsp;</strong>
                    <br>
                    <span style="color:#FF4747;">
                        <br>
                        <strong>鏡晶石での1連ガシャ</strong></span>は、<span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;">
                            <br>
                            <strong>初回のみ半額</strong></span>の<span style="color:#FF4747;"><strong>100個!!&nbsp;</strong></span>
                        </p>
                        <hr>
                        <section>
                            <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                            <img src="{{ s3_url }}public/uploads/ckeditor/pictures/10826/content_1805092.png"
                                 style="width: 100%;
                                        margin: 10px auto">
                            <ul class="box">
                                <li>
                                    <strong>魔鏡技:<font color="#ff4747">エクスクイジット・エア</font></strong><span style="color:#f33;"></span>威力:<font color="#ff4747"><b>1330</b></font>
                                </li>
                                <li style="text-align:right;float:right">
                                    <strong>マギルゥ専用</strong>
                                </li>
                            </ul>
                            <div class="frame1">
                                <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p>
                                                    <strong>効果内容</strong>&nbsp;
                                                </p>
                                                <p>
                                                    式神を華麗に乗りこなす妙技を
                                                    <br>
                                                    見せつける魔鏡技
                                                </p>
                                            </td>
                                            <td>
                                                <p style="text-align: center;">&nbsp;</p>
                                            </td>
                                            <td>
                                                <p style="text-align: center;">
                                                    <strong><a href="https://www.youtube.com/watch?v=CMJW8Ype02Mexternalbrowser=true">
                                                        <img alt=""
                                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                             style="width: 60px;
                                                                    height: 60px">
                                                    </a></strong>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ul class="list">
                                <li style="width:26%;">
                                    <span class="ico-swd"></span><b>401</b>
                                </li>
                                <li style="width:26%;">
                                    <b><b><span class="ico-mgc"></span>509</b></b>
                                </li>
                                <li style="width:26%;">
                                    <b><span class="ico-cc"></span><b>13</b></b>
                                </li>
                            </ul>
                        </section>
                        <hr>
                        <section>
                            <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                            <img src="{{ s3_url }}public/uploads/ckeditor/pictures/10827/content_1805093.png"
                                 style="width: 100%;
                                        margin: 10px auto">
                            <ul class="box">
                                <li>
                                    <strong>魔鏡技:<font color="#ff4747">スターサイン・グランデ</font></strong><span style="color:#f33;"></span><strong>威力:</strong><font color="#ff4747"><b>1272</b></font>
                                </li>
                                <li style="text-align:right;float:right">
                                    <strong>エステル専用</strong>
                                </li>
                            </ul>
                            <div class="frame1">
                                <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p>
                                                    <strong>効果内容</strong>&nbsp;
                                                </p>
                                                <p>
                                                    星空に祝福の鐘を描く無数の突きで
                                                    <br>
                                                    敵を翻弄する魔鏡技
                                                </p>
                                            </td>
                                            <td>
                                                <p style="text-align: center;">&nbsp;</p>
                                            </td>
                                            <td>
                                                <p style="text-align: center;">
                                                    <strong><a href="https://www.youtube.com/watch?v=k9pyH4E_qccexternalbrowser=true">
                                                        <img alt=""
                                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                             style="width: 60px;
                                                                    height: 60px">
                                                    </a></strong>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ul class="list">
                                <li style="width:26%;">
                                    <span class="ico-swd"></span><b>364</b>
                                </li>
                                <li style="width:26%;">
                                    <b><b><span class="ico-mgc"></span>545</b></b>
                                </li>
                                <li style="width:26%;">
                                    <b><span class="ico-cc"></span><b>13</b></b>
                                </li>
                            </ul>
                        </section>
                        <section>
                            <hr>
                            <p>
                                <b>
                                    <img src="{{ s3_url }}public/uploads/ckeditor/pictures/10828/content_1805094.png"
                                         style="font-size: 0.8rem;
                                                width: 100%;
                                                margin: 10px auto">
                                </b>
                            </p>
                            <ul class="box">
                                <li>
                                    <b>魔鏡技:<font color="#ff4747">ミルキー・ロード</font><span style="color:#f33;"></span> 威力:<font color="#ff4747">1290</font></b>
                                </li>
                                <li style="text-align:right;float:right">
                                    <b>メルディ専用</b>
                                </li>
                            </ul>
                            <div class="frame1">
                                <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p>
                                                    <strong>効果内容</strong>&nbsp;
                                                </p>
                                                <p>
                                                    ばばんっと扉から登場し、ブライダル
                                                    <br>
                                                    クィッキーで敵を一掃する魔鏡技
                                                </p>
                                            </td>
                                            <td>
                                                <p style="text-align: center;">&nbsp;</p>
                                            </td>
                                            <td>
                                                <p style="text-align: center;">
                                                    <strong><a href="https://www.youtube.com/watch?v=Ifeu38-D4RUexternalbrowser=true">
                                                        <img alt=""
                                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                             style="width: 60px;
                                                                    height: 60px">
                                                    </a></strong>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ul class="list">
                                <li style="width:26%;">
                                    <span class="ico-swd"></span><b>291</b>
                                </li>
                                <li style="width:26%;">
                                    <b><b><span class="ico-mgc"></span></b>618</b>
                                </li>
                                <li style="width:26%;">
                                    <b><span class="ico-cc"></span><b>13</b></b>
                                </li>
                            </ul>
                        </section>
                        <hr>
                        <section>
                            <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                            <img src="{{ s3_url }}public/uploads/ckeditor/pictures/10829/content_1805095.png"
                                 style="width: 100%;
                                        margin: 10px auto">
                            <ul class="box">
                                <li>
                                    <strong>魔鏡技:<font color="#ff4747">タイム・エタニティ</font></strong><span style="color:#f33;"></span>威力:<font color="#ff4747"><b>726</b></font>
                                </li>
                                <li style="text-align:right;float:right">
                                    <strong>ミント専用</strong>
                                </li>
                            </ul>
                            <div class="frame1">
                                <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p>
                                                    <strong>効果内容</strong>&nbsp;
                                                </p>
                                                <p>
                                                    揺蕩う時の流れに干渉し、
                                                    <br>
                                                    敵の動きを一定時間止める魔鏡技
                                                </p>
                                            </td>
                                            <td>
                                                <p style="text-align: center;">&nbsp;</p>
                                            </td>
                                            <td>
                                                <p style="text-align: center;">
                                                    <strong><a href="https://www.youtube.com/watch?v=D7QgvVhHzJ8externalbrowser=true">
                                                        <img alt=""
                                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                             style="width: 60px;
                                                                    height: 60px">
                                                    </a></strong>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ul class="list">
                                <li style="width:26%;">
                                    <span class="ico-swd"></span><b>310</b>
                                </li>
                                <li style="width:26%;">
                                    <b><b><span class="ico-mgc"></span>600</b></b>
                                </li>
                                <li style="width:26%;">
                                    <b><span class="ico-cc"></span><b>13</b></b>
                                </li>
                            </ul>
                        </section>
                        <hr>
                        <section>
                            <div class="frame2">
                                <p style="text-align:center;">
                                    <strong><span style="font-size:16px;"><span style="font-size:11px;"></span></span></strong><span style="display: inline !important;
             float: none;
             background-color: transparent;
             color: rgb(255, 255, 255);
             font-family: 游ゴシック体,&quot;
             Yu Gothic&quot;
             ,YuGothic,&quot;
             ヒラギノ角ゴシック Pro&quot;
             ,&quot;
             Hiragino Kaku Gothic Pro&quot;
             ,メイリオ,Meiryo,Osaka,&quot;
             ＭＳ Ｐゴシック&quot;
             ,&quot;
             MS PGothic&quot;
             ,sans-serif;
             font-size: 12.8px;
             font-style: normal;
             font-variant: normal;
             font-weight: 400;
             letter-spacing: normal;
             orphans: 2;
             text-align: center;
             text-decoration: none;
             text-indent: 0px;
             text-transform: none;
             -webkit-text-stroke-width: 0px;
             white-space: normal;
             word-spacing: 0px">《&nbsp;注意事項&nbsp;》</span><strong><span style="font-size:16px;"><span style="font-size:11px;"><b>&nbsp;</b></span></span></strong>
                                </p>
                                <p class="indent">
                                    <strong><span style="font-size:16px;"><span style="font-size:11px;"></span></span></strong>
                                </p>
                                <p>
                                    <span style="font-size:11px;"></span><span style="font-size:11px;">・ピックアップされている魔鏡は、
                                        <br>
                                        　同レアリティの魔鏡の中で提供割合が
                                        <br>
                                        　高く設定されております。
                                        <br>
                                        　※実際の提供割合は、ガシャ内訳の個別提供割合一覧に準じます。
                                        <br>
                                        ・鏡晶石10連ガシャの、10回の抽選のうち1回は
                                        <br>
                                        　「★5鏡装・魔鏡」のいずれかが確定で出現します。
                                        <br>
                                        　提供割合は、「鏡晶石10連ガシャ 1/10回」一覧に準じます。
                                        <br>
                                        　また、おまけで「【復刻】マギルゥ確定ガシャチケット」が1枚と
                                        <br>
                                        　イベント交換アイテムの「ベストショット」2000個が獲得できます。
                                        <br>
                                        　なお、鏡晶石1連ガシャはおまけで「ベストショット」200個が獲得できます。
                                        <br>
                                        ・ダイヤ10連ガシャの、10回の抽選のうち1回は
                                        <br>
                                        　「★4装備・★5鏡装・魔鏡」のいずれかが確定で出現します。
                                        <br>
                                        　提供割合は、「ダイヤ10連ガシャ 1/10回」一覧に準じます。
                                        <br>
                                        ・「鏡晶石10連ガシャ 1/10回」及び「ダイヤ10連ガシャ 1/10回」以外の提供割合は、
                                        <br>
                                        　「鏡晶石1連ガシャ、鏡晶石10連ガシャ 9/10回、
                                        <br>
                                        　ダイヤ1連ガシャ、ダイヤ10連ガシャ 9/10回」一覧に準じます。
                                        <br>
                                        ・「【復刻】マギルゥ確定ガシャチケット」は
                                        <br>
                                        　鏡晶石10連ガシャ1回につき1枚が獲得できるもので、
                                        <br>
                                        　鏡晶石1連ガシャを10回分実行しても獲得できません。
                                        <br>
                                        ・「【復刻】マギルゥ確定ガシャチケット」を使用できるのは
                                        <br>
                                        　「【復刻】マギルゥ確定チケットガシャ」のみとなり、
                                        <br>
                                        　「【復刻】マギルゥ確定チケットガシャ」の開催期間が終了するとお使い頂けません。
                                        <br>
                                        ・イベント限定ポイントボーナスの効果は、
                                        <br>
                                        　該当のイベント開催時のみ発動します。
                                        <br>
                                        ・イベント限定ポイントボーナスが発動する
                                        <br>
                                        　魔鏡・装備の一覧は、該当イベントのお知らせをご確認ください。
                                        <br>
                                        ・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。
                                        <br>
                                        ・それぞれの提供割合は、小数第4位を四捨五入して表示しているため、
                                        <br>
                                        　合計値が100％にならない場合がございます。
                                        <br>
                                        ・鏡晶石とダイヤいずれの手段でもガシャの提供割合は変わりません。
                                        <br>
                                        ・鏡晶石とダイヤを組み合わせてガシャを実行することはできません。
                                        <br>
                                        ・鏡晶石1連ガシャのみ、初回は半額の鏡晶石100個でご利用できます。
                                        <br>
                                        　2回目以降は通常時の鏡晶石200個となります。
                                        <br>
                                        ・限定衣装付き魔鏡で手に入る同一の限定衣装は複数入手することはできません。
                                        <br>
                                        ・限定衣装付き魔鏡で衣装を入手した場合、キャラカスタムでの交換は不要です。
                                        <br>
                                        ・限定衣装を先にキャラカスタムから入手した場合、
                                        <br>
                                        　限定衣装付き魔鏡で複数入手はできません。
                                        <br>
                                        ・本ガシャにミントの魔鏡「ユグドラシルの復活」
                                        <br>
                                        　ミントの鏡装「平和を祈る乙女 ミント」は
                                        <br>
                                        　含まれませんのでご注意ください。
                                        <br>
                                        ・期間限定の魔鏡・装備は再登場する場合がございます。
                                        <br>
                                        ・表示されているのは、
                                        <br>
                                    　最大強化後のステータス・効果・ポイントボーナス値となります。</span><span style="font-size:11px;"></span><span style="font-size:11px;"></span>
                                </p>
                            </div>
                        </section>
                    </div>

                </body>
            </html>
