<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <strong>ミッションクリア応援キャンペーン!!</strong>
            </p>
            <p>
                <strong>メインシナリオAP0＆強化クエストAP75%OFF!!</strong>
            </p>
            <hr>
            <section>
                <p style="text-align: center;">
                    <strong><span style="font-size:14px;"></span></strong><span style="font-size:18px;"><strong><span style="color:#FF4747;"></span>ミッションクリア応援キャンペーン!!</strong><span style="color:#FF4747;"></span></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>【10/29更新】</strong>
                </p>
                <p style="text-align: center;">
                    <b>ミッションクリアキャンペーンとして</b>
                </p>
                <p style="text-align: center;">
                    <b>クエスト経験値＆経験値アイテムが獲得できる</b>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><b>FULLカーニバルを11月の土・日・祝日で開催!!</b></span>
                </p>
                <center>
                    <table border="1" cellpadding="1" cellspacing="1" width="406">
                        <tbody>
                            <tr height="25">
                                <td height="25" style="text-align: center;" width="50%">
                                    <strong>2019/11/2(土)</strong>
                                </td>
                                <td width="50%">
                                    <p style="text-align: center;">
                                        <strong>11:00～13:59</strong>
                                    </p>
                                    <p style="text-align: center;">
                                        <strong>21:00～23:59</strong>
                                    </p>
                                </td>
                            </tr>
                            <tr height="25">
                                <td height="25" style="text-align: center;">
                                    <strong>2019/11/3(日)</strong>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong>11:00～13:59</strong>
                                    </p>
                                    <p style="text-align: center;">
                                        <strong>21:00～23:59</strong>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td height="25" style="text-align: center;">
                                    <strong>2019/11/4(月)祝日</strong>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong>11:00～13:59</strong>
                                    </p>
                                    <p style="text-align: center;">
                                        <strong>21:00～23:59</strong>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td height="25" style="text-align: center;">
                                    <strong>2019/11/9(土)</strong>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong>11:00～13:59</strong>
                                    </p>
                                    <p style="text-align: center;">
                                        <strong>21:00～23:59</strong>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td height="25" style="text-align: center;">
                                    <strong>2019/11/10(日)</strong>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong>11:00～13:59</strong>
                                    </p>
                                    <p style="text-align: center;">
                                        <strong>21:00～23:59</strong>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td height="25" style="text-align: center;">
                                    <strong>2019/11/16(土)</strong>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong>11:00～13:59</strong>
                                    </p>
                                    <p style="text-align: center;">
                                        <strong>21:00～23:59</strong>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td height="25" style="text-align: center;">
                                    <strong>2019/11/17(日)</strong>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong>11:00～13:59</strong>
                                    </p>
                                    <p style="text-align: center;">
                                        <strong>21:00～23:59</strong>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td height="25" style="text-align: center;">
                                    <strong>2019/11/23(土)祝日</strong>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong>11:00～13:59</strong>
                                    </p>
                                    <p style="text-align: center;">
                                        <strong>21:00～23:59</strong>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td height="25" style="text-align: center;">
                                    <strong>2019/11/24(日)</strong>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong>11:00～13:59</strong>
                                    </p>
                                    <p style="text-align: center;">
                                        <strong>21:00～23:59</strong>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td height="25" style="text-align: center;">
                                    <strong>2019/11/30(土)</strong>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong>11:00～13:59</strong>
                                    </p>
                                    <p style="text-align: center;">
                                        <strong>21:00～23:59</strong>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </center>
                <center>&nbsp;</center>
                <center>
                    <p>FULLカーニバルでは</p>
                    <p>
                        イベントミッションを達成で、<span style="color:#FF9900;"><strong>精鏡晶</strong></span>や<span style="color:#FF9900;"><strong>精鏡珠</strong></span>を獲得可能!!
                    </p>
                    <p>&nbsp;</p>
                    <p>経験値アイテムを獲得して各キャラクターのレベルを上げることで</p>
                    <p>
                        <strong>ダイヤが獲得できるミッション</strong>が達成可能!!
                    </p>
                    <p>&nbsp;</p>
                    <p>クエスト初回クリア達成で</p>
                    <p>開催中イベントの交換アイテムが獲得可能!!</p>
                </center>
            <center><span style="font-size:11px;">※入手できる交換アイテムやミッション</span><span style="font-size:11px;">は開催回ごとで異なります。</span>
        </center>
        <hr>
        <p style="text-align: center;">
            <strong>ミッションリニューアル前にミッションをクリアしよう!!</strong>
        </p>
        <p style="text-align: center;">
            <span style="color:#FF4747;"><strong>対象のメインシナリオの消費APが『0』</strong></span>
        </p>
        <p style="text-align: center;">
            <span style="color:#FF4747;"><strong>＆</strong></span>
        </p>
        <p style="text-align: center;">
            <span style="color:#FF4747;"><strong>強化クエストの消費APが『75％OFF』</strong></span>
        </p>
        <p style="text-align: center;">
            <strong>となるキャンペーンを開催!!</strong>
        </p>
        <p style="text-align: center;">&nbsp;</p>
        <p style="text-align: center;">
            <span style="font-size:14px;"><strong>&diams;メインシナリオ消費AP0キャンペーン&diams;</strong></span>
        </p>
        <p style="text-align: center;">
            <span style="font-size:16px;"><strong><span style="color:#FF4747;"></span><span style="color:#FF4747;">2019/10/25(金) 14:00～2019/11/25(月) 11:59</span></strong></span>
        </p>
        <p style="text-align: center;">
            <span style="font-size:11px;"><b>※11/25(月)12:00予定のデータ配信により終了予定となります。</b></span>
        </p>
        <p style="text-align: center;">&nbsp;</p>
        <p style="text-align: center;">
            <span style="font-size:14px;"><strong>&diams;強化クエストAP75％OFFキャンペーン&diams;</strong></span>
        </p>
        <p style="text-align: center;">
            <span style="font-size:16px;"><strong><span style="color:#FF4747;">2019/10/25(金) 14:00～2019/11/24(日) 23:59</span></strong></span>
        </p>
        <p style="text-align: center;">&nbsp;</p>
        <p style="text-align: center;">
            <span style="font-size:18px;"><strong>■</strong><span style="font-size:18px;"><strong>ミッションクリア応援キャンペーン</strong></span><strong>■</strong></span>
        </p>
        <p style="text-align: center;">
            <img alt=""
                 src="{{ s3_url }}public/uploads/ckeditor/pictures/15111/content_20191024_213333.png"
                 style="width: 80%">
            <br>
            <span style="font-size:14px;">ミッションクリア応援キャンペーンの期間中、</span>
        </p>
        <p style="text-align: center;">
            <span style="font-size:14px;"><span style="color:#FF9900;"><strong>メインクエスト</strong></span></span>
        </p>
        <p style="text-align: center;">
            <span style="font-size:14px;"><span style="color:#FF9900;"><strong>1部、</strong></span></span><span style="font-size:14px;"><span style="color:#FF9900;"><strong>2部、3部第1章~3部第6章</strong></span></span>
        </p>
        <p style="text-align: center;">
            <span style="font-size:14px;"><span style="color:#FF9900;"></span></span><span style="font-size:14px;"><span style="color:#FF9900;"></span></span><span style="font-size:14px;">の</span><span style="font-size:14px;"></span><span style="font-size:14px;"><span style="color:#FF4747;"><strong>消費APが『0』!!</strong></span></span>
        </p>
        <p style="text-align: center;">&nbsp;</p>
        <p style="text-align: center;">
            <span style="font-size:14px;">さらに<span style="color:#FF9900;"><b>強化クエスト</b></span>の<span style="color:#FF4747;"><strong>消費APが『75％OFF』!!</strong></span></span>
        </p>
        <p style="text-align: center;">
            <span style="font-size:14px;">この機会にどんどんクエスト＆ミッションを進めよう！</span><span style="color:#993300;"></span>
        </p>
    </section>
    <div class="frame2">
        <p style="text-align: center;">
            <span style="font-size:11px;">《 注意事項&nbsp;》</span>
        </p>
        <p>
            <span style="font-size:11px;">・ミッションクリア応援キャンペーンの対象は</span>
        </p>
        <p>
            <span style="font-size:11px;">1部第1章から1部終章の</span><span style="font-size:11px;">メインクエスト（Normal及びHard)、</span>
        </p>
        <p>
            <span style="font-size:11px;">　2部第1章から2部終章のメインクエスト<span style="font-size:11px;">（Normal及びHard)、</span></span>
        </p>
        <p>
            <span style="font-size:11px;">　3部第1章から3部第6章のメインクエスト<span style="font-size:11px;">（Normal及びHard)、</span></span>　
        </p>
        <p>
            <span style="font-size:11px;">強化クエストのみとなります。</span>
        </p>
        <p class="indent">
            <span style="font-size:11px;">・イベントクエスト、精霊装クエスト、</span>
        </p>
        <p class="indent">
            <span style="font-size:11px;">FULLカーニバルは対象外となります。</span>
        </p>
        <p>
            <span style="font-size:11px;">・消費APが減少した結果、端数が出る場合は小数点以下の切り上げとなります。</span>
        </p>
        <p>
            <span style="font-size:11px;">・期間中にクエストに表示されるAPは、減少した後の値となります。</span>
        </p>
        <p>
            <span style="font-size:11px;">・クエスト終了後に獲得する信頼度は減少する前の数値となります。</span>
        </p>
        <p>
            <span style="font-size:11px;">・ミッションクリア応援キャンペーンの期間を過ぎてからクエストに遷移した場合</span>
        </p>
        <p>
            <span style="font-size:11px;">消費するAPは減少前の数値となりますのでご注意ください。</span>
        </p>
    </div>

</div>
</body>
</html>
