<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <span style="font-size:18px;"><span style="color:#FF4747;"><strong>【重要】TALES OF VS2の続報について</strong></span></span>
            </p>
            <!-- 仕切り -->
            <hr>
            <section>
                <p style="text-align: center;">2020年4月1日に発表いたしました</p>
                <p style="text-align: center;">｢TALES OF VS2｣の情報にウソが含まれておりました。</p>
                <p style="text-align: center;">申し訳ありませんでした。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">正しい情報をお送りするため、</p>
                <p style="text-align: center;">続報を用意いたしました。</p>
                <p style="text-align: center;">最後まで動画をご覧頂きますよう</p>
                <p style="text-align: center;">よろしくお願いいたします。</p>
                <p style="text-align: center;">
                    <strong><a href="https://www.youtube.com/watch?v=y9WdOAjMBrQexternalbrowser=true">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                             style="width: 100px;
                                    height: 100px">
                    </a></strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:9px;">※動画再生アプリやブラウザが開きます。</span>​
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">※音声が流れますのでご注意ください。</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">また、</p>
                <p style="text-align: center;">プレイヤーの皆様に誤解を与えたお詫びといたしまして、</p>
                <p style="text-align: center;">
                    <strong>『ダイヤ&times;20個』</strong>
                </p>
                <p style="text-align: center;">を全てのお客様にお送りいたします。</p>
                <p style="text-align: center;">
                    『<strong>プレゼントボックス</strong>』からお受け取り下さい。
                </p>
                <p style="text-align: center;">なお、こちらの受取期限は</p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>2020/4/9(木) 23:59</strong></span>
                </p>
                <p style="text-align: center;">までとなっておりますのでご注意ください。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">引き続き『TALES OF THE RAYS』をよろしくお願い申し上げます。</p>
            </section>
        </div>

    </body>
</html>
