<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/23787/content__________________vol39.jpg"
                     style="width: 100%">
            </p>
            <p>
                <!-- 仕切り -->
            </p>
            <hr>
            <section>
                <p style="text-align: center;">
                    <span style="font-size: 14px;"></span>『TALES OF THE RAYS』を遊んでくださっているみなさま。
                </p>
                <div style="text-align: center;">
                    <div>こんにちは。制作プロデューサーの栁澤です。</div>
                    <div>&nbsp;</div>
                    <div>
                        <p>
                            ザレイズのゴールデンウィークは楽しんで頂けましたでしょうか。
                            <br>
                            パネルミッションだったり毎日カーニバルだったりで、
                        </p>
                        <p>ゴールデン振る舞いさせて頂きました！</p>
                        <p>
                            <br>
                            みなさまのお家時間が少しでも充実して頂けたなら幸いです。
                        </p>
                        <p>まず最初に、今日は周年中にご協力して頂いた</p>
                        <p>アンケートの集計結果が出ましたので、</p>
                        <p>その結果の一部をご紹介させて頂こうと思います。</p>
                        <p>
                            <br>
                            ご回答頂いた方は3万人を超えていました。
                        </p>
                        <p>ご協力本当にありがとうございました！</p>
                        <p>&nbsp;</p>
                        <p>まず、項目別の満足度です。</p>
                        <p>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/23788/content_P___0507-1.jpg"
                                 style="width: 80%">
                        </p>
                        <p>去年と比較すると分かりやすいのですが、</p>
                        <p>参戦キャラクターがさらに増えた事で</p>
                        <p>
                            キャラクター関連の項目はみなさまの満足度が上がっている反面、
                            <br>
                            キャラクターやシステムが増えた事で、
                        </p>
                        <p>インフォーメーションやUIといった&quot;分かりやすさ&quot;</p>
                        <p>に関する項目が減少しているのが分かります。</p>
                        <p>
                            <br>
                            この&quot;分かりやすさ&quot;や&quot;遊びやすさ&quot;の向上が
                        </p>
                        <p>ザ レイズの課題だと再認識させて頂きました。</p>
                        <p>&nbsp;</p>
                        <p>次に3周年までに改修された機能を見てみましょう。</p>
                        <hr>
                        <p>まずは精霊装。</p>
                        <p>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/23789/content_P___0507-2.jpg"
                                 style="width: 80%">
                        </p>
                        <p>まだまだ改善の余地はあるものの、去年の実装直後に比べると</p>
                        <p>
                            かなり受け入れて頂ける内容に調整出来たと思っています。
                            <br>
                            精霊装はやはり遷移が複雑なので
                        </p>
                        <p>&quot;分かりやすさ&quot;&quot;遊びやすさ&quot;に繋がるUIが課題です。</p>
                        <hr>
                        <p>
                            次にルームをみてみましょう。
                            <br>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/23790/content_P___0507-3.jpg"
                                 style="width: 80%">
                        </p>
                        <p>こちらも去年に比べると満足度は上がっていますが、</p>
                        <p>精霊装に比べるとまだまだ&hellip;といった感じです。</p>
                        <p>
                            <br>
                            実装時から伸びしろしか無いコンテンツですし、
                        </p>
                        <p>まだまだキャラクターと触れ合える要素が増やせると思うので</p>
                        <p>今後も可能性を拡張していきたいと思います！</p>
                        <hr>
                        <p>最後にこんな機能あったら嬉しいですか？アンケートの結果です。</p>
                        <p>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/23791/content_P___0507-4-.jpg"
                                 style="width: 80%">
                        </p>
                        <p>急に聞かれて何だ？と思った方も居るかもしれませんが、</p>
                        <p>この質問の内容は本当に思い付きの段階で、</p>
                        <p>まだ何も着手していません！</p>
                        <p>
                            <br>
                            なので、このまま言葉通りの形になるかは分かりませんが、
                        </p>
                        <p>今回のアンケート内容を参考に</p>
                        <p>今後実装していく機能の参考にさせて頂こうと思います。</p>
                        <p>&nbsp;</p>
                        <p>今回のアンケート、回答数は3万件以上、</p>
                        <p>フリーテキストで頂いたご意見、ご要望は</p>
                        <p>200万文字を超える熱い想いを頂きました！</p>
                        <p>
                            <br>
                            一つ一つみなさんが時間を使ってご回答して頂いたものなので無駄にせず、
                        </p>
                        <p>
                            参考にさせて頂き、今後の開発に反映させて頂きます。
                            <br>
                            ご協力本当にありがとうございました！
                        </p>
                        <p>&nbsp;</p>
                        <p>と、前置きが長くなってしまったのですが、ここからいつも通り、</p>
                        <p>次回アップデートver3.9.0のご紹介をさせて頂こうと思います。</p>
                        <p>&nbsp;</p>
                        <p style="text-align: left;">
                            ■ver3.9.0のアップデート内容ご紹介（5月下旬頃配信予定）
                            <br>
                            大変お待たせしました。
                        </p>
                        <p style="text-align: left;">第1回のプレオープンテストで出たバグや改善の調整の目途が付きましたので</p>
                        <p style="text-align: left;">ver3.9.0で『ユニゾン・アタック』の第2回プレオープンテストを</p>
                        <p style="text-align: left;">実施させて頂こうと思います！</p>
                        <p style="text-align: left;">&nbsp;</p>
                        <p style="text-align: left;">今回のプレオープンで大きな問題が発生しなければ、</p>
                        <p style="text-align: left;">
                            このまま正式実装し、定期的に『ユニゾン・アタック』を開催させて頂く予定です。
                            <br>
                            それでは他にも幾つか追加される機能がありますのでご紹介させて頂きます。
                        </p>
                        <p style="text-align: left;">&nbsp;</p>
                        <p style="text-align: left;">
                            ○ユニゾン・アタック第2回プレオープン　
                            <br>
                            &rarr;前回verは大変ご迷惑をお掛けしました。
                        </p>
                        <p style="text-align: left;">マッチング等改修しました！さらに今回のverから</p>
                        <p style="text-align: left;">
                            　フレンド間で指定したバッジの交換が出来るようになります。
                            <br>
                            　そして、参戦PVを見た方はご存じかと思いますが、
                        </p>
                        <p style="text-align: left;">今月はジョニーが参戦！</p>
                        <p style="text-align: left;">オールスタータイトル初プレイアブルです！</p>
                        <p style="text-align: left;">そんなジョニーの初プレイアブルを記念して、</p>
                        <p style="text-align: left;">今回の『ユニゾン・アタック』は</p>
                        <p style="text-align: left;">&quot;テイルズ オブ デスティニー&quot;で開催となります。</p>
                        <p style="text-align: left;">もちろんデスティニーキャラのバッジも登場するので</p>
                        <p style="text-align: left;">楽しみにしていてください！</p>
                        <p>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/177/content_P___0507-5.jpg"
                                 style="width: 80%">
                        </p>
                        <p style="text-align: left;">&nbsp;</p>
                        <p style="text-align: left;">
                            ○ルームに非戦闘キャラ参加
                            <br>
                            &rarr;こちらもお待たせしました！そして、3月中に実装と言っていたのに、
                        </p>
                        <p style="text-align: left;">
                            　遅れる事を告知出来ていなくて大変申し訳ございません！
                            <br>
                            　キャラクターは少しずつ増やしていきたいと思いますが、
                        </p>
                        <p style="text-align: left;">
                            　今回はまず、「テイルズ オブ リバース」からクレアが登場します！
                            <br>
                            　ただ、ルームに設定できるだけじゃないんです。
                        </p>
                        <p style="text-align: left;">ルーム専用キャクターは戦闘こそ参加しませんが、</p>
                        <p style="text-align: left;">ウィスに参加出来たりしますので</p>
                        <p style="text-align: left;">楽しみにしていてください。</p>
                        <p style="text-align: left;">【5/8 19:55更新】</p>
                        <p style="text-align: left;">本項目内の誤字を修正いたしました。</p>
                        <p>　
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/23795/content_20200508_152610.png"
                                 style="width: 80%">
                        </p>
                        <p style="text-align: left;">&nbsp;</p>
                        <p style="text-align: left;">プレオープンで不具合も多いながらもご好評頂いたみなさんのためにも</p>
                        <p style="text-align: left;">
                            まずは『ユニゾン・アタック』の正式実装を目指していきたいと思います。
                            <br>
                            この後のver3.10.0にもテンション上がる機能の実装が
                        </p>
                        <p style="text-align: left;">待っていたりもするのですが&hellip;それは次回の紹介に回させて下さい！</p>
                        <p style="text-align: left;">&nbsp;</p>
                        <p style="text-align: left;">それでは、5月スケジュールのご紹介です。</p>
                        <p style="text-align: left;">&nbsp;</p>
                        <p>○5月の配信スケジュール（予定）</p>
                        <p>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/23796/content_20050801__1_.jpg"
                                 style="width: 80%">
                        </p>
                        <p style="text-align: left;">&nbsp;</p>
                        <p style="text-align: left;">
                            ■イノセンスR　単独季節イベント リカルド＆キュキュ参戦（5月中旬配信予定）
                            <br>
                            イノセンスファンのみなさん。大変お待たせしました！
                            <br>
                            リカルドとキュキュが新たなに参戦！
                        </p>
                        <p style="text-align: left;">そして、今回はイノセンス単独イベントで</p>
                        <p style="text-align: left;">
                            ちょっと変わった世界観の季節イベントです。
                            <br>
                            モダンビフレスト&hellip;と呼ばれる文化を持つ街で再会する仲間達。
                        </p>
                        <p style="text-align: left;">
                            もちろんあの異世界出身者のコンウェイとキュキュも再会しちゃいます！
                            <br>
                            あの口調が印象的なあのキャラクターも登場するんだな。しかし。
                            <br>
                            お待たせした分、イノセンス三昧のお話になっていますので
                        </p>
                        <p style="text-align: left;">どんな衣装が登場するのかも含めて楽しみにしていてください。</p>
                        <p style="text-align: left;">&nbsp;</p>
                        <p style="text-align: left;">
                            ■メインシナリオ　3部第15章　ジョニー参戦（5月下旬配信予定）
                            <br>
                            合流後、戦線を離脱していたジョニーが満を持しての参戦です。
                        </p>
                        <p style="text-align: left;">
                            そして、第3部のお話もいよいよ佳境に&hellip;！
                            <br>
                            そして、最初にお伝えしておきます。
                        </p>
                        <p style="text-align: left;">
                            ワーオ！ことミラクルボイスは今回魔鏡技として登場します。
                            <br>
                            理由は単純で&hellip;術技にしてみたところワーオ！を3D空間で再現すると、
                        </p>
                        <p style="text-align: left;">カメラの関係でワーオ！が縦やら斜め&hellip;あらゆる角度から映ると</p>
                        <p style="text-align: left;">
                            文字が分からなくなると言う&hellip;。
                            <br>
                            と、言うことでカメラアングルが固定できる魔鏡技での登場となりました。
                            <br>
                            もちろん、音楽と攻撃が一体化した他の術技も健在です。
                        </p>
                        <p style="text-align: left;">シリーズ通しても弦楽器で戦うのはジョニーだけで、</p>
                        <p style="text-align: left;">
                            そのプレイスタイルは独特で楽しい感じに仕上がってます。
                            <br>
                            動画映えもするかもしれません！ぜひお試しください！
                        </p>
                        <p style="text-align: left;">&nbsp;</p>
                        <p style="text-align: left;">
                            ■精霊装第7弾　ロイド＆コレット＆コハク（5月下旬配信予定）
                            <br>
                            今回の精霊装はロイド、コレット、コハクの3人です！
                        </p>
                        <p style="text-align: left;">&nbsp;</p>
                        <p style="text-align: left;">ロイドの纏う精霊はノーム。</p>
                        <p style="text-align: left;">義父のダイクさん（ドワーフ）から受け継がれた信条が</p>
                        <p style="text-align: left;">ノームを引き寄せたのかもしれませんね！</p>
                        <p style="text-align: left;">&nbsp;</p>
                        <p style="text-align: left;">コレット&times;アスカ（光）は原作で光属性の術技を多く使う</p>
                        <p style="text-align: left;">コレットのイメージの通りです。そして衣装のマフラーは&hellip;！</p>
                        <p style="text-align: left;">&nbsp;</p>
                        <p style="text-align: left;">コハクの精霊はイフリート。</p>
                        <p style="text-align: left;">原作の主な思念属性が炎というところからきています。</p>
                        <p style="text-align: left;">
                            コハクの精霊装衣装は、ライダースーツのような形状をしています。
                            <br>
                            何が基になっているのは察しの良い方ならお気づきかと思います！
                        </p>
                        <p style="text-align: left;">&nbsp;</p>
                        <p style="text-align: left;">5月のラインナップは今回のPVで告知した通り、</p>
                        <p style="text-align: left;">本編シナリオが1本、</p>
                        <p style="text-align: left;">季節イベントが1本、</p>
                        <p style="text-align: left;">精霊装イベントが1本の計3本と、</p>
                        <p style="text-align: left;">未告知のいつもの復刻イベントが1本、</p>
                        <p style="text-align: left;">ちょっといつものと違う復刻イベント1本です！</p>
                        <p style="text-align: left;">この並びで何となく、&quot;続報&quot;の中身も想像して頂けると思います。</p>
                        <p style="text-align: left;">月末には1コマ劇場の追加なんかも予定していますので</p>
                        <p style="text-align: left;">楽しみにしていてください！</p>
                        <p style="text-align: left;">&nbsp;</p>
                        <p style="text-align: left;">また、最後になりますが、</p>
                        <p style="text-align: left;">ザ レイズの運営開発も新型コロナウィルスの影響を受けつつあります。</p>
                        <p style="text-align: left;">こんなご時世だからこそ、なるべくみなさんに楽しんで頂くため、</p>
                        <p style="text-align: left;">開発はオンスケジュールで進めていますが、</p>
                        <p style="text-align: left;">収録は演者さんの健康あってこそです。</p>
                        <p style="text-align: left;">そのため、4月の中旬以降、新規の収録が出来ておらず、</p>
                        <p style="text-align: left;">今月以降のキャラクター</p>
                        <p style="text-align: left;">（5月のキャラクターはコンウェイ・ロイドが該当しています。）</p>
                        <p style="text-align: left;">に関しては、原作の二次利用、またはザレイズ収録ボイスの転用</p>
                        <p style="text-align: left;">というセリフが増えてしまいますが</p>
                        <p style="text-align: left;">そういったキャラクターやセリフは収録が出来る状況になり次第、</p>
                        <p style="text-align: left;">
                            新録ボイスと差し替えを適時行っていく予定です。
                            <br>
                            詳細はゲーム内で告知させて頂きますが、
                        </p>
                        <p style="text-align: left;">新録ボイスを楽しみにしていたみなさんには</p>
                        <p style="text-align: left;">ご不便をおかけしてしまい申し訳ございませんが、</p>
                        <p style="text-align: left;">みなさまのご協力とご理解を頂けますと幸いです。</p>
                        <p>
                            <br>
                            引き続き、『TALES OF THE RAYS』をよろしくお願い致します。
                        </p>
                        <p>制作プロデューサー　栁澤</p>
                    </div>
                </div>
                <section>

                </section>
            </section>
        </div>
    </body>
</html>
