<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <span style="font-size:18px;"><strong>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/10239/content____________.png"
                         style="width: 294px;
                                height: 94px">
                </strong></span>
            </p>
            <hr>
            <section>
                <p style="text-align: center;">
                    <span style="font-size:14px;"></span>『TALES OF THE RAYS』をご利用いただき誠にありがとうございます。
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">参戦済みキャラクターのボイスアップデート情報をお知らせいたします。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">【2020年の更新履歴】</p>
                <p>&nbsp;</p>
                <p>■12月31日</p>
                <p>・シェリア</p>
                <p>・リチャード</p>
                <p>
                    <span style="background-color: rgb(27, 44, 66);
                                 color: rgb(255, 255, 255);
                                 display: inline;
                                 float: none;
                                 font-family: 游ゴシック体,&amp;
                                 quot;
                                 yu gothic&amp;
                                 quot;
                                 ,yugothic,&amp;
                                 quot;
                                 ヒラギノ角ゴシック pro&amp;
                                 quot;
                                 ,&amp;
                                 quot;
                                 hiragino kaku gothic pro&amp;
                                 quot;
                                 ,メイリオ,meiryo,osaka,&amp;
                                 quot;
                                 ｍｓ ｐゴシック&amp;
                                 quot;
                                 ,&amp;
                                 quot;
                                 ms pgothic&amp;
                                 quot;
                                 ,sans-serif;
                                 font-size: 12.8px;
                                 font-style: normal;
                                 font-variant: normal;
                                 font-weight: 400;
                                 letter-spacing: normal;
                                 margin-bottom: 0px;
                                 margin-left: 0px;
                                 margin-right: 0px;
                                 margin-top: 0px;
                                 orphans: 2;
                                 padding-bottom: 0px;
                                 padding-left: 0px;
                                 padding-right: 0px;
                                 padding-top: 0px;
                                 text-align: left;
                                 text-decoration: none;
                                 text-indent: 0px;
                                 text-transform: none;
                                 -webkit-text-stroke-width: 0px;
                                 white-space: normal;
                                 word-spacing: 0px">└</span><span style="background-color: rgb(27, 44, 66);
             color: rgb(255, 255, 255);
             display: inline;
             float: none;
             font-family: 游ゴシック体,&amp;
             quot;
             yu gothic&amp;
             quot;
             ,yugothic,&amp;
             quot;
             ヒラギノ角ゴシック pro&amp;
             quot;
             ,&amp;
             quot;
             hiragino kaku gothic pro&amp;
             quot;
             ,メイリオ,meiryo,osaka,&amp;
             quot;
             ｍｓ ｐゴシック&amp;
             quot;
             ,&amp;
             quot;
             ms pgothic&amp;
             quot;
             ,sans-serif;
             font-size: 12.8px;
             font-style: normal;
             font-variant: normal;
             font-weight: 400;
             letter-spacing: normal;
             margin-bottom: 0px;
             margin-left: 0px;
             margin-right: 0px;
             margin-top: 0px;
             orphans: 2;
             padding-bottom: 0px;
             padding-left: 0px;
             padding-right: 0px;
             padding-top: 0px;
             text-align: left;
             text-decoration: none;
             text-indent: 0px;
             text-transform: none;
             -webkit-text-stroke-width: 0px;
             white-space: normal;
             word-spacing: 0px">術技ごとの専用詠唱ボイスを追加</span>
                </p>
                <p>&nbsp;</p>
                <p>■11月30日</p>
                <p>・リッド</p>
                <p>└魔鏡獲得時ボイスを追加</p>
                <p>&nbsp;</p>
                <p>■11月20日</p>
                <p>・リオン</p>
                <p>└一部バトルボイスを新規収録ボイスに差し替えを行いました。</p>
                <p>ウィスボイスを新規収録ボイスに差し替えを行いました。</p>
                <p>&nbsp;</p>
                <p>■7月22日更新</p>
                <p>・アイゼン</p>
                <p>
                    <span style="background-color: rgb(27, 44, 66);
                                 color: rgb(255, 255, 255);
                                 display: inline;
                                 float: none;
                                 font-family: 游ゴシック体,&amp;
                                 quot;
                                 yu gothic&amp;
                                 quot;
                                 ,yugothic,&amp;
                                 quot;
                                 ヒラギノ角ゴシック pro&amp;
                                 quot;
                                 ,&amp;
                                 quot;
                                 hiragino kaku gothic pro&amp;
                                 quot;
                                 ,メイリオ,meiryo,osaka,&amp;
                                 quot;
                                 ｍｓ ｐゴシック&amp;
                                 quot;
                                 ,&amp;
                                 quot;
                                 ms pgothic&amp;
                                 quot;
                                 ,sans-serif;
                                 font-size: 12.8px;
                                 font-style: normal;
                                 font-variant: normal;
                                 font-weight: 400;
                                 letter-spacing: normal;
                                 margin-bottom: 0px;
                                 margin-left: 0px;
                                 margin-right: 0px;
                                 margin-top: 0px;
                                 orphans: 2;
                                 padding-bottom: 0px;
                                 padding-left: 0px;
                                 padding-right: 0px;
                                 padding-top: 0px;
                                 text-align: left;
                                 text-decoration: none;
                                 text-indent: 0px;
                                 text-transform: none;
                                 -webkit-text-stroke-width: 0px;
                                 white-space: normal;
                                 word-spacing: 0px">└</span><span style="background-color: rgb(27, 44, 66);
             color: rgb(255, 255, 255);
             display: inline;
             float: none;
             font-family: 游ゴシック体,&amp;
             quot;
             yu gothic&amp;
             quot;
             ,yugothic,&amp;
             quot;
             ヒラギノ角ゴシック pro&amp;
             quot;
             ,&amp;
             quot;
             hiragino kaku gothic pro&amp;
             quot;
             ,メイリオ,meiryo,osaka,&amp;
             quot;
             ｍｓ ｐゴシック&amp;
             quot;
             ,&amp;
             quot;
             ms pgothic&amp;
             quot;
             ,sans-serif;
             font-size: 12.8px;
             font-style: normal;
             font-variant: normal;
             font-weight: 400;
             letter-spacing: normal;
             margin-bottom: 0px;
             margin-left: 0px;
             margin-right: 0px;
             margin-top: 0px;
             orphans: 2;
             padding-bottom: 0px;
             padding-left: 0px;
             padding-right: 0px;
             padding-top: 0px;
             text-align: left;
             text-decoration: none;
             text-indent: 0px;
             text-transform: none;
             -webkit-text-stroke-width: 0px;
             white-space: normal;
             word-spacing: 0px">術技ごとの専用詠唱ボイスを追加</span>
                </p>
                <p>&nbsp;</p>
                <p>■6月30日更新</p>
                <p>・アニス</p>
                <p>
                    <span style="display: inline !important;
                                 float: none;
                                 background-color: rgb(27, 44, 66);
                                 color: rgb(255, 255, 255);
                                 font-family: 游ゴシック体,&quot;
                                 Yu Gothic&quot;
                                 ,YuGothic,&quot;
                                 ヒラギノ角ゴシック Pro&quot;
                                 ,&quot;
                                 Hiragino Kaku Gothic Pro&quot;
                                 ,メイリオ,Meiryo,Osaka,&quot;
                                 ＭＳ Ｐゴシック&quot;
                                 ,&quot;
                                 MS PGothic&quot;
                                 ,sans-serif;
                                 font-size: 12.8px;
                                 font-style: normal;
                                 font-variant: normal;
                                 font-weight: 400;
                                 letter-spacing: normal;
                                 orphans: 2;
                                 text-align: left;
                                 text-decoration: none;
                                 text-indent: 0px;
                                 text-transform: none;
                                 -webkit-text-stroke-width: 0px;
                                 white-space: normal;
                                 word-spacing: 0px">└</span><span style="background-color: rgb(27, 44, 66);
             color: rgb(255, 255, 255);
             display: inline;
             float: none;
             font-family: 游ゴシック体,&amp;
             quot;
             yu gothic&amp;
             quot;
             ,yugothic,&amp;
             quot;
             ヒラギノ角ゴシック pro&amp;
             quot;
             ,&amp;
             quot;
             hiragino kaku gothic pro&amp;
             quot;
             ,メイリオ,meiryo,osaka,&amp;
             quot;
             ｍｓ ｐゴシック&amp;
             quot;
             ,&amp;
             quot;
             ms pgothic&amp;
             quot;
             ,sans-serif;
             font-size: 12.8px;
             font-style: normal;
             font-variant: normal;
             font-weight: 400;
             letter-spacing: normal;
             margin-bottom: 0px;
             margin-left: 0px;
             margin-right: 0px;
             margin-top: 0px;
             orphans: 2;
             padding-bottom: 0px;
             padding-left: 0px;
             padding-right: 0px;
             padding-top: 0px;
             text-align: left;
             text-decoration: none;
             text-indent: 0px;
             text-transform: none;
             -webkit-text-stroke-width: 0px;
             white-space: normal;
             word-spacing: 0px">術技ごとの専用詠唱ボイスを追加</span>
                </p>
                <p>&nbsp;</p>
                <p>・ネビリム（7/1(水)15:00更新）</p>
                <p>└戦闘ボイスを新規収録ボイスに差し替えを行いました。</p>
                <p style="color: rgb(255, 255, 255);
                          font-family: 游ゴシック体,&amp;
                          quot;
                          yu gothic&amp;
                          quot;
                          ,yugothic,&amp;
                          quot;
                          ヒラギノ角ゴシック pro&amp;
                          quot;
                          ,&amp;
                          quot;
                          hiragino kaku gothic pro&amp;
                          quot;
                          ,メイリオ,meiryo,osaka,&amp;
                          quot;
                          ｍｓ ｐゴシック&amp;
                          quot;
                          ,&amp;
                          quot;
                          ms pgothic&amp;
                          quot;
                          ,sans-serif;
                          font-size: 12.8px;
                          font-style: normal;
                          font-variant: normal;
                          font-weight: 400;
                          letter-spacing: normal;
                          margin-bottom: 0px;
                          margin-left: 0px;
                          margin-right: 0px;
                          margin-top: 0px;
                          orphans: 2;
                          padding-bottom: 0px;
                          padding-left: 0px;
                          padding-right: 0px;
                          padding-top: 0px;
                          text-align: left;
                          text-decoration: none;
                          text-indent: 0px;
                          text-transform: none;
                          -webkit-text-stroke-width: 0px;
                          white-space: normal;
                          word-spacing: 0px">&nbsp;</p>
                <p style="color: rgb(255, 255, 255);
                          font-family: 游ゴシック体,&amp;
                          quot;
                          yu gothic&amp;
                          quot;
                          ,yugothic,&amp;
                          quot;
                          ヒラギノ角ゴシック pro&amp;
                          quot;
                          ,&amp;
                          quot;
                          hiragino kaku gothic pro&amp;
                          quot;
                          ,メイリオ,meiryo,osaka,&amp;
                          quot;
                          ｍｓ ｐゴシック&amp;
                          quot;
                          ,&amp;
                          quot;
                          ms pgothic&amp;
                          quot;
                          ,sans-serif;
                          font-size: 12.8px;
                          font-style: normal;
                          font-variant: normal;
                          font-weight: 400;
                          letter-spacing: normal;
                          margin-bottom: 0px;
                          margin-left: 0px;
                          margin-right: 0px;
                          margin-top: 0px;
                          orphans: 2;
                          padding-bottom: 0px;
                          padding-left: 0px;
                          padding-right: 0px;
                          padding-top: 0px;
                          text-align: left;
                          text-decoration: none;
                          text-indent: 0px;
                          text-transform: none;
                          -webkit-text-stroke-width: 0px;
                          white-space: normal;
                          word-spacing: 0px">■6月12日更新</p>
                <p style="color: rgb(255, 255, 255);
                          font-family: 游ゴシック体,&amp;
                          quot;
                          yu gothic&amp;
                          quot;
                          ,yugothic,&amp;
                          quot;
                          ヒラギノ角ゴシック pro&amp;
                          quot;
                          ,&amp;
                          quot;
                          hiragino kaku gothic pro&amp;
                          quot;
                          ,メイリオ,meiryo,osaka,&amp;
                          quot;
                          ｍｓ ｐゴシック&amp;
                          quot;
                          ,&amp;
                          quot;
                          ms pgothic&amp;
                          quot;
                          ,sans-serif;
                          font-size: 12.8px;
                          font-style: normal;
                          font-variant: normal;
                          font-weight: 400;
                          letter-spacing: normal;
                          margin-bottom: 0px;
                          margin-left: 0px;
                          margin-right: 0px;
                          margin-top: 0px;
                          orphans: 2;
                          padding-bottom: 0px;
                          padding-left: 0px;
                          padding-right: 0px;
                          padding-top: 0px;
                          text-align: left;
                          text-decoration: none;
                          text-indent: 0px;
                          text-transform: none;
                          -webkit-text-stroke-width: 0px;
                          white-space: normal;
                          word-spacing: 0px">・ルビア</p>
                <p style="color: rgb(255, 255, 255);
                          font-family: 游ゴシック体,&amp;
                          quot;
                          yu gothic&amp;
                          quot;
                          ,yugothic,&amp;
                          quot;
                          ヒラギノ角ゴシック pro&amp;
                          quot;
                          ,&amp;
                          quot;
                          hiragino kaku gothic pro&amp;
                          quot;
                          ,メイリオ,meiryo,osaka,&amp;
                          quot;
                          ｍｓ ｐゴシック&amp;
                          quot;
                          ,&amp;
                          quot;
                          ms pgothic&amp;
                          quot;
                          ,sans-serif;
                          font-size: 12.8px;
                          font-style: normal;
                          font-variant: normal;
                          font-weight: 400;
                          letter-spacing: normal;
                          margin-bottom: 0px;
                          margin-left: 0px;
                          margin-right: 0px;
                          margin-top: 0px;
                          orphans: 2;
                          padding-bottom: 0px;
                          padding-left: 0px;
                          padding-right: 0px;
                          padding-top: 0px;
                          text-align: left;
                          text-decoration: none;
                          text-indent: 0px;
                          text-transform: none;
                          -webkit-text-stroke-width: 0px;
                          white-space: normal;
                          word-spacing: 0px">
                　└<span style="display: inline !important;
             float: none;
             background-color: rgb(27, 44, 66);
             color: rgb(255, 255, 255);
             font-family: 游ゴシック体,&quot;
             Yu Gothic&quot;
             ,YuGothic,&quot;
             ヒラギノ角ゴシック Pro&quot;
             ,&quot;
             Hiragino Kaku Gothic Pro&quot;
             ,メイリオ,Meiryo,Osaka,&quot;
             ＭＳ Ｐゴシック&quot;
             ,&quot;
             MS PGothic&quot;
             ,sans-serif;
             font-size: 12.8px;
             font-style: normal;
             font-variant: normal;
             font-weight: 400;
             letter-spacing: normal;
             orphans: 2;
             text-align: left;
             text-decoration: none;
             text-indent: 0px;
             text-transform: none;
             -webkit-text-stroke-width: 0px;
             white-space: normal;
             word-spacing: 0px">術技ごとの専用詠唱ボイスを追加</span>
            </p>
            <p style="color: rgb(255, 255, 255);
                      font-family: 游ゴシック体,&amp;
                      quot;
                      yu gothic&amp;
                      quot;
                      ,yugothic,&amp;
                      quot;
                      ヒラギノ角ゴシック pro&amp;
                      quot;
                      ,&amp;
                      quot;
                      hiragino kaku gothic pro&amp;
                      quot;
                      ,メイリオ,meiryo,osaka,&amp;
                      quot;
                      ｍｓ ｐゴシック&amp;
                      quot;
                      ,&amp;
                      quot;
                      ms pgothic&amp;
                      quot;
                      ,sans-serif;
                      font-size: 12.8px;
                      font-style: normal;
                      font-variant: normal;
                      font-weight: 400;
                      letter-spacing: normal;
                      margin-bottom: 0px;
                      margin-left: 0px;
                      margin-right: 0px;
                      margin-top: 0px;
                      orphans: 2;
                      padding-bottom: 0px;
                      padding-left: 0px;
                      padding-right: 0px;
                      padding-top: 0px;
                      text-align: left;
                      text-decoration: none;
                      text-indent: 0px;
                      text-transform: none;
                      -webkit-text-stroke-width: 0px;
                      white-space: normal;
                      word-spacing: 0px">・レイア</p>
            <p style="color: rgb(255, 255, 255);
                      font-family: 游ゴシック体,&amp;
                      quot;
                      yu gothic&amp;
                      quot;
                      ,yugothic,&amp;
                      quot;
                      ヒラギノ角ゴシック pro&amp;
                      quot;
                      ,&amp;
                      quot;
                      hiragino kaku gothic pro&amp;
                      quot;
                      ,メイリオ,meiryo,osaka,&amp;
                      quot;
                      ｍｓ ｐゴシック&amp;
                      quot;
                      ,&amp;
                      quot;
                      ms pgothic&amp;
                      quot;
                      ,sans-serif;
                      font-size: 12.8px;
                      font-style: normal;
                      font-variant: normal;
                      font-weight: 400;
                      letter-spacing: normal;
                      margin-bottom: 0px;
                      margin-left: 0px;
                      margin-right: 0px;
                      margin-top: 0px;
                      orphans: 2;
                      padding-bottom: 0px;
                      padding-left: 0px;
                      padding-right: 0px;
                      padding-top: 0px;
                      text-align: left;
                      text-decoration: none;
                      text-indent: 0px;
                      text-transform: none;
                      -webkit-text-stroke-width: 0px;
                      white-space: normal;
                      word-spacing: 0px">
                <span style="display: inline !important;
                             float: none;
                             background-color: rgb(27, 44, 66);
                             color: rgb(255, 255, 255);
                             font-family: 游ゴシック体,&quot;
                             Yu Gothic&quot;
                             ,YuGothic,&quot;
                             ヒラギノ角ゴシック Pro&quot;
                             ,&quot;
                             Hiragino Kaku Gothic Pro&quot;
                             ,メイリオ,Meiryo,Osaka,&quot;
                             ＭＳ Ｐゴシック&quot;
                             ,&quot;
                             MS PGothic&quot;
                             ,sans-serif;
                             font-size: 12.8px;
                             font-style: normal;
                             font-variant: normal;
                             font-weight: 400;
                             letter-spacing: normal;
                             orphans: 2;
                             text-align: left;
                             text-decoration: none;
                             text-indent: 0px;
                             text-transform: none;
                             -webkit-text-stroke-width: 0px;
                             white-space: normal;
                             word-spacing: 0px">└バトル中の受け答えボイスを追加</span>
            </p>
            <p style="color: rgb(255, 255, 255);
                      font-family: 游ゴシック体,&amp;
                      quot;
                      yu gothic&amp;
                      quot;
                      ,yugothic,&amp;
                      quot;
                      ヒラギノ角ゴシック pro&amp;
                      quot;
                      ,&amp;
                      quot;
                      hiragino kaku gothic pro&amp;
                      quot;
                      ,メイリオ,meiryo,osaka,&amp;
                      quot;
                      ｍｓ ｐゴシック&amp;
                      quot;
                      ,&amp;
                      quot;
                      ms pgothic&amp;
                      quot;
                      ,sans-serif;
                      font-size: 12.8px;
                      font-style: normal;
                      font-variant: normal;
                      font-weight: 400;
                      letter-spacing: normal;
                      margin-bottom: 0px;
                      margin-left: 0px;
                      margin-right: 0px;
                      margin-top: 0px;
                      orphans: 2;
                      padding-bottom: 0px;
                      padding-left: 0px;
                      padding-right: 0px;
                      padding-top: 0px;
                      text-align: left;
                      text-decoration: none;
                      text-indent: 0px;
                      text-transform: none;
                      -webkit-text-stroke-width: 0px;
                      white-space: normal;
                      word-spacing: 0px">&nbsp;</p>
            <p style="color: rgb(255, 255, 255);
                      font-family: 游ゴシック体,&amp;
                      quot;
                      yu gothic&amp;
                      quot;
                      ,yugothic,&amp;
                      quot;
                      ヒラギノ角ゴシック pro&amp;
                      quot;
                      ,&amp;
                      quot;
                      hiragino kaku gothic pro&amp;
                      quot;
                      ,メイリオ,meiryo,osaka,&amp;
                      quot;
                      ｍｓ ｐゴシック&amp;
                      quot;
                      ,&amp;
                      quot;
                      ms pgothic&amp;
                      quot;
                      ,sans-serif;
                      font-size: 12.8px;
                      font-style: normal;
                      font-variant: normal;
                      font-weight: 400;
                      letter-spacing: normal;
                      margin-bottom: 0px;
                      margin-left: 0px;
                      margin-right: 0px;
                      margin-top: 0px;
                      orphans: 2;
                      padding-bottom: 0px;
                      padding-left: 0px;
                      padding-right: 0px;
                      padding-top: 0px;
                      text-align: left;
                      text-decoration: none;
                      text-indent: 0px;
                      text-transform: none;
                      -webkit-text-stroke-width: 0px;
                      white-space: normal;
                      word-spacing: 0px">■5月11日更新</p>
            <p style="color: rgb(255, 255, 255);
                      font-family: 游ゴシック体,&amp;
                      quot;
                      yu gothic&amp;
                      quot;
                      ,yugothic,&amp;
                      quot;
                      ヒラギノ角ゴシック pro&amp;
                      quot;
                      ,&amp;
                      quot;
                      hiragino kaku gothic pro&amp;
                      quot;
                      ,メイリオ,meiryo,osaka,&amp;
                      quot;
                      ｍｓ ｐゴシック&amp;
                      quot;
                      ,&amp;
                      quot;
                      ms pgothic&amp;
                      quot;
                      ,sans-serif;
                      font-size: 12.8px;
                      font-style: normal;
                      font-variant: normal;
                      font-weight: 400;
                      letter-spacing: normal;
                      margin-bottom: 0px;
                      margin-left: 0px;
                      margin-right: 0px;
                      margin-top: 0px;
                      orphans: 2;
                      padding-bottom: 0px;
                      padding-left: 0px;
                      padding-right: 0px;
                      padding-top: 0px;
                      text-align: left;
                      text-decoration: none;
                      text-indent: 0px;
                      text-transform: none;
                      -webkit-text-stroke-width: 0px;
                      white-space: normal;
                      word-spacing: 0px">・スパーダ</p>
            <p style="color: rgb(255, 255, 255);
                      font-family: 游ゴシック体,&amp;
                      quot;
                      yu gothic&amp;
                      quot;
                      ,yugothic,&amp;
                      quot;
                      ヒラギノ角ゴシック pro&amp;
                      quot;
                      ,&amp;
                      quot;
                      hiragino kaku gothic pro&amp;
                      quot;
                      ,メイリオ,meiryo,osaka,&amp;
                      quot;
                      ｍｓ ｐゴシック&amp;
                      quot;
                      ,&amp;
                      quot;
                      ms pgothic&amp;
                      quot;
                      ,sans-serif;
                      font-size: 12.8px;
                      font-style: normal;
                      font-variant: normal;
                      font-weight: 400;
                      letter-spacing: normal;
                      margin-bottom: 0px;
                      margin-left: 0px;
                      margin-right: 0px;
                      margin-top: 0px;
                      orphans: 2;
                      padding-bottom: 0px;
                      padding-left: 0px;
                      padding-right: 0px;
                      padding-top: 0px;
                      text-align: left;
                      text-decoration: none;
                      text-indent: 0px;
                      text-transform: none;
                      -webkit-text-stroke-width: 0px;
                      white-space: normal;
                      word-spacing: 0px">
                <span style="display: inline !important;
                             float: none;
                             background-color: rgb(27, 44, 66);
                             color: rgb(255, 255, 255);
                             font-family: 游ゴシック体,&quot;
                             Yu Gothic&quot;
                             ,YuGothic,&quot;
                             ヒラギノ角ゴシック Pro&quot;
                             ,&quot;
                             Hiragino Kaku Gothic Pro&quot;
                             ,メイリオ,Meiryo,Osaka,&quot;
                             ＭＳ Ｐゴシック&quot;
                             ,&quot;
                             MS PGothic&quot;
                             ,sans-serif;
                             font-size: 12.8px;
                             font-style: normal;
                             font-variant: normal;
                             font-weight: 400;
                             letter-spacing: normal;
                             orphans: 2;
                             text-align: left;
                             text-decoration: none;
                             text-indent: 0px;
                             text-transform: none;
                             -webkit-text-stroke-width: 0px;
                             white-space: normal;
                             word-spacing: 0px">└バトル中の受け答えボイスを追加</span>
            </p>
            <p style="color: rgb(255, 255, 255);
                      font-family: 游ゴシック体,&amp;
                      quot;
                      yu gothic&amp;
                      quot;
                      ,yugothic,&amp;
                      quot;
                      ヒラギノ角ゴシック pro&amp;
                      quot;
                      ,&amp;
                      quot;
                      hiragino kaku gothic pro&amp;
                      quot;
                      ,メイリオ,meiryo,osaka,&amp;
                      quot;
                      ｍｓ ｐゴシック&amp;
                      quot;
                      ,&amp;
                      quot;
                      ms pgothic&amp;
                      quot;
                      ,sans-serif;
                      font-size: 12.8px;
                      font-style: normal;
                      font-variant: normal;
                      font-weight: 400;
                      letter-spacing: normal;
                      margin-bottom: 0px;
                      margin-left: 0px;
                      margin-right: 0px;
                      margin-top: 0px;
                      orphans: 2;
                      padding-bottom: 0px;
                      padding-left: 0px;
                      padding-right: 0px;
                      padding-top: 0px;
                      text-align: left;
                      text-decoration: none;
                      text-indent: 0px;
                      text-transform: none;
                      -webkit-text-stroke-width: 0px;
                      white-space: normal;
                      word-spacing: 0px">&nbsp;</p>
            <p style="color: rgb(255, 255, 255);
                      font-family: 游ゴシック体,&amp;
                      quot;
                      yu gothic&amp;
                      quot;
                      ,yugothic,&amp;
                      quot;
                      ヒラギノ角ゴシック pro&amp;
                      quot;
                      ,&amp;
                      quot;
                      hiragino kaku gothic pro&amp;
                      quot;
                      ,メイリオ,meiryo,osaka,&amp;
                      quot;
                      ｍｓ ｐゴシック&amp;
                      quot;
                      ,&amp;
                      quot;
                      ms pgothic&amp;
                      quot;
                      ,sans-serif;
                      font-size: 12.8px;
                      font-style: normal;
                      font-variant: normal;
                      font-weight: 400;
                      letter-spacing: normal;
                      margin-bottom: 0px;
                      margin-left: 0px;
                      margin-right: 0px;
                      margin-top: 0px;
                      orphans: 2;
                      padding-bottom: 0px;
                      padding-left: 0px;
                      padding-right: 0px;
                      padding-top: 0px;
                      text-align: left;
                      text-decoration: none;
                      text-indent: 0px;
                      text-transform: none;
                      -webkit-text-stroke-width: 0px;
                      white-space: normal;
                      word-spacing: 0px">■4月30日更新</p>
            <p style="color: rgb(255, 255, 255);
                      font-family: 游ゴシック体,&amp;
                      quot;
                      yu gothic&amp;
                      quot;
                      ,yugothic,&amp;
                      quot;
                      ヒラギノ角ゴシック pro&amp;
                      quot;
                      ,&amp;
                      quot;
                      hiragino kaku gothic pro&amp;
                      quot;
                      ,メイリオ,meiryo,osaka,&amp;
                      quot;
                      ｍｓ ｐゴシック&amp;
                      quot;
                      ,&amp;
                      quot;
                      ms pgothic&amp;
                      quot;
                      ,sans-serif;
                      font-size: 12.8px;
                      font-style: normal;
                      font-variant: normal;
                      font-weight: 400;
                      letter-spacing: normal;
                      margin-bottom: 0px;
                      margin-left: 0px;
                      margin-right: 0px;
                      margin-top: 0px;
                      orphans: 2;
                      padding-bottom: 0px;
                      padding-left: 0px;
                      padding-right: 0px;
                      padding-top: 0px;
                      text-align: left;
                      text-decoration: none;
                      text-indent: 0px;
                      text-transform: none;
                      -webkit-text-stroke-width: 0px;
                      white-space: normal;
                      word-spacing: 0px">・エレノア</p>
            <p style="color: rgb(255, 255, 255);
                      font-family: 游ゴシック体,&amp;
                      quot;
                      yu gothic&amp;
                      quot;
                      ,yugothic,&amp;
                      quot;
                      ヒラギノ角ゴシック pro&amp;
                      quot;
                      ,&amp;
                      quot;
                      hiragino kaku gothic pro&amp;
                      quot;
                      ,メイリオ,meiryo,osaka,&amp;
                      quot;
                      ｍｓ ｐゴシック&amp;
                      quot;
                      ,&amp;
                      quot;
                      ms pgothic&amp;
                      quot;
                      ,sans-serif;
                      font-size: 12.8px;
                      font-style: normal;
                      font-variant: normal;
                      font-weight: 400;
                      letter-spacing: normal;
                      margin-bottom: 0px;
                      margin-left: 0px;
                      margin-right: 0px;
                      margin-top: 0px;
                      orphans: 2;
                      padding-bottom: 0px;
                      padding-left: 0px;
                      padding-right: 0px;
                      padding-top: 0px;
                      text-align: left;
                      text-decoration: none;
                      text-indent: 0px;
                      text-transform: none;
                      -webkit-text-stroke-width: 0px;
                      white-space: normal;
                      word-spacing: 0px">└バトル中の受け答えボイスを追加</p>
            <p style="color: rgb(255, 255, 255);
                      font-family: 游ゴシック体,&amp;
                      quot;
                      yu gothic&amp;
                      quot;
                      ,yugothic,&amp;
                      quot;
                      ヒラギノ角ゴシック pro&amp;
                      quot;
                      ,&amp;
                      quot;
                      hiragino kaku gothic pro&amp;
                      quot;
                      ,メイリオ,meiryo,osaka,&amp;
                      quot;
                      ｍｓ ｐゴシック&amp;
                      quot;
                      ,&amp;
                      quot;
                      ms pgothic&amp;
                      quot;
                      ,sans-serif;
                      font-size: 12.8px;
                      font-style: normal;
                      font-variant: normal;
                      font-weight: 400;
                      letter-spacing: normal;
                      margin-bottom: 0px;
                      margin-left: 0px;
                      margin-right: 0px;
                      margin-top: 0px;
                      orphans: 2;
                      padding-bottom: 0px;
                      padding-left: 0px;
                      padding-right: 0px;
                      padding-top: 0px;
                      text-align: left;
                      text-decoration: none;
                      text-indent: 0px;
                      text-transform: none;
                      -webkit-text-stroke-width: 0px;
                      white-space: normal;
                      word-spacing: 0px">&nbsp;</p>
            <p style="color: rgb(255, 255, 255);
                      font-family: 游ゴシック体,&amp;
                      quot;
                      yu gothic&amp;
                      quot;
                      ,yugothic,&amp;
                      quot;
                      ヒラギノ角ゴシック pro&amp;
                      quot;
                      ,&amp;
                      quot;
                      hiragino kaku gothic pro&amp;
                      quot;
                      ,メイリオ,meiryo,osaka,&amp;
                      quot;
                      ｍｓ ｐゴシック&amp;
                      quot;
                      ,&amp;
                      quot;
                      ms pgothic&amp;
                      quot;
                      ,sans-serif;
                      font-size: 12.8px;
                      font-style: normal;
                      font-variant: normal;
                      font-weight: 400;
                      letter-spacing: normal;
                      margin-bottom: 0px;
                      margin-left: 0px;
                      margin-right: 0px;
                      margin-top: 0px;
                      orphans: 2;
                      padding-bottom: 0px;
                      padding-left: 0px;
                      padding-right: 0px;
                      padding-top: 0px;
                      text-align: left;
                      text-decoration: none;
                      text-indent: 0px;
                      text-transform: none;
                      -webkit-text-stroke-width: 0px;
                      white-space: normal;
                      word-spacing: 0px">■3月13日更新</p>
            <p style="color: rgb(255, 255, 255);
                      font-family: 游ゴシック体,&amp;
                      quot;
                      yu gothic&amp;
                      quot;
                      ,yugothic,&amp;
                      quot;
                      ヒラギノ角ゴシック pro&amp;
                      quot;
                      ,&amp;
                      quot;
                      hiragino kaku gothic pro&amp;
                      quot;
                      ,メイリオ,meiryo,osaka,&amp;
                      quot;
                      ｍｓ ｐゴシック&amp;
                      quot;
                      ,&amp;
                      quot;
                      ms pgothic&amp;
                      quot;
                      ,sans-serif;
                      font-size: 12.8px;
                      font-style: normal;
                      font-variant: normal;
                      font-weight: 400;
                      letter-spacing: normal;
                      margin-bottom: 0px;
                      margin-left: 0px;
                      margin-right: 0px;
                      margin-top: 0px;
                      orphans: 2;
                      padding-bottom: 0px;
                      padding-left: 0px;
                      padding-right: 0px;
                      padding-top: 0px;
                      text-align: left;
                      text-decoration: none;
                      text-indent: 0px;
                      text-transform: none;
                      -webkit-text-stroke-width: 0px;
                      white-space: normal;
                      word-spacing: 0px">・スレイ</p>
            <p style="color: rgb(255, 255, 255);
                      font-family: 游ゴシック体,&amp;
                      quot;
                      yu gothic&amp;
                      quot;
                      ,yugothic,&amp;
                      quot;
                      ヒラギノ角ゴシック pro&amp;
                      quot;
                      ,&amp;
                      quot;
                      hiragino kaku gothic pro&amp;
                      quot;
                      ,メイリオ,meiryo,osaka,&amp;
                      quot;
                      ｍｓ ｐゴシック&amp;
                      quot;
                      ,&amp;
                      quot;
                      ms pgothic&amp;
                      quot;
                      ,sans-serif;
                      font-size: 12.8px;
                      font-style: normal;
                      font-variant: normal;
                      font-weight: 400;
                      letter-spacing: normal;
                      margin-bottom: 0px;
                      margin-left: 0px;
                      margin-right: 0px;
                      margin-top: 0px;
                      orphans: 2;
                      padding-bottom: 0px;
                      padding-left: 0px;
                      padding-right: 0px;
                      padding-top: 0px;
                      text-align: left;
                      text-decoration: none;
                      text-indent: 0px;
                      text-transform: none;
                      -webkit-text-stroke-width: 0px;
                      white-space: normal;
                      word-spacing: 0px">・ロゼ</p>
            <p style="color: rgb(255, 255, 255);
                      font-family: 游ゴシック体,&amp;
                      quot;
                      yu gothic&amp;
                      quot;
                      ,yugothic,&amp;
                      quot;
                      ヒラギノ角ゴシック pro&amp;
                      quot;
                      ,&amp;
                      quot;
                      hiragino kaku gothic pro&amp;
                      quot;
                      ,メイリオ,meiryo,osaka,&amp;
                      quot;
                      ｍｓ ｐゴシック&amp;
                      quot;
                      ,&amp;
                      quot;
                      ms pgothic&amp;
                      quot;
                      ,sans-serif;
                      font-size: 12.8px;
                      font-style: normal;
                      font-variant: normal;
                      font-weight: 400;
                      letter-spacing: normal;
                      margin-bottom: 0px;
                      margin-left: 0px;
                      margin-right: 0px;
                      margin-top: 0px;
                      orphans: 2;
                      padding-bottom: 0px;
                      padding-left: 0px;
                      padding-right: 0px;
                      padding-top: 0px;
                      text-align: left;
                      text-decoration: none;
                      text-indent: 0px;
                      text-transform: none;
                      -webkit-text-stroke-width: 0px;
                      white-space: normal;
                      word-spacing: 0px">・アリーシャ</p>
            <p style="color: rgb(255, 255, 255);
                      font-family: 游ゴシック体,&amp;
                      quot;
                      yu gothic&amp;
                      quot;
                      ,yugothic,&amp;
                      quot;
                      ヒラギノ角ゴシック pro&amp;
                      quot;
                      ,&amp;
                      quot;
                      hiragino kaku gothic pro&amp;
                      quot;
                      ,メイリオ,meiryo,osaka,&amp;
                      quot;
                      ｍｓ ｐゴシック&amp;
                      quot;
                      ,&amp;
                      quot;
                      ms pgothic&amp;
                      quot;
                      ,sans-serif;
                      font-size: 12.8px;
                      font-style: normal;
                      font-variant: normal;
                      font-weight: 400;
                      letter-spacing: normal;
                      margin-bottom: 0px;
                      margin-left: 0px;
                      margin-right: 0px;
                      margin-top: 0px;
                      orphans: 2;
                      padding-bottom: 0px;
                      padding-left: 0px;
                      padding-right: 0px;
                      padding-top: 0px;
                      text-align: left;
                      text-decoration: none;
                      text-indent: 0px;
                      text-transform: none;
                      -webkit-text-stroke-width: 0px;
                      white-space: normal;
                      word-spacing: 0px">└バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p>■3月3日</p>
            <p>・サラ</p>
            <p>└一部の術技に専用詠唱ボイスを追加</p>
            <p>&nbsp;</p>
            <p>・カナ</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p>■2月28日更新</p>
            <p>・アスベル</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p style="text-align: center;">&nbsp;</p>
            <p>■2月14日更新</p>
            <p>・しいな</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p>■1月30日更新</p>
            <p>・ジューダス</p>
            <p>・ロニ</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p>■1月22日更新</p>
            <p>・リアラ</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <hr>
            <p style="text-align: center;">【2019年の更新履歴】</p>
            <p>■12月30日更新</p>
            <p>・カイウス</p>
            <p>・ルカ</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p>■12月13日更新</p>
            <p>・クラース</p>
            <p>・セルシウス</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p>■11月30日更新</p>
            <p>・リッド</p>
            <p>・ファラ</p>
            <p>・キール</p>
            <p>・メルディ</p>
            <p>・セルシウス</p>
            <p>・チャット</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p>■11月25日更新</p>
            <p>・ディムロス</p>
            <p>└戦闘終了後のボイスを追加</p>
            <p>&nbsp;</p>
            <p>■11月16日更新</p>
            <p>・ゼロス</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p>■11月14日更新</p>
            <p>・シング</p>
            <p>・ベルベット</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p>・エステル</p>
            <p>└術技ごとの専用詠唱ボイスを追加</p>
            <p>バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p>■10月31日更新</p>
            <p>・プレセア</p>
            <p>・マルタ</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p>■10月15日更新</p>
            <p>・アニー</p>
            <p>・ヒルダ</p>
            <p>・ヴェイグ</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p>■9月30日更新</p>
            <p>・P・カノンノ</p>
            <p>・カノンノ・E</p>
            <p>・カノンノ・G</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p>■9月25日更新</p>
            <p>・エミル</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p>■9月13日更新</p>
            <p>・ヒスイ</p>
            <p>└魔鏡ボイス、バトル中の受け答えボイスを追加</p>
            <p>・スパーダ</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p>■8月31日更新</p>
            <p>・セネル</p>
            <p>・クロエ</p>
            <p>・シャーリィ</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p>■8月23日更新</p>
            <p>・アスベル</p>
            <p>・ソフィ</p>
            <p>・シェリア</p>
            <p>・ヒューバート</p>
            <p>・パスカル</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p>■8月12日更新</p>
            <p>・ガイ</p>
            <p>・ナタリア</p>
            <p>・アニス</p>
            <p>・ルーク</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p>■7月31日更新</p>
            <p>・リッド</p>
            <p>・ファラ</p>
            <p>・ユーリ</p>
            <p>・カロル</p>
            <p>・ジュディス</p>
            <p>・フレン</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p>■7月26日</p>
            <p>・ルーク</p>
            <p>・アッシュ</p>
            <p>・ナタリア</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p>■7月12日更新</p>
            <p>・スタン</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p>■6月30日更新</p>
            <p>・ユーリ</p>
            <p>・ジュード</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p>■6月25日更新</p>
            <p>・カイル</p>
            <p>・リアラ</p>
            <p>・ジューダス</p>
            <p>・リオン</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p>■6月14日更新</p>
            <p>・ルーティ</p>
            <p>└バトル中の詠唱ボイスを追加</p>
            <p>「ボイス切替機能」にてキャラボイスを切替できるようになりました。</p>
            <p>「メニュー」＞「キャラボイス切替」から切替が可能です。</p>
            <p>&nbsp;</p>
            <p>■5月31日更新</p>
            <p>・イクス/コーキス</p>
            <p>・ミリーナ</p>
            <p>・マーク</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p>■5月25日更新</p>
            <p>・ソフィ</p>
            <p>・ライフィセット</p>
            <p>・ロンドリーネ</p>
            <p>・マギルゥ</p>
            <p>・ゼファー</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p>■5月14日更新</p>
            <p>・リオン</p>
            <p>└バトル中のボイス、魔鏡ボイスを追加</p>
            <p>&nbsp;</p>
            <p>・ジューダス</p>
            <p>・バルバトス</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p>■5月7日更新</p>
            <p>・レナス・F</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p>■4月30日更新</p>
            <p>・クラトス</p>
            <p>・シンク</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p>■4月25日更新</p>
            <p>・ミラ</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p>■4月12日更新</p>
            <p>・デゼル</p>
            <p>・アリーシャ</p>
            <p>・ライラ</p>
            <p>・スレイ</p>
            <p>・エドナ</p>
            <p>・ロゼ</p>
            <p>└バトル中の受け答えボイスを追加</p>
            <p>&nbsp;</p>
            <p style="text-align: center;">各キャラクターのボイスは随時アップデート予定となっております。</p>
            <p style="text-align: center;">アップデートの際は本お知らせなどで報告させていただきます。</p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">引き続き『TALES OF THE RAYS』をよろしくお願い申し上げます。</p>
        </section>

        <p>&nbsp;</p>
    </div>
</body>
</html>
