<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <strong>『<span style="color:#FF9900;">ガシャ魔鏡</span>』が必ずもらえる！</strong>
            </p>
            <p>
                <strong>おかえりパネルミッション開催中！</strong>
            </p>
            <p>
                <!-- 仕切り -->
            </p>
            <hr>
            <section>
                <p style="text-align: center;">
                    <span style="font-size: 14px;"></span>
                </p>
                <p style="text-align: center;">『TALES OF THE RAYS』に</p>
                <p style="text-align: center;">久しぶりに戻ってきてくれてありがとうございます！</p>
                <p style="text-align: center;">すぐに追いつけるように</p>
                <p style="text-align: center;">
                    まずは『<span style="color:#FF9900;"><strong>パネルミッション</strong></span>』をクリアしてみよう！
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">パネルミッションのパネル全9種類が2枚！</p>
                <p style="text-align: center;">1種類達成するごとにもダイヤなどの豪華報酬が！</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">ミッション達成&amp;パネルミッションコンプリートで、</p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>ガシャ魔鏡</strong></span>が必ず手に入るガシャチケット
                </p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><span style="color:#FF9900;"><strong>「魔鏡確定ビバ★チケット」</strong></span></span>
                </p>
                <p style="text-align: center;">
                    が<span style="color:#FF4747;"><strong>合計5枚獲得可能!!</strong></span>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/27571/content_201017.png"
                         style="width: 296px;
                                height: 96px">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">更に!!</p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>歴代主人公の鏡装や、魔鏡</strong></span>が
                </p>
                <p style="text-align: center;">必ず手に入るガシャチケット</p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><span style="color:#FF9900;"><strong>「主人公鏡装確定チケット」</strong></span></span><strong style="color: rgb(255, 153, 0); font-size: 14px;">「主人公魔鏡確定チケット」</strong>
                </p>
                <p style="text-align: center;">もミッション達成で獲得可能!!</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/27569/content_201015.png"
                         style="width: 296px;
                                height: 96px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/27570/content_201016.png"
                         style="width: 296px;
                                height: 96px">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <section>
                    <p style="text-align: center;">
                        <span style="font-size:16px;"><strong>◆パネルミッションについて◆</strong></span>
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <section>
                        <p style="text-align: center;">パネルミッションのミッション内容と達成状況は</p>
                    </section>
                    <p style="text-align: center;">『ホーム画面』右下にあるボタンをタップして確認しよう！</p>
                </section>
                <div class="frame1" style="text-align: center;">
                    <p style="text-align: center;">
                        <span style="font-size:14px;"><strong>◆パネルミッションはホーム画面右下のボタンをタップ◆</strong></span>
                    </p>
                    <p>
                        <br>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/27557/content_20201027_105731.png"
                             style="width: 80%">
                        <br>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/27565/content_20201027_115528.png"
                             style="width: 80%">
                    </p>
                </div>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>◆パネルミッション解説◆</strong>
                    <br>
                    パネルミッションは条件を満たせば自動的に達成していきます。
                </p>
                <p style="text-align: center;">
                    <br>
                    パネルミッション画面のパネルをタップすると、
                </p>
                <p style="text-align: center;">ミッション内容と報酬を確認することができます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>報酬にはダイヤや強化素材がたくさん用意されています。</strong>
                </p>
                <p style="text-align: center;">どんどんミッションを達成してみましょう。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">ミッション達成後、ホーム画面に戻ると</p>
                <p style="text-align: center;">報酬を受け取ることができます。</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/27566/content_20201027_115533.png"
                         style="width: 80%">
                    <br>
                    &nbsp;
                </p>
                <hr>
                <section>
                    <div class="frame2">
                        <p style="text-align:center;">&nbsp;《注意事項》</p>
                        <p>
                            <span style="font-size:11px;">・ミッション達成報酬はホーム画面に戻ることでに直接お受け取りになれます。
                                <br>
                                ・所持数が上限を超えた報酬はプレゼントボックスに送られます。
                                <br>
                                ・<span style="font-size:11px;">報酬の受け取り期限も同様になりますので、ご注意ください。</span></span>
                            </p>
                        </div>
                    </section>
                </section>
            </div>


        </body>
    </html>
