<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/26698/content_1912021.png"
                     style="width: 100%">
            </p>
            <hr>
            <p>
                <span style="font-size:14px;"><b>ロクロウ</b>の<span style="color:#FF4747;"><strong>『魔鏡』</strong>と<strong>『装備』のみ</strong></span>が出現する</span>
            </p>
            <p>
                <span style="font-size:14px;">【復刻】ロクロウ確定チケットガシャが開催!!</span>
            </p>
            <p>&nbsp;</p>
            <p style="font-weight:bold;">◆開催期間◆</p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;">イベント終了＋4日間</span><span style="color:#FF4747;"></span></strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;"></span></strong>
                <br>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p>
                <span style="font-size:14px;">【復刻】ロクロウ</span>確定チケットガシャでは、
            </p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;">ロクロウ</span><span style="color:#FF4747;"></span><span style="color:#FF4747;">の『魔鏡』と『装備』のみが出現!!</span></strong>
            </p>
            <div class="frame1">
                <p style="text-align: center;">
                    <strong>ロクロウの魔鏡・装備</strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/8351/content_8110002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/8352/content_815001.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/8353/content_814001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/8354/content_814002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/8356/content_813001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/8357/content_813002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/8358/content_813003.png"
                         style="width: 80px;
                                height: 80px">
                </p>
            </div>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                <strong>ロクロウ確定ガシャチケット</strong>は
                <br>
                <strong>【復刻】『ティル・ナ・ノーグ ニューイヤー～恩を忘れることなかれ～​』ガシャ</strong>
                <br>
                のおまけで入手が可能!<!-- 仕切り -->
            </p>
            <hr>
            <section>
                <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                <img src="{{ s3_url }}public/uploads/ckeditor/pictures/26820/content_1812182.png"
                     style="width: 100%">
                <ul class="box">
                    <li>
                        <strong>魔鏡技:<font color="#ff4747">嵐月流・狗鷲</font></strong>　　威力:<font color="#ff4747"><b>1689</b></font>
                    </li>
                    <li style="text-align:right;float:right">
                        <strong>ロクロウ専用</strong>
                    </li>
                </ul>
                <div class="frame1">
                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        <strong>効果内容</strong>
                                    </p>
                                    <p>
                                        背中の大太刀を抜き、初太刀で骨を
                                        <br>
                                        二の太刀で心を折る魔鏡技
                                    </p>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong><a href="https://www.youtube.com/watch?v=QkkVF2boXioexternalbrowser=true">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                 style="width: 60px;
                                                        height: 60px">
                                        </a></strong>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="list">
                    <li style="width:26%;">
                        <span class="ico-swd"></span><b>536</b>
                    </li>
                    <li style="width:26%;">
                        <span class="ico-mgc"></span><b>373</b>
                    </li>
                    <li style="width:26%;">
                        <span class="ico-cc"></span><b>13</b>
                    </li>
                </ul>
            </section>
            <hr>
            <section>
                <div class="frame2">
                    <p style="text-align:center;">
                        <b>《 注意事項&nbsp;》</b>
                    </p>
                    <p>
                        <span style="font-size:11px;">・本ガシャは「【復刻】ロクロウ確定ガシャチケット」のみで実行できます。
                            <br>
                            ・本ガシャは【復刻】ロクロウ確定ガシャチケット1枚につき、1回実行できます。
                            <br>
                            ・本ガシャからはロクロウの魔鏡・★5鏡装・★4装備・★3装備の
                            <br>
                            　いずれかが獲得できます。
                            <br>
                            ・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。
                            <br>
                            ・イベント限定ポイントボーナス及び攻略戦ボーナスの効果は、
                            <br>
                            　該当のイベント開催時のみ発動します。
                            <br>
                            ・イベント限定ポイントボーナス及び攻略戦ボーナスが発動する
                            <br>
                            　魔鏡・装備の一覧は、該当イベントのお知らせをご確認ください。
                            <br>
                            ・表示されているステータス・効果・ポイントボーナス
                            <br>
                            　攻略戦ボーナスは、最大強化後の値となります。
                            <br>
                            ・期間限定の魔鏡・装備は再登場する場合がございます。
                            <br>
                            ・限定衣装付き魔鏡で手に入る限定衣装は複数入手することはできません。
                            <br>
                            ・限定衣装付き魔鏡で限定衣装を入手した場合、
                            <br>
                            　キャラカスタムでの交換は不要です。
                            <br>
                            ・限定衣装を先にキャラカスタムから入手した場合、
                            <br>
                        　限定衣装付き魔鏡で複数入手はできません。</span>
                    </p>
                </div>
            </section>
        </div>
        <p>
            <strong></strong>
        </p>
    </body>
</html>
