<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/27692/content_2010401.png"
                     style="width: 100%;
                            margin: 10px auto">
            </p>
            <hr>
            <p>
                <span style="font-size:14px;"><span style="color:#FF9900;"><b>メインクエスト2部中に登場したオーバーレイ魔鏡</b></span>が出現する</span>
            </p>
            <p>
                <span style="color:#FF4747;"><strong><span style="font-size:14px;">2部オーバーレイ魔鏡キャラクター10連チケットガシャ</span></strong></span><span style="font-size:14px;">が開催!!</span><span style="color:#FF4747;"></span>
            </p>
            <p>&nbsp;</p>
            <p>
                <span style="font-size:16px;">2部オーバーレイ魔鏡キャラクター10連チケットガシャは</span>
            </p>
            <p>
                <span style="font-size:16px;"><strong><span style="color:#FF4747;">魔鏡1枚確定</span></strong>＆<strong>★4以上が確定!!</strong></span>
            </p>
            <p>
                <span style="font-size:16px;"></span><span style="font-size:16px;">さらに<span style="color:#FF4747;"><strong>鏡装30%</strong></span>、<strong><span style="color:#FF4747;">魔鏡25%</span></strong>の<strong>通常の<span style="color:#FF9900;">5倍</span>の提供割合で登場!!</strong></span>
            </p>
            <p>
                <span style="font-size:16px;">登場する魔鏡は<span style="color:#FF4747;"><strong>通常魔鏡</strong></span>と<span style="color:#FF4747;"><strong>オーバーレイ</strong></span><span style="color:#FF4747;"><strong>魔鏡</strong></span>のみ!!</span>
            </p>
            <p>&nbsp;</p>
            <p>
                <strong><span style="font-size:14px;"></span></strong>
            </p>
            <p>◆開催期間◆</p>
            <p>
                <span style="color:#FF4747;"><strong>2020/11/7(土) 0:00 ～2021/1/31(日) 23:59</strong></span>
            </p>
            <p>
                <strong><span style="color:#FF4747;"><span style="font-size:14px;"></span><span style="font-size:14px;"></span></span></strong>
            </p>
            <p>
                <strong><span style="font-size:14px;"></span></strong>
            </p>
            <p>
                <strong><span style="font-size:14px;"></span></strong>
            </p>
            <p>
                <span style="font-size:14px;"></span><strong><span style="color:#FF0000;"></span><span style="color:#FF0000;"></span></strong>
            </p>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                <span style="font-size:14px;"><span style="font-size:14px;">2部オーバーレイ魔鏡キャラクター10連チケットガシャ</span>を引くには</span>
                <br>
                「2<span style="font-size:14px;">部オーバーレイ魔鏡キャラクター10連ガシャ<span style="font-size:14px;">チケット</span><span style="font-size:14px;"></span></span>」が必要です。
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/27611/content_201038.png"
                     style="width: 108px;
                            height: 108px">
            </p>
            <div class="frame1" style="text-align: center;">
                <strong><span style="font-size:14px;">『2</span></strong><span style="font-size:14px;">部オーバーレイ魔鏡キャラクター10連チケットガシャ</span><strong>』
                    <br>
                登場するオーバーレイ魔鏡一覧</strong>
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/21798/content_110005.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/21861/content_1910004.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/21880/content_2410004.png"
                     style="width: 80px;
                            height: 80px">
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/21903/content_3010003.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/21909/content_3110004.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/21952/content_4210004.png"
                     style="width: 80px;
                            height: 80px">
            </div>
            <hr>
            <div class="frame2">
                <p style="text-align:center;">《注意事項&nbsp;》</p>
                <p class="indent">
                    <span style="font-size:11px;">・本ガシャは「2部オーバーレイ魔鏡キャラクター10連ガシャチケット」のみで
                        <br>
                    実行できます。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・本ガシャは「2部オーバーレイ魔鏡キャラクター10連ガシャチケット」1枚につき、
                        <br>
                    1回実行できます。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・本ガシャからはのルドガー、ユーリ、イクス、スレイ、アスベル、レイヴンの
                        <br>
                    魔鏡・★5鏡装・★4装備のいずれかが獲得できます。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・イベント限定ポイントボーナス及び攻略戦ボーナスの効果は、
                        <br>
                    該当のイベント開催時のみ発動します。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・イベント限定ポイントボーナス及び攻略戦ボーナスが発動する
                        <br>
                    魔鏡・装備の一覧は、該当イベントのお知らせをご確認ください。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・表示されているステータス・効果・ポイントボーナス
                        <br>
                    攻略戦ボーナスは、最大強化後の値となります。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・限定キャラカスタム付き魔鏡でキャラカスタムを入手した場合、
                        <br>
                    その他入手導線での入手はできません。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・限定キャラカスタムを先に限定キャラカスタム付き魔鏡以外から入手した場合、
                        <br>
                        限定キャラカスタム付き魔鏡で複数入手はできません。</span><span style="font-size:11px;"></span><span style="font-size:11px;"></span>
                    </p>
                </div>

            </div>
        </body>
    </html>
