<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <span style="font-size:20px;"><strong>4部公開記念キャンペーン開催！</strong></span>
            </p>
            <hr>
            <p style="text-align: center;">
                <strong><strong><span style="font-size: 18px;"><span style="font-size: 18px;"><b>最大240連無料！</b></span></span></strong></strong>
            </p>
            <p style="text-align: center;">
                <span style="font-size: 18px;"><b>シリーズ10連ガシャチケットが登場！</b></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:12px;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/27575/content_10283.jpg"
                         style="width: 80%">
                </span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:12px;"><b>各シリーズの10連</b><span style="font-size:12px;"><b>ガシャ</b></span><b>チケットが登場！
                    <br>
                「ログインボーナスを受け取る」「APを消費する」</b></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:12px;"><b>「部の最終クエスト（Normal）をクリアする」のミッション達成で
                    <br>
                シリーズの10連ガシャチケットと交換可能なアイテムが獲得可能！</b></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:12px;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/27587/content_2010281.png"
                         style="width: 108px;
                                height: 108px">
                </span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:12px;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/27586/content_2010281.png"
                         style="width: 376px;
                                height: 84px">
                </span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:12px;"><b>「交換・売却」から「交換所・引換所」＞「ポイントイベント交換所」</b></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:12px;"><b>＞「シリーズ10連チケット交換所」で好きなシリーズの10連</b><span style="font-size:12px;"><b>ガシャ</b></span><b>チケットが交換できる！</b></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:11px;">※一部シリーズは男性キャラクターのみが登場する「Boys ver」</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:11px;">女性キャラクターのみが登場する「Girls ver」のチケットが設定されています</span>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                <span style="font-size:11px;">【10/28更新】</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:11px;">交換所の所在を追記しました</span>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                <span style="font-size:12px;"><strong>◆ミッション開催期間◆</strong></span>
            </p>
            <p style="text-align: center;">
                <span style="color:#FF4747;"><strong>2020/10/28(水)メンテナンス後～2020/12/31(木)23:59</strong></span>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>
            <hr>
            <p style="text-align: center;">
                <strong><strong><span style="font-size: 18px;"><span style="font-size: 18px;"><b>◆シリーズガシャフルオープン</b></span><span style="font-size: 18px;"><b>◆</b></span></span></strong></strong>
            </p>
            <p style="text-align: center;">
                <span style="font-size:12px;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/27567/content_10281.jpg"
                         style="width: 80%">
                </span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:12px;"><b>シリーズガシャフルオープン！
                    <br>
                各作品のシリーズガシャがお得に引ける！</b></span>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                <span style="font-size:12px;"><b>初回鏡晶石10連が75％OFFの『500鏡晶石』＆
                    <br>
                初回ダイヤ10連が50％OFFの『100ダイヤ』で引ける！</b></span>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                <span style="font-size:12px;"><strong>◆シリーズガシャフルオープン期間◆</strong></span>
            </p>
            <p style="text-align: center;">
                <span style="color:#FF4747;"><strong>2020/10/28(水)メンテナンス後～2020/11/19(木)23:59</strong></span>
            </p>
            <p style="text-align: center;">
                &nbsp;<span style="font-size:12px;">※上記フルオープン期間終了に伴い、初回鏡晶石75％OFFは終了となり、</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:12px;">特定のシリーズガシャを週替わりで開催する予定です</span>
            </p>
            <hr>
            <p>&nbsp;</p>
            <p style="text-align: center;">
                <strong><strong><span style="font-size: 18px;"><span style="font-size: 18px;"><b>◆魔鏡セレクトチケット</b></span><span style="font-size: 18px;"><b>◆</b></span></span></strong></strong>
            </p>
            <p style="text-align: center;">
                <strong><strong><span style="font-size:12px;"></span></strong></strong>
            </p>
            <p style="text-align: center;">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/27616/content_2010283.png"
                     style="width: 80%">
            </p>
            <p style="text-align: center;">
                <span style="font-size:14px;"><strong>「<font style="background-color: rgb(27, 44, 66);">4部公開記念！決戦＆オーバーレイ
                    <br>
                魔鏡セレクトチケット～Fairy&#39;s Requiem～</font>」</strong>は</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:14px;"><b>3部で登場したオーバーレイ魔鏡か決戦魔鏡を1つ選んで</b></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:14px;"><b>交換可能！</b></span>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                <span style="font-size:14px;">さらに、<span style="color:#FF9900;"><strong>魔鏡1枚が確定</strong></span>の</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:14px;">「<font style="background-color: rgb(27, 44, 66);">3部オーバーレイ魔鏡キャラクター10連ガシャチケット</font>」</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:14px;">「<font style="background-color: rgb(27, 44, 66);">3部決戦魔鏡キャラクター10連ガシャチケット」</font></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:14px;"><font style="background-color: rgb(27, 44, 66);">ギフト(大)&times;100がセットに！</font></span>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                <span style="font-size:12px;"><strong>◆セレクトチケット購入可能期間◆</strong></span>
                <br>
                <span style="color:#FF4747;"><span style="font-size:14px;"><strong>2020/10/28(水)メンテナンス後～2020/11/6(日)23:59</strong></span></span>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                4部公開記念のセレクトチケットは
                <br>
                11月にも登場予定！
                <br>
                <strong>「2部登場の決戦＆オーバーレイ魔鏡」や</strong>
            </p>
            <p style="text-align: center;">
                <strong>「季節魔鏡」</strong>が選べるセレクトチケットが登場予定！
            </p>
            <p style="text-align: center;">
                <span style="font-size:14px;"><font style="background-color: rgb(27, 44, 66);">続報をお楽しみに！</font></span>
            </p>
            <p style="text-align: center;">
                <br>
                &nbsp;
            </p>
            <hr>
            <p style="text-align: center;">
                <strong>◆4部公開記念ステップアップガシャ◆</strong>
            </p>
            <p style="text-align: center;">
                <span style="font-size:12px;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/27573/content_2010434.png"
                         style="width: 80%">
                </span>
            </p>
            <p>
                <strong>通常、季節、決戦、オーバーレイ</strong>の<strong>4枚の魔鏡</strong>が確定！
            </p>
            <p style="text-align: center;">
                <span style="font-size:14px;"><strong>4</strong>部公開記念で魔鏡が<strong>4</strong>枚確定の</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:14px;"></span><span style="font-size:14px;"><b>『魔鏡4枚ステップアップガシャ』開催</b><strong>！</strong></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:14px;"><span style="color:#FF4747;"><strong><strong><b>全4ステップで全ステップ魔鏡1枚確定！</b></strong></strong></span></span>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                <span style="font-size:14px;"><strong><strong><strong>◆</strong></strong></strong><span style="display: inline !important;
             float: none;
             background-color: rgb(27, 44, 66);
             color: rgb(255, 255, 255);
             font-family: 游ゴシック体,&quot;
             Yu Gothic&quot;
             ,YuGothic,&quot;
             ヒラギノ角ゴシック Pro&quot;
             ,&quot;
             Hiragino Kaku Gothic Pro&quot;
             ,メイリオ,Meiryo,Osaka,&quot;
             ＭＳ Ｐゴシック&quot;
             ,&quot;
             MS PGothic&quot;
             ,sans-serif;
             font-size: 14px;
             font-style: normal;
             font-variant: normal;
             font-weight: 700;
             letter-spacing: normal;
             orphans: 2;
             text-align: center;
             text-decoration: none;
             text-indent: 0px;
             text-transform: none;
             -webkit-text-stroke-width: 0px;
             white-space: normal;
             word-spacing: 0px">魔鏡4枚ステップアップガシャ</span><strong><strong><strong>◆</strong></strong></strong></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:14px;"><strong><strong><span style="color:#FF4747;"><strong>2020/10/28(水)メンテナンス後～2020/11/9(月)10:59</strong></span></strong></strong></span>
            </p>
            <p style="text-align: center;">
                <strong><strong><span style="font-size:11px;"></span></strong></strong>
            </p>
            <p style="text-align: center;">
                <strong><strong><span style="font-size:11px;"></span></strong></strong>
            </p>
            <hr>
            <p style="text-align: center;">
                <strong><strong>&nbsp;</strong></strong>
            </p>
            <p style="text-align: center;">
                <strong>◆4部公開記念！4人貰えるキャンペーン！◆</strong>
            </p>
            <p style="text-align: center;">
                <span style="font-size:12px;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/651/content____________.PNG"
                         style="width: 80%">
                </span>
            </p>
            <p>
                <b>各シリーズで4人PTが編成可能！4人貰えるキャンペーン開催！</b>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                <span style="font-size:14px;"><strong>4</strong>部公開記念でキャラクターを4人、</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:14px;"></span><span style="font-size:14px;"><b>★5、★4、★3の交換対象の装備から好きな装備が選べる</b></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:14px;"><b>『装備セレクトチケット』を全プレイヤーにプレゼント</b><strong>！</strong></span>
            </p>
            <p style="text-align: center;">
                <span style="color:#FF9900;"><strong>好きなシリーズでPTを組んでみよう！</strong></span>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                <span style="font-size:14px;"><strong><strong><strong>◆プレゼント内容</strong></strong></strong><strong><strong><strong>◆</strong></strong></strong></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:14px;"><strong><strong><strong>『キャラクター交換チケット&times;4』</strong></strong></strong></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:14px;"><strong><strong><strong>&rArr;1</strong></strong></strong></span><span style="font-size:14px;"><span style="font-size:14px;">枚につき好きなキャラクターを1名仲間にすることができます
                    <br>
                    <span style="font-size:11px;">※コラボキャラクターは対象外となります。</span></span></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong><strong><strong>『★5鏡装セレクトチケット&times;4』</strong></strong></strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong><strong><strong>&rArr;1</strong></strong></strong></span><span style="font-size:14px;"><span style="font-size:14px;">枚につき★5鏡装が1枚交換可能</span></span>
                    <br>
                    <span style="font-size:11px;">※2020/6/30までに登場した第一鏡装が対象となります。</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">※コラボキャラクターは対象外となります。</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong><strong><strong>『★4装備セレクトチケット&times;1』</strong></strong></strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong><strong><strong>&rArr;1</strong></strong></strong></span><span style="font-size:14px;"><span style="font-size:14px;">枚につき★4装備が4枚交換可能</span></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">※2020/10/22までに登場した★4装備が対象となります。</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">※かめにんショップ限定装備、イベント限定装備、</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">コラボキャラクターは対象外となります。</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong><strong><strong>『★3装備セレクトチケット&times;2』</strong></strong></strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong><strong><strong>&rArr;1</strong></strong></strong></span><span style="font-size:14px;"><span style="font-size:14px;">枚につき★3装備が4枚交換可能</span></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">※2020/10/22までに登場した★3装備が対象となります。</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">※かめにんショップ限定装備、イベント限定装備、</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">コラボキャラクターは対象外となります。</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong><strong><strong>◆装備セレクトチケット交換可能期間</strong></strong></strong><strong><strong><strong>◆</strong></strong></strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong><strong><span style="color:#FF4747;"><strong>2020/10/28(水)メンテナンス後～2020/12/31(木)23:59</strong></span></strong></strong></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:12px;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/27595/content_1801251.png"
                             style="width: 108px;
                                    height: 108px">
                    </span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:12px;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/27592/content_2010284.png"
                             style="width: 296px;
                                    height: 96px">
                    </span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:12px;"><span style="font-size:12px;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/27591/content_2010285.png"
                             style="width: 296px;
                                    height: 96px">
                    </span></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:12px;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/27589/content_2010286.png"
                             style="width: 296px;
                                    height: 96px">
                    </span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong><strong><strong>『キャラクター交換チケット』</strong></strong></strong>は「交換・売却」から
                        <br>
                    「交換所・引換所」＞「ポイントイベント交換所」</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;">＞「好きなキャラクター交換所」から
                        <br>
                    好きなキャラクラーを仲間にすることができます</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:12px;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/27596/content_20201027_144257.png"
                             style="width: 80%">
                    </span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong><strong><strong>各装備の『セレクトチケット』は</strong></strong></strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;">ガシャ画面の『セレクトチケット』から
                        <br>
                    好きな装備と交換することができます</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:12px;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/27598/content_20201027_144642.png"
                             style="width: 80%">
                    </span>
                </p>
                <hr>
                <p style="text-align: center;">
                    <strong><strong><span style="font-size:12px;"><span style="font-size:12px;"></span></span> </strong></strong>
                </p>
                <p style="text-align: center;">
                    <strong>◆かめにんショップセール◆</strong>
                </p>
                <p style="text-align: center;">ver4.0の強化リニューアルを記念し、</p>
                <p style="text-align: center;">
                    ★4装備、★3装備が<strong>半額</strong>で購入できる
                </p>
                <p style="text-align: center;">かめにんショップセールを開催！</p>
                <p style="text-align: center;">
                    <span style="font-size:12px;">※強化リニューアルに伴い、2本目以降の購入制限を解除いたしました</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong>◆かめにんショップセール対象◆</strong></span>
                </p>
                <p style="text-align: center;">
                    <strong>2020/6/30(火)までに登場した★4装備、★3装備</strong>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong>◆かめにんショップセール期間◆</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>2020/10/28(水)メンテナンス後～2020/11/20(金)11:59</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:12px;">※11/20(金)12:00頃のデータ配信にて終了となります。</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:12px;"><span style="font-size:12px;"><span style="font-size:12px;">引き続き『TALES OF THE RAYS』をよろしくお願い申し上げます。</span><span style="font-size:12px;"></span></span></span>
                </p>
                <p>
                    <strong><strong><span style="font-size:12px;"><span style="font-size:12px;"> </span></span></strong></strong>
                </p>
            </div>
        </body>
    </html>
