<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/27607/content_2010151.png"
                     style="width: 100%;
                            margin: 10px auto">
            </p>
            <hr>
            <p>
                <span style="font-size:14px;"><b>歴代主人公</b>の<span style="color:#FF4747;"><strong>『第一鏡装』のみ</strong></span>が出現する</span>
            </p>
            <p>
                <span style="font-size:14px;">主人公鏡装確定チケットガシャ!!</span>
            </p>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                <span style="font-size:14px;"><span style="font-size:14px;">主人公鏡装確定チケットガシャ</span>を引くには</span>
                <br>
                「<span style="font-size:14px;">主人公鏡装確定ガシャ<span style="font-size:14px;">チケット</span></span>」が必要です。
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/27343/content_201015.png"
                     style="width: 108px;
                            height: 108px">
            </p>
            <div class="frame1" style="text-align: center;">
                <strong><span style="font-size:14px;">『</span></strong><span style="font-size:14px;">主人公鏡装確定チケットガシャ</span><strong>』
                    <br>
                獲得可能鏡装一覧</strong>
                <br>
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22542/content_15001.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22536/content_35001.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22260/content_95001.png"
                     style="width: 80px;
                            height: 80px">
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22265/content_125001.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22269/content_145001.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22274/content_175001.png"
                     style="width: 80px;
                            height: 80px">
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22277/content_195001.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22287/content_245001.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22293/content_275001.png"
                     style="width: 80px;
                            height: 80px">
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22295/content_285001.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22299/content_305001.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22300/content_315001.png"
                     style="width: 80px;
                            height: 80px">
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22313/content_375001.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22320/content_405001.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22326/content_435001.png"
                     style="width: 80px;
                            height: 80px">
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22332/content_465001.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22349/content_555001.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22355/content_585001.png"
                     style="width: 80px;
                            height: 80px">
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22362/content_625001.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22370/content_715001.png"
                     style="width: 80px;
                            height: 80px">
            </div>
            <hr>
            <div class="frame2">
                <p style="text-align:center;">《注意事項&nbsp;》</p>
                <p class="indent">
                    <span style="font-size:11px;">・本ガシャは「主人公鏡装確定チケット」のみで実行できます。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・本ガシャは主人公鏡装確定チケット1枚につき、1回実行できます。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・本ガシャからはイクス、クレス、スタン、リッド、カイル、ロイド、ヴェイグ、</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">セネル、ルーク、カイウス、ルカ、エミル、ユーリ、シング、</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">アスベル、ジュード、</span><span style="font-size:11px;">ミラ＝マクスウェル、ルドガー、スレイ、ベルベットの</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">いずれかの★5第一鏡装が獲得できます。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・本ガシャからは重複する★5第一鏡装が出現する可能性がございます。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・本ガシャからは★5第二鏡装、コラボ鏡装、裏鏡装は出現しません。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・イベント限定ポイントボーナス及び攻略戦ボーナスの効果は、</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">該当のイベント開催時のみ発動します。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・イベント限定ポイントボーナス及び攻略戦ボーナスが発動する</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">鏡装の一覧は、該当イベントのお知らせをご確認ください。</span>
                </p>
            </div>

        </div>
    </body>
</html>
