<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28263/content_2010421.png"
                     style="width: 100%;
                            margin: 10px auto">
            </p>
            <hr>
            <p>
                <span style="font-size:14px;"><span style="color:#FF9900;"><b>2020/6/30までに登場した通常魔鏡＆通常鏡装＆裏鏡装</b></span>が出現する</span>
            </p>
            <p>
                <span style="color:#FF4747;"><strong><span style="font-size:14px;">4部公開記念10連チケットガシャ</span></strong></span><span style="font-size:14px;">が開催!!</span><span style="color:#FF4747;"></span>
            </p>
            <p>&nbsp;</p>
            <p>
                <span style="font-size:16px;">4部公開記念10連チケットガシャは</span>
            </p>
            <p>
                <span style="font-size:16px;"><strong><span style="color:#FF4747;">魔鏡1枚確定</span></strong>＆<strong>★4以上が確定!!</strong></span>
            </p>
            <p>
                <span style="font-size:16px;"></span><span style="font-size:16px;">さらに<span style="color:#FF4747;"><strong>鏡装12%</strong></span>、<strong><span style="color:#FF4747;">魔鏡10%</span></strong>の<strong>通常の<span style="color:#FF9900;">2</span><span style="color:#FF9900;">倍</span>の提供割合で登場!!</strong></span>
            </p>
            <p>&nbsp;</p>
            <p>
                <strong><span style="font-size:14px;"></span></strong>
            </p>
            <p>◆開催期間◆</p>
            <p>
                <span style="color:#FF4747;"><strong>2020/11/21(土) 0:00 ～2021/1/31(日) 23:59</strong></span>
            </p>
            <p>
                <strong><span style="color:#FF4747;"><span style="font-size:14px;"></span><span style="font-size:14px;"></span></span></strong>
            </p>
            <p>
                <strong><span style="font-size:14px;"></span></strong>
            </p>
            <p>
                <strong><span style="font-size:14px;"></span></strong>
            </p>
            <p>
                <span style="font-size:14px;"></span><strong><span style="color:#FF0000;"></span><span style="color:#FF0000;"></span></strong>
            </p>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                <span style="font-size:14px;"><span style="font-size:14px;">4部公開記念10連チケットガシャ</span>を引くには</span>
                <br>
                「4部公開記念<span style="font-size:14px;">10連ガシャ<span style="font-size:14px;">チケット</span><span style="font-size:14px;"></span></span>」が必要です。
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28268/content_201042.png"
                     style="width: 108px;
                            height: 108px">
            </p>
            <div class="frame1" style="text-align: center;">
                <span style="font-size:14px;">『4部公開記念</span><span style="font-size:14px;">10連チケットガシャ</span>』
                <br>
                <strong>登場する魔鏡</strong>
                <br>
                <span style="color:#FF9900;"><strong>2020/6/30 までに登場した通常魔鏡が全て登場</strong></span>
                <br>
                <span style="font-size:11px;">※コラボキャラクターを除く</span>
                <br>
                <br>
                <strong>登場する通常鏡装</strong>
                <br>
                <span style="color:#FF9900;"><strong>2020/6/30 までに登場した通常鏡装が全て登場</strong></span>
                <br>
                <br>
                <strong>登場する裏鏡装</strong>
                <br>
                <strong><span style="color:#FF9900;">2020/6/30 までに登場した裏鏡装が全て登場</span></strong>
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28000/content_15004.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28001/content_25004.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28002/content_95003.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28003/content_105003.png"
                     style="width: 80px;
                            height: 80px">
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28004/content_125003.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28005/content_155003.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28006/content_165003.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28007/content_185003.png"
                     style="width: 80px;
                            height: 80px">
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28008/content_225003.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28009/content_245003.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28010/content_315003.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28011/content_335003.png"
                     style="width: 80px;
                            height: 80px">
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28012/content_375003.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28013/content_505003.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28014/content_635003.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28015/content_675003.png"
                     style="width: 80px;
                            height: 80px">
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28016/content_705003.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28017/content_725003.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28018/content_775003.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28019/content_815003.png"
                     style="width: 80px;
                            height: 80px">
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28020/content_825003.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28021/content_835003.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28029/content_865002.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28023/content_905003.png"
                     style="width: 80px;
                            height: 80px">
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28024/content_935003.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28025/content_1625003.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28026/content_1635003.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28027/content_1755003.png"
                     style="width: 80px;
                            height: 80px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28267/content_1835003.png"
                     style="width: 80px;
                            height: 80px">
            </div>
            &nbsp;
            <p>&nbsp;</p>
            <hr>
            <div class="frame2">
                <p style="text-align:center;">《注意事項&nbsp;》</p>
                <p class="indent">
                    <span style="font-size:11px;">・本ガシャは「4部公開記念10連ガシャチケット」のみで実行できます。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・本ガシャは「4部公開記念10連ガシャチケット」1枚につき、1回実行できます。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・本ガシャからは2020年6月30日までに登場した通常魔鏡を持つキャラクターの
                        <br>
                    通常魔鏡・★5鏡装・★4装備のいずれかが獲得できます。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・イベント限定ポイントボーナス及び攻略戦ボーナスの効果は、
                        <br>
                    該当のイベント開催時のみ発動します。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・イベント限定ポイントボーナス及び攻略戦ボーナスが発動する
                        <br>
                    魔鏡・装備の一覧は、該当イベントのお知らせをご確認ください。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・表示されているステータス・効果・ポイントボーナス
                        <br>
                    攻略戦ボーナスは、最大強化後の値となります。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・本ガシャで獲得できる魔鏡から
                        <br>
                        限定キャラカスタム入手することはできません。</span><span style="font-size:11px;"></span>
                    </p>
                </div>

            </div>
        </body>
    </html>
