<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <strong>【予告】</strong>
            </p>
            <p style="text-align: center;">
                <strong>4部第2章配信!!</strong>
            </p>
            <hr>
            <section>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>2020/11/25(水) 14:00</strong></span>より
                </p>
                <p style="text-align: center;">
                    <font color="#ff4747"><b>4部第2章～魔眼を巡る戦争～</b></font>が<span style="color:#FF4747;"><strong>追加</strong></span>!!
                </p>
                <p style="text-align: center;">&nbsp;</p>
            </section>
            <section>
                <p style="text-align: center;">
                    <strong>◆配信開始予定日時◆</strong>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><span style="color:#FF4747;"><span style="color:#FF4747;"><strong>2020/11/25(水) 14:00～</strong></span></span></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    ◆<strong>あらすじ◆</strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/28276/content_20112501.jpg"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/28270/content_20201120_143255.png"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/28271/content_20201120_143411.png"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/28273/content_20201120_143505.png"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/28274/content_20201120_143843.png"
                         style="width: 80%">
                </p>
            </section>
            <section>
                <div class="frame2">
                    <p style="text-align:center;">&nbsp;《注意事項》</p>
                    <p>
                        <span style="font-size:11px;">・4部第2章は4部第1章クリア後に</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">プレイすることができます。</span>
                    </p>
                    <p class="indent">
                        <span style="font-size:11px;">・本お知らせ内に掲載されている内容は、</span>
                    </p>
                    <p class="indent">
                        <span style="font-size:11px;">予告なく変更することがあります。</span>
                    </p>
                </div>
            </section>
        </div>

    </body>
</html>
