<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <span style="font-size: 18px;"><b>術技強化6段階目全実装記念！</b></span>
            </p>
            <p>
                <span style="font-size: 18px;"><b>鏡結晶やガシャチケットをプレゼント！</b></span>
            </p>
            <hr>
            <p>
                <strong><span style="color:#FF4747;"></span></strong>
            </p>
            <section>
                <p style="text-align: center;">12/21の更新にてテイルズ各シリーズの</p>
                <p style="text-align: center;">術技強化6段階目が全実装！</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">テイルズ各シリーズの術技強化6段階目実装を記念して</p>
                <p style="text-align: center;">鏡結晶やガシャチケットなどをプレゼント！</p>
                <p style="font-weight: bold; text-align: center;">&nbsp;</p>
                <p style="font-weight: bold; text-align: center;">◆開催期間◆</p>
                <p style="text-align: center;">
                    <font color="#ff4747"><b>12/21(月)18:00～12/31(木)23:59</b></font>
                    <br>
                    ※22日以降は各日の12:00～12/31(木)23:59まで
                </p>
                <p style="text-align: center;">受け取り可能となります。</p>
                <p style="text-align: center;">※各チケットガシャの開催期限は各チケットガシャの</p>
                <p style="text-align: center;">お知らせをご覧ください。</p>
                <table align="center"
                       border="1"
                       cellpadding="0"
                       cellspacing="0"
                       style="table-layout:fixed;
                              width:100%">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: center;">
                                <p>
                                    <font size="2">12/21(月)</font>
                                </p>
                                <p>
                                    <font size="2">イバル確定ガシャチケット</font>
                                </p>
                                <p>正義の鏡結晶～TOX～</p>
                                <p>正義の鏡結晶～TOX2～</p>
                            </td>
                            <td style="text-align: center;">
                                <p>
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29141/content_201222.png"
                                         style="width: 64px;
                                                height: 64px">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29142/content_7161.png"
                                         style="width: 64px;
                                                height: 64px">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29143/content_7171.png"
                                         style="width: 64px;
                                                height: 64px">
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <p>
                                    <font size="2">12/22(火)</font>
                                </p>
                                <p>ビクトリーガシャチケット</p>
                                <p>精鏡珠&times;3</p>
                            </td>
                            <td style="text-align: center;">
                                <p>
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29144/content_200218.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29145/content_3001.png"
                                         style="width: 80px;
                                                height: 80px">
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <p>
                                    <font size="2">12/23(水)</font>
                                </p>
                                <p>
                                    <font size="2">平和の鏡結晶～TOP～</font>
                                </p>
                                <p>秩序の鏡結晶～TOD～</p>
                                <p>芽生えの鏡結晶～TOE～</p>
                            </td>
                            <td style="text-align: center;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29146/content_7021.png"
                                     style="width: 64px;
                                            height: 64px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29147/content_7031.png"
                                     style="width: 64px;
                                            height: 64px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29148/content_7041.png"
                                     style="width: 64px;
                                            height: 64px">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <p>
                                    <font size="2">12/24(木)</font>
                                </p>
                                <p>
                                    <font size="2">エクシリア確定ガシャチケット</font>
                                </p>
                                <p>
                                    <font size="2">エクシリア2確定ガシャチケット</font>
                                </p>
                                <p>正義の鏡結晶～TOX～</p>
                            </td>
                            <td style="text-align: center;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29166/content_30101902.png"
                                     style="width: 64px;
                                            height: 64px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29167/content_30102002.png"
                                     style="width: 64px;
                                            height: 64px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29142/content_7161.png"
                                     style="width: 64px;
                                            height: 64px">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <p>
                                    <font size="2">12/25(金)</font>
                                </p>
                                <p>魔鏡確定ビバ★チケット</p>
                                <p>正義の鏡結晶～TOX2～</p>
                            </td>
                            <td style="text-align: center;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29168/content_201017.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29143/content_7171.png"
                                     style="width: 80px;
                                            height: 80px">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <p>
                                    <font size="2">12/26(土)</font>
                                </p>
                                <p>
                                    <font size="2">ビクトリーガシャチケット</font>
                                </p>
                                <p>
                                    <font size="2">秩序の鏡結晶～TOD2～</font>
                                </p>
                                <p>
                                    <font size="2">生長の鏡結晶～TOS～&nbsp;</font>
                                </p>
                                <p>
                                    <font size="2">平和の鏡結晶～TOR～</font>
                                </p>
                            </td>
                            <td style="text-align: center;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29144/content_200218.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29149/content_7051.png"
                                     style="width: 80px;
                                            height: 80px">
                                <br>
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29150/content_7061.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29151/content_7071.png"
                                     style="width: 80px;
                                            height: 80px">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <p>
                                    <font size="2">12/27(日)</font>
                                </p>
                                <p>
                                    <font size="2">ビクトリーガシャチケット</font>
                                </p>
                                <p>
                                    <font size="2">正義の鏡結晶～TOL～</font>
                                </p>
                                <p>
                                    <font size="2">平和の鏡結晶～TOA～</font>
                                </p>
                                <p>
                                    <font size="2">芽生えの鏡結晶～TOT～</font>
                                </p>
                            </td>
                            <td style="text-align: center;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29144/content_200218.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29152/content_7161.png"
                                     style="width: 80px;
                                            height: 80px">
                                <br>
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29153/content_7091.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29154/content_7101.png"
                                     style="width: 80px;
                                            height: 80px">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <p>
                                    <font size="2">12/28(月)</font>
                                </p>
                                <p>
                                    <font size="2">ビクトリーガシャチケット</font>
                                </p>
                                <p>
                                    <font size="2">結実の鏡結晶～TOIR～</font>
                                </p>
                                <p>生長の鏡結晶～TOSR～</p>
                                <p>芽生えの鏡結晶～TOV～</p>
                            </td>
                            <td style="text-align: center;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29144/content_200218.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29155/content_7111.png"
                                     style="width: 80px;
                                            height: 80px">
                                <br>
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29156/content_7121.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29157/content_7131.png"
                                     style="width: 80px;
                                            height: 80px">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <p>
                                    <font size="2">12/29(火)</font>
                                </p>
                                <p>
                                    <font size="2">ビクトリーガシャチケット</font>
                                </p>
                                <p>
                                    <font size="2">秩序の鏡結晶～TOHR～</font>
                                </p>
                                <p>
                                    <font size="2">結実の鏡結晶～TOZ～</font>
                                </p>
                                <p>
                                    <font size="2">結実の鏡結晶～TOB～</font>
                                </p>
                            </td>
                            <td style="text-align: center;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29144/content_200218.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29158/content_7141.png"
                                     style="width: 80px;
                                            height: 80px">
                                <br>
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29160/content_7181.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29161/content_7191.png"
                                     style="width: 80px;
                                            height: 80px">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <p>
                                    <font size="2">12/30(水)</font>
                                </p>
                                <p>
                                    <font size="2">ビクトリーガシャチケット</font>
                                </p>
                                <p>
                                    <font size="2">秩序の鏡結晶～TOLink～</font>
                                </p>
                                <p>
                                    <font size="2">正義の鏡結晶～TOW～</font>
                                </p>
                                <p>
                                    <font size="2">全知の鏡結晶～TORays～</font>
                                </p>
                            </td>
                            <td style="text-align: center;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29144/content_200218.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29162/content_7201.png"
                                     style="width: 80px;
                                            height: 80px">
                                <br>
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29163/content_7231.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29164/content_7011.png"
                                     style="width: 80px;
                                            height: 80px">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <p>
                                    <font size="2">12/31(木)</font>
                                </p>
                                <p>魔鏡確定ビバ★チケット</p>
                                <p>
                                    <font size="2">ビクトリーガシャチケット</font>
                                </p>
                                <p>
                                    <font size="2">生長の鏡結晶～TOGｆ～&nbsp;</font>
                                </p>
                            </td>
                            <td style="text-align: center;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29168/content_201017.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29144/content_200218.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29165/content_7151.png"
                                     style="width: 80px;
                                            height: 80px">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr>
            </section>
        </div>

    </body>
</html>
