<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- お知らせトップ画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29272/content_20123151.png"
                     style="width: 100%">
            </p>
            <hr>
            <p>
                <span style="font-size:14px;">高難度サバイバルダンジョン</span>
            </p>
            <p>
                <span style="font-size:14px;"></span><span style="font-size:16px; color:#ff4747;"><strong>『始祖久遠の塔</strong><span style="font-size:16px; color:#ff4747;"><strong>&nbsp;睦月編</strong></span><strong>』</strong></span><span style="font-size:14px;">開催!!</span>
            </p>
            <p>&nbsp;</p>
            <p>
                <span style="font-size:16px;"><b><span style="color:#FF4747;">『物攻・物防+』『術攻・術防+』</span></b></span><span style="font-size:14px;"><b>の
                    <br>
                    覚醒スキルが</b></span><span style="font-size:14px;"><b><span style="color:#FF9900;">55階から獲得可能!!</span></b></span>
                </p>
                <p>&nbsp;</p>
                <p>
                    <span style="font-size:14px;"><strong>初回クリア報酬</strong>と</span><span style="font-size:14px;"><strong>覚醒スキル</strong>は<strong>10階</strong>ごとに獲得可能!!</span>
                </p>
                <p>
                    <span style="font-size:14px;"><span style="color:#ff4747;"><strong>消費APは0</strong></span>なので気軽に挑戦してみよう！</span>
                </p>
                <p>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/2343/content_tutorial_Tower_Web1.jpg"
                         style="width: 90%">
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong><span style="font-size:18px;">50階踏破で<span style="color:#ff4747;">ダイヤ合計250個</span>獲得！</span></strong>
                </p>
                <p>
                    <strong>さらに、50階から先のEXTRA STAGE攻略で</strong>
                </p>
                <p>
                    <b><span style="color:#FF4747;">精鏡珠</span>が獲得可能!!</b>
                </p>
                <div class="frame1">
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/108/content_2.png"
                             style="vertical-align: middle;
                                    margin:4px;
                                    width: 81px;
                                    height: 81px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/11749/content_1.png"
                             style="vertical-align: middle;
                                    margin: 4px;
                                    width: 81px;
                                    height: 81px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/110/content_101.png"
                             style="vertical-align: middle;
                                    margin:4px;
                                    width: 81px;
                                    height: 81px">
                        <br>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/109/content_1001.png"
                             style="vertical-align: middle;
                                    margin:4px;
                                    width: 81px;
                                    height: 81px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/111/content_2001.png"
                             style="vertical-align: middle;
                                    margin:4px;
                                    width: 81px;
                                    height: 81px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/6185/content_3001.png"
                             style="vertical-align: middle;
                                    margin: 4px;
                                    width: 80px;
                                    height: 80px">
                        <br>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/4191/content_5001.png"
                             style="vertical-align: middle;
                                    margin: 4px;
                                    width: 81px;
                                    height: 81px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/113/content_5002.png"
                             style="vertical-align: middle;
                                    margin:4px;
                                    width: 81px;
                                    height: 81px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/114/content_5003.png"
                             style="vertical-align: middle;
                                    margin:4px;
                                    width: 81px;
                                    height: 81px">
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/8682/content_room_gift_m.png"
                             style="vertical-align: middle;
                                    margin:4px;
                                    width: 81px;
                                    height: 81px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/7507/content_4.png"
                             style="vertical-align: middle;
                                    margin: 4px;
                                    width: 80px;
                                    height: 80px">
                        <br>
                        ※始祖久遠の塔メイン画面の<strong>「報酬確認」</strong>ボタンより、
                        <br>
                        　報酬フロアごとに入手可能な報酬の詳細を確認できます。
                    </p>
                </div>
                <p style="font-weight: bold; text-align: center;">&nbsp;</p>
                <p style="font-weight: bold; text-align: center;">◆開催期間◆</p>
                <p>
                    <strong><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;">2020/12/31(木) 14:00～2021/1/31(日) 10:59</span></strong>
                </p>
                <p>&nbsp;</p>
                <p style="font-weight: bold; text-align: center;">◆久遠の書交換所 開催期間◆</p>
                <p>
                    <strong><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;">2021/12/31(木) 14:00～2021/3/31(水) 10:59</span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span></strong>
                </p>
                <p>
                    <strong><span style="color:#ff4747;"></span></strong>
                </p>
                <p>
                    <strong><span style="color:#ff4747;"></span></strong>
                </p>
                <hr>
                <p>&nbsp;</p>
                <p style="font-weight: bold; text-align: center;">◆始祖久遠の塔 参加条件◆</p>
                <div class="frame1">
                    ・キャラクターを1人以上<strong>覚醒</strong>させる。
                </div>
                <p style="font-weight: bold; text-align: center;">&nbsp;</p>
                <hr>
                <p>&nbsp;</p>
                <p style="font-weight: bold; text-align: center;">◆基本ルール◆</p>
                <p>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/27711/content_content_20103152_flow.png"
                         style="width: 100%">
                </p>
                <div class="frame1">
                    ・始祖久遠の塔は、<strong>覚醒キャラクター限定</strong>のサバイバルダンジョンです。
                    <br>
                    ・<strong>大人数チーム</strong>を編成して、最上階を目指しましょう。
                    <br>
                    ・戦闘不能になったキャラクターは、戦闘終了時に脱落扱いとなり、
                    <br>
                    　控えのキャラクターと入れ替わっていきます。
                    <br>
                    ・全員が脱落すると、ゲームオーバーです。（リトライはできません）
                    <br>
                    ・特定の報酬フロアをクリアするごとに<strong>「覚醒スキル」</strong>を習得可能です。
                    <br>
                    ・報酬フロアの初回クリア時には<strong>「初回クリア報酬」</strong>を獲得します。
                </div>
                <p>&nbsp;</p>
                <hr>
                <p style="font-weight: bold; text-align: center;">&nbsp;</p>
                <p style="font-weight: bold; text-align: center;">◆覚醒スキル◆</p>
                <div class="frame1">
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/2324/content_skill_11.png"
                             style="margin:4px;
                                    width: 54px;
                                    height: 54px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/2326/content_skill_111.png"
                             style="margin:4px;
                                    width: 54px;
                                    height: 54px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/2327/content_skill_121.png"
                             style="margin:4px;
                                    width: 54px;
                                    height: 54px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/2328/content_skill_181.png"
                             style="margin:4px;
                                    width: 54px;
                                    height: 54px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/2329/content_skill_191.png"
                             style="margin:4px;
                                    width: 54px;
                                    height: 54px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/2330/content_skill_241.png"
                             style="margin:4px;
                                    width: 54px;
                                    height: 54px">
                    </p>
                    <p>
                        ・<strong>覚醒キャラクターのみ</strong>が習得できる特殊能力です。
                        <br>
                        ・覚醒したキャラクターは、<strong>３枠の覚醒スキルスロット</strong>が開放されます。
                        <br>
                        ・特定の<strong>報酬フロア</strong>をクリアするごとに、覚醒スキルの習得が可能です。
                        <br>
                        ・覚醒スキルは、始祖久遠の塔以外のクエストでも効果を発揮します。
                        <br>
                        ・1部＆3部の主人公イクスと2部の主人公コーキスは、
                    </p>
                    <p>同じスキルスロットを共有し、</p>
                    <p>
                        　どちらか一方が習得したスキルはもう一方でも使用可能です。
                        <br>
                        ・パラメーター上昇系スキルの効果はバトル中にのみ発揮され、
                        <br>
                        　バトル以外の画面では効果を含まない状態の数値が表示されます。
                    </p>
                </div>
                <p>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/3215/content_tutorial_Tower_Web3.jpg"
                         style="width: 100%">
                </p>
                <p>&nbsp;</p>
                <hr>
                <p style="font-weight: bold; text-align: center;">
                    <span style="font-size:16px;">◆アニマスフィア◆</span>
                </p>
                <div class="frame1">
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/2332/content_AnimaSphere.png"
                             style="border: 2px #80a0ff solid;
                                    width: 48px;
                                    height: 48px">
                    </p>
                    <p>
                        ・<strong>「アニマスフィア」</strong>は、
                    </p>
                    <p>
                        　始祖久遠の塔および総力戦限定の強化アイテムです。
                        <br>
                        ・所持個数に応じてキャラクターの能力を<strong>自動的に強化</strong>します。
                        <br>
                        ・魔鏡や★5鏡装を装備していたり、それらを限界突破している場合には、
                    </p>
                    <p>得られるアニマスフィアの個数が増加します。</p>
                    <p>
                        　※報酬魔鏡を除く。
                        <br>
                        ・始祖久遠の塔のフロアをクリアするごとに減少していきます。
                        <br>
                        ・精霊装はレアリティ上昇により、
                    </p>
                    <p>得られるアニマスフィアの個数が増加します。</p>
                </div>
                <p>&nbsp;</p>
                <p style="font-weight: bold; text-align: center;">
                    <span style="font-size:16px;">◆スフィア共鳴キャラクター◆</span>
                </p>
                <div class="frame1">
                    <p>
                        ・<strong>「スフィア共鳴キャラクター」</strong>は、アニマスフィアの獲得個数が
                    </p>
                    <p>通常よりも増加します。</p>
                    <p>
                        ・12/31(木)開催回では、以下の8人が該当します。
                        <br>
                        ※始祖久遠の塔の「スフィア共鳴キャラクター」は
                        <br>
                        　総力戦の「スフィア共鳴キャラクター」には該当しません。
                    </p>
                    <p>&nbsp;</p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/657/content______________1_.png"
                             style="width: 50%">
                    </p>
                    <p style="text-align: center;">イバル　アリーシャ　レイア　エステル</p>
                    <p style="text-align: center;">フィリア　ロニ　マリク リーガル</p>
                </div>
                <!--

<p style="font-weight: bold; text-align: center;">◆既知の不具合（<span style="color:#ff4747;">2017/12/26&nbsp;12:00更新</span>）◆</p>

<div class="frame1">
<p>現時点で判明している始祖久遠の塔&beta;版の不具合をお知らせします。</p>

<p>修正完了時には、その旨お知らせにて、ご案内いたします。</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>ご迷惑をおかけしておりますことお詫び申し上げます。</p>
</div>

<p>&nbsp;</p>

-->
                <div class="frame2">
                    <p style="text-align:center;">《&nbsp;注意事項&nbsp;》</p>
                    <p>
                        <span style="font-size:11px;"></span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・『始祖久遠の塔』の内容は、開催回ごとに変更される可能性があります。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・習得した覚醒スキルや、獲得した初回クリア報酬は、開催終了後も</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">引き続き使用することができます。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・始祖久遠の塔の出現モンスター、最大フロア数、習得可能な覚醒スキル、</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">初回クリア報酬、スフィア共鳴キャラクター等は、開催回ごとに異なります。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・久遠の書交換所のラインナップは開催回毎に異なります。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・久遠の書交換所の期間終了時に未使用となっている「久遠の書」は、</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">次回開催の久遠の書交換所で、引き続きご利用いただけます。</span><span style="font-size:11px;"></span><span style="font-size:11px;"></span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・始祖久遠の塔のバトル中にアプリが強制終了された場合は、</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">アプリの再起動後に同じフロアの最初からプレイすることができます。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">※ただし、ご使用の端末に正常なセーブデータが保存されていなかった場合、</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">最後にサーバーに保存されたフロアからプレイを再開します。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・始祖久遠の塔のプレイ中に開催期間が終了した場合、次の報酬フロアまで</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">プレイを継続できますが、その先のフロアへ進むことはできません。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・デイリーボーナスのリセット時間は0:00となります。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・鏡晶石によるスキップ機能のリセット時間は0:00となります。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;"></span>
                    </p>
                </div>
            </div>
            <p style="text-align: center;">&nbsp;</p>

        </body>
    </html>
