<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/19133/content_1912251.png"
                     style="width: 100%">
            </p>
            <hr>
            <p>
                <span style="font-size:14px;"><b>ミトス</b></span><span style="font-size:14px;">の</span>
            </p>
            <p>
                <span style="font-size:14px;"><strong><span style="color:#FF4747;">『魔鏡』と『装備』のみ</span></strong>が出現する</span>
            </p>
            <p>
                <span style="font-size:14px;">【復刻】ミトス確定チケットガシャが開催!!</span>
            </p>
            <p>&nbsp;</p>
            <p style="font-weight:bold;">◆開催期間◆</p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong><strong><span style="color:#FF4747;">イベント終了＋4日間</span></strong>
            </p>
            <p>&nbsp;</p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong><strong><span style="color:#FF4747;"></span></strong><strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                【復刻】ミトス確定チケットガシャでは、
                <br>
                <b>ミトス</b>の<span style="color:#FF4747;"><strong>『</strong><span style="color:#FF4747;"><strong>装備</strong></span><strong>』と『</strong><span style="color:#FF4747;"><strong>魔鏡</strong></span><strong>』のみ</strong></span>が出現!!
            </p>
            <div class="frame1">
                <p style="text-align: center;">
                    <strong>ミトスの魔鏡・装備</strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/3777/content_6710002.png"
                             style="width: 80px;
                                    height: 80px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/3781/content_675001.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/19220/content_675002.png"
                             style="width: 80px;
                                    height: 80px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/3778/content_674001.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/3779/content_674002.png"
                             style="width: 80px;
                                    height: 80px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/3782/content_673001.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/3783/content_673002.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/3784/content_673003.png"
                             style="width: 80px;
                                    height: 80px">
                    </strong>
                </p>
            </div>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                <strong>【復刻】ミトス確定ガシャチケット</strong>は
                <br>
                <strong>『【復刻】攻略戦 ミトス・ユグドラシル​』ガシャ</strong>のおまけ
                <br>
                またはポイントイベント交換所で入手が可能!<!-- 仕切り -->
            </p>
            <hr>
            <section>
                <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                <img src="{{ s3_url }}public/uploads/ckeditor/pictures/19135/content_1912232.png"
                     style="width: 100%;
                            margin: 10px auto">
                <ul class="box">
                    <li>
                        <strong>魔鏡技:<font color="#ff4747">エターナル・ディバイド</font></strong><span style="color:#f33;"></span><strong>威力：</strong><font color="#FF4747"><b>1661</b></font>
                    </li>
                    <li style="text-align:right;float:right">
                        <b>ミトス</b>専用
                    </li>
                </ul>
                <div class="frame1">
                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        <strong>効果内容</strong>&nbsp;
                                        <br>
                                        時間と空間を操る魔剣の力で、時空を切
                                    </p>
                                    <p>り裂き敵を飲み込む魔鏡技</p>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong><a href="https://www.youtube.com/watch?v=E3DpPaVVokEexternalbrowser=true">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                 style="width: 60px;
                                                        height: 60px">
                                        </a></strong>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section>
                <p>&nbsp;</p>
                <hr>
                <section>
                    <div class="frame2">
                        <p style="text-align:center;">
                            <b>《 注意事項&nbsp;》</b>
                        </p>
                        <p>
                            <span style="font-size:11px;">・本ガシャは「【復刻】ミトス確定ガシャチケット」のみで実行できます。
                                <br>
                                ・本ガシャは【復刻】ミトス確定ガシャチケット1枚につき、1回実行できます。
                                <br>
                                ・本ガシャからはミトスの魔鏡・★5鏡装・★4装備・★3装備の
                                <br>
                                　いずれかが獲得できます。
                                <br>
                                ・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。
                                <br>
                                ・イベント限定ポイントボーナス及び攻略戦ボーナスの効果は、
                                <br>
                                　該当のイベント開催時のみ発動します。
                                <br>
                                ・イベント限定ポイントボーナス及び攻略戦ボーナスが発動する
                                <br>
                                　魔鏡・装備の一覧は、該当イベントのお知らせをご確認ください。
                                <br>
                                ・表示されているのは、
                                <br>
                                　最大強化後のステータス・効果・ポイントボーナス
                                <br>
                                　攻略戦ボーナス値となります。
                                <br>
                                ・期間限定の魔鏡・装備・キャラカスタムは再登場する場合がございます。
                                <br>
                                ・キャラカスタム付き魔鏡で手に入る同一のキャラカスタムは
                                <br>
                                　複数入手することはできません。
                                <br>
                                ・キャラカスタム付き魔鏡で衣装を入手した場合、
                                <br>
                                　かめにんショップでの交換は不要です。
                                <br>
                                ・キャラカスタムを先にかめにんショップから入手した場合、
                                <br>
                                　キャラカスタム付き魔鏡で複数入手はできません。
                                <br>
                                ・本ガシャに以下の魔鏡は含まれませんのでご注意ください。
                                <br>
                            　ミトスの魔鏡「ポーカーフェイス」<span style="font-size:11px;"></span></span>
                        </p>
                    </div>
                </section>
            </section>
        </div>
        <p>
            <strong></strong>
        </p>
    </body>
</html>
