<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <strong>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/28839/content_5122.png"
                         style="width: 60%">
                </strong>
            </p>
            <hr>
            <p>
                <strong><span style="font-size:18px;">&nbsp;『<span style="color:#FF9900;">25周年記念&nbsp;</span></span></strong><strong><span style="font-size:18px;"><span style="color:#FF9900;">ミ</span><span style="color:#FF9900;">ラクル</span><span style="color:#FF9900;">BOSSチャレンジ</span>』開催!!</span></strong>
            </p>
            <p>&nbsp;</p>
            <p style="text-align: center;">
                <strong>◆開催期間◆</strong>
            </p>
            <p style="text-align: center;">
                <span style="color:#FF4747;"><strong>2020/12/15(火) 23:00～2021/2/1(月) 23:59</strong></span>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p>
                <span style="font-size:16px;"><strong>&darr;クエストミッションクリアで&darr;</strong></span>
            </p>
            <section>
                <div class="frame1">
                    <p>
                        <span style="color:#FFFFFF;"></span><span style="font-size:14px;"><strong>ミラクルBOSSチャレンジで<span style="color:#FF9900;">ダイヤ合計190個</span>をGET!!</strong></span>
                    </p>
                    <p>&nbsp;</p>
                    <p>
                        <strong><span style="font-size:14px;">【チャレンジ初級】</span></strong>
                    </p>
                    <p>
                        <span style="font-size:14px;"><strong>　・<span style="color:#FF9900;">イクスの鏡装・魔鏡</span>をGET!!</strong></span>
                    </p>
                    <p>
                        <span style="font-size:14px;"><strong><span style="color:#FF9900;"></span>　・</strong></span><span style="font-size:14px;"><strong><span style="color:#FF9900;">キャラクターの限界突破</span>に必要な<span style="color:#FF9900;">鏡映片Ⅰ</span>を</strong></span>
                    </p>
                    <p>
                        <span style="font-size:14px;"><strong>選んで交換できる鏡映片Ⅰ</strong><span style="font-size:14px;"><strong>セレクトチケットをGET!!</strong></span></span><span style="font-size:14px;"></span>
                    </p>
                    <p>
                        <span style="font-size:14px;"><strong>　・<span style="color:#FF9900;">キャラクターの限界突破</span>に必要な<span style="color:#FF9900;">鏡映片Ⅱ</span>を</strong></span>
                    </p>
                    <p>
                        <span style="font-size:14px;"><strong>選んで交換できる鏡映</strong></span><span style="font-size:14px;"><strong>片Ⅱ</strong><span style="font-size:14px;"><strong>セレクトチケットをGET!!</strong></span></span>
                    </p>
                    <p>
                        <span style="font-size:14px;"><strong>　・<span style="color:#FF9900;">魔鏡10％ 鏡装10％</span>のビクトリーガシャチケットをGET!!</strong></span>
                    </p>
                    <p>
                        <span style="font-size:14px;"><strong>　・<span style="color:#FF9900;">魔鏡確定</span>の魔鏡確定ビバ★チケットをGET!!</strong></span>
                    </p>
                    <p>&nbsp;</p>
                    <p>
                        <strong><span style="font-size:14px;">【チャレンジEX】(高難易度)</span></strong>
                    </p>
                    <p>
                        <span style="font-size:14px;"><strong>　・<span style="color:#FF9900;">術技強化</span>に必要な<span style="color:#FF9900;">鏡結晶</span>を</strong></span>
                    </p>
                    <p>
                        <span style="font-size:14px;"><strong><span style="color:#FF9900;"></span>選んで交換できる鏡結晶交換チケットをGET!!</strong></span>
                    </p>
                    <p>
                        <span style="font-size:14px;"><strong>・対象キャラの</strong></span><span style="font-size:14px;"><strong>第一鏡装</strong></span><span style="font-size:14px;"><strong>が選べる</strong></span>
                    </p>
                    <p>
                        <span style="font-size:14px;"><strong></strong></span><span style="color:#FF9900;"><span style="font-size:16px;"><strong>★5鏡装セレクトチケット</strong></span></span><span style="font-size:14px;"><strong>を</strong></span><span style="font-size:14px;"><strong>GET!!</strong></span><span style="font-size:14px;"></span>
                    </p>
                    <p>
                        <span style="font-size:14px;"><strong>・対象キャラの</strong></span><span style="font-size:14px;"><strong>通常魔鏡と通常鏡装</strong></span><span style="font-size:14px;"><strong>が選べて手に入る</strong></span>
                    </p>
                    <p>
                        <span style="font-size:14px;"><strong></strong></span><span style="color:#FF4747;"><span style="font-size:18px;"><strong>25周年記念 魔鏡&amp;鏡装セレクトチケット</strong></span></span><span style="font-size:14px;"><strong>をGET!!</strong></span>
                    </p>
                </div>
                <section>
                    <p style="text-align: center;">『25周年記念 ミラクルBOSSチャレンジ』をクリアすると</p>
                    <p style="text-align: center;">
                        <span style="font-size:18px;"><span style="color:#FF9900;"><strong>『25周年記念 ミラクルBOSSチャレンジEX』が開放!!</strong></span></span>
                    </p>
                    <p style="text-align: center;">先へ進んで豪華報酬をGETしよう!!</p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/28936/content_5123.png"
                             style="width: 60%">
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <hr>
                    <p style="text-align: center;">
                        <span style="font-size:16px;"><strong>ミラクルBOSSチャレンジで<span style="color:#FF4747;">ダイヤ合計190個</span>をGET!!</strong></span><strong><span style="font-size:18px;"><span style="color:#FF4747;"></span></span></strong><font color="#ff4747"><span style="font-size: 18px;"></span></font>
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                </section>
                <section>
                    <section>
                        <p style="text-align: center;">
                            <b>ミラクルBOSSチャレンジはEXも含め、</b>
                        </p>
                        <p style="text-align: center;">
                            <b>全50クエストのBOSSバトル!!</b>
                        </p>
                        <p style="text-align: center;">
                            <b>コンプリートでダイヤ合計190個!!</b>
                        </p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/5715/content_2.png"
                                 style="width: 80px;
                                        height: 80px">
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <hr>
                        <p style="text-align: center;">
                            <span style="font-size:16px;"><span style="font-size:16px;"><strong><span style="color:#FF4747;">イクスの鏡</span><span style="color:#FF4747;">装・魔鏡</span>をGET!!</strong></span></span><font color="#ff4747"><span style="font-size: 18px;"></span></font>
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">
                            <strong>イクスの装備が入手可能</strong>
                            <br>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/26661/content_15001.png"
                                 style="width: 100px;
                                        height: 100px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/26660/content_15002.png"
                                 style="width: 100px;
                                        height: 100px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/26659/content_110002.png"
                                 style="width: 100px;
                                        height: 100px">
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">
                            <strong>鏡装『見習い鏡士からの卒業 イクス』</strong>は
                        </p>
                        <p style="text-align: center;">
                            <strong>「初級5」</strong>
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">
                            <strong>鏡装『決意の鏡精 コーキス』</strong>は
                        </p>
                        <p style="text-align: center;">
                            <strong>「初級8」</strong>
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">
                            <strong>魔鏡『決戦！マークvsイクス』</strong>は
                        </p>
                        <p style="text-align: center;">
                            <strong>「初級10」</strong>
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">上記クエストの</p>
                        <p style="text-align: center;">
                            各クエストミッション「<strong>初回クエストクリア</strong>」で獲得可能!
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <hr>
                        <p style="text-align: center;">
                            <font color="#ff4747"><span style="font-size: 18px;"></span></font><span style="font-size:16px;"></span>
                        </p>
                        <p style="text-align: center;">
                            <span style="font-size:16px;"><strong><span style="color:#FF4747;">キャラクターの限界突破</span>に必要な<span style="color:#FF4747;">鏡映片</span>を</strong></span>
                        </p>
                        <p style="text-align: center;">
                            <span style="font-size:16px;"><strong>選んで交換できる</strong></span>
                        </p>
                        <p style="text-align: center;">
                            <span style="font-size:16px;"><strong>セレクトチケットが入手可能!!</strong></span>
                        </p>
                        <p style="text-align: center;">
                            <span style="font-size:16px;"></span>
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">
                            <strong>キャラクターの限界突破に必要な</strong>
                        </p>
                        <p style="text-align: center;">
                            <strong>鏡映片と交換できる</strong>
                        </p>
                        <p style="text-align: center;">
                            <strong>セレクトチケットが入手可能!!</strong>
                        </p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/26678/content_1908311.png"
                                 style="width: 100px;
                                        height: 100px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/26679/content_1908312.png"
                                 style="width: 100px;
                                        height: 100px">
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">『鏡映片Ⅰセレクトチケット』で交換できる</p>
                        <p style="text-align: center;">『各キャラクターの鏡映片Ⅰ』で限界突破すると</p>
                        <p style="text-align: center;">
                            <strong>キャラクターのLv上限がアップ!!</strong>
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">更に限界突破するには</p>
                        <p style="text-align: center;">『各キャラクターの鏡映片Ⅱ』が必要ですが</p>
                        <p style="text-align: center;">
                            <strong>鏡映片Ⅱは『鏡映片Ⅱチケット』で入手可能!!</strong>
                        </p>
                        <p style="text-align: center;">この機会にお気に入りキャラクターを限界突破させよう</p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">交換できる『鏡映片Ⅰ』『鏡映片Ⅱ』のラインナップは交換所で確認しよう!!</p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/26672/content_2.png"
                                 style="width: 380px;
                                        height: 86px">
                        </p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/26673/content_1.png"
                                 style="width: 380px;
                                        height: 86px">
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">鏡映片Ⅰセレクトチケットは以下のクエストの</p>
                        <p style="text-align: center;">
                            クエストミッション「<strong>コンティニューを行わずにクリアする</strong>」で獲得可能!!
                        </p>
                        <p style="text-align: center;">
                            <strong>「初級6」</strong>
                        </p>
                        <p style="text-align: center;">
                            <strong>「初級7」</strong>
                        </p>
                        <p style="text-align: center;">
                            <strong>「初級9」</strong>
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">鏡映片Ⅱセレクトチケットは以下のクエストの</p>
                        <p style="text-align: center;">
                            クエストミッション「<strong>コンティニューを行わずにクリアする</strong>」で獲得可能!!
                        </p>
                        <p style="text-align: center;">
                            <strong>「初級11」</strong>
                        </p>
                        <p style="text-align: center;">
                            <strong>「初級12」</strong>
                        </p>
                        <p style="text-align: center;">
                            <strong>「初級13 闇属性で攻撃だ！」</strong>
                        </p>
                        <p style="text-align: center;">
                            <strong>「初級14」</strong>
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <hr>
                        <p style="text-align: center;">
                            <span style="font-size:16px;"><strong><span style="color:#FF4747;">魔鏡10％ 鏡装10％</span>のビクトリーガシャチケットが再登場!!</strong></span><font color="#ff4747"><span style="font-size: 18px;"></span></font>
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">
                            <strong>『ビクトリーチケットガシャ』</strong>が引ける
                        </p>
                        <p style="text-align: center;">
                            <strong>『ビクトリーガシャチケット』を<span style="font-size:16px;"><span style="color:#FF9900;">合計8枚</span></span></strong>獲得可能!!
                        </p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/8759/content_190124.png"
                                 style="width: 108px;
                                        height: 108px">
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">
                            <strong>『ビクトリーチケットガシャ』は</strong>
                        </p>
                        <p style="text-align: center;">
                            <b><span style="font-size:18px;"><span style="color:#FF4747;">魔鏡が10％ 鏡装が10％&nbsp;</span></span><span style="font-size:18px;">★4装備が80％</span>で出現!!</b>
                        </p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/26674/content_200218.png"
                                 style="width: 296px;
                                        height: 96px">
                        </p>
                        <p style="text-align: center;">※2019/8/31までに参戦したキャラクターの魔鏡・★5鏡装・★4装備のうち、</p>
                        <p style="text-align: center;">2019/8/31までに登場した魔鏡・★5鏡装・★4装備のいずれかが獲得できます</p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">ビクトリーガシャチケットは以下のクエストの</p>
                        <p style="text-align: center;">
                            クエストミッション「<strong>初回クエストクリア</strong>」で獲得可能!!
                        </p>
                        <p style="text-align: center;">キャラ＆装備を強化して挑戦してみよう!!</p>
                        <p style="text-align: center;">
                            <strong>「初級15 詠唱が長いやつを叩け！」</strong>
                        </p>
                        <p style="text-align: center;">
                            <strong>「初級20」</strong>
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <hr>
                        <p style="text-align: center;">
                            <span style="font-size:16px;"><strong><span style="color:#FF4747;">魔鏡確定</span>の魔鏡確定ビバ★チケットが再登場!!</strong></span><font color="#ff4747"><span style="font-size: 18px;"></span></font>
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">
                            <strong>『魔鏡確定ビバ★チケットガシャ』</strong>が引ける
                        </p>
                        <p style="text-align: center;">
                            <strong>『魔鏡確定ビバ★チケット』を<span style="font-size:16px;"><span style="color:#FF9900;">合計6枚</span></span></strong>獲得可能!!
                        </p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/26675/content_191113.png"
                                 style="width: 100px;
                                        height: 100px">
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">
                            <strong>『魔鏡確定ビバ★チケットガシャ』は</strong>
                        </p>
                        <p style="text-align: center;">
                            <b><span style="font-size:18px;"><span style="color:#FF4747;">魔鏡確定&nbsp;</span></span>で出現!!</b>
                        </p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/26690/content_200610.png"
                                 style="width: 296px;
                                        height: 96px">
                        </p>
                        <p style="text-align: center;">※2019/12/24までに参戦したキャラクターの魔鏡のいずれかが獲得できます</p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">魔鏡確定ビバ★チケットは以下のクエストの</p>
                        <p style="text-align: center;">
                            クエストミッション「<strong>初回クエストクリア</strong>」で獲得可能!!
                        </p>
                        <p style="text-align: center;">キャラ＆装備を強化して挑戦してみよう!!</p>
                        <p style="text-align: center;">
                            <strong>「初級25」</strong>
                        </p>
                        <p style="text-align: center;">
                            <strong>「EX5」</strong>
                        </p>
                        <p style="text-align: center;">
                            <strong>「EX10」</strong>
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <hr>
                        <p style="text-align: center;">
                            <font color="#ff4747"><span style="font-size: 18px;"></span></font><span style="font-size:16px;"></span>
                        </p>
                        <p style="text-align: center;">
                            <span style="font-size:16px;"><strong><span style="color:#FF4747;">術技強化</span>に必要な<span style="color:#FF4747;">鏡結晶</span>を</strong></span>
                        </p>
                        <p style="text-align: center;">
                            <span style="font-size:16px;"><strong>選んで交換できる</strong></span>
                        </p>
                        <p style="text-align: center;">
                            <span style="font-size:16px;"><strong>鏡結晶交換チケットが入手可能!!</strong></span>
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">
                            <span style="font-size:16px;"></span>
                        </p>
                        <p style="text-align: center;">
                            <strong>術技強化に必要な鏡結晶と交換できる</strong>
                        </p>
                        <p style="text-align: center;">
                            <strong>『鏡結晶交換チケット』が<span style="font-size:16px;"><span style="color:#FF9900;">合計21枚</span></span>入手可能!!</strong>
                        </p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/26677/content_49551.png"
                                 style="width: 100px;
                                        height: 100px">
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">必要な鏡結晶と交換して</p>
                        <p style="text-align: center;">
                            お気に入りキャラクターの<strong>術技を強化</strong>しよう!!
                        </p>
                        <p style="text-align: center;">交換できる『鏡結晶』のラインナップは交換所で確認しよう!!</p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/26671/content_20200917_192209.png"
                                 style="width: 380px;
                                        height: 86px">
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">鏡結晶交換チケットは以下のクエストの</p>
                        <p style="text-align: center;">
                            クエストミッション「<strong>コンティニューを行わずにクリアする</strong>」で獲得可能!!
                        </p>
                        <p style="text-align: center;">キャラ＆装備を強化して挑戦してみよう!!</p>
                        <p style="text-align: center;">
                            <strong>「EX1」～「EX4 石化注意！」</strong>
                        </p>
                        <p style="text-align: center;">
                            <strong>「EX6」～「EX9」</strong>
                        </p>
                        <p style="text-align: center;">
                            <strong>「EX11 無属性で攻撃だ！」～「EX14 水属性で攻撃だ！」</strong>
                        </p>
                        <p style="text-align: center;">
                            <strong>「EX16 冒頭の術にご注意！」～「EX24」</strong>
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <hr>
                        <p style="text-align: center;">
                            <strong><span style="font-size:16px;">対象キャラクターの</span></strong>
                        </p>
                        <p style="text-align: center;">
                            <span style="color:#FF4747;"><span style="font-size:16px;"><strong>第一鏡装が選べる</strong></span></span>
                        </p>
                        <p style="text-align: center;">
                            <span style="font-size:16px;"><strong>セレクトチケットが登場!!</strong></span><font color="#ff4747"><span style="font-size: 18px;"></span></font>
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">
                            <strong><span style="font-size:14px;">『★5鏡装セレクトチケット』で</span></strong>
                        </p>
                        <p style="text-align: center;">
                            <span style="color:#FF9900;"><strong><span style="font-size:14px;">対象キャラクターの第一鏡装が獲得可能!!</span></strong></span>
                        </p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/28841/content_2012152.png"
                                 style="width: 100px;
                                        height: 100px">
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/28844/content_2012152.png"
                                 style="width: 296px;
                                        height: 96px">
                        </p>
                        <p style="text-align: center;">※2020/6/30までに登場したキャラクターの第一鏡装1枚と交換できます</p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">
                            ★5鏡装セレクトチケットは「<strong>EX15</strong>」の
                        </p>
                        <p style="text-align: center;">
                            クエストミッション「<strong>コンティニューを行わずにクリアする</strong>」で獲得可能!!
                        </p>
                        <p style="text-align: center;">キャラ＆装備を強化して挑戦してみよう!!</p>
                        <p style="text-align: center;">&nbsp;</p>
                        <hr>
                        <p style="text-align: center;">
                            <span style="font-size:16px;"><strong>対象キャラクターの</strong></span>
                        </p>
                        <p style="text-align: center;">
                            <span style="font-size:16px;"><strong><span style="color:#FF4747;">通常魔鏡と通常鏡装が選べて手に入る</span></strong></span>
                        </p>
                        <p style="text-align: center;">
                            <span style="font-size:16px;"><strong>セレクトチケットが登場!!</strong></span><font color="#ff4747"><span style="font-size: 18px;"></span></font>
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">
                            <strong><span style="font-size:14px;">『25周年記念 魔鏡＆鏡装セレクトチケット』で</span></strong>
                        </p>
                        <p style="text-align: center;">
                            <span style="color:#FF9900;"><strong><span style="font-size:14px;">対象キャラクターの通常魔境と通常鏡装の中から、</span></strong></span>
                        </p>
                        <p style="text-align: center;">
                            <span style="color:#FF9900;"><strong><span style="font-size:14px;">魔鏡、鏡装それぞれ1つずつ選んで獲得可能!!</span></strong></span>
                        </p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/28842/content_2012151.png"
                                 style="width: 100px;
                                        height: 100px">
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/28845/content_2012151.png"
                                 style="width: 296px;
                                        height: 96px">
                        </p>
                        <p style="text-align: center;">※対象キャラクターの通常魔鏡1枚と通常鏡装1枚を交換できます</p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">
                            25周年記念 魔鏡＆鏡装セレクトチケットは「<strong>EX25</strong>」の
                        </p>
                        <p style="text-align: center;">
                            クエストミッション「<strong>コンティニューを行わずにクリアする</strong>」で獲得可能!!
                        </p>
                        <p style="text-align: center;">キャラ＆装備を強化して挑戦してみよう!!</p>
                        <p style="text-align: center;">&nbsp;</p>
                    </section>
                    <section>
                        <p style="text-align: center;">
                            <span style="font-size:11px;"></span>
                        </p>
                    </section>
                </section>
            </section>
        </div>

    </body>
</html>
