<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <strong>NPC『マリアン』登場！</strong>
            </p>
            <p>
                <strong>ウィスのランキングマッチをプレイ</strong><strong>しよう!!</strong>
            </p>
            <hr>
            <section>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><span style="color:#FF4747;"><strong>NPC『マリアン』登場！</strong></span></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><span style="color:#FF4747;"><strong>ウィスのランキングマッチを</strong></span></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><span style="color:#FF4747;"><strong>10回プレイ!!</strong></span></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>◆期間◆</strong>
                </p>
                <p style="text-align: center;">
                    <strong>2020/12/21(月) 14:00 ～</strong>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">ウィスのランキングマッチをプレイして</p>
                <p style="text-align: center;">報酬を手に入れよう!!</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">以下を全体ミッションに追加しました。</p>
                <center>
                    <table border="1" cellpadding="1" cellspacing="1" style="width:500px;">
                        <tbody>
                            <tr>
                                <td>ウィスのランキングマッチを1回プレイする</td>
                                <td>ダイヤ&times;2</td>
                            </tr>
                            <tr>
                                <td>ウィスのランキングマッチを3回プレイする</td>
                                <td>プリズム&times;200</td>
                            </tr>
                            <tr>
                                <td>ウィスのランキングマッチを5回プレイする</td>
                                <td>ダイヤ&times;4</td>
                            </tr>
                            <tr>
                                <td>ウィスのランキングマッチを7回プレイする</td>
                                <td>着せ替え鏡装チケット&times;1</td>
                            </tr>
                            <tr>
                                <td>ウィスのランキングマッチを10回プレイする</td>
                                <td>NPC『マリアン』</td>
                            </tr>
                        </tbody>
                    </table>
                </center>
                <p style="text-align: center;">※『マリアン』はルーム設定の「NPC」として設定できます。</p>
                <p style="text-align: center;">
                    <span style="font-size: 0.8rem; text-align: left;"></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29117/content_npc.PNG"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <center>&nbsp;</center>
            </section>
        </div>

    </body>
</html>
