<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <span style="color:#FF4747;"><span style="font-size:18px;"><strong>【重要】</strong></span></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:18px;"><strong>現在確認している不具合につきまし</strong></span><span style="font-size:18px;"><strong>て</strong></span>
            </p>
            <p>
                <strong>(5/30&nbsp;11:30更新)</strong><!-- 仕切り -->
            </p>
            <!-- 仕切り -->
            <hr>
            <section>
                <p style="text-align: center;">
                    <strong><span style="font-size:14px;"></span></strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:12px;">『TALES OF THE RAYS』をご利用いただき誠にありがとうございます。</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:12px;">現在確認している不具合を報告させていただきます。</span>
                    <br>
                    <span style="font-size:12px;"></span>
                </p>
            </section>
            <section>
                <div class="frame1">
                    <p>
                        <span style="color:#FFFFFF;"></span>
                    </p>
                    <p>■2022/5/30&nbsp;11:30現在 不具合対応進捗状況</p>
                    <p>・一部の魔鏡技でオート魔鏡技の枠に設定されていない魔鏡技が</p>
                    <p>オート魔鏡技として発動する不具合</p>
                    <p>└原因調査中となります</p>
                    <p></p>
                    <p>・リタの精霊装の術技強化内容が</p>
                    <p>一部正常に反映されていない不具合</p>
                    <p>└原因調査中となります。</p>
                    <p>&nbsp;</p>
                    <p>・始祖久遠の塔　ベストヒーローズにおいて</p>
                    <p>プレイアブルキャラが敵として出現する場合において、</p>
                    <p>撃破順により当該キャラのモデルが表示上残り続ける不具合</p>
                    <p>└原因調査中となります。</p>
                    <p>&nbsp;</p>
                    <p>・特定のキャラクターで、石化中に3Dモデルが意図しない</p>
                    <p>表現になる不具合</p>
                    <p>└次回以降のバージョンにて修正となります。</p>
                    <p>&nbsp;</p>
                    <p>・1コマ劇場で一部意図しない表示がある</p>
                    <p>
                        　└近日中に修正予定となります。
                        <br>
                        &nbsp;
                    </p>
                    <p>・魔鏡詳細画面で複数人が装備できる場合、</p>
                    <p>キャラクター名が見切れてしまう表示不具合</p>
                    <p>
                        　└次回以降のバージョンにて修正となります。
                        <br>
                        &nbsp;
                    </p>
                    <p>
                        ・チュートリアル中の好きなキャラクター選択時、
                        <br>
                        　一部の端末において魔鏡技動画が再生できない不具合
                        <br>
                        　└原因調査中となります。&nbsp;
                    </p>
                    <p>&nbsp;</p>
                    <p>
                        ・クロスオーバー魔鏡技発動時にキャラクターの位置が
                        <br>
                        　ずれる場合がある不具合
                        <br>
                        　└次回以降のバージョンにて修正となります。
                        <br>
                        &nbsp;
                        <br>
                        ・ガシャのおまけのキャラカスタムを獲得後に
                        <br>
                        　強化から該当キャラのキャラカスタム画面に
                        <br>
                        　遷移すると該当キャラカスタムが
                        <br>
                        　表示されていない場合がある不具合
                        <br>
                        　└原因調査中となります。
                        <br>
                        　　こちら、ホーム画面へ一度アクセスすることで
                        <br>
                        　　解消されます。
                    </p>
                    <p>&nbsp;</p>
                    <p>
                        ・開催中の｢好きな鏡映片Ⅰ交換所｣及び
                        <br>
                        　｢好きな鏡映片Ⅱ交換所｣に遷移する際に
                        <br>
                        　｢開催期間外です｣と表示される場合がある不具合
                        <br>
                        　└原因調査中となります。
                        <br>
                        　　一度ホームに戻っていただき再度交換所に
                        <br>
                        　　遷移することで正常に遷移できる場合があることを
                        <br>
                        　　確認しております。
                    </p>
                    <p>&nbsp;</p>
                    <p>
                        ・復刻機能にて複数のイベントを復刻後、イベント選択時に
                        <br>
                        　｢開催期間外です｣と表示される場合がある
                        <br>
                        　└原因調査中となります。
                        <br>
                        　　復刻したイベントのクエストをプレイすることで
                        <br>
                        　　解消されることを確認しております。
                    </p>
                    <p>&nbsp;</p>
                    <p>●対応中のマルチ関連の不具合</p>
                    <p>
                        ・特定の端末にて、メイン/サブともに戦闘不能になった
                        <br>
                        　場合に限り、キャラクターが透明になる不具合
                        <br>
                        　└原因調査中となります。
                    </p>
                    <p>&nbsp;</p>
                    <p>
                        今後も調査対応している不具合・お客様よりご報告頂いている不具合は
                        <br>
                        順次更新して参ります。
                    </p>
                    <p>
                        <span style="font-size:12px;"></span>
                    </p>
                </div>
                <section>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <strong><span style="font-size:14px;"></span></strong><span style="font-size:12px;">この度は多くのお客様にご迷惑をおかけしておりますことをお詫び申し上げます。</span><span style="font-size:12px;">
                            <br>
                        不具合解消まで今しばらくお待ちいただけますよう、お願い申し上げます。</span>
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <span style="font-size:12px;">引き続き『TALES OF THE RAYS』をよろしくお願い申し上げます。</span>
                    </p>
                </section>
            </section>
        </div>

    </body>
</html>
