<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <strong>アスタリア連動キャンペーン実施のお知らせ</strong>
            </p>
            <span style="font-size:11px;"></span>
            <hr>
            <section>
                <p style="text-align: center;">
                    『TALES OF THE RAYS』をご利用いただき
                    <br>
                    誠にありがとうございます。
                </p>
                <p style="text-align: center;">
                    <span style="font-size: 0.8rem; text-align: left;"></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">テイルズ オブ アスタリアとの連動キャンペーンを開催予定です。</p>
                <p style="text-align: center;">
                    テイルズ オブ アスタリアで獲得しているキャラクターイラストを
                    <br>
                    最大6枚プレゼントいたします。
                </p>
                <p style="text-align: center;">プレゼントされたキャラクターイラストは、</p>
                <p style="text-align: center;">
                    テイルズ オブ ザ レイズの新機能『ホーム壁紙』として利用できます。
                    <br>
                    本機能の詳細はザ レイズ内で今後お知らせする予定です。
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">◆キャンペーン期間◆</p>
                <p style="text-align: center;">
                    <strong><span style="color:#FF4747;">2023/3/16(木)本お知らせ掲載時～2023/5/18(木)11:59</span></strong>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">◆キャンペーンの参加方法◆</p>
                <p style="text-align: center;">テイルズ オブ アスタリアのアプリからエントリーが必要です。</p>
                <p style="text-align: center;">キャンペーンアイテムを受け取るには、</p>
                <p style="text-align: center;">テイルズ オブ アスタリア、テイルズ オブ ザレイズの両アプリで</p>
                <p style="text-align: center;">引き継ぎ登録が必要です。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">◆プレゼント配布日時◆</p>
                <p style="text-align: center;">キャンペーン期間内に</p>
                <p style="text-align: center;">テイルズ オブ ザ レイズの引き継ぎ登録をして頂けた方</p>
                <p style="text-align: center;">
                    <strong><span style="color:#FF4747;">2023/6/8(木) メンテナンス後にプレゼント配布</span></strong>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">キャンペーン終了後の2023/6/19(月) 00:00までに</p>
                <p style="text-align: center;">テイルズ オブ ザ レイズの引き継ぎ登録をして頂けた方</p>
                <p style="text-align: center;">
                    <strong><span style="color:#FF4747;">2023/7/17(月) メンテナンス後にプレゼント配布</span></strong>
                </p>
                <p>&nbsp;</p>
                <p>■キャンペーン内容</p>
                <p>テイルズ オブ アスタリア(以下アスタリア)連動キャンペーンとして、</p>
                <p>『アスタリアでお気に入りに登録しているキャラクター覚醒イラスト』を最大6枚</p>
                <p>テイルズ オブ ザレイズ(以下ザレイズ)のホーム壁紙アイテムとしてプレゼントします。</p>
                <p>※ゲーム『テイルズ オブ』シリーズのみのイラストを対象とさせていただきます。</p>
                <p>&nbsp;</p>
                <p>■エントリー方法</p>
                <p>バンダイナムコID取得後、アスタリアのアプリ内お知らせから</p>
                <p>アンケートに回答し、ザ レイズへの引継ぎキャンペーンへの参加に同意してください。</p>
                <p>
                    <br>
                    本キャンペーンでは、バンダイナムコIDを使用します。
                </p>
                <p>
                    アスタリア、ザレイズの両アプリで
                    <br>
                    同一のバンダイナムコIDを使った引き継ぎ設定を行ってください。
                </p>
                <p>
                    ※同一のメールアドレスでアスタリアとザレイズの引継ぎ設定を行ってください。
                    <br>
                    ※別々のメールアドレスを使用した場合、イラストの引継ぎが行えません。
                </p>
                <p>&nbsp;</p>
                <p>■アスタリアでの引き継ぎ設定の仕方</p>
                <p>
                    アスタリアでのバンダイナムコID取得と引継ぎ設定につきましては、
                    <br>
                    アスタリアアプリ内お知らせをご確認ください。
                </p>
                <p>&nbsp;</p>
                <p>■ザ レイズでの引き継ぎ設定の仕方</p>
                <p>アプリ起動後、左下「引き継ぎ」ボタンから行うことができます。</p>
                <p>
                    引継ぎの仕方につきましては<a href="https://blog.tales-ch.jp/?p=1015?externalbrowser=true">テイルズチャンネル+</a>でもご確認いただけます
                </p>
                <p>&nbsp;</p>
                <hr>
                <p style="text-align: center;">
                    <span style="font-size:11px;"></span>
                </p>
            </section>
            <div align="center">
                <div class="frame2">
                    <p class="indent" style="text-align: center;">《&nbsp;注意事項&nbsp;》</p>
                    <p>
                        <span style="font-size:11px;"></span>
                    </p>
                    <p>・キャンペーンの参加には、キャンペーン期間内にアスタリアのアプリからエントリーが必要です。</p>
                    <p>・キャンペーンの参加には、バンダイナムコIDが必ず必要となります。</p>
                    <p>・同一のバンダイナムコIDを使い、アスタリア、ザレイズの両アプリにて引き継ぎを行ってください。</p>
                    <p>・アスタリアから移行できるイラストは★6覚醒イラストとなります。</p>
                    <p>・アスタリアから移行できるイラストは、静止画になります。</p>
                    <p>・アスタリアから移行できるイラストは、お気に入りに設定された6枚のイラストになります。</p>
                    <p>・アスタリアから移行できるイラストは、ゲーム『テイルズ オブ』シリーズのみとなります。</p>
                    <p>
                        ・背景はイラストとセットでの引継ぎとなり、引継ぎ後は背景の変更ができません。
                        <br>
                        ・該当イラスト以外が設定されていた場合、6枚以下のプレゼントとなる可能性があります。<span style="font-size:11px;"></span><span style="font-size:11px;"></span><span style="font-size:11px;"></span><span style="font-size:11px;"></span>
                    </p>
                    <p>・期間外で引き継ぎ登録した場合は、配布対象外となります。</p>
                </div>
            </div>
        </div>

    </body>
</html>
