<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29302/content_2101061.png"
                     style="width: 100%">
            </p>
            <hr>
            <p>
                <span style="font-size:14px;"><strong>2020/6/30までに参戦したキャラクターの</strong></span>
            </p>
            <p>
                <span style="font-size:14px;"><strong><span style="color:#FF9900;">『オーバーレイ魔鏡』のみ</span></strong>が出現する</span>
            </p>
            <p>
                <span style="font-size:14px;"><strong><span style="font-size:14px;">オーバーレイ魔鏡</span>確定チケットガシャ</strong>が開催!!</span>
            </p>
            <p>&nbsp;</p>
            <p style="font-weight:bold;">◆開催期間◆</p>
            <p>
                <strong><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;">2021/1/1(金) 0:00 ～ 2021/1/31(日</span></strong><strong><span style="color:#ff4747;">) 23:59</span></strong>
            </p>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                オーバーレイ魔鏡確定チケットガシャでは、
                <br>
                <b>下記の</b><span style="color:#FF9900;"><strong><span style="font-size:14px;">『オーバーレイ魔鏡』</span>のみ</strong></span>が出現!!
            </p>
            <div class="frame1">
                <p style="text-align: center;">
                    <strong>このガシャから出現するオーバーレイ魔鏡一覧</strong>
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/21798/content_110005.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/21861/content_1910004.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/21880/content_2410004.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/21903/content_3010003.png"
                         style="width: 80px;
                                height: 80px">
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/21909/content_3110004.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/21952/content_4210004.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/21846/content_1410005.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/27550/content_1510004.png"
                         style="width: 80px;
                                height: 80px">
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/21945/content_4010005.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/21969/content_4710004.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/21993/content_5410004.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/22011/content_5910004.png"
                         style="width: 80px;
                                height: 80px">
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/22119/content_10510003.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/22034/content_7110003.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/27548/content_7210005.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/27547/content_6710004.png"
                         style="width: 80px;
                                height: 80px">
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/27549/content_7010004.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/22174/content_13810003.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/21896/content_2810004.png"
                         style="width: 80px;
                                height: 80px">
                    <br>
                    <!-- 仕切り -->
                </p>
            </div>
            <hr>
            <div class="frame2">
                <p style="text-align:center;">《 注意事項&nbsp;》</p>
                <p>
                    <span style="font-size:11px;">・本ガシャは「オーバーレイ魔鏡確定ガシャチケット」のみで
                        <br>
                        　実行できます。
                        <br>
                        ・本ガシャは「オーバーレイ魔鏡確定ガシャチケット」1枚につき、
                        <br>
                        　1回実行できます。
                        <br>
                        ・本ガシャからは2020年6月30日までに登場した
                        <br>
                        　オーバーレイ魔鏡を獲得できます。
                        <br>
                        ・本ガシャからは重複する装備が出現する可能性がございます。
                        <br>
                        ・イベント限定ポイントボーナス及び攻略戦ボーナスの効果は、
                        <br>
                        　該当のイベント開催時のみ発動します。
                        <br>
                        ・イベント限定ポイントボーナス及び攻略戦ボーナスが発動する
                        <br>
                        　魔鏡・装備の一覧は、該当イベントのお知らせをご確認ください。
                        <br>
                        ・表示されているステータス・効果・ポイントボーナス
                        <br>
                        　攻略戦ボーナスは、最大強化後の値となります。
                        <br>
                        ・限定キャラカスタム付き魔鏡でキャラカスタムを入手した場合、
                        <br>
                        　その他入手導線での入手はできません。
                        <br>
                        ・限定キャラカスタムを先に限定キャラカスタム付き魔鏡以外から入手した場合、
                        <br>
                        　限定キャラカスタム付き魔鏡で複数入手はできません。
                        <br>
                        ・本ガシャからは重複する魔鏡が出現する可能性がございます。
                        <br>
                    ・期間限定の魔鏡・キャラカスタムは再登場する場合がございます。</span>
                </p>
            </div>
        </div>

    </body>
</html>
