<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29565/content_2101121.png"
                     style="width: 100%">
            </p>
            <hr>
            <p>
                <span style="font-size:14px;"><b>プレセア、ジーニアス、リフィル</b></span><span style="font-size:14px;">の</span><span style="font-size:14px;"></span>
                <br>
                <span style="font-size:14px;"><strong><span style="color:#FF4747;">『魔鏡』と『装備』のみ</span></strong>が出現する</span>
            </p>
            <p>
                <span style="font-size:14px;">プレセア＆ジーニアス＆リフィル確定チケットガシャが開催!!</span>
            </p>
            <p>&nbsp;</p>
            <p style="font-weight:bold;">◆開催期間◆</p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;">2021/1/11(月) 14:00&nbsp;&nbsp;～ 2021/1/28(木</span><span style="color:#FF4747;">) 10:59</span></strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong><strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                プレセア＆ジーニアス＆リフィル確定チケットガシャでは、
                <br>
                <b>プレセア、ジーニアス、リフィル</b>の<span style="color:#FF4747;"><strong>『魔鏡</strong><strong>』と『装備</strong><strong>』のみ</strong></span>が出現!!
            </p>
            <div class="frame1">
                <p style="text-align: center;">
                    <strong>プレセアの魔鏡・装備</strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29512/content_12910004.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29513/content_12910002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/7064/content_1295001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/22447/content_1295002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29514/content_1295003.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29515/content_1294001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29516/content_1294002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29517/content_1293001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29518/content_1293002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29519/content_1293003.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <br>
                    <strong>ジーニアスの魔鏡・装備</strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29520/content_12810003.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29521/content_12810002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29524/content_1285001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29522/content_1285002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29523/content_1285003.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29525/content_1284001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29526/content_1284002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29527/content_1283001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29528/content_1283002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29529/content_1283003.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>リフィルの魔鏡・装備</strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29530/content_1110004.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29531/content_1110002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/10387/content_115001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29532/content_115003.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/10382/content_114001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/10383/content_114002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/10385/content_114003.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/10386/content_114004.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/10378/content_113001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/10379/content_113002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/10380/content_113003.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/10381/content_113004.png"
                         style="width: 80px;
                                height: 80px">
                </p>
            </div>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                <strong>プレセア＆ジーニアス＆リフィル確定ガシャチケット</strong>は
                <br>
                <strong>『領主・騎士救出作戦 この手に誓ったもの』ステップアップガシャ</strong>で
                <br>
                入手が可能!<!-- 仕切り -->
            </p>
            <hr>
            <section>
                <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/655/content_2101113.png"
                     style="margin: 10px auto;
                            width: 100%">
                <ul class="box">
                    <li>
                        <strong>魔鏡技:<font color="#ff4747">シアリング・フィーネ</font></strong>　　威力:<font color="#ff4747"><b>1545</b></font>
                    </li>
                    <li style="text-align:right;float:right">
                        <strong>プレセア専用</strong>
                    </li>
                </ul>
                <div class="frame1">
                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        <strong>効果内容</strong>
                                    </p>
                                    <p>自身の物攻を上昇させて、強い意志を秘</p>
                                    <p>めた仲間を信じ後を託す魔鏡技</p>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong><a href="https://youtu.be/MUBX0hcd43wexternalbrowser=true">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                 style="width: 60px;
                                                        height: 60px">
                                        </a></strong>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <hr>
            <section>
                <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/656/content_2101114.png"
                     style="margin: 10px auto;
                            width: 100%">
                <ul class="box">
                    <li>
                        <strong>魔鏡技:<font color="#ff4747">インディグネイト・フィーネ</font></strong>　　威力:<font color="#ff4747"><b>1760</b></font>
                    </li>
                    <li style="text-align:right;float:right">
                        <strong>ジーニアス専用</strong>
                    </li>
                </ul>
                <div class="frame1">
                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        <strong>効果内容</strong>
                                    </p>
                                    <p>変われることを願い死力を尽くす魔鏡技</p>
                                    <p>自身の防御力を上昇、のけぞりを防止</p>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong><a href="https://youtu.be/d9FhXL9A77Iexternalbrowser=true">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                 style="width: 60px;
                                                        height: 60px">
                                        </a></strong>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <hr>
            <section>
                <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29568/content_2101115.png"
                     style="margin: 10px auto;
                            width: 100%">
                <ul class="box">
                    <li>
                        <strong>魔鏡技:<font color="#ff4747">セイクリッド・フィーネ</font></strong>　　威力:<font color="#ff4747"><b>1698</b></font>
                    </li>
                    <li style="text-align:right;float:right">
                        <strong>リフィル専用</strong>
                    </li>
                </ul>
                <div class="frame1">
                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        <strong>効果内容</strong>
                                    </p>
                                    <p>自分を変えた仲間と共に新たな可能性を</p>
                                    <p>信じる魔鏡技。敵に光属性弱点付与</p>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong><a href="https://youtu.be/tRr5VZ6DSKsexternalbrowser=true">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                 style="width: 60px;
                                                        height: 60px">
                                        </a></strong>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <hr>
            <section>
                <div class="frame2">
                    <p style="text-align:center;">《 注意事項&nbsp;》</p>
                    <p>
                        <span style="font-size:11px;">・本ガシャは「プレセア＆ジーニアス＆リフィル確定ガシャチケット」のみで
                            <br>
                            　実行できます。
                            <br>
                            ・本ガシャは「プレセア＆ジーニアス＆リフィル確定ガシャチケット」1枚につき、
                            <br>
                            　1回実行できます。
                            <br>
                            ・本ガシャからはプレセア、ジーニアス、リフィルの
                            <br>
                            　魔鏡・★5鏡装・★4装備・★3装備のいずれかが獲得できます。
                            <br>
                            ・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。
                            <br>
                            ・イベント限定ポイントボーナス及び攻略戦ボーナスの効果は、
                            <br>
                            　該当のイベント開催時のみ発動します。
                            <br>
                            ・イベント限定ポイントボーナス及び攻略戦ボーナスが発動する
                            <br>
                            　魔鏡・装備の一覧は、該当イベントのお知らせをご確認ください。
                            <br>
                            ・表示されているステータス・効果・ポイントボーナス
                            <br>
                            　攻略戦ボーナスは、最大強化後の値となります。
                            <br>
                            ・限定キャラカスタム付き魔鏡でキャラカスタムを入手した場合、
                            <br>
                            　その他入手導線での入手はできません。
                            <br>
                            ・限定キャラカスタムを先に限定キャラカスタム付き魔鏡以外から入手した場合、
                            <br>
                        　限定キャラカスタム付き魔鏡で複数入手はできません。</span>
                    </p>
                </div>
            </section>
        </div>
        <p>
            <b></b>
        </p>
    </body>
</html>
