<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29551/content_P____________________vol47.jpg"
                     style="width: 100%">
            </p>
            <p>
                <!-- 仕切り -->
            </p>
            <hr>
            <section>
                <p style="text-align: center;">制作プロデューサーからのお知らせ　vol.47</p>
                <p style="text-align: center;">
                    <br>
                    『TALES OF THE RAYS』を遊んでくださっているみなさま。
                </p>
                <p style="text-align: center;">
                    新年あけましておめでとうございます！
                    <br>
                    制作プロデューサーの栁澤です。
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    まずは新年に相応しいおめでたい報告です。
                    <br>
                    既に参戦PVを見た方も居ると思いますが、2021年1月は一挙5人＋&alpha;が参戦です！
                </p>
                <p style="text-align: center;">（たぶん、後にも先にも参戦人数が1番多い月になるんじゃないかと思います。）</p>
                <p style="text-align: center;">
                    <br>
                    そして、今月で『TALES OF THE RAYS』リリース当初からやりたい
                </p>
                <p style="text-align: center;">と宣言していた（ザ レイズ公約の）作品の全パーティキャラが</p>
                <p style="text-align: center;">プレイアブル参戦になります！</p>
                <p style="text-align: center;">
                    <br>
                    4周年を前にして、3年と11ヵ月で達成！
                </p>
                <p style="text-align: center;">これも応援し続けて頂いたみなさんのおかげです！</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">※1点、PVの記載に間違いがありました。</p>
                <p style="text-align: center;">歴代23作品の全パーティキャラが参戦！と記載させて頂きましたが、</p>
                <p style="text-align: center;">ザ レイズの公約は9月のお知らせでも書かせて頂いた通り、</p>
                <p style="text-align: center;">&quot;1部メインビジュアルに掲載されていた作品の全パーティキャラクターの参戦&quot;と</p>
                <p style="text-align: center;">なります。誤った表記で不快にさせてしまい申し訳ございませんでした。</p>
                <p style="text-align: center;">
                    <br>
                    とはいえ、クルールにもいつか参戦してもらいたいとは思っているので、
                </p>
                <p style="text-align: center;">堂々と23作品！（23作品と言わずもっと増やしていきたいです！）</p>
                <p style="text-align: center;">と言える日が来るといいなと思います。</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29552/content_________1000.jpg"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">そんな興奮も冷めやらぬ中、4周年も間近！という事で、</p>
                <p style="text-align: center;">次回verupのver4.2.0について、少しご説明頂ければと思います。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p>
                    <strong>■ver4.2.0について（2月下旬予定）</strong>
                    <br>
                    もう時期から見ても分かる通り、4周年に向けてのverupになります。
                    <br>
                    ただ、その内容は中々のボリュームで、4周年に相応しい内容になっています。
                </p>
                <p>
                    <br>
                    詳細は来月の制作プロデューサーからのお知らせ　vol.48（2月公開予定）
                </p>
                <p>でご紹介出来ればと思うのですが、どんな機能追加や改修なのか？</p>
                <p>が簡単に分かる大項目（半分位）とその目的を今回はお伝え出来ればと思います。</p>
                <p>&nbsp;</p>
                <p>
                    <strong>①ザ レイズクロニクルの機能化</strong>
                    <br>
                    &rArr;3年以上続いているザ レイズの本編のストーリー。
                </p>
                <p>イベントも含めて、時系列が分かりやすくしているために</p>
                <p>
                    導入したクロニクルですが、現状は画像で表示しているだけなので、
                    <br>
                    あれ？これどんなストーリだっけ？と気になっても、別の遷移に戻って、
                </p>
                <p>そのお話を探さなければなりません。</p>
                <p>
                    <br>
                    やっぱイベントや本編が時系列に並んでて、一覧で見れるなら、
                </p>
                <p>今度は中身が気になって、そのまま遊んだり、</p>
                <p>
                    復刻させたりしたいがニーズじゃないですか&hellip;。という事で、
                    <br>
                    今まで画像でしかなかったクロニクルを直接タップしたりすることで
                </p>
                <p>クエストに行けたりできるように、機能として確立させます。</p>
                <p>
                    <br>
                    <strong>②初心者の方でも遊びやすくするための導線の改修</strong>
                    <br>
                    &rArr;導線とか難しい言葉使いましたが、ゲームを始めて、
                </p>
                <p>道に迷わなくするって意味だと思って頂ければと思います。</p>
                <p>
                    <br>
                    現状のザ レイズは初期に比べて、機能も増えた結果、最近のverから始めた人は、
                </p>
                <p>何から手を付けて良いのか分からない。</p>
                <p>どうしたら好きなキャラが強くなるのか分からない。</p>
                <p>というご意見をよく頂きます。</p>
                <p>
                    <br>
                    そのためチュートリアル終了後、全部のコンテンツを一気に開放するのではなく、
                </p>
                <p>条件に応じて順番に解放したり&hellip;と最近のリリースされたタイトルには</p>
                <p>当たり前にある機能が、フォローされてなかったりする部分の</p>
                <p>改修改善を行います。</p>
                <p>
                    <br>
                    まだまだ、コラボや大きな施策で新規の方が入って来てくださる状況なので、
                </p>
                <p>既存プレイヤーの方には少し恩恵が薄いかもしれませんが、</p>
                <p>このタイミングで大きくテコ入れをしようと思います。</p>
                <p>&nbsp;</p>
                <p>
                    <strong>③一括DL機能の仕様変更</strong>
                    <br>
                    &rArr;起動時間の最適化は引き続き行っており
                    <br>
                    一括DL機能について、一括DL機能を有効にしている場合の挙動の最適化を行い、
                </p>
                <p>アップデート前より起動が早くなります。</p>
                <p>&nbsp;</p>
                <p>
                    今回はここまでです！
                    <br>
                    ①～③の内容を見ると、利便性を向上させる良アプデだけど、
                </p>
                <p>もっとこう、おお！！って思わせるの無いのか！？4周年よ！？</p>
                <p>と思う方もいらっしゃると思います。</p>
                <p>
                    <br>
                    ご安心下さい。4周年アップデートはこれだけではありません！
                </p>
                <p>キャラクターにちなんだ、おお！！っと驚く機能もあるのですが、</p>
                <p>4周年の内容と直接絡む内容なので次回でご紹介とさせて下さい！</p>
                <p>それでは、1月のスケジュールのご紹介です。</p>
                <hr>
                <p style="text-align: center;">
                    <br>
                    <span style="font-size:16px;"><strong>〇1月の配信スケジュール（予定）</strong></span>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29553/content_21010701.jpg"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p>
                    <strong>■テイルズ オブ シンフォニア単独イベント　リーガル参戦（1月中旬）</strong>
                    <br>
                    みなさま長らくお待たせしました！
                </p>
                <p>レザレノ・カンパニー会長のリーガルが堂々の参戦です！！</p>
                <p>
                    <br>
                    リーガル自体はかなり前からお話に登場していたので、
                </p>
                <p>3年間以上フラグを立て続けてのようやくの参戦になります！</p>
                <p>
                    <br>
                    今回そのお待たせした分だけの価値がある参戦イベントになっています
                </p>
                <p>（具体的に言うとちょっとコスト掛かってます！）ので</p>
                <p>会長ファンのみなさんは期待していて下さい！</p>
                <p>&nbsp;</p>
                <p>ちなみにシンフォニアの単独イベントはジーニアスとプレセア参戦以来！</p>
                <p>久しぶりの単独イベントに相応しく、</p>
                <p>ジーニアス、プレセア、リフィル、3人の決戦魔鏡が一挙に登場します。</p>
                <p>&nbsp;</p>
                <p>しかも、しかもですよ。</p>
                <p>そのイラストに描かれているシーンはテセアラの救いの塔で</p>
                <p>1人また1人と&hellip;シンフォニア屈指の名シーンです。</p>
                <p>
                    <br>
                    <strong>■イノセンスR　ハーツR　テンペスト合同イベント</strong>
                </p>
                <p>
                    <strong>フォレスト＆エルマーナ＆ガラド＆カルセドニー参戦（1月下旬）</strong>
                    <br>
                    いわゆるDS3作の合同イベント！
                </p>
                <p>&nbsp;</p>
                <p>しかも参戦は超豪華。</p>
                <p>フォレスト＆エルマーナ＆ガラド＆カルセドニーの一挙4人が同時参戦です！</p>
                <p>
                    <br>
                    この3作品のパーティメンバーが一堂に会したお話って
                </p>
                <p>今まで無かったんじゃないでしょうか&hellip;</p>
                <p>&nbsp;</p>
                <p>そういう意味ではテイルズ オブ 史上初の試み！</p>
                <p>と思うと胸が熱くなりますね。</p>
                <p>&nbsp;</p>
                <p>さらにこのイベントの注目ポイントはそれだけではありません。</p>
                <p>コンウェイ、キュキュ、ガラド&hellip;そうです。</p>
                <p>&nbsp;</p>
                <p>トライバース出身者のこの3人も初めて、相まみえる事になりますね！</p>
                <p>3人の中でどんな会話があるのか楽しみですね！</p>
                <hr>
                <p style="text-align: center;">冒頭でも書かせて頂きましたが、</p>
                <p style="text-align: center;">新年から盛りだくさんでお送りさせて頂きました！</p>
                <p style="text-align: center;">テイルズ オブ 25周年の新年を飾る内容に出来たのではないかと思います。</p>
                <p style="text-align: center;">
                    <br>
                    あと、参戦PVの最後、気になりますよね？
                </p>
                <p style="text-align: center;">これだけ参戦しまくったのに、1月はこれで終わらないわけです。</p>
                <p style="text-align: center;">
                    <br>
                    このパターンの時に何があるのか&hellip;
                </p>
                <p style="text-align: center;">何となく想像付いてる方も居ると思いますが、</p>
                <p style="text-align: center;">公開まで今しばらくお待ちください！</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">昨年は新型コロナウィルスの影響で開発体制が変わった事で、</p>
                <p style="text-align: center;">何かとトラブルが多い1年でしたが、</p>
                <p style="text-align: center;">みなさまのおかげで無事乗り切る事が出来ました！</p>
                <p style="text-align: center;">
                    <br>
                    アンケートのコメント欄への応援や問い合わせフォームでのご要望等、
                </p>
                <p style="text-align: center;">本当にありがとうございます！</p>
                <p style="text-align: center;">
                    <br>
                    2021年も大変な年になりそうですが、それはそれとして、去年よりも
                </p>
                <p style="text-align: center;">さらにみなさまに楽しんで頂けるようにスタッフ一同尽力させて頂きます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">2021年も引き続き、『TALES OF THE RAYS』をよろしくお願い致します。</p>
                <p style="text-align: center;">制作プロデューサー　栁澤</p>
                <p style="text-align: center;">&nbsp;</p>
                <section>

                </section>
            </section>
        </div>
    </body>
</html>
