<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                【<strong>予告</strong>】
            </p>
            <p>
                <span style="font-size:18px;"><strong>ユニゾン・アタック</strong></span>
            </p>
            <p>
                <span style="font-size:18px;"></span><span style="font-size:18px;"><strong>～精霊装編～</strong></span>
            </p>
            <p>
                <span style="font-size:18px;"><strong>開催!!</strong></span>
            </p>
            <hr>
            <p>
                <strong><span style="font-size:14px;">60体討伐 協力イベント</span><span style="font-size:14px;">！</span><span style="font-size:14px;"></span></strong>
            </p>
            <p>
                <span style="font-size:18px;"><span style="color: rgb(255, 71, 71);"><strong>ユニゾン・アタック</strong></span></span>
            </p>
            <p>
                <span style="font-size:18px;"><span style="color: rgb(255, 71, 71);"></span></span><span style="font-size:18px;"><span style="color: rgb(255, 71, 71);"><strong>～精霊装編～</strong></span></span>
            </p>
            <p>
                <span style="font-size:14px;"><b>開催!!</b></span>
            </p>
            <p>&nbsp;</p>
            <p>
                <span style="font-size:16px;"><strong>◆開催予定日時◆</strong></span>
            </p>
            <p>
                <span style="font-size:16px;"><strong><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;">2021/2/26(金) 20:00～開催予定</span></strong></span>
            </p>
            <p>&nbsp;</p>
            <p>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/30472/content_210226.png"
                     style="width: 80%">
            </p>
            <p>&nbsp;</p>
            <hr>
            <p style="font-weight: bold; text-align: center;">◆参加可能キャラクター◆</p>
            <div class="frame1">
                <p>
                    <span style="font-size:12px;">・</span><span style="font-size:12px;">操作キャラクターは複数人設定することができます。</span>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30191/content_20001.png"
                         style="width: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30192/content_20002.png"
                         style="width: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30473/content_3.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30474/content_73.png"
                         style="width: 100px;
                                height: 100px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30493/content_79.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30475/content_43.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30476/content_6.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30477/content_46.png"
                         style="width: 100px;
                                height: 100px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30478/content_47.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30492/content_66.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30480/content_9.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30481/content_10.png"
                         style="width: 100px;
                                height: 100px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30479/content_12.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30482/content_71.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30483/content_19.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30484/content_52.png"
                         style="width: 100px;
                                height: 100px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30485/content_20.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30486/content_75.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30487/content_58.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30488/content_22.png"
                         style="width: 100px;
                                height: 100px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30494/content_102.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30489/content_24.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30490/content_25.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30500/content_39.png"
                         style="width: 100px;
                                height: 100px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30501/content_53.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30188/content_31.png"
                         style="width: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30499/content_50.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30498/content_77.png"
                         style="width: 100px;
                                height: 100px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30491/content_37.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30495/content_98.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30497/content_48.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30496/content_111.png"
                         style="width: 100px;
                                height: 100px">
                </p>
            </div>
            <div align="center">
                <hr>
            </div>
            <div class="frame2">
                <p style="text-align:center;">
                    <strong>《&nbsp;</strong>注意事項<strong>&nbsp;》</strong>
                </p>
                <p>
                    <strong><span style="font-size:11px;"></span></strong>
                </p>
                <p>
                    <span style="font-size:11px;">・お知らせに掲載されている内容は
                        <br>
                    　予告なく変更することがございます。</span><span style="font-size:11px;"></span>
                </p>
            </div>
        </div>

    </body>
</html>
