<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/24659/content_2006181.png"
                     style="width: 100%">
            </p>
            <hr>
            <p>
                <b>ナーザ、メルクリア</b>の<span style="color:#FF4747;"><strong>『魔鏡』</strong>と</span><span style="color:#FF4747;"><strong>『装備』のみ</strong></span>が出現する
            </p>
            <p>ナーザ＆メルクリア確定チケットガシャが開催!!</p>
            <p>&nbsp;</p>
            <p>
                <strong>◆開催期間◆</strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;">2021/2/22(月) 14:00&nbsp;</span><span style="color:#FF4747;">～ 2021/3/17(水) 10:59</span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                ナーザ＆メルクリア確定チケットガシャでは、
                <br>
                <b>ナーザ、メルクリア</b>の<span style="color:#FF4747;"><strong>『</strong><span style="color:#FF4747;"><strong>装備</strong></span><strong>』と『</strong><span style="color:#FF4747;"><strong>魔鏡</strong></span><strong>』のみ</strong></span>が出現!!
            </p>
            <div class="frame1">
                <p style="text-align: center;">
                    <strong><strong>ナーザの魔鏡・装備</strong></strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30447/content_10810003.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/24572/content_10810002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30449/content_1085002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30450/content_1085003.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/24581/content_1084001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/24582/content_1084002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/24583/content_1084003.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/24576/content_1083001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/24579/content_1083002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/24580/content_1083003.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong><strong>メルクリアの魔鏡・装備</strong></strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30448/content_13910003.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/24573/content_13910002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30451/content_1395002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30452/content_1395003.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/24584/content_1394001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/24585/content_1394002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/24586/content_1394003.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/24587/content_1393001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/24588/content_1393002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/24589/content_1393003.png"
                         style="width: 80px;
                                height: 80px">
                </p>
            </div>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                ナーザ＆メルクリア確定ガシャチケットは
                <br>
                <strong>『オーバーレイ魔鏡登場記念』ステップアップガシャ</strong>
                <br>
                のおまけで<strong>入手が可能!</strong><!-- 仕切り -->
            </p>
            <hr>
            <section>
                <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                <img src="{{ s3_url }}public/uploads/ckeditor/pictures/30453/content_2102143.png"
                     style="width: 100%">
                <ul class="box">
                    <li>
                        <strong>魔鏡技:<font color="#ff4747">穣溝・魔神剣</font></strong>　威力:<font color="#ff4747"><b>1699</b></font>
                    </li>
                    <li style="text-align:right;float:right">
                        <strong>ナーザ専用</strong>
                    </li>
                </ul>
                <div class="frame1">
                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        <strong>効果内容</strong>
                                    </p>
                                    <p>
                                        未来を守る決意を込めた、剣圧による
                                        <br>
                                        巨大な飛び道具を放つ魔鏡技
                                    </p>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <a href="https://youtu.be/jwxGAzMJ2boexternalbrowser=true"><strong>
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                 style="width: 60px;
                                                        height: 60px">
                                        </strong></a>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <hr>
            <section>
                <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                <img src="{{ s3_url }}public/uploads/ckeditor/pictures/30454/content_2102144.png"
                     style="width: 100%">
                <ul class="box">
                    <li>
                        <strong>魔鏡技:<font color="#ff4747">穣溝・憤怒の雷</font></strong>
                    </li>
                    <li>
                    　　威力:<font color="#ff4747"><b>1699</b></font>
                </li>
                <li style="text-align:right;float:right">
                    <strong>メルクリア専用</strong>
                </li>
            </ul>
            <div class="frame1">
                <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                    <tbody>
                        <tr>
                            <td>
                                <p>
                                    <strong>効果内容</strong>
                                </p>
                                <p>
                                    天空より憤怒の雷を落とし、建物
                                    <br>
                                    諸共崩壊させる魔鏡技
                                </p>
                            </td>
                            <td>
                                <p style="text-align: center;">
                                    <strong><a href="https://youtu.be/1QvCLz5b3mcexternalbrowser=true">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                             style="width: 60px;
                                                    height: 60px">
                                    </a></strong>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <hr>
        <div class="frame2">
            <p style="text-align:center;">《 注意事項&nbsp;》</p>
            <p>
                <span style="font-size:11px;"></span><span style="font-size:11px;"></span><span style="font-size:11px;"></span><span style="font-size:11px;"></span><span style="font-size:11px;">・本ガシャは「ナーザ＆メルクリア確定ガシャチケット」のみで
                    <br>
                    　実行できます。
                    <br>
                    ・本ガシャは「ナーザ＆メルクリア確定ガシャチケット」1枚につき、
                    <br>
                    　1回実行できます。
                    <br>
                    ・本ガシャからはナーザ、メルクリアの
                    <br>
                    　魔鏡・★5鏡装・★4装備・★3装備のいずれかが獲得できます。
                    <br>
                    ・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。
                    <br>
                    ・イベント限定ポイントボーナス及び攻略戦ボーナスの効果は、
                    <br>
                    　該当のイベント開催時のみ発動します。
                    <br>
                    ・イベント限定ポイントボーナス及び攻略戦ボーナスが発動する
                    <br>
                    　魔鏡・装備の一覧は、該当イベントのお知らせをご確認ください。
                    <br>
                    ・表示されているステータス・効果・ポイントボーナス
                    <br>
                    　攻略戦ボーナスは、最大強化後の値となります。
                    <br>
                    ・限定キャラカスタム付き魔鏡でキャラカスタムを入手した場合、
                    <br>
                    　その他入手導線での入手はできません。
                    <br>
                    ・限定キャラカスタムを先に限定キャラカスタム付き魔鏡以外から入手した場合、
                    <br>
                　限定キャラカスタム付き魔鏡で複数入手はできません。</span><span style="font-size:11px;"></span>
            </p>
        </div>
    </div>

</body>
</html>
