<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28818/content_8130.png"
                     style="width: 100%">
            </p>
            <hr>
            <section>
                <p style="text-align: center;">【3/22更新】</p>
                <p style="text-align: center;">2021/3/22(月)21:00より開催しているFULLカーニバルの消費APが</p>
                <p style="text-align: center;">通常の倍となっている不具合が発生しております。</p>
                <p style="text-align: center;">3/22(月)開催分については現状のAP設定での開催といたします。</p>
                <p style="text-align: center;">3/23(火)開催分は設定を修正し、通常の設定での開催を行います。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">本件のお詫びといたしまして、</p>
                <p style="text-align: center;">
                    <strong>3/24(水)21:00~23:59</strong>に追加のFULLカーニバル開催を行います。
                </p>
                <p style="text-align: center;">
                    また、<strong>『ダイヤ&times;4個』</strong>
                </p>
                <p style="text-align: center;">を全てのお客様にお送りいたします。</p>
                <p style="text-align: center;">
                    『<strong>プレゼントボックス</strong>』からお受け取り下さい。
                </p>
                <p style="text-align: center;">なお、こちらの受取期限は</p>
                <p style="text-align: center;">
                    <strong>2021/3/29(月) 23:59</strong>
                </p>
                <p style="text-align: center;">までとなっておりますのでご注意ください。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">この度は多くのお客様に</p>
                <section>
                    <p style="text-align: center;">ご迷惑をおかけしていることをお詫び申し上げます。</p>
                </section>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">&nbsp;</p>
                <hr>
                <p style="text-align: center;">
                    <span style="font-size:18px;"><span style="color:#FF4747;"><strong>FULLカーニバル開催!!</strong></span></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:18px;"><span style="color:#FF9900;"></span></span>
                    <br>
                    <span style="color:#FF9900;"><strong><span style="font-size:16px;">経験値、キラル粒子そして、信頼度も大量獲得</span></strong></span>
                </p>
            </section>
            <section>
                <section>
                    <p style="text-align: center;">
                        <strong><span style="font-size:20px;">「FULLカーニバル」</span>が</strong>
                    </p>
                    <p style="text-align: center;">
                        <b style=""><span style="color:#FF4747;"><span style="font-size:20px;">3月末まで毎週末(土・日)</span></span>の</b>
                    </p>
                    <p style="text-align: center;">
                        <b style=""><span style="color: rgb(255, 71, 71);"><span style="font-size: 20px;">&nbsp;</span></span></b><b style="font-size: 20px;"><span style="color:#FF4747;">11時・21時&nbsp;</span></b><span style="font-size:20px;"><strong style=""><span style="font-size: 14px;">に</span>開催!!</strong></span>
                    </p>
                </section>
                <section>
                    &nbsp;
                </section>
                <p style="text-align: center;">
                    <strong>◆開催期間◆</strong>
                </p>
                <center>
                    <table border="1" cellpadding="1" cellspacing="1" width="406">
                        <tbody>
                            <tr>
                                <td height="25" style="text-align: center;">
                                    <strong>2021/3/6(土) 7(日)</strong>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong>11:00～13:59</strong>
                                    </p>
                                    <p style="text-align: center;">
                                        <strong>21:00～23:59</strong>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td height="25" style="text-align: center;">
                                    <strong>2021/3/13(土) 14(日)</strong>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong>11:00～13:59</strong>
                                    </p>
                                    <p style="text-align: center;">
                                        <strong>21:00～23:59</strong>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td height="25" style="text-align: center;">
                                    <strong>2021/3/20(土)</strong>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong>11:00～13:59</strong>
                                    </p>
                                    <p style="text-align: center;">
                                        <strong>21:00～23:59</strong>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td height="25" style="text-align: center;">
                                    <strong>2021/3/21(日)</strong>
                                </td>
                                <td style="text-align: center;">
                                    <strong>21:00～23:59</strong>
                                </td>
                            </tr>
                            <tr>
                                <td height="25" style="text-align: center;">
                                    <span style="color:#FF4747;"><strong>2021/3/22(月)</strong></span>
                                </td>
                                <td style="text-align: center;">
                                    <span style="color:#FF4747;"><strong>21:00～23:59</strong></span>
                                </td>
                            </tr>
                            <tr>
                                <td height="25" style="text-align: center;">
                                    <span style="color:#FF4747;"><strong>2021/3/23(火)</strong></span>
                                </td>
                                <td style="text-align: center;">
                                    <span style="color:#FF4747;"><strong>21:00～23:59</strong></span>
                                </td>
                            </tr>
                            <tr>
                                <td height="25" style="text-align: center;">
                                    <strong>2021/3/27(土) 28(日)</strong>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong>11:00～13:59</strong>
                                    </p>
                                    <p style="text-align: center;">
                                        <strong>21:00～23:59</strong>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </center>
                <center>&nbsp;</center>
                <center>【3/19更新】</center>
                <center>3/21(日)11:00から14:00に実施予定のメンテナンスに伴い、
                    <p>
                        <strong>3/21（日）11:00から開始予定の</strong>
                    </p>
                    <p>
                        <strong>FULLカーニバルは3/22（月）と3/23（火）の</strong>
                    </p>
                    <p>
                        <strong>21:00～23:59に振り替え開催といたします。</strong>
                    </p>
                </center>
                <center>
                    <center>
                        <hr>
                        <p>FULLカーニバルでは</p>
                        <p>
                            イベントミッションを達成で、<span style="color:#FF9900;"><strong>精鏡晶</strong></span>や<span style="color:#FF9900;"><strong>精鏡珠</strong></span>を獲得可能!!
                        </p>
                        <p>経験値アイテムを獲得して各キャラクターのレベルを上げることで</p>
                        <p>
                            <strong>ダイヤが獲得できるミッション</strong>が達成可能!!
                        </p>
                        <p>&nbsp;</p>
                    </center>
                    <center>
                        <p>
                            <strong>さらに、クエストミッション達成</strong>で
                        </p>
                        <p>
                            <span style="font-size:16px;"><span style="color:#FF4747;"><strong>ダイヤや、様々なアイテムが獲得可能!!</strong></span></span>
                        </p>
                    </center>
                    <p>&nbsp;</p>
                    <p>◆獲得信頼度◆</p>
                </center>
                <center>
                    <table border="1" cellpadding="1" cellspacing="1" width="406">
                        <tbody>
                            <tr height="25">
                                <td height="25" style="text-align: center;" width="33%">
                                    <strong>クエスト名</strong>
                                </td>
                                <td style="text-align: center;" width="33%">
                                    <strong>消費AP</strong>
                                </td>
                                <td style="text-align: center;" width="33%">
                                    <strong>獲得信頼度</strong>
                                </td>
                            </tr>
                            <tr height="25">
                                <td height="25" style="text-align: center;" width="33%">
                                    <strong>FULLカーニバル</strong>
                                </td>
                                <td style="text-align: center;" width="33%">
                                    <strong>10</strong>
                                </td>
                                <td style="text-align: center;" width="33%">
                                    <strong>20</strong>
                                </td>
                            </tr>
                            <tr height="25">
                                <td height="25" style="text-align: center;" width="33%">
                                    <strong>FULLカーニバル HARD</strong>
                                </td>
                                <td style="text-align: center;" width="33%">
                                    <strong>20</strong>
                                </td>
                                <td style="text-align: center;" width="33%">
                                    <strong>40</strong>
                                </td>
                            </tr>
                            <tr height="25">
                                <td height="25" style="text-align: center;" width="33%">
                                    <strong>FULLカーニバル MANIA</strong>
                                </td>
                                <td style="text-align: center;" width="33%">
                                    <span style="color:#FF4747;"><strong>40</strong></span>
                                </td>
                                <td style="text-align: center;" width="33%">
                                    <span style="color:#FF4747;"><strong>80</strong></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </center>
                <p style="text-align: center;">
                    <span style="color:#FF0000;"></span>
                </p>
                <p style="background-color: transparent;
                          color: rgb(255, 255, 255);
                          font-family: 游ゴシック体,&amp;
                          quot;
                          yu gothic&amp;
                          quot;
                          ,yugothic,&amp;
                          quot;
                          ヒラギノ角ゴシック pro&amp;
                          quot;
                          ,&amp;
                          quot;
                          hiragino kaku gothic pro&amp;
                          quot;
                          ,メイリオ,meiryo,osaka,&amp;
                          quot;
                          ｍｓ ｐゴシック&amp;
                          quot;
                          ,&amp;
                          quot;
                          ms pgothic&amp;
                          quot;
                          ,sans-serif;
                          font-size: 12.8px;
                          font-style: normal;
                          font-variant: normal;
                          font-weight: 400;
                          letter-spacing: normal;
                          margin-bottom: 0px;
                          margin-left: 0px;
                          margin-right: 0px;
                          margin-top: 0px;
                          orphans: 2;
                          padding-bottom: 0px;
                          padding-left: 0px;
                          padding-right: 0px;
                          padding-top: 0px;
                          text-align: center;
                          text-decoration: none;
                          text-indent: 0px;
                          text-transform: none;
                          -webkit-text-stroke-width: 0px;
                          white-space: normal;
                          word-spacing: 0px">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:18px;"><strong>■FULLカーニバルも<span style="color:#FF4747;">経験値大!!</span></strong><span style="font-size:18px;"><strong>■</strong></span></span>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/27619/content_content_content_passport.jpg"
                         style="width: 80%">
                </p>
                <p style="background-color: transparent;
                          color: rgb(255, 255, 255);
                          font-family: 游ゴシック体,&amp;
                          quot;
                          yu gothic&amp;
                          quot;
                          ,yugothic,&amp;
                          quot;
                          ヒラギノ角ゴシック pro&amp;
                          quot;
                          ,&amp;
                          quot;
                          hiragino kaku gothic pro&amp;
                          quot;
                          ,メイリオ,meiryo,osaka,&amp;
                          quot;
                          ｍｓ ｐゴシック&amp;
                          quot;
                          ,&amp;
                          quot;
                          ms pgothic&amp;
                          quot;
                          ,sans-serif;
                          font-size: 12.8px;
                          font-style: normal;
                          font-variant: normal;
                          font-weight: 400;
                          letter-spacing: normal;
                          margin-bottom: 0px;
                          margin-left: 0px;
                          margin-right: 0px;
                          margin-top: 0px;
                          orphans: 2;
                          padding-bottom: 0px;
                          padding-left: 0px;
                          padding-right: 0px;
                          padding-top: 0px;
                          text-align: center;
                          text-decoration: none;
                          text-indent: 0px;
                          text-transform: none;
                          -webkit-text-stroke-width: 0px;
                          white-space: normal;
                          word-spacing: 0px">&nbsp;</p>
                <div class="frame2">
                    <p style="text-align: center;">《&nbsp;注意事項&nbsp;》</p>
                    <p class="indent">
                        <span style="font-size:11px;">・FULLカーニバルのイベントミッションは</span>
                    </p>
                    <p class="indent">
                        <span style="font-size:11px;">各クエスト終了後1時間まで受け取りが可能です。</span>
                    </p>
                    <p class="indent">
                        <span style="font-size:11px;">・各クエスト終了後1時間が経過すると</span>
                    </p>
                    <p class="indent">
                        <span style="font-size:11px;">各クエストのイベントミッションは達成状態にかかわらず</span>
                    </p>
                    <p class="indent">
                        <span style="font-size:11px;">消失しますのでご注意下さい。</span>
                    </p>
                </div>
            </section>
        </div>

    </body>
</html>
