<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/30345/content_P____________________vol48.jpg"
                     style="width: 100%">
            </p>
            <p>
                <!-- 仕切り -->
            </p>
            <hr>
            <section>
                <p style="text-align: center;">制作プロデューサーからのお知らせ　vol.48</p>
                <p style="text-align: center;">（今回は4周年直前出し惜しみverとなります）</p>
                <p style="text-align: center;">
                    <br>
                    『TALES OF THE RAYS』を遊んでくださっているみなさま。
                </p>
                <p style="text-align: center;">こんにちは。制作プロデューサーの栁澤です。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">『ダンジョンに出会いを求めるのは間違っているだろうかⅢ』コラボ開催中です！</p>
                <p style="text-align: center;">
                    <br>
                    自分のダンまちとの出会いは
                </p>
                <p style="text-align: center;">
                    ちまたで話題になっていた神様に関するあのキーワードから、なんぞ？ってなり、
                    <br>
                    調べてるうちにベルくんと神様の関係が気になってアニメ1期を視聴し始めて&hellip;、
                    <br>
                    回を追う毎に魅力的なキャラクターが増え、
                </p>
                <p style="text-align: center;">ベルくんも成長し&hellip;気づいたらすっかりファンになっていました！</p>
                <p style="text-align: center;">
                    <br>
                    そして、今回のコラボにご協力してくださった
                </p>
                <p style="text-align: center;">『ダンジョンに出会いを求めるのは間違っているだろうかⅢ』のスタッフの皆様</p>
                <p style="text-align: center;">ありがとうございました！</p>
                <p style="text-align: center;">
                    <br>
                    イベントはまだ1週間ほど続きますので、
                </p>
                <p style="text-align: center;">遊んでいる最中の方も、これから始める方も</p>
                <p style="text-align: center;">ゆっくり楽しんで頂ければと思います。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">さて、いつもならこの流れで次回verupのご紹介をさせて頂くのですが&hellip;</p>
                <p style="text-align: center;">
                    ごめんなさい！今回は致しません&hellip;。
                    <br>
                    なぜなら、4周年記念放送でその詳細を語らせて頂く予定だから！
                </p>
                <p style="text-align: center;">
                    はい。完全にこちらの事情です。申し訳ございません。
                    <br>
                    その代わり放送の中では、実際にリリースされるROMを触りながら
                </p>
                <p style="text-align: center;">ver4.2.0をご紹介させて頂ければと思います。</p>
                <p style="text-align: center;">
                    <br>
                    特に前回ご紹介した&quot;初心者の方でも遊びやすくするための導線の改修&quot;辺りは、
                </p>
                <p style="text-align: center;">既にゲームを続けている方には、どう変わったか全く分からないと思うので、</p>
                <p style="text-align: center;">実際のROMを触りながらご紹介することで、</p>
                <p style="text-align: center;">自分たちが始めたあの時代から</p>
                <p style="text-align: center;">こんなに進化したの！？を感じて頂けたら良いなと思っています。</p>
                <p style="text-align: center;">
                    <br>
                    また、周年中にアップデートは2回実施予定で、
                </p>
                <p style="text-align: center;">
                    ver4.2.0が前回お伝えした上記の機能でROMを触りながらのご紹介。
                    <br>
                    2回目、3月中旬予定のver4.3.0が前回最後に少し触れた
                </p>
                <p style="text-align: center;">&quot;キャラクターにちなんだ、おお！！っと驚く機能&quot;の実装で、</p>
                <p style="text-align: center;">こちらの詳細も放送の中でご紹介させて頂こうと思います！</p>
                <p style="text-align: center;">
                    <br>
                    この機能が実装されることで、
                </p>
                <p style="text-align: center;">今までザレイズのシステムでは出来なかった</p>
                <p style="text-align: center;">原作再現の1つができるようになりますし、</p>
                <p style="text-align: center;">新たなIFの可能性を広げるきっかけにもなります。</p>
                <p style="text-align: center;">
                    <br>
                    ともあれ、4周年記念放送で明らかにしますので楽しみにしていてください！
                    <br>
                    ※4周年記念放送の日程やキャストは後日、ご案内があると思います。
                </p>
                <p style="text-align: center;">それでは、2月のスケジュールのご紹介です。</p>
                <hr>
                <p style="text-align: center;">
                    <br>
                    <span style="font-size:16px;"><strong>〇2月の配信スケジュール（予定）</strong></span>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30346/content_21020801.jpg"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p>
                    <span style="font-size:14px;"><strong>■精霊装第11弾　ダオス、バルバトス、ガイアス（2月中旬予定）</strong></span>
                    <br>
                    4周年直前。言うならば3年目最後のイベントであり、
                </p>
                <p>4周年の前夜祭的な位置づけのイベントです。</p>
                <p>
                    <br>
                    今までとちょっと一味違う精霊装イベントにしたいと考えた結果、
                </p>
                <p>かつてみなさんの前に強敵と立ちはだかった</p>
                <p>ダオス、バルバトス、ガイアス3人の精霊装が登場です！</p>
                <p>
                    <br>
                    濃い、とにかく濃い！
                </p>
                <p>精霊装って毎回デザインを考える時に、</p>
                <p>なんとなーく属性に合わせて作っているわけでは無く、</p>
                <p>毎回キャラクターと属性に相応しいテーマみたいなものをみんなで決めて</p>
                <p>デザイナーさんにデザインを起こしてもらうんですけど、</p>
                <p>このテーマを考えるのが毎回難航したりするのですが、</p>
                <p>今回の3人はアートディレクターからの提案で一発満場一致で決まりました。</p>
                <p>&nbsp;</p>
                <p>そのテーマは&hellip;&quot;神&quot;そうGODです。</p>
                <p>あくまでデザインの方向性なので本人達が神という訳ではもちろんないのですが、</p>
                <p>3人共納得感あるんですよね&hellip;。（語彙力弱くてすみません。）</p>
                <p>&nbsp;</p>
                <p>
                    <span style="font-size:14px;"><strong>■本編 第4部 5章 バルド参戦（2月下旬予定）</strong></span>
                    <br>
                    第4部開始時に突如姿を表した亡国の騎士、バルドが遂に参戦です！
                </p>
                <p>
                    <br>
                    初登場時にもご紹介しましたが、
                </p>
                <p>
                    バルドの<strong>キャラクターデザインは藤島康介先生です！</strong>
                </p>
                <p>&nbsp;</p>
                <p>その特徴は2本の属性を秘めた刀。もちろんその特徴は</p>
                <p>バトルスタイルにも反映されていますので楽しみにしていてください！</p>
                <p>
                    <br>
                    さらにナーザとメルクリア兄妹にはオーバーレイ。
                </p>
                <p>衣装はメルクリアがいつかしたいと言っていた</p>
                <p>パジャマパーティが出来るようにパジャマをご用意しています。</p>
                <p>&nbsp;</p>
                <p>
                    <span style="font-size:14px;"><strong>■4周年イベント第1弾　マグナディウエス攻略戦（2月下旬予定）</strong></span>
                    <br>
                    4周年の最初を飾るに相応しい相手は誰だと考えた結果、
                </p>
                <p>
                    アクアラビリンスの最下層に居るマグナ様に出張って頂く事にしました！
                    <br>
                    （マグナ様を操ろうなんて事したら
                </p>
                <p>ラストヴァニッシャーされてしまうのでプレイアブル参戦はしません。）</p>
                <p>&nbsp;</p>
                <p>アクアラビリンスと言えば、行くのが大変、</p>
                <p>道中も危険が一杯（ドラゴニュートがヤバイ）、ようやく辿り着いたら</p>
                <p>マグナ様というテイルズ オブ屈指の難易度を誇る隠しダンジョンです。</p>
                <p>&nbsp;</p>
                <p>自分のカイルも何度行方不明になったか&hellip;。</p>
                <p>そんなTOD2プレイヤーにはトラウマなマグナ様。</p>
                <p>ザ レイズに来てもその強さは容赦なく、</p>
                <p>そして、慈悲の心と紳士的な振る舞いをしてくれるに違いありません。</p>
                <p>&nbsp;</p>
                <p>生き残るコツはマグナ様の機嫌を損ねないことです！みなさんの健闘を祈ります！</p>
                <p>
                    <br>
                    同時に登場するのはリアラ、ルーティ、イリア、コハクの決戦魔鏡。
                </p>
                <p>そうです。ピンときた方も居ると思いますが、</p>
                <p>2周年の時に開催した藤島先生デザインのヒロイン決戦と同じく、</p>
                <p>今回はいのまた先生デザインのヒロイン決戦とさせて頂きました！</p>
                <p>彼女たちと共にマグナ様に立ち向かってみてください。</p>
                <hr>
                <p style="text-align: center;">早いものであっという間に4周年です！</p>
                <p style="text-align: center;">
                    <br>
                    4周年直前の先月にリリースから目標にしていた
                </p>
                <p style="text-align: center;">1部キービジュアルの18作品（＋4作品）のパーティキャラの</p>
                <p style="text-align: center;">プレイアブル参戦が達成できました！</p>
                <p style="text-align: center;">
                    <br>
                    とすると、今度はそれをスタート地点に
                </p>
                <p style="text-align: center;">4周年からは新たな目標に向かってリスタートするタイミングだと思っています。</p>
                <p style="text-align: center;">
                    <br>
                    みなさんにこれからも楽しんで頂くために、
                </p>
                <p style="text-align: center;">その目標に何を定めるのか&hellip;まだ具体的な事は言えませんが、</p>
                <p style="text-align: center;">なるべく早くお伝え出来るようにしたいと思います！</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">そして、目標だなんだと</p>
                <p style="text-align: center;">未来に向かっての意識の高いっぽい話をさせて頂きましたが、</p>
                <p style="text-align: center;">
                    まずは目の前の4周年です！
                    <br>
                    1,2周年は100連無料、3周年はキラキラ魔鏡確定10連&hellip;と
                </p>
                <p style="text-align: center;">毎年サプライズキャンペーンを用意してきましたが</p>
                <p style="text-align: center;">当然今回もありますし、</p>
                <p style="text-align: center;">
                    去年を大きく上回る超豪華なキャンペーンをご用意してます！
                    <br>
                    こちらの情報も適時公開していきますので、楽しみにしていてください！
                </p>
                <p style="text-align: center;">
                    <br>
                    引き続き、『TALES OF THE RAYS』をよろしくお願い致します。
                </p>
                <p style="text-align: center;">制作プロデューサー　栁澤</p>
                <section>

                </section>
            </section>
        </div>
    </body>
</html>
