<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p align="center">
                <span style="color:#FF4747;"><span style="font-size:18px;">&nbsp;<strong>リリース４周年記念番組配信決定!!</strong></span></span>
            </p>
            <p>
                <span style="font-size:18px;"><span style="color:#FF4747;"></span></span>
                <br>
                <a href="http://tof.tales-ch.jp/ticket/?externalbrowser=true">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30827/content_4th__.png"
                         style="width: 80%">
                </a>..
            </p>
            <p>&nbsp;</p>
            <p align="center">
                <span style="font-size:20px;"><strong><a href="http://torays.tales-ch.jp/4thcp/#externalbrowser=true">4周年特設サイトはこちら！</a>​</strong></span>
            </p>
            <p align="center">
                <span style="font-size:20px;"><strong><a href="https://youtu.be/YnbGy9nBHtU#externalbrowser=true">配信ページはこちら！</a>​</strong></span>
            </p>
            <p align="center">&nbsp;</p>
            <p align="center">「テイルズ オブ ザ レイズ」は</p>
            <p align="center">2月28日にアプリリリース4周年！</p>
            <p align="center">アニバーサリー当日に番組の配信が決定いたしました！</p>
            <p align="center">事前に収録した番組をLIVE配信しますので、</p>
            <p align="center">当日はぜひコメントを書き込みながらご覧ください。</p>
            <p align="center">盛りだくさんのアプリ内キャンペーンの紹介や、</p>
            <p align="center">さらに新情報も&hellip;⁉</p>
            <p align="center">「ザ レイズ」を普段プレイしている方も、</p>
            <p align="center">始めたばかりの方もお見逃しなく！</p>
            <p align="center">&nbsp;</p>
            <p align="center">&nbsp;</p>
            <p align="center">
                <strong>◆配信予定時間◆</strong>
            </p>
            <p align="center">
                <strong>2021/2/28(日) 20:00 ～&nbsp;</strong>
            </p>
            <p align="center">&nbsp;</p>
            <p align="center">
                <strong>【出演者】</strong>（敬称略）
            </p>
            <p align="center">
                <strong>花江 夏樹</strong>（イクス・ネーヴェ役/「テイルズ オブ ザ レイズ」）
            </p>
            <p align="center">
                <strong>照井 春佳</strong>（ミリーナ・ヴァイス役/「テイルズ オブ ザ レイズ」）
            </p>
            <p align="center">
                <strong>池野 泰広</strong>（「テイルズ オブ ザ レイズ」プロデューサー）
            </p>
            <p align="center">
                <strong>栁澤 峻</strong>（「テイルズ オブ ザ レイズ」制作プロデューサー）
            </p>
            <p align="center">
                MC：<strong>名越 涼</strong>
            </p>
            <p align="center">&nbsp;</p>
            <p align="center">
                <span style="font-size:12px;">※予告なく変更・終了となる場合があります。</span>
            </p>
            <p>

            </p>
        </div>
    </body>
</html>
