<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/30726/content_21022206.jpg"
                     style="width: 100%">
            </p>
            <hr>
            <section>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>2021/2/22(月) 14:00</strong></span>より
                </p>
                <p style="text-align: center;">
                    <font color="#ff4747"><b>4部第5章～忠義の剣士～</b></font>が<span style="color:#FF4747;"><strong>追加</strong></span>!!
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">4部第5章では</p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong><span style="color:#FF9900;">バルドが参戦!!</span></strong></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
            </section>
            <section>
                <p style="text-align: center;">
                    <strong>◆参戦キャラクター◆</strong><span style="font-size: 0.8rem; text-align: left;"></span>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/30727/content_21022202.jpg"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>◆配信開始日時◆</strong>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><span style="color:#FF4747;"><strong>2021/2/22(月) 14:00 ～</strong></span></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    ◆<strong>あらすじ◆</strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/30740/content_21022201.jpg"
                             style="width: 80%">
                    </strong>
                </p>
                <hr>
                <p style="text-align: center;">&nbsp;</p>
            </section>
            <section>
                <div class="frame2">
                    <p style="text-align:center;">&nbsp;《注意事項》</p>
                    <p>
                        <span style="font-size:11px;">・4</span><span style="font-size:11px;">部第5章をプレイするためには</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">4部第4章をクリアしている必要があります。</span>
                    </p>
                    <p class="indent">
                        <span style="font-size:11px;">・本お知らせ内に掲載されている内容は、</span>
                    </p>
                    <p class="indent">
                        <span style="font-size:11px;">予告なく変更することがあります。</span>
                    </p>
                </div>
            </section>
        </div>

    </body>
</html>
