<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/31800/content_2104021.png"
                     style="width: 100%">
            </p>
            <hr>
            <p>
                <b>スレイ、ミクリオ、シャーリィ</b>の
            </p>
            <p>
                <strong><span style="color:#FF4747;">『魔鏡』と</span><span style="color:#FF4747;">『装備』のみ</span></strong>が出現する
            </p>
            <p>スレイ＆ミクリオ＆シャーリィ確定チケットガシャが開催!!</p>
            <p>&nbsp;</p>
            <p>
                <strong>◆開催期間◆</strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;">メンテナンス終了後 ～&nbsp;</span><span style="color:#FF4747;">2021/4/19(月) 23:59</span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                スレイ＆ミクリオ＆シャーリィ確定チケットガシャでは、
                <br>
                <b>スレイ、ミクリオ、シャーリィ</b>の<span style="color:#FF4747;"><strong>『</strong><span style="color:#FF4747;"><strong>装備</strong></span><strong>』と『魔鏡</strong><strong>』のみ</strong></span>が出現!!
            </p>
            <div class="frame1">
                <p style="text-align: center;">
                    <strong>スレイの魔鏡・装備</strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/31698/content_3110006.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/11650/content_3110003.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/21462/content_315002.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/21397/content_315003.png"
                             style="width: 80px;
                                    height: 80px">
                    </strong>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/31699/content_315004.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/21408/content_314001.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/21409/content_314002.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/21410/content_314003.png"
                             style="width: 80px;
                                    height: 80px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/21411/content_313001.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/21412/content_313002.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/21413/content_313003.png"
                             style="width: 80px;
                                    height: 80px">
                        <br>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/21414/content_313004.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/21415/content_313005.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/21416/content_313006.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/21417/content_313007.png"
                             style="width: 80px;
                                    height: 80px">
                    </strong>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong><strong>ミクリオの魔鏡・装備</strong></strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/31703/content_3210004.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/21912/content_3210003.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/22304/content_325001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/31701/content_325002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/31702/content_325003.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1055/content_324001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1056/content_324002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1058/content_323001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1059/content_323002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1060/content_323003.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1061/content_323005.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1062/content_323006.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>シャーリィの魔鏡・装備</strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/31706/content_10510005.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/25977/content_10510004.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/22424/content_1055002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/25978/content_1055003.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/31707/content_1055004.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/13072/content_1054001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/13073/content_1054002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/13075/content_1053001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/13076/content_1053002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/13077/content_1053003.png"
                         style="width: 80px;
                                height: 80px">
                </p>
            </div>
            <p>
                <span style="font-size:14px;"><strong>スレイ＆ミクリオ＆シャーリィ確定ガシャチケット</strong>は</span>
            </p>
            <p>
                <strong><span style="font-size:14px;">『ブラッククローバー 試される絆』</span></strong><span style="font-size:14px;"><strong>ガシャ</strong>および</span>
            </p>
            <p>
                <strong><span style="font-size:14px;">『</span><span style="font-size:14px;">ブラッククローバーコラボ記念</span><span style="font-size:14px;">』</span></strong><span style="font-size:14px;"><strong>ステップアップガシャ</strong>、</span>
            </p>
            <p>
                <strong><span style="font-size:14px;">『ブラッククローバー 試される絆』</span></strong><span style="font-size:14px;"><strong>ポイント交換所</strong>で</span>
            </p>
            <p>
                <span style="font-size:14px;">入手が可能!</span>
            </p>
            <hr>
            <section>
                <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                <img src="{{ s3_url }}public/uploads/ckeditor/pictures/31797/content_2104012.png"
                     style="width: 100%">
                <ul class="box">
                    <li>
                        <strong>魔鏡技:<font color="#ff4747">愚乱怒守羅夢</font></strong>　　威力:<font color="#ff4747"><b>1651</b></font>
                    </li>
                    <li style="text-align:right;float:right">
                        <strong>スレイ専用</strong>
                    </li>
                </ul>
                <div class="frame1">
                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        <strong>効果内容</strong>
                                    </p>
                                    <p>
                                        燃え滾る炎で敵に根性を叩き込む
                                        <br>
                                        敵に疲労を付与する
                                    </p>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong><a href="https://youtu.be/qqIMJFcmQlkexternalbrowser=true">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                 style="width: 60px;
                                                        height: 60px">
                                        </a></strong>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <hr>
            <section>
                <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                <img src="{{ s3_url }}public/uploads/ckeditor/pictures/31798/content_2104013.png"
                     style="width: 100%">
                <ul class="box">
                    <li>
                        <strong>魔鏡技:<font color="#FF4747">瞬迅の雷</font></strong>　　威力:<font color="#ff4747"><b>1625</b></font>
                    </li>
                    <li style="text-align:right;float:right">
                        <strong>ミクリオ専用</strong>
                    </li>
                </ul>
                <div class="frame1">
                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        <strong>効果内容</strong>
                                    </p>
                                    <p>
                                        雷を纏い高速で戦場を駆け抜ける
                                        <br>
                                        自身の移動速度を上昇させる
                                    </p>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong><a href="https://youtu.be/MmOHv8iMFGoexternalbrowser=true">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                 style="width: 60px;
                                                        height: 60px">
                                        </a></strong>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <hr>
            <section>
                <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                <img src="{{ s3_url }}public/uploads/ckeditor/pictures/31799/content_2104014.png"
                     style="width: 100%">
                <ul class="box">
                    <li>
                        <strong>魔鏡技:<font color="#ff4747">海竜の咆哮</font></strong>　　威力:<font color="#ff4747"><b>1748</b></font>
                    </li>
                    <li style="text-align:right;float:right">
                        <strong>シャーリィ専用</strong>
                    </li>
                </ul>
                <div class="frame1">
                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        <strong>効果内容</strong>
                                    </p>
                                    <p>
                                        溢れる魔力を解放し、創成した海竜が
                                        <br>
                                        敵を飲み込む。敵に毒を付与する
                                    </p>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <a href="https://youtu.be/1vCXqKKk-YMexternalbrowser=true"><strong>
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                 style="width: 60px;
                                                        height: 60px">
                                        </strong></a>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <div align="center">
                <hr>
                <div class="frame2">
                    <p style="text-align:center;">《 注意事項&nbsp;》</p>
                    <p>
                        <span style="font-size:11px;"></span><span style="font-size:11px;">・本ガシャは「スレイ＆ミクリオ＆シャーリィ確定ガシャチケット」のみで
                            <br>
                            　実行できます。
                            <br>
                            ・本ガシャはスレイ＆ミクリオ＆シャーリィ確定ガシャチケット1枚につき、
                            <br>
                            　1回実行できます。
                            <br>
                            ・本ガシャからはスレイ、ミクリオ、シャーリィの
                            <br>
                            　魔鏡・★5鏡装・★4装備・★3装備のいずれかが獲得できます。
                            <br>
                            ・本ガシャからは重複する魔鏡、装備、キャラカスタムが
                            <br>
                            　出現する可能性がございます。
                            <br>
                            ・イベント限定ポイントボーナス及び攻略戦ボーナスの効果は、
                            <br>
                            　該当のイベント開催時のみ発動します。
                            <br>
                            ・イベント限定ポイントボーナス及び攻略戦ボーナスが発動する
                            <br>
                            　魔鏡・装備の一覧は、該当イベントのお知らせをご確認ください。
                            <br>
                            ・表示されているステータス・効果・ポイントボーナス
                            <br>
                            　攻略戦ボーナスは、最大強化後の値となります。
                            <br>
                            ・期間限定の魔鏡・装備・キャラカスタムは再登場する場合がございます。
                            <br>
                            ・限定キャラカスタム付き魔鏡でキャラカスタムを入手した場合、
                            <br>
                            　その他入手導線での入手はできません。
                            <br>
                            ・限定キャラカスタムを先に限定キャラカスタム付き魔鏡以外から入手した場合、
                            <br>
                        　限定キャラカスタム付き魔鏡で複数入手はできません。</span>
                    </p>
                </div>
            </div>

        </div>
        <p style="text-align: center;">&copy;田畠裕基/集英社・テレビ東京・ブラッククローバー製作委員会</p>
    </body>
</html>
