<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <span style="color:#FF4747;"><span style="font-size:18px;"><strong>【重要】</strong></span></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:18px;"><strong>現在確認している不具合につきまし</strong></span><span style="font-size:18px;"><strong>て</strong></span>
            </p>
            <p>
                <strong>(4/5&nbsp;19:00更新)</strong><!-- 仕切り -->
            </p>
            <!-- 仕切り -->
            <hr>
            <section>
                <p style="text-align: center;">
                    <strong><span style="font-size:14px;"></span></strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:12px;">『TALES OF THE RAYS』をご利用いただき誠にありがとうございます。</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:12px;">現在確認している不具合を報告させていただきます。</span>
                    <br>
                    <span style="font-size:12px;"></span>
                </p>
            </section>
            <section>
                <div class="frame1">
                    <p>
                        <span style="color:#FFFFFF;"></span>
                    </p>
                    <p>
                        <span style="font-size:12px;"><strong>■2021/4/5&nbsp;19:00現在 不具合対応進捗状況</strong></span>
                    </p>
                    <p>
                        <span style="font-size:12px;"><strong>●対応中の不具合</strong></span>
                    </p>
                    <p>・ホーム画面にてスレイの精霊装獲得ボイスが再生されない</p>
                    <p>（4/5更新）</p>
                    <p>└上記不具合を修正いたしました。</p>
                    <p>&nbsp;</p>
                    <p>・アスタの術攻の値がマイナスとなる場合がある</p>
                    <p>（3/31 14:00更新）</p>
                    <p>└アスタの術技のダメージ算定において術攻の値は参照されず、</p>
                    <p>
                        　　ダメージ算定上影響ありません。
                        <br>
                        　　魔鏡技に関しては通常のキャラクターは物攻・術攻の値を
                    </p>
                    <p>
                        　　参照する計算となっておりますが、
                        <br>
                        　　アスタに関しては術攻の値を参照しないように調整を行っております。
                    </p>
                    <p>次回以降のアップデートにて修正予定となります。</p>
                    <p>&nbsp;</p>
                    <p>・シュヴァーンの一部イラストが意図しない表示となっている</p>
                    <p>&nbsp; (3/25更新)</p>
                    <p>└イラストの一部調整が完了いたしました。&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>・特定条件時にフォームキャラクターの</p>
                    <p>キャラクターアイコンの枠がベースキャラクターと</p>
                    <p>同様の枠になってしまう表示不具合</p>
                    <p>└次回以降のアップデートにて修正予定となります。</p>
                    <p>&nbsp;</p>
                    <p>・テイルズオブウィスティリアにて</p>
                    <p>フォームキャラクターのシュヴァーンが使用できてしまう不具合</p>
                    <p>└次回以降のアップデートにて修正予定となります。</p>
                    <p>&nbsp;</p>
                    <p>・ヴィクトルの魔鏡技「デフィシエント・ヒストリア」を</p>
                    <p>発動した際、一部の条件で</p>
                    <p>ヴィクトルのモデルが意図しない表示となる不具合</p>
                    <p>（2021/3/15更新）</p>
                    <p>└近日修正予定となります。</p>
                    <p>&nbsp;</p>
                    <p>
                        ・クロスオーバー魔鏡技で発動者によって
                        <br>
                        　発動後の敵の向きや位置が異なる不具合
                        <br>
                        　└次回以降のアップデートにて修正予定となります。
                    </p>
                    <p>
                        <br>
                        ・リオン・ジューダスのクロスオーバー魔鏡技「鋼破刹浄闇」を
                        <br>
                        　ジューダスが発動した際に敵が浮き上がらない不具合
                        <br>
                        　└リオンで発動した場合、
                    </p>
                    <p>
                        　　協力発動した際は問題ないことを確認しております。
                        <br>
                        　　次回以降のアップデートにて修正予定となります。
                    </p>
                    <p>&nbsp;</p>
                    <p>・イオンとシンクのクロスオーバー魔鏡技「ダアト式・八卦硬衝」を</p>
                    <p>発動した際、一部の条件で</p>
                    <p>
                        　シンクのモデルが意図しない表示となる不具合
                        <br>
                        　└次回以降のアップデートにて修正予定となります。
                    </p>
                    <p>
                        <span style="font-size:12px;"></span><span style="font-size:12px;"></span>
                    </p>
                    <p>
                        <span style="font-size:12px;"></span>
                    </p>
                    <p>・チュートリアル中の好きなキャラクター選択時、</p>
                    <p>一部の端末において魔鏡技動画が再生できない不具合</p>
                    <p>
                        <span style="font-size:12px;">└原因調査中となります。</span>
                    </p>
                    <p>&nbsp;</p>
                    <p>・クロスオーバー魔鏡を所持しているキャラクターを</p>
                    <p>サポートに設定した際、ポイントボーナスが正常に反映されない</p>
                    <p>└一部キャラクターのみにポイントボーナスの表示が</p>
                    <p>正常に表示されない現象を確認しております。</p>
                    <p>クエスト内の獲得数表示及び実際の獲得数は</p>
                    <p>正しい値で獲得されており、表示のみの不具合となります。</p>
                    <p>&nbsp;</p>
                    <p>・強化画面TOPにて師弟順ソートを行いスクロールすると</p>
                    <p>ALLボタンに流派段階が表示されてしまう表示不具合</p>
                    <p>└次回以降のアップデートにて対応予定となります。</p>
                    <p>&nbsp;</p>
                    <p>・パネルミッションやクエストミッションで魔鏡を獲得した際</p>
                    <p>対象キャラクターが覚醒しない不具合</p>
                    <p>└次回以降のアップデートにて対応予定となります。</p>
                    <p>&nbsp;</p>
                    <p>・ポイントイベント交換所にて多量にアイテムを交換した場合</p>
                    <p>エラーが発生する場合がある件</p>
                    <p>└次回以降のアップデートにて対応予定となります。</p>
                    <p>修正まで、お手数おかけいたしますが、</p>
                    <p>一度に万単位の交換は避けていただくようお願いいたします。</p>
                    <p>&nbsp;</p>
                    <p>・「メニュー」の「オプション」内、「用語集」の内容が</p>
                    <p>
                        　表示されない場合がある不具合
                        <br>
                        　└任意のクエストを1つクリアすることで
                    </p>
                    <p>表示されることを確認しております。</p>
                    <p>&nbsp;</p>
                    <p>・クロスオーバー魔鏡技発動時にキャラクターの位置が</p>
                    <p>ずれる場合がある不具合</p>
                    <p>
                    　└<span style="font-size:12px;"></span><span style="font-size:12px;">次回以降のバージョンにて修正となります。</span>
                </p>
                <p>&nbsp;</p>
                <p>・オーダー時間ミッションを進行した際に</p>
                <p>ミッションが時間通り進行されないことがある不具合</p>
                <p>
                　└<span style="font-size:12px;"></span><span style="font-size:12px;">次回以降のバージョンにて修正となります。</span>
            </p>
            <p>
                <span style="font-size:12px;"></span>
                <br>
                <span style="font-size:12px;"><span style="font-size:12px;"></span></span><span style="font-size:12px;"></span><span style="font-size:12px;"></span>
            </p>
            <p>
                <span style="font-size:12px;">・ガシャのおまけのキャラカスタムを獲得後に</span>
            </p>
            <p>
                <span style="font-size:12px;">強化から該当キャラのキャラカスタム画面に</span>
            </p>
            <p>
                <span style="font-size:12px;">遷移すると該当キャラカスタムが</span>
            </p>
            <p>
                <span style="font-size:12px;">表示されていない場合がある不具合</span>
            </p>
            <p>
                <span style="font-size:12px;">└原因調査中となります。</span>
            </p>
            <p>
                <span style="font-size:12px;">こちら、ホーム画面へ一度アクセスすることで</span>
            </p>
            <p>
                <span style="font-size:12px;">解消されます。</span>
            </p>
            <p>&nbsp;</p>
            <p>
                <span style="font-size:12px;">・開催中の｢好きな鏡映片Ⅰ交換所｣及び
                    <br>
                    　｢好きな鏡映片Ⅱ交換所｣に遷移する際に
                    <br>
                    　｢開催期間外です｣と表示される場合がある不具合
                    <br>
                    　(1/3 21:20更新)
                    <br>
                    　└原因調査中となります。
                    <br>
                    　　一度ホームに戻っていただき再度交換所に
                    <br>
                    　　遷移することで正常に遷移できる場合があることを
                    <br>
                　　確認しております。</span>
            </p>
            <p>&nbsp;</p>
            <p>
                <span style="font-size:12px;">・復刻機能にて複数のイベントを復刻後、イベント選択時に
                    <br>
                    　｢開催期間外です｣と表示される場合がある
                    <br>
                　└原因調査中となります。</span>
            </p>
            <p>
                <span style="font-size:12px;">　　復刻したイベントのクエストをプレイすることで
                    <br>
                　　解消されることを確認しております。</span>
            </p>
            <p>&nbsp;</p>
            <p>
                <span style="font-size:12px;"></span>
            </p>
            <p>
                <strong>●対応中のマルチ関連の不具合</strong>
            </p>
            <p>・特定の端末にて、メイン/サブともに戦闘不能になった</p>
            <p>場合に限り、キャラクターが透明になる不具合</p>
            <p>└原因調査中となります。</p>
            <p>&nbsp;</p>
            <p>
                <span style="font-size:12px;"><span style="font-size:12px;"></span></span>
            </p>
            <p>
                <span style="font-size:12px;">今後も調査対応している不具合・お客様よりご報告頂いている不具合は
                    <br>
                順次更新して参ります。</span>
            </p>
        </div>
        <section>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                <strong><span style="font-size:14px;"></span></strong><span style="font-size:12px;">この度は多くのお客様にご迷惑をおかけしておりますことをお詫び申し上げます。</span><span style="font-size:12px;">
                    <br>
                不具合解消まで今しばらくお待ちいただけますよう、お願い申し上げます。</span>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                <span style="font-size:12px;">引き続き『TALES OF THE RAYS』をよろしくお願い申し上げます。</span>
            </p>
        </section>
    </section>
</div>

</body>
</html>
