<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/31768/content_21032506.jpg"
                     style="width: 100%">
            </p>
            <hr>
            <section>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>2021/3/25(木) 14:00</strong></span>より
                </p>
                <p style="text-align: center;">
                    <font color="#ff4747"><b>4部第6章～創られし精霊～</b></font>が<span style="color:#FF4747;"><strong>追加</strong></span>!!
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><strong>クエスト</strong></span><span style="font-size:16px;"><strong>「6-15 ファンダリア領 森5」で</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><span style="font-size:16px;"><strong>デューク参戦!!</strong></span></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><span style="font-size:16px;"><strong>報酬魔境の獲得も可能！</strong></span></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">※デュークがパーティ未加入の場合に限ります</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">※デュークの報酬魔境未所持の場合に限ります</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>◆強敵キャラクター◆</strong>
                </p>
                <p style="text-align: center;">デュークは「強敵キャラクター」として</p>
                <p style="text-align: center;">通常のキャラクターとは異なる仕様となります。</p>
                <p style="text-align: center;">強敵キャラクターの詳細については</p>
                <p style="text-align: center;">「メニュー」の「ヘルプ」から</p>
                <p style="text-align: center;">「バトル」＞「強敵キャラクター」の項目をご確認ください。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">◆ミッション更新◆</p>
                <p style="text-align: center;">下記種類のミッションにつき、</p>
                <p style="text-align: center;">ミッションを追加いたしました。</p>
                <p style="text-align: center;">
                    ・レベルを〇までにする
                    <br>
                    ・〇人仲間にする
                    <br>
                    ・〇人覚醒する
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">【3/25更新】</p>
                <p style="text-align: center;">一部、ミッションの「詳細」にて</p>
                <p style="text-align: center;">人数の表示が誤っている不具合を確認しております。</p>
                <p style="text-align: center;">近日中に修正予定となります。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">「〇人仲間にする」ミッションは</p>
                <p style="text-align: center;">ルーム専用キャラクターも人数に含まれます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <section>
                    <p style="text-align: center;">
                        <strong>◆配信開始日時◆</strong>
                    </p>
                </section>
                <section>
                    <p style="text-align: center;">
                        <span style="color:#FF4747;"><span style="color:#FF4747;"><strong>2021/3/25(木) 14:00～</strong></span></span>
                    </p>
                </section>
                <p style="text-align: center;">&nbsp;</p>
            </section>
            <section>
                <p style="text-align: center;">
                    ◆<strong>あらすじ◆</strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/31769/content_21032501.jpg"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">&nbsp;</p>
            </section>
            <section>
                <div class="frame2">
                    <p style="text-align:center;">&nbsp;《注意事項》</p>
                    <p>
                        <span style="font-size:11px;">・4</span><span style="font-size:11px;">部第6章をプレイするためには</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">4部第5章をクリアしている必要があります。</span>
                    </p>
                    <p class="indent">
                        <span style="font-size:11px;">・本お知らせ内に掲載されている内容は、</span>
                    </p>
                    <p class="indent">
                        <span style="font-size:11px;">予告なく変更することがあります。</span>
                    </p>
                </div>
            </section>
        </div>

    </body>
</html>
