<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <strong>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/6301/content_jewel_pack001.jpg"
                         style="width: 80%;
                                height: 80%">
                </strong>
            </p>
            <!-- 仕切り -->
            <hr>
            <section>
                <p style="text-align: center;">
                    <strong>毎日鏡晶石が受け取れる！</strong>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>合計2100個 10連ガシャが実行可能！</strong></span>
                </p>
                <p style="text-align: center;">『デイリー鏡晶石パック』再登場！</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/14732/content_1910044.jpg"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><strong>◆販売期間◆</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><span style="color:#FF4747;"><strong>2021/3/31(水)メンテナンス終了後&nbsp;～ 2021/4/21(水) 23:59</strong></span></span>
                </p>
                <p style="text-align: center;"></p>
                <div class="frame1">
                    <section>
                        <p>1.『ホーム』画面の『デイリー鏡晶石パックボタン』か</p>
                        <p>『ショップボタン』をタップ。</p>
                        <p style="text-align: center;">
                            <span style="color:#FF00FF;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/31998/content_1910045.jpg"
                                     style="width: 80%">
                            </span>
                        </p>
                        <p>2.『デイリー鏡晶石パック』を選択し、購入。</p>
                        <p style="text-align: center;">
                            <span style="color:#FF00FF;"><span style="color:#FF00FF;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/24495/content_1910046.jpg"
                                     style="width: 80%">
                            </span></span>
                        </p>
                    </section>
                    <p style="text-align: center;">
                        <!-- 仕切り -->
                    </p>
                </div>
                <section>
                    <p>&nbsp;</p>
                </section>
            </section>
            <div class="frame2">
                <p style="text-align:center;">&nbsp;《注意事項》</p>
                <p class="indent">
                    <span style="font-size:11px;">・購入日を含めて30日間、毎日1回受け取ることができます。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・デイリー鏡晶石パックの鏡晶石は</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">各種ログインボーナス受け取り後に、</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">プレゼントボックスで受け取ることができます。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">ただし、購入当日分はすぐに受け取ることができます。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・日付の更新タイミングは毎日AM4:00となります。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・デイリー鏡晶石パックで受け取れる鏡晶石は、</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">「所持鏡晶石確認」のダイアログ内の</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">「無償鏡晶石」に加算されます。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・ログインされなかった日の鏡晶石は受け取ることはできません。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・プラットフォーム変更を伴う引き継ぎを行った場合は、</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">デイリー鏡晶石パックの残数及び獲得した鏡晶石は</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">引き継ぐことはできません。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・デイリー鏡晶石パックは重複して購入することはできません。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・デイリー鏡晶石パックの有効期限は、購入日を含めて30日間です。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・デイリー鏡晶石パックも</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">「鏡晶石購入額」として扱われるため、鏡晶石の購入限度額は</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">「鏡晶石購入額」と「デイリー鏡晶石パック」の</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">合算額で判定されます。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">未成年の方がデイリー鏡晶石パックを購入する際に</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">月額購入の限度額を超えている場合、</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">翌月に購入限度額がリセットされるまでは、</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">デイリー鏡晶石パックはご購入いただけません。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・鏡晶石購入の限度額は、</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">年齢に応じて以下のように設定されています。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">16歳未満：1ヵ月5,000円まで</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">16歳~19歳：1ヵ月20,000円まで</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">20歳以上：制限なし</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・デイリー鏡晶石パックの販売は再び行う場合がございます。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">その際、商品内容が変更になる場合がございます。</span>
                </p>
            </div>
        </div>

    </body>
</html>
