<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/32176/content_P____________________vol50.jpg"
                     style="width: 100%">
            </p>
            <p>
                <!-- 仕切り -->
            </p>
            <section>
                <hr>
                <p style="text-align: center;">
                    <br>
                    『TALES OF THE RAYS』を遊んでくださっているみなさま。
                </p>
                <p style="text-align: center;">こんにちは。制作プロデューサーの栁澤です。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">4周年からの4周年終了直後の『ブラッククローバー』さんとのコラボ！と、</p>
                <p style="text-align: center;">お祭り騒ぎの1.5ヵ月いかがでしたでしたでしょうか。</p>
                <p style="text-align: center;">4周年は4年分の感謝を込めたキャンペーンを展開させて頂き、</p>
                <p style="text-align: center;">ゲームジャンルでは初コラボだったTVアニメ『ブラッククローバー』は</p>
                <p style="text-align: center;">版権元様に熱量高くご協力頂いたおかげもあり、</p>
                <p style="text-align: center;">とっても再現度の高いコラボになったので楽しんで頂けたら幸いです！</p>
                <p style="text-align: center;">（個人的には熱血真面目大王なフエゴレオンも大好きだったりします!</p>
                <p style="text-align: center;">もし次の機会があれば参戦してほしいですね！）</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">そして、今回の制作プロデューサーからのお知らせなのですが、</p>
                <p style="text-align: center;">次回verupの内容や本日公開された</p>
                <p style="text-align: center;">参戦PVの内容も気になる所&hellip;ではあるのですが、</p>
                <p style="text-align: center;">verupはまだお伝え出来ない内容なんかもあって</p>
                <p style="text-align: center;">詳細をお伝えすることができません。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">参戦の方もボリュームが少ないので、</p>
                <p style="text-align: center;">本日はサラッとご紹介させて頂きます。</p>
                <p style="text-align: center;">そして3/13,3/14に開催された</p>
                <p style="text-align: center;">オンラインファンミーティングに参加されたみなさんから</p>
                <p style="text-align: center;">運営に対してのご質問を沢山頂いたのですが、</p>
                <p style="text-align: center;">ファンミ中に時間の都合で回答できなかったザ レイズへの</p>
                <p style="text-align: center;">熱いご要望やご質問がたくさんあります。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">折角なので、今回はこのザ レイズに関するご要望、</p>
                <p style="text-align: center;">ご質問に回答させて頂こうと思います。</p>
                <p style="text-align: center;">※原文ままだと長文過ぎたりしてしまったり、</p>
                <p style="text-align: center;">同じ要件の質問はまとめさせて頂いたりと簡略化して掲載させて頂きます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p>
                    <strong>■今後のアップデート</strong>
                </p>
                <p>まだ検討中の部分もあるのですが、</p>
                <p>年間で開発を予定している季節の節目位を目途にした</p>
                <p>アップデートの大きなテーマをお伝えさせて頂こうと思います。</p>
                <p>まず、年間の大テーマですが、今年はこの4年間で積み上げてきた</p>
                <p>各コンテンツの見直しや改修を行っていきます。</p>
                <p>4年間で様々な機能を開発してきましたが、</p>
                <p>正直使いにくい機能や育成状況が進む中で</p>
                <p>当初想定の通りに機能していないシステムなんかも多々あると思っていますので、</p>
                <p>見直し、改修を行う事で、新たな楽しみを発見できたり、</p>
                <p>遊びやすくなったと感じて頂けたり、</p>
                <p>4年間遊んだザレイズに新しい刺激を感じて頂けたらなと考えています。</p>
                <p>それでは、季節ごとのテーマを記載させて頂きます。</p>
                <p>&nbsp;</p>
                <p>
                    <strong>・春～のアップデート</strong>
                </p>
                <p>&rArr;ポイントイベント改修</p>
                <p>※クエスト内で獲得した交換アイテムを交換所で使用する形式のイベント</p>
                <p>&nbsp;</p>
                <p>
                    <strong>・夏～のアップデート</strong>
                </p>
                <p>&rArr;精霊装の改修、エンドコンテンツ（始祖久遠の塔や総力戦）の改修</p>
                <p>&nbsp;</p>
                <p>
                    ・<strong>秋～のアップデート</strong>
                </p>
                <p>&rArr;続・エンドコンテンツの改修（たぶん、夏～だけじゃ終わらない）</p>
                <p>&nbsp;</p>
                <p>
                    ・<strong>冬～のアップデート</strong>
                </p>
                <p>&rArr;他、既存イベント改修や5周年に向けた仕込み</p>
                <p>&nbsp;</p>
                <p>寒い季節になるほど、精度は落ちます！ので、</p>
                <p>暖かい季節の状況で変更する可能性は大いにありますが、</p>
                <p>現状はざっくりこんな感じで考えてます&hellip;&hellip;というご報告になります！</p>
                <hr>
                <p>
                    <strong>■4月の参戦PVについて</strong>
                </p>
                <p>今月はコラボが前後編だったのでちょっと変則的に</p>
                <p>参戦PV後半でまとめさせて頂く形にさせて頂きました。</p>
                <p>大変お待たせしてしまい申し訳ございませんでした！</p>
                <p>でも、お待たせした分の価値はある内容になっていると思います！</p>
                <p>&nbsp;</p>
                <p>いよいよ！ジュード、ミラ様、レイアの3人に精霊装が登場します！</p>
                <p>ミラ様は四大を束ねるものとして&hellip;どの属性か迷ったのですが、</p>
                <p>まずは、戦闘スタイルとも合致するというところで風になっています。</p>
                <p>そして、ジュードは氷（水）という事は、そうです。</p>
                <p>Xシリーズのセルシウスが登場します！</p>
                <p>キャラカスタムとしても使えるようになるので楽しみにしていてください！</p>
                <p>レイアはもう、文句なしに火しかないですよね！</p>
                <p>&nbsp;</p>
                <p>そして、アビス単独イベントではリグレットとアリエッタの二人が参戦です！</p>
                <p>コレで六神将も5人まで揃いました！</p>
                <p>二人と因縁の強いアニスとティアにはオバレ魔鏡も登場します。</p>
                <p>ティアは歌う気がするのよ兄さん！です。ご期待ください！</p>
                <p>&nbsp;</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/32306/content_21040501.jpg"
                         style="width: 80%">
                </p>
                <hr>
                <p>
                    <strong>■教えて運営さん　番外編</strong>
                </p>
                <p>それでは、冒頭お伝えした通りファンミーティングで頂いた</p>
                <p>ご質問やご要望に一問一答でお答えさせて頂きたいと思います！</p>
                <p>結構長いのでいつも情報だけが見たい！</p>
                <p>という方はここでそっ閉じして頂いても大丈夫です。</p>
                <p>※今後のネタバレになるものや参戦情報などは</p>
                <p>お答えできないので申し訳ございませんが割愛させて頂いています。</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q1.始祖久遠の塔簡単すぎる問題</strong>
                </p>
                <p>
                    <strong>（※始祖の塔51～60Fだけを楽しめる(そんな感じの新しい高難度クエスト）モードを追加する予定はありますか？等）</strong>
                </p>
                <p>&rArr;どういう形になるかは分かりませんが、当初設計の難易度に対して、</p>
                <p>みなさんの育成が進み、歯ごたえが無くなってしまっている</p>
                <p>現状は宜しくないと考えていますので、</p>
                <p>夏～秋目途に改修させて頂き、エンドコンテンツとして</p>
                <p>相応しい内容にしていく予定です！</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q2.始祖久遠の塔の報酬や獲得スキルの問題</strong>
                </p>
                <p>
                    <strong>（始祖久遠の塔1回で貰える書を増量してほしい。</strong>
                </p>
                <p>
                    <strong>覚醒スキル習得数が9999が上限になってますが上限解放の予定はありますか？）</strong>
                </p>
                <p>&rArr;こちらも同じく。夏～秋の改修で報酬等含めて検討させて頂く予定です！</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q3.戦闘中にアイテムやアクセを使いたい！</strong>
                </p>
                <p>
                    <strong>（アップルグミまた使用したいです！など）</strong>
                </p>
                <p>&rArr;アップルグミはせっかく作ったので何とかしたいと思ってます！</p>
                <p>ただ、真面目に&quot;アイテム&quot;を実装すると</p>
                <p>戦闘前に持っていくアイテムを選ぶ画面が増えたりして</p>
                <p>手間になったりとマイナスな側面もあるので</p>
                <p>開発でも度々話題になるけど、要検討案件です。</p>
                <p>&nbsp;</p>
                <p>年内、上記のアップデートの中で</p>
                <p>ポジティブな遊びとして落とし込めれば実装するかもしれません。</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q4.キャラカスタムで髪型だけ変えられるのは難しいのでしょうか？</strong>
                </p>
                <p>&rArr;難しくはないです！</p>
                <p>ただ、キャラカスタム自体結構、煩雑なＵＩになっている（反省中）ので</p>
                <p>そこに髪型というジャンルが加わると&hellip;</p>
                <p>変えるまでがとってもめんどくさいかもしれません。</p>
                <p>なので、実現するとしたらまず、ＵＩを改良し、</p>
                <p>バリエーションを増やすという順番になってしまうと思います</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q5.キャラカスタムをまとめてやりたい。マルチの画面でも変更したい。</strong>
                </p>
                <p>&rArr;前者はQ4でも回答した通り、</p>
                <p>キャラカスタムのＵＩが使いにくい問題もあるのかなと感じました！</p>
                <p>ご要望の形になるかはわかりませんが、</p>
                <p>少しでも使いやすくなるようにＵＩを改善していきたいと思います。</p>
                <p>また、後者は、その通りで、</p>
                <p>マルチに出かける前に魅せファッションしたいですよね。</p>
                <p>こちらもキャラカスタムのご要望として承りました！</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q6.各キャラの特別衣装はどのように考えられているのか？</strong>
                </p>
                <p>
                    <strong>人気のあった、反響の多かったものとか分かりますか？</strong>
                </p>
                <p>&rArr;まず、水着、正装みたいにテーマを決めます！</p>
                <p>そこに&quot;キャラらしさ&quot;（カラーや性格）をデザインに反映させてたデザインを</p>
                <p>何パターンか出して&hellip;と積み上げていくような形で</p>
                <p>デザイナーさんがデザインしていきます。</p>
                <p>特に反響があったもの&hellip;は最近だと</p>
                <p>エルレイン様とシゼルママの水着が内外共に大反響でしたね！</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q7.ストーリーを作成するにあたり、運営の皆様が意識していることはありますか？|</strong>
                </p>
                <p>&rArr;原作を経て、時間が経つにつれてみなさんの中で</p>
                <p>それぞれのキャラクター像は変わっていっていると思います。</p>
                <p>それは制作者側も同じだと思うので、</p>
                <p>原作が本来表現しようとしていたキャラ性を大事にしつつも、</p>
                <p>制作のエゴが強くなり過ぎない事は常に意識しています。</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q8.シナリオ更新からTwitterのツイートまで、</strong>
                </p>
                <p>
                    <strong>毎回小ネタに驚くばかりなのですが、</strong>
                </p>
                <p>
                    <strong>これは運営さんが毎回シナリオ読み直しやゲームプレイをしなおしてるんでしょうか？</strong>
                </p>
                <p>&rArr;もちろん読み直しやプレイもしてます！</p>
                <p>そして、資料も全作品の当時の攻略本やがあったりと</p>
                <p>好きな人には天国のような環境です。</p>
                <p>&nbsp;</p>
                <p>でも、当時プレイしてた人同士の間でだけ分かりあえる小ネタなんかは、</p>
                <p>資料からは拾えません。でも、ザレイズの開発チームにはガチ勢が何人も居て、</p>
                <p>この作品ならこの人に聞け！的な人が作品それぞれに居ます。</p>
                <p>ので、シナリオチームやTwitterの中の人は、</p>
                <p>それらの人たちに当時の話を聞いたりなんかもして</p>
                <p>常に小ネタに磨きをかけていますね！</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q9.過去の生配信のスキットや、</strong>
                </p>
                <p>
                    <strong>カフェオブミリーナ（VRカフェ）のスキットがとても好きで、</strong>
                </p>
                <p>
                    <strong>できることなら再度拝見したいと思っておりますが、</strong>
                </p>
                <p>
                    <strong>何らかの形でまた見ることのできる機会をいただけたりはしませんでしょうか。</strong>
                </p>
                <p>&rArr;ありがとうございます！</p>
                <p>全く同じという訳には大人の都合でいかないかもですが、</p>
                <p>ザ レイズのイベントでミリーナカフェしてみるというのは面白いかもしれません。</p>
                <p>ご要望の答えにはなってないかもしれませんが、</p>
                <p>スタッフとも相談してみようと思います。</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q10.ザレイズ本編の過去（魔鏡戦争時代のお話や、</strong>
                </p>
                <p>
                    <strong>ニーベルングがまだあった頃のダーナたちのお話など&hellip;）</strong>
                </p>
                <p>
                    <strong>がとても気になるので、ぜひぜひ過去編もよろしくお願いします。</strong>
                </p>
                <p>&rArr;自分も気になりますね！</p>
                <p>みなさんとっても厚い過去をお持ちなので、</p>
                <p>ザ レイズの中だけでやりきるのは難しいかもしれないので、</p>
                <p>別媒体など色々な可能性を検討したいですね！お願い偉い人！</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q11.全キャラレベルマックスで精鏡晶が使えず</strong>
                </p>
                <p>
                    <strong>プレゼントボックスに溢れてしまいます、レベルキャップ解放予定はありますか？</strong>
                </p>
                <p>&rArr;直近予定はありませんが、状況は把握しております。</p>
                <p>エンドコンテンツ周りの改修と合わせて検討させて頂きます。</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q12.レアリティ5にしたキャラの精霊片は</strong>
                </p>
                <p>
                    <strong>今後別の何かに使用する予定は今のところありますか？</strong>
                </p>
                <p>&rArr;いまは使い道がなく。無駄なものになってしまってますよね&hellip;。</p>
                <p>当初はフラグメントに変換&hellip;というのも考えていました。</p>
                <p>夏ころのアップデートで精霊装周りを改修したいと思っていますので、</p>
                <p>その時に一緒に検討させて頂く予定です。</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q13.同じキャラに精霊装2枚目の追加はあるのか</strong>
                </p>
                <p>&rArr;可能性としては0では無いですが、今のところ予定はありません。</p>
                <p>（精霊装まだ持ってないキャラも多いので。）</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q14.バトル開始時のキャラ同士の掛け合いがある場合、</strong>
                </p>
                <p>
                    <strong>発生率を上げて欲しいです。</strong>
                </p>
                <p>&rArr;育成状況で確率やパターンが増えるみたいなのも良いかもしれませんね。</p>
                <p>検討させて頂きます！</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q15.既存のキャラクターへ星4や星3の武器での術技追加は考えていたりするのでしょうか？</strong>
                </p>
                <p>&rArr;まずは鏡装を優先して実装している状況ではありますが、</p>
                <p>それが落ち着いたらキャラ間のバランス調整の一環として、</p>
                <p>実装という可能性はありますね！</p>
                <p>※必ずしも新技実装だけでバランス調整をするわけではありませんので</p>
                <p>ご了承下さい。</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q16.術において｢術者を中心に発生｣するものがありますが、</strong>
                </p>
                <p>
                    <strong>（例メルディのグランドダッシャー、リチアのフロウイングクリフ）</strong>
                </p>
                <p>
                    <strong>術者が近づくというリスクが高く、アニーの陣術と違い詠唱が入るので</strong>
                </p>
                <p>
                    <strong>正直使うメリットが薄いのですが、当たれば大ダメージのような</strong>
                </p>
                <p>
                    <strong>調整はないのでしょうか。</strong>
                </p>
                <p>&rArr;コアなご要望ありがとうございます！</p>
                <p>現状そういった特性の術は&quot;詠唱時間が短く、</p>
                <p>CC当たりのダメージ効率が高い&quot;というメリットを持たせていますが、</p>
                <p>十分に感じられていないという状況からのご要望かと思いますので調整含め検討させて頂きます。</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q17.サービス中期までに実装された術キャラのうち、</strong>
                </p>
                <p>
                    <strong>原作で技などの近距離での戦闘手段がないキャラと、</strong>
                </p>
                <p>
                    <strong>中期から最新の原作にはない｢ザレイズ｣仕様の通常攻撃のあるキャラとでは</strong>
                </p>
                <p>
                    <strong>秘技へのつなぎ方、ひいては戦闘難易度も大分変わってきます。</strong>
                </p>
                <p>
                    <strong>裏鏡装で迎撃手段を持たせていますが、</strong>
                </p>
                <p>
                    <strong>キャラの調整などはあるのでしょうか。</strong>
                </p>
                <p>&rArr;キャラの調整は適時やっていく予定ですので検討させて頂きます。</p>
                <p>ただ、調整＝弱体化はなるべくせずに、アッパー調整をメインに行っているので、</p>
                <p>全体の状況考えると新規の術技や魔鏡の追加時以外は中々手が出しにくい状況ではあります。</p>
                <p>（現状はそういったデメリットのあるキャラは術技の追加時に</p>
                <p>使いやすい術技を実装するなどの調整がメインになっています。）</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q18.タイダルウェイブなどの全体術技を今後も実装予定は？</strong>
                </p>
                <p>&rArr;原作にもそういった術は多数存在するので無いとは言い切りませんが、</p>
                <p>ご存じの通り、現行のゲーム性だと破格の性能になるため、</p>
                <p>キャラクターの性能バランスふまえて、慎重に検討させて頂いています。</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q19.コラボキャラやかめにん交換キャラの魔鏡枠2つ目が</strong>
                </p>
                <p>
                    <strong>ずっと空白になってしまうことについて今後改修の予定はございますか？</strong>
                </p>
                <p>&rArr;コラボキャラに関しては以前もお答えさせて頂いた通り、</p>
                <p>ありきの性能になっているため、予定はありません。</p>
                <p>かめにん交換キャラは検討しています！</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q20.魔鏡技、鏡装2種、裏鏡装が出揃っているキャラでも</strong>
                </p>
                <p>
                    <strong>さらなる装備は実装はあり得るのでしょうか？</strong>
                </p>
                <p>&rArr;もちろんです！ただ、初期は手探りな部分もあり、</p>
                <p>術技数が最近実装されたキャラより初期のキャラの方が術技数が多かったり、</p>
                <p>まだまだバランスが良いと言える状況では無いと思っています</p>
                <p>（術技の数だけでバランスを取るつもりはありませんが）ので、</p>
                <p>まずは、現行ルールである程度バランスを取り、</p>
                <p>目途が立ったら次の段階に行きたいと考えています。</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q21.コラボしたキャラ達の今後の第2鏡装の実装の定義と</strong>
                </p>
                <p>
                    <strong>復刻した際のコラボ鏡装の追加はあり？</strong>
                </p>
                <p>&rArr;すみません。こればかりはコラボ先の都合もありますので何とも言えません！</p>
                <p>個人的には無しでは無いのですが、復刻出来る出来ないも</p>
                <p>自分たちの運営都合で決まらないので、このコラボキャラは一杯鏡装あるけど</p>
                <p>こっちのコラボキャラは無いという</p>
                <p>コラボキャラ間で偏った状況が生まれてしまうため、</p>
                <p>現実的には限りなく難しいかなと思っています。</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q22.装備レベルの装備一覧から未所持の装備の表示してほしい</strong>
                </p>
                <p>&rArr;間違いなく出来た方が良いですよね。</p>
                <p>開発チームと相談します！パフォーマンスの問題でできなかったりしたらごめんなさい！</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q23.バトルで原作にもあるマニュアルモードの実装予定は？</strong>
                </p>
                <p>&rArr;技術的に不可能ではない（開発のデバッグモードでは使えたりします。）のですが、</p>
                <p>現状は、セミオートベースでキャラや術技の調整をしていて、</p>
                <p>マニュアル実装となると1000を超える術技の調整と</p>
                <p>チェックをする必要が出てきます。</p>
                <p>そのため、今のところは実装予定はありません。</p>
                <p>（もちろんこういったご要望が多ければ、検討させて頂きます。）</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q24.魔鏡技のスキップ機能が欲しい</strong>
                </p>
                <p>&rArr;アクションゲームであることをが前提なので、</p>
                <p>スキップしたくならないテンポ感を最重視して</p>
                <p>チームも頑張って制作しているのですが&hellip;</p>
                <p>スキップ思わせてしまう演出を作ってしまっているという事になりますね。</p>
                <p>申し訳ございません。精進します。</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q25.戦闘の隊列を決められるようになりますか？</strong>
                </p>
                <p>&rArr;当時は複雑になる要素をなるべく削るという観点から、</p>
                <p>&quot;隊列&quot;の要素は外していたのですが、</p>
                <p>システムを十分に理解して頂いてる方がメインで遊ばれている現状は、</p>
                <p>&quot;複雑&quot;ではなく、戦略として受け入れて頂けそうな予感もしています。</p>
                <p>どういう形とタイミングになるかが分かりませんが前向きに検討させて頂きます。</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q26.フォームチェンジではゲーム以外の媒体に登場した時の姿も</strong>
                </p>
                <p>
                    <strong>考えられているのか。</strong>
                </p>
                <p>&rArr;もちろんです。ただ、解釈が人によって分かれる部分だとは思いますが、</p>
                <p>あくまでもフォームチェンジはゲーム原作と地続きキャラクター達が</p>
                <p>戦闘フォームを代えての登場が前提になるので、そもそも世界線が違うとか、</p>
                <p>別解釈のキャラクターだったりは、</p>
                <p>ティル・ナ・ノーグの設定に落とし込むのは難しいかなと感じています。</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q27.フォームチェンジであんなキャラのあんな姿も実装されますか！？</strong>
                </p>
                <p>&rArr;あんな姿やこんな姿も予定しています！期待していてください！</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q28.今後も様々なキャラの別スタイルが実装されると思いますが、</strong>
                </p>
                <p>
                    <strong>そのスタイルの入手方法が気になります。</strong>
                </p>
                <p>&rArr;現状はシュヴァーンの時と同じ入手方法を予定していますが、</p>
                <p>タイミングや実装状況によって変わる可能性もございます！</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q29.フレンドの枠何とかなりませんか。</strong>
                </p>
                <p>
                    <strong>UIも不便だし、イベント時の枠もおかしいし&hellip;などフレンドの仕様が色々不満！</strong>
                </p>
                <p>&rArr;大変申し訳ございません。</p>
                <p>リリース当初からご意見、ご要望も頂いており、過去に改善したい！</p>
                <p>と宣言したこともきちんと覚えております&hellip;。</p>
                <p>何度か企画と仕様も検討ラインに上がってはいるのですが、</p>
                <p>後回しにしてしまっているのが現状です。</p>
                <p>フレンドポイントの件も含めて、改修を検討させて頂きます。</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q30.マルチの練習モードが欲しい</strong>
                </p>
                <p>&rArr;こちらの練習モード等、</p>
                <p>様々なご要望をいただいておりマルチの遊び方についても</p>
                <p>検討していきたいと思います。</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q31.マルチのバッジのピックアップの枠を</strong>
                </p>
                <p>
                    <strong>もっと増やして頂く予定などはありますか？</strong>
                </p>
                <p>&rArr;今のところは回転率も良いのでありませんが将来は獲得率等をみながら</p>
                <p>適時調整させて頂く予定です。</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q32.クレス道場でキャラカスタムと装備強化をできるようにしてほしい</strong>
                </p>
                <p>&rArr;企画当初はそういった機能も実装したかったのですが、</p>
                <p>読み込み時間や負荷の問題で断念しました。</p>
                <p>（何なら最初期は開催中のガシャで新規実装された術技も</p>
                <p>お試しで使えると良いよね！なんて話もありました。）</p>
                <p>申し訳ございません。設計等見直した上で改めて検討していきたいと思います。</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q33.師弟システムを上手く活用する方法を教えてください。</strong>
                </p>
                <p>&rArr;大変申し訳ございません！もっとうまく活用できるように改善させて頂きます&hellip;！</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q34.信頼度10以上解放してほしい。</strong>
                </p>
                <p>
                    <strong>／キャラ愛をもっと注げるようにしてほしいです。</strong>
                </p>
                <p>&rArr;注ぎたい気持ち分かります！信頼度上げた結果、得られる内容とセットで検討させて頂きます！</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q35.今後、マイソロのように戦闘中のBGMを好きに設定できるようになることはありますか？</strong>
                </p>
                <p>&rArr;折角手に入れてもルーム内で聞くだけじゃ&hellip;ですよね。</p>
                <p>検討させて頂きます！</p>
                <p>(というか、ルームの中にそういう機能を入れたいねって作った仕様書までは</p>
                <p>&nbsp;あったりします。）</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q36.精霊装イベントでの交易品一括交換や</strong>
                </p>
                <p>
                    <strong>ガチャチケットでの10連はシステム上可能なのでしょうか&hellip;？</strong>
                </p>
                <p>&rArr;大変お待たせしました。5月公開のver4.4.0で実装予定です！！！</p>
                <p>4月の精霊装イベントでは交易品の交換に関しては従来のままとなりますが、</p>
                <p>ガシャチケットを1枚、または5枚単位でのみ使えるように調整予定となります</p>
                <p>ver4.4.0ではもっと利用しやすくなりますのでお楽しみに！</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q37.相互トレードの形で誰とでもトレード出来る枠を頂きたい</strong>
                </p>
                <p>&rArr;現状予定はありません。</p>
                <p>というのも、誰とでもトレードを出せる＝知らない人ともトレードが出来る場合、</p>
                <p>便利な一方で短所もあってですね&hellip;。</p>
                <p>言い方が難しいんですけど、フレンドで普段は直接コミュニケーションないけど、</p>
                <p>何となくいつもお世話になってるフレンドさんっているじゃないですか。</p>
                <p>例えば、こういう人からトレード申し込まれても、</p>
                <p>あんまり抵抗は無い（それでもある人はある）と思うんですけど、</p>
                <p>全く知らない人からいきなり来たら、</p>
                <p>やっぱちょっとドキドキするじゃないですか&hellip;。</p>
                <p>いや、すみません。自分がちょっとコミュ能力が低いのかもしれませんけども&hellip;。</p>
                <p>あんまりそういうドキドキ要素を入れたくないな&hellip;と現状は考えています。</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q38.総力戦のタイムアタック機能&hellip;要らないです。</strong>
                </p>
                <p>&rArr;編成の幅を狭める要素になってしまっている点は</p>
                <p>他にもご意見を頂いておりますので検討させて頂きます！</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q39.キャラのソート順に関して&gt;シリーズ順ソートとっても便利です！</strong>
                </p>
                <p>
                    <strong>もう一歩。キャラのソート順が恐らくザレイズに参戦した順番になってると思うのですが、</strong>
                </p>
                <p>
                    <strong>主人公、パートナー、パーティメンバー、NPCという順番にソートしてもらえないでしょうか？</strong>
                </p>
                <p>&rArr;ソート周りのUIはまだまだ改良の余地があると思いますので頂いたご意見も参考にさせて頂きながら、改良させて頂きます</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q40.イベントを周回している際戦闘終了のタイミングで</strong>
                </p>
                <p>
                    <strong>最新のダウンロードがありましたと強制的にタイトル画面に戻された際</strong>
                </p>
                <p>
                    <strong>再度続きをしようとしていると報酬は受け取れても次の戦闘に入ろうとすると</strong>
                </p>
                <p>
                    <strong>ずっとアクセス状態となり結局連戦を解かねばならずその件は</strong>
                </p>
                <p>
                    <strong>自分の端末に問題があるのか？</strong>
                </p>
                <p>&rArr;ご報告ありがとうございます。</p>
                <p>通信環境の問題もあるかもしれませんが、状況確認させて頂きます。</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q41.ダオスの腹斜筋の彫りが素晴らしすぎて「彫刻の芸術か？」</strong>
                </p>
                <p>
                    <strong>と惚れ惚れしてしまったことをご報告します。</strong>
                </p>
                <p>
                    <strong>筋肉にとてつもないこだわりや並々ならぬ粘着&hellip;&hellip;もとい情熱を持つ人たちがいらっしゃるのでしょうか？</strong>
                </p>
                <p>&rArr;ありがとうございます！もちろんおります！しかも複数人！</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Q42.今までユーザーアンケートで様々なご意見を頂いてきたかと思いますが、</strong>
                </p>
                <p>
                    <strong>「これは自分たちでは思いつかなかった」と思う機能を教えて頂きたいです。</strong>
                </p>
                <p>
                    <strong>(実装されているかどうかは問いません。）</strong>
                </p>
                <p>&rArr;頂くご意見、ご要望の多くは具体的な機能というよりは、</p>
                <p>みなさんが普段遊ばれている正直な感想からくる</p>
                <p>ご要望やご不満がほとんどなので、</p>
                <p>この機能は思いつかなかった！というよりは、</p>
                <p>自分たちは使いやすい！面白い！と思ってリリースしている機能なのですが、</p>
                <p>実際のご意見を見ると、全然そんなこと無くて&hellip;</p>
                <p>自分たちの考えが甘かった事を思い知らされるってパターンがほぼです。</p>
                <p>そしてそのご意見から、この仕様や企画なら楽しんで頂けるハズ！</p>
                <p>とリリースして、また頂いたご意見に一喜一憂する。</p>
                <p>そんな事を4年間繰り返しております！</p>
                <p>&nbsp;</p>
                <hr>
                <p style="text-align: center;">今回とーっても長くなってしまいましたが、</p>
                <p style="text-align: center;">お付き合い頂きありがとうございました！</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">4周年を終えて、5年目に突入したザ レイズ。</p>
                <p style="text-align: center;">参戦キャラクターもリリース当初の目標を達成し、</p>
                <p style="text-align: center;">新たな目標に向かって行こうと思いますが、</p>
                <p style="text-align: center;">まずは、いま、頂いている不満やご要望を一個ずつクリアして、</p>
                <p style="text-align: center;">すこしでも快適に楽しんで頂ける環境をご提供することに注力したいと思います！</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">今年は本編の物語も大詰めを迎えます！</p>
                <p style="text-align: center;">それまでに次の展開のお話も出来るように準備を進めて行きたいと思いますので、</p>
                <p style="text-align: center;">いましばらくお待ちください。</p>
                <p style="text-align: center;">今年、5年目も色々仕込んでいますので、</p>
                <p style="text-align: center;">随時発表していきますので楽しみにしていてください！</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">それでは『TALES OF THE RAYS』をよろしくお願い致します。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">制作プロデューサー　栁澤</p>
                <p style="text-align: center;">&nbsp;</p>
                <section>

                </section>
            </section>
        </div>
    </body>
</html>
