<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <strong>あの『テイルズ オブ ○○○○○』がついに登場！？</strong>
            </p>
            <hr>
            <p>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/31900/content_AprilFool2021__2_.jpg"
                     style="width: 100%">
            </p>
            <hr>
            <p style="text-align: center;">
                <span style="font-size:16px;">2007年登場の「テイルズ オブ」タイトル、</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:16px;"><strong>「テイルズ オブ ファンダム Vol.2」</strong>より</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:16px;"></span><span style="font-size:16px;"><span style="color:#FF9900;"><strong>『テイルズ オブ ドンジャラ』</strong></span></span><strong>がザ レイズに登場！</strong>
            </p>
            <p style="text-align: center;">
                <strong>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/31901/content_g.png"
                         style="width: 80%">
                </strong>
            </p>
            <p style="text-align: center;">
                <strong>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/31902/content_r.png"
                         style="width: 80%">
                </strong>
            </p>
            <p>&nbsp;</p>
            <p style="text-align: center;">
                <strong>◆プレイ可能期間◆</strong>
            </p>
            <p style="text-align: center;">
                <font color="#ff4747"><b>本日『4月1日』</b></font><font color="#ff4747"><b>限定</b></font><font color="#ff4747"><b>！</b></font>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                <strong>◆遊び方◆</strong>
            </p>
            <p style="text-align: center;">
                <span style="font-size:14px;">期間中、</span><span style="font-size:14px;">ホーム画面に表示される専用ボタン</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:14px;">および<strong>「ルーム」＞「コレクションルーム」</strong>の</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:14px;">ビリヤード台からプレイ可能！</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:11px;">※ゲームの詳しい遊び方や牌の役一覧は、</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:11px;">ミニゲームのタイトル画面でご確認いただけます。</span>
            </p>
            <p style="text-align: center;">
                <b><span style="font-size:11px;"></span><span style="font-size:11px;"></span></b>
            </p>
            <div class="frame2">
                <p style="text-align: center;">&nbsp;《注意事項》</p>
                <p class="indent">
                    <span style="font-size:11px;"></span>
                </p>
                <p>
                    <span style="font-size:11px;">・『テイルズ オブ ドンジャラ』は</span><span style="font-size:11px;">4月1日のみの期間限定配信となります。</span>
                </p>
                <p>
                    <span style="font-size:11px;">・本ミニゲームをプレイすることで獲得可能なアイテムはございません。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;"></span>
                </p>
            </div>
        </div>

    </body>
</html>
