<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/33379/content_P____________________vol52.jpg"
                     style="width: 100%">
            </p>
            <p>
                <!-- 仕切り -->
            </p>
            <section>
                <hr>
                <p style="text-align: center;">『TALES OF THE RAYS』を遊んでくださっているみなさま。</p>
                <p style="text-align: center;">こんにちは。制作プロデューサーの栁澤です。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">ARISEの情報が続々出てきていますね！</p>
                <p style="text-align: center;">先日公開された秘奥義もかっこよかったので</p>
                <p style="text-align: center;">まだ見ていない方はぜひ！</p>
                <p style="text-align: center;">
                    <br>
                    そして秘奥義と言えば、以前、エターニアの開発制作話を
                </p>
                <p style="text-align: center;">
                    当時のスタッフ(有働さん)の方からお聞きした時に天才か!？と思ったお話を1つ。
                    <br>
                    （有名な話だと思うので知ってるお話だったら聞き流してください！）
                    <br>
                    秘奥義にも使われているイラストカットインは、
                </p>
                <p style="text-align: center;">演出の1つの手法としてすっかり定着した感がありますよね。</p>
                <p style="text-align: center;">（テイルズだけじゃなくて色々なゲームでも）</p>
                <p style="text-align: center;">
                    <br>
                    テイルズ オブで最初に導入したのは、エターニアなのですが、
                </p>
                <p style="text-align: center;">
                    当時はあの派手なデータを読み込むのにどうしてもロード時間が発生してしまい、
                    <br>
                    戦闘中にロードが入り止まる（SFC版ファンタジアの再来！？）のは
                </p>
                <p style="text-align: center;">テンポが悪い、でも技術的に解決も出来ない。</p>
                <p style="text-align: center;">だからと言ってデータ削って地味な秘奥義にするのも違う！</p>
                <p style="text-align: center;">となった時に出たアイディアで、</p>
                <p style="text-align: center;">ロード時間を感じさせなければ良いんだ！だったら&hellip;</p>
                <p style="text-align: center;">と言うことでイラストのカットイン中にその裏でデータを読み込む</p>
                <p style="text-align: center;">という技を生み出したらしいです。</p>
                <p style="text-align: center;">
                    <br>
                    もちろん、最近はそんな事をしなくてもデータを読み込む事は出来るんですけど、
                </p>
                <p style="text-align: center;">
                    当時の自分はカッコイイ演出！として、当たり前に受け入れていたので、
                    <br>
                    ロード時間というネガティブな問題を魅せ方を変えるだけで
                </p>
                <p style="text-align: center;">嬉しいカッコいい演出にまで昇華させたって話には作り手として、</p>
                <p style="text-align: center;">とても感銘を受けたのを覚えています。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">という小話を挟みつつ、</p>
                <p style="text-align: center;">次回アップデートと今後の方針についてご説明させて頂きます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p>
                    <strong><span style="font-size:16px;">■次回アップデートver4.5.0</span></strong>
                    <br>
                    ver4.5.0では方針の通り、フォームチェンジ周りの追加＆UI調整。
                    <br>
                    それともう一つ、チュートリアル中で使用されるモデルの
                </p>
                <p>クオリティーアップを実施させて頂きます。</p>
                <p>&nbsp;</p>
                <p>
                    <strong>①フォームチェンジ機能の仕様追加＆UI調整</strong>
                    <br>
                    &rArr;実装後、制作側で課題として認識していたのは大きくは2つです。
                </p>
                <p>
                    　1つ目はUI含めて対象のキャラのフォームチェンジと分かりにくいという点。
                    <br>
                    　2つ目はフォームチェンジキャラのメリットが薄いように感じる点。
                </p>
                <p>今回のアップデートでこの2点を解決したいと思っています。</p>
                <p>
                    <br>
                    1つ目は、UIで下記の調整をさせて頂きます。　
                    <br>
                    　・キャラ名併記UI改修
                </p>
                <p>
                    　　（必要な個所にフォーム名とベース名が分かるように改修）
                    <br>
                    　　また、横顔アイコンのキャラ名を確認できる機能を追加しました。
                </p>
                <p>こちらでフォームキャラかどうかも確認できます。</p>
                <p>
                    <br>
                    2つ目のフォームチェンジのメリットについては
                </p>
                <p>
                    下記の仕様を追加させて頂きます。
                    <br>
                    　・ベースとフォームをそれぞれ育てると
                </p>
                <p>
                    　　装備Lvにボーナス値が付加されるように実装
                    <br>
                    　・ベースとフォームをそれぞれ育てると
                </p>
                <p>特効ボーナス値が増加するように実装</p>
                <p>&nbsp;</p>
                <p>フォームチェンジはまだ実装間もない機能で</p>
                <p>至らない点もありますが、引き続き、頂いたご要望を参考にさせて頂きながら、</p>
                <p>キャラクター達の可能性を広げていきたいと思います。</p>
                <center>
                    <p>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/33382/content_scene2.png"
                             style="width: 80%">
                    </p>
                    <p>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/33381/content_scene1.png"
                             style="width: 80%">
                    </p>
                </center>
                <p>&nbsp;</p>
                <p>
                    <strong>②チュートリアル中で使用されるモデルのクオリティーアップ</strong>
                    <br>
                    &rArr;現在のザ レイズはモデルチームの努力もあり、
                </p>
                <p>2017年のリリース当初から日々少しずつ積み重ねで背景、</p>
                <p>キャラモデルのクオリティーが上がっています。</p>
                <p>
                    <br>
                    しかし、全くクオリティーが上がらず、2017年の場所があります。
                </p>
                <p>
                    それがチュートリアルの演出です&hellip;。
                    <br>
                    新規の方が最初にザ レイズの世界に触れて、
                </p>
                <p>続けるかどうかを判断するチュートリアル。</p>
                <p>
                    ここのクオリティーが2017年水準のままではダメだろう！
                    <br>
                    という事に今更ながら気づきました&hellip;。そのため、
                </p>
                <p>チュートリアルに関わるモデルと演出のクオリティーアップを図りました。</p>
                <center>
                    <p>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/33385/content_____1.jpg"
                             style="width: 80%">
                    </p>
                    <p>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/33386/content_____2.jpg"
                             style="width: 80%">
                        <br>
                        さらに、イクスやミリーナ、
                    </p>
                    <p>ユーリやルークといったチュートリアルの物語に</p>
                    <p>登場するキャラクター達のモデルもリファインしていますので、</p>
                    <p>チュートリアルをやり直さなくても恩恵はありますので</p>
                    <p>楽しみにしていてください。</p>
                    <p>&nbsp;</p>
                    <center>
                        <p>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/33383/content_char1.png"
                                 style="width: 80%">
                        </p>
                        <p>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/33384/content_chara2.png"
                                 style="width: 80%">
                        </p>
                        <p>&nbsp;</p>
                    </center>
                    <p>&nbsp;</p>
                    <p>
                        <span style="font-size:16px;"><strong>■今後の方針</strong></span>
                        <br>
                        進行形で検討中ですが、4月～6月の状況から
                    </p>
                    <p>
                        夏～のアップデート内容を大幅に見直しさせて頂く予定です。
                        <br>
                        詳細は来月にはお伝え出来ると思いますので
                    </p>
                    <p>前回と同じように検討中の予定として、下記にまとめさせて頂きました。</p>
                    <p>
                        <br>
                        <strong>〇春～のアップデート</strong>
                        <br>
                        　・6月中　フォームチェンジの追加仕様及びUI等の改修　※詳細は上記
                        <br>
　　
                        <br>
                        <strong>〇夏～のアップデート【更新あり】</strong>
                        <br>
                        　・イベントの大幅改修
                        <br>
                        　　&rArr;機能の複雑化に伴い、関連情報を集約したイベント専用ページの実装
                        <br>
                        　　&rArr;周回を軽減するなにかしらの機能
                        <br>
                        　　&rArr;交換所アイテムのラインナップ見直し
                        <br>
                        　・エンドコンテンツ（始祖久遠の塔や総力戦）の改修
                        <br>
                        　　&rArr;小さくても良いので新しい遊びのサイクルをご提案したい）
                    </p>
                    <p>&nbsp;</p>
                    <p>
                        <strong>〇秋～のアップデート【更新あり】</strong>
                        <br>
                        　・精霊装の改修
                    </p>
                    <p>&nbsp;</p>
                    <p>
                        <strong>〇冬～のアップデート</strong>
                        <br>
                        　・他、既存イベント改修や5周年に向けた仕込み
                    </p>
                    <p>&nbsp;</p>
                    <p>
                        <strong>〇5周年後の6年目以降</strong>
                        <br>
                        　・新展開!！
                    </p>
                    <p>
                        <br>
                        変更な主な理由として、前回まではポイントイベントに手を入れて
                    </p>
                    <p>新しい遊びをそこで出来ればと考えていたのですが、</p>
                    <p>ザ レイズの遊びのメインサイクルに始祖久遠の塔が追加されて以降、</p>
                    <p>大きく変わっておらず、ポイントイベントにだけ遊びの追加を行うよりも、</p>
                    <p>利用者が多い部分に手を入れた方が多くの方に楽しんで頂けるので、</p>
                    <p>ポイントイベントのテコ入れより先に、</p>
                    <p>全体通してのゲームサイクルの改善を前倒した形になります。</p>
                    <p>&nbsp;</p>
                    <p>次は今月の配信スケジュールについてです。</p>
                    <hr>
                    <p style="text-align: center;">
                        <span style="font-size:18px;"><strong>〇6月の配信スケジュール（予定）</strong></span>
                    </p>
                    <p>
                        <span style="font-size:18px;"></span>
                    </p>
                    <center><strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/33380/content_21060701.jpg"
                             style="width: 80%">
                    </strong></center>
                    <p style="text-align: left;">
                        <strong>■精霊装　コーキス　カイウス　セネル　(6月中旬予定）</strong>
                        <br>
                        新たに3人の精霊装が登場です。
                        <br>
                        コーキスの属性は風。カイウスが地。セネルが火になります。
                        <br>
                        コーキスは中二心的に闇か風か&hellip;というところなのですが、
                    </p>
                    <p style="text-align: left;">仕様武器やキャラの特性も考え、風の精霊装となりました。</p>
                    <p style="text-align: left;">
                        <br>
                        カイウスとセネルは、所持している属性技の数から決まっています。
                    </p>
                    <p style="text-align: left;">特にセネルはマリントルーパーの職業柄、</p>
                    <p style="text-align: left;">水をイメージする方も居るかもしれませんが</p>
                    <p style="text-align: left;">原作でも水属性の術技は覚えないんですよね。</p>
                    <p style="text-align: left;">
                        <br>
                        <strong>■メインシナリオ第4部9章　イエガー、ゴーシュ、ドロワット参戦(6月下旬予定）</strong>
                        <br>
                        今回のお話ではイエガー、ゴーシュ、ドロワットが参戦です。
                    </p>
                    <p style="text-align: left;">原作ではギルド&quot;海凶の爪（リヴァイアサンのツメ）&quot;として</p>
                    <p style="text-align: left;">ユーリ達の前に何度も現れますが、憎めないんですよね。</p>
                    <p style="text-align: left;">&nbsp;</p>
                    <p style="text-align: left;">
                        首領のイエガーに信条があり、ゴーシュとドロワットもしかりです。
                        <br>
                        原作OPの戦闘シーンが印象的で、2人と戦うの何時だろうとプレイしてたら、
                    </p>
                    <p style="text-align: left;">
                        まさかのサブイベントで戦闘は、良い意味で驚きました！
                        <br>
                        （コストカットのために戦闘しないのかなと&hellip;と思ってたら
                    </p>
                    <p style="text-align: left;">戦闘用に作り込んであるんですね！と）</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <hr>
                    <p style="text-align: center;">
                        そして、今月はまだ続報があります！
                        <br>
                        詳しくは続報を待って頂きたいのですが、
                    </p>
                    <p style="text-align: center;">以前発表させて頂いたあのタイトル！</p>
                    <p style="text-align: center;">
                        <br>
                        ているず おぶ ざ れいず 劇場で
                    </p>
                    <p style="text-align: center;">高級ホテルにお泊りしていたみなさまと3年振りの絡み、</p>
                    <p style="text-align: center;">
                        あの時は一方的にお名前をお借りしただけでしたが&hellip;今回は公式です。
                        <br>
                        ぜひ、楽しみにしていてください！
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">それでは『TALES OF THE RAYS』をよろしくお願い致します。</p>
                    <p style="text-align: center;">制作プロデューサー　栁澤</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <section>

                    </section>
                </center>
            </section>
        </div>
    </body>
</html>
