<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                【<strong>予告</strong>】
            </p>
            <p>
                <span style="font-size:18px;"><strong>ユニゾン・アタック</strong></span>
            </p>
            <p>
                <span style="font-size:18px;"></span><span style="font-size:18px;"><strong>～ウェディング編～</strong></span>
            </p>
            <p>
                <span style="font-size:18px;"><strong>開催!!</strong></span>
            </p>
            <hr>
            <p>&nbsp;</p>
            <p>
                <strong><span style="font-size:14px;">60体討伐 協力イベント</span><span style="font-size:14px;">！</span><span style="font-size:14px;"></span></strong>
            </p>
            <p>
                <span style="font-size:18px;"><span style="color: rgb(255, 71, 71);"><strong>ユニゾン・アタック</strong></span></span>
            </p>
            <p>
                <span style="font-size:18px;"><span style="color: rgb(255, 71, 71);"></span></span><span style="font-size:18px;"><span style="color: rgb(255, 71, 71);"><strong>～ウェディング編～</strong></span></span>
            </p>
            <p>
                <span style="font-size:14px;"><b>開催!!</b></span>
            </p>
            <p>
                <br>
                <span style="font-size:16px;"><strong>◆開催予定日時◆</strong></span>
            </p>
            <p>
                <span style="font-size:16px;"><strong><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;">2021/6/18(金) 20:00～開催予定</span></strong></span>
            </p>
            <p>&nbsp;</p>
            <p>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/33531/content_210618.png"
                     style="width: 80%">
            </p>
            <p>&nbsp;</p>
            <hr>
            <p style="font-weight: bold; text-align: center;">◆参加可能キャラクター◆</p>
            <div class="frame1">
                <p>
                    <span style="font-size:12px;">・</span><span style="font-size:12px;">操作キャラクターは複数人設定することができます。</span>
                </p>
                <p>
                    <span style="font-size:12px;">・ベースキャラクターとフォームキャラクターは</span>
                </p>
                <p>
                    <span style="font-size:12px;">どちらか一方のみ参加設定できます。</span>
                </p>
                <p>&nbsp;</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/26937/content_73.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/26942/content_5.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/26921/content_7.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/26924/content_180.png"
                         style="width: 100px;
                                height: 100px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/26943/content_152.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/26923/content_118.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/26936/content_172.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/26939/content_52.png"
                         style="width: 100px;
                                height: 100px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/26922/content_22.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/26920/content_115.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/26940/content_82.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/26941/content_83.png"
                         style="width: 100px;
                                height: 100px">
                </p>
            </div>
            <div align="center">
                <hr>
            </div>
            <div class="frame2">
                <p style="text-align:center;">
                    <strong>《&nbsp;</strong>注意事項<strong>&nbsp;》</strong>
                </p>
                <p>
                    <strong><span style="font-size:11px;"></span></strong>
                </p>
                <p>
                    <span style="font-size:11px;">・お知らせに掲載されている内容は
                        <br>
                    　予告なく変更することがございます。</span><span style="font-size:11px;"></span>
                </p>
            </div>
        </div>

    </body>
</html>
