<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/25842/content_2008101.png"
                     style="margin: 10px auto;
                            width: 100%">
            </p>
            <hr>
            <p style="text-align: center;">
                <span style="font-size:16px;"><b>パティ、チャット、フレン、ジュディス</b></span><span style="font-size: 14px;">の</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:14px;"></span><span style="font-size:16px;"><strong><span style="color:#ff4747;">装備・魔鏡</span><span style="color:#ff4747;">のみ</span></strong></span><span style="font-size:14px;">が出現する</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:16px;"><strong>『【復刻】ティル・ナ・ノーグSUMMER アイフリードの宝』ガシャ</strong>が開催!!</span>
            </p>
            <p style="text-align: center;">
                <br>
                <font color="#ff4747"><span style="font-size: 18px;"></span></font>
            </p>
            <p style="text-align: center;">
                <font color="#ff4747"><span style="font-size: 18px;"></span><span style="font-size: 18px;"><b>パティ、チャット</b></span><span style="font-size: 18px;"></span></font>の<span style="font-size:18px;"><strong><span style="color:#FF4747;">魔鏡</span></strong><span style="color:#FF4747;"><span style="font-size:18px;"></span></span>
                <br>
                <span style="color:#FF4747;"><span style="font-size:18px;"><strong>フレン、ジュディス</strong></span></span></span>の<span style="color:#FF4747;"><span style="font-size:18px;"><strong>季節魔鏡</strong></span></span>が<strong>再登場!!</strong><span style="font-size: 14px;"><strong><span style="color:#ff4747;"></span></strong></span><span style="color:#ff4747;"></span>
            </p>
            <p style="background-color: transparent;
                      color: rgb(255, 255, 255);
                      font-family: 游ゴシック体,&amp;
                      quot;
                      yu gothic&amp;
                      quot;
                      ,yugothic,&amp;
                      quot;
                      ヒラギノ角ゴシック pro&amp;
                      quot;
                      ,&amp;
                      quot;
                      hiragino kaku gothic pro&amp;
                      quot;
                      ,メイリオ,meiryo,osaka,&amp;
                      quot;
                      ｍｓ ｐゴシック&amp;
                      quot;
                      ,&amp;
                      quot;
                      ms pgothic&amp;
                      quot;
                      ,sans-serif;
                      font-size: 12.8px;
                      font-style: normal;
                      font-variant: normal;
                      font-weight: 400;
                      letter-spacing: normal;
                      margin-bottom: 10px;
                      margin-left: 0px;
                      margin-right: 0px;
                      margin-top: 10px;
                      orphans: 2;
                      padding-bottom: 0px;
                      padding-left: 10px;
                      padding-right: 10px;
                      padding-top: 10px;
                      text-align: center;
                      text-decoration: none;
                      text-indent: 0px;
                      text-transform: none;
                      -webkit-text-stroke-width: 0px;
                      white-space: normal;
                      word-spacing: 0px">
                <span style="color: rgb(255, 71, 71);
                             margin-bottom: 0px;
                             margin-left: 0px;
                             margin-right: 0px;
                             margin-top: 0px;
                             padding-bottom: 0px;
                             padding-left: 0px;
                             padding-right: 0px;
                             padding-top: 0px"><strong style="margin-bottom: 0px;
               margin-left: 0px;
               margin-right: 0px;
               margin-top: 0px;
               padding-bottom: 0px;
               padding-left: 0px;
               padding-right: 0px;
               padding-top: 0px">今回も鏡晶石での1連ガシャ</strong></span><span style="margin: 0px; padding: 0px;"><strong style="margin-bottom: 0px;
               margin-left: 0px;
               margin-right: 0px;
               margin-top: 0px;
               padding-bottom: 0px;
               padding-left: 0px;
               padding-right: 0px;
               padding-top: 0px">は、</strong></span><span style="color: rgb(255, 71, 71);
             margin-bottom: 0px;
             margin-left: 0px;
             margin-right: 0px;
             margin-top: 0px;
             padding-bottom: 0px;
             padding-left: 0px;
             padding-right: 0px;
             padding-top: 0px">
                    <br>
                    <strong style="margin-bottom: 0px;
                                   margin-left: 0px;
                                   margin-right: 0px;
                                   margin-top: 0px;
                                   padding-bottom: 0px;
                                   padding-left: 0px;
                                   padding-right: 0px;
                                   padding-top: 0px">初回のみ半額</strong></span><span style="margin: 0px; padding: 0px;"><strong style="margin-bottom: 0px;
               margin-left: 0px;
               margin-right: 0px;
               margin-top: 0px;
               padding-bottom: 0px;
               padding-left: 0px;
               padding-right: 0px;
               padding-top: 0px">の</strong></span><span style="color: rgb(255, 71, 71);
             margin-bottom: 0px;
             margin-left: 0px;
             margin-right: 0px;
             margin-top: 0px;
             padding-bottom: 0px;
             padding-left: 0px;
             padding-right: 0px;
             padding-top: 0px"><strong style="margin-bottom: 0px;
               margin-left: 0px;
               margin-right: 0px;
               margin-top: 0px;
               padding-bottom: 0px;
               padding-left: 0px;
               padding-right: 0px;
               padding-top: 0px">100個!!</strong></span><span style="color: rgb(255, 71, 71);
             margin-bottom: 0px;
             margin-left: 0px;
             margin-right: 0px;
             margin-top: 0px;
             padding-bottom: 0px;
             padding-left: 0px;
             padding-right: 0px;
             padding-top: 0px"></span>
                </p>
                <p style="text-align: center;">
                    <br>
                    期間限定の
                    <br>
                    <span style="color:#FF4747;"><span style="color:#FF4747;"><strong>パティ、チャットの魔鏡</strong></span></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>フレン、ジュディスの季節魔鏡</strong></span>には
                    <br>
                    <span style="font-size:22px;"><span style="color:#FF9900;"><strong>限定キャラカスタム</strong></span></span>がセットに！
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/25661/content_1907146.png"
                         style="width: 80%">
                </p>
                <p style="font-weight: bold; text-align: center;">◆開催期間◆</p>
                <p style="text-align: center;">
                    <strong><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span></strong>
                </p>
                <p>
                    <span style="color:#FF4747;"><strong>イベント終了と同日時</strong></span>
                </p>
                <p style="text-align: center;">
                    <strong><span style="color:#ff4747;"></span></strong>
                </p>
                <p style="font-size: 0.8rem;
                          margin: 10px 0px;
                          padding: 10px 10px 0px;
                          text-align: center">
                    <strong><span style="font-size:14px;"></span><span style="font-size:14px;">『【復刻】</span><span style="font-size:14px;">ティル・ナ・ノーグSUMMER アイフリードの宝</span><span style="font-size:14px;">』ガシャ</span><span style="font-size:14px;"></span><span style="font-size:14px;"></span><span style="font-size:14px;"></span><span style="font-size:14px;"></span>では、
                        <br>
                        <span style="font-size: 14px;"></span><span style="font-size: 14px;"></span><span style="font-size: 14px;"><b>パティ、チャット、フレン、ジュディス</b></span><span style="font-size: 14px;"></span><span style="font-size: 14px;"></span><b>の</b><span style="font-size:16px;">
                            <br>
                            <span style="font-size:16px;"><strong><span style="color:#FF4747;">『装備』・</span></strong></span><span style="font-size:16px;"><strong><span style="color:#FF4747;">『魔鏡』</span></strong></span><strong><span style="color:#000000;"></span><span style="color:#FF4747;">のみが出現!</span></strong></span><span style="font-size:16px;"></span></strong>
                        </p>
                        <div class="frame1" style="text-align: center;">
                            <strong>このガシャから装備・魔鏡が出現する対象キャラ</strong>
                            <br>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/25662/content_159.png"
                                 style="width: 100px;
                                        height: 100px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/25664/content_158.png"
                                 style="width: 100px;
                                        height: 100px">
                            <br>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/25665/content_75.png"
                                 style="width: 100px;
                                        height: 100px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/25666/content_104.png"
                                 style="width: 100px;
                                        height: 100px">
                        </div>
                        <div align="center">
                            <p>
                                <strong><span style="color:#FF4747;">鏡晶石</span>での10連は1回<span style="color:#FF4747;">★5鏡装</span>もしくは<span style="color:#FF4747;">魔鏡</span>が確定!!</strong><span style="color:#ff4747;"></span>
                            </p>
                        </div>
                        <p style="font-size: 0.8rem;
                                  margin: 10px 0px;
                                  padding: 10px 10px 0px;
                                  text-align: center">
                            <span style="font-size:14px;"><strong>さらにパティ＆チャットの</strong><span style="font-size:14px;"><strong><span style="color:#ff4747;">『装備』</span></strong></span></span><span style="font-size:14px;"><strong>か</strong><span style="font-size:14px;"><strong><span style="color:#ff4747;">『魔鏡』</span></strong></span><strong>が<span style="color:#ff4747;">
                                <br>
                                必ず手に入るチケット</span></strong></span><span style="font-size:14px;"><span style="font-size:14px;">が</span></span><span style="font-size:14px;"><span style="color:#FF4747;"><strong>おまけ</strong></span>でついてくる!!</span>
                                <br>
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/25816/content_200811.png"
                                     style="width: 296px;
                                            height: 96px">
                                <br>
                                さらに<span style="color:#FF4747;"><strong>鏡晶石10連では</strong><span style="color:#FF4747;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/25668/content_4402.png"
                                     style="width: 20px;
                                            height: 20px">
                            </span><strong>2000個</strong></span>、<span style="color:#FF4747;">鏡晶石1連では<span style="color:#FF4747;"><span style="color:#FF4747;"><span style="color:#FF4747;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/25668/content_4402.png"
                                 style="width: 20px;
                                        height: 20px">
                        </span></span></span>200個</span>のおまけ付き！
                    </p>
                    <br>
                    <b style="font-size: 0.8rem;">パティ、チャット、フレン、ジュディス</b><span style="font-size: 0.8rem;">の出現確率が大幅にアップしている</span>
                    <br>
                    <span style="font-size: 0.8rem;">この機会に</span><span style="font-size: 0.8rem;">装備・魔鏡を手に入れよう!!</span>
                    <div class="frame1" style="text-align: center;">
                        <strong>装備・魔鏡出現確率アップ対象キャラ</strong>
                        <br>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/25662/content_159.png"
                             style="width: 100px;
                                    height: 100px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/25664/content_158.png"
                             style="width: 100px;
                                    height: 100px">
                        <br>
                        <br>
                        <strong><strong>季節魔鏡出現確率アップ対象キャラ</strong></strong>
                        <br>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/25665/content_75.png"
                             style="width: 100px;
                                    height: 100px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/25666/content_104.png"
                             style="width: 100px;
                                    height: 100px">
                    </div>
                    <hr>
                    <section>
                        <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                        <img src="{{ s3_url }}public/uploads/ckeditor/pictures/25817/content_1907142.png"
                             style="width: 100%">
                        <ul class="box">
                            <li>
                                <strong>魔鏡技:<font color="#ff4747">マーベラスファウンテン</font></strong>　　威力:<span style="color:#FF4747;"><strong>825</strong></span>
                            </li>
                            <li style="text-align:right;float:right">
                                <strong>パティ専用</strong>
                            </li>
                        </ul>
                        <div class="frame1">
                            <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>
                                                <strong>効果内容</strong>
                                            </p>
                                            <p>ギャンブルキャストを省略して放つ</p>
                                            <p>魔鏡技。確率で回復量、威力上昇</p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong><a href="https://www.youtube.com/watch?v=VCO7ukciJ6oexternalbrowser=true">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                         style="width: 60px;
                                                                height: 60px">
                                                </a></strong>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <hr>
                    <section>
                        <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                        <img src="{{ s3_url }}public/uploads/ckeditor/pictures/25818/content_1907143.png"
                             style="width: 100%">
                        <ul class="box">
                            <li>
                                <strong>魔鏡技:<font color="#ff4747">バンエルティア・グランデ</font></strong>　　威力:<font color="#ff4747"><b>1267</b></font>
                            </li>
                            <li style="text-align:right;float:right">
                                <strong>チャット専用</strong>
                            </li>
                        </ul>
                        <div class="frame1">
                            <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>
                                                <strong>効果内容</strong>
                                            </p>
                                            <p>バンエルティア号で突撃し敵を</p>
                                            <p>彼方にぶっ飛ばす魔鏡技。確率で威力上昇</p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong><a href="https://www.youtube.com/watch?v=8rB1vRn1DUUexternalbrowser=true">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                         style="width: 60px;
                                                                height: 60px">
                                                </a></strong>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <hr>
                    <section>
                        <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                        <img src="{{ s3_url }}public/uploads/ckeditor/pictures/25819/content_1907144.png"
                             style="width: 100%">
                        <ul class="box">
                            <li>
                                <strong>魔鏡技:<font color="#ff4747">蒼凰絶波衝</font></strong>　　威力:<font color="#ff4747"><b>1194</b></font>
                            </li>
                            <li style="text-align:right;float:right">
                                <strong>フレン専用</strong>
                            </li>
                        </ul>
                        <div class="frame1">
                            <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>
                                                <strong>効果内容</strong>
                                            </p>
                                            <p>さわやかに斬り抜けた衝撃が敵と</p>
                                            <p>水面を襲う魔鏡技。敵に毒を付与する</p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong><a href="https://www.youtube.com/watch?v=ILMB1onMGT8externalbrowser=true">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                         style="width: 60px;
                                                                height: 60px">
                                                </a></strong>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <hr>
                    <section>
                        <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                        <img src="{{ s3_url }}public/uploads/ckeditor/pictures/25820/content_1907145.png"
                             style="width: 100%">
                        <ul class="box">
                            <li>
                                <strong>魔鏡技:<font color="#ff4747">スウィープ・バケーション</font></strong>　　威力:<font color="#ff4747"><b>1083</b></font>
                            </li>
                            <li style="text-align:right;float:right">
                                <strong>ジュディス専用</strong>
                            </li>
                        </ul>
                        <div class="frame1">
                            <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>
                                                <strong>効果内容</strong>
                                            </p>
                                            <p>
                                                プールサイドの無法者にお仕置きをする
                                                <br>
                                                魔鏡技。敵の物攻を下げる
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong><a href="https://www.youtube.com/watch?v=A-9ft26xXP4externalbrowser=true">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                         style="width: 60px;
                                                                height: 60px">
                                                </a></strong>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <div align="center">
                        <p>
                            <strong><span style="font-size:16px;"></span></strong>
                        </p>
                        <div align="center">&nbsp;</div>
                    </div>
                    <hr>
                    <section>
                        <div class="frame2">
                            <p style="text-align:center;">《&nbsp;注意事項&nbsp;》</p>
                            <p class="indent">
                                <span style="font-size:11px;"></span>
                            </p>
                            <p>
                                <span style="font-size:11px;">・ピックアップされている魔鏡・装備は、
                                    <br>
                                    　同レアリティの魔鏡・装備の中で提供割合が
                                    <br>
                                    　高く設定されています。
                                    <br>
                                    　※実際の提供割合は、ガシャ内訳の個別提供割合一覧に準じます。
                                    <br>
                                    ・鏡晶石10連ガシャの、10回の抽選のうち1回は
                                    <br>
                                    　「★5鏡装・魔鏡」のいずれかが確定で出現します。
                                    <br>
                                    　提供割合は、「鏡晶石10連ガシャ 1/10回」一覧に準じます。
                                    <br>
                                    　また、おまけで「【復刻】パティ＆チャット確定ガシャチケット」が1枚、
                                    <br>
                                    　イベント交換アイテムの「アイフリードコイン」2000個が獲得できます。
                                    <br>
                                    ・鏡晶石1連ガシャはおまけでイベント交換アイテムの
                                    <br>
                                    　「アイフリードコイン」が200個がt獲得できます。
                                    <br>
                                    ・「【復刻】パティ＆チャット確定ガシャチケット」は
                                    <br>
                                    　鏡晶石10連ガシャ1回につき1枚が獲得できるもので、
                                    <br>
                                    　鏡晶石1連ガシャを10回分実行しても獲得できません。
                                    <br>
                                    ・ダイヤ10連ガシャの、10回の抽選のうち1回は
                                    <br>
                                    　「★4装備・★5鏡装・魔鏡」のいずれかが確定で出現します。
                                    <br>
                                    　提供割合は、「ダイヤ10連ガシャ 1/10回」一覧に準じます。
                                    <br>
                                    ・「鏡晶石10連ガシャ 1/10回」及び「ダイヤ10連ガシャ 1/10回」以外の提供割合は、
                                    <br>
                                    　「鏡晶石1連ガシャ、鏡晶石10連ガシャ 9/10回、
                                    <br>
                                    　ダイヤ1連ガシャ、ダイヤ10連ガシャ 9/10回」一覧に準じます。
                                    <br>
                                    ・「【復刻】パティ＆チャット確定ガシャチケット」を使用できるのは
                                    <br>
                                    　「【復刻】パティ＆チャット確定チケットガシャ」のみとなり、
                                    <br>
                                    　「【復刻】パティ＆チャット確定チケットガシャ」の開催期間が終了するとお使い頂けません。
                                    <br>
                                    ・イベント限定ポイントボーナス及び攻略戦ボーナスの効果は、
                                    <br>
                                    　該当のイベント開催時のみ発動します。
                                    <br>
                                    ・イベント限定ポイントボーナス及び攻略戦ボーナスが発動する
                                    <br>
                                    　魔鏡・装備の一覧は、該当イベントのお知らせをご確認ください。
                                    <br>
                                    ・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。
                                    <br>
                                    ・それぞれの提供割合は、小数第4位を四捨五入して表示しているため、
                                    <br>
                                    　合計値が100％にならない場合がございます。
                                    <br>
                                    ・鏡晶石とダイヤいずれの手段でもガシャの提供割合は変わりません。
                                    <br>
                                    ・鏡晶石とダイヤを組み合わせてガシャを実行することはできません。
                                    <br>
                                    ・鏡晶石1連ガシャは、初回に限り半額の鏡晶石100個でご利用できます。
                                    <br>
                                    　2回目以降は通常時の鏡晶石200個となります。
                                    <br>
                                    ・期間限定の魔鏡・装備・キャラカスタムは再登場する場合がございます。
                                    <br>
                                    ・表示されているステータス・効果・ポイントボーナス
                                    <br>
                                    　攻略戦ボーナスは、最大強化後の値となります。
                                    <br>
                                    ・限定キャラカスタム付き魔鏡でキャラカスタムを入手した場合、
                                    <br>
                                    　その他入手導線での入手はできません。
                                    <br>
                                    ・限定キャラカスタムを先に限定キャラカスタム付き魔鏡以外から入手した場合、
                                    <br>
                                    　限定キャラカスタム付き魔鏡で複数入手はできません。
                                    <br>
                                    ・限定キャラカスタム付き魔鏡で手に入る同一の限定キャラカスタムは
                                    <br>
                                    　複数入手することはできません。
                                    <br>
                                    ・登場キャラクターの実装済みの魔鏡・装備でも
                                    <br>
                                    　本ガシャに含まれない場合がございます。
                                    <br>
                                　出現する装備・魔鏡につきましては、ガシャ内訳をご確認ください。</span><span style="font-size:11px;"></span>
                            </p>
                        </div>
                    </section>
                </div>
                <p>
                    <b></b>
                </p>
            </body>
        </html>
