<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/33921/content_P____________________vol53.jpg"
                     style="width: 100%">
            </p>
            <p>
                <!-- 仕切り -->
            </p>
            <section>
                <hr>
                <p style="text-align: center;">『TALES OF THE RAYS』を遊んでくださっているみなさま。</p>
                <p style="text-align: center;">こんにちは。制作プロデューサーの栁澤です。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">はじめに。アスタリア先輩との初の合同イベント、合同イベントということで、</p>
                <p style="text-align: center;">
                    コラボとは勝手が違う部分もあり、賛否のご意見頂いております。
                    <br>
                    こちらに関しては、応援頂いている部分は継続し、
                </p>
                <p style="text-align: center;">否のご意見もしっかりチームで受け止めて今後に活かして行きたいと思います。</p>
                <p style="text-align: center;">
                    <br>
                    また、フォームチェンジに関しても沢山のご意見を頂いております。
                    <br>
                    ver4.5.0で仕様追加を行い一定の改善はされたと思っていますが、
                </p>
                <p style="text-align: center;">頂いたご意見から、まだ制作側と実際遊んで頂いているみなさまとで、</p>
                <p style="text-align: center;">温度差があり、フォームチェンジはメリットとデメリットのバランスが</p>
                <p style="text-align: center;">まだデメリット側に傾いていると感じています。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">フォームチェンジに関してはもっとメリットやロマンを感じて頂けるような</p>
                <p style="text-align: center;">仕様や運用方法が必要だと考えていますので、</p>
                <p style="text-align: center;">追加要素が固まり次第またこの場でお伝えさせて頂きますので、</p>
                <p style="text-align: center;">
                    少しお時間を頂けますようお願い致します。
                    <br>
                    (追加要素はもちろんこれまでのフォームチェンジ達も
                </p>
                <p style="text-align: center;">メリットを享受できるようにしますので</p>
                <p style="text-align: center;">今、所持しているみなさんが</p>
                <p style="text-align: center;">残念な気持ちになる事はありませんのでご安心下さい。)</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">それでは、次回アップデートと今後の方針についてご説明させて頂きます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p>
                    <span style="font-size:16px;"><strong>■次回&quot;大型&quot;アップデートver4.6.0</strong></span>
                    <br>
                    ver4.6.0は規模の大きなアップデートになりそうです。
                    <br>
                    以前からお伝えしていた通り、
                </p>
                <p>現状はザ レイズをやり込まれているプレイヤーのみなさまは</p>
                <p>育成しきったキャラクター達を活用する場が少なくなってしまい、</p>
                <p>育成に対するモチベーションが下がってしまっている状況だと感じています。</p>
                <p>
                    <br>
                    その中の一つとして、定期開催中の「始祖久遠の塔」では
                </p>
                <p>多くのプレイヤーのみなさまが</p>
                <p>
                    最上位ランクでクリアしている状態を把握しております。
                    <br>
                    次回のアップデートではそんなプレイヤーのみなさまに
                </p>
                <p>やりごたえと新たな目標として感じていただけるよう、</p>
                <p>新フロアと新ルールを追加予定です。</p>
                <p>&nbsp;</p>
                <p>キャラクターをかなり育成している方々でも</p>
                <p>楽しめるものを考えておりますので、楽しみにしてください。</p>
                <p>
                    <br>
                    それに伴い、ゲームサイクル全体の見直し、新しい報酬など、
                </p>
                <p>
                    かなりの範囲をアップデートさせていただく予定です。
                    <br>
                    また、これにとどまらずバトル画面の改善も行います。
                </p>
                <p>&nbsp;</p>
                <p>本来ならこのタイミングで詳細をお伝え出来ると良かったのですが、</p>
                <p>開発自体は着手してるものの、現在は設計や検証を行っている現段階で、</p>
                <p>まだ仕様を変更する可能性もあるので、</p>
                <p>その詳細については、ゲーム画面も交えながら次回の</p>
                <p>制作プロデューサーからのお知らせ　vol.54でご説明させて頂ければと思います。</p>
                <p>大した事をお伝え出来ずに大変申し訳ございません！</p>
                <p>なお、実装時期は、8月末頃を予定しております。</p>
                <p>&nbsp;</p>
                <p>
                    <span style="font-size:16px;"><strong>■今後の方針</strong></span>
                    <br>
                    上記でお伝えさせて頂きました通り、
                </p>
                <p>
                    夏～アップデート内容が大幅に見直しとなりました。
                    <br>
                    &nbsp;
                </p>
                <p>
                    <strong>〇夏～のアップデート【更新あり】</strong>
                    <br>
                    　・ver4.6.0（大型）
                    <br>
                    &nbsp; &rArr;始祖久遠の塔のリニューアル
                    <br>
                    　　├新フロア追加
                    <br>
                    　　├新たな報酬
                    <br>
                    　　└スキップ機能の見直し　他
                    <br>
                    　&rArr;その他、ゲームサイクル見直しに伴う大幅改修。
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>〇秋～のアップデート【更新あり】</strong>
                    <br>
                    　・精霊装の改修
                    <br>
                    　・フォームチェンジの追加改修
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>〇冬～のアップデート</strong>
                    <br>
                    　・他、既存イベント改修や5周年に向けた仕込み
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>〇5周年後の6年目以降</strong>
                    <br>
                    　・新展開!！
                </p>
                <p style="text-align: center;">
                    <br>
                    何をもって大型アップデートなんだ。という基準が難しいのですが、
                </p>
                <p style="text-align: center;">少なくとも1機能や1コンテンツの改修だけではなく、</p>
                <p style="text-align: center;">ゲーム全体の遊び方が変わってくるものは</p>
                <p style="text-align: center;">そう呼んでも良いのかなと思っています。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">前回予告した通り、夏～のアップデート内容を見直し、</p>
                <p style="text-align: center;">やり込んでる人ほど、ぶつけ先が無くなってしまっている、</p>
                <p style="text-align: center;">あるいは、推しキャラを育て切ってしまい</p>
                <p style="text-align: center;">
                    それ以上推しを育成することが出来ない状況の改善を最優先とさせて頂きました。
                    <br>
                    その状況次第で秋～のアップデート内容が変わる可能性もありますが、
                </p>
                <p style="text-align: center;">まずは、4.6.0の大型アップデートに注力させて頂きますので</p>
                <p style="text-align: center;">来月の詳細公開を楽しみにして頂ければと思います。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">次は今月の配信スケジュールについてです。</p>
                <hr>
                <p style="text-align: center;">
                    <span style="font-size:18px;"><strong>〇7月の配信スケジュール（予定）</strong></span>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/33961/content_21070501.png"
                         style="width: 80%">
                </p>
                <p>
                    <strong>■水着イベント　(7月中旬）</strong>
                    <br>
                    今年も「ザ レイズ」に夏がやってきます！
                    <br>
                    お待たせして大変申し訳ございません！
                </p>
                <p>
                    久しぶりの季節イベントが開催になります。
                    <br>
                    コレットに夏衣装、エミル、リヒター、カーリャ・Nに水着衣装が登場します！
                    <br>
                    新規参戦こそ無いイベントですが、代わりに4人のサマーが一挙に楽しめます。
                    <br>
                    しかもリヒターが海水浴で水着を着るなんて前代未聞です。
                </p>
                <p>
                    でも、そんな夢が詰まっているのがティル・ナ・ノーグサマーです。
                    <br>
                    いつもの季節イベント通り、
                </p>
                <p>気持ちを楽にして楽しめる内容となっていますのでご期待下さい！</p>
                <p>&nbsp;</p>
                <p>
                    <strong>■メインシナリオ第4部　10章　ヴァン　ピオニー参戦(7月下旬）</strong>
                    <br>
                    ついに、ヴァン師匠（せんせい）が参戦！
                </p>
                <p>
                    だけでも衝撃的ですが、さらに、ピオニー陛下まで参戦します。
                    <br>
                    ルークやティアは！？そして、
                </p>
                <p>
                    久しぶりに再会するであろう大佐とピオニー陛下&hellip;。
                    <br>
                    アビスメンバー同士がどう関わるのか想像しただけでも楽しみですね！
                    <br>
                    本編の領主たちとのお話もいよいよ佳境です！
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>■ザレイズフェス第4弾</strong>
                    <br>
                    やってきましたザレイズフェス！
                </p>
                <p>
                    今回登場するクロスオーバー魔鏡は前回上位の3組！
                    <br>
                    <strong>スタン&times;カイル</strong>
                </p>
                <p>
                    　&rArr;燃える親子の組み合わせ！
                    <br>
                    <strong>ロクロウ&times;シグレ</strong>
                </p>
                <p>
                    <strong></strong>&rArr;原作では叶わなかった因縁の二人の共闘！
                    <br>
                    <strong>アスベル&times;ヒューバート</strong>
                </p>
                <p>
                    <strong></strong>&rArr;今回の3組の中では唯一原作でも
                </p>
                <p>同じパーティな二人ですが原作にも無い技で魅せてくれます！</p>
                <p>
                    <br>
                    と、今回も夢一杯な組み合わせになりました。
                    <br>
                    そして、今回新たなクロスオーバーを決める
                </p>
                <p>
                    投票テーマは&hellip;「<strong>シンパシー！</strong>」です。
                    <br>
                    どこかにシンパシーを感じる組み合わせの6組は後日発表させて頂きます！
                    <br>
                    組み合わせ発表時にどんな共通点があるのか考えて頂くのも面白いと思います！
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <hr>
                <p style="text-align: center;">最後にオマケですが、生放送で発表させて頂いたチュートリアル時に</p>
                <p style="text-align: center;">歴代の好きなキャラクターを選んで加入してもらえる機能。</p>
                <p style="text-align: center;">実装してしばらく経ち、どんなキャラクターが選ばれているのかな？と</p>
                <p style="text-align: center;">興味本位で調査してみたら面白いデータが取れたのでご紹介したいと思います。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/33963/content_________________TOP30______.png"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">こちら、実装してから2週間位のデータで、</p>
                <p style="text-align: center;">選ばれているキャラの上位を抜き出しています。</p>
                <p style="text-align: center;">
                    <br>
                    事前にお伝えしておくと、
                </p>
                <p style="text-align: center;">キャラクターの表示順や突出しているベルベットのように</p>
                <p style="text-align: center;">ゲーム側でオススメ表示（発売済家庭用最新作の主人公なので）</p>
                <p style="text-align: center;">をして誘導している部分もあるので</p>
                <p style="text-align: center;">一概にキャラクターの人気順とは言えませんし、</p>
                <p style="text-align: center;">言うつもりもないのでご注意下さい。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">個人的にこのデータでなるほど！と思ったのは、</p>
                <p style="text-align: center;">ザ レイズオリジナルキャラクター達の善戦。</p>
                <p style="text-align: center;">イクス、ミリーナの主人公ヒロインが居ない中でも</p>
                <p style="text-align: center;">上位に食い込んでいるキャラが多く、</p>
                <p style="text-align: center;">歴代も好きだけど、せっかく始めるならザ レイズのキャラクターで！</p>
                <p style="text-align: center;">という方が意外と多いのかもしれません。</p>
                <p style="text-align: center;">※作品選択時に最初にカーソルが合っているのが</p>
                <p style="text-align: center;">ザ レイズという説もあります。(下記は作品選択時の最初の画面です。）</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/33962/content_20210709_111241.png"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">もう少し掘り下げると、そんなザ レイズの中でもマークがかなり選択されていて、</p>
                <p style="text-align: center;">その理由はなんだろう？（チュートリアルの活躍か！？）とか、</p>
                <p style="text-align: center;">ゲーム内容だったり、テイルズオブの歴史だったりと重ね合わせて考察すると</p>
                <p style="text-align: center;">これだけ楽しめるかもしれません！（自分はメンバーと小一時間話してました。）</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">繰り返しになりますが、来月、大型アップデート4.6.0の全容を</p>
                <p style="text-align: center;">
                    ご説明できるように準備を進めて行きます！
                    <br>
                    それまでお待たせしてしまい申し訳ございません！
                </p>
                <p style="text-align: center;">その分、遊び応えのある内容になると思いますのでもう少しお待ちください。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">それでは『TALES OF THE RAYS』をよろしくお願い致します。</p>
                <p style="text-align: center;">制作プロデューサー　栁澤</p>
                <center>
                    <p style="text-align: center;">&nbsp;</p>
                    <section>

                    </section>
                </center>
            </section>
        </div>
    </body>
</html>
