<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p align="center">
                <strong><span style="font-size:18px;"><span style="color:#FF4747;"></span></span><span style="font-size:18px;"><span style="color:#FF4747;"></span></span><span style="font-size:18px;"><span style="color:#FF4747;"></span></span><span style="font-size:18px;"><span style="color:#FF4747;">『テイルズ オブ』シリーズの</span></span></strong>
            </p>
            <p align="center">
                <strong><span style="font-size:18px;"><span style="color:#FF4747;">最新情報続々の夏特番配信決定！</span></span><span style="font-size:18px;"><span style="color:#FF4747;"></span></span><span style="font-size:18px;"><span style="color:#FF4747;"></span></span><span style="font-size:18px;"><span style="color:#FF4747;"></span></span><span style="font-size:18px;"><span style="color:#FF4747;"></span></span><span style="font-size:18px;"><span style="color:#FF4747;"></span></span><span style="font-size:18px;"><span style="color:#FF4747;"></span></span></strong><span style="font-size:18px;"><span style="color:#FF4747;"></span></span>
            </p>
            <pre>
<img alt="" src="{{ s3_url }}public/uploads/ckeditor/pictures/33723/content_MicrosoftTeams-image.png" style="width: 100%;">
&nbsp;
</pre>
            <p>『テイルズ オブ』シリーズの最新情報をお届けする</p>
            <p>
                <span style="color:#FF9900;"><strong>「最新情報続々！</strong></span>
            </p>
            <p>
                <span style="color:#FF9900;"><strong>Tales of YouTube channel 2021サマースペシャル」</strong></span>
            </p>
            <p>の配信が決定！</p>
            <p>
                <br>
                番組では「テイルズ オブ アライズ」の
            </p>
            <p>オープニングアニメと</p>
            <p>
                タイアップアーティストを初公開予定です。
                <br>
                シリーズファン必見の内容となっていますので、お見逃しなく！
                <br>
                <br>
                <strong><span style="color:#FF4747;">▼配信日時
                    <br>
                2021年7月5日（月）21時～（予定）</span></strong>
            </p>
            <p>
                <br>
                ▼配信媒体
            </p>
            <p>
                <a href="https://www.youtube.com/watch?v=nBCskb4Bh-g"><span style="font-size:20px;"><strong>＜YouTubeはこちら＞</strong></span></a>
            </p>
            <p>
                <a href="https://twitter.com/tales_ch"><span style="font-size:20px;"></span><span style="font-size:20px;"><strong>＜Twitter Liveはこちら＞</strong></span><span style="font-size:20px;"></span></a>
            </p>
            <p>&nbsp;</p>
            <p>
                <br>
                ▼キャスト （敬称略）
                <br>
                ゲスト
                <br>
                -佐藤拓也 &nbsp;（「テイルズ オブ アライズ」 アルフェン役)
                <br>
                -下地紫野 &nbsp;（「テイルズ オブ アライズ」 シオン役）
            </p>
            <p>&nbsp;</p>
            <p>
                &nbsp;MC
                <br>
                &nbsp; -松澤千昌
            </p>
            <p>
                <br>
                &nbsp;バンダイナムコエンターテインメント
                <br>
                &nbsp; -富澤祐介
                <br>
                &nbsp; -池野泰広
                <br>
                &nbsp; -TOY-kun<span style="color:#FF4747;"></span>
                <br>
                &nbsp;
            </p>

        </div>
    </body>
</html>
