<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <strong>【予告】</strong>
            </p>
            <p style="text-align: center;">
                <strong>4部第10章配信!!</strong>
            </p>
            <hr>
            <section>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>2021/7/26(月) 14:00</strong></span>より
                </p>
                <p style="text-align: center;">
                    <font color="#ff4747"><b>4部第10章～再起の協奏～</b></font>が<span style="color:#FF4747;"><strong>追加</strong></span>!!
                </p>
                <p style="text-align: center;">&nbsp;</p>
            </section>
            <section>
                <p style="text-align: center;">
                    <strong>◆配信開始予定日時◆</strong>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><span style="color:#FF4747;"><span style="color:#FF4747;"><strong>2021/7/26(月) 14:00～</strong></span></span></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>◆</strong><strong>参戦キャラクター◆</strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/34225/content_21072604.jpg"
                             style="width: 80%">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/34226/content_21072605.jpg"
                             style="width: 80%">
                    </strong>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    ◆<strong>あらすじ◆</strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/34227/content_21072603.jpg"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/34235/content_20210720_110213.png"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/34236/content_20210720_110352.png"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/34237/content_20210720_110733.png"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/34238/content_20210720_214118.png"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/34239/content_20210720_215036.png"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/34240/content_20210720_215119.png"
                         style="width: 80%">
                </p>
            </section>
            <section>
                <div class="frame2">
                    <p style="text-align:center;">&nbsp;《注意事項》</p>
                    <p>
                        <span style="font-size:11px;">・4部第10章は4部第9章クリア後に</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">プレイすることができます。</span>
                    </p>
                    <p class="indent">
                        <span style="font-size:11px;">・本お知らせ内に掲載されている内容は、</span>
                    </p>
                    <p class="indent">
                        <span style="font-size:11px;">予告なく変更することがあります。</span>
                    </p>
                </div>
            </section>
        </div>

    </body>
</html>
