<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <em><span style="color:#FF00FF;"></span></em>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/3681/content_18022640.png"
                     strong="">
                <em><span style="color:#FF00FF;"><strong><span style="font-size: 18px;"></span></strong></span></em>
            </p>
            <hr>
            <section>
                <p style="text-align: center;">
                    <span style="font-size:14px;"></span>
                </p>
                <p style="text-align: center;">『TALES OF THE RAYS』をご利用いただき誠にありがとうございます。</p>
                <p style="text-align: center;">
                    <br>
                    2021/8/31(火)より『ver4.6.0』へのアップデートおよび
                    <br>
                    サーバーメンテナンスを予定しております。
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">このアップデートでのメンテナンスは、</p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>2021</strong><strong>/8/31(火) 11:00～14:00</strong></span>
                </p>
                <p style="text-align: center;">の予定です。</p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;">メンテナンス作業は14:00までに終了予定となっております。
                        <br>
                        メンテナンス作業完了後、ストアへアプリが反映され次第、
                        <br>
                    メンテナンスを終了いたします。</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">メンテナンス中はゲームプレイができなくなりますので、</p>
                <p style="text-align: center;">ご注意ください。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;">※クエスト中にメンテナンスになった場合、</span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;">本メンテナンスではクエスト出撃状態が
                        <br>
                    解除されますのでご注意ください。</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">また、ストアへアプリが反映され次第、予定より早く</p>
                <p style="text-align: center;">メンテナンスを終了する場合がございます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">※アップデート予定日時は変更となる可能性がございます。</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">その際は改めてお知らせいたします。</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">パスポートとイベント復刻機能の終了期間に関しましては、</p>
                <p style="text-align: center;">メンテナンス時間分延長させて頂きますのでご安心ください。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">メンテナンス完了後に</p>
                <p style="text-align: center;">メンテナンスご協力のお礼として</p>
                <p style="text-align: center;">『ダイヤ&times;4個』</p>
                <p style="text-align: center;">をプレイヤーの皆様にお贈りさせていただきます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"></span>
                </p>
                <p>
                    <span style="color:#FF4747;"><strong>■ver4.6.0で実装される機能</strong></span>
                </p>
                <p>・始祖久遠の塔に神域モードを実装</p>
                <p>└新モード「神域」は&beta;版として開催され、</p>
                <p>正式開催時とは内容が異なる場合があります。</p>
                <p>&nbsp;</p>
                <p>
                    ・新覚醒スキル「覚醒スキル【複合】」の実装
                    <br>
                    &nbsp;
                </p>
                <p>
                    ・3つ目の魔鏡枠「オート魔鏡枠」の実装
                    <br>
                    &nbsp;
                </p>
                <p>
                    ・オート魔鏡枠の強化アイテム「魔鏡符」の実装
                    <br>
                    &nbsp;
                </p>
                <p>
                    ・特定のイベントでイベントポイントを消費すると
                    <br>
                    　累計の消費数に応じて報酬がもらえる機能の実装
                    <br>
                    &nbsp;
                </p>
                <p>
                    ・新規特効効果「クリティカルボーナス」の実装
                    <br>
                    &nbsp;
                </p>
                <p>・始祖久遠の塔に階層スキップ機能の実装</p>
                <p>&nbsp;</p>
                <p>
                    <span style="color:#FF4747;"><strong>■ver4.6.0で調整される機能</strong></span>
                </p>
                <p>
                    <span style="color:#FF4747;"></span>
                </p>
                <p>
                    ・アプリアイコンと起動画面をコラボ記念版に変更
                    <br>
                    &nbsp;
                </p>
                <p>
                    ・魔鏡技強化内容が限界突破状況により強化されるよう調整
                    <br>
                    &nbsp;
                </p>
                <p>・ボスのHPを画面上部に表示するように変更</p>
                <p>&nbsp;</p>
                <p>その他、細かな不具合の修正</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">引き続き『TALES OF THE RAYS』をよろしくお願い申し上げます。</p>
                <p style="text-align: center;">&nbsp;</p>

            </section>
        </div>
    </body>
</html>
