<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/35555/content_2109151.png"
                     style="width: 100%">
            </p>
            <hr>
            <p>
                <span style="font-size:14px;"><b>ロゼ、デゼル、ザビーダ、サイモン</b>の</span><span style="font-size:14px;"></span>
                <br>
                <span style="font-size:14px;"><strong><span style="color:#FF4747;">『魔鏡』と『装備』のみ</span></strong>が出現する</span>
            </p>
            <p>
                <span style="font-size:14px;">絶淵に立つ災禍チケットガシャが開催!!</span>
            </p>
            <div align="center">
                <div align="center">
                    <p>&nbsp;</p>
                    <p>◆開催期間◆</p>
                    <div align="center">
                        <p>
                            <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
                        </p>
                        <p>
                            <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;">2021/9/20(月) 14:00 ～ 2021/11/7(日) 10:59</span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
                        </p>
                        <p>
                            <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong><strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
                        </p>
                        <p>
                            <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
                        </p>
                        <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                            <span style="font-size:14px;">絶淵に立つ災禍チケットガシャ</span>では、
                            <br>
                            <b>ロゼ、デゼル、ザビーダ、サイモン</b>の
                            <br>
                            <span style="color:#FF4747;"><strong>『魔鏡』と『装備</strong><strong>』のみ</strong></span>が出現!!
                        </p>
                        <div class="frame1">
                            <p style="text-align: center;">
                                <strong>ロゼの魔鏡・装備</strong>
                            </p>
                            <p style="text-align: center;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/35511/content_7710005.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22055/content_7710003.png"
                                     style="width: 80px;
                                            height: 80px">
                            </p>
                            <p style="text-align: center;">
                                <strong>
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/21399/content_775002.png"
                                         style="width: 80px;
                                                height: 80px">
                                </strong>
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/26389/content_775003.png"
                                     style="width: 80px;
                                            height: 80px">
                            </p>
                            <p style="text-align: center;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/26390/content_774001.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/26391/content_774002.png"
                                     style="width: 80px;
                                            height: 80px">
                            </p>
                            <p style="text-align: center;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/26392/content_773001.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/26393/content_773002.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/26394/content_773003.png"
                                     style="width: 80px;
                                            height: 80px">
                            </p>
                            <p style="text-align: center;">&nbsp;</p>
                            <p style="text-align: center;">
                                <strong>デゼルの魔鏡・装備</strong>
                            </p>
                            <p style="text-align: center;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/35512/content_7810004.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22058/content_7810003.png"
                                     style="width: 80px;
                                            height: 80px">
                            </p>
                            <p style="text-align: center;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22385/content_785002.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/35510/content_785003.png"
                                     style="width: 80px;
                                            height: 80px">
                            </p>
                            <p style="text-align: center;">
                                <strong>
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/9687/content_784001.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/9688/content_784002.png"
                                         style="width: 80px;
                                                height: 80px">
                                </strong>
                            </p>
                            <p style="text-align: center;">
                                <strong>
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/9689/content_783001.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/9690/content_783002.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/9691/content_783003.png"
                                         style="width: 80px;
                                                height: 80px">
                                </strong>
                            </p>
                            <p style="text-align: center;">&nbsp;</p>
                            <p style="text-align: center;">
                                <strong>ザビーダの魔鏡・装備</strong>
                            </p>
                            <p style="text-align: center;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/35513/content_6110003.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/10222/content_6110002.png"
                                     style="width: 80px;
                                            height: 80px">
                            </p>
                            <p style="text-align: center;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/35366/content_615002.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/35367/content_615003.png"
                                     style="width: 80px;
                                            height: 80px">
                            </p>
                            <p style="text-align: center;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/10141/content_614001.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/10142/content_614002.png"
                                     style="width: 80px;
                                            height: 80px">
                            </p>
                            <p style="text-align: center;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/10144/content_613001.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/10145/content_613002.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/10146/content_613003.png"
                                     style="width: 80px;
                                            height: 80px">
                            </p>
                            <p style="text-align: center;">&nbsp;</p>
                            <p style="text-align: center;">
                                <strong>サイモンの魔鏡・装備</strong>
                            </p>
                            <p style="text-align: center;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/35514/content_20710003.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/25422/content_20710002.png"
                                     style="width: 80px;
                                            height: 80px">
                            </p>
                            <p style="text-align: center;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/35368/content_2075002.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/35598/content_2075003.png"
                                     style="width: 80px;
                                            height: 80px">
                            </p>
                            <p style="text-align: center;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/25424/content_2074001.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/25425/content_2074002.png"
                                     style="width: 80px;
                                            height: 80px">
                            </p>
                            <p style="text-align: center;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/25427/content_2073001.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/25428/content_2073002.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/25429/content_2073003.png"
                                     style="width: 80px;
                                            height: 80px">
                            </p>
                        </div>
                        <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                            <strong>絶淵に立つ災禍ガシャチケット</strong>は
                            <br>
                            <strong>『攻略戦ヘルダルフ 絶淵に立つ災禍』ガシャ</strong>
                            <br>
                            <strong>『攻略戦ヘルダルフ 絶淵に立つ災禍』個人報酬</strong>で
                            <br>
                            入手が可能!<!-- 仕切り -->
                        </p>
                        <hr>
                        <section>
                            <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                            <img src="{{ s3_url }}public/uploads/ckeditor/pictures/35593/content_2109142.png"
                                 style="width: 100%">
                            <ul class="box">
                                <li>
                                    <strong>魔鏡技:<font color="#ff4747">嵐月流・斑鳩</font></strong>　　
                                </li>
                                <li>
                                    威力:<font color="#ff4747"><b>1975</b></font>
                                </li>
                                <li style="text-align:right;float:right">
                                    <strong>ロゼ専用</strong>
                                </li>
                            </ul>
                            <div class="frame1">
                                <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p>
                                                    <strong>効果内容</strong>
                                                </p>
                                                <p>
                                                    覚悟と共に鋭い突きを無数に繰り出す
                                                    <br>
                                                    魔鏡技。敵に闇属性弱点付与
                                                </p>
                                            </td>
                                            <td>
                                                <p style="text-align: center;">
                                                    <strong><a href="https://youtu.be/dwI-D3FpGZ4externalbrowser=true">
                                                        <img alt=""
                                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                             style="width: 60px;
                                                                    height: 60px">
                                                    </a></strong>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <hr>
                        <section>
                            <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                            <img src="{{ s3_url }}public/uploads/ckeditor/pictures/35594/content_2109143.png"
                                 style="width: 100%">
                            <ul class="box">
                                <li>
                                    <strong>魔鏡技:<font color="#FF4747">サクリファイスゲイル</font></strong>　　
                                </li>
                                <li>
                                    威力:<font color="#ff4747"><b>1690</b></font>
                                </li>
                                <li style="text-align:right;float:right">
                                    <strong>デゼル専用</strong>
                                </li>
                            </ul>
                            <div class="frame1">
                                <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p>
                                                    <strong>効果内容</strong>
                                                </p>
                                                <p>
                                                    自身に風の力を纏わせて疾風の如く
                                                    <br>
                                                    斬り裂く魔鏡技。味方の物攻を上げる
                                                </p>
                                            </td>
                                            <td>
                                                <p style="text-align: center;">
                                                    <strong><a href="https://youtu.be/3piwwldE5rMexternalbrowser=true">
                                                        <img alt=""
                                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                             style="width: 60px;
                                                                    height: 60px">
                                                    </a></strong>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <hr>
                        <section>
                            <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                            <img src="{{ s3_url }}public/uploads/ckeditor/pictures/35595/content_2109144.png"
                                 style="width: 100%">
                            <ul class="box">
                                <li>
                                    <strong>魔鏡技:<font color="#ff4747">フェアウェルネバー</font></strong>　　威力:<font color="#ff4747"><b>2153</b></font>
                                </li>
                                <li style="text-align:right;float:right">
                                    <strong>ザビーダ専用</strong>
                                </li>
                            </ul>
                            <div class="frame1">
                                <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p>
                                                    <strong>効果内容</strong>
                                                </p>
                                                <p>
                                                    鎖で捕えた敵をさらに無数の鎖で貫き
                                                    <br>
                                                    大地ごと砕く魔鏡技。敵に気絶を付与
                                                </p>
                                            </td>
                                            <td>
                                                <p style="text-align: center;">
                                                    <a href="https://youtu.be/Pz6Dve45V_Aexternalbrowser=true"><strong>
                                                        <img alt=""
                                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                             style="width: 60px;
                                                                    height: 60px">
                                                    </strong></a>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <hr>
                        <section>
                            <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                            <img src="{{ s3_url }}public/uploads/ckeditor/pictures/35596/content_2109145.png"
                                 style="width: 100%">
                            <ul class="box">
                                <li>
                                    <strong>魔鏡技:<font color="#ff4747">ダイド・トゥ・デス</font></strong>　　威力:<font color="#ff4747"><b>1852</b></font>
                                </li>
                                <li style="text-align:right;float:right">
                                    <strong>サイモン専用</strong>
                                </li>
                            </ul>
                            <div class="frame1">
                                <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p>
                                                    <strong>効果内容</strong>
                                                </p>
                                                <p>
                                                    分身によって巨大な黒水晶を
                                                    <br>
                                                    落下させる魔鏡技。敵に恐怖を付与
                                                </p>
                                            </td>
                                            <td>
                                                <p style="text-align: center;">
                                                    <a href="https://youtu.be/hRIqSmnoTBoexternalbrowser=true"><strong>
                                                        <img alt=""
                                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                             style="width: 60px;
                                                                    height: 60px">
                                                    </strong></a>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <hr>
                        <section>
                            <div class="frame2">
                                <p style="text-align:center;">《 注意事項&nbsp;》</p>
                                <p>
                                    <span style="font-size:11px;">・本ガシャは「絶淵に立つ災禍ガシャチケット」のみで
                                        <br>
                                        　実行できます。
                                        <br>
                                        ・本ガシャは「絶淵に立つ災禍ガシャチケット」1枚につき、
                                        <br>
                                        　1回実行できます。
                                        <br>
                                        ・本ガシャからはロゼ、デゼル、ザビーダ、サイモンの
                                        <br>
                                        　魔鏡・★5鏡装・★4装備・★3装備のいずれかが獲得できます。
                                        <br>
                                        ・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。
                                        <br>
                                        ・イベント限定ポイントボーナス及び攻略戦ボーナスの効果は、
                                        <br>
                                        　該当のイベント開催時のみ発動します。
                                        <br>
                                        ・イベント限定ポイントボーナス及び攻略戦ボーナスが発動する
                                        <br>
                                        　魔鏡・装備の一覧は、該当イベントのお知らせをご確認ください。
                                        <br>
                                        ・表示されているステータス・効果・ポイントボーナス
                                        <br>
                                        　攻略戦ボーナスは、最大強化後の値となります。
                                        <br>
                                        ・限定キャラカスタム付き魔鏡でキャラカスタムを入手した場合、
                                        <br>
                                        　その他入手導線での入手はできません。
                                        <br>
                                        ・限定キャラカスタムを先に限定キャラカスタム付き魔鏡以外から入手した場合、
                                        <br>
                                        　限定キャラカスタム付き魔鏡で複数入手はできません。
                                        <br>
                                        ・期間限定の魔鏡・装備・キャラカスタムは再登場する場合がございます。
                                        <br>
                                        ・限定キャラカスタム付き魔鏡で手に入る同一の限定キャラカスタムは
                                        <br>
                                    　複数入手することはできません。</span>
                                </p>
                            </div>
                        </section>
                    </div>
                    <p>
                        <b></b>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
