<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <span style="color:#FF4747;"><span style="font-size:18px;"><strong>【重要】</strong></span></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:18px;"><strong>｢iOS15｣及びiPhone13シリーズ</strong></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:18px;"></span><span style="font-size:18px;"><strong>に</strong></span><strong>つきまして</strong>
            </p>
            <!-- 仕切り -->
            <hr>
            <section>
                <p style="text-align: center;">
                    <span style="font-size:14px;"></span>
                </p>
                <p style="font-weight: bold; text-align: center;">&nbsp;</p>
                <p style="text-align: center;">『TALES OF THE RAYS』をご利用いただき誠にありがとうございます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">近日Apple社より、｢iOS15｣がリリース予定となっております。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">｢iOS15｣及びiPhone13シリーズ以降のバージョンにアップデートした場合、</p>
                <p style="text-align: center;">当アプリが正常に起動しない可能性がございます。</p>
                <p style="text-align: center;">｢iOS15｣及びiPhone13シリーズ以降のバージョンでの動作確認・対応は</p>
                <p style="text-align: center;">順次進めておりますが、完了までにお時間を頂く場合がございます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>｢iOS15｣及びiPhone13シリーズにアップデートをされるお客様は、</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>事前に｢引き継ぎ設定｣で、</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>ゲームデータのバックアップを行うことを</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>お勧めいたします。</strong></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">最後に｢iOS15｣及びiPhone13シリーズにアップデートされる場合は、</p>
                <p style="text-align: center;">事前にPC(iTunes)でのデータのバックアップもお勧めいたします。</p>
                <p style="text-align: center;">&nbsp;</p>
                <div class="container">
                    <section>
                        <p style="text-align: center;">引き続き『TALES OF THE RAYS』をよろしくお願い申し上げます。</p>
                    </section>
                </div>

            </section>
        </div>
    </body>
</html>
