<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;">【10/23(土)開催】</span></strong>
            </p>
            <p style="text-align: center;">
                <strong><span style="color:#FF4747;">「テイルズ オブ オーケストラコンサート</span></strong>
            </p>
            <p style="text-align: center;">
                <strong><span style="color:#FF4747;">～25th Anniversary Encore～」</span></strong>
            </p>
            <p style="text-align: center;">
                <strong><span style="color:#FF4747;">オンライン視聴チケット販売開始！</span><span style="color:#FF4747;"></span></strong>
            </p>
            <p>&nbsp;</p>
            <hr>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/35502/content______AS____0917_1023_.png"
                     style="width: 100%">
            </p>
            <p style="text-align: center;">
                <span style="font-size:12px;">『TALES OF THE RAYS』をご利用いただき誠にありがとうございます。</span><span style="font-size:12px;"></span>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                <span style="font-size:12px;"></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:12px;">『テイルズ オブ』シリーズ歴代タイトルのテーマソングをフルオーケストラで</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:12px;">お届けする前回2020年公演のプログラムが楽しめるのはもちろん、</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:12px;">9月9日発売の最新作『テイルズ オブ アライズ』のテーマソング「HIBANA」や、</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:12px;">スペシャルゲストの桜庭統氏によるアライズゲームBGMメドレーなど、</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:12px;">最新の曲目も加わります！</span>
            </p>
            <p>&nbsp;</p>
            <p>
                <span style="font-size:12px;">現地開催に加え、オンライン配信も実施決定！
                    <br>
                詳しくは公式サイトをご覧ください！</span>
            </p>
            <p>
                <span style="font-size:12px;">▼「テイルズ オブ オーケストラコンサート ～25th Anniversary Encore～」公式サイト
                    <br>
                    <span style="font-size:12px;"><a href="https://to-orchestra.tales-ch.jp/">＜公式サイトはこちら＞</a></span></span>
                </p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>
                    <span style="font-size:12px;">▼開催概要
                        <br>
                        <span style="color:#FF9900;">【開催日時】</span>
                        <br>
                    2021年10月23日（土） 開場 13:30 開演 15:00</span>
                    <br>
                    &nbsp;
                </p>
                <p>
                    <span style="font-size:12px;"><span style="color:#FF9900;">【アーカイブ配信期間】</span>
                    <br>
                2021年11月23日（火）23:59まで（予定）</span>
            </p>
            <p>
                <span style="font-size:12px;">※開催時間は予告なく変更になる場合がございますので、予めご了承ください。
                    <br>
                ※公演時間は開演から終演まで3時間の予定です。</span>
            </p>
            <p>&nbsp;</p>
            <p>
                <span style="font-size:12px;"><span style="color:#FF9900;">【場所】</span>
                <br>
                会場：パシフィコ横浜 国立大ホール
                <br>
                住所：神奈川県横浜市西区みなとみらい1丁目1-1
                <br>
            交通：みなとみらい線(東急東横線・副都心線直通) 「みなとみらい駅」より徒歩5分</span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-size:12px;"><span style="color:#FF9900;">【出演者情報】</span>
            <br>
            指揮：栗田 博文
            <br>
            演奏：東京フィルハーモニー交響楽団
            <br>
        スペシャルゲスト：桜庭 統</span>
    </p>
    <p>&nbsp;</p>
    <p>
        <span style="font-size:12px;">▼チケット販売情報
            <br>
            <span style="color:#FF9900;">【オンライン視聴チケット】</span>
            <br>
        取扱：アソビステージ</span>
    </p>
    <p>
        <span style="font-size:12px;"><span style="font-size:12px;"><span style="font-size:12px;"><a href="https://asobistage.asobistore.jp/event/to-orchestra_25th_enc/ticket">＜申し込みはこちら＞</a></span></span></span>
    </p>
    <p>&nbsp;</p>
    <p>
        <span style="font-size:12px;"><span style="color:#FF9900;">【現地チケット】</span>
        <br>
    受付席種：スペシャルシート(15,000円(税込) (パンフレット＋お土産付き座席※))</span>
</p>
<p>
    <span style="font-size:12px;">/S席(9,500円(税込))/A席(8,500円(税込))
        <br>
        取扱：イープラス・チケットぴあ・ローソンチケット&nbsp;
        <br>
    ※スペシャルシートでは、イベント書き下ろしSDキャラを使用した</span>
</p>
<p>
    <span style="font-size:12px;">ミニブランケットやスクエアカレンダーなど、</span>
</p>
<p>
    <span style="font-size:12px;">特別グッズが手に入ります！詳しくは公式サイトをご覧ください。</span>
</p>
<p>
    <span style="font-size:12px;"><span style="font-size:12px;"><span style="font-size:12px;"><span style="font-size:12px;"><a href="https://to-orchestra.tales-ch.jp/">（公式ページからアクセス下さい。）</a></span></span></span></span>
    <br>
    &nbsp;
</p>
<p>
    <span style="font-size:12px;"><span style="color:#FF9900;">▼イベント公式グッズ販売</span>
    <br>
「テイルズ オブ オーケストラコンサート ～25th Anniversary Encore～」の</span>
</p>
<p>
    <span style="font-size:12px;">イベント公式グッズ販売を開始！
        <br>
    公式パンフレットに加え、25th Anniversary トレーディングアクリルチャームや</span>
</p>
<p>
    <span style="font-size:12px;">イベント描き下ろしイラストを使用したアクリルスタンドなど、特別グッズが発売中！</span>
</p>
<p>&nbsp;</p>
<p>
    <span style="color:#FF9900;"><span style="font-size:12px;">【公式グッズ販売情報】</span></span>
</p>
<p>
    <span style="font-size:12px;"><span style="font-size:12px;"><span style="font-size:12px;"><span style="font-size:12px;"><a href="https://shop.asobistore.jp/feature/orchestra2021">＜販売ページ（アソビストア）はこちら＞</a></span></span></span>
    <br>
    販売期間： 2021年9月9日(木)15:00～9月26日(日)23:59
    <br>
※予定数に達した商品は上記期間内でも販売を終了させていただきます。</span>
</p>
<p>
    <span style="font-size:12px;"></span>
    <br>
    <img alt=""
         src="{{ s3_url }}public/uploads/ckeditor/pictures/35503/content_0719_banner_teioke_5th_1043_535px.jpg"
         style="width: 100%">
</p>
<p style="text-align: center;">
    <span style="font-size:12px;">▼「テイルズ オブ オーケストラコンサート ～25th Anniversary Encore～」</span>
</p>
<p style="text-align: center;">
    <span style="font-size:12px;"><a href="https://to-orchestra.tales-ch.jp/">＜公式サイトはこちら＞</a></span>
</p>
<p style="text-align: center;">
    <span style="font-size:12px;"></span>
</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">
    <span style="font-size:12px;"></span>
</p>
<p style="text-align: center;">
    <span style="font-size:12px;">引き続き『TALES OF THE RAYS』をよろしくお願い申し上げます。</span>
</p>
<span style="font-size:12px;"></span>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
</body>
</html>
