<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/26477/content_2009161.png"
                     style="margin: 10px auto;
                            width: 100%">
            </p>
            <hr>
            <p style="text-align: center;">
                <span style="font-size:16px;"><b>フィリア、ウッドロウ、ガイ、アニス</b></span><span style="font-size: 14px;">の</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:14px;"></span><span style="font-size:16px;"><strong><span style="color:#ff4747;">装備・魔鏡</span><span style="color:#ff4747;">のみ</span></strong></span><span style="font-size:14px;">が出現する</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:16px;"><strong>『【復刻】夜空にきらめく花火』ガシャ</strong>が開催!!</span>
            </p>
            <p style="text-align: center;">
                <br>
                <font color="#ff4747"><span style="font-size: 18px;"></span></font>
            </p>
            <p style="text-align: center;">
                <font color="#ff4747"><span style="font-size: 18px;"></span><span style="font-size: 18px;"></span><span style="font-size: 18px;"><b>フィリア、ウッドロウ</b></span><span style="font-size: 18px;"></span><span style="font-size: 18px;"></span></font>の<span style="font-size:18px;"><strong><span style="color:#FF4747;">魔鏡</span></strong><span style="color:#FF4747;"><span style="font-size:18px;"></span></span>
                <br>
                <span style="color:#FF4747;"><span style="font-size:18px;"><strong>ガイ、アニス</strong></span></span></span>の<span style="color:#FF4747;"><span style="font-size:18px;"><strong>季節魔鏡</strong></span></span>が<strong>再登場!!</strong><span style="font-size: 14px;"><strong><span style="color:#ff4747;"></span></strong></span><span style="color:#ff4747;"></span>
            </p>
            <p style="background-color: transparent;
                      color: rgb(255, 255, 255);
                      font-family: 游ゴシック体,&amp;
                      quot;
                      yu gothic&amp;
                      quot;
                      ,yugothic,&amp;
                      quot;
                      ヒラギノ角ゴシック pro&amp;
                      quot;
                      ,&amp;
                      quot;
                      hiragino kaku gothic pro&amp;
                      quot;
                      ,メイリオ,meiryo,osaka,&amp;
                      quot;
                      ｍｓ ｐゴシック&amp;
                      quot;
                      ,&amp;
                      quot;
                      ms pgothic&amp;
                      quot;
                      ,sans-serif;
                      font-size: 12.8px;
                      font-style: normal;
                      font-variant: normal;
                      font-weight: 400;
                      letter-spacing: normal;
                      margin-bottom: 10px;
                      margin-left: 0px;
                      margin-right: 0px;
                      margin-top: 10px;
                      orphans: 2;
                      padding-bottom: 0px;
                      padding-left: 10px;
                      padding-right: 10px;
                      padding-top: 10px;
                      text-align: center;
                      text-decoration: none;
                      text-indent: 0px;
                      text-transform: none;
                      -webkit-text-stroke-width: 0px;
                      white-space: normal;
                      word-spacing: 0px">
                <span style="color: rgb(255, 71, 71);
                             margin-bottom: 0px;
                             margin-left: 0px;
                             margin-right: 0px;
                             margin-top: 0px;
                             padding-bottom: 0px;
                             padding-left: 0px;
                             padding-right: 0px;
                             padding-top: 0px"><strong style="margin-bottom: 0px;
               margin-left: 0px;
               margin-right: 0px;
               margin-top: 0px;
               padding-bottom: 0px;
               padding-left: 0px;
               padding-right: 0px;
               padding-top: 0px">今回も鏡晶石での1連ガシャ</strong></span><span style="margin: 0px; padding: 0px;"><strong style="margin-bottom: 0px;
               margin-left: 0px;
               margin-right: 0px;
               margin-top: 0px;
               padding-bottom: 0px;
               padding-left: 0px;
               padding-right: 0px;
               padding-top: 0px">は、</strong></span><span style="color: rgb(255, 71, 71);
             margin-bottom: 0px;
             margin-left: 0px;
             margin-right: 0px;
             margin-top: 0px;
             padding-bottom: 0px;
             padding-left: 0px;
             padding-right: 0px;
             padding-top: 0px">
                    <br>
                    <strong style="margin-bottom: 0px;
                                   margin-left: 0px;
                                   margin-right: 0px;
                                   margin-top: 0px;
                                   padding-bottom: 0px;
                                   padding-left: 0px;
                                   padding-right: 0px;
                                   padding-top: 0px">初回のみ半額</strong></span><span style="margin: 0px; padding: 0px;"><strong style="margin-bottom: 0px;
               margin-left: 0px;
               margin-right: 0px;
               margin-top: 0px;
               padding-bottom: 0px;
               padding-left: 0px;
               padding-right: 0px;
               padding-top: 0px">の</strong></span><span style="color: rgb(255, 71, 71);
             margin-bottom: 0px;
             margin-left: 0px;
             margin-right: 0px;
             margin-top: 0px;
             padding-bottom: 0px;
             padding-left: 0px;
             padding-right: 0px;
             padding-top: 0px"><strong style="margin-bottom: 0px;
               margin-left: 0px;
               margin-right: 0px;
               margin-top: 0px;
               padding-bottom: 0px;
               padding-left: 0px;
               padding-right: 0px;
               padding-top: 0px">100個!!</strong></span><span style="color: rgb(255, 71, 71);
             margin-bottom: 0px;
             margin-left: 0px;
             margin-right: 0px;
             margin-top: 0px;
             padding-bottom: 0px;
             padding-left: 0px;
             padding-right: 0px;
             padding-top: 0px"></span>
                </p>
                <p>
                    <br>
                    期間限定の
                    <br>
                    <span style="color:#FF4747;"><span style="color:#FF4747;"><strong>フィリア、ウッドロウの魔鏡</strong></span></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>ガイ、アニスの季節魔鏡</strong></span>には
                    <br>
                    <span style="font-size:22px;"><span style="color:#FF9900;"><strong>限定キャラカスタム</strong></span></span>がセットに！
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/26478/content_1908056.png"
                         style="width: 80%">
                </p>
                <p style="font-weight: bold; text-align: center;">◆開催期間◆</p>
                <p style="text-align: center;">
                    <strong><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span></strong>
                </p>
                <p>
                    <span style="color:#FF4747;"><strong>イベント終了と同日時</strong></span>
                </p>
                <p style="text-align: center;">
                    <strong><span style="color:#ff4747;"></span></strong>
                </p>
                <p style="font-size: 0.8rem;
                          margin: 10px 0px;
                          padding: 10px 10px 0px;
                          text-align: center">
                    <strong><span style="font-size:14px;"></span><span style="font-size:14px;">『【復刻】</span><span style="font-size:14px;"></span><span style="font-size:14px;">夜空にきらめく花火</span><span style="font-size:14px;"></span><span style="font-size:14px;">』ガシャ</span><span style="font-size:14px;"></span><span style="font-size:14px;"></span><span style="font-size:14px;"></span><span style="font-size:14px;"></span>では、
                        <br>
                        <span style="font-size: 14px;"></span><span style="font-size: 14px;"></span><span style="font-size: 14px;"></span><span style="font-size: 14px;"><b>フィリア、ウッドロウ、ガイ、アニス</b></span><span style="font-size: 14px;"></span><span style="font-size: 14px;"></span><span style="font-size: 14px;"></span><b>の</b><span style="font-size:16px;">
                            <br>
                            <span style="font-size:16px;"><strong><span style="color:#FF4747;">『装備』・</span></strong></span><span style="font-size:16px;"><strong><span style="color:#FF4747;">『魔鏡』</span></strong></span><strong><span style="color:#000000;"></span><span style="color:#FF4747;">のみが出現!</span></strong></span><span style="font-size:16px;"></span></strong>
                        </p>
                        <div class="frame1" style="text-align: center;">
                            <strong>このガシャから装備・魔鏡が出現する対象キャラ</strong>
                            <br>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/26479/content_162.png"
                                 style="width: 100px;
                                        height: 100px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/26480/content_163.png"
                                 style="width: 100px;
                                        height: 100px">
                            <br>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/26481/content_16.png"
                                 style="width: 100px;
                                        height: 100px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/26482/content_56.png"
                                 style="width: 100px;
                                        height: 100px">
                        </div>
                        <div align="center">
                            <p>
                                <strong><span style="color:#FF4747;">鏡晶石</span>での10連は1回<span style="color:#FF4747;">★5鏡装</span>もしくは<span style="color:#FF4747;">魔鏡</span>が確定!!</strong><span style="color:#ff4747;"></span>
                            </p>
                        </div>
                        <p style="font-size: 0.8rem;
                                  margin: 10px 0px;
                                  padding: 10px 10px 0px;
                                  text-align: center">
                            <span style="font-size:14px;"><strong>さらにフィリア＆ウッドロウの</strong><span style="font-size:14px;"><strong><span style="color:#ff4747;">『装備』</span></strong></span></span><span style="font-size:14px;"><strong>か</strong><span style="font-size:14px;"><strong><span style="color:#ff4747;">『魔鏡』</span></strong></span><strong>が<span style="color:#ff4747;">
                                <br>
                                必ず手に入るチケット</span></strong></span><span style="font-size:14px;"><span style="font-size:14px;">が</span></span><span style="font-size:14px;"><span style="color:#FF4747;"><strong>おまけ</strong></span>でついてくる!!</span>
                                <br>
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/26483/content_200917.png"
                                     style="width: 296px;
                                            height: 96px">
                                <br>
                                さらに<span style="color:#FF4747;"><strong>鏡晶石10連では</strong><span style="color:#FF4747;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/26484/content_4432.png"
                                     style="width: 20px;
                                            height: 20px">
                            </span><strong>2000個</strong></span>、<span style="color:#FF4747;">鏡晶石1連では<span style="color:#FF4747;"><span style="color:#FF4747;"><span style="color:#FF4747;"><span style="color:#FF4747;"><span style="color:#FF4747;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/26484/content_4432.png"
                                 style="width: 20px;
                                        height: 20px">
                        </span></span></span></span></span>200個</span>のおまけ付き！
                    </p>
                    <br>
                    <b style="font-size: 0.8rem;">フィリア、ウッドロウ、ガイ、アニス</b><span style="font-size: 0.8rem;">の出現確率が大幅にアップしている</span>
                    <br>
                    <span style="font-size: 0.8rem;">この機会に</span><span style="font-size: 0.8rem;">装備・魔鏡を手に入れよう!!</span>
                    <div class="frame1" style="text-align: center;">
                        <strong>装備・魔鏡出現確率アップ対象キャラ</strong>
                        <br>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/26479/content_162.png"
                             style="width: 100px;
                                    height: 100px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/26480/content_163.png"
                             style="width: 100px;
                                    height: 100px">
                        <br>
                        <br>
                        <strong><strong>季節魔鏡出現確率アップ対象キャラ</strong></strong>
                        <br>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/26481/content_16.png"
                             style="width: 100px;
                                    height: 100px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/26482/content_56.png"
                             style="width: 100px;
                                    height: 100px">
                    </div>
                    <hr>
                    <section>
                        <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                        <img src="{{ s3_url }}public/uploads/ckeditor/pictures/26485/content_1908052.png"
                             style="width: 100%">
                        <ul class="box">
                            <li>
                                <strong>魔鏡技:<font color="#ff4747">ディバインパウア</font></strong>　　威力:<span style="color:#FF4747;"><strong>1986</strong></span>
                            </li>
                            <li style="text-align:right;float:right">
                                <strong>フィリア専用</strong>
                            </li>
                        </ul>
                        <div class="frame1">
                            <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>
                                                <strong>効果内容</strong>
                                            </p>
                                            <p>火、氷、風、地の強力な晶術を立て続けに放つ魔鏡技</p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong><a href="https://www.youtube.com/watch?v=_4d_f89Zr20externalbrowser=true">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                         style="width: 60px;
                                                                height: 60px">
                                                </a></strong><span class="ico-swd"></span>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <hr>
                    <section>
                        <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                        <img src="{{ s3_url }}public/uploads/ckeditor/pictures/26486/content_1908053.png"
                             style="width: 100%">
                        <ul class="box">
                            <li>
                                <strong>魔鏡技:<font color="#ff4747">刹華斬</font></strong>　　威力:<span style="color:#FF4747;"><strong>2138</strong></span>
                            </li>
                            <li style="text-align:right;float:right">
                                <strong>ウッドロウ専用</strong>
                            </li>
                        </ul>
                        <div class="frame1">
                            <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>
                                                <strong>効果内容</strong>
                                            </p>
                                            <p>
                                                我が身を顧みず力を解放する魔鏡技
                                                <br>
                                                代償に傷を負い、暫らく動けなくなる
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong><a href="https://www.youtube.com/watch?v=UGRjPNWK-Ukexternalbrowser=true">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                         style="width: 60px;
                                                                height: 60px">
                                                </a></strong><span class="ico-swd"></span>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <hr>
                    <section>
                        <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                        <img src="{{ s3_url }}public/uploads/ckeditor/pictures/26487/content_1908054.png"
                             style="width: 100%">
                        <ul class="box">
                            <li>
                                <strong>魔鏡技:</strong><span style="font-size:12px;"><b><font color="#ff4747">鳳凰大火輪</font></b></span>　　威力:<font color="#ff4747"><b>1410</b></font>
                            </li>
                            <li style="text-align:right;float:right">
                                <strong>ガイ専用</strong>
                            </li>
                        </ul>
                        <div class="frame1">
                            <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>
                                                <strong>効果内容</strong>
                                            </p>
                                            <p>
                                                鳳凰の力で派手に花火を打ち上げる
                                                <br>
                                                夏の夜の風物魔鏡技。敵に疲労を付与
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong><a href="https://www.youtube.com/watch?v=eXQcUMK8LrAexternalbrowser=true">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                         style="width: 60px;
                                                                height: 60px">
                                                </a></strong><span class="ico-swd"></span>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <hr>
                    <section>
                        <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                        <img src="{{ s3_url }}public/uploads/ckeditor/pictures/26488/content_1908055.png"
                             style="width: 100%">
                        <ul class="box">
                            <li>
                                <strong>魔鏡技:<font color="#ff4747">レイノ・デ・カスティーリャ</font></strong>　　威力:<span style="color:#FF4747;"><strong>1657</strong></span>
                            </li>
                            <li style="text-align:right;float:right">
                                <strong>アニス専用</strong>
                            </li>
                        </ul>
                        <div class="frame1">
                            <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>
                                                <strong>効果内容</strong>
                                            </p>
                                            <p>
                                                カステラ頬張り敵を鉄板で挟む魔鏡技
                                                <br>
                                                自身HP小回復、敵に気絶付与
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong><a href="https://www.youtube.com/watch?v=9fZDllrhP9Qernalexternalbrowser=true">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                         style="width: 60px;
                                                                height: 60px">
                                                </a></strong><span class="ico-swd"></span>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <div align="center">
                        <p>
                            <strong><span style="font-size:16px;"></span></strong>
                        </p>
                    </div>
                    <hr>
                    <section>
                        <div class="frame2">
                            <p style="text-align:center;">《&nbsp;注意事項&nbsp;》</p>
                            <p class="indent">
                                <span style="font-size:11px;"></span>
                            </p>
                            <p>
                                <span style="font-size:11px;">・ピックアップされている魔鏡・装備は、
                                    <br>
                                    　同レアリティの魔鏡・装備の中で提供割合が
                                    <br>
                                    　高く設定されています。
                                    <br>
                                    　※実際の提供割合は、ガシャ内訳の個別提供割合一覧に準じます。
                                    <br>
                                    ・鏡晶石10連ガシャの、10回の抽選のうち1回は
                                    <br>
                                    　「★5鏡装・魔鏡」のいずれかが確定で出現します。
                                    <br>
                                    　提供割合は、「鏡晶石10連ガシャ 1/10回」一覧に準じます。
                                    <br>
                                    　また、おまけで「【復刻】フィリア＆ウッドロウ確定ガシャチケット」が1枚、
                                    <br>
                                    　イベント交換アイテムの「トクナガのお面」2000個が獲得できます。
                                    <br>
                                    ・鏡晶石1連ガシャはおまけでイベント交換アイテムの
                                    <br>
                                    　「トクナガのお面」が200個が獲得できます。
                                    <br>
                                    ・「【復刻】フィリア＆ウッドロウ確定ガシャチケット」は
                                    <br>
                                    　鏡晶石10連ガシャ1回につき1枚が獲得できるもので、
                                    <br>
                                    　鏡晶石1連ガシャを10回分実行しても獲得できません。
                                    <br>
                                    ・ダイヤ10連ガシャの、10回の抽選のうち1回は
                                    <br>
                                    　「★4装備・★5鏡装・魔鏡」のいずれかが確定で出現します。
                                    <br>
                                    　また、提供割合は「ダイヤ10連ガシャ 1/10回」一覧に準じます。
                                    <br>
                                    ・「鏡晶石10連ガシャ 1/10回」及び「ダイヤ10連ガシャ 1/10回」以外の提供割合は、
                                    <br>
                                    　「鏡晶石1連ガシャ、鏡晶石10連ガシャ 9/10回、
                                    <br>
                                    　ダイヤ1連ガシャ、ダイヤ10連ガシャ 9/10回」一覧に準じます。
                                    <br>
                                    ・「【復刻】フィリア＆ウッドロウ確定ガシャチケット」を使用できるのは
                                    <br>
                                    　「【復刻】フィリア＆ウッドロウ確定チケットガシャ」のみとなり、
                                    <br>
                                    　「【復刻】フィリア＆ウッドロウ確定チケットガシャ」の開催期間が終了するとお使い頂けません。
                                    <br>
                                    ・イベント限定ポイントボーナス及び攻略戦ボーナスの効果は、
                                    <br>
                                    　該当のイベント開催時のみ発動します。
                                    <br>
                                    ・イベント限定ポイントボーナス及び攻略戦ボーナスが発動する
                                    <br>
                                    　魔鏡・装備の一覧は、該当イベントのお知らせをご確認ください。
                                    <br>
                                    ・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。
                                    <br>
                                    ・それぞれの提供割合は、小数第4位を四捨五入して表示しているため、
                                    <br>
                                    　合計値が100％にならない場合がございます。
                                    <br>
                                    ・鏡晶石とダイヤいずれの手段でもガシャの提供割合は変わりません。
                                    <br>
                                    ・鏡晶石とダイヤを組み合わせてガシャを実行することはできません。
                                    <br>
                                    ・鏡晶石1連ガシャは、初回に限り半額の鏡晶石100個でご利用できます。
                                    <br>
                                    　2回目以降は通常時の鏡晶石200個となります。
                                    <br>
                                    ・期間限定の魔鏡・装備・キャラカスタムは再登場する場合がございます。
                                    <br>
                                    ・表示されているステータス・効果・ポイントボーナス
                                    <br>
                                    　攻略戦ボーナスは、最大強化後の値となります。
                                    <br>
                                    ・限定キャラカスタム付き魔鏡でキャラカスタムを入手した場合、
                                    <br>
                                    　その他入手導線での入手はできません。
                                    <br>
                                    ・限定キャラカスタムを先に限定キャラカスタム付き魔鏡以外から入手した場合、
                                    <br>
                                    　限定キャラカスタム付き魔鏡で複数入手はできません。
                                    <br>
                                    ・限定キャラカスタム付き魔鏡で手に入る同一の限定キャラカスタムは
                                    <br>
                                    　複数入手することはできません。
                                    <br>
                                    ・登場キャラクターの実装済みの魔鏡・装備でも
                                    <br>
                                    　本ガシャに含まれない場合がございます。
                                    <br>
                                　出現する装備・魔鏡につきましては、ガシャ内訳をご確認ください。</span><span style="font-size:11px;"></span><span style="font-size:11px;"></span>
                            </p>
                        </div>
                    </section>
                </div>
                <p>
                    <b></b>
                </p>
            </body>
        </html>
