<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28097/content_2011121.png"
                     style="width: 100%">
            </p>
            <hr>
            <p>
                <b>マオ、ユージーン</b>の<span style="color:#FF4747;"><strong>『魔鏡』</strong>と</span><span style="color:#FF4747;"><strong>『装備』のみ</strong></span>が出現する
            </p>
            <p>【復刻】マオ＆ユージーン確定チケットガシャが開催!!</p>
            <p>&nbsp;</p>
            <p>
                <strong>◆開催期間◆</strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;">イベント終了＋4日間</span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                【復刻】マオ＆ユージーン確定チケットガシャでは、
                <br>
                <b>マオ、ユージーン</b>の<span style="color:#FF4747;"><strong>『</strong><span style="color:#FF4747;"><strong>装備</strong></span><strong>』と『</strong><span style="color:#FF4747;"><strong>魔鏡</strong></span><strong>』のみ</strong></span>が出現!!
            </p>
            <div class="frame1">
                <p style="text-align: center;">
                    <strong><strong>マオの魔鏡・装備</strong></strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/14806/content_16610002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/14807/content_1665001.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/14808/content_1664001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/14809/content_1664002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/14810/content_1663001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/14811/content_1663002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/14812/content_1663003.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>ユージーンの魔鏡・装備</strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/14769/content_16510002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/14814/content_1655001.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/14815/content_1654001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/14816/content_1654002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/14817/content_1653001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/14818/content_1653002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/14819/content_1653003.png"
                         style="width: 80px;
                                height: 80px">
                </p>
            </div>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                【復刻】マオ&amp;ユージーン確定ガシャチケットは
                <br>
                <strong>『【復刻】想いよ響け カレギア音楽祭』ガシャ</strong>のおまけ
                <br>
                <strong>『【復刻】想いよ響け カレギア音楽祭』イベントポイント交換所</strong>
                <br>
                で<strong>入手が可能!</strong><!-- 仕切り -->
            </p>
            <p>&nbsp;</p>
            <hr>
            <section>
                <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                <img src="{{ s3_url }}public/uploads/ckeditor/pictures/28098/content_1910032.png"
                     style="width: 100%">
                <ul class="box">
                    <li>
                        <strong>魔鏡技:<span style="color:#FF4747;"></span><span style="color:#FF4747;">エンチャント・ドライブ</span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>　　威力:<span style="color:#FF4747;"><strong>1369</strong></span>
                    </li>
                    <li style="text-align:right;float:right">
                        <strong>マオ専用</strong>
                    </li>
                </ul>
                <div class="frame1">
                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        <strong>効果内容</strong>
                                    </p>
                                    <p>
                                        炎をトンファーに灯し舞うような
                                        <br>
                                        連打と爆炎を浴びせる魔鏡技
                                    </p>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong><a href="https://www.youtube.com/watch?v=eYMDuPiQSZ0externalbrowser=true">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                 style="width: 60px;
                                                        height: 60px">
                                        </a></strong>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <hr>
            <section>
                <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                <img src="{{ s3_url }}public/uploads/ckeditor/pictures/28099/content_1910033.png"
                     style="width: 100%">
                <ul class="box">
                    <li>
                        <strong>魔鏡技:<span style="color:#FF4747;"></span><span style="color:#FF4747;">迅雷天翔撃</span><span style="color:#FF4747;"></span></strong>　　威力:<font color="#ff4747"><b>1884</b></font>
                    </li>
                    <li style="text-align:right;float:right">
                        <strong>ユージーン専用</strong>
                    </li>
                </ul>
                <div class="frame1">
                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        <strong>効果内容</strong>
                                    </p>
                                    <p>
                                        槍を大地に突き刺して怯ませた敵に
                                        <br>
                                        天空を裂く隕石を飛来させる魔鏡技
                                    </p>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong><a href="https://www.youtube.com/watch?v=sLaRO7KuD-Aexternalbrowser=true">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                 style="width: 60px;
                                                        height: 60px">
                                        </a></strong>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <hr>
            <section>
                &nbsp;
            </section>
            <section>
                &nbsp;
            </section>
            <div class="frame2">
                <p style="text-align:center;">
                    <b>《 注意事項&nbsp;》</b>
                </p>
                <p>
                    <span style="font-size:11px;"></span><span style="font-size:11px;"></span><span style="font-size:11px;"></span><span style="font-size:11px;"></span><span style="font-size:11px;">・本ガシャは「【復刻】マオ＆ユージーン確定ガシャチケット」のみで実行できます。
                        <br>
                        ・本ガシャは【復刻】マオ＆ユージーン確定ガシャチケット1枚につき、1回実行できます。
                        <br>
                        ・本ガシャからはマオ、ユージーンの
                        <br>
                        　魔鏡・★5鏡装・★4装備・★3装備のいずれかが獲得できます。
                        <br>
                        ・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。
                        <br>
                        ・イベント限定ポイントボーナス及び攻略戦ボーナスの効果は、
                        <br>
                        　該当のイベント開催時のみ発動します。
                        <br>
                        ・イベント限定ポイントボーナス及び攻略戦ボーナスが発動する
                        <br>
                        　魔鏡・装備の一覧は、該当イベントのお知らせをご確認ください。
                        <br>
                        ・表示されているステータス・効果・ポイントボーナス
                        <br>
                        　攻略戦ボーナスは、最大強化後の値となります。
                        <br>
                        ・期間限定の魔鏡・装備・キャラカスタムは再登場する場合がございます。
                        <br>
                        ・限定キャラカスタム付き魔鏡でキャラカスタムを入手した場合、
                        <br>
                        　その他入手導線での入手は不要となります。
                        <br>
                        ・限定キャラカスタムを先に限定キャラカスタム付き魔鏡以外から入手した場合、
                        <br>
                        　限定キャラカスタム付き魔鏡で複数入手はできません。
                        <br>
                        ・限定キャラカスタム付き魔鏡で手に入る同一の限定キャラカスタムは
                        <br>
                        　複数入手することはできません。
                        <br>
                        ・マオ、ユージーンの魔鏡を獲得時
                        <br>
                        　今回追加されるヴェイグの限定キャラカスタムも獲得することができます。
                        <br>
                        ・マオ、ユージーンの魔鏡獲得で
                        <br>
                        　ヴェイグの限定衣装「マーチングバンド衣装」を獲得した場合でも
                        <br>
                        　ヴェイグは加入しません。
                        <br>
                        ・マオ、ユージーンの魔鏡獲得時にヴェイグが未加入の場合でも
                        <br>
                        　ヴェイグの限定衣装「マーチングバンド衣装」は獲得状態となっており、
                        <br>
                    　ヴェイグが加入した後に衣装の変更が可能となります。</span><span style="font-size:11px;"></span>
                </p>
            </div>
        </div>

    </body>
</html>
