<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/26489/content_2009171.png"
                     style="width: 100%">
            </p>
            <hr>
            <p>
                <b>フィリア、ウッドロウ</b>の<span style="color:#FF4747;"><strong>『魔鏡』</strong>と</span><span style="color:#FF4747;"><strong>『装備』のみ</strong></span>が出現する
            </p>
            <p>【復刻】フィリア＆ウッドロウ確定チケットガシャが開催!!</p>
            <p>&nbsp;</p>
            <p>
                <strong>◆開催期間◆</strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;">イベント終了＋4日間</span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                【復刻】フィリア&amp;ウッドロウ確定チケットガシャでは、
                <br>
                <b>フィリア、ウッドロウ</b>の<span style="color:#FF4747;"><strong>『</strong><span style="color:#FF4747;"><strong>装備</strong></span><strong>』と『</strong><span style="color:#FF4747;"><strong>魔鏡</strong></span><strong>』のみ</strong></span>が出現!!
            </p>
            <div class="frame1">
                <p style="text-align: center;">
                    <strong><strong>フィリアの魔鏡・装備</strong></strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/12598/content_16210002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/12599/content_1625001.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/12600/content_1624001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/12601/content_1624002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/12602/content_1623001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/12603/content_1623002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/12604/content_1623003.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>ウッドロウの魔鏡・装備</strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/12591/content_16310002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/12592/content_1635001.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/12593/content_1634001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/12594/content_1634002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/12595/content_1633001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/12596/content_1633002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/12597/content_1633003.png"
                         style="width: 80px;
                                height: 80px">
                </p>
            </div>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                【復刻】フィリア＆ウッドロウ確定ガシャチケットは
                <br>
                <strong>『【復刻】夜空にきらめく花火』ガシャ</strong>のおまけ及び
                <br>
                <strong>『【復刻】夜空にきらめく花火』ポイント交換所</strong>で
                <br>
                <strong>入手が可能!</strong><!-- 仕切り -->
            </p>
            <hr>
            <section>
                <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                <img src="{{ s3_url }}public/uploads/ckeditor/pictures/26490/content_1908052.png"
                     style="width: 100%">
                <ul class="box">
                    <li>
                        <strong>魔鏡技:<span style="color:#FF4747;">ディバインパウア</span></strong>　　威力:<span style="color:#FF4747;"><strong>1986</strong></span>
                    </li>
                    <li style="text-align:right;float:right">
                        <strong>フィリア専用</strong>
                    </li>
                </ul>
                <div class="frame1">
                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        <strong>効果内容</strong>
                                    </p>
                                    <p>火、氷、風、地の強力な晶術を立て続けに放つ魔鏡技</p>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong><a href="https://www.youtube.com/watch?v=_4d_f89Zr20externalbrowser=true">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                 style="width: 60px;
                                                        height: 60px">
                                        </a></strong><span class="ico-swd"></span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <hr>
            <section>
                <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                <img src="{{ s3_url }}public/uploads/ckeditor/pictures/26491/content_1908053.png"
                     style="width: 100%">
                <ul class="box">
                    <li>
                        <strong>魔鏡技:<span style="color:#FF4747;">刹華斬</span></strong>　　威力:<span style="color:#FF4747;"><strong>2138</strong></span>
                    </li>
                    <li style="text-align:right;float:right">
                        <strong>ウッドロウ専用</strong>
                    </li>
                </ul>
                <div class="frame1">
                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        <strong>効果内容</strong>
                                    </p>
                                    <p>
                                        我が身を顧みず力を解放する魔鏡技
                                        <br>
                                        代償に傷を負い、暫らく動けなくなる
                                    </p>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong><a href="https://www.youtube.com/watch?v=UGRjPNWK-Ukexternalbrowser=true">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                 style="width: 60px;
                                                        height: 60px">
                                        </a></strong><span class="ico-swd"></span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <hr>
            <div class="frame2">
                <p style="text-align:center;">
                    <b>《 注意事項&nbsp;》</b>
                </p>
                <p>
                    <span style="font-size:11px;"></span><span style="font-size:11px;">・本ガシャは「【復刻】フィリア＆ウッドロウ確定ガシャチケット」のみで実行できます。
                        <br>
                        ・本ガシャは【復刻】フィリア＆ウッドロウ確定ガシャチケット1枚につき、1回実行できます。
                        <br>
                        ・本ガシャからはフィリア、ウッドロウの
                        <br>
                        　魔鏡・★5鏡装・★4装備・★3装備のいずれかが獲得できます。
                        <br>
                        ・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。
                        <br>
                        ・イベント限定ポイントボーナス及び攻略戦ボーナスの効果は、
                        <br>
                        　該当のイベント開催時のみ発動します。
                        <br>
                        ・イベント限定ポイントボーナス及び攻略戦ボーナスが発動する
                        <br>
                        　魔鏡・装備の一覧は、該当イベントのお知らせをご確認ください。
                        <br>
                        ・表示されているステータス・効果・ポイントボーナス
                        <br>
                        　攻略戦ボーナスは、最大強化後の値となります。
                        <br>
                        ・期間限定の魔鏡・装備・キャラカスタムは再登場する場合がございます。
                        <br>
                        ・限定キャラカスタム付き魔鏡でキャラカスタムを入手した場合、
                        <br>
                        　その他入手導線での入手は不要となります。
                        <br>
                        ・限定キャラカスタムを先に限定キャラカスタム付き魔鏡以外から入手した場合、
                        <br>
                        　限定キャラカスタム付き魔鏡で複数入手はできません。
                        <br>
                        ・限定キャラカスタム付き魔鏡で手に入る同一の限定キャラカスタムは
                        <br>
                    　複数入手することはできません。</span>
                </p>
            </div>
        </div>

    </body>
</html>
