<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- キャラカスタムTOP訴求画像orバナー -->
            </p>
            <center><strong>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/35578/content_21092007.png"
                     style="width: 296px;
                            height: 96px">
            </strong></center>
            <hr>
            <section>
                <p style="text-align: center;">&nbsp;</p>
            </section>
            <section>
                <p style="text-align: center;">
                    『<font color="#ff4747"><b>キャラカスタム</b></font>』に
                </p>
                <p style="text-align: center;">
                    <b>ロゼ、デゼル、ザビーダ、サイモン</b>の<strong>キャラカスタム</strong>が登場!!
                </p>
                <p style="text-align: center;">この機会に入手して、自分だけのカスタマイズを楽しもう!!</p>
                <hr>
                <p style="text-align: center;">
                    <strong>追加キャラカスタムアイテム一覧</strong>
                </p>
            </section>
            <section>
                <div class="frame1">
                    <p style="text-align: center;">
                        <strong>《衣装》</strong>
                    </p>
                    <p style="text-align: center;">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/35520/content_77006.png"
                                 style="width: 108px;
                                        height: 108px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/35521/content_78004.png"
                                 style="width: 108px;
                                        height: 108px">
                        </strong>
                    </p>
                    <p style="text-align: center;">ロゼ：キャプテン少女の制服</p>
                    <p style="text-align: center;">デゼル：黒きライフセーバーの水着</p>
                    <p style="text-align: center;">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/35522/content_61003.png"
                                 style="width: 108px;
                                        height: 108px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/35523/content_207003.png"
                                 style="width: 108px;
                                        height: 108px">
                        </strong>
                    </p>
                    <p style="text-align: center;">ザビーダ：南国のビーチマンの水着</p>
                    <p style="text-align: center;">サイモン：番長を支える女子生徒の制服</p>
                </div>
                <p style="text-align: center;">
                    <strong>ロゼ、デゼル、ザビーダ、サイモン</strong>のキャラカスタムは
                </p>
                <p style="text-align: center;">
                    <strong>『攻略戦ヘルダルフ 絶淵に立つ災禍』ガシャ</strong>
                </p>
                <p style="text-align: center;">
                    <strong>『絶淵に立つ災禍チケットガシャ』</strong>
                </p>
                <p style="text-align: center;">で入手可能!!</p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/35520/content_77006.png"
                             style="width: 108px;
                                    height: 108px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/35521/content_78004.png"
                             style="width: 108px;
                                    height: 108px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/35522/content_61003.png"
                             style="width: 108px;
                                    height: 108px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/35523/content_207003.png"
                             style="width: 108px;
                                    height: 108px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <br>
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/35558/content_210914.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/35559/content_210915.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">※詳細は</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">それぞれのお知らせをご確認ください</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong><span style="color:#FF4747;"></span></strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747"></span>
                </p>
            </section>
            <div class="frame2">
                <p style="text-align: center;">
                    &nbsp;《注意事項》<span style="font-size:11px;"></span>
                </p>
                <p>
                    <span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;">​</span></span>・キャラカスタムアイテムでのステータスの増減はありません。</span>
                </p>
                <p>
                    <span style="font-size:11px;"></span><span style="font-size:11px;">・キャラカスタムアイテムを<span style="font-size:11px;">
                        <br>
                    　獲得していない場合はキャラカスタム画面に表示されません。</span></span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;"></span>
                </p>
            </div>
        </div>

    </body>
</html>
