<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <span style="color:#FF4747;"><b><font size="4">9月参戦キャラクター 紹介！</font></b></span>
            </p>
            <hr>
            <p>
                <span style="color:#FF9900;"><span style="font-size:18px;"><strong>最新作「テイルズ オブ アライズ」</strong></span></span><span style="font-size:18px;"><strong>より</strong></span>
            </p>
            <p>
                <span style="color:#FF4747;"><span style="font-size:18px;"><strong>「アルフェン」「シオン」</strong></span></span><span style="font-size:18px;"><strong>が登場!!</strong></span>
            </p>
            <p>&nbsp;</p>
            <p>
                <span style="font-size:12px;">2021年9月に参戦するキャラクターを紹介!!</span>
            </p>
            <p>
                <!-- 仕切り -->
            </p>
            <section>
                <p style="text-align: center;">
                    <strong><a href="https://youtu.be/4S3lwxOpRvg?externalbrowser=true">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                             style="width: 100px;
                                    height: 100px">
                    </a></strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:20px;"><strong>ボタンタップでプロモーションビデオ再生！</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:9px;">※ご注意：動画再生アプリやブラウザが開きます。</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <hr>
                <p style="text-align: center;">
                    <span style="font-size:20px;"><strong>イベント参戦！</strong></span>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/35630/content_scene1.png"
                             style="width: 80%">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/35631/content_scene2.png"
                             style="width: 80%">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/35632/content_scene3.png"
                             style="width: 80%">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/35633/content_scene4.png"
                             style="width: 80%">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/35634/content_scene5.png"
                             style="width: 80%">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/35635/content_scene6.png"
                             style="width: 80%">
                    </strong>
                </p>
                <p>&nbsp;</p>
                <hr>
                <p style="text-align: center;">
                    <span style="font-size:20px;"><strong>季節魔鏡も登場！</strong></span>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35636/content_scene7.png"
                         style="margin: 0px;
                                padding: 0px;
                                width: 80%;
                                text-align: center;
                                color: rgb(255, 255, 255);
                                text-transform: none;
                                text-indent: 0px;
                                letter-spacing: normal;
                                font-size: 12.8px;
                                font-style: normal;
                                font-variant: normal;
                                font-weight: 400;
                                text-decoration: none;
                                word-spacing: 0px;
                                white-space: normal;
                                cursor: default;
                                orphans: 2;
                                -webkit-text-stroke-width: 0px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35637/content_scene8.png"
                         style="margin: 0px;
                                padding: 0px;
                                width: 80%;
                                text-align: center;
                                color: rgb(255, 255, 255);
                                text-transform: none;
                                text-indent: 0px;
                                letter-spacing: normal;
                                font-size: 12.8px;
                                font-style: normal;
                                font-variant: normal;
                                font-weight: 400;
                                text-decoration: none;
                                word-spacing: 0px;
                                white-space: normal;
                                cursor: default;
                                orphans: 2;
                                -webkit-text-stroke-width: 0px">
                    <span style="font-size:20px;">​</span><span style="font-size:18px;">​</span>​
                </p>
                <hr>
                <p style="text-align: center;">以上を予定しており、</p>
                <p style="text-align: center;">少しでも早くお届けできるよう鋭意開発中です。</p>
                <p style="text-align: center;">楽しみにお待ち頂ければ幸いです。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    引き続き『TALES OF THE RAYS』をよろしくお願い申し上げます。
                    <br>
                    &nbsp;
                </p>
            </section>

            <p>&nbsp;</p>
        </div>
    </body>
</html>
