<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/35964/content_P____________________vol56.jpg"
                     style="width: 100%">
            </p>
            <p>
                <!-- 仕切り -->
            </p>
            <section>
                <hr>
                <p style="text-align: center;">
                    『TALES OF THE RAYS』を遊んでくださっているみなさま。
                    <br>
                    こんにちは。制作プロデューサーの栁澤です。
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    『TALES OF ARISE』発売おめでとうございます！
                    <br>
                    アルフェンとシオンの参戦は
                </p>
                <p style="text-align: center;">みなさんの予想を良い意味で裏切れましたでしょうか。</p>
                <p style="text-align: center;">
                    <br>
                    この早期参戦は発売前の忙しい時期にも関わらず、
                </p>
                <p style="text-align: center;">素材の提供をしてくれたり、設定のレクチャーをしてくれたり、</p>
                <p style="text-align: center;">
                    監修してくれたりなどなど、
                    <br>
                    ARISEチームの協力あって初めて実現したことです。
                </p>
                <p style="text-align: center;">
                    持つべきものは仲間だな！と感謝しつつ、
                    <br>
                    ARISEチームのみなさん、ありがとうございます！
                </p>
                <p style="text-align: center;">そしてお疲れ様でした！</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    それでは本題です。
                    <br>
                    今回のお知らせは下記4点について、お伝えさせて頂こうと思います。
                </p>
                <p style="text-align: center;">
                    <br>
                    <a href="#link1"><span style="font-size:14px;"><strong>・神域につき、お知らせで検討中としていた事項についての進捗報告</strong></span></a>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;">
                        <br>
                        <a href="#link2"><strong>・今後のアップデート</strong></a></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;">
                        <br>
                        <a href="#link3"><strong>・運営方針</strong></a></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;">
                        <br>
                        <a href="#link4"><strong>・今月の配信スケジュール</strong></a></span>
                    <br>
                    &nbsp;
                </p>
                <hr>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><a id="link1" name="link1"><strong>【神域につき、お知らせで検討中としていた事項についての進捗報告】</strong></a></span>
                </p>
                <p>&nbsp;</p>
                <p>まず、神域につきまして、</p>
                <p>二か月目の&beta;テストにご協力頂きありがとうございます。</p>
                <p>
                    <br>
                    難易度調整の結果なども含めて、遊びやすい環境にするために
                </p>
                <p>より多くのデータ収集が必要な状況と判断させて頂き、</p>
                <p>&beta;状態での継続とさせて頂いております。</p>
                <p>
                    <br>
                    難易度緩和の影響もあり、64階未満のクリア率も50%を超えて、
                </p>
                <p>大分想定に近づいてきましたので、引き続き、</p>
                <p>状況見ながらの調整＆アップデートをご提案させて頂ければと思います。</p>
                <p>また、お知らせで神域改善のために検討中とさせて頂いた項目について</p>
                <p>進捗がありましたのでご報告させて頂きます。</p>
                <p>&nbsp;</p>
                <p>
                    ・80Fクリア時獲得できる覚醒スキル【複合】を
                    <br>
                    　習得できるキャラクターを、神域挑戦中のキャラクターから
                    <br>
                    　習得範囲を広げ、覚醒済みのキャラクターから選べるように変更
                    <br>
                    　&rArr;上記の機能は10月末のアップデート実装させて頂きます。
                </p>
                <p>&nbsp;</p>
                <p>
                    ・神域のバトル中に特定のエリアに特殊効果が発生する機能の追加
                    <br>
                    　&rArr;様々な効果を想定していますが、
                </p>
                <p>まず最初に所定のエリアに入ることで味方全員のHPやMGが回復する</p>
                <p>機能を追加予定です。</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35990/content_image1.png"
                         style="width: 60%">
                </p>
                <p>&nbsp;</p>
                <p>
                    　　この機能の追加の意図としては2点。
                    <br>
                    　　挑戦キャラが固定される仕様のため、回復キャラが存在しない
                </p>
                <p>
                    　　（または育成状況により選択しにくい）場合に、
                    <br>
                    　　攻略が難しくなりすぎてしまう状況の緩和です。
                    <br>
                    　　もう一つも近い理由ですが、回復キャラが居ても、
                </p>
                <p>
                    　　回復出来る術技が手札に回って来ないケースを緩和する仕様となります。
                    <br>
                    　　こちらは、11月末のアップデートにて追加を予定しております。
                </p>
                <p>&nbsp;</p>
                <p>上記の他に、お知らせ等でお伝えはしておりますが、</p>
                <p>神域に挑戦できる方を増やす意味で始祖久遠の書交換所の緩和も行い</p>
                <p>
                    覚醒スキルの入手がしやすくなっていたりもしますので、
                    <br>
                    今まであまり利用されていなかった方も、この機会にお試し頂ければと思います。
                </p>
                <p>神域の改善につきましては、他の検討項目につきましても、</p>
                <p>進展があり次第ご報告をさせて頂きます。</p>
                <p>&nbsp;</p>
                <hr>
                <p style="text-align: center;">
                    <a id="link2" name="link2"><strong><span style="font-size:16px;">【今後のアップデート】</span></strong></a>
                    <br>
                    &nbsp;
                </p>
                <p>
                    <strong>〇10月のアップデート</strong>
                    <br>
                    　・ウィスティリアのオンラインマッチング及びランキング機能の削除
                    <br>
                    　・ヘルダルフ大きすぎる問題の対応<strong>（NEW!）</strong>
                    <br>
                    　・80Fクリア時に獲得できる覚醒スキル【複合】を習得できるキャラクターを
                </p>
                <p>
                    　　覚醒済みのキャラクターから選べるように変更<strong>（NEW!）</strong>
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>〇11月のアップデート（NEW!）</strong>
                    <br>
                    　・フォームチェンジの追加改修
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>〇冬～のアップデート</strong>
                    <br>
                    &nbsp; ・精霊装の改修
                    <br>
                    　・他、既存イベント改修や5周年に向けた仕込み
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>〇5周年後の6年目以降</strong>
                    <br>
                    　・新展開!！
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>〇時期未定</strong>
                    <br>
                    　・精霊装の改修(秋&rarr;未定）
                    <br>
                    <br>
                    次回veruｐは10月下旬にver4.8.0。
                </p>
                <p>末頃に4.8.1の配信をさせて頂く予定です。</p>
                <p>&nbsp;</p>
                <p>ver4.8.0の方は、ゲーム側のアップデートは残念ながらありません&hellip;。</p>
                <p>
                    iOSの更新への対応など裏方の対応がメインになります。
                    <br>
                    基幹部分のアップデートなので
                </p>
                <p>開発的にはフルチェック掛けたり結構大変なのですが、</p>
                <p>
                    遊びには全く影響しないという悲しいアップデートです。
                    <br>
                    （でも、やらないと今後のアップデートをストアに申請できなくなるという
                </p>
                <p>弊害があります。）</p>
                <p>&nbsp;</p>
                <p>ver4.8.1はその影響もあり、あまり大きな対応が出来ないのですが、</p>
                <p>
                    先のお伝えした神域の改善は優先し、実装させて頂きます。
                    <br>
                    もう一つ最優先なのが、ヘルダルフ問題で、
                </p>
                <p>大きすぎてルームでは身体しか見えない（頭が画面外）という、</p>
                <p>プレイアブル参戦にあたり、予想外の問題が起きたため、</p>
                <p>枠内に無理して収まって頂くという機能を実装しています。</p>
                <p>&nbsp;</p>
                <p>バトルのリザルトでも同様の問題が発生するので、</p>
                <p>
                    顔が画面内に収まるように仕様を追加しております。
                    <br>
                    リザルトに関してはアニスも同様の問題が従来から発生してはおり、
                </p>
                <p>今回の調整にて改善されます。お待たせして申し訳ございません。</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35991/content_image2.png"
                         style="width: 60%">
                </p>
                <p style="text-align: center;">
                    <span style="font-size:12px;">※開発中の画像となります。</span>
                </p>
                <p>&nbsp;</p>
                <p>
                    11月はいつも通りのペースで実装を進められると思いますのでご安心下さい。
                    <br>
                    次回は神域の改修内容や、フォームチェンジの新仕様なんかを
                </p>
                <p>お伝え出来ると思います。</p>
                <hr>
                <p style="text-align: center;">
                    <a id="link3" name="link3"><span style="font-size:16px;"><strong>【運営方針について】</strong></span></a>
                    <br>
                    &nbsp;
                </p>
                <p>前回検討中（下記に前回の内容も掲載させて頂いております。）とさせて頂いた、</p>
                <p>運営方針についてです。</p>
                <p>
                    <br>
                    まだまだ検討しなければいけない事もあるのですが、
                </p>
                <p>取り急ぎ、下記は確定事項としてお伝えさせて頂きます。</p>
                <p>・新たな仕様の鏡装と鏡装の実装数縛りを撤廃</p>
                <p>・季節魔鏡の二巡目の実装</p>
                <p>&nbsp;</p>
                <p>意図は前回お伝えした通り、運営ルールで縛った結果、</p>
                <p>
                    主人公達にすらスポットが当たらない状況を改善させて頂きたいと考えています。
                    <br>
                    また、鏡装や魔鏡の縛りを撤廃することで、
                </p>
                <p>
                    幅広い層に喜んでもらえるように運営スケジュールを組めることになり、
                    <br>
                    鏡装実装が3枚未満のキャラクター達へ、新規鏡装の実装もしやすくなると考えています。
                </p>
                <p>上記、2点に関しては、内容が固まり次第、</p>
                <p>続報をお伝えさせて頂ければと思います。</p>
                <p>&nbsp;</p>
                <p>
                    &darr;運営方針についての前回のレター内容はコチラです。
                    <br>
                    　最初に。テイルズ オブのアプリ新作が発表されると
                </p>
                <p>サービスの終了を心配されるお声も頂きますが、</p>
                <p>現段階のザ レイズはそういった段階ではありませんのでご安心下さい！</p>
                <p>&nbsp;</p>
                <p>ただ、運営4年目となり、長期運営に差し掛かったザ レイズ。</p>
                <p>2年目、3年目と比べると、当面の目標だった参戦目標も達成し、</p>
                <p>当初ほどの勢いが無いのも事実です。</p>
                <p>&nbsp;</p>
                <p>以降はなるべくキャラ間の差を埋めるため、</p>
                <p>1キャラ辺りの鏡装の実装数にルールを設け、</p>
                <p>
                    　それを方針として共有させて頂いてきました。
                    <br>
                    　そのルールに乗っ取り、
                </p>
                <p>現在は2022年1月末位までのスケジュールは確定してはいるのですが、</p>
                <p>5周年に向けて、改めて長期運営を加味した、</p>
                <p>運営方針を再設定させて頂こうと思います。</p>
                <p>&nbsp;</p>
                <p>というのも、キャラ間の差が無くなることは良いことではあるのですが、</p>
                <p>結果、鏡装や魔鏡が出きってしまったキャラクターには、</p>
                <p>
                    　今後拡張の要素が無く、一生出番や新しい術技が回ってこない&hellip;。
                    <br>
                    　原作でも出番が多い、主人公は特に顕著で、
                </p>
                <p>この先、主人公達にスポットが当たらなくなるこの状況が</p>
                <p>
                    　本当に楽しめる状況なのか？というのが悩みのタネでした。
                    <br>
                    　（同じようなご意見、ご要望も頂いております。）
                    <br>
                    　一番良いのは術技数という選択肢の差を埋めながらも、
                </p>
                <p>
                    　様々なキャラにスポットが当たる可能性を残せる方法だと思います。
                    <br>
                    　検討を進めていますので、次回の制作プロデューサーからのお知らせで
                </p>
                <p>
                    　新たな運営方針をお伝え出来るように準備を進めさせて頂きます。
                    <br>
                    &nbsp;
                </p>
                <hr>
                <p style="text-align: center;">
                    <a id="link4" name="link4"><span style="font-size:16px;"><strong>【今月の配信スケジュール】</strong></span></a>
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35989/content_21100801.jpg"
                         style="width: 80%">
                </p>
                <p>
                    <strong>■精霊装　ルーク　アッシュ　シンク　(10月上旬）</strong>
                    <br>
                    実はルークの精霊装ってまだ、実装されてなかったんです&hellip;。
                    <br>
                    アビス単独の精霊装イベントを開催させて頂きます！
                </p>
                <p>
                    <br>
                    今回の精霊装が実装される３人の属性は&hellip;
                </p>
                <p>
                    既にSNSなんかで予想されている方も居ましたが、
                    <br>
                    ルークとアッシュの属性の由来はルークの名前の由来となっている
                </p>
                <p>&quot;聖なる焔の光&quot;から来ています。</p>
                <p>&nbsp;</p>
                <p>あと、言わなくても分かると思いますが</p>
                <p>
                    シンクはもう六神将時の通称の通りですね！
                    <br>
                    ちなみにルークのデザインのモチーフはみなさんの想像にお任せします。
                    <br>
                    変な意味や意図はないので、深く考察せずに
                </p>
                <p>単純にデザインとして楽しんで頂ければ幸いです。</p>
                <p>&nbsp;</p>
                <p>
                    <strong>■テンペスト単独オーケストライベント　ルキウス参戦 (10月下旬）</strong>
                    <br>
                    テンペスト発売15周年おめでとうございます！
                    <br>
                    そして、ルキウスの参戦も大変お待たせしてしまい申し訳ございません！
                </p>
                <p>
                    <br>
                    15周年に合わせようとして遅くなってしまった訳ではないのですが、
                </p>
                <p>結果として一番良いタイミングでの参戦になりました！</p>
                <p>&nbsp;</p>
                <p>タイミング的にテイオケ2021も近かったので、</p>
                <p>
                    オーケストラをテーマにしたイベントにさせて頂きました。
                    <br>
                    カイウス、ルビア、ティルキス、アーリア、フォレストの5人が参戦していて、
                </p>
                <p>15周年のタイミングでルキウスを迎える事が出来たのは本当に良かったです！</p>
                <p>&nbsp;</p>
                <p>
                    <strong>■本編イベント　4部第13章　アルトリウス攻略戦</strong>
                </p>
                <p>
                    <strong>ヘルダルフ、アルトリウス プレイアブル参戦</strong>
                    <br>
                    はじめにお伝えしておきます。
                </p>
                <p>ヘルダルフとアルトリウスはプレイアブル参戦となります。</p>
                <p>&nbsp;</p>
                <p>以前にもお伝えしましたが、この二人は、</p>
                <p>ティル・ナ・ノーグの世界線だったとしても、</p>
                <p>ベルベットやスレイと手を取り合うという事は無いと思います。</p>
                <p>
                    <br>
                    それゆえに、ストーリー上で手を取り合うような参戦ではなく、
                </p>
                <p>ゲームシステム上でプレイアブルキャラクターとして使えるになります！</p>
                <p>という位置づけになります。</p>
                <p>なので、迎え入れて頂いた後は、</p>
                <p>メインストーリーとは別腹と割り切って楽しんで頂ければと思います。</p>
                <p>&nbsp;</p>
                <p>物語は強敵として存在していた、アルトリウスともいよいよ決着の時です。</p>
                <p>多くは語りませんが、どのような結末になるのか楽しみにしていてください！</p>
                <p>また、先月と同じくになりますが、過去の本編イベントと同じく、</p>
                <p>イベント自体は期間限定ですが、</p>
                <p>
                    公開期間終了後は、攻略戦形式では無くなるものの、
                    <br>
                    ストーリー自体は通常の本編クエストの方に追加されますので、
                </p>
                <p>期間内は都合で遊べないかも&hellip;という方でも</p>
                <p>ストーリーだけ追いかけることができますのでご安心下さい。</p>
                <p>&nbsp;</p>
                <hr>
                <p style="text-align: center;">ルーク達の精霊装の実装で、</p>
                <p style="text-align: center;">
                    起動画面で魔鏡イラストを掲載している、歴代主人公で精霊装未実装キャラは
                    <br>
                    残りリッド、ルドガー、アルフェンとなりました。
                </p>
                <p style="text-align: center;">
                    <br>
                    アルフェンは直近参戦なので少しお時間頂くとして、
                </p>
                <p style="text-align: center;">
                    リッド、ルドガーは既にデザインの制作を進めさせて頂いています。
                    <br>
                    公開はもう少し先ですが
                </p>
                <p style="text-align: center;">かなりカッコイイ感じに仕上がっているので楽しみにしていて下さい！</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">それでは『TALES OF THE RAYS』をよろしくお願い致します。</p>
                <p style="text-align: center;">制作プロデューサー　栁澤</p>
                <p style="text-align: center;">&nbsp;</p>
                <center>
                    <section>

                    </section>
                </center>
            </section>
        </div>
    </body>
</html>
