<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <span style="color: rgb(255, 71, 71);"><span style="font-size: 18px;"><strong>【重要】</strong></span></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size: 18px;"><strong>10/25(月)のメンテナンス以降の一括DL時の</strong></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size: 18px;"><strong>ファイルダウンロード量について</strong></span>
            </p>
            <!-- 仕切り -->
            <hr>
            <section>
                <p style="text-align: center;">
                    <span style="font-size: 14px;"></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">いつも『TALES OF THE RAYS』をご利用いただきありがとうございます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    10/25(月)15:30に終了予定の『ver4.8.0』への
                    <br>
                    アップデートに伴うメンテナンス以降、
                </p>
                <p style="text-align: center;">｢ダウンロード設定｣を｢一括DLする｣に設定している方が</p>
                <p style="text-align: center;">アプリ起動時に6.0GB程のデータダウンロードを実行する</p>
                <p style="text-align: center;">確認ダイアログが表示されます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">こちらはver4.8.0で行った</p>
                <p style="text-align: center;">｢Unity 2019への対応｣により、</p>
                <p style="text-align: center;">再度ダウンロードするためとなります。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong><span style="color:#FF9900;">タイトル画面左下の｢オプション｣ボタンから</span></strong>
                </p>
                <p style="text-align: center;">
                    <strong><span style="color:#FF9900;">｢ダウンロード設定｣を｢DLしない｣に設定することにより</span></strong>
                </p>
                <p style="text-align: center;">
                    <strong><span style="color:#FF9900;">ゲーム開始のために必要なダウンロードのみで</span></strong>
                </p>
                <p style="text-align: center;">
                    <strong><span style="color:#FF9900;">ゲームを開始することが出来ます。</span></strong>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">その後、Wi-Fi環境など、通信環境のよい場所にて</p>
                <p style="text-align: center;">｢オプション｣から｢ダウンロード設定｣を｢一括DLする｣に変更いただき、</p>
                <p style="text-align: center;">一括ダウンロードしていただくことをお薦めいたします。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">この度は多くのお客様に</p>
                <section>
                    <p style="text-align: center;">ご迷惑をおかけしますことをお詫び申し上げます。</p>
                </section>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">引き続き『TALES OF THE RAYS』をよろしくお願い申し上げます。</p>

            </section>
        </div>
    </body>
</html>
