<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
            </p>
            <p>
                <strong>【予告】
                    <br>
                合計300連で魔鏡30枚!!</strong>
            </p>
            <p>
                <strong>テイフェスカウントダウンのログインボーナス開催!!</strong>
            </p>
            <hr>
            <p>
                <span style="font-size: 14px;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35956/content_21102111.jpg"
                         style="width: 80%">
                </span>
            </p>
            <p>
                <strong>テイルズオブフェスティバル2021開催を記念した</strong>
            </p>
            <p>
                <strong>特別ログインボーナスを開催!!</strong>
            </p>
            <p>&nbsp;</p>
            <p>
                <span style="font-size:16px;"></span>
            </p>
            <p>
                <span style="font-size:16px;">期間中に<strong><span style="color:#FF9900;">毎日ログイン</span>すること</strong>で</span>
            </p>
            <p>
                <span style="font-size:16px;"><span style="font-size:16px;"><strong><span style="color:#FF4747;">魔鏡1枚確定</span></strong><b>の</b></span><span style="font-size:16px;"><strong>シリーズ10連チケットガシャ</strong></span>を入手!!</span><span style="font-size:16px;"></span>
            </p>
            <p>
                <span style="font-size:16px;">全て入手で<strong><span style="color:#FF9900;">合計300連!!</span></strong></span>
            </p>
            <p>
                <span style="color:#FF4747;"><strong><span style="font-size:16px;">魔鏡は30枚を確定で入手出来る!!</span></strong></span>
            </p>
            <p>&nbsp;</p>
            <p style="font-weight:bold;">◆開催期間◆</p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;">2021/10/22(金) 0:00&nbsp;～ 2021/11/20(土</span><span style="color:#FF4747;">) 23:59</span></strong><strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong><strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong><strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
        </div>
        <p>
            <b></b>
        </p>
    </body>
</html>
