<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/44548/content_32142102.png"
                     style="width: 100%">
            </p>
            <hr>
            <p>
                <b>ルドガー、ユリウス、ガイアスミュゼ、
                    <br>
                    ミラ、ヴィクトル、イバル、ビズリー</b>の
                    <br>
                    <span style="color:#FF4747;"><strong>『魔鏡』</strong>と</span><span style="color:#FF4747;"><strong>『装備』のみ</strong></span>が出現する
                </p>
                <p>『エクシリア2確定チケットガシャ』が開催!!</p>
                <p>&nbsp;</p>
                <p>
                    <strong>◆開催期間◆</strong>
                </p>
                <p>
                    <strong><span style="color:#FF4747;">2022/5/21(土) 0:00 ～</span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
                </p>
                <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                    『エクシリア2確定チケットガシャ』では、
                    <br>
                    <b>ルドガー、ユリウス、ガイアス、ミュゼ、
                        <br>
                        ミラ、ヴィクトル、イバル、ビズリー</b>の
                        <br>
                        <span style="color:#FF4747;"><strong>『</strong><span style="color:#FF4747;"><strong>装備</strong></span><strong>』と『</strong><span style="color:#FF4747;"><strong>魔鏡</strong></span><strong>』のみ</strong></span>が出現!!
                    </p>
                    <div class="frame1">
                        <p style="text-align: center;">
                            <strong><strong>このガシャから出現する魔鏡</strong></strong>
                        </p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/21904/content_3010004.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/22010/content_5910003.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/22109/content_10210002.png"
                                 style="width: 80px;
                                        height: 80px">
                        </p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/22113/content_10310003.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/26795/content_11510004.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/28902/content_13810004.png"
                                 style="width: 80px;
                                        height: 80px">
                        </p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/21902/content_3010002.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/22009/content_5910002.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/22110/content_10210003.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/22112/content_10310002.png"
                                 style="width: 80px;
                                        height: 80px">
                        </p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/22136/content_11510002.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/22173/content_13810002.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/28887/content_21310002.png"
                                 style="width: 80px;
                                        height: 80px">
                            <strong>
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/43275/content_29410002.png"
                                     style="width: 80px;
                                            height: 80px">
                            </strong>
                        </p>
                        <p style="text-align: center;">
                            <br>
                            <strong><strong>このガシャから出現する鏡装</strong></strong>
                            <br>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/22299/content_305001.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/22301/content_305002.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/22357/content_595001.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/22358/content_595002.png"
                                 style="width: 80px;
                                        height: 80px">
                        </p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/22417/content_1025001.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/22418/content_1025002.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/22419/content_1035001.png"
                                 style="width: 80px;
                                        height: 80px">
                        </p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/22434/content_1155001.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/33061/content_1155004.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/22457/content_1385001.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/22458/content_1385002.png"
                                 style="width: 80px;
                                        height: 80px">
                        </p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/28888/content_2135001.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/37796/content_2135002.png"
                                 style="width: 80px;
                                        height: 80px">
                            <strong>
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/43269/content_2945001.png"
                                     style="width: 80px;
                                            height: 80px">
                            </strong>
                        </p>
                    </div>
                    <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                        エクシリア2確定ガシャチケットは、
                        <br>
                        <strong>『テイルズ オブ エクシリア2』ピックアップガシャ</strong>
                        <br>
                        のおまけで<strong>入手が可能!</strong>
                    </p>
                    <hr>
                    <div class="frame2">
                        <p style="text-align:center;">《 注意事項&nbsp;》</p>
                        <p>
                            <span style="font-size:11px;"></span><span style="font-size:11px;"></span><span style="font-size:11px;"></span><span style="font-size:11px;"></span><span style="font-size:11px;">・本ガシャは「エクシリア2確定ガシャチケット」のみで
                                <br>
                                　実行できます。
                                <br>
                                ・本ガシャは「エクシリア2確定ガシャチケット」1枚につき、
                                <br>
                                　1回実行できます。
                                <br>
                                ・本ガシャからはエクシリア2キャラクターの
                                <br>
                                　魔鏡・★5鏡装・★4装備・★3装備のいずれかが獲得できます。
                                <br>
                                ・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。
                                <br>
                                ・各種ボーナスの効果は、該当のイベント開催時のみ発動します。
                                <br>
                                ・表示されているステータス・効果・各種ボーナスは、
                                <br>
                                　最大強化後の値となります。
                                <br>
                                ・各種ボーナスが発動する魔鏡・装備の一覧は、
                                <br>
                                　該当イベントのお知らせをご確認ください。
                                <br>
                                ・期間限定の魔鏡・装備・キャラカスタムは再登場する場合がございます。
                                <br>
                                ・限定キャラカスタムを先に限定キャラカスタム付き魔鏡以外から入手した場合、
                                <br>
                                　限定キャラカスタム付き魔鏡で複数入手はできません。
                                <br>
                                ・限定キャラカスタム付き魔鏡でキャラカスタムを入手した場合、
                                <br>
                                　その他入手導線での入手はできません。
                                <br>
                                ・限定キャラカスタム付き魔鏡で手に入る同一の限定キャラカスタムは
                                <br>
                            　複数入手することはできません。</span>
                        </p>
                    </div>
                </div>

            </body>
        </html>
