<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <span style="color: rgb(255, 71, 71);"><span style="font-size: 18px;"><strong>【重要】</strong></span></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size: 18px;"></span><strong>現在開催中のイベントの開催日程の変更について</strong>
            </p>
            <!-- 仕切り -->
            <hr>
            <section>
                <p style="text-align: center;">
                    <span style="font-size: 14px;"></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">いつも『TALES OF THE RAYS』をご利用いただきありがとうございます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">現在開催中のイベント『甦る魔術師と冥府の主』の</p>
                <p style="text-align: center;">開催日程を変更といたします。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">12月24日にアップデートを含むイベントの開始を</p>
                <p style="text-align: center;">予定していましたが、ストアの更新受付期間の都合により</p>
                <p style="text-align: center;">イベントの開始を12月22日に変更することとなりました。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">それにより、現在開催中のイベント、及び</p>
                <p style="text-align: center;">次に予定している精霊装イベントの開催日程についても</p>
                <p style="text-align: center;">2日間前倒しての開催といたします。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">アプリ内に表示されている</p>
                <p style="text-align: center;">イベントの終了日付は近日中に変更予定となります</p>
                <p style="text-align: center;">&nbsp;</p>
                <p>■イベントの終了時刻を変更</p>
                <p>
                    <strong>2021/11/30(火) 14:00&nbsp;～ <span style="color:#FF4747;">2021/12/11(土) 10:59</span></strong>
                </p>
                <p>
                    <strong>※</strong>ミッション『「甦る魔術師と冥府の主」のクエストを〇回クリア』の
                </p>
                <p>達成可能期間も上記期間に変更となります</p>
                <p>&nbsp;</p>
                <p>■イベントの終了時刻変更に伴い、交換アイテムが獲得できるミッションの追加</p>
                <p>APを消費することで達成できるミッションにより、</p>
                <p>交換アイテム《バジリスクうろこ》《みそおでん》が</p>
                <p>獲得できるミッションを追加いたします。</p>
                <p>・12/11 14:00～12/11 23:59</p>
                <p>・12/12&nbsp;0:00～12/12&nbsp;23:59</p>
                <p>・12/13&nbsp;0:00～12/13&nbsp;23:59</p>
                <p>※1日ごとに《バジリスクうろこ》が最大27000、</p>
                <p>《みそおでん》が60000が獲得できます</p>
                <p>&nbsp;</p>
                <p style="text-align: center;">開催中イベントの開催日程変更のお詫びとして</p>
                <p style="text-align: center;">
                    <strong>『ダイヤ&times;4個』</strong>
                </p>
                <p style="text-align: center;">を全てのお客様にお送りいたします。</p>
                <p style="text-align: center;">
                    『<strong>プレゼントボックス</strong>』からお受け取り下さい。
                </p>
                <p style="text-align: center;">なお、こちらの受取期限は</p>
                <p style="text-align: center;">
                    <strong>2021/12/14(火) 23:59</strong>
                </p>
                <p style="text-align: center;">までとなっておりますのでご注意ください。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">引き続き『TALES OF THE RAYS』をよろしくお願い申し上げます。</p>

            </section>
        </div>
    </body>
</html>
