<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <strong>ダオス・バルバトス・ガイアスの精霊片が獲得可能！
                    <br>
                「精霊の招来境」に追加！</strong>
            </p>
            <span style="font-size:11px;"></span>
            <hr>
            <section>
                <p style="text-align: center;">
                    <strong>各キャラの『精霊片』が獲得できる<span style="color:#FF4747;">「</span><span style="color:#FF4747;">精霊の招来境</span><span style="color:#FF4747;">」</span></strong><strong>に</strong>
                </p>
                <p style="text-align: center;">
                    <strong><span style="font-size:16px;"><span style="color:#FF4747;">「</span><span style="color:#FF4747;">精霊の招来境 ダオス&nbsp;バルバトス&nbsp;ガイアス</span><span style="color:#FF4747;">」</span></span>を追加！</strong>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong>◆追加日時◆</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;">2022/1/20(木) 12:00ごろ～</span></strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">※1/20(木)のデータ配信時点から開始しております。</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>登場した「精霊の招来境」クエストは
                        <br>
                        <span style="color:#FF9900;"><span style="font-size:16px;">毎日挑戦が可能！</span></span></strong>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:14px;">◆出撃可能キャラクターと獲得できる精霊片一<strong>覧</strong>◆</span>
                </p>
                <div align="center">
                    <table bgcolor="#204060"
                           cellpadding="0"
                           cellspacing="0"
                           style="border-collapse: collapse;
                                  border: 2px solid rgb(80, 96, 112);
                                  font-size: 13px;
                                  table-layout: fixed;
                                  width: 500px">
                        <thead>
                            <tr>
                                <th bgcolor="#304040"
                                    scope="col"
                                    style="border: 1px solid rgb(80, 96, 112);
                                           border-collapse: collapse;
                                           width: 30%">クエスト名</th>
                                <th bgcolor="#304040"
                                    scope="col"
                                    style="border: 1px solid rgb(80, 96, 112);
                                           border-collapse: collapse;
                                           width: 30%">
                                    <p>出撃可能キャラクター</p>
                                </th>
                                <th bgcolor="#304040"
                                    scope="col"
                                    style="border: 1px solid rgb(80, 96, 112);
                                           border-collapse: collapse;
                                           width: 40%">
                                    <strong><span style="font-size:14px;">獲得できる精霊片</span></strong>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           text-align: left;
                                           padding: 4px">
                                    <p style="text-align: center;">
                                        <strong><span style="font-size:11px;"><span style="color:#FFFFFF;">精霊の招来境</span></span></strong>
                                    </p>
                                    <p style="text-align: center;">
                                        <strong><span style="font-size:11px;"><span style="color:#FFFFFF;">イクス ミリーナ</span></span></strong>
                                    </p>
                                </td>
                                <td style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           text-align: left;
                                           padding: 4px">
                                    <p style="text-align: center;">
                                        <span style="font-size:11px;"><strong>イクス</strong></span>
                                    </p>
                                    <p style="text-align: center;">
                                        <span style="font-size:11px;"><b>ミリーナ</b></span>
                                    </p>
                                </td>
                                <td style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           text-align: left;
                                           padding: 4px">
                                    <p style="text-align: center;">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/23440/content_101.png"
                                             style="width: 80px;
                                                    height: 80px">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/23441/content_201.png"
                                             style="width: 80px;
                                                    height: 80px">
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           text-align: left;
                                           padding: 4px">
                                    <p style="text-align: center;">
                                        <strong><span style="color:#FF4747;"></span></strong>
                                    </p>
                                    <p style="text-align: center;">
                                        <span style="font-size:11px;"><span style="color:#FFFFFF;">精霊の招来境</span></span>
                                    </p>
                                    <p style="text-align: center;">
                                        <strong><span style="font-size:11px;"><span style="color:#FFFFFF;">スタン リオン ヴェイグ</span></span></strong>
                                    </p>
                                    <p style="text-align: center;">
                                        <strong><span style="color:#FF4747;"></span></strong>
                                    </p>
                                </td>
                                <td style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           text-align: left;
                                           padding: 4px">
                                    <p style="text-align: center;">
                                        <span style="font-size:11px;"><strong>スタン</strong></span>
                                    </p>
                                    <p style="text-align: center;">
                                        <span style="font-size:11px;"><strong>リオン</strong></span>
                                    </p>
                                    <p style="text-align: center;">
                                        <span style="font-size: 11px;"><b>ヴェイグ</b></span>
                                    </p>
                                </td>
                                <td style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           text-align: left;
                                           padding: 4px">
                                    <p style="text-align: center;">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/23443/content_4301.png"
                                             style="width: 80px;
                                                    height: 80px">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/23442/content_601.png"
                                             style="width: 80px;
                                                    height: 80px">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/23444/content_1201.png"
                                             style="width: 80px;
                                                    height: 80px">
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           text-align: left;
                                           padding: 4px">
                                    <p style="text-align: center;">
                                        <span style="font-size:11px;"><span style="color:#FFFFFF;">精霊の招来境</span></span>
                                    </p>
                                    <p style="text-align: center;">
                                        <strong><span style="font-size:11px;"><span style="color:#FFFFFF;"></span></span><span style="font-size:11px;"><span style="color:#FFFFFF;">エミル ソフィ カイル</span></span></strong>
                                    </p>
                                </td>
                                <td style="border: 1px solid rgb(80, 96, 112);
                                           border-collapse: collapse;
                                           padding: 4px;
                                           text-align: center">
                                    <p style="text-align: center;">
                                        <span style="font-size:11px;"><strong>エミル</strong></span>
                                    </p>
                                    <p style="text-align: center;">
                                        <span style="font-size:11px;"><strong>ソフィ</strong></span>
                                    </p>
                                    <p style="text-align: center;">
                                        <span style="font-size: 11px;"><b>カイル</b></span>
                                    </p>
                                </td>
                                <td style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           text-align: left;
                                           padding: 4px">
                                    <p style="text-align: center;">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/26219/content_7101.png"
                                             style="width: 80px;
                                                    height: 80px">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/26220/content_2501.png"
                                             style="width: 80px;
                                                    height: 80px">
                                    </p>
                                    <p style="text-align: center;">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/26221/content_4601.png"
                                             style="width: 80px;
                                                    height: 80px">
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           text-align: left;
                                           padding: 4px">
                                    <p style="text-align: center;">
                                        <span style="font-size:11px;"><span style="color:#FFFFFF;">精霊の招来境</span></span>
                                    </p>
                                    <p style="text-align: center;">
                                        <strong><span style="font-size:11px;"><span style="color:#FFFFFF;"></span></span><span style="font-size:11px;"><span style="color:#FFFFFF;">シング&nbsp;エステル&nbsp;ベルベット</span></span></strong>
                                    </p>
                                </td>
                                <td style="border: 1px solid rgb(80, 96, 112);
                                           border-collapse: collapse;
                                           padding: 4px;
                                           text-align: center">
                                    <p style="text-align: center;">
                                        <span style="font-size:11px;"><strong>シング</strong></span>
                                    </p>
                                    <p style="text-align: center;">
                                        <span style="font-size:11px;"><strong>エステル</strong></span>
                                    </p>
                                    <p style="text-align: center;">
                                        <span style="font-size: 11px;"><b>ベルベット</b></span>
                                    </p>
                                </td>
                                <td style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           text-align: left;
                                           padding: 4px">
                                    <p style="text-align: center;">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/27807/content_5801.png"
                                             style="width: 80px;
                                                    height: 80px">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/27808/content_5201.png"
                                             style="width: 80px;
                                                    height: 80px">
                                    </p>
                                    <p style="text-align: center;">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/27809/content_3701.png"
                                             style="width: 80px;
                                                    height: 80px">
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           text-align: left;
                                           padding: 4px">
                                    <p style="text-align: center;">
                                        <span style="font-size:11px;"><span style="color:#FFFFFF;">精霊の招来境</span></span>
                                    </p>
                                    <p style="text-align: center;">
                                        <strong><span style="font-size:11px;"><span style="color:#FFFFFF;"></span></span><span style="font-size:11px;"><span style="color:#FFFFFF;">クレス&nbsp;ミント&nbsp;リアラ</span></span></strong>
                                    </p>
                                </td>
                                <td style="border: 1px solid rgb(80, 96, 112);
                                           border-collapse: collapse;
                                           padding: 4px;
                                           text-align: center">
                                    <p>
                                        <strong><span style="font-size:11px;">クレス</span></strong>
                                    </p>
                                    <p>
                                        <strong><span style="font-size:11px;">ミント</span></strong>
                                    </p>
                                    <p>
                                        <strong><span style="font-size:11px;">リアラ</span></strong>
                                    </p>
                                </td>
                                <td style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           text-align: left;
                                           padding: 4px">
                                    <p style="text-align: center;">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/29589/content_301.png"
                                             style="width: 80px;
                                                    height: 80px">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/29590/content_7301.png"
                                             style="width: 80px;
                                                    height: 80px">
                                    </p>
                                    <p style="text-align: center;">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/29591/content_4701.png"
                                             style="width: 80px;
                                                    height: 80px">
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           text-align: left;
                                           padding: 4px">
                                    <p style="text-align: center;">
                                        <span style="font-size:11px;"><span style="color:#FFFFFF;">精霊の招来境</span></span>
                                    </p>
                                    <p style="text-align: center;">
                                        <strong><span style="font-size:11px;"><span style="color:#FFFFFF;"></span></span><span style="font-size:11px;"><span style="color:#FFFFFF;">スレイ&nbsp;ロゼ&nbsp;アリーシャ</span></span></strong>
                                    </p>
                                </td>
                                <td style="border: 1px solid rgb(80, 96, 112);
                                           border-collapse: collapse;
                                           padding: 4px;
                                           text-align: center">
                                    <p>
                                        <strong><span style="font-size:11px;">スレイ</span></strong>
                                    </p>
                                    <p>
                                        <strong><span style="font-size:11px;">ロゼ</span></strong>
                                    </p>
                                    <p>
                                        <strong><span style="font-size:11px;">アリーシャ</span></strong>
                                    </p>
                                </td>
                                <td style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           text-align: left;
                                           padding: 4px">
                                    <p style="text-align: center;">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/31232/content_3101.png"
                                             style="width: 80px;
                                                    height: 80px">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/31233/content_7701.png"
                                             style="width: 80px;
                                                    height: 80px">
                                    </p>
                                    <p style="text-align: center;">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/31234/content_5001.png"
                                             style="width: 80px;
                                                    height: 80px">
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           text-align: left;
                                           padding: 4px">
                                    <p style="text-align: center;">
                                        <span style="font-size:11px;"><span style="color:#FFFFFF;">精霊の招来境</span></span>
                                    </p>
                                    <p style="text-align: center;">
                                        <strong><span style="font-size:11px;"><span style="color:#FFFFFF;"></span></span><span style="font-size:11px;"><span style="color:#FFFFFF;">ロイド&nbsp;コレット&nbsp;コハク</span></span></strong>
                                    </p>
                                </td>
                                <td style="border: 1px solid rgb(80, 96, 112);
                                           border-collapse: collapse;
                                           padding: 4px;
                                           text-align: center">
                                    <p>
                                        <strong><span style="font-size:11px;">ロイド</span></strong>
                                    </p>
                                    <p>
                                        <strong><span style="font-size:11px;">コレット</span></strong>
                                    </p>
                                    <p>
                                        <strong><span style="font-size:11px;">コハク</span></strong>
                                    </p>
                                </td>
                                <td style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           text-align: left;
                                           padding: 4px">
                                    <p style="text-align: center;">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/32693/content_901.png"
                                             style="width: 80px;
                                                    height: 80px">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/32694/content_1001.png"
                                             style="width: 80px;
                                                    height: 80px">
                                    </p>
                                    <p style="text-align: center;">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/32695/content_2201.png"
                                             style="width: 80px;
                                                    height: 80px">
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           text-align: left;
                                           padding: 4px">
                                    <p style="text-align: center;">
                                        <span style="font-size:11px;"><span style="color:#FFFFFF;">精霊の招来境</span></span>
                                    </p>
                                    <p style="text-align: center;">
                                        <strong><span style="font-size:11px;"><span style="color:#FFFFFF;"></span></span><span style="font-size:11px;"><span style="color:#FFFFFF;">ユーリ&nbsp;フレン&nbsp;ラピード</span></span></strong>
                                    </p>
                                </td>
                                <td style="border: 1px solid rgb(80, 96, 112);
                                           border-collapse: collapse;
                                           padding: 4px;
                                           text-align: center">
                                    <p>
                                        <strong><span style="font-size:11px;">ユーリ</span></strong>
                                    </p>
                                    <p>
                                        <strong><span style="font-size:11px;">フレン</span></strong>
                                    </p>
                                    <p>
                                        <strong><span style="font-size:11px;">ラピード</span></strong>
                                    </p>
                                </td>
                                <td style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           text-align: left;
                                           padding: 4px">
                                    <p style="text-align: center;">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/33917/content_1901.png"
                                             style="width: 80px;
                                                    height: 80px">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/33918/content_7501.png"
                                             style="width: 80px;
                                                    height: 80px">
                                    </p>
                                    <p style="text-align: center;">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/33919/content_2001.png"
                                             style="width: 80px;
                                                    height: 80px">
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           text-align: left;
                                           padding: 4px">
                                    <p style="text-align: center;">
                                        <span style="font-size:11px;"><span style="color:#FFFFFF;">精霊の招来境</span></span>
                                    </p>
                                    <p style="text-align: center;">
                                        <span style="font-size:11px;"><strong><span style="color:#FFFFFF;">パスカ&nbsp;イアハート&nbsp;グラスバレー</span></strong></span>
                                    </p>
                                </td>
                                <td style="border: 1px solid rgb(80, 96, 112);
                                           border-collapse: collapse;
                                           padding: 4px;
                                           text-align: center">
                                    <p>
                                        <strong><span style="font-size:11px;">P・カノンノ</span></strong>
                                    </p>
                                    <p>
                                        <span style="font-size: 11px;"><b>カノンノ・</b></span><b>E</b>
                                    </p>
                                    <p>
                                        <span style="font-size: 11px;"><b>カノンノ・G</b></span>
                                    </p>
                                </td>
                                <td style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           text-align: left;
                                           padding: 4px">
                                    <p style="text-align: center;">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/35545/content_9801.png"
                                             style="width: 80px;
                                                    height: 80px">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/35546/content_4801.png"
                                             style="width: 80px;
                                                    height: 80px">
                                    </p>
                                    <p style="text-align: center;">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/35547/content_11101.png"
                                             style="width: 80px;
                                                    height: 80px">
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           text-align: left;
                                           padding: 4px">
                                    <p style="text-align: center;">
                                        <span style="font-size:11px;"><span style="color:#FFFFFF;">精霊の招来境</span></span>
                                    </p>
                                    <p style="text-align: center;">
                                        <span style="font-size:11px;"><strong><span style="color:#FFFFFF;">アスベル&nbsp;シェリア&nbsp;リチャード</span></strong></span>
                                    </p>
                                </td>
                                <td style="border: 1px solid rgb(80, 96, 112);
                                           border-collapse: collapse;
                                           padding: 4px;
                                           text-align: center">
                                    <p>
                                        <strong><span style="font-size:11px;">アスベル</span></strong>
                                    </p>
                                    <p>
                                        <span style="font-size: 11px;"><b>シェリア</b></span>
                                    </p>
                                    <p>
                                        <span style="font-size: 11px;"><b>リチャード</b></span>
                                    </p>
                                </td>
                                <td style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           text-align: left;
                                           padding: 4px">
                                    <p style="text-align: center;">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/36667/content_2401.png"
                                             style="width: 80px;
                                                    height: 80px">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/36670/content_3901.png"
                                             style="width: 80px;
                                                    height: 80px">
                                    </p>
                                    <p style="text-align: center;">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/36671/content_5301.png"
                                             style="width: 80px;
                                                    height: 80px">
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           text-align: left;
                                           padding: 4px">
                                    <p style="text-align: center;">
                                        <span style="font-size:11px;"><span style="color:#FFFFFF;">精霊の招来境</span></span>
                                    </p>
                                    <p style="text-align: center;">
                                        <span style="font-size:11px;"><strong><span style="color:#FFFFFF;">ダオス&nbsp;バルバトス&nbsp;ガイアス</span></strong></span>
                                    </p>
                                </td>
                                <td style="border: 1px solid rgb(80, 96, 112);
                                           border-collapse: collapse;
                                           padding: 4px;
                                           text-align: center">
                                    <p>
                                        <strong><span style="font-size:11px;">ダオス</span></strong>
                                    </p>
                                    <p>
                                        <span style="font-size: 11px;"><b>バルバトス</b></span>
                                    </p>
                                    <p>
                                        <span style="font-size: 11px;"><b>ガイアス</b></span>
                                    </p>
                                </td>
                                <td style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           text-align: left;
                                           padding: 4px">
                                    <p style="text-align: center;">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/37939/content_7901.png"
                                             style="width: 80px;
                                                    height: 80px">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/37938/content_6601.png"
                                             style="width: 80px;
                                                    height: 80px">
                                    </p>
                                    <p style="text-align: center;">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/37940/content_10201.png"
                                             style="width: 80px;
                                                    height: 80px">
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/24262/content_19097.png"
                         style="width: 40%">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    １日に出撃できる回数が限定された<strong><span style="color:#FF4747;">特別なクエスト</span></strong>で
                </p>
                <p style="text-align: center;">
                    各キャラクターの<span style="color:#FF4747;"><strong>精霊片</strong></span>が獲得可能!!<span style="font-size: 0.8rem; text-align: left;"></span>
                </p>
                <p>&nbsp;</p>
                <hr>
                <p style="text-align: center;">
                    <strong>◆クエストの遊び方◆</strong>
                </p>
                <section>
                    <div class="frame1">
                        <p style="text-align: center;">
                            <span style="font-size:14px;"><strong>≪出撃と回数制限≫</strong></span>
                        </p>
                        <p>
                            <span style="font-size:11px;"><span style="color:#FFFFFF;">・「<strong>クエスト</strong>」&gt;「<b>精霊片クエスト</b>」<span style="font-size:11px;"><span style="color:#FFFFFF;">&gt;</span></span>「<b>精霊の招来境</b></span><span style="font-size:11px;"><span style="color:#FFFFFF;">」を選択</span></span></span>
                        </p>
                        <p>
                            <span style="font-size:11px;"><span style="color:#FFFFFF;">・「精霊の招来境」</span></span><span style="font-size:11px;"><span style="color:#FFFFFF;">は１日3回まで挑戦可能です。</span></span>
                        </p>
                        <p>
                            <span style="font-size:11px;"><span style="color:#FFFFFF;">・挑戦可能回数は毎日0:00にリセットされます。</span></span>
                        </p>
                        <p>&nbsp;</p>
                        <p style="text-align: center;">
                            <span style="font-size:14px;"><strong>≪出撃可能キャラクター≫</strong></span>
                        </p>
                        <p>
                            <span style="font-size:11px;"><span style="color:#FFFFFF;">・「</span><span style="font-size:11px;"><span style="color:#FFFFFF;"><span style="font-size:11px;"><span style="color:#FFFFFF;"><span style="font-size:11px;"><span style="color:#FFFFFF;"></span><span style="font-size:11px;"><span style="color:#FFFFFF;"><span style="font-size:11px;"><span style="color:#FFFFFF;"><span style="font-size:11px;"><span style="color:#FFFFFF;"><strong>精霊の招来境</strong></span></span></span></span></span><span style="font-size:11px;"><span style="color:#FFFFFF;"></span><span style="font-size:11px;"><span style="color:#FFFFFF;"><span style="font-size:11px;"><span style="color:#FFFFFF;"><span style="font-size:11px;"><span style="color:#FFFFFF;"></span><span style="font-size:11px;"><span style="color:#FFFFFF;">」のクエストでは出撃可能なキャラクターが制限されます。</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
                        </p>
                        <p>&nbsp;</p>
                        <p>
                            <strong><span style="font-size:11px;">【2人出撃可能なクエスト】</span></strong>
                        </p>
                        <p>
                            <span style="font-size:11px;">・パーティの３枠目、４枠目にキャラクターを設定することはできません。</span>
                        </p>
                        <p>&nbsp;</p>
                        <p>
                            <strong><span style="font-size:11px;">【3人出撃可能なクエスト】</span></strong>
                        </p>
                        <p>
                            <span style="font-size:11px;">・パーティの４枠目にキャラクターを設定することはできません。</span>
                        </p>
                        <p style="text-align: center;">
                            <span style="font-size:14px;"><strong>≪獲得できる精霊片≫</strong></span>
                        </p>
                        <p>
                            <span style="font-size:11px;"><span style="color:#FFFFFF;">・「</span><span style="font-size:11px;"><span style="color:#FFFFFF;"><span style="font-size:11px;"><span style="color:#FFFFFF;"><span style="font-size:11px;"><span style="color:#FFFFFF;"></span><span style="font-size:11px;"><span style="color:#FFFFFF;"><span style="font-size:11px;"><span style="color:#FFFFFF;"><span style="font-size:11px;"><span style="color:#FFFFFF;"><strong>精霊の招来境</strong></span></span></span></span></span><span style="font-size:11px;"><span style="color:#FFFFFF;"></span><span style="font-size:11px;"><span style="color:#FFFFFF;"><span style="font-size:11px;"><span style="color:#FFFFFF;"><span style="font-size:11px;"><span style="color:#FFFFFF;"></span><span style="font-size:11px;"><span style="color:#FFFFFF;">」のクエストでは挑戦するクエストによって</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
                        </p>
                        <p>
                            <span style="font-size:11px;"><span style="font-size:11px;"><span style="color:#FFFFFF;"><span style="font-size:11px;"><span style="color:#FFFFFF;"><span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;"><span style="color:#FFFFFF;"><span style="font-size:11px;"><span style="color:#FFFFFF;"><span style="font-size:11px;"><span style="font-size:11px;"><span style="color:#FFFFFF;">入手可能な精霊片が異なります。</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
                        </p>
                        <p style="text-align: center;">
                            <span style="font-size:11px;"></span>
                        </p>
                    </div>
                </section>
                <div align="center">
                    <p>&nbsp;</p>
                </div>
            </section>
            <div align="center">
                <hr>
                <div class="frame2">
                    <p class="indent" style="text-align: center;">《&nbsp;注意事項&nbsp;》</p>
                    <p>
                        <span style="font-size:11px;">・残り挑戦回数が0の場合は挑戦できません。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・残り挑戦回数のリセットは時間によってのみ行われます。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・残り挑戦可能数は各クエストグループ毎に共有となっております。</span><span style="font-size:11px;"></span><span style="font-size:11px;"></span><span style="font-size:11px;"></span>
                    </p>
                </div>

            </div>
        </div>
    </body>
</html>
