<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- TOP訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/39484/content_22033104.jpg"
                     style="width: 100%">
            </p>
            <section>
                <hr>
                <p style="text-align: center;">
                    <span style="font-size:18px;"><span style="color:#FF4747;"><strong>新イベント</strong></span></span>
                </p>
                <p style="text-align: center;">
                    攻略完了で「<font color="#ff4747"><b>ミクトラン</b></font>」がプレイアブル化!!
                </p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><strong>『ミクトラン攻略戦 天上の暴君』</strong></span>
                </p>
                <p style="text-align: center;">
                    <strong><span style="font-size:18px;">開催!!</span></strong>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>イベントで</strong>
                </p>
                <p style="text-align: center;">
                    「<span style="color:#FF4747;"><strong>スタン</strong></span>」「<span style="color:#FF4747;"><strong>リオン</strong></span>」「<span style="color:#FF4747;"><strong>ルーティ</strong></span>」が仲間に!!
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">クエスト『天上の暴君10 断ち切る過去』クリアで</p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><span style="color:#FF9900;"><strong>攻略戦解放!!</strong></span></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
            </section>
            <section>
                <p style="text-align: center;">
                    <span style="font-size:18px;"></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong>◆開催期間◆</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><span style="color:#FF4747;"><strong>2022/3/31(木) 14:00 ～ 2022/4</strong></span><span style="color:#FF4747;"><strong>/11</strong></span><span style="color:#FF4747;"><strong>(月) 10:59</strong></span></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39485/content_22033102.jpg"
                         style="width: 80%">
                </p>
                <hr>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/37874/content_210529.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/37875/content_210530.png"
                         style="width: 100px;
                                height: 100px">
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><span style="font-size:14px;"><strong>『季節魔鏡確定ガシャチケット』</strong></span></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><span style="color:#FF4747;"><strong>『魔鏡確定ガシャチケット』</strong></span></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><span style="color:#FF4747;"></span></span><strong style="font-size: 16px;">が個人報酬に登場!!</strong>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:20px;"><strong>ルームアイテムを報酬に追加!!</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><strong>◆イベントポスター◆</strong></span>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39464/content_50226021.png"
                         style="width: 100px;
                                height: 100px">
                </p>
                <p style="text-align: center;">ミクトランのポスターは、</p>
                <p style="text-align: center;">
                    期間限定<strong>ログインボーナス</strong>で獲得可能!!
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong><span style="font-size:16px;">◆レコード◆</span></strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/39488/content_10701724.png"
                             style="width: 100px;
                                    height: 100px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>『VSミクトラン UNKNOWN』クリア</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"></span>で入手可能!!
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <hr>
                <section>
                    <p style="text-align: center;">
                        <strong><span style="color:#FF4747;"></span></strong>
                    </p>
                    <section>
                        <p style="text-align: center;">
                            <strong>■イベントの遊び方</strong>
                        </p>
                        <p>&nbsp;</p>
                        <p>◆「ミクトラン攻略戦 天上の暴君」ではボスを撃破することで</p>
                        <p>『討伐ポイント』を獲得することができます。</p>
                        <p>◆『自己討伐ポイント』が一定のポイント数に達することにより</p>
                        <p>個人報酬を獲得することができます。</p>
                        <p>※個人報酬の必要なポイント数は「報酬確認」で確認することができます。</p>
                        <p>◆全体討伐ポイントは一定時間ごとに全ユーザーを対象に集計が行われ、</p>
                        <p>集計後に『累計全体討伐ポイント』として表示されます。</p>
                        <p>◆『累計全体討伐ポイント』が『目標討伐ポイント』を上回ることにより</p>
                        <p>ボス攻略完了となります。</p>
                        <p>※討伐ポイントの集計は状況により反映が遅れる場合がございます。</p>
                        <p>└反映されない場合、少し時間を空けて</p>
                        <p>「ミクトラン攻略戦 天上の暴君」に遷移することで</p>
                        <p>
                            　　反映される場合がございます。　
                            <br>
                            &nbsp;
                        </p>
                        <hr>
                        <p style="text-align: center;">
                            <span style="font-size:18px;"><strong>■攻略戦ボーナスについて</strong></span>
                        </p>
                        <p>◆「ミクトラン攻略戦 天上の暴君」では</p>
                        <p>各クエストに設定されている討伐ポイントに対し、</p>
                        <p>以下の『攻略戦ボーナス』を獲得することが出来ます。</p>
                        <p>&nbsp;</p>
                        <p>
                            　<strong>【装備ボーナス】</strong>
                        </p>
                        <p>装備・魔鏡ごとに設定されているボーナス値となります。</p>
                        <p>PTメンバー及びサポートキャラの装備・魔鏡に設定されている</p>
                        <p>攻略戦ボーナスの合計となります。</p>
                        <p>&nbsp;</p>
                        <p>
                            <strong>【クリア時間ボーナス】</strong>
                        </p>
                        <p>バトル開始から全エネミーを撃破するまでに</p>
                        <p>かかった時間に応じたボーナス値となります。</p>
                        <p>バトル後のリザルトで表示される時間に応じたボーナスが獲得可能です。</p>
                        <p>クエストごとに時間に応じたボーナス値が設定されています。</p>
                        <p>「ミクトラン攻略戦 天上の暴君」では</p>
                        <p>最大「5.0％」となります。</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;※一部クエストはボーナス値が最大「5.0％」以上の場合もあります。</p>
                        <p></p>
                        <p>
                            <strong>【最大ダメージボーナス】</strong>
                        </p>
                        <p>最大ダメージに応じたボーナス値となります。</p>
                        <p>クエストごとに最大ダメージに応じたボーナス値が設定されています。</p>
                        <p>「ミクトラン攻略戦 天上の暴君」では</p>
                        <p>最大「5.0％」となります。</p>
                        <p></p>
                        <p>
                            <strong>【累計全体討伐ボーナス】</strong>
                        </p>
                        <p>累計全体討伐ポイントに応じたボーナス値となります。</p>
                        <p>累計全体討伐ポイントが増加することによりボーナス値が増加していきます。</p>
                        <p>「ミクトラン攻略戦 天上の暴君」では</p>
                        <p>最大「5.0％」となります。</p>
                        <p></p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/4975/content________.png"
                                 style="width: 80%">
                        </p>
                        <hr>
                        <div align="center">
                            <p>
                                <span style="font-size:16px;">◆<strong>攻略戦ボーナス一覧</strong>◆</span>
                            </p>
                            <div align="center">
                                <table bgcolor="#204060"
                                       cellpadding="0"
                                       cellspacing="0"
                                       style="border-collapse:collapse;
                                              border:2px solid rgb(80, 96, 112);
                                              width:470px">
                                    <thead>
                                        <tr>
                                            <th bgcolor="#304040"
                                                scope="col"
                                                style="border:1px #506070 solid;
                                                       border-collapse: collapse">キャラクター</th>
                                            <th bgcolor="#304040"
                                                scope="col"
                                                style="border:1px #506070 solid;
                                                       border-collapse: collapse">
                                                <p>攻略戦ボーナス＆イベントクリティカルボーナス</p>
                                                <p>
                                                    <span style="font-size:11px;">(ボーナス値は限界突破最大時のものになります。）</span>
                                                </p>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="border:1px #506070 solid;
                                                       border-collapse: collapse;
                                                       text-align: left;
                                                       padding: 4px">
                                                <p style="text-align: center;">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39324/content_226.png"
                                                         style="width: 100px;
                                                                height: 100px">
                                                </p>
                                                <p style="text-align: center;">
                                                    <span style="font-size:11px;"><strong>≪ミクトラン≫</strong></span>
                                                </p>
                                                <p>
                                                    <span style="font-size:12px;"><b>装備・魔鏡全て</b></span>
                                                    <br>
                                                    <span style="font-size:12px;"><b><span style="color:#FF9900;">攻略戦ボーナス</span></b></span>
                                                </p>
                                                <p>
                                                    <span style="font-size:12px;"><b><span style="color:#FF9900;"></span></b></span><span style="font-size:12px;"><strong><span style="color:#FF9900;">大アップ!!</span></strong></span>
                                                </p>
                                                <p>
                                                    <span style="font-size:12px;"><strong>
                                                        <img alt=""
                                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/35210/content_critical_bonus_icon.png"
                                                             style="width: 16px;
                                                                    height: 16px">
                                                    </strong>ボーナス付き!!</span>
                                                </p>
                                            </td>
                                            <td style="border:1px #506070 solid;
                                                       border-collapse: collapse;
                                                       text-align: left;
                                                       padding: 4px">
                                                <p style="text-align: center;">
                                                    <strong><span style="font-size:12px;">魔鏡は<span style="color:#FF9900;">攻略戦ボーナス</span>最大<span style="color:#FF9900;">+50.0%</span>増加！</span></strong>
                                                </p>
                                                <p style="text-align: center;">
                                                    <span style="font-size:12px;"><strong>イベントクリティカルボーナス
                                                        <img alt=""
                                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/35210/content_critical_bonus_icon.png"
                                                             style="width: 16px;
                                                                    height: 16px">
                                                    が最大100%上昇！</strong></span>
                                                </p>
                                                <p style="text-align: center;">
                                                    <span style="font-size:11px;"><span style="font-size:11px;">
                                                        <img alt=""
                                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/39329/content_22610002.png"
                                                             style="width: 80px;
                                                                    height: 80px">
                                                    </span></span>
                                                </p>
                                                <p style="text-align: center;">
                                                    <strong><span style="font-size:12px;"><span style="font-size:12px;">鏡装は<span style="color:#FF9900;"></span><span style="color:#FF9900;"></span><span style="color:#FF9900;">攻略戦ボーナス</span><span style="color:#FF9900;"></span>最大<span style="color:#FF9900;">+30.0%</span>増加！</span></span></strong>
                                                </p>
                                                <p style="text-align: center;">
                                                    <span style="font-size:12px;"><strong>イベントクリティカルボーナス
                                                        <img alt=""
                                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/35210/content_critical_bonus_icon.png"
                                                             style="width: 16px;
                                                                    height: 16px">
                                                    が最大30％上昇！</strong></span>
                                                </p>
                                                <p style="text-align: center;">
                                                    <span style="font-size:11px;"><span style="font-size:11px;">
                                                        <img alt=""
                                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/39330/content_2265001.png"
                                                             style="width: 80px;
                                                                    height: 80px">
                                                    </span></span>
                                                </p>
                                                <p style="text-align: center;">
                                                    <strong><span style="font-size:12px;"><span style="font-size:12px;">★4装備は<span style="color:#FF9900;"></span><span style="color:#FF9900;"></span><span style="color:#FF9900;">攻略戦ボーナス</span><span style="color:#FF9900;"></span>最大<span style="color:#FF9900;"><span style="color:#FF9900;">+5.0%</span></span>増加！</span></span></strong>
                                                </p>
                                                <p style="text-align: center;">
                                                    <span style="font-size:12px;"><strong>イベントクリティカルボーナス
                                                        <img alt=""
                                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/35210/content_critical_bonus_icon.png"
                                                             style="width: 16px;
                                                                    height: 16px">
                                                    が最大15%上昇！</strong></span>
                                                </p>
                                                <p style="text-align: center;">
                                                    <span style="font-size:11px;"><span style="font-size:11px;">
                                                        <img alt=""
                                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/39331/content_2264001.png"
                                                             style="width: 80px;
                                                                    height: 80px">
                                                    </span></span><span style="font-size:11px;"><span style="font-size:11px;">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39332/content_2264002.png"
                                                         style="width: 80px;
                                                                height: 80px">
                                                </span></span><span style="font-size:11px;"><span style="font-size:11px;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/39333/content_2264003.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </span></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <strong><span style="font-size:12px;"><span style="font-size:12px;">★3装備は<span style="color:#FF9900;"></span><span style="color:#FF9900;"></span><span style="color:#FF9900;">攻略戦ボーナス</span><span style="color:#FF9900;"></span>最大<span style="color:#FF9900;"><span style="color:#FF9900;">+2.5%</span></span>増加！</span></span></strong>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;"><strong>イベントクリティカルボーナス
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/35210/content_critical_bonus_icon.png"
                                                     style="width: 16px;
                                                            height: 16px">
                                            が最大10%上昇！</strong></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:11px;"><span style="font-size:11px;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/39335/content_2263001.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </span></span><span style="font-size:11px;"><span style="font-size:11px;">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39336/content_2263002.png"
                                                 style="width: 80px;
                                                        height: 80px">
                                            <span style="font-size:11px;"><span style="font-size:11px;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/39337/content_2263003.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </span></span></span></span>
                                        </p>
                                        <p style="text-align: center;">&nbsp;</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">
                                        <p style="text-align: center;">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39325/content_43.png"
                                                 style="width: 100px;
                                                        height: 100px">
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:11px;"><strong>≪スタン≫</strong></span>
                                        </p>
                                        <p>
                                            <span style="font-size:12px;"><b>装備・魔鏡全て</b></span>
                                            <br>
                                            <span style="font-size:12px;"><b><span style="color:#FF9900;">攻略戦ボーナス</span></b></span>
                                        </p>
                                        <p>
                                            <span style="font-size:12px;"><b><span style="color:#FF9900;"></span></b></span><span style="font-size:12px;"><strong><span style="color:#FF9900;">大アップ!!</span></strong></span>
                                        </p>
                                        <p>
                                            <strong>新魔鏡・装備は</strong>
                                        </p>
                                        <p>
                                            <span style="font-size:12px;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/35210/content_critical_bonus_icon.png"
                                                     style="width: 16px;
                                                            height: 16px">
                                            ボーナス付き!!</span>
                                        </p>
                                        <p>
                                            <span style="font-size:12px;"><strong><span style="color:#FF9900;"></span></strong></span>
                                        </p>
                                    </td>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;"></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <strong><span style="font-size:12px;">オーバーレイ魔鏡は<span style="color:#FF9900;">攻略戦ボーナス</span><span style="color:#FF9900;"></span>最大<span style="color:#FF9900;">+100.0%</span>増加！</span></strong>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;"><span style="font-size:12px;"><strong>イベントクリティカルボーナス
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/35210/content_critical_bonus_icon.png"
                                                     style="width: 16px;
                                                            height: 16px">
                                            が最大100%上昇！</strong></span></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:11px;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/39338/content_4310005.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </span>
                                        </p>
                                        <p style="text-align: center;">
                                            <strong><span style="font-size:12px;">新鏡装は<span style="color:#FF9900;"></span><span style="color:#FF9900;"></span><span style="color:#FF9900;">攻略戦ボーナス</span><span style="color:#FF9900;"></span>最大<span style="color:#FF9900;">+30.0%</span>増加！</span></strong>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;"><span style="font-size:12px;"><strong>イベントクリティカルボーナス
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/35210/content_critical_bonus_icon.png"
                                                     style="width: 16px;
                                                            height: 16px">
                                            が最大30％上昇！</strong></span></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:11px;"><span style="font-size:11px;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/39341/content_435004.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <span style="font-size:11px;"><span style="font-size:11px;"></span></span></span></span>
                                            </p>
                                            <p style="text-align: center;">
                                                <span style="font-size:12px;">精霊装は<b><span style="color:#FF9900;">攻略戦ボーナス</span></b><strong><span style="color:#FF9900;"></span></strong>最大<span style="color:#FF9900;"><strong>+12.5%</strong></span>増加！</span>
                                            </p>
                                            <p style="text-align: center;">
                                                <span style="font-size:11px;"> <span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39409/content_4311001.png"
                                                         style="width: 80px;
                                                                height: 80px">
                                                </span></span></span></span>&nbsp;<span style="font-size:11px;"></span></span>
                                            </p>
                                            <p style="text-align: center;">
                                                <span style="font-size:11px;"></span><span style="font-size:12px;"></span>
                                            </p>
                                            <p style="text-align: center;">
                                                <span style="font-size:12px;">魔鏡は<b><span style="color:#FF9900;">攻略戦ボーナス</span></b><strong><span style="color:#FF9900;"></span></strong>最大<span style="color:#FF9900;"><strong>+7.5%</strong></span>増加！</span>
                                            </p>
                                            <p style="text-align: center;">
                                                <span style="font-size:11px;">&nbsp;<span style="font-size:11px;">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39401/content_4310002.png"
                                                         style="width: 80px;
                                                                height: 80px">
                                                    <span style="font-size:11px;"><span style="font-size:11px;">
                                                        <img alt=""
                                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/39406/content_4310003.png"
                                                             style="width: 80px;
                                                                    height: 80px">
                                                        <span style="font-size:11px;">
                                                            <img alt=""
                                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39413/content_4310004.png"
                                                                 style="width: 80px;
                                                                        height: 80px">
                                                        </span></span></span></span></span>
                                                    </p>
                                                    <p style="text-align: center;">
                                                        <span style="font-size:11px;"></span>
                                                    </p>
                                                    <p style="text-align: center;">
                                                        <span style="font-size:11px;"></span>
                                                    </p>
                                                    <p style="text-align: center;">
                                                        <span style="font-size:11px;"></span><span style="font-size:12px;"></span>
                                                    </p>
                                                    <p style="text-align: center;">
                                                        <span style="font-size:12px;">鏡装は<b><span style="color:#FF9900;">攻略戦ボーナス</span></b><strong><span style="color:#FF9900;"></span></strong>最大<span style="color:#FF9900;"><strong>+5.0%</strong></span>増加！</span>
                                                    </p>
                                                    <p style="text-align: center;">
                                                        <span style="font-size:11px;"></span>
                                                    </p>
                                                    <p style="text-align: center;">
                                                        <img alt=""
                                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/39405/content_435001.png"
                                                             style="width: 80px;
                                                                    height: 80px">
                                                        <img alt=""
                                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/39407/content_435002.png"
                                                             style="width: 80px;
                                                                    height: 80px">
                                                        <img alt=""
                                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/39412/content_435003.png"
                                                             style="width: 80px;
                                                                    height: 80px">
                                                    </p>
                                                    <p style="text-align: center;">
                                                        <span style="font-size:11px;"></span>
                                                    </p>
                                                    <p style="text-align: center;">
                                                        <span style="font-size:12px;">★4装備は<b><span style="color:#FF9900;">攻略戦ボーナス</span></b><strong><span style="color:#FF9900;"></span></strong>最大<span style="color:#FF9900;"><span style="color:#FF9900;"><strong>+2.5%</strong></span></span>増加！</span>
                                                    </p>
                                                    <p style="text-align: center;">
                                                        <span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;">
                                                            <img alt=""
                                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39402/content_434002.png"
                                                                 style="width: 80px;
                                                                        height: 80px">
                                                        </span></span>
                                                        <img alt=""
                                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/39393/content_434003.png"
                                                             style="width: 80px;
                                                                    height: 80px">
                                                    </span>
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39394/content_434004.png"
                                                         style="width: 80px;
                                                                height: 80px">
                                                </span>
                                            </p>
                                            <p style="text-align: center;">
                                                <span style="font-size:12px;">★3装備は<b><span style="color:#FF9900;">攻略戦ボーナス</span></b>最大<span style="color:#FF9900;"><span style="color:#FF9900;"><strong>+1.3%</strong></span></span>増加！</span>
                                            </p>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/39395/content_433001.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/39396/content_433003.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/39397/content_433005.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/39398/content_433007.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/39399/content_433008.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/39400/content_433009.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                            <p style="text-align: center;">&nbsp;</p>
                                            <p style="text-align: center;">
                                                <span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;"></span></span></span></span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid rgb(80, 96, 112);
                                                   border-collapse: collapse;
                                                   padding: 4px">
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/39326/content_6.png"
                                                     style="width: 100px;
                                                            height: 100px">
                                            </p>
                                            <p style="text-align: center;">
                                                <span style="font-size:11px;"><strong>≪リオン≫</strong></span>
                                            </p>
                                            <p>
                                                <span style="font-size:12px;"><b>装備・魔鏡全て</b></span>
                                            </p>
                                            <p>
                                                <span style="font-size:12px;"><b><span style="color:#FF9900;">攻略戦ボーナス</span></b></span>
                                            </p>
                                            <p>
                                                <span style="font-size:12px;"><b><span style="color:#FF9900;"></span></b></span><span style="font-size:12px;"><strong><span style="color:#FF9900;">大アップ!!</span></strong></span>
                                            </p>
                                            <p>
                                                <strong>新魔鏡・装備は</strong>
                                            </p>
                                            <p>
                                                <span style="font-size:12px;">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35210/content_critical_bonus_icon.png"
                                                         style="width: 16px;
                                                                height: 16px">
                                                ボーナス付き!!</span>
                                            </p>
                                            <p>
                                                <span style="font-size:12px;"><span style="font-size:12px;"><strong><span style="color:#FF9900;"></span></strong></span></span>
                                            </p>
                                            <p>
                                                <span style="font-size:12px;"></span>
                                            </p>
                                            <p style="text-align: center;">
                                                <span style="font-size:12px;"></span>
                                            </p>
                                        </td>
                                        <td style="border:1px #506070 solid;
                                                   border-collapse: collapse;
                                                   text-align: left;
                                                   padding: 4px">
                                            <p style="text-align: center;">
                                                <span style="font-size:12px;"></span>
                                            </p>
                                            <p style="text-align: center;">
                                                <span style="font-size:12px;"></span>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong><span style="font-size:12px;">オーバーレイ魔鏡は<span style="color:#FF9900;">攻略戦ボーナス</span>最大<span style="color:#FF9900;">+100.0%</span>増加！</span></strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <span style="font-size:12px;"><span style="font-size:12px;"><strong>イベントクリティカルボーナス
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35210/content_critical_bonus_icon.png"
                                                         style="width: 16px;
                                                                height: 16px">
                                                が最大100%上昇！</strong></span></span>
                                            </p>
                                            <p style="text-align: center;">
                                                <span style="font-size:11px;"><span style="font-size:11px;">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39340/content_610005.png"
                                                         style="width: 80px;
                                                                height: 80px">
                                                </span></span>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong><span style="font-size:12px;">新鏡装は<span style="color:#FF9900;"></span><span style="color:#FF9900;"></span><span style="color:#FF9900;">攻略戦ボーナス</span><span style="color:#FF9900;"></span>最大<span style="color:#FF9900;">+30.0%</span>増加！</span></strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <span style="font-size:12px;"><span style="font-size:12px;"><strong>イベントクリティカルボーナス
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35210/content_critical_bonus_icon.png"
                                                         style="width: 16px;
                                                                height: 16px">
                                                が最大30％上昇！</strong></span></span>
                                            </p>
                                            <p style="text-align: center;">
                                                <span style="font-size:11px;"><span style="font-size:11px;">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39342/content_65004.png"
                                                         style="width: 80px;
                                                                height: 80px">
                                                </span></span>
                                            </p>
                                            <p style="text-align: center;">
                                                <span style="font-size:12px;">精霊装は<b><span style="color:#FF9900;">攻略戦ボーナス</span></b><strong><span style="color:#FF9900;"></span></strong>最大<span style="color:#FF9900;"><strong>+12.5%</strong></span>増加！</span>
                                            </p>
                                            <p style="text-align: center;">
                                                <span style="font-size:11px;"> <span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39410/content_611001.png"
                                                         style="width: 80px;
                                                                height: 80px">
                                                </span></span></span></span>&nbsp;</span>
                                            </p>
                                            <p style="text-align: center;">
                                                <span style="font-size:11px;"></span><span style="font-size:12px;"></span>
                                            </p>
                                            <p style="text-align: center;">
                                                <span style="font-size:12px;">魔鏡は<b><span style="color:#FF9900;">攻略戦ボーナス</span></b><strong><span style="color:#FF9900;"></span></strong>最大<span style="color:#FF9900;"><strong>+7.5%</strong></span>増加！</span>
                                            </p>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/39440/content_610002.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <span style="font-size:11px;">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39444/content_610003.png"
                                                         style="width: 80px;
                                                                height: 80px">
                                                </span>
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/39443/content_610004.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                            <p style="text-align: center;">
                                                <span style="font-size:11px;"></span>
                                            </p>
                                            <p style="text-align: center;">
                                                <span style="font-size:11px;"></span>
                                            </p>
                                            <p style="text-align: center;">
                                                <span style="font-size:11px;"></span><span style="font-size:12px;"></span>
                                            </p>
                                            <p style="text-align: center;">
                                                <span style="font-size:12px;">鏡装は<b><span style="color:#FF9900;">攻略戦ボーナス</span></b><strong><span style="color:#FF9900;"></span></strong>最大<span style="color:#FF9900;"><strong>+5.0%</strong></span>増加！</span>
                                            </p>
                                            <p style="text-align: center;">
                                                <span style="font-size:11px;"></span>
                                            </p>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/39441/content_65001.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/39411/content_65002.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/39442/content_65003.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                            <p style="text-align: center;">
                                                <span style="font-size:11px;"></span>
                                            </p>
                                            <p style="text-align: center;">
                                                <span style="font-size:12px;">★4装備は<b><span style="color:#FF9900;"></span><span style="color:#FF9900;"></span><span style="color:#FF9900;">攻略戦ボーナス</span></b><strong><span style="color:#FF9900;"></span></strong>最大<span style="color:#FF9900;"><span style="color:#FF9900;"><strong>+2.5%</strong></span></span>増加！</span>
                                            </p>
                                            <p style="text-align: center;">
                                                <span style="font-size:11px;">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39438/content_64001.png"
                                                         style="width: 80px;
                                                                height: 80px">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39439/content_64002.png"
                                                         style="width: 80px;
                                                                height: 80px">
                                                </span><span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/39404/content_64004.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </span></span></span></span></span></span></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;">★3装備は<b><span style="color:#FF9900;">攻略戦ボーナス</span></b><strong><span style="color:#FF9900;"></span></strong>最大<span style="color:#FF9900;"><span style="color:#FF9900;"><strong>+1.3%</strong></span></span>増加！</span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:11px;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/39432/content_63003.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/39433/content_63004.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </span>
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39434/content_63005.png"
                                                 style="width: 80px;
                                                        height: 80px">
                                        </p>
                                        <p style="text-align: center;">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39435/content_63006.png"
                                                 style="width: 80px;
                                                        height: 80px">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39436/content_63007.png"
                                                 style="width: 80px;
                                                        height: 80px">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39437/content_63009.png"
                                                 style="width: 80px;
                                                        height: 80px">
                                        </p>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <p style="text-align: center;">
                                            <span style="font-size:11px;"></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:11px;"></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;"></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;"></span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">
                                        <p style="text-align: center;">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39327/content_5.png"
                                                 style="width: 100px;
                                                        height: 100px">
                                            <span style="font-size:12px;"></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:11px;"><strong>≪ルーティ≫</strong></span>
                                        </p>
                                        <p>
                                            <span style="font-size:12px;"><b>装備・魔鏡全て</b></span>
                                            <br>
                                            <span style="font-size:12px;"><b><span style="color:#FF9900;"></span></b></span><span style="font-size:12px;"><b><span style="color:#FF9900;">攻略戦ボーナス</span></b></span>
                                        </p>
                                        <p>
                                            <span style="font-size:12px;"><b><span style="color:#FF9900;"></span></b></span><span style="font-size:12px;"><span style="font-size:12px;"><strong><span style="color:#FF9900;">大アップ!!</span></strong></span></span>
                                        </p>
                                        <p>
                                            <strong>新魔鏡・装備は</strong>
                                        </p>
                                        <p>
                                            <span style="font-size:12px;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/35210/content_critical_bonus_icon.png"
                                                     style="width: 16px;
                                                            height: 16px">
                                            ボーナス付き!!</span>
                                        </p>
                                        <p>
                                            <span style="font-size:12px;"><strong><span style="color:#FF9900;"></span></strong></span>
                                        </p>
                                    </td>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;"></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;"></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <strong><span style="font-size:12px;">オーバーレイ魔鏡は<span style="color:#FF9900;">攻略戦ボーナス</span>最大<span style="color:#FF9900;">+100.0%</span>増加！</span></strong>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;"><span style="font-size:12px;"><strong>イベントクリティカルボーナス
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/35210/content_critical_bonus_icon.png"
                                                     style="width: 16px;
                                                            height: 16px">
                                            が最大100%上昇！</strong></span></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:11px;"><span style="font-size:11px;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/39339/content_510005.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </span></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <strong><span style="font-size:12px;">新鏡装は<span style="color:#FF9900;"></span><span style="color:#FF9900;"></span><span style="color:#FF9900;">攻略戦ボーナス</span><span style="color:#FF9900;"></span>最大<span style="color:#FF9900;">+30.0%</span>増加！</span></strong>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;"><span style="font-size:12px;"><strong>イベントクリティカルボーナス
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/35210/content_critical_bonus_icon.png"
                                                     style="width: 16px;
                                                            height: 16px">
                                            が最大30％上昇！</strong></span></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:11px;"><span style="font-size:11px;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/39343/content_55004.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </span></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:11px;"></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;">魔鏡は<b><span style="color:#FF9900;"></span><span style="color:#FF9900;"></span><span style="color:#FF9900;">攻略戦ボーナス</span></b><strong><span style="color:#FF9900;"></span></strong>最大<span style="color:#FF9900;"><strong>+7.5%</strong></span>増加！</span>
                                        </p>
                                        <p style="text-align: center;">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39431/content_510002.png"
                                                 style="width: 80px;
                                                        height: 80px">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39424/content_510003.png"
                                                 style="width: 80px;
                                                        height: 80px">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39430/content_510004.png"
                                                 style="width: 80px;
                                                        height: 80px">
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:11px;"></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:11px;"></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:11px;"></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;">鏡装は<b><span style="color:#FF9900;"></span><span style="color:#FF9900;"></span><span style="color:#FF9900;">攻略戦ボーナス</span></b><strong><span style="color:#FF9900;"></span></strong>最大<span style="color:#FF9900;"><strong>+5.0%</strong></span>増加！</span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:11px;"></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39423/content_55001.png"
                                                 style="width: 80px;
                                                        height: 80px">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39427/content_55002.png"
                                                 style="width: 80px;
                                                        height: 80px">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39429/content_55003.png"
                                                 style="width: 80px;
                                                        height: 80px">
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:11px;"></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;">★4装備は<b><span style="color:#FF9900;"></span><span style="color:#FF9900;"></span><span style="color:#FF9900;">攻略戦ボーナス</span></b><strong><span style="color:#FF9900;"></span></strong>最大<span style="color:#FF9900;"><span style="color:#FF9900;"><strong>+2.5%</strong></span></span>増加！</span>
                                        </p>
                                        <p style="text-align: center;">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39420/content_54001.png"
                                                 style="width: 80px;
                                                        height: 80px">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39421/content_54002.png"
                                                 style="width: 80px;
                                                        height: 80px">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39403/content_54003.png"
                                                 style="width: 80px;
                                                        height: 80px">
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;">★3装備は<b><span style="color:#FF9900;"></span><span style="color:#FF9900;"></span><span style="color:#FF9900;">攻略戦ボーナス</span></b><strong><span style="color:#FF9900;"></span></strong>最大<span style="color:#FF9900;"><span style="color:#FF9900;"><strong>+1.3%</strong></span></span>増加！</span>
                                        </p>
                                        <p style="text-align: center;">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39414/content_53001.png"
                                                 style="width: 80px;
                                                        height: 80px">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39415/content_53002.png"
                                                 style="width: 80px;
                                                        height: 80px">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39416/content_53003.png"
                                                 style="width: 80px;
                                                        height: 80px">
                                        </p>
                                        <p style="text-align: center;">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39417/content_53004.png"
                                                 style="width: 80px;
                                                        height: 80px">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39418/content_53005.png"
                                                 style="width: 80px;
                                                        height: 80px">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39419/content_53006.png"
                                                 style="width: 80px;
                                                        height: 80px">
                                        </p>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <p style="text-align: center;">
                                            <span style="font-size:11px;"></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:11px;"></span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">
                                        <p>
                                            <span style="font-size:12px;"></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;"><strong>≪上記以外の</strong></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;"><strong>キャラクター≫</strong></span>
                                        </p>
                                        <p>
                                            <span style="font-size:12px;"><b>装備・魔鏡全て</b></span>
                                        </p>
                                        <p>
                                            <span style="font-size:12px;"><b><span style="color:#FF9900;">攻略戦ボーナス</span></b></span>
                                        </p>
                                        <p>
                                            <span style="font-size:12px;">付き!!</span>
                                        </p>
                                        <p>
                                            <span style="font-size:12px;"></span>
                                        </p>
                                    </td>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;">精霊装</span><span style="font-size: 12px;"><span style="font-size:12px;"><span style="font-size: 12px;"><span style="font-size:12px;">は<span style="font-size:12px;"></span></span></span><span style="font-size:11px;"><b><span style="color:#FF9900;"></span></b><span style="font-size:11px;"><span style="font-size:11px;"><b><span style="color:#FF9900;"></span></b><span style="font-size:11px;"><b><span style="color:#FF9900;">攻略戦ボーナス</span></b></span><strong><span style="color:#FF9900;"></span></strong></span></span>最大<span style="color:#FF9900;"><strong>+6.0%</strong></span>増加！</span></span></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size: 12px;"><span style="font-size:12px;"><span style="font-size:11px;"></span>魔鏡は<span style="font-size:12px;"></span></span></span><span style="font-size:11px;"><b><span style="color:#FF9900;"></span></b><span style="font-size:11px;"><span style="font-size:11px;"><b><span style="color:#FF9900;"></span></b><span style="font-size:11px;"><b><span style="color:#FF9900;">攻略戦ボーナス</span></b></span><strong><span style="color:#FF9900;"></span></strong></span></span>最大<span style="color:#FF9900;"><strong>+3.0%</strong></span>増加！</span><span style="font-size:12px;"></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size: 12px;">鏡装は<span style="font-size:12px;"></span></span><span style="font-size:11px;"><b><span style="color:#FF9900;"></span></b><span style="font-size:11px;"><span style="font-size:11px;"><b><span style="color:#FF9900;"></span></b><span style="font-size:11px;"><b><span style="color:#FF9900;">攻略戦ボーナス</span></b></span><strong><span style="color:#FF9900;"></span></strong></span></span>最大<span style="color:#FF9900;"><strong>+2.0%</strong></span>増加！</span><span style="font-size:12px;"></span><span style="font-size:12px;"></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;">★4装備は<span style="font-size:12px;"></span><span style="font-size:11px;"><b><span style="color:#FF9900;"></span></b><span style="font-size:11px;"><span style="font-size:11px;"><b><span style="color:#FF9900;"></span></b><span style="font-size:11px;"><b><span style="color:#FF9900;">攻略戦ボーナス</span></b></span><strong><span style="color:#FF9900;"></span></strong></span></span>最大<span style="color:#FF9900;"><strong>+1.0%</strong></span>増加！</span><span style="font-size:12px;"><span style="font-size:12px;"></span></span></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size: 12px;">★3装備は</span><span style="font-size:11px;"><b><span style="color:#FF9900;"></span></b><span style="font-size:11px;"><span style="font-size:11px;"><b><span style="color:#FF9900;"></span></b><span style="font-size:11px;"><b><span style="color:#FF9900;">攻略戦ボーナス</span></b></span><strong><span style="color:#FF9900;"></span></strong></span></span>最大<span style="color:#FF9900;"><strong>+0.5%</strong></span>増加！</span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid rgb(80, 96, 112);
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px;
                                               background-color: rgb(48, 64, 64)">
                                        <span style="font-size:12px;">≪注意事項≫</span>
                                    </td>
                                    <td style="border: 1px solid rgb(80, 96, 112);
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px;
                                               background-color: rgb(48, 64, 64)">
                                        <section>
                                            <p>
                                                <span style="font-size:11px;"></span>
                                            </p>
                                            <p>
                                                <span style="font-size:11px;">※開催中のガシャから排出される装備については</span>
                                            </p>
                                            <p>
                                                <span style="font-size:11px;">「『ミクトラン攻略戦 天上の暴君』ガシャ開催!!」のお知らせをご確認ください。</span>
                                            </p>
                                            <p>
                                                <span style="font-size:11px;">※攻略戦ボーナス一覧の表には</span>
                                            </p>
                                            <p>
                                                <span style="font-size:11px;">過去に開催したイベントまたはかめにんショップ限定でのみ入手可能の限定の装備が含まれています。</span>
                                            </p>
                                            <p>
                                                <span style="font-size:11px;">※コラボイベント及びコラボガシャでのみ入手可能の装備・魔鏡にも</span>
                                            </p>
                                            <p>
                                                <span style="font-size:11px;">ボーナスが設定されています。</span>
                                            </p>
                                            <p>
                                                <span style="font-size:11px;">※クロスオーバー魔鏡は、</span><span style="font-size:11px;">専用魔鏡技が発動できるすべてのキャラクターで同様のボーナスが設定されます。</span>
                                            </p>
                                            <p>
                                                <span style="font-size:11px;">※オート魔鏡技にセットした魔鏡では、攻略戦ボーナスは発生しません。</span>
                                            </p>
                                            <p>
                                                <span style="font-size:11px;">※ステータスの「クリティカル」は100分率ではなく、クリティカル値1につき発生率が1%上がるものではありません。</span>
                                            </p>
                                            <p>
                                                <span style="font-size:11px;">※クリティカル発生率は、敵によっても変化します。</span>
                                            </p>
                                            <p>
                                                <span style="font-size:11px;"></span><span style="font-size:11px;"></span>
                                            </p>
                                        </section>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p>&nbsp;</p>
                    <hr>
                    <p>
                        <span style="font-size:16px;"><strong>◆イベント限定装備◆</strong></span>
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/39274/content_22033105.jpg"
                             style="width: 100%">
                    </p>
                    <section>
                        <ul class="box">
                            <li>
                                レアリティ：<strong><span style="color:#FF4747;">★4</span></strong>　術技:<font color="#ff4747"><b>ホーリーランス</b></font>&nbsp;<span style="color:#FF4747;"></span>威力：<strong><span style="color:#FF4747;">515</span></strong>
                            </li>
                            <li style="text-align:right;float:right">
                                <span style="font-size:12px;"><b>ミクトラン</b>専用</span>
                            </li>
                        </ul>
                        <div class="frame1">
                            <strong>効果内容</strong>
                            <div data-stringify-type="pre">聖なる槍を具現化し、敵を断罪する術</div>
                        </div>
                    </section>
                    <hr>
                    <div class="frame2">
                        <p style="text-align: center;">《&nbsp;注意事項&nbsp;》</p>
                        <p class="indent">
                            <span style="font-size:11px;">・イベントで初登場するキャラ/装備は、再度登場する場合がございます。</span>
                        </p>
                        <p class="indent">
                            <span style="font-size:11px;">・イベント専用シナリオでは、APオーブは獲得できません。</span>
                        </p>
                        <p class="indent">
                            <span style="font-size:11px;"></span><span style="font-size:11px;">・個人報酬は、累計個人討伐ポイントを参照します。</span><span style="font-size:11px;"></span>
                        </p>
                        <p class="indent">
                            <span style="font-size:11px;">・イベント期間終了後にクエストをクリアした場合は
                                <br>
                            装備の攻略戦ボーナス分のボーナスは獲得できません。</span>
                        </p>
                        <p class="indent">
                            <span style="font-size:11px;">・お知らせに掲載されている内容は</span>
                        </p>
                        <p class="indent">
                            <span style="font-size:11px;">予告なく変更することがございます。</span>
                        </p>
                    </div>

                </div>
            </section>
        </section>
    </section>
</div>
</body>
</html>
