<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <span style="font-size:18px;"><strong>オーバーレイ魔鏡技について</strong></span>
            </p>
            <hr>
            <section>
                <p style="text-align: center;">
                    <span style="font-size:14px;"></span><span style="font-size:14px;"><strong><font color="#ff4747">スタン</font>の<span style="color:#FF4747;">オーバーレイ魔鏡</span><span style="color:#FF4747;">!!</span></strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong><font color="#ff4747">スタン</font>のオーバーレイ魔鏡は魔鏡技後の一定時間、
                        <br>
                        <span style="color:#FF4747;">敵へののけぞり時間が増加する</span>を付与！</strong></span>
                        <br>
                        <span style="font-size:12px;">※サポートで使用した場合オーバーレイ魔鏡の特殊効果は発動しません。</span>
                    </p>
                    <p style="text-align: center;">
                        <span style="font-size:12px;">※上記の効果を発動させるには、術技強化が必要となります。​</span>
                    </p>
                    <p style="text-align: center;">
                        <span style="font-size:11px;"></span>
                    </p>
                    <p style="text-align: center;">
                        <span style="font-size:11px;"></span>
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/39522/content_2203233.png"
                             style="width: 100%">
                    </p>
                    <hr>
                    <p style="text-align: center;">
                        <span style="font-size:14px;"><span style="font-size:14px;"><span style="color:#FF4747;"></span></span></span>
                    </p>
                    <p style="text-align: center;">
                        <span style="font-size:14px;"><strong><font color="#ff4747">リオン</font>の<span style="color:#FF4747;">オーバーレイ魔鏡</span><span style="color:#FF4747;">!!</span></strong></span>
                    </p>
                    <p style="text-align: center;">
                        <span style="font-size:14px;"></span>
                    </p>
                    <p style="text-align: center;">
                        <span style="font-size:14px;"><strong><font color="#ff4747">リオン</font>のオーバーレイ魔鏡は魔鏡技後の一定時間、
                            <br>
                            <span style="color:#FF4747;">敵へののけぞり時間が増加する</span>を付与！</strong></span>
                            <br>
                            <span style="font-size:12px;">※サポートで使用した場合オーバーレイ魔鏡の特殊効果は発動しません。</span>
                        </p>
                        <p style="text-align: center;">
                            <span style="font-size:12px;">※上記の効果を発動させるには、術技強化が必要となります。​</span>
                        </p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39523/content_2203234.png"
                                 style="width: 100%">
                        </p>
                        <hr>
                        <p style="text-align: center;">
                            <span style="font-size:14px;"></span>
                        </p>
                        <p style="text-align: center;">
                            <span style="font-size:14px;"><span style="color:#FF4747;"><strong>ルーティ</strong></span><strong>の<span style="color:#FF4747;">オーバーレイ魔鏡が登場!!</span></strong></span>
                        </p>
                        <p style="text-align: center;">
                            <span style="font-size:14px;"></span>
                        </p>
                        <p style="text-align: center;">
                            <span style="font-size:14px;"><span style="color:#FF4747;"><strong>ルーティ</strong></span>のオーバーレイ魔鏡は<strong>魔鏡技後の一定時間、</strong>
                            <br>
                            <strong><span style="color:#FF4747;">味方全体にMGが少しずつ回復する効果</span>が発生！</strong></span>
                    </p>
                    <p style="text-align: center;">
                        <span style="font-size:12px;">※発動者以外の味方のMG回復量は発動者の1/3程度となります。
                            <br>
                        上記の効果を発動させるには、術技強化が必要となります。​</span>
                    </p>
                    <p style="text-align: center;">
                        <span style="font-size:11px;"></span>
                    </p>
                    <p style="text-align: center;">
                        <span style="font-size:11px;"></span>
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/39524/content_2203235.png"
                             style="width: 100%">
                    </p>
                </section>
            </div>

        </body>
    </html>
