<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/39525/content_2203285.png"
                     style="margin: 10px auto;
                            width: 100%">
            </p>
            <hr>
            <p style="text-align: center;">
                <span style="font-size:14px;"></span><span style="font-size:16px;"><strong style="color: rgb(255, 153, 0);">『復刻機能追加記念』ステップアップガシャ</strong></span>が開催!!
                <br>
                &nbsp;
            </p>
            <p style="font-weight: bold; text-align: center;">◆開催期間◆</p>
            <p>
                <span style="color:#FF4747;"><span style="color:#FF4747;"><strong>2022/3/31(木) 14:00</strong></span><strong>&nbsp;～&nbsp;2022/4/10(日) 10:59</strong></span>
            </p>
            <p>&nbsp;</p>
            <p>
                <span style="font-size:14px;"><strong>『復刻機能追加記念』ステップアップガシャ</strong>では、
                    <br>
                    <strong>下記キャラクターの</strong></span><span style="font-size:16px;"><strong><span style="color:#FF4747;">装備・</span><span style="color:#FF4747;">魔鏡</span></strong></span><span style="font-size:14px;"><strong>のみが出現!!</strong></span>
                    <br>
                    &nbsp;
                </p>
                <p style="text-align: center;">
                    <strong style="font-size: 14px;">マルタ、プレセア、すず、セルシウス、クラース、ジューダス、ロニの季節魔鏡には</strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:18px;"><span style="color:#FF9900;"><strong>限定キャラカスタム</strong></span></span><span style="font-size:14px;">がセットに！</span>
                </p>
                <p>
                    <span style="font-size:14px;"></span>
                </p>
                <div class="frame1" style="text-align: center;">
                    <strong>このガシャから装備・魔鏡が出現する対象キャラ</strong>
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39344/content_13.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39345/content_170.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39346/content_172.png"
                         style="width: 100px;
                                height: 100px">
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39348/content_179.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39347/content_136.png"
                         style="width: 100px;
                                height: 100px">
                    <br>
                    <strong>このガシャから装備・季節魔鏡が出現する対象キャラ</strong>
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39349/content_72.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39350/content_129.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39351/content_133.png"
                         style="width: 100px;
                                height: 100px">
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39353/content_99.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39352/content_85.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39354/content_57.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39355/content_134.png"
                         style="width: 100px;
                                height: 100px">
                </div>
                <p>&nbsp;</p>
                <p>
                    <strong>◆STEPごとの注目ポイント◆</strong>
                </p>
                <p>
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/19385/content_1912311.jpg"
                             style="width: 80%">
                    </strong>
                </p>
                <hr>
                <section>
                    &nbsp;
                </section>
                <section>
                    <div class="frame2">
                        <p style="text-align:center;">《&nbsp;注意事項&nbsp;》</p>
                        <p>
                            <span style="font-size:11px;"></span><span style="font-size:11px;">・本ガシャはSTEP1は無料、STEP2～5は鏡晶石のみで実行できます。
                                <br>
                                ・ステップアップガシャは、本ガシャの実行によって
                                <br>
                                　さらに次のSTEPを実行することができるようになります。
                                <br>
                                ・本ガシャはSTEP5を実行するとSTEP数がリセットされ、STEP1に戻ります。
                                <br>
                                　リセット可能数はお一人様2回限りとなります。
                                <br>
                                ・全てのガシャの抽選は、各STEPに応じた提供割合に準じます。
                                <br>
                                ・全てのSTEPを実行した時点でガシャは実行不能となります。
                                <br>
                                ・本ガシャでは、GRADE SHOP機能は対象外となります。
                                <br>
                                ・各種ボーナスの効果は、該当のイベント開催時のみ発動します。
                                <br>
                                ・各種ボーナスが発動する魔鏡・装備の一覧は、
                                <br>
                                　該当イベントのお知らせをご確認ください。
                                <br>
                                ・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。
                                <br>
                                ・それぞれの提供割合は、小数第4位を四捨五入して表示しているため、
                                <br>
                                　合計値が100％にならない場合がございます。
                                <br>
                                ・期間限定の魔鏡・装備・キャラカスタムは再登場する場合がございます。
                                <br>
                                ・表示されているステータス・効果・各種ボーナスは、最大強化後の値となります。
                                <br>
                                ・限定キャラカスタムを先に限定キャラカスタム付き魔鏡以外から入手した場合、
                                <br>
                                　限定キャラカスタム付き魔鏡で複数入手はできません。
                                <br>
                                ・限定キャラカスタム付き魔鏡でキャラカスタムを入手した場合、
                                <br>
                                　その他入手導線での入手はできません。
                                <br>
                                ・限定キャラカスタム付き魔鏡で手に入る同一の限定キャラカスタムは
                                <br>
                                　複数入手することはできません。
                                <br>
                                ・登場キャラクターの実装済みの魔鏡・装備でも
                                <br>
                                　本ガシャに含まれない場合がございます。
                                <br>
                            　出現する装備・魔鏡につきましては、ガシャ内訳をご確認ください。</span>
                        </p>
                    </div>
                </section>
            </div>

        </body>
    </html>
