<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <span style="font-size: 18px;"><b>プライバシーポリシー更新のお知らせ</b></span><span style="font-size:18px;"></span>
            </p>
            <!-- 仕切り -->
            <hr>
            <section>
                <p style="text-align: center;">
                    <span style="font-size:14px;"></span>
                </p>
                <p style="font-weight: bold; text-align: center;">&nbsp;</p>
                <p style="text-align: center;">『TALES OF THE RAYS』をご利用いただき誠にありがとうございます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">2022年4月1日付で、</p>
                <p style="text-align: center;">
                    本サービスのプライバシーポリシーの改定をさせていただきます。
                    <br>
                    本改定により、本サービスには、
                </p>
                <p style="text-align: center;">
                    以下改定後のプライバシーポリシーが適用されます。
                    <br>
                    <a href="https://legal.bandainamcoent.co.jp/privacy/pro_jp"><strong>https://legal.bandainamcoent.co.jp/privacy/pro_jp</strong></a>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    あらかじめ改定内容をご確認いただくようにお願いいたします。
                    <br>
                    改定後のプライバシーポリシーに同意いただけない場合、
                </p>
                <p style="text-align: center;">改定日までに本サービスの利用を停止してください。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">尚、2022年3月31日までは、</p>
                <p style="text-align: center;">現行のプライバシーポリシーが適用されます。</p>
                <p style="text-align: center;">
                    <a href="https://legal.bandainamcoent.co.jp/privacy/jp"><strong>https://legal.bandainamcoent.co.jp/privacy/jp</strong></a>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">ないようがわからないかたはおうちのひとにがめんをみせてください</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    引き続き『TALES OF THE RAYS』をよろしくお願い申し上げます。<span style="font-size:16px;"></span>
                </p>
                <section>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">&nbsp;</p>

                </section>
            </section>
        </div>
    </body>
</html>
