<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- キャラカスタムTOP訴求画像orバナー -->
            </p>
            <center><strong>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/39511/content_22033108.png"
                     style="width: 296px;
                            height: 96px">
            </strong></center>
            <hr>
            <section>
                <p style="text-align: center;">
                    『<font color="#ff4747"><b>キャラカスタム</b></font>』に
                </p>
            </section>
            <section>
                <p style="text-align: center;">
                    <b>ミクトラン、スタン、リオン、ルーティ</b>の<strong>キャラカスタム</strong>が登場!!
                </p>
                <p style="text-align: center;">この機会に入手して、自分だけのカスタマイズを楽しもう!!</p>
                <hr>
                <p style="text-align: center;">
                    <strong>追加キャラカスタムアイテム一覧</strong>
                </p>
            </section>
            <section>
                <div class="frame1">
                    <p style="text-align: center;">
                        <strong>《衣装》</strong>
                    </p>
                    <p style="text-align: center;">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39515/content_226002.png"
                                 style="width: 108px;
                                        height: 108px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39512/content_43005.png"
                                 style="width: 108px;
                                        height: 108px">
                        </strong>
                    </p>
                    <p style="text-align: center;">ミクトラン：TOD 25th アニバーサリー衣装</p>
                    <p style="text-align: center;">スタン：TOD 25th アニバーサリー衣装</p>
                    <p style="text-align: center;">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39513/content_6005.png"
                                 style="width: 108px;
                                        height: 108px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/39514/content_5007.png"
                                 style="width: 108px;
                                        height: 108px">
                        </strong>
                    </p>
                    <p style="text-align: center;">リオン：TOD 25th アニバーサリー衣装</p>
                    <p style="text-align: center;">ルーティ：TOD 25th アニバーサリー衣装</p>
                </div>
                <p style="text-align: center;">
                    <b>ミクトラン、スタン、リオン、ルーティ</b>のキャラカスタムは
                </p>
                <p style="text-align: center;">
                    <strong>『ミクトラン攻略戦 天上の暴君』ガシャ</strong>
                </p>
                <p style="text-align: center;">
                    <strong>『オーバーレイ魔鏡登場記念』ステップアップガシャ</strong>
                </p>
                <p style="text-align: center;">
                    <strong>『ミクトラン登場記念』ステップアップガシャ</strong>
                </p>
                <p style="text-align: center;">
                    <strong>『ミクトラン確定チケットガシャ』</strong>
                </p>
                <p style="text-align: center;">
                    <strong>『スタン＆リオン＆ルーティ確定チケットガシャ』</strong>
                </p>
                <p style="text-align: center;">で入手可能!!</p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/39515/content_226002.png"
                             style="width: 108px;
                                    height: 108px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/39512/content_43005.png"
                             style="width: 108px;
                                    height: 108px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/39513/content_6005.png"
                             style="width: 108px;
                                    height: 108px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/39514/content_5007.png"
                             style="width: 108px;
                                    height: 108px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <br>
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/39516/content_220323.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/39542/content_220326.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/39543/content_220327.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/39519/content_220324.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/39521/content_220325.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">※詳細は</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">それぞれのお知らせをご確認ください</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">さらにミクトランの限定キャラカスタムは期間限定で</p>
                <p style="text-align: center;">プリズムでも入手が可能!!</p>
                <p style="text-align: center;">「売却・交換」&rArr;「かめにんショップ​」&rArr;該当キャラクターから</p>
                <p style="text-align: center;">キャラカスタムを交換することができます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">&nbsp;◆かめにんショップ内の交換可能期間◆</p>
                <p style="text-align: center;">
                    <strong>2022/3/31(木) 14:00&nbsp;～&nbsp;2022/4/30(土) 10:59</strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong><span style="color:#FF4747;"></span></strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747"></span>
                </p>
            </section>
            <div class="frame2">
                <p style="text-align: center;">
                    &nbsp;《注意事項》<span style="font-size:11px;"></span>
                </p>
                <p>
                    <span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;">​</span></span>・キャラカスタムアイテムでのステータスの増減はありません。</span>
                </p>
                <p>
                    <span style="font-size:11px;"></span><span style="font-size:11px;">・キャラカスタムアイテムを<span style="font-size:11px;">
                        <br>
                    　獲得していない場合はキャラカスタム画面に表示されません。</span></span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;"></span>
                </p>
            </div>
        </div>

    </body>
</html>
