<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <strong>『ザ レイズ オブ フェスティバル』最終結果発表!!</strong>
            <hr>
            <section>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><span style="color:#FF4747;"><strong>前半イベント</strong></span></span>
                </p>
                <p style="text-align: center;">
                    <strong>投票上位3グループ</strong>
                </p>
                <p style="text-align: center;">
                    <strong>次回ザレイズオブフェスティバルにて</strong>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><strong><span style="font-size:18px;">クロスオーバー魔鏡の登場決定!!</span></strong></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><span style="font-size:16px;"><strong>リグレット&times;ティア</strong></span></span>
                    <br>
                    <span style="color:#FF9900;"><span style="font-size:16px;"><strong>レイス&times;リッド</strong></span></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><span style="font-size:16px;"><span style="color:#FF9900;"><span style="font-size:16px;"><span style="color:#FF9900;"><span style="font-size:16px;"><strong>ラザリス&times;カノンノ・G</strong></span></span></span></span></span></span>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39123/content_vote_57304.png"
                         style="width: 30%">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39120/content_vote_57301.png"
                         style="width: 30%">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39125/content_vote_57306.png"
                         style="width: 30%">
                </p>
                <p style="text-align: center;">
                    <span style="font-size: 0.8rem; text-align: left;"></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><span style="color:#FF4747;"><strong>後半イベント</strong></span></span>
                </p>
                <p style="text-align: center;">
                    <strong>累計ポイント達成グループ</strong>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><span style="font-size:18px;"><b>クロスオーバー魔鏡登場を確約!!</b></span></span>
                </p>
                <p style="text-align: center;">登場時期については、決まり次第別途お知らせいたします。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><span style="font-size:16px;"><span style="color:#FF9900;"><span style="font-size:16px;"><span style="color:#FF9900;"><span style="font-size:16px;"><strong>リヒター&times;エミル</strong></span></span></span></span></span></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><span style="font-size:16px;"><span style="color:#FF9900;"><span style="font-size:16px;"></span></span></span></span><span style="color:#FF9900;"><span style="font-size:16px;"><span style="color:#FF9900;"><span style="font-size:16px;"><strong>バルバトス&times;ディムロス</strong></span></span></span></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><span style="font-size:16px;"><span style="color:#FF9900;"><span style="font-size:16px;"><strong>ワルター&times;セネル</strong></span></span></span></span>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39124/content_vote_57305.png"
                         style="width: 30%">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39121/content_vote_57302.png"
                         style="width: 30%">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39122/content_vote_57303.png"
                         style="width: 30%">
                </p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p style="text-align: center;">&nbsp;</p>
                <hr>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39146/content_57302.png"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">
                    最終結果は
                    <br>
                    【クエスト】≫【イベント】≫【ザ レイズ オブ フェスティバル】
                    <br>
                    ≫【順位確認】のボタンから確認することができます。
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>次回の開催を楽しみにお待ちください！</strong>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <center>
                    <p style="text-align: center;">
                        <strong>◆最終結果発表期間◆</strong>
                    </p>
                    <center><span style="color:#FF4747;"><strong>2022/3/3</strong></span><span style="color:#FF4747;"><strong>1(木) 11:00&nbsp;～ 2022/4/7(</strong><span style="color:#FF4747;"><strong>木</strong></span><strong>) 23:59</strong></span></center>
                </center>
                <center>&nbsp;</center>
            </section>
        </div>

    </body>
</html>
