<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <span style="font-size:16px;"><strong>カジノミッドナイトイベントシナリオのフルボイスパック登場!!</strong></span>
            </p>
            <!-- 仕切り -->
            <hr>
            <section>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><span style="font-size:16px;"><strong><span style="color:#FF4747;">◆カジノミッドナイト</span><span style="color:#FF4747;">イベントシナリオ</span><span style="color:#FF4747;">のフルボイスパック登場!!◆</span></strong>
                        <br>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/39802/content_2204181.png"
                             style="width: 296px;
                                    height: 144px">
                    </span></span>
                </p>
                <p style="text-align: center;">
                    カジノミッドナイトイベントのシナリオが、<strong>全話フルボイス</strong>で楽しめる
                    <br>
                    <span style="font-size:14px;"><span style="color:#FF9900;"><strong>『カジノミッドナイト フルボイスパック』</strong></span></span>が登場！
                </p>
                <p style="text-align: center;">
                    <br>
                    カジノミッドナイト フルボイスパックを購入すると、
                    <br>
                    <strong>カジノミッドナイトイベントのシナリオが</strong><span style="color:#FF4747;"><strong><span style="font-size:16px;">全話フルボイス</span></strong></span><strong>で再生可能!!</strong>
                </p>
                <p style="text-align: center;">
                    <br>
                    <strong>さらに！</strong>
                </p>
                <p style="text-align: center;">
                    <strong><span style="color:#FF4747;">『カジノミッドナイト フルボイスパック』</span></strong>を購入すると、
                </p>
                <p style="text-align: center;">
                    <strong>おまけ</strong>で
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><span style="color:#FF4747;"><strong>好きな魔鏡1つ、鏡装1つ</strong></span></span>を<strong>選んで交換できる</strong><span style="color:#FF4747;"></span><span style="color:#FF9900;">
                        <br>
                        <span style="font-size:14px;"><strong>『『カジノミッドナイト』フルボイスパック記念セレクトチケット</strong></span><span style="font-size:14px;"><strong>』</strong><span style="color:#FF9900;"><span style="font-size:14px;"><strong>1枚</strong></span></span></span></span><span style="color:#FF4747;"></span>
                    </p>
                    <p style="text-align: center;">
                        <span style="font-size:14px;"><span style="color:#FF4747;"><strong>魔鏡1つ確定＆季節魔鏡が再登場</strong></span></span>するガシャが引ける
                    </p>
                    <p style="text-align: center;">
                        <span style="font-size:14px;"><span style="color:#FF9900;"><strong>『カジノミッドナイトフルボイスパック記念10連ガシャチケット』1枚</strong></span></span><span style="color:#FF9900;"></span>
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/banners/22041814/220440.png"
                             style="width: 296px;
                                    height: 96px">
                    </p>
                    <p style="text-align: center;">
                        <span style="color:#FF4747;"><strong>イベントを復刻できるチケット</strong></span>
                    </p>
                    <p style="text-align: center;">
                        <span style="color:#FF9900;"><strong>「イベント復刻チケット」1枚</strong></span>
                    </p>
                    <p style="text-align: center;">
                        が<strong>セットで付いてくる！</strong>
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <div class="frame1" style="text-align: center;">
                        <p>
                            <strong><span style="font-size:14px;">『カジノミッドナイト』フルボイスパック記念セレクトチケット</span><span style="font-size:14px;"></span><span style="font-size:14px;"></span><span style="font-size:14px;"></span><span style="font-size:14px;"></span></strong>
                        </p>
                        <p>
                            <strong><span style="font-size:14px;">交換対象魔鏡</span></strong>
                        </p>
                        <p>
                            <strong>
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22028/content_6710003.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22063/content_8010003.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22090/content_9310003.png"
                                     style="width: 80px;
                                            height: 80px">
                                <br>
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/21919/content_3410002.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22027/content_6710002.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/23837/content_8010002.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22089/content_9310002.png"
                                     style="width: 80px;
                                            height: 80px">
                            </strong>
                        </p>
                        <p>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/9826/content_110002.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/9828/content_110004.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/9844/content_210002.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/9847/content_210005.png"
                                 style="width: 80px;
                                        height: 80px">
                        </p>
                        <p>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/15451/content_4410002.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/22886/content_18010002.png"
                                 style="width: 80px;
                                        height: 80px">
                        </p>
                        <p>&nbsp;</p>
                        <p>
                            <strong><span style="font-size:14px;">交換対象鏡装</span></strong>
                        </p>
                        <p>
                            <strong>
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22367/content_675001.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22368/content_675002.png"
                                     style="width: 80px;
                                            height: 80px">
                            </strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/22840/content_675003.png"
                                 style="width: 80px;
                                        height: 80px">
                            <br>
                            <strong>
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22388/content_805001.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22390/content_805002.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/31199/content_805003.png"
                                     style="width: 80px;
                                            height: 80px">
                            </strong>
                        </p>
                        <p>
                            <strong>
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22405/content_935001.png"
                                     style="width: 80px;
                                            height: 80px">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/23869/content_935002.png"
                                     style="width: 80px;
                                            height: 80px">
                            </strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/28024/content_935003.png"
                                 style="width: 80px;
                                        height: 80px">
                        </p>
                        <p>
                            <strong>
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/22308/content_345001.png"
                                     style="width: 80px;
                                            height: 80px">
                            </strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/9830/content_15001.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/9886/content_25001.png"
                                 style="width: 80px;
                                        height: 80px">
                        </p>
                        <p>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/5464/content_445001.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/22887/content_1805001.png"
                                 style="width: 80px;
                                        height: 80px">
                        </p>
                    </div>
                    <p style="text-align: center;">
                        <span style="font-size:12px;">※おまけはプレゼントボックスに贈られます。
                            <br>
                            ※「カジノミッドナイトフルボイスパック記念10連ガシャチケット」の詳細は</span><span style="font-size:12px;"></span>
                        </p>
                        <p style="text-align: center;">
                            <span style="font-size:12px;">お知らせをご確認ください。</span>
                            <br>
                            <span style="font-size:12px;">
                                <br>
                                ※フルボイスパック購入後は、
                                <br>
                                「メニュー」≫「キャラボイス設定」&nbsp;より、
                                <br>
                            フルボイスパックのON/OFF、および</span>
                        </p>
                        <p style="text-align: center;">
                            <span style="font-size:12px;">フルボイスパックのホームバナー表示のON/OFF設定が可能です。
                                <br>
                                <br>
                                ※購入後、キャラボイス設定の「ボイスダウンロード」より
                                <br>
                                ボイスの一括ダウンロードを行うことが出来ます。
                                <br>
                                また、ダウンロードには多くの通信を行うため、
                                <br>
                                Wi-Fi環境でのダウンロードをおすすめします。
                                <br>
                                一括ダウンロードを行わない場合、シナリオ再生の都度、
                                <br>
                                必要なデータが自動でダウンロードされます。</span><span style="font-size:12px;"></span>
                            </p>
                        </section>
                    </div>

                </body>
            </html>
