<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <img alt=""
                 src="{{ s3_url }}public/uploads/ckeditor/pictures/41019/content_2206071.png"
                 style="width: 100%">
            <hr>
            <p>
                <span style="font-size:14px;"><strong>リーガル、プレセア、ジーニアス、リフィル</strong>の</span>
            </p>
            <p>
                <span style="font-size:14px;"><strong><span style="color:#FF4747;">装備・魔鏡のみ</span></strong>が出現する</span>
            </p>
            <p>
                <span style="font-size:14px;"><strong>『【復刻】領主・騎士救出作戦 この手に誓ったもの』</strong></span>
            </p>
            <p>
                <span style="font-size:14px;"><strong>ガシャ</strong>が開催!!</span>
            </p>
            <p>
                <span style="font-size:16px;"></span>
                <br>
                <span style="font-size:14px;"><span style="color:#FF4747;"><strong>リーガル</strong></span>の<strong><span style="color:#FF4747;">魔鏡</span><span style="color:#FF4747;">、</span></strong></span>
            </p>
            <p>
                <span style="font-size:14px;"><strong><span style="color:#FF4747;">プレセア、ジーニアス、リフィル</span></strong>の<strong><span style="color:#FF4747;">決戦魔鏡</span></strong>が再登場!!</span>
            </p>
            <p>&nbsp;</p>
            <p>
                <strong>さらに！</strong>
            </p>
            <p>
                <strong><span style="color:#FF9900;">鏡晶石ガシャ</span>では</strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;">バーストリミッツ解放アイテム『バーストメモリア』</span>を交換できる</strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;">『バーストメモリアチケットG』</span>がおまけで付いてくる！！</strong>
            </p>
            <p>&nbsp;</p>
            <p>
                <span style="font-size:14px;">本ガシャでは<strong>【この手に誓ったものGRADE(復刻)】</strong>が獲得可能!!</span>
            </p>
            <p>
                <span style="font-size:14px;"><span style="color:#FF4747;"><strong>鏡晶石</strong></span>の1連で10pt、10連では100pt、
                <br>
                <strong><span style="color:#FF4747;">ダイヤ</span></strong>の1連で5pt、10連では50pt獲得可能!!</span>
        </p>
        <p>
            <span style="font-size:14px;">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/16985/content_140.png">
            </span>
        </p>
        <span style="font-size:14px;"> 【この手に誓ったものGRADE(復刻)】は、
            <br>
            【ガシャ】≫【対象のガシャ】≫【GRADE SHOP】で
            <br>
            対象のガシャに出現する<strong><span style="color:#FF4747;">鏡装・魔鏡</span></strong>と交換が可能！
            <br>
            ※所持しているGRADEはガシャ画面の「所持GRADE」一覧から
            <br>
            確認することが出来ます。</span><span style="font-size:14px;"></span>
            <p>
                <br>
                期間限定の
                <br>
                <font color="#ff4747"><b>リーガル</b></font>の<span style="color:#FF4747;"><strong>魔鏡</strong></span><strong><span style="color:#FF4747;">、</span></strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;"></span></strong><span style="font-size:16px;"><strong><span style="color:#FF4747;">プレセア、ジーニアス、リフィル</span></strong></span><strong><span style="color:#FF4747;"></span></strong>の<span style="color:#FF4747;"><span style="font-size:16px;"><strong><span style="color:#FF4747;">決戦魔鏡</span></strong></span></span>には
                <br>
                <span style="font-size:18px;"><span style="color:#FF9900;"><strong>限定キャラカスタム</strong></span></span>がセットに！
            </p>
            <p>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29555/content_2101116.png"
                     style="width: 80%">
            </p>
            <p>&nbsp;</p>
            <p>
                <strong>◆開催期間◆</strong>
            </p>
            <p>
                <span style="font-size:18px;"><span style="color:#FF4747;"><strong>2022/6/17(金) 14:00 ～ 2022/7/1(金) 10:59</strong></span></span>
            </p>
            <p>&nbsp;</p>
            <p>
                <span style="font-size:14px;"><strong>『【復刻】領主・騎士</strong><span style="font-size:14px;"><strong>救出</strong></span><strong>作戦 この手に誓ったもの』</strong></span>
            </p>
            <p>
                <span style="font-size:14px;"><strong>ガシャ</strong>では、
                    <br>
                    <strong>リーガル、プレセア、ジーニアス、リフィル</strong>の
                    <br>
                    <span style="color:#FF4747;"><strong>『装備』・『魔鏡』のみが出現!</strong></span></span>
                </p>
                <div class="frame1" style="text-align: center;">
                    <strong>このガシャから装備・魔鏡が出現する対象キャラ</strong><span style="font-size:14px;"></span>
                    <p>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/29500/content_96.png"
                             style="width: 100px;
                                    height: 100px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/29503/content_129.png"
                             style="width: 100px;
                                    height: 100px">
                        <br>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/29502/content_128.png"
                             style="width: 100px;
                                    height: 100px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/29501/content_11.png"
                             style="width: 100px;
                                    height: 100px">
                    </p>
                </div>
                <div align="center">
                    <p>
                        <strong><span style="color:#FF4747;"></span></strong>
                    </p>
                    <p>
                        <strong>ダイヤでの10連は★4以上が確定!!</strong>
                    </p>
                    <p>
                        <strong><span style="color:#FF4747;">鏡晶石</span>での10連は1回<span style="color:#FF4747;">★5鏡装</span>もしくは<span style="color:#FF4747;">魔鏡</span>が確定!!</strong>
                    </p>
                    <p>&nbsp;</p>
                    <p>
                    <strong><span style="color:#FF4747;">鏡晶石での10連ガシャが</span>
                    <br>
                    <span style="color:#FF9900;">初回のみ半額</span>の<span style="color:#FF9900;">1000個に!!&nbsp;</span></strong>
            </p>
            <p>
                <span style="color:#ff4747;"></span>
            </p>
        </div>
        <p style="font-size: 0.8rem;
                  margin: 10px 0px;
                  padding: 10px 10px 0px;
                  text-align: center">
            <span style="font-size:14px;"><strong>さらにリーガルの</strong><span style="font-size:14px;"><strong><span style="color:#ff4747;">『装備』</span></strong></span></span><span style="font-size:14px;"><strong>か</strong><span style="font-size:14px;"><strong><span style="color:#ff4747;">『魔鏡』</span></strong></span><strong>が<span style="color:#ff4747;">
                <br>
                必ず手に入るチケット</span></strong></span><span style="font-size:14px;"><span style="font-size:14px;">が</span></span><span style="font-size:14px;"><span style="color:#FF4747;"><strong>おまけ</strong></span>でついてくる!!</span>
                <br>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/40980/content_220608.png"
                     style="width: 296px;
                            height: 96px">
            </p>
            <p style="font-size: 0.8rem;
                      margin: 10px 0px;
                      padding: 10px 10px 0px;
                      text-align: center">
                さらに<span style="color:#FF4747;"><strong>鏡晶石10連では</strong><span style="color:#FF4747;">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/40896/content_5222.png"
                     style="width: 20px;
                            height: 20px">
            </span><strong>2000個</strong>、<strong>鏡晶石1連では</strong><span style="color:#FF4747;"><span style="color:#FF4747;"><span style="color:#FF4747;"><span style="color:#FF4747;"><span style="color:#FF4747;"><span style="color:#FF4747;"><span style="color:#FF4747;"><span style="color:#FF4747;"><span style="color:#FF4747;"><span style="color:#FF4747;"><span style="color:#FF4747;"><span style="color:#FF4747;">
            <img alt=""
                 src="{{ s3_url }}public/uploads/ckeditor/pictures/40896/content_5222.png"
                 style="width: 20px;
                        height: 20px">
        </span></span></span></span></span></span></span></span></span></span></span></span><strong>200個</strong>付き！</span><span style="color:#FF4747;"></span>
    </p>
    <hr>
    <section>
        <!-- 魔鏡訴求画像(ガシャと共通部材) -->
        <img alt=""
             src="{{ s3_url }}public/uploads/ckeditor/pictures/40981/content_2101112.png"
             style="margin: 10px auto;
                    width: 100%">
        <ul class="box">
            <li>
                <strong>魔鏡技:<font color="#ff4747">殺劇舞荒拳・貪狼</font></strong>　　威力:<font color="#ff4747"><b>1380</b></font>
            </li>
            <li style="text-align:right;float:right">
                <strong>リーガル専用</strong>
            </li>
        </ul>
        <div class="frame1">
            <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                <tbody>
                    <tr>
                        <td>
                            <p>
                                <strong>効果内容</strong>
                            </p>
                            <p>武闘の極意を体現した、</p>
                            <p>獰猛な狼の如く乱舞する魔鏡技</p>
                        </td>
                        <td>
                            <p style="text-align: center;">
                                <strong><a href="https://youtu.be/1LAAhtEgmTAexternalbrowser=true">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                         style="width: 60px;
                                                height: 60px">
                                </a></strong>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <hr>
    <section>
        <!-- 魔鏡訴求画像(ガシャと共通部材) -->
        <img alt=""
             src="{{ s3_url }}public/uploads/ckeditor/pictures/40982/content_2101113.png"
             style="margin: 10px auto;
                    width: 100%">
        <ul class="box">
            <li>
                <strong>魔鏡技:<font color="#ff4747">シアリング・フィーネ</font></strong>　　威力:<font color="#ff4747"><b>1615</b></font>
            </li>
            <li style="text-align:right;float:right">
                <strong>プレセア専用</strong>
            </li>
        </ul>
        <div class="frame1">
            <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                <tbody>
                    <tr>
                        <td>
                            <p>
                                <strong>効果内容</strong>
                            </p>
                            <p>自身の物攻を上昇させて、強い意志を秘</p>
                            <p>めた仲間を信じ後を託す魔鏡技</p>
                        </td>
                        <td>
                            <p style="text-align: center;">
                                <strong><a href="https://youtu.be/MUBX0hcd43wexternalbrowser=true">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                         style="width: 60px;
                                                height: 60px">
                                </a></strong>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <hr>
    <section>
        <!-- 魔鏡訴求画像(ガシャと共通部材) -->
        <img alt=""
             src="{{ s3_url }}public/uploads/ckeditor/pictures/40983/content_2101114.png"
             style="margin: 10px auto;
                    width: 100%">
        <ul class="box">
            <li>
                <strong>魔鏡技:<font color="#ff4747">インディグネイト・フィーネ</font></strong>　　威力:<font color="#ff4747"><b>1840</b></font>
            </li>
            <li style="text-align:right;float:right">
                <strong>ジーニアス専用</strong>
            </li>
        </ul>
        <div class="frame1">
            <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                <tbody>
                    <tr>
                        <td>
                            <p>
                                <strong>効果内容</strong>
                            </p>
                            <p>変われることを願い死力を尽くす魔鏡技</p>
                            <p>自身の防御力を上昇、のけぞりを防止</p>
                        </td>
                        <td>
                            <p style="text-align: center;">
                                <strong><a href="https://youtu.be/d9FhXL9A77Iexternalbrowser=true">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                         style="width: 60px;
                                                height: 60px">
                                </a></strong>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <hr>
    <section>
        <!-- 魔鏡訴求画像(ガシャと共通部材) -->
        <img alt=""
             src="{{ s3_url }}public/uploads/ckeditor/pictures/40984/content_2101115.png"
             style="margin: 10px auto;
                    width: 100%">
        <ul class="box">
            <li>
                <strong>魔鏡技:<font color="#ff4747">セイクリッド・フィーネ</font></strong>　　威力:<font color="#ff4747"><b>1839</b></font>
            </li>
            <li style="text-align:right;float:right">
                <strong>リフィル専用</strong>
            </li>
        </ul>
        <div class="frame1">
            <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                <tbody>
                    <tr>
                        <td>
                            <p>
                                <strong>効果内容</strong>
                            </p>
                            <p>自分を変えた仲間と共に新たな可能性を</p>
                            <p>信じる魔鏡技。敵に光属性弱点付与</p>
                        </td>
                        <td>
                            <p style="text-align: center;">
                                <strong><a href="https://youtu.be/tRr5VZ6DSKsexternalbrowser=true">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                         style="width: 60px;
                                                height: 60px">
                                </a></strong>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <hr>
    <section>
        <div class="frame2">
            <p style="text-align:center;">《&nbsp;注意事項&nbsp;》</p>
            <p class="indent">
                <span style="font-size:11px;"></span>
            </p>
            <span style="font-size: 11px;">・ピックアップされている魔鏡・装備は、
                <br>
                　同レアリティの魔鏡・装備の中で提供割合が
                <br>
                　高く設定されています。
                <br>
                　※実際の提供割合は、ガシャ内訳の個別提供割合一覧に準じます。
                <br>
                ・鏡晶石10連ガシャの、10回の抽選のうち1回は
                <br>
                　「★5鏡装・魔鏡」のいずれかが確定で出現します。
                <br>
                　提供割合は、「鏡晶石10連ガシャ 1/10回」一覧に準じます。
                <br>
                　また、おまけで「【復刻】リーガル確定ガシャチケット」が1枚、
                <br>
                　イベント交換アイテムの「トビネズミのお守り」2000個、
                <br>
                　「バーストメモリアチケットG」が10枚、
                <br>
                　【この手に誓ったものGRADE(復刻)】が100pt獲得できます。
                <br>
                ・鏡晶石1連ガシャはおまけでイベント交換アイテムの
                <br>
                　「トビネズミのお守り」が200個と、
                <br>
                　「バーストメモリアチケットG」が1枚、
                <br>
                　【この手に誓ったものGRADE(復刻)】が10pt獲得できます。
                <br>
                ・「【復刻】リーガル確定ガシャチケット」は
                <br>
                　鏡晶石10連ガシャ1回につき1枚が獲得できるもので、
                <br>
                　鏡晶石1連ガシャを10回分実行しても獲得できません。
                <br>
                ・ダイヤ10連ガシャの、10回の抽選のうち1回は
                <br>
                　「★4装備・★5鏡装・魔鏡」のいずれかが確定で出現します。
                <br>
                　また、おまけで【この手に誓ったものGRADE(復刻)】が50pt獲得できます。
                <br>
                　提供割合は、「ダイヤ10連ガシャ 1/10回」一覧に準じます。
                <br>
                ・ダイヤ1連ガシャでは、【この手に誓ったものGRADE(復刻)】が
                <br>
                　5pt獲得できます。
                <br>
                ・【この手に誓ったものGRADE(復刻)】は、GRADE SHOPにて
                <br>
                　使用できます。
                <br>
                ・【この手に誓ったものGRADE(復刻)】は
                <br>
                　GRADE SHOPの開催期間が終了するとお使い頂けません。
                <br>
                ・本ガシャで入手した【この手に誓ったものGRADE(復刻)】は
                <br>
                　GRADE SHOP終了時に自動的に「精鏡石」へ変換されます。
                <br>
                ・「鏡晶石10連ガシャ 1/10回」及び「ダイヤ10連ガシャ 1/10回」以外の提供割合は、
                <br>
                　「鏡晶石1連ガシャ、鏡晶石10連ガシャ 9/10回、
                <br>
                　ダイヤ1連ガシャ、ダイヤ10連ガシャ 9/10回」一覧に準じます。
                <br>
                ・「【復刻】リーガル確定ガシャチケット」を使用できるのは
                <br>
                　「【復刻】リーガル確定チケットガシャ」のみとなり、
                <br>
                　「【復刻】リーガル確定チケットガシャ」の開催期間が
                <br>
                　終了するとお使い頂けません。
                <br>
                ・「バーストメモリアチケットG」は
                <br>
                　『バーストメモリア交換所』にてご使用できます。
                <br>
                ・各種ボーナスの効果は、該当のイベント開催時のみ発動します。
                <br>
                ・各種ボーナスが発動する魔鏡・装備の一覧は、
                <br>
                　該当イベントのお知らせをご確認ください。
                <br>
                ・表示されているステータス・効果・各種ボーナスは、
                <br>
                　最大強化後の値となります。
                <br>
                ・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。
                <br>
                ・それぞれの提供割合は、小数第4位を四捨五入して表示しているため、
                <br>
                　合計値が100％にならない場合がございます。
                <br>
                ・鏡晶石とダイヤいずれの手段でもガシャの提供割合は変わりません。
                <br>
                ・鏡晶石とダイヤを組み合わせてガシャを実行することはできません。
                <br>
                ・鏡晶石10連ガシャは、初回に限り半額の鏡晶石1000個でご利用できます。
                <br>
                　2回目以降は通常時の鏡晶石2000個となります。
                <br>
                ・鏡晶石1連ガシャは、初回に限り半額の鏡晶石100個でご利用できます。
                <br>
                　2回目以降は通常時の鏡晶石200個となります。
                <br>
                ・期間限定の魔鏡・装備・キャラカスタムは再登場する場合がございます。
                <br>
                ・限定キャラカスタム付き魔鏡で手に入る同一の限定キャラカスタムは
                <br>
                　複数入手することはできません。
                <br>
                ・限定キャラカスタム付き魔鏡でキャラカスタムを入手した場合、
                <br>
                　その他入手導線での入手はできません。
                <br>
                ・限定キャラカスタムを先に限定キャラカスタム付き魔鏡以外から入手した場合、
                <br>
                　限定キャラカスタム付き魔鏡で複数入手はできません。
                <br>
                ・登場キャラクターの実装済みの魔鏡・装備でも
                <br>
                　本ガシャに含まれない場合がございます。
                <br>
            　出現する装備・魔鏡につきましては、ガシャ内訳をご確認ください。</span>
        </div>
    </section>
</div>
<p>
    <b></b>
</p>
</body>
</html>
