<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- キャラカスタムTOP訴求画像orバナー -->
            </p>
            <center><strong>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29579/content_21011108.png"
                     style="width: 296px;
                            height: 96px">
            </strong></center>
            <hr>
            <section>
                <p style="text-align: center;">&nbsp;</p>
            </section>
            <section>
                <p style="text-align: center;">
                    『<font color="#ff4747"><b>キャラカスタム</b></font>』に
                </p>
                <p style="text-align: center;">
                    <strong>リーガル、プレセア、ジーニアス、リフィル</strong>の<strong>キャラカスタム</strong>が再登場!!
                </p>
                <p style="text-align: center;">この機会に入手して、自分だけのカスタマイズを楽しもう!!</p>
                <hr>
                <p style="text-align: center;">
                    <strong>追加キャラカスタムアイテム一覧</strong>
                </p>
            </section>
            <section>
                <div class="frame1">
                    <p style="text-align: center;">
                        <strong>《衣装》</strong>
                    </p>
                    <p style="text-align: center;">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/29540/content_96002.png"
                                 style="width: 108px;
                                        height: 108px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/29542/content_129004.png"
                                 style="width: 108px;
                                        height: 108px">
                        </strong>
                    </p>
                    <p style="text-align: center;">リーガル：レザレノ・カンパニー会長</p>
                    <p style="text-align: center;">プレセア：新年の晴れ着</p>
                    <p style="text-align: center;">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/29543/content_128003.png"
                                 style="width: 108px;
                                        height: 108px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/29541/content_11003.png"
                                 style="width: 108px;
                                        height: 108px">
                        </strong>
                    </p>
                    <p style="text-align: center;">ジーニアス：新年の晴れ着</p>
                    <p style="text-align: center;">リフィル：新年の晴れ着</p>
                </div>
                <p style="text-align: center;">
                    <strong>リーガル、プレセア、ジーニアス、リフィル</strong>のキャラカスタムは
                </p>
                <p style="text-align: center;">
                    <strong>『【復刻】領主・騎士救出作戦 この手に誓ったもの』ガシャ</strong>
                </p>
                <p style="text-align: center;">
                    <strong>『【復刻】リーガル確定チケットガシャ』</strong>
                </p>
                <p style="text-align: center;">
                    で入手可能!!
                    <br>
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/29540/content_96002.png"
                             style="width: 108px;
                                    height: 108px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/29542/content_129004.png"
                             style="width: 108px;
                                    height: 108px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/29543/content_128003.png"
                             style="width: 108px;
                                    height: 108px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/29541/content_11003.png"
                             style="width: 108px;
                                    height: 108px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <br>
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/41025/content_220607.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/41026/content_220608.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">※詳細は</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">それぞれのお知らせをご確認ください</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    また<strong>リーガル</strong>の限定衣装は
                </p>
                <p style="text-align: center;">
                    <strong>『【復刻】領主・騎士救出作戦 この手に誓ったもの』イベントポイント交換所</strong>
                </p>
                <p style="text-align: center;">でも入手可能!!</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">さらにリーガル、プレセア、ジーニアス、リフィルの期間限定キャラカスタムは期間限定で</p>
                <p style="text-align: center;">プリズムでも入手が可能!!</p>
                <p style="text-align: center;">「売却・交換」&rArr;「かめにんショップ​」&rArr;該当キャラクターから</p>
                <p style="text-align: center;">キャラカスタムを交換することができます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">&nbsp;◆かめにんショップ内の交換可能期間◆</p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>2022/6/17(金) 14:00&nbsp;～ 2022/7/1(金) 10:59</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong><span style="color:#FF4747;"></span></strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747"></span>
                </p>
            </section>
            <div class="frame2">
                <p style="text-align: center;">
                    &nbsp;《注意事項》<span style="font-size:11px;"></span>
                </p>
                <p>
                    <span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;">​</span></span>・キャラカスタムアイテムでのステータスの増減はありません。</span>
                </p>
                <p>
                    <span style="font-size:11px;"></span><span style="font-size:11px;">・キャラカスタムアイテムを<span style="font-size:11px;">
                        <br>
                    　獲得していない場合はキャラカスタム画面に表示されません。</span></span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;"></span>
                </p>
            </div>
        </div>

    </body>
</html>
