<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/41280/content_2207021.png"
                     style="width: 100%">
            </p>
            <hr>
            <p>
                <span style="font-size:14px;"><b>フォレスト、エルマーナ、ガラド、カルセドニー</b></span><span style="font-size:14px;">の</span><span style="font-size:14px;"></span>
                <br>
                <span style="font-size:14px;"><strong><span style="color:#FF4747;">『魔鏡』と『装備』のみ</span></strong>が出現する</span>
            </p>
            <p>
                <span style="font-size:14px;">【復刻】フォレスト＆エルマーナ＆ガラド＆カルセドニー</span>
            </p>
            <p>
                <span style="font-size:14px;">確定チケットガシャが</span><span style="font-size:14px;">開催!!</span>
            </p>
            <p>&nbsp;</p>
            <p style="font-weight:bold;">◆開催期間◆</p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;">2022/7/15(金) 14:00&nbsp;～ 2022/8/13(土</span><span style="color:#FF4747;">) 10:59</span></strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong><strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                <span style="font-size:14px;">【復刻】フォレスト＆エルマーナ＆ガラド＆カルセドニー</span>
                <br>
                <span style="font-size:14px;">確定チケットガシャ</span>では、
                <br>
                <b>フォレスト、エルマーナ、ガラド、カルセドニー</b>の
                <br>
                <span style="color:#FF4747;"><strong>『魔鏡』と『装備</strong><strong>』のみ</strong></span>が出現!!
            </p>
            <div class="frame1">
                <p style="text-align: center;">
                    <strong>フォレストの魔鏡・装備</strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29703/content_22410002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29704/content_2245001.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29705/content_2244001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29706/content_2244002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29707/content_2243001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29708/content_2243002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29709/content_2243003.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>エルマーナの魔鏡・装備</strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29711/content_22510002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29712/content_2255001.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29713/content_2254001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29714/content_2254002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29715/content_2253001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29716/content_2253002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29717/content_2253003.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>ガラドの魔鏡・装備</strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29718/content_19910002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29719/content_1995001.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29720/content_1994001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29721/content_1994002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29722/content_1993001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29723/content_1993002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29724/content_1993003.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>カルセドニーの魔鏡・装備</strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29725/content_21210002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29727/content_2125001.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29728/content_2124001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29729/content_2124002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29730/content_2123001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29731/content_2123002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29732/content_2123003.png"
                         style="width: 80px;
                                height: 80px">
                </p>
            </div>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                <span style="font-size:11px;"><strong>【復刻】フォレスト＆エルマーナ＆ガラド＆カルセドニー確定ガシャチケット</strong>は
                    <br>
                    <strong>『【復刻】領主・騎士救出作戦 魂と心の赴くままに』ガシャ</strong>
                    <br>
                    <strong>『【復刻】領主・騎士救出作戦 魂と心の赴くままに』イベントポイント交換所</strong>
                    <br>
                    で入手が可能!</span><!-- 仕切り -->
                </p>
                <hr>
                <section>
                    <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/41276/content_2101152.png"
                         style="margin: 10px auto;
                                width: 100%">
                    <ul class="box">
                        <li>
                            <strong>魔鏡技:<font color="#ff4747">獣嚇裂焼斧</font></strong>　　威力:<font color="#ff4747"><b>1928</b></font>
                        </li>
                        <li style="text-align:right;float:right">
                            <strong>フォレスト専用</strong>
                        </li>
                    </ul>
                    <div class="frame1">
                        <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                            <tbody>
                                <tr>
                                    <td>
                                        <p>
                                            <strong>効果内容</strong>
                                        </p>
                                        <p>獰猛な獣の如く斧を振るい</p>
                                        <p>轟音と共に爆炎を起こす魔鏡技</p>
                                    </td>
                                    <td>
                                        <p style="text-align: center;">
                                            <strong><a href="https://youtu.be/iuvd9UEnRssexternalbrowser=true">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                     style="width: 60px;
                                                            height: 60px">
                                            </a></strong>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <hr>
                <section>
                    <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/41277/content_2101153.png"
                         style="margin: 10px auto;
                                width: 100%">
                    <ul class="box">
                        <li>
                            <strong>魔鏡技:<font color="#ff4747">弩級崩天烈</font></strong>　　威力:<font color="#ff4747"><b>1884</b></font>
                        </li>
                        <li style="text-align:right;float:right">
                            <strong>エルマーナ専用</strong>
                        </li>
                    </ul>
                    <div class="frame1">
                        <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                            <tbody>
                                <tr>
                                    <td>
                                        <p>
                                            <strong>効果内容</strong>
                                        </p>
                                        <p>自身が発生させた暴風に巻き込み、</p>
                                        <p>ごっついエルパンチで追撃する魔鏡技</p>
                                    </td>
                                    <td>
                                        <p style="text-align: center;">
                                            <strong><a href="https://youtu.be/93c2O29H48Mexternalbrowser=true">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                     style="width: 60px;
                                                            height: 60px">
                                            </a></strong>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <hr>
                <section>
                    <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/41278/content_2101154.png"
                         style="margin: 10px auto;
                                width: 100%">
                    <ul class="box">
                        <li>
                            <strong>魔鏡技:<font color="#ff4747">ストーム・ブラスター</font></strong>　　威力:<font color="#ff4747"><b>1300</b></font>
                        </li>
                        <li style="text-align:right;float:right">
                            <strong>ガラド専用</strong>
                        </li>
                    </ul>
                    <div class="frame1">
                        <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                            <tbody>
                                <tr>
                                    <td>
                                        <p>
                                            <strong>効果内容</strong>
                                        </p>
                                        <p>斧で打ち上げた敵に向かって、渾身の</p>
                                        <p>力でマチェットをぶん投げる魔鏡技</p>
                                    </td>
                                    <td>
                                        <p style="text-align: center;">
                                            <strong><a href="https://youtu.be/8Du2TT6DUWMexternalbrowser=true">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                     style="width: 60px;
                                                            height: 60px">
                                            </a></strong>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <hr>
                <section>
                    <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/41279/content_2101155.png"
                         style="margin: 10px auto;
                                width: 100%">
                    <ul class="box">
                        <li>
                            <strong>魔鏡技:<font color="#ff4747">照鷹降翔駆</font></strong>　　威力:<font color="#ff4747"><b>1300</b></font>
                        </li>
                        <li style="text-align:right;float:right">
                            <strong>カルセドニー専用</strong>
                        </li>
                    </ul>
                    <div class="frame1">
                        <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                            <tbody>
                                <tr>
                                    <td>
                                        <p>
                                            <strong>効果内容</strong>
                                        </p>
                                        <p>遥か上空に突き上げた敵を、太陽を</p>
                                        <p>背に急降下して地面ごと貫く魔鏡技</p>
                                    </td>
                                    <td>
                                        <p style="text-align: center;">
                                            <strong><a href="https://youtu.be/9S-lWnenItYexternalbrowser=true">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                     style="width: 60px;
                                                            height: 60px">
                                            </a></strong>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <hr>
                <section>
                    <div class="frame2">
                        <p style="text-align:center;">《 注意事項&nbsp;》</p>
                        <p>
                            <span style="font-size:11px;">・本ガシャは「【復刻】フォレスト＆エルマーナ＆ガラド＆カルセドニー確定ガシャチケット」のみで
                                <br>
                                　実行できます。
                                <br>
                                ・本ガシャは「【復刻】フォレスト＆エルマーナ＆ガラド＆カルセドニー確定ガシャチケット」1枚につき、
                                <br>
                                　1回実行できます。
                                <br>
                                ・本ガシャからはフォレスト、エルマーナ、ガラド、カルセドニーの
                                <br>
                                　魔鏡・★5鏡装・★4装備・★3装備のいずれかが獲得できます。
                                <br>
                                ・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。
                                <br>
                                ・各種ボーナスの効果は、該当のイベント開催時のみ発動します。
                                <br>
                                ・各種ボーナスが発動する魔鏡・装備の一覧は、
                                <br>
                                　該当イベントのお知らせをご確認ください。
                                <br>
                                ・表示されているステータス・効果・各種ボーナスは、
                                <br>
                                　最大強化後の値となります。
                                <br>
                                ・限定キャラカスタム付き魔鏡でキャラカスタムを入手した場合、
                                <br>
                                　その他入手導線での入手はできません。
                                <br>
                                ・限定キャラカスタムを先に限定キャラカスタム付き魔鏡以外から入手した場合、
                                <br>
                                　限定キャラカスタム付き魔鏡で複数入手はできません。
                                <br>
                                ・期間限定の魔鏡・装備・キャラカスタムは再登場する場合がございます。
                                <br>
                                ・限定キャラカスタム付き魔鏡で手に入る同一の限定キャラカスタムは
                                <br>
                            　複数入手することはできません。</span>
                        </p>
                    </div>
                </section>
            </div>
            <p>
                <b></b>
            </p>
        </body>
    </html>
