<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/41514/content_2207071.png"
                     style="width: 100%">
            </p>
            <hr>
            <p>
                <span style="font-size:14px;"><b>ティア、リグレット、リッド、レイス、カノンノ・G、ラザリス</b></span><span style="font-size:14px;">の</span><span style="font-size:14px;"></span>
                <br>
                <span style="font-size:14px;"><strong><span style="color:#FF4747;">『魔鏡』と『装備』のみ</span></strong>が出現する</span>
            </p>
            <p>
                <span style="font-size:14px;">タッグフェス開催記念チケットガシャが開催!!</span>
            </p>
            <p>&nbsp;</p>
            <p style="font-weight:bold;">◆開催期間◆</p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;">2022/7/21(木) 14:00&nbsp;～&nbsp;2022/8/21(日) 10:59</span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p>&nbsp;</p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong><strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p>
                <span style="font-size:14px;">タッグフェス開催記念チケットガシャでは、
                    <br>
                    <span style="font-size:14px;"><b>ティア、リグレット、リッド、レイス、カノンノ・G、ラザリス</b></span></span>
                </p>
                <p>
                    <span style="font-size:14px;">の<span style="color:#FF4747;"><strong>『魔鏡』と『装備』のみ</strong></span>が出現!!</span>
                </p>
                <div class="frame1">
                    <p style="text-align: center;">
                        <strong>ティアの魔鏡・装備</strong>
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/41515/content_3510007.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/21922/content_3510003.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/21921/content_3510002.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/38994/content_355005.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/9379/content_355001.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/9380/content_355002.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/29964/content_355003.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/29973/content_354001.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/29974/content_354002.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/29987/content_354004.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/29986/content_354005.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/29976/content_353001.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/29977/content_353002.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/29978/content_353004.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/29979/content_353005.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/29980/content_353006.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">
                        <br>
                        <strong>リグレットの魔鏡・装備</strong>
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/41515/content_3510007.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/32386/content_23910002.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/41522/content_2395002.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/32387/content_2395001.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/32388/content_2394001.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/32389/content_2394002.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/32390/content_2393001.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/32391/content_2393002.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/32392/content_2393003.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <strong>リッドの魔鏡・装備</strong>
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/41516/content_4010007.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/21942/content_4010003.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/18476/content_4010002.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/41521/content_405005.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/18478/content_405001.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/18607/content_405002.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/28319/content_405003.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/28295/content_404001.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/28296/content_404003.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/28297/content_403003.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/28298/content_403004.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/28299/content_403006.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/28300/content_403007.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/28301/content_403008.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <strong>レイスの魔鏡・装備</strong>
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/41516/content_4010007.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/34513/content_21110003.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/27865/content_21110002.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/41520/content_2115004.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/27866/content_2115001.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/34514/content_2115002.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/34515/content_2115003.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/27867/content_2114001.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/27868/content_2114002.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/27869/content_2113001.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/27870/content_2113002.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/27871/content_2113003.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <strong>カノンノ・Gの魔鏡・装備</strong>
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/41517/content_11110005.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/6873/content_11110002.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/38042/content_11110004.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/41519/content_1115004.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/6874/content_1115001.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/6875/content_1115002.png"
                             style="width: 80px;
                                    height: 80px">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/27638/content_1115003.png"
                                 style="width: 80px;
                                        height: 80px">
                        </strong>
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/6876/content_1114001.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/6877/content_1114002.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/6879/content_1113001.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/6880/content_1113002.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/6881/content_1113003.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <strong>ラザリスの魔鏡・装備</strong>
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/41517/content_11110005.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/14539/content_16710002.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/41518/content_1675002.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/14541/content_1675001.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/14545/content_1674001.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/14546/content_1674002.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/14542/content_1673001.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/14543/content_1673002.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/14544/content_1673003.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                </div>
                <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                    <span style="font-size:11px;"><strong>タッグフェス開催記念ガシャチケット</strong>は
                        <br>
                        <strong>『クロスオーバータッグフェスティバル』開催記念ガシャ</strong>
                        <br>
                        <strong>『クロスオーバータッグフェスティバル』ティア＆リグレット&nbsp;ステップアップガシャ</strong>
                        <br>
                        <strong>『クロスオーバータッグフェスティバル』リッド＆レイス ステップアップガシャ</strong>
                        <br>
                        <strong>『クロスオーバータッグフェスティバル』カノンノ・G＆ラザリス ステップアップガシャ</strong>
                        <br>
                        <strong>『クロスオーバータッグフェスティバル』イベントミッション及び交換所、交易品引換所</strong>
                        <br>
                        で入手が可能!</span><!-- 仕切り -->
                    </p>
                    <hr>
                    <section>
                        <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/41511/content_2207062.png"
                             style="margin: 10px auto;
                                    width: 100%">
                        <ul class="box">
                            <li>
                                <strong>魔鏡技:<font color="#ff4747">イノセントバレット</font></strong>　　威力:<font color="#ff4747"><b>1732</b></font>
                            </li>
                            <li style="text-align:right;float:right">
                                <strong>ティア＆リグレット専用</strong>
                            </li>
                        </ul>
                        <div class="frame1">
                            <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>
                                                <strong>効果内容</strong>
                                            </p>
                                            <p>
                                                師弟で一対の譜銃を分かち、息を
                                                <br>
                                                合わせ強力な銃撃を放つ魔鏡技
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong><a href="https://youtu.be/xMF7QW5PMrAexternalbrowser=true">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                         style="width: 60px;
                                                                height: 60px">
                                                </a></strong>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <hr>
                    <section>
                        <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/41512/content_2207063.png"
                             style="margin: 10px auto;
                                    width: 100%">
                        <ul class="box">
                            <li>
                                <strong>魔鏡技:<font color="#ff4747">極光創穿</font></strong>　威力:<font color="#ff4747"><b>1921</b></font>
                            </li>
                            <li style="text-align:right;float:right">
                                <strong>リッド＆レイス専用</strong>
                            </li>
                        </ul>
                        <div class="frame1">
                            <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>
                                                <strong>効果内容</strong>
                                            </p>
                                            <p>
                                                真の極光術士二人が交互に極光術を
                                                <br>
                                                放つ、願いを守り想いを貫く魔鏡技
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong><a href="https://youtu.be/K2lIal8TuDUexternalbrowser=true">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                         style="width: 60px;
                                                                height: 60px">
                                                </a></strong>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <hr>
                    <section>
                        <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/41513/content_2207064.png"
                             style="margin: 10px auto;
                                    width: 100%">
                        <ul class="box">
                            <li>
                                <strong>魔鏡技:<font color="#ff4747">アンチェインド・リゾネイト</font></strong>　　威力:<font color="#ff4747"><b>1696</b></font>
                            </li>
                            <li style="text-align:right;float:right">
                                <strong>カノンノ・G＆ラザリス専用</strong>
                            </li>
                        </ul>
                        <div class="frame1">
                            <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>
                                                <strong>効果内容</strong>
                                            </p>
                                            <p>
                                                相反する世界の二人が想いを奏でる
                                                <br>
                                                旋律と戦慄の魔鏡技
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong><a href="https://youtu.be/pUPeFiACYggexternalbrowser=true">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                         style="width: 60px;
                                                                height: 60px">
                                                </a></strong>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <section>
                        &nbsp;
                        <ul class="box">
                        </ul>
                    </section>
                    <hr>
                    <section>
                        <div class="frame2">
                            <p style="text-align:center;">《 注意事項&nbsp;》</p>
                            <p>
                                <span style="font-size:11px;">・本ガシャは「タッグフェス開催記念ガシャチケット」のみで
                                    <br>
                                    　実行できます。
                                    <br>
                                    ・本ガシャは「タッグフェス開催記念ガシャチケット」1枚につき、
                                    <br>
                                    　1回実行できます。
                                    <br>
                                    ・本ガシャからはティア、リグレット、リッド、レイス、カノンノ・G、ラザリスの
                                    <br>
                                    　魔鏡・★5鏡装・★4装備・★3装備のいずれかが獲得できます。
                                    <br>
                                    ・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。
                                    <br>
                                    ・各種ボーナスの効果は、該当のイベント開催時のみ発動します。
                                    <br>
                                    ・各種ボーナスが発動する魔鏡・装備の一覧は、
                                    <br>
                                    　該当イベントのお知らせをご確認ください。
                                    <br>
                                    ・表示されているステータス・効果・各種ボーナスは、
                                    <br>
                                    　最大強化後の値となります。
                                    <br>
                                    ・期間限定の魔鏡･装備･キャラカスタムは再登場する場合がございます。
                                    <br>
                                    ・限定キャラカスタム付き魔鏡でキャラカスタムを入手した場合、
                                    <br>
                                    　その他入手導線での入手はできません。
                                    <br>
                                    ・限定キャラカスタムを先に限定キャラカスタム付き魔鏡以外から入手した場合、
                                    <br>
                                    　限定キャラカスタム付き魔鏡で複数入手はできません。
                                    <br>
                                    ・限定キャラカスタム付き魔鏡で手に入る同一の限定キャラカスタムは
                                    <br>
                                　複数入手することはできません。</span>
                            </p>
                        </div>
                    </section>
                </div>
                <p>
                    <b></b>
                </p>
            </body>
        </html>
