<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- キャラカスタムTOP訴求画像orバナー -->
            </p>
            <center><strong>エミル・クラトスのキャラカスタムが追加!</strong></center>
            <hr>
            <section>
                <p style="text-align: center;">&nbsp;</p>
            </section>
            <section>
                <p style="text-align: center;">『TALES OF THE RAYS』をご利用いただき誠にありがとうございます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">8/31(水)12時頃のデータ配信時に衣装の追加を予定しております。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">本追加に伴い、8/31(水)12:00時点で下記衣装をお持ちの方に</p>
                <p style="text-align: center;">新規追加の衣装をお贈り致します。</p>
                <p style="text-align: center;">配布は後日を予定しておりますので、今しばらくお待ちください。</p>
                <p style="text-align: center;">※一部はデータ配信後にプリズムでも購入可能ですが、</p>
                <p style="text-align: center;">配布までお待ちいただくようお願い致します。</p>
                <hr>
                <p>■エミル</p>
                <p>実装済み衣装に対し『（エミル戦闘Ver）』の衣装を追加します。</p>
                <p>衣装をお持ちの方に『（エミル戦闘Ver）』をお贈りします</p>
                <p>※コラボ衣装は本対応の対象外となります。</p>
                <p>・『心優しき応援団長』をお持ちの方</p>
                <p>
                    　心優しき応援団長（エミル戦闘Ver）
                    <br>
                    ・『精霊装【テネブラエ】』をお持ちの方
                </p>
                <p>精霊装【テネブラエ】（エミル戦闘Ver）</p>
                <p>
                    ・『さわやかスイムパーカー』をお持ちの方
                    <br>
                    　さわやかスイムパーカー（エミル戦闘Ver）
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p>■クラトス</p>
                <p>「ダイマジン・・・ 」に原作Verを追加します。</p>
                <p>また、実装済みの衣装に対し『（羽非表示Ver）』を追加します</p>
                <p>※コラボ衣装は本対応の対象外となります。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">本対応に伴い、実装済みの「ダイマジン・・・ ？」のカスタム名を</p>
                <p style="text-align: center;">『ダイマジン・・・ ？（設定画Ver)』に変更いたします。</p>
                <p style="text-align: center;">名称のみの変更となります。</p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/42535/content_93007.png"
                             style="width: 108px;
                                    height: 108px">
                    </strong>
                </p>
                <p>&nbsp;</p>
                <p>実装済み衣装をお持ちの方に『（羽非表示Ver）』の</p>
                <p>衣装をお贈りいたします。</p>
                <p>
                    ・『ダイマジン・・・ ？（設定画Ver)』をお持ちの方
                    <br>
                    　ダイマジン・・・ ？
                </p>
                <p>
                    　ダイマジン・・・ ？（設定画 羽非表示Ver）
                    <br>
                    　ダイマジン・・・ ？（羽非表示Ver）
                </p>
                <p>
                    ・『初期装備衣装』をお持ちの方
                    <br>
                    　初期装備衣装（羽非表示Ver）
                </p>
                <p>
                    ・『ジャッジメント』をお持ちの方
                    <br>
                    　ジャッジメント（羽非表示Ver)
                </p>
                <p>
                    ・『スマートスーツ』をお持ちの方
                    <br>
                    　スマートスーツ（羽非表示Ver）
                </p>
                <p>
                    ・『古代英雄の礼装』をお持ちの方
                    <br>
                    　古代英雄の礼装（羽非表示Ver）
                </p>
                <hr>
                <p style="text-align: center;">
                    <strong>追加キャラカスタムアイテム一覧</strong>
                </p>
            </section>
            <section>
                <div class="frame1">
                    <p style="text-align: center;">
                        <strong>《衣装》</strong>
                    </p>
                    <p style="text-align: center;">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/42532/content_71009.png"
                                 style="width: 108px;
                                        height: 108px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/42533/content_71010.png"
                                 style="width: 108px;
                                        height: 108px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/42534/content_71011.png"
                                 style="width: 108px;
                                        height: 108px">
                        </strong>
                    </p>
                    <p style="text-align: center;">【エミル】</p>
                    <p style="text-align: center;">
                        心優しき応援団長（エミル戦闘Ver）
                        <br>
                        精霊装【テネブラエ】（エミル戦闘Ver）
                        <br>
                        さわやかスイムパーカー（エミル戦闘Ver）
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/42537/content_93013.png"
                                 style="width: 108px;
                                        height: 108px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/42536/content_93008.png"
                                 style="width: 108px;
                                        height: 108px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/42538/content_93014.png"
                                 style="width: 108px;
                                        height: 108px">
                        </strong>
                    </p>
                    <p style="text-align: center;">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/42539/content_93009.png"
                                 style="width: 108px;
                                        height: 108px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/42540/content_93010.png"
                                 style="width: 108px;
                                        height: 108px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/42541/content_93011.png"
                                 style="width: 108px;
                                        height: 108px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/42542/content_93012.png"
                                 style="width: 108px;
                                        height: 108px">
                        </strong>
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">【クラトス】</p>
                    <p style="text-align: center;">
                        ダイマジン・・・ ？（設定画 羽非表示Ver）
                        <br>
                        ダイマジン・・・ ？
                        <br>
                        ダイマジン・・・ ？（羽非表示Ver）
                        <br>
                        初期装備衣装（羽非表示Ver）
                        <br>
                        ジャッジメント（羽非表示Ver）
                        <br>
                        スマートスーツ（羽非表示Ver）
                        <br>
                        古代英雄の礼装（羽非表示Ver）
                    </p>
                </div>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong><span style="color:#FF4747;"></span></strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747"></span>
                </p>
                <p style="text-align: center;">■以降の獲得場所について</p>
                <p style="text-align: center;">配布以外での本追加の衣装については</p>
                <p style="text-align: center;">『キャラカスタム』画面からプリズムでの購入、</p>
                <p style="text-align: center;">またはガシャでの衣装入手により獲得可能となります。</p>
                <p>
                    ■エミル
                    <br>
                    ・心優しき応援団長（エミル戦闘Ver）
                </p>
                <p>&rarr;キャラカスタム画面での販売</p>
                <p>
                    <br>
                    ・精霊装【テネブラエ】（エミル戦闘Ver）
                </p>
                <p>&rarr;キャラカスタム画面での販売</p>
                <p>
                    <br>
                    ・さわやかスイムパーカー（エミル戦闘Ver）
                </p>
                <p>&rarr;ガシャで魔鏡『波と風をつかんで』獲得時に獲得</p>
                <p>&nbsp;</p>
                <p>
                    ■クラトス
                    <br>
                    ・ダイマジン・・・ ？
                    <br>
                    ・ダイマジン・・・ ？（羽非表示Ver）
                </p>
                <p>&rarr;キャラカスタム画面での販売</p>
                <p>&nbsp;</p>
                <p>・ダイマジン・・・ ？（設定画 羽非表示Ver）</p>
                <p>&rarr;ガシャで魔鏡『勇気ある息子へ』獲得時に獲得</p>
                <p>&nbsp;</p>
                <p>・初期装備衣装（羽非表示Ver）</p>
                <p>&rarr;キャラカスタム画面での販売</p>
                <p>&nbsp;</p>
                <p>・ジャッジメント（羽非表示Ver）</p>
                <p>&rarr;キャラカスタム画面での販売</p>
                <p>&nbsp;</p>
                <p>・スマートスーツ（羽非表示Ver）</p>
                <p>&rarr;ガシャで魔鏡『潜入捜査』獲得時に獲得</p>
                <p>&nbsp;</p>
                <p>・古代英雄の礼装（羽非表示Ver）</p>
                <p>&rarr;ガシャで魔鏡『受け継がれる英雄の剣』獲得時に獲得</p>
                <div class="frame2">
                    <p style="text-align: center;">
                        &nbsp;《注意事項》<span style="font-size:11px;"></span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・キャラカスタムアイテムの交換にはプリズムが必要です。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;">​</span></span>・キャラカスタムアイテムでのステータスの増減はありません。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;"></span><span style="font-size:11px;">・キャラカスタムアイテムを<span style="font-size:11px;">
                            <br>
                        　獲得していない場合はキャラカスタム画面に表示されません。</span></span>
                    </p>
                </div>

            </section>
        </div>
    </body>
</html>
