<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p align="center">
                <strong><span style="font-size:18px;"><span style="color:#FF4747;"></span></span><span style="font-size:18px;"><span style="color:#FF4747;"></span></span><span style="font-size:18px;"><span style="color:#FF4747;"></span></span><span style="font-size:18px;"><span style="color:#FF4747;"></span></span><span style="font-size:18px;"><span style="color:#FF4747;">【ソフトバンク】キャリア決済で</span></span></strong>
            </p>
            <p align="center">
                <strong><span style="font-size:18px;"><span style="color:#FF4747;">PayPayボーナスプレゼントキャンペーン</span></span><span style="font-size:18px;"><span style="color:#FF4747;"></span></span><span style="font-size:18px;"><span style="color:#FF4747;"></span></span><span style="font-size:18px;"><span style="color:#FF4747;"></span></span><span style="font-size:18px;"><span style="color:#FF4747;"></span></span><span style="font-size:18px;"><span style="color:#FF4747;"></span></span><span style="font-size:18px;"><span style="color:#FF4747;"></span></span><span style="font-size:18px;"><span style="color:#FF4747;"></span></span><span style="font-size:18px;"><span style="color:#FF4747;"></span></span><span style="font-size:18px;"><span style="color:#FF4747;"></span></span><span style="font-size:18px;"><span style="color:#FF4747;"></span></span></strong><span style="font-size:18px;"><span style="color:#FF4747;"></span></span>
            </p>
            <pre>
&nbsp;
</pre>
            <p>『TALES OF THE RAYS』をご利用いただき</p>
            <p>誠にありがとうございます。</p>
            <p>&nbsp;</p>
            <p>キャンペーン期間中に応募頂き、</p>
            <p>
                Google Playにてキャリア決済を初めてご利用の方、
                <br>
                または過去3か月間ご利用のないお客様に
            </p>
            <p>
                ご利用金額に応じて最大5,000円相当PayPayポイントをプレゼント！
                <br>
                すでにキャリア決済をお使いの方にも、
            </p>
            <p>抽選で200名様に5,000円分相当のPayPayポイントをプレゼント！</p>
            <p>
                <br>
                ▼対象期間
                <br>
                ～2022年9月5日まで
            </p>
            <p>&nbsp;</p>
            <p>
                <a href="https://stn.mb.softbank.jp/H389m"><span style="font-size:20px;"></span><span style="font-size:20px;"><strong>▼エントリー・詳細はコチラ</strong></span><span style="font-size:20px;"></span></a>
            </p>
            <p>
                <br>
                引き続き『TALES OF THE RAYS』を
            </p>
            <p>よろしくお願い申し上げます。</p>
            <p>&nbsp;</p>

        </div>
    </body>
</html>
