<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- キャラカスタムTOP訴求画像orバナー -->
            </p>
            <center>&nbsp;</center>
            <hr>
            <section>
                <p style="text-align: center;">
                    『<font color="#ff4747"><b>キャラカスタム</b></font>』に
                </p>
            </section>
            <section>
                <p style="text-align: center;">
                    <b>ミリーナ、コレット、リタ</b>の
                </p>
                <p style="text-align: center;">
                    <strong>限定キャラカスタム</strong>が期間限定で再登場!!
                </p>
                <p style="text-align: center;">この機会に入手して、自分だけのカスタマイズを楽しもう!!</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>追加キャラカスタムアイテム一覧</strong>
                </p>
            </section>
            <section>
                <div class="frame1">
                    <p style="text-align: center;">
                        <strong>《衣装》</strong>
                    </p>
                    <p style="text-align: center;">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6419/content_2103.png">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6420/content_10004.png">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/6421/content_21004.png">
                        </strong>
                    </p>
                    <p style="text-align: center;">ミリーナ：疾風の魔法剣士の衣装</p>
                    <p style="text-align: center;">コレット：絶剣の衣装</p>
                    <p style="text-align: center;">リタ：冥界の女神の衣装</p>
                </div>
                <p style="text-align: center;">
                    <b>ミリーナ、コレット、リタ</b>の限定キャラカスタムは、
                    <br>
                    <strong>『【復刻】ソードアート・オンライン フェイトフル・エンカウンター』ガシャ</strong>
                </p>
                <p style="text-align: center;">
                    <strong>『ソードアート・オンラインコラボ記念』ステップアップガシャ</strong>
                    <br>
                    <strong>『【復刻】ミリーナ＆コレット＆リタ確定チケットガシャ』</strong>
                </p>
                <p style="text-align: center;">で入手可能!!</p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/41836/content_220808.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/41837/content_220813.png"
                             style="width: 296px;
                                    height: 96px">
                        <br>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/41838/content_220809.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;"></span><span style="font-size:12px;">※詳細は
                        <br>
                        それぞれのお知らせをご確認ください</span><span style="font-size:11px;"></span>
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        またミリーナの限定衣装は
                        <br>
                        『【復刻】ソードアート・オンライン フェイトフル・エンカウンター』
                    </p>
                    <p style="text-align: center;">イベントポイント交換所でも入手可能!!</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">さらにミリーナ、コレット、リタの限定キャラカスタムは</p>
                    <p style="text-align: center;">期間限定でプリズムでも入手が可能!!</p>
                    <p style="text-align: center;">「売却・交換」&rArr;「かめにんショップ​」&rArr;該当キャラクターから</p>
                    <p style="text-align: center;">キャラカスタムを交換することができます。</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">&nbsp;◆かめにんショップ内の交換可能期間◆</p>
                    <p style="text-align: center;">
                        <strong>2022/8/22(月) メンテナンス終了後 ～ 2022/9/8(木) 10:59</strong>
                    </p>
                    <p style="text-align: center;">
                        <span style="color:#FF4747"></span>
                    </p>
                </section>
                <div class="frame2">
                    <p style="text-align: center;">
                        &nbsp;《注意事項》<span style="font-size:11px;"></span>
                    </p>
                    <p>
                        <span style="font-size:11px;"></span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・キャラカスタムアイテムでのステータスの増減はありません。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・キャラカスタムアイテムを
                            <br>
                        　獲得していない場合はキャラカスタム画面に表示されません。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;"><span style="font-size:11px;"></span></span>
                    </p>
                    <p class="indent">
                        <span style="font-size:11px;"></span>
                    </p>
                </div>
            </div>

            <p style="text-align: center;">
                <span style="font-size:14px;">&copy;2020 川原 礫/KADOKAWA/SAO-P Project
                    <br>
                &copy;Bandai Namco Entertainment Inc.</span>
            </p>
        </body>
    </html>
