<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/41856/content_2208241.png"
                     style="width: 100%">
            </p>
            <hr>
            <p>
                <span style="font-size:14px;"><strong>ファラ、シャーリィ、エリーゼ</strong>の</span>
            </p>
            <p>
                <span style="font-size:14px;"><span style="color:#FF4747;"><strong>『精霊装』</strong></span><span style="color:#FF4747;"><strong>のみ</strong></span>が確定で出現する</span>
            </p>
            <p>
                <span style="font-size:14px;">ファラ＆シャーリィ＆エリーゼ精霊装確定チケットガシャが開催!!</span>
            </p>
            <p>&nbsp;</p>
            <p>
                <strong>◆開催期間◆</strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;">2022/8/12(金) 14:00～2022/9/5(月) 10:59</span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                ファラ＆シャーリィ＆エリーゼ精霊装確定チケットガシャでは、
                <br>
                <b>ファラ、シャーリィ、エリーゼ</b>の<span style="color:#FF4747;"><strong>『精霊装</strong><strong>』のみ</strong></span>が出現!!
            </p>
            <div class="frame1">
                <p style="text-align: center;">
                    <strong><strong>登場する精霊装</strong></strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/41857/content_4111001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/41858/content_10511001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/41859/content_2911001.png"
                         style="width: 80px;
                                height: 80px">
                </p>
            </div>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                ファラ＆シャーリィ＆エリーゼ精霊装確定ガシャチケットは
                <br>
                <strong>『精霊装 ファラ＆シャーリィ＆エリーゼ』ステップアップガシャ</strong>で<strong>入手が可能!</strong>
            </p>
            <hr>
            <section>
                <strong><strong><strong><!-- 魔鏡訴求画像(ガシャと共通部材) -->
                    <img src="{{ s3_url }}public/uploads/ckeditor/pictures/41846/content_2208222.png"
                         style="width: 100%">
                </strong> </strong> </strong>
                <ul class="box">
                    <li>
                        霊装魔鏡技:<font color="#ff4747"><strong>獅吼嶽砕塵</strong></font>　　威力:<span style="color:#FF4747;"></span><strong><span style="color:#FF4747;">1758</span></strong>
                    </li>
                    <li>
                        　　クリティカル:<strong><font color="#ff4747">1.40</font></strong>
                    </li>
                </ul>
                <ul class="box">
                    <li>ファラ専用</li>
                </ul>
                <strong> <strong> <strong></strong> </strong> </strong>
                <div class="frame1">
                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        <strong><strong><strong>効果内容</strong></strong></strong>
                                    </p>
                                    <p>
                                        ノームの力を借りて、獅子の形をした
                                        <br>
                                        闘気を連続で叩き込み追撃する霊装魔鏡技
                                    </p>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong><strong><strong><strong><a href="https://youtu.be/pixFq4d7ilsexternalbrowser=true">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                 style="width: 60px;
                                                        height: 60px">
                                        </a></strong></strong></strong></strong>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <strong> <strong></strong> </strong>
                <p style="text-align: center;">
                    <span style="font-size:12px;">※霊装魔鏡技は精霊装のレアリティが3以上となった際に使用可能となります。</span>
                </p>
                <strong> <strong></strong></strong>
            </section>
            <hr>
            <section>
                <strong><strong><strong><!-- 魔鏡訴求画像(ガシャと共通部材) -->
                    <img src="{{ s3_url }}public/uploads/ckeditor/pictures/41847/content_2208223.png"
                         style="width: 100%">
                </strong> </strong> </strong>
                <ul class="box">
                    <li>
                        霊装魔鏡技:<font color="#ff4747"><strong>オーシャンズディバイダー</strong></font>　　威力:<span style="color:#FF4747;"></span><strong><span style="color:#FF4747;">1871</span></strong>
                    </li>
                    <li>
                        　　クリティカル:<strong><font color="#ff4747">1.40</font></strong>
                    </li>
                </ul>
                <ul class="box">
                    <li>シャーリィ専用</li>
                </ul>
                <div class="frame1">
                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>効果内容</p>
                                    <p>
                                        ウンディーネの力を借りて水を操り
                                        <br>
                                        大海を割き敵を退かせる霊装魔鏡技
                                    </p>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <a href="https://youtu.be/zhAurkCCBNkexternalbrowser=true">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                 style="width: 60px;
                                                        height: 60px">
                                        </a>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p style="text-align: center;">
                    <span style="font-size:12px;">※霊装魔鏡技は精霊装のレアリティが3以上となった際に使用可能となります。</span>
                </p>
            </section>
            <hr>
            <section>
                <strong><strong><strong><!-- 魔鏡訴求画像(ガシャと共通部材) -->
                    <img src="{{ s3_url }}public/uploads/ckeditor/pictures/41848/content_2208224.png"
                         style="width: 100%">
                </strong> </strong> </strong>
                <ul class="box">
                    <li>
                        霊装魔鏡技:<font color="#ff4747"><strong>リベールブースター</strong></font>　　威力:<span style="color:#FF4747;"></span><strong><span style="color:#FF4747;">1914</span></strong>
                    </li>
                    <li>
                        　　クリティカル:<strong><font color="#ff4747">1.40</font></strong>
                    </li>
                </ul>
                <ul class="box">
                    <li>エリーゼ専用</li>
                </ul>
                <div class="frame1">
                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>効果内容</p>
                                    <p>
                                        シャドウの力を借り、背負ったティポ
                                        <br>
                                        と共に高速飛行で突撃する霊装魔鏡技
                                    </p>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <a href="https://youtu.be/FLGKE3hFxssexternalbrowser=true">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                 style="width: 60px;
                                                        height: 60px">
                                        </a>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p style="text-align: center;">
                    <span style="font-size:12px;">※霊装魔鏡技は精霊装のレアリティが3以上となった際に使用可能となります。</span>
                </p>
            </section>
            <hr>
            <div class="frame2">
                <p style="text-align:center;">《 注意事項&nbsp;》</p>
                <p>
                    <span style="font-size:11px;"></span><span style="font-size:11px;"></span><span style="font-size:11px;">・本ガシャは「ファラ＆シャーリィ＆エリーゼ 精霊装確定ガシャチケット」のみで
                        <br>
                        　実行できます。
                        <br>
                    ・本ガシャは「ファラ＆シャーリィ＆エリーゼ 精霊装確定ガシャチケット」</span>
                </p>
                <p>
                    <span style="font-size:11px;">　1枚につき、1回実行できます。
                        <br>
                        ・本ガシャからはファラ、シャーリィ、エリーゼの
                        <br>
                        　精霊装が獲得できます。
                        <br>
                        ・本ガシャからは重複する精霊装が出現する可能性がございます。
                        <br>
                        ・期間限定の精霊装は再登場する場合がございます。
                        <br>
                        ・各種ボーナスの効果は、該当のイベント開催時のみ発動します。
                        <br>
                        ・各種ボーナスが発動する精霊装の一覧は、
                        <br>
                        　該当イベントのお知らせをご確認ください。
                        <br>
                        ・表示されているステータス・効果・各種ボーナスは、
                        <br>
                        　最大強化後の値となります。
                        <br>
                        ・ガシャやGRADE SHOPで精霊装を獲得すると精霊装のレアリティが3に上昇し、
                        <br>
                        　精霊装専用武器見た目、精霊装専用衣装の入手に加えて
                        <br>
                        　霊装魔鏡技が使用可能となります。
                        <br>
                        　それまでに精霊装強化に使用した素材と通貨が返却されます。
                        <br>
                        ・二つ目のアニマ付与は精霊装のレアリティが4となった際に追加されます。
                        <br>
                        ・精霊装専用カットインは精霊装のレアリティが5となった際に入手となります。
                        <br>
                        ・レアリティ3以上の精霊装を所持しているキャラクターの精霊装を
                        <br>
                        　ガシャやGRADE SHOPで獲得した場合、自動的に精霊片に変換されます。
                        <br>
                        　ファラの精霊装「地の活力に漲る者」：ファラの精霊片500個に
                        <br>
                        　変換されます。
                        <br>
                        　シャーリィの精霊装「水を護り導く者」：シャーリィの精霊片500個に
                        <br>
                        　変換されます。
                        <br>
                        　エリーゼの精霊装「闇の檻から羽ばたく者」：エリーゼの精霊片500個に
                        <br>
                    　変換されます。</span><span style="font-size:11px;"></span>
                </p>
            </div>
        </div>

    </body>
</html>
