<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <span style="color:#FF4747;"><span style="font-size:18px;"><strong>【重要】</strong></span></span><span style="font-size:18px;">
                    <br>
                    <strong>アプリ動作端末の変更予定について</strong></span>
            </p>
            <section>
                <hr>
                <p style="text-align: center;">
                    <br>
                    『TALES OF THE RAYS』をご利用いただき誠にありがとうございます。
                    <br>
                    <br>
                    このたび当アプリでは、開発環境のアップデートに伴い、
                    <br>
                    iOS 10.x端末のサポートを終了させて頂くこととなりました。
                </p>
                <p style="text-align: center;">
                    こちらアップデート実施日時につきましては、
                    <br>
                    確定次第、改めてお知らせいたします。
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    なお、このアップデート以降『iOS 10.x』のOSをご利用の方には
                    <br>
                    最新の『TALES OF THE RAYS』をインストールすることができず、
                    <br>
                    遊んで頂くことができなくなります。
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    日頃よりiOS10.xのOSでプレイして頂いております
                    <br>
                    お客様におかれましては、誠に恐れ入りますが
                </p>
                <p style="text-align: center;">
                    <strong><span style="color:#FF9900;">最新O</span><span style="color:#FF9900;">Sへのアップデート、</span></strong>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><strong>もしくはiOS 11.x以降に対応した端末への移行</strong></span>を
                </p>
                <p style="text-align: center;">ご検討くださいますよう、お願いいたします。</p>
                <p style="text-align: center;">
                    <a href="https://bnfaq.channel.or.jp/faq/faqDetail/4957?externalbrowser=true">※ご利用のOSバージョンのご確認方法はこちら</a>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">なお、</p>
                <p style="text-align: center;">
                    <strong>OSアップデート</strong>または<strong>機種変更後</strong>も、
                </p>
                <p style="text-align: center;">以前のアカウントでログインして頂くことにより</p>
                <p style="text-align: center;">引き続きゲームをお楽しみ頂けます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;">但し、データ引き継ぎ時やサポート終了後のアカウント紛失には</span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;">原則対応いたしかねますので、</span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><strong>『バンダイナムコIDによる引き継ぎ設定』</strong>を</span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;">必ず行って頂きたくお願い申し上げます。</span>
                </p>
                <p style="text-align: center;">※引き継ぎ設定の詳細につきましては、</p>
                <p style="text-align: center;">ゲーム内『メニュー』ボタンから『引き継ぎ設定』をご参照ください。</p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>後日ご案内します2022年9月下旬のアップデート配信日時までに</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>データ引き継ぎ設定が完了されていない場合、</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>データ引き継ぎ設定自体が不可となりますので、</strong></span><span style="color:#FF4747;"><strong>十分にご注意ください。</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>データ引き継ぎ設定さえ期日までに完了していれば、</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>ご利用端末の変更が間に合わなくても</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><b>引き継ぎが可能です。</b></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <section>
                    <p style="text-align: center;">対象となるお客様にはご迷惑をおかけいたしますが、</p>
                    <p style="text-align: center;">ご理解とご協力のほどよろしくお願いいたします。</p>
                    <p style="text-align: center;">
                        <br>
                        引き続き『TALES OF THE RAYS』をよろしくお願い申し上げます。
                    </p>
                </section>
            </section>
        </div>

    </body>
</html>
