<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>【予告】</p>
            <p>
                <span style="color:#FF9900;"><strong>ティル・ナ・ノーグ探検隊</strong></span>
            </p>
            <p>
                <span style="color:#FF9900;"><strong>～目指せ！　秘宝の眠る島～</strong></span><span style="color:#FF9900;"></span><strong><span style="color:#FF9900;"></span><span style="color:#FF9900;"></span>
                <br>
            開催!!</strong>
        </p>
        <hr>
        <section>
            <p style="text-align: center;">
                <strong><span style="color:#FF4747;"></span></strong>
            </p>
            <section>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong><span style="color:#FF4747;">新イベント</span></strong>
                </p>
            </section>
            <section>
                <p style="text-align: center;">
                    <strong>ティル・ナ・ノーグ探検隊</strong>
                </p>
                <p style="text-align: center;">
                    <strong>～目指せ！　秘宝の眠る島～</strong>
                </p>
                <p style="text-align: center;">
                    <strong>開催!!</strong><span style="font-size: 0.8rem; text-align: left;"></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>◆開催予定日時◆</strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;">2022/9/21(水)14:00</span></strong><strong><span style="color:#FF4747;">より開催予定</span></strong></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
            </section>
        </section>
        <section>
            <p style="text-align: center;">
                <strong>◆あらすじ◆</strong>
            </p>
            <p style="text-align: center;">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/42671/content_22092101.jpg"
                     style="width: 80%">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/42717/content_20220916_110642.png"
                     style="width: 80%">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/42718/content_20220916_111057.png"
                     style="width: 80%">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/42719/content_20220916_111110.png"
                     style="width: 80%">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/42720/content_20220916_115649.png"
                     style="width: 80%">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/42721/content_20220916_120357.png"
                     style="width: 80%">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/42722/content_20220916_120425.png"
                     style="width: 80%">
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <div class="frame2">
                <p style="text-align: center;">《&nbsp;注意事項&nbsp;》</p>
                <p class="indent">
                    <span style="font-size:11px;">・イベントで初登場するキャラ/装備は、再度登場する可能性がございます。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・イベント専用シナリオでは、APオーブは獲得できません。</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">・お知らせに掲載されている内容は</span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;">予告なく変更することがございます。</span><span style="font-size:12px;"></span>
                </p>
            </div>
        </section>
    </div>
    <p style="text-align: center;">
        <span style="font-size:12px;"></span>
    </p>

</body>
</html>
