<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- キャラカスタムTOP訴求画像orバナー -->
            </p>
            <center><strong>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/42625/content_2209080.png"
                     style="width: 296px;
                            height: 96px">
            </strong></center>
            <hr>
            <section>
                <p style="text-align: center;">
                    『<font color="#ff4747"><b>キャラカスタム</b></font>』に
                </p>
            </section>
            <section>
                <p style="text-align: center;">
                    <b>アルフェン、シオン、テュオハリム、キサラ</b>の<strong>限定キャラカスタム</strong>が期間限定で登場!!
                </p>
                <p style="text-align: center;">この機会に入手して、自分だけのカスタマイズを楽しもう!!</p>
                <hr>
                <p style="text-align: center;">
                    <strong>追加キャラカスタムアイテム一覧</strong>
                </p>
            </section>
            <section>
                <div class="frame1">
                    <p style="text-align: center;">
                        <strong>《衣装》</strong>
                    </p>
                    <p style="text-align: center;">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/42586/content_253006.png"
                                 style="width: 108px;
                                        height: 108px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/42587/content_254005.png"
                                 style="width: 108px;
                                        height: 108px">
                        </strong>
                    </p>
                    <p style="text-align: center;">アルフェン：男子生徒制服</p>
                    <p style="text-align: center;">シオン：女子生徒制服</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/42588/content_260004.png"
                                 style="width: 108px;
                                        height: 108px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/42589/content_259004.png"
                                 style="width: 108px;
                                        height: 108px">
                        </strong>
                    </p>
                    <p style="text-align: center;">テュオハリム：校長専用コート</p>
                    <p style="text-align: center;">キサラ：熱血教師のスーツ</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <strong>《アタッチメント》</strong>
                    </p>
                    <p style="text-align: center;">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/42590/content_259002.png"
                                 style="width: 108px;
                                        height: 108px">
                        </strong>
                    </p>
                    <p style="text-align: center;">キサラ：熱血教師の眼鏡</p>
                </div>
                <p style="text-align: center;">
                    <span style="font-size:12px;"><b>アルフェン、シオン、テュオハリム、キサラ</b>の限定キャラカスタムは</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:12px;"><strong>『ビエゾ攻略戦 劫火の猛獣』ガシャ</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:12px;"><strong>『ビエゾ攻略戦 劫火の猛獣』ステップアップガシャ</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:12px;"><strong>『劫火の猛獣チケットガシャ』</strong>
                        <br>
                    で入手可能!!</span>
                    <br>
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/42592/content_220901.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/42591/content_220905.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/42593/content_220902.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">※詳細は
                        <br>
                    それぞれのお知らせをご確認ください</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong><span style="color:#FF4747;"></span></strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747"></span>
                </p>
            </section>
            <div class="frame2">
                <p style="text-align: center;">
                    &nbsp;《注意事項》<span style="font-size:11px;"></span>
                </p>
                <p>
                    <span style="font-size:11px;">・キャラカスタムアイテムの交換にはプリズムが必要です。</span>
                </p>
                <p>
                    <span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;">​</span></span>・キャラカスタムアイテムでのステータスの増減はありません。</span>
                </p>
                <p>
                    <span style="font-size:11px;"></span><span style="font-size:11px;">・キャラカスタムアイテムを<span style="font-size:11px;">
                        <br>
                    　獲得していない場合はキャラカスタム画面に表示されません。</span></span>
                </p>
            </div>
        </div>

    </body>
</html>
