<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <span style="font-size:16px;"><strong>『ミラクル曜日クエスト』開催！</strong></span>
            </p>
            <section>
                <hr>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><span style="font-size:16px;"><strong>最大ダイヤ600個獲得可能!!</strong></span></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><strong><span style="color:#FF9900;">『2000日記念 ミラクル曜日クエスト』</span>開催！</strong></span>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/42629/content_5953.png"
                         style="width: 60%">
                </p>
                <p style="text-align: center;">&nbsp;</p>
            </section>
            <section>
                <section>
                    <p style="text-align: center;">月曜日から金曜日まで</p>
                    <p style="text-align: center;">順次解放されるクエストをクリアして、</p>
                    <p style="text-align: center;">
                        <span style="color:#FF4747;"><span style="font-size:16px;"><strong>強化に必要なアイテムを大量ゲット！</strong></span></span>
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <span style="font-size:18px;"><strong>クエストミッションクリアで</strong></span>
                    </p>
                    <p style="text-align: center;">
                        <span style="color:#FF4747;"><span style="font-size:18px;"><strong>最大ダイヤ600個獲得可能!!</strong></span></span>
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <b>◆ミラクル曜日クエストⅠ◆</b>
                    </p>
                    <p style="text-align: center;">
                        <span style="color:#FF9900;"><b>合計ダイヤ100個 獲得可能</b></span>
                    </p>
                    <p style="text-align: center;">
                        <strong>2022/9/12(月) 00:00&nbsp;～ 2022/9/18(日) 23:59</strong>
                    </p>
                    <center>
                        <table border="1" cellpadding="1" cellspacing="1" style="width:500px;">
                            <tbody>
                                <tr>
                                    <td style="text-align: center;">クエスト</td>
                                    <td style="text-align: center;">開始日時</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">
                                        <p>月Ⅰ</p>
                                    </td>
                                    <td style="text-align: center;">2022/9/12(月) 00:00　～</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">火Ⅰ</td>
                                    <td style="text-align: center;">
                                        <p>2022/9/13(火)&nbsp;00:00　～</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">水Ⅰ</td>
                                    <td style="text-align: center;">2022/9/14(水) 00:00　～</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">木Ⅰ</td>
                                    <td style="text-align: center;">2022/9/15(木) 00:00　～</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">金Ⅰ</td>
                                    <td style="text-align: center;">2022/9/16(金) 00:00　～</td>
                                </tr>
                            </tbody>
                        </table>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">
                            <b>◆ミラクル曜日クエストⅡ◆</b>
                        </p>
                        <p style="text-align: center;">
                            <span style="color:#FF9900;"><b>合計ダイヤ100個 獲得可能</b></span>
                        </p>
                        <p style="text-align: center;">
                            <strong>2022/9/19(月) 00:00&nbsp;～ 2022/9/25(日) 23:59</strong>
                        </p>
                        <p style="text-align: center;">
                            <span style="color:#FF4747;"></span>
                        </p>
                        <center>
                            <table border="1" cellpadding="1" cellspacing="1" style="width:500px;">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;">クエスト</td>
                                        <td style="text-align: center;">開始日時</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;">
                                            <p>月Ⅱ</p>
                                        </td>
                                        <td style="text-align: center;">2022/9/19(月) 00:00　～</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;">火Ⅱ</td>
                                        <td style="text-align: center;">
                                            <p>2022/9/20(火)&nbsp;00:00　～</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;">水Ⅱ</td>
                                        <td style="text-align: center;">2022/9/21(水) 00:00　～</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;">木Ⅱ</td>
                                        <td style="text-align: center;">2022/9/22(木) 00:00　～</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;">金Ⅱ</td>
                                        <td style="text-align: center;">2022/9/23(金) 00:00　～</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p style="text-align: center;">&nbsp;</p>
                            <p style="text-align: center;">
                                <b>◆ミラクル曜日クエストⅢ◆</b>
                            </p>
                            <p style="text-align: center;">
                                <span style="color:#FF4747;"><b>合計ダイヤ150個 獲得可能</b></span>
                            </p>
                            <p style="text-align: center;">
                                <strong>2022/9/26(月) 00:00&nbsp;～ 2022/10/2(日) 23:59</strong>
                            </p>
                            <p style="text-align: center;">
                                <span style="color:#FF4747;"></span>
                            </p>
                            <center>
                                <table border="1" cellpadding="1" cellspacing="1" style="width:500px;">
                                    <tbody>
                                        <tr>
                                            <td style="text-align: center;">クエスト</td>
                                            <td style="text-align: center;">開始日時</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center;">
                                                <p>月Ⅲ</p>
                                            </td>
                                            <td style="text-align: center;">2022/9/26(月) 00:00　～</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center;">火Ⅲ</td>
                                            <td style="text-align: center;">
                                                <p>2022/9/27(火)&nbsp;00:00　～</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center;">水Ⅲ</td>
                                            <td style="text-align: center;">2022/9/28(水) 00:00　～</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center;">木Ⅲ</td>
                                            <td style="text-align: center;">
                                                <p>2022/9/29(木)&nbsp;00:00　～</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center;">金Ⅲ</td>
                                            <td style="text-align: center;">2022/9/30(金) 00:00　～</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p style="text-align: center;">&nbsp;</p>
                                <p style="text-align: center;">
                                    <b>◆ミラクル曜日クエストⅣ◆</b>
                                </p>
                                <p style="text-align: center;">
                                    <span style="color:#FF4747;"><b>合計ダイヤ250個 獲得可能</b></span>
                                </p>
                                <p style="text-align: center;">
                                    <strong>2022/10/3(月) 00:00&nbsp;～ 2022/10/9(日) 23:59</strong>
                                </p>
                                <p style="text-align: center;">
                                    <span style="color:#FF4747;"></span>
                                </p>
                                <center>
                                    <table border="1" cellpadding="1" cellspacing="1" style="width:500px;">
                                        <tbody>
                                            <tr>
                                                <td style="text-align: center;">クエスト</td>
                                                <td style="text-align: center;">開始日時</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center;">
                                                    <p>月Ⅳ</p>
                                                </td>
                                                <td style="text-align: center;">2022/10/3(月) 00:00　～</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center;">火Ⅳ</td>
                                                <td style="text-align: center;">
                                                    <p>2022/10/4(火)&nbsp;00:00　～</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center;">水Ⅳ</td>
                                                <td style="text-align: center;">2022/10/5(水) 00:00　～</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center;">木Ⅳ</td>
                                                <td style="text-align: center;">2022/10/6(木) 00:00　～</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center;">金Ⅳ</td>
                                                <td style="text-align: center;">2022/10/7(金) 00:00　～</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </center>
                                <p style="text-align: center;">&nbsp;</p>
                                <p style="text-align: center;">
                                    <span style="font-size:16px;"><span style="color:#FF9900;"><strong>初回クリア時のみ</strong></span></span>
                                </p>
                                <p style="text-align: center;">
                                    <span style="font-size:16px;">以下のアイテムが必ず手に入る！</span>
                                </p>
                                <p class="frame1" style="text-align: center;">
                                    &nbsp;
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29873/content_9000.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29874/content_6701.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <br>
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35983/content_1001.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35984/content_2001.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35985/content_3001.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <br>
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35986/content_room_gift_s.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35987/content_room_gift_m.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35988/content_room_gift_l.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <br>
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35980/content_5001.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35981/content_5002.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35982/content_5003.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <br>
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35966/content_6001.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35967/content_6002.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35968/content_6101.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35969/content_6102.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <br>
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35970/content_6201.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35971/content_6202.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35972/content_6301.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35973/content_6302.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <br>
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35974/content_6401.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35975/content_6402.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35976/content_6501.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35977/content_6502.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <br>
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35978/content_6601.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35979/content_6602.png"
                                         style="width: 80px;
                                                height: 80px">
                                    &nbsp;
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/40222/content_1.png"
                                         style="width: 80px;
                                                height: 80px">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/40223/content_1.png"
                                         style="width: 80px;
                                                height: 80px">
                                </p>
                                <p style="text-align: center;">&nbsp;</p>
                            </center>
                        </center>
                    </center>
                </section>
            </section>
        </div>

    </body>
</html>
