<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/42620/content_P____________________vol65.jpg"
                     style="width: 100%">
            </p>
            <p>
                <!-- 仕切り -->
            </p>
            <section>
                <hr>
                <p style="text-align: center;">
                    『TALES OF THE RAYS』を遊んでくださっているみなさま。
                    <br>
                    こんにちは。制作プロデューサーの栁澤です。
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">8/22～開催させて頂いた</p>
                <p style="text-align: center;">
                    『 ソードアート・オンライン&times;Tales of 』コラボもいよいよ終盤です。
                    <br>
                    今回のコラボでは、シナリオや演出等、様々な方からご好評の声を頂いています。
                    <br>
                    現場の制作スタッフの熱意と版元様のご協力のおかげだと思います。
                    <br>
                    そんなコラボイベントも残り開催期日が短くなってきました。
                    <br>
                    次が開催出来るかは正直分かりませんので、遊び残し等がある方が居ましたら、
                </p>
                <p style="text-align: center;">ぜひ、最後まで楽しんで頂ければと思います。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">また、今回コラボキャラクターとして、</p>
                <p style="text-align: center;">
                    初めて終決魔鏡が登場し、同時に2枚目の魔鏡が初実装されています。
                    <br>
                    こちら情報解禁タイミングの都合により、
                </p>
                <p style="text-align: center;">事前にご説明が出来ておらずに申し訳ございませんでした。</p>
                <p style="text-align: center;">
                    <br>
                    改めて、少し触れさせて頂くと、
                </p>
                <p style="text-align: center;">
                    今回新規参戦はユージオ、アリスの二人と早い段階で決まっていました。
                    <br>
                    他のコラボ第2弾ではここまで&hellip;なのですが、今回新規で
                </p>
                <p style="text-align: center;">『ソードアート・オンライン　アリシゼーション War of Underworld』までの</p>
                <p style="text-align: center;">要素を追加させてただけるなかで、</p>
                <p style="text-align: center;">シリーズの中でも１つの節目になる作品であると考え、</p>
                <p style="text-align: center;">アスナ、キリトにも相応しい追加要素があった方が</p>
                <p style="text-align: center;">ソードアート・オンラインのファンの方に喜んで頂けるのではないか？</p>
                <p style="text-align: center;">という想いから実装に踏み切らせて頂いています。</p>
                <p style="text-align: center;">
                    <br>
                    結果として、賛否はあったものの、新規や復帰の方も今年一番の伸び率となり、
                </p>
                <p style="text-align: center;">
                    受け入れて喜んで頂けた方も多かった状況だと考えています。
                    <br>
                    否のご意見の大本は、
                </p>
                <p style="text-align: center;">コラボキャラクターの2枚目の魔鏡実装を望まない。というものではなく、</p>
                <p style="text-align: center;">自分が好きなテイルズキャラクターの新規魔鏡の実装を</p>
                <p style="text-align: center;">待ち望まれている声の裏返しだと理解していますので、</p>
                <p style="text-align: center;">引き続き、極端に実装数が少ないキャラクターの救済を</p>
                <p style="text-align: center;">ラインナップ上のバランスを見ながら解決していきたいと思います。</p>
                <p style="text-align: center;">
                    <br>
                    それでは、本題です。
                    <br>
                    今回は下記をお伝えさせて頂こうと思います。
                </p>
                <p style="text-align: center;">
                    <br>
                    <a href="#link01"><span style="font-size:14px;"><strong>・今後のアップデート</strong></span></a>
                </p>
                <p style="text-align: center;">
                    <br>
                    <a href="#link02"><span style="font-size:14px;"><strong>・9月の配信スケジュール(予告)</strong></span></a>
                </p>
                <p style="text-align: center;">
                    <br>
                    ※今月は直近で対応やご返答させて頂ける内容が無いため
                </p>
                <p style="text-align: center;">
                    【ご意見/ご要望等のご紹介と回答】はお休みとさせて頂きます。
                    <br>
                    （検討している項目はありますので、曖昧なお話ではなく、
                </p>
                <p style="text-align: center;">方針を決めた上できちんとご返答させて頂こうと思います。）</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">まず、今後のアップデートについてです。</p>
                <p style="text-align: center;">&nbsp;</p>
                <hr>
                <p style="text-align: center;">
                    <a id="link01" name="link01"><span style="font-size:14px;"><strong>【今後のアップデート】</strong></span></a>
                </p>
                <p>
                    <br>
                    <strong>○9月（下旬）</strong>
                    <br>
                    &nbsp;・ユニゾンアタックの放置対策　※ご要望等から改良案を検討
                    <br>
                    &nbsp;・クエスト時に表示されるフレンドのロジック変更
                    <br>
                    &nbsp;・フォロワー数上限の解放対応 100&rarr;150
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>〇時期未定</strong>
                    <br>
                    　・精霊装の改修(未定）
                    <br>
                    　・新展開！！(生放送で少し触れさせて頂きます。）
                    <br>
                    <br>
                    ◆ユニゾンアタックの放置対策
                    <br>
                    　以前告知させて頂いた内容です。
                    <br>
                    　ユニゾンアタック時にオート放置するプレイヤーとマッチングしたくないという
                </p>
                <p>
                    　ご要望に対しての対策になります。
                    <br>
                    　ご説明させて頂いた通り、下記の対策をさせて頂きます。
                    <br>
　
                    <br>
                    　・マッチング条件に「いいね！」数を取り入れ、
                </p>
                <p>いいね！が多い人同士でマッチングするようにする。</p>
                <p>
                    　　と同時に1戦でのいいね！出来る人数を2人に変更。
                    <br>
                    　&rArr;通常のマッチング条件だけで
                </p>
                <p>
                    　　オート放置勢かそうじゃないかを見分けるのが難しいため、
                    <br>
                    　　プレイヤー同士が能動的に行ういいね！の数が
                </p>
                <p>多い方同士がマッチングするように対策させて頂きます。</p>
                <p>
                    　　放置の方には「いいね!」はされないと思うので、
                    <br>
                    　　結果的にマニュアル操作する人同士で
                </p>
                <p>
                    　　マッチングされやすくなるようになります。
                    <br>
　
                </p>
                <p>ただし、テストはしているものの、実際、大人数で実施した場合に、</p>
                <p>
                    　　どの程度、機能するかはやってみないと分からない部分もあります。
                    <br>
                    　　データやみなさまのご意見等を参考にしながら、
                </p>
                <p>良い環境になるように調整を入れて行きたいと思いますので、</p>
                <p>
                    　　実装後もご意見、ご要望を頂けますと助かります。
                    <br>
　
                    <br>
                    ◆クエスト時に表示されるフレンドのロジック変更
                    <br>
                    　こちらも以前告知させて頂いた内容です。
                    <br>
                    　クエスト時に中々、高ボーナスフレンドが表示されない。
                </p>
                <p>という状態を改善するため、</p>
                <p>前回選択したフレンドを保持する仕様を追加します。</p>
                <p>&nbsp;</p>
                <p>
                    ◆フォロワー数上限の解放対応　100&rarr;150
                    <br>
                    　こちら、ご意見、ご要望の中で、
                </p>
                <p>クエストに連れて行くフレンド表示の中で</p>
                <p>
                    　フォロワー表示が削除された場合に、
                    <br>
                    　&quot;相手のフォロワーが一杯で相互フォローになれない&quot;という状況が
                </p>
                <p>発生している場合があり、一部のユーザーの中には、</p>
                <p>フォロワーのまま、長らく貸し借りをしているという方が居るという事なので、</p>
                <p>フォロワー表示削除の事前対応として、</p>
                <p>
                    　フォロワー数上限を150に変更させて頂きます。
                    <br>
                    　（もっと増やしてほしいというご意見もあると思いますが、
                </p>
                <p>
                    　　サーバー負荷が上がってしまうため、段階的な対応となります。）
                    <br>
                    　上記の状態の方はお早めに、いつもお世話になっているフォロワーの方に
                </p>
                <p>フォローバックをして頂けますようお願い致します。</p>
                <p style="text-align: center;">&nbsp;</p>
                <hr>
                <p style="text-align: center;">
                    <a id="link02" name="link02"><span style="font-size:14px;"><strong>【9月の配信スケジュール（予告）】</strong></span></a>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/42621/content_22090401.jpg"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p>
                    <strong>・ARISE1周年イベント</strong>&nbsp;
                    <br>
                    　アルフェン シオン テュオハリム キサラに決戦魔鏡登場 （9月中旬）
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>・季節イベント　カロル探検隊</strong>
                    <br>
                    　カロル エルマーナ カイル ジェイに季節魔鏡登場！（9月下旬）
                </p>
                <p>&nbsp;</p>
                <p>小出しで申し訳ございません！</p>
                <p>既に告知されておりますが、続きは9/9の生放送になります！</p>
                <p>&nbsp;</p>
                <p>ARISE1周年イベントやカロル探検隊の制作小話も</p>
                <p>
                    生放送でお伝えさせて頂ければと思います。
                    <br>
                    また、メインシナリオは今月、予定通り20章を配信させて頂く予定です。
                    <br>
                    5年以上続いたメインシナリオもいよいよ完結が近づいてきました。
                    <br>
                    生放送では、メインシナリオ完結後の展望や
                </p>
                <p>その後の情報公開の予定にも触れさせて頂きます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <hr>
                <p style="text-align: center;">ザ レイズをリリース当初から一緒に支えてくれた</p>
                <p style="text-align: center;">
                    池野Ｐが卒業することになりました！
                    <br>
                    テイチャンブログの方に詳細が記載してあります
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"></span><a href="https://blog.tales-ch.jp/?p=1005?externalbrowser=true">テイチャンブログ</a>
                </p>
                <p style="text-align: center;">(新たなＰについてのお知らせもあります。)</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">また、2000日キャンペーンが</p>
                <p style="text-align: center;">
                    2000日ピッタリに行えず申し訳ございませんでした！
                    <br>
                    9/10からきちんとやりますのでご安心下さい！
                    <br>
                    開催が遅れたお詫びとして
                </p>
                <p style="text-align: center;">遅れた日数&times;3個のダイヤを本日！お送りさせて頂きます！</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">それでは『TALES OF THE RAYS』をよろしくお願い致します。</p>
                <p style="text-align: center;">制作プロデューサー　栁澤</p>
                <p style="text-align: center;">&nbsp;</p>
                <center>
                    <section>

                    </section>
                </center>
            </section>
        </div>
    </body>
</html>
