<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <span style="font-size:18px;"><strong>2000日記念</strong></span>
            </p>
            <p>
                <span style="font-size:18px;"><strong>キャンペーン開催！</strong></span>
            </p>
            <hr>
            <section>
                <p style="text-align: center;">【9/30更新】</p>
                <p style="text-align: center;">
                    <span style="font-size:18px;"><strong>◆鏡晶石増量パック販売◆</strong></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">5.5周年を記念して</p>
                <p style="text-align: center;">
                    <strong>鏡晶石の</strong><strong>増量パック</strong>を
                </p>
                <p style="text-align: center;">期間限定で販売!!</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>各増量パックの購入は1回限り!</strong>
                </p>
                <p style="text-align: center;">鏡晶石をお得に購入できるこの機会をお見逃しなく!!</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong style="font-size: 0.8rem;">◆開催期間◆</strong>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong><strong>2022/9/30(金) 14:00&nbsp;～ 2022/10/5(水)20:59</strong></strong></span>
                </p>
                <p style="text-align: center;">※10/5(水)の販売終了は23:59までではなく、</p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>20:59</strong></span>での終了となりますためご注意ください
                </p>
                <hr>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">おかげさまで「テイルズ オブ ザ レイズ」は</p>
                <p style="text-align: center;">リリースから2000日を突破!!</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">2000日を記念して</p>
                <p style="text-align: center;">
                    <span style="font-size:18px;"><span style="color:#FF4747;"><strong>「ダイヤ」合計2000個が手に入る</strong></span></span>
                </p>
                <p style="text-align: center;">特別なキャンペーンを開催！</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/42632/content_ToR_bnr_2000dayCampaign_01_960x1280__2_.png"
                         style="width: 60%">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <hr>
                <p style="text-align: center;">
                    <span style="font-size:18px;"><strong>◆ダイヤ2000個キャンペーン◆</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:18px;"><span style="color:#FF4747;"><strong>「ダイヤ」合計2000個が手に入る</strong></span></span>
                </p>
                <p style="text-align: center;">特別なキャンペーンを開催！</p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><strong>新魔鏡登場記念プレゼント　600個
                        <br>
                        ミラクル曜日クエスト開催　600個
                        <br>
                        2000日記念パネルミッション　200個
                        <br>
                        終章迫る！ パネルミッション　200個
                        <br>
                        RTキャンペーン　200個
                        <br>
                    2000日記念交換所　200個</strong></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><strong>〇新魔鏡登場記念プレゼント〇</strong></span>
                </p>
                <p style="text-align: center;">9月の新魔鏡登場にあわせて、</p>
                <p style="text-align: center;">各ダイヤ200個プレゼント！</p>
                <p style="text-align: center;">第1弾から第3弾まで</p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><span style="font-size:16px;"><strong>合計ダイヤ600個獲得可能!!</strong></span></span>
                </p>
                <p style="text-align: center;">※それぞれ開催開始時点でプレゼントボックスに送付します。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">◆開催期間◆</p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong><strong>第1弾：2022/9/10(土) 0:00&nbsp;～ 2022/10/7(金)23:59</strong></strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>&nbsp;</strong><strong><strong>第2弾：2022/9/21(水) 14:00 ～ 2022/10/7(金) 23:59</strong></strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong><strong>第3弾：2022/9/30(金) 14:00 ～ 2022/10/7(金) 23:59</strong></strong></span>
                </p>
                <p style="text-align: center;">
                    <br>
                    <span style="font-size:16px;"><strong>〇ミラクル曜日クエスト〇</strong></span>　
                </p>
                <p style="text-align: center;">月曜日から金曜日まで</p>
                <p style="text-align: center;">順次解放されるクエストをクリアして、</p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><strong>強化に必要なアイテムを大量ゲット！</strong></span>
                </p>
                <p style="text-align: center;">クエストミッションクリアで</p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><span style="font-size:16px;"><strong>合計ダイヤ600個獲得可能!!</strong></span></span>
                </p>
                <p style="text-align: center;">※詳しい内容については開催時のお知らせをご確認ください。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong style="font-size: 0.8rem;">◆開催期間◆</strong>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>クエストⅠ：2022/9/12(月) 00:00&nbsp;～ 2022/9/18(日) 23:59</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>クエストⅡ：2022/9/19(月) 00:00&nbsp;～ 2022/9/25(日) 23:59</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>クエストⅢ：2022/9/26(月) 00:00&nbsp;～ 2022/10/2(日) 23:59</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>クエストⅣ：2022/10/3(月) 00:00&nbsp;～ 2022/10/9(日) 23:59</strong></span>
                </p>
                <p style="text-align: center;">
                    <br>
                    <span style="font-size:16px;"><strong>〇2000日記念パネルミッション〇</strong></span>
                </p>
                <p style="text-align: center;">パネルミッションコンプリートで</p>
                <p style="text-align: center;">各ダイヤ100個手に入る！</p>
                <p style="text-align: center;">前後編あわせて</p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><span style="font-size:16px;"><strong>合計ダイヤ200個獲得可能!!</strong></span></span>
                </p>
                <p style="text-align: center;">※詳しい内容については開催時のお知らせをご確認ください。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong style="font-size: 0.8rem;">◆開催期間◆</strong>
                </p>
                <p style="text-align: center;">
                    <strong><span style="color:#FF4747;"></span></strong>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong><strong>前編：2022/9/10(土) 0:00&nbsp;～ 2022/9/30(金) 13:59</strong></strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>&nbsp;後編</strong><strong><strong>：2022/9/30(金) 14:00 ～ 2022/10/21</strong></strong></span><span style="color:#FF4747;"><strong><strong>(金) 23:59</strong></strong></span>
                </p>
                <p style="text-align: center;">
                    <br>
                    <span style="font-size:16px;"><strong>〇終章迫る！ パネルミッション〇</strong></span>
                </p>
                <p style="text-align: center;">パネルミッションコンプリートで</p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><span style="font-size:16px;"><strong>ダイヤ200個獲得可能!!</strong></span></span>
                </p>
                <p style="text-align: center;">さらに期間中</p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><span style="font-size:14px;"><strong>メインシナリオ3部及び、4部18章までの</strong></span></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><span style="font-size:14px;"><strong>消費AP75%OFFキャンペーンを実施！</strong></span></span>
                    <br>
                    この機会にメインシナリオを進めよう!!
                </p>
                <p style="text-align: center;">※詳しい内容については開催時のお知らせをご確認ください。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong style="font-size: 0.8rem;">◆開催期間◆</strong>
                </p>
                <p style="text-align: center;">
                    <strong><span style="color:#FF4747;">2022/9</span></strong><strong><span style="color:#FF4747;">/23</span></strong><strong><span style="color:#FF4747;">(金) 14:00&nbsp;～ 2022/10/31(月) 23:59</span></strong>
                </p>
                <p style="text-align: center;">
                    <br>
                    <span style="font-size:16px;"><strong>〇RTキャンペーン〇</strong></span>
                </p>
                <p style="text-align: center;">キャンペーン対象のツイートが</p>
                <p style="text-align: center;">一定のリツイート達成で</p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><span style="color:#FF9900;"><strong>ダイヤ200個プレゼント！</strong></span></span>
                </p>
                <p style="text-align: center;">
                    <br>
                    <span style="font-size:16px;"><strong>〇2000日記念交換所〇</strong></span>
                </p>
                <p style="text-align: center;">シリーズ限定クエストで入手できる</p>
                <p style="text-align: center;">『2000日記念コイン』と交換で</p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><span style="color:#FF9900;"><strong>ダイヤ200個獲得可能!!</strong></span></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong style="font-size: 0.8rem;">◆開催期間◆</strong>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong><strong>2022/9/10(土) 0:00&nbsp;～ 2022/10/22(土)23:59</strong></strong></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">&nbsp;</p>
                <hr>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:18px;"><strong>◆シリーズ限定クエスト​◆</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><span style="color:#FF9900;"><strong>鏡装が20％、魔鏡が10％で出現する</strong></span></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><span style="color:#FF9900;"><strong>『グレイトビクトリーガシャチケット』も獲得可能！</strong></span></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><span style="color:#FF9900;"><strong>シリーズ限定クエスト開催！</strong></span></span>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/42552/content_59521.png"
                             style="width: 60%">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong><span style="color:#FF4747;">『ダイヤ200個』</span>や</strong>
                </p>
                <p style="text-align: center;">
                    <strong><strong>鏡装が20％、魔鏡が10％</strong>で出現する</strong>
                </p>
                <p style="text-align: center;">
                    <strong><span style="color:#FF9900;"><strong>『グレイトビクトリーガシャチケット』</strong></span>も獲得可能！</strong>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><span style="font-size:16px;"></span></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">『シリーズ限定クエスト』は</p>
                <p style="text-align: center;">特定のシリーズのキャラのみ出撃できるクエストで</p>
                <p style="text-align: center;">クエストミッションクリアで</p>
                <p style="text-align: center;">『ダイヤ200個』などと交換できる</p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><strong>『2000日記念コイン』</strong></span>が獲得可能!!
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/42559/content_59521.png">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">『2000日記念交換所』では</p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>『ダイヤ200個』や『バーストメモリアチケット』、</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>全5種の『グレイトビクトリーガシャチケット』と交換!!</strong></span>
                </p>
                <center>※詳しい内容については開催時のお知らせをご確認ください。</center>
                <center>&nbsp;</center>
                <p style="text-align: center;">◆開催期間◆</p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong><strong>第1弾：2022/9/10(土) 0:00&nbsp;～ 2022/9/16(金)23:59</strong></strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>&nbsp;</strong><strong><strong>第2弾：2022/9/17(土) 0:00 ～ 2022/9/23(金) 23:59</strong></strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong><strong>第3弾：2022/9/24(土) 0:00 ～ 2022/9/30(金) 23:59</strong></strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong><strong>第4弾：2022/10/1(土) 0:00 ～ 2022/10/7(金) 23:59</strong></strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong><strong>第5弾：2022/10/8(土) 0:00 ～ 2022/10/14(金) 23:59</strong></strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
            </section>
        </div>

    </body>
</html>
