<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <span style="color:#FF4747;"><b><font size="4">10月イベント紹介！</font></b></span>
            </p>
            <hr>
            <p>
                <span style="font-size:12px;">2022年10月に開催されるイベントを紹介!!</span>
            </p>
            <p>
                <!-- 仕切り -->
            </p>
            <section>
                <p style="text-align: center;">
                    <strong><a href="https://youtu.be/RcqECeUlQHc?externalbrowser=true">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                             style="width: 100px;
                                    height: 100px">
                    </a></strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:20px;"><strong>ボタンタップでプロモーションビデオ再生！</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:9px;">※ご注意：動画再生アプリやブラウザが開きます。</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <hr>
                <p style="text-align: center;">
                    <span style="font-size:20px;"><strong>前後編イベント開催</strong></span><span style="font-size:20px;"><strong>！</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:20px;"><strong>新たなクロスオーバー魔鏡が登場！</strong></span>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/43064/content_scene1.png"
                             style="width: 80%">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/43065/content_scene2.png"
                             style="width: 80%">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/43066/content_scene3.png"
                             style="width: 80%">
                    </strong><span style="font-size:20px;">​<strong>​</strong></span>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/43067/content_scene4.png"
                             style="width: 80%">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/43068/content_scene5.png"
                             style="width: 80%">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/43069/content_scene6.png"
                             style="width: 80%">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/43070/content_scene7.png"
                             style="width: 80%">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/43071/content_scene8.png"
                             style="width: 80%">
                    </strong>
                </p>
                <p>&nbsp;</p>
                <hr>
                <p style="text-align: center;">
                    <span style="font-size:20px;"><strong>メインシナリオ完結!!</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:20px;"><strong>イベントで新たな終決魔鏡が登場！</strong></span>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/43060/content_scene9.png"
                         style="margin: 0px;
                                padding: 0px;
                                width: 80%;
                                text-align: center;
                                color: rgb(255, 255, 255);
                                text-transform: none;
                                text-indent: 0px;
                                letter-spacing: normal;
                                font-size: 12.8px;
                                font-style: normal;
                                font-variant: normal;
                                font-weight: 400;
                                text-decoration: none;
                                word-spacing: 0px;
                                white-space: normal;
                                cursor: default;
                                orphans: 2;
                                -webkit-text-stroke-width: 0px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/43061/content_scene10.png"
                         style="margin: 0px;
                                padding: 0px;
                                width: 80%;
                                text-align: center;
                                color: rgb(255, 255, 255);
                                text-transform: none;
                                text-indent: 0px;
                                letter-spacing: normal;
                                font-size: 12.8px;
                                font-style: normal;
                                font-variant: normal;
                                font-weight: 400;
                                text-decoration: none;
                                word-spacing: 0px;
                                white-space: normal;
                                cursor: default;
                                orphans: 2;
                                -webkit-text-stroke-width: 0px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/43062/content_scene11.png"
                         style="margin: 0px;
                                padding: 0px;
                                width: 80%;
                                text-align: center;
                                color: rgb(255, 255, 255);
                                text-transform: none;
                                text-indent: 0px;
                                letter-spacing: normal;
                                font-size: 12.8px;
                                font-style: normal;
                                font-variant: normal;
                                font-weight: 400;
                                text-decoration: none;
                                word-spacing: 0px;
                                white-space: normal;
                                cursor: default;
                                orphans: 2;
                                -webkit-text-stroke-width: 0px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/43063/content_scene12.png"
                         style="margin: 0px;
                                padding: 0px;
                                width: 80%;
                                text-align: center;
                                color: rgb(255, 255, 255);
                                text-transform: none;
                                text-indent: 0px;
                                letter-spacing: normal;
                                font-size: 12.8px;
                                font-style: normal;
                                font-variant: normal;
                                font-weight: 400;
                                text-decoration: none;
                                word-spacing: 0px;
                                white-space: normal;
                                cursor: default;
                                orphans: 2;
                                -webkit-text-stroke-width: 0px">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <hr>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/43057/content_scene13.png"
                         style="margin: 0px;
                                padding: 0px;
                                width: 80%;
                                text-align: center;
                                color: rgb(255, 255, 255);
                                text-transform: none;
                                text-indent: 0px;
                                letter-spacing: normal;
                                font-size: 12.8px;
                                font-style: normal;
                                font-variant: normal;
                                font-weight: 400;
                                text-decoration: none;
                                word-spacing: 0px;
                                white-space: normal;
                                cursor: default;
                                orphans: 2;
                                -webkit-text-stroke-width: 0px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/43058/content_scene14.png"
                         style="margin: 0px;
                                padding: 0px;
                                width: 80%;
                                text-align: center;
                                color: rgb(255, 255, 255);
                                text-transform: none;
                                text-indent: 0px;
                                letter-spacing: normal;
                                font-size: 12.8px;
                                font-style: normal;
                                font-variant: normal;
                                font-weight: 400;
                                text-decoration: none;
                                word-spacing: 0px;
                                white-space: normal;
                                cursor: default;
                                orphans: 2;
                                -webkit-text-stroke-width: 0px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/43059/content_scene15.png"
                         style="margin: 0px;
                                padding: 0px;
                                width: 80%;
                                text-align: center;
                                color: rgb(255, 255, 255);
                                text-transform: none;
                                text-indent: 0px;
                                letter-spacing: normal;
                                font-size: 12.8px;
                                font-style: normal;
                                font-variant: normal;
                                font-weight: 400;
                                text-decoration: none;
                                word-spacing: 0px;
                                white-space: normal;
                                cursor: default;
                                orphans: 2;
                                -webkit-text-stroke-width: 0px">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">少しでも早くお届けできるよう鋭意開発中です。</p>
                <p style="text-align: center;">楽しみにお待ち頂ければ幸いです。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    引き続き『TALES OF THE RAYS』をよろしくお願い申し上げます。
                    <br>
                    &nbsp;
                </p>
            </section>

            <p>&nbsp;</p>
        </div>
    </body>
</html>
