<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <strong>【初心者限定セール！】</strong>
            </p>
            <p>
                <span style="font-size:16px;"></span>
            </p>
            <p>
                <strong>初心者限定！鏡晶石に豪華おまけ3点が付いた
                    <br>
                    お得な商品が</strong><span style="font-size:16px;"><strong><span style="color:#FF4747;">&quot;7日間限定&quot;</span>で登場!!</strong></span>
                </p>
                <!-- 仕切り -->
                <hr>
                <section>
                    <p style="text-align: center;">
                        <u>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/43008/content_3000002.png"
                                 style="width: 60%;
                                        height: 60%">
                        </u>
                    </p>
                    <p style="text-align: center;">
                        <span style="font-size:16px;"><span style="font-size:16px;"><strong><span style="color:#FF4747;">＼ 初心者限定のお得な商品が期間限定登場</span></strong></span></span><span style="font-size:16px;"><span style="font-size:16px;"><strong><span style="color:#FF4747;">！／</span></strong></span></span>
                        <br>
                        <strong>「有償鏡晶石 100個」</strong>に<strong>冒険に役立つおまけ『3点』</strong>が付いた
                    </p>
                    <p style="text-align: center;">
                        <b><span style="font-size:16px;"><font color="#ff9900">初心者限定</font>のお得な商品</span>が</b>
                    </p>
                    <p style="text-align: center;">
                        <b>通常販売の「有償鏡晶石 100個」</b><strong>と同価格</strong>の
                    </p>
                    <p style="text-align: center;">
                        <b>160円で期間限定登場！</b>
                        <br>
                        &nbsp;
                    </p>
                    <p style="text-align: center;">
                        本商品を購入すると、<strong>「有償鏡晶石 100個」</strong>に加えて
                    </p>
                    <p style="text-align: center;">
                        <strong>おまけ</strong>で以下のアイテムがもらえる！
                        <br>
                        <span style="font-size:14px;"><span style="color:#FF4747;"><strong>①ダイヤx20</strong></span><span style="color:#FF9900;">
                            <br>
                            <span style="font-size:14px;"><span style="color:#FF4747;"><strong>②ガルドx1,500,000</strong></span></span></span><span style="color:#FF9900;"><span style="font-size:14px;"><span style="color:#FF9900;">
                                <br>
                                <span style="font-size:14px;"><span style="color:#FF4747;"><strong>③キラル粒子x2,000,000</strong></span></span></span></span></span></span>
                            </p>
                            <p style="text-align: center;">
                                <span style="font-size:14px;"><span style="color:#FF9900;"><span style="font-size:14px;"><span style="color:#FF9900;"><span style="font-size:14px;"><span style="color:#FF4747;">
                                    <br>
                                    <span style="font-size:16px;"><span style="font-size:16px;">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/32997/content_2.png"
                                             style="width: 108px;
                                                    height: 108px">
                                        &nbsp;</span></span><span style="font-size:14px;"><span style="color:#FF9900;"><span style="font-size:14px;"><span style="color:#FF9900;"><span style="font-size:14px;"><span style="color:#FF4747;"><span style="font-size:16px;"><span style="font-size:16px;">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/32998/content_1.png"
                                             style="width: 108px;
                                                    height: 108px">
                                        &nbsp;</span></span><span style="font-size:14px;"><span style="color:#FF9900;"><span style="font-size:14px;"><span style="color:#FF9900;"><span style="font-size:14px;"><span style="color:#FF4747;"><span style="font-size:14px;"><span style="color:#FF9900;"><span style="font-size:14px;"><span style="color:#FF9900;"><span style="font-size:14px;"><span style="color:#FF4747;"><span style="font-size:16px;"><span style="font-size:16px;">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/32999/content_1.png"
                                             style="width: 108px;
                                                    height: 108px">
                                    </span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
                                </p>
                                <p style="text-align: center;">
                                    <span style="font-size:12px;">※おまけはプレゼントボックスに贈られます。</span><span style="font-size:12px;"></span>
                                </p>
                                <p style="text-align: center;">&nbsp;</p>
                                <p style="text-align: center;">
                                    <span style="color:#FF4747;"><strong><span style="font-size:16px;">◆本商品の販売期間◆</span></strong></span>
                                </p>
                                <p style="text-align: center;">
                                    <strong><span style="font-size:16px;"></span><span style="font-size:16px;">7日間</span></strong>
                                </p>
                                <p style="text-align: center;">
                                    <span style="font-size:16px;"><span style="font-size:16px;"></span></span><span style="font-size:11px;">※詳細な販売終了日時は、商品の購入画面から</span>
                                </p>
                                <p style="text-align: center;">
                                    <span style="font-size:11px;">ご確認いただくことができます。</span>
                                </p>
                                <p style="text-align: center;">&nbsp;</p>
                                <hr>
                                <div class="frame2">
                                    <p style="text-align:center;">
                                        <b>《&nbsp;注意事項&nbsp;》</b>
                                    </p>
                                    <p class="indent">
                                        <b><span style="font-size:11px;"></span></b>
                                    </p>
                                    <p>
                                        <span style="font-size:11px;"></span><span style="font-size:11px;"></span><span style="font-size:11px;">・本商品の購入はお一人様1回限りとなります。
                                            <br>
                                        ・本商品は販売終了後も再販売される場合がございます。</span>
                                    </p>
                                </div>
                                <p>&nbsp;</p>
                            </section>
                        </div>
                        <p>
                            <b></b>
                        </p>
                    </body>
                </html>
