<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <span style="color:#FF4747;">【<span style="font-size: 18px;"><strong>重要</strong></span>】</span>
            </p>
            <p style="text-align: center;">
                <span style="color:#FF4747;"></span><span style="font-size: 18px;"><strong>Ver4.17.0で確認している不具合について</strong></span>
            </p>
            <hr>
            <p style="text-align: center;">
                <span style="font-size: 18px;"></span>
            </p>
            <!-- 仕切り -->
            <section>
                <p style="text-align: center;">
                    <span style="font-size:14px;"></span>
                </p>
                <p style="text-align: center;">いつも『TALES OF THE RAYS』をご利用いただきありがとうございます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">Ver4.17.0で下記の不具合を確認しております。</p>
                <p style="text-align: center;">・オプションにて設定する項目が正常に保存されない</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;">現在、原因を調査しております。</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;">原因や対応の進捗、お詫びについては本お知らせなどでご報告いたします。</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;">この度は多くのお客様にご迷惑をおかけしておりますことを</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;">お詫び申し上げます。</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;">解消まで今しばらくお待ちいただけますよう、お願い申し上げます。</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;">引き続き『TALES OF THE RAYS』をよろしくお願い申し上げます。</span>
                </p>

                <p>&nbsp;</p>
            </section>
        </div>
    </body>
</html>
