<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <strong>『リナ』バトルTOPIC！</strong>
            </p>
            <section>
                <section>
                    <hr>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <strong><span style="color:#FF4747;"></span></strong>
                    </p>
                    <p style="text-align: center;">リナ 終決魔鏡技 「神滅斬（ラグナ・ブレード）」について</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">リナの終決魔鏡技 「神滅斬」はMGが溜まった際に魔鏡技を入力しても</p>
                    <p style="text-align: center;">
                        <span style="color:#FF4747;"><strong>即発動はせず、入力時点から詠唱を開始します。</strong></span>
                    </p>
                    <p style="text-align: center;">
                        詠唱中のリナは無敵状態となり、敵の攻撃を受けても詠唱は中断されません。
                        <br>
                        詠唱が進むと自動でカットイン演出が入り、「神滅斬」が発動します。
                    </p>
                    <p style="text-align: center;">安心してフィールドのど真ん中で詠唱し、派手に敵を吹き飛ばしましょう！</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/43834/content____20221214_120401_.png"
                             style="width: 80%">
                    </p>
                    <p style="text-align: center;">
                        <span style="font-size:12px;"></span>
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <div class="frame1">
                        <span style="font-size:12px;"></span>
                        <center style="text-align: left;"><span style="font-size:11px;"><span style="text-align: left;"></span></span><span style="font-size:11px;">（注１）<span style="font-size:11px;">「神滅斬」</span>は他の魔鏡技発動中に魔鏡技連携して発動することはできません。</span></center>
                        <center style="text-align: left;"><span style="font-size:11px;"><span style="font-size:11px;">（注２）</span>「神滅斬」の詠唱を始めると、</span></center>
                        <center style="text-align: left;"><span style="font-size:11px;">術技やバックステップでのキャンセルはできなくなります。</span><span style="font-size:11px;">
                            <br>
                            <span style="font-size:11px;">（注３）</span>リナが他の術技発動中に魔鏡技入力を行った場合、</span></center>
                        <center style="text-align: left;"><span style="font-size:11px;">術技終了後に詠唱を開始します。</span><span style="font-size:11px;">
                            <br>
                            （注３）フレンド魔鏡として発動した際には通常発動時よりも威力が減少します。</span><span style="font-size:11px;">
                            <br>
                        （注４）「<span style="font-size:11px;">神滅斬</span>」の詠唱中に</span><span style="font-size:11px;">他の魔鏡技を発動した場合、</span></center>
                        <center style="text-align: left;"><span style="font-size:11px;">リナのMGは消費されず魔鏡技発動はキャンセルされます。</span></center>
                        <center style="text-align: left;"><span style="font-size:11px;"></span></center>
                        <center style="text-align: left;"><span style="font-size:11px;"><span style="text-align: left;"></span></span></center>
                        <p>
                            <span style="color:#FF9900;"></span>
                        </p>
                    </div>
                    <p style="text-align: center;">&nbsp;</p>
                </section>
            </section>
        </div>

        <p style="text-align: center;">
            <span style="font-size:14px;"></span>
        </p>
        <p style="text-align: center;">
            <span style="font-size:14px;"></span>
        </p>
    </body>
</html>
