<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- キャラカスタムTOP訴求画像orバナー -->
            </p>
            <center>&nbsp;</center>
            <hr>
            <section>
                <p style="text-align: center;">
                    『<font color="#ff4747"><b>キャラカスタム</b></font>』に
                </p>
            </section>
            <section>
                <p style="text-align: center;">
                    <b>リッド、ファラ、ナタリア、ガイ</b>の
                </p>
                <p style="text-align: center;">
                    <strong>限定キャラカスタム</strong>が期間限定で再登場!!
                </p>
                <p style="text-align: center;">この機会に入手して、自分だけのカスタマイズを楽しもう!!</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>追加キャラカスタムアイテム一覧</strong>
                </p>
            </section>
            <section>
                <div class="frame1">
                    <p style="text-align: center;">
                        <strong>《衣装》</strong>
                    </p>
                    <p style="text-align: center;">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/28340/content_40007.png">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/28341/content_41004.png">
                        </strong>
                    </p>
                    <p style="text-align: center;">リッド：謎の神官の衣装</p>
                    <p style="text-align: center;">ファラ：熱血最強、愛と正義の少女の衣装</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/28342/content_45004.png">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/28343/content_56004.png">
                        </strong>
                    </p>
                    <p style="text-align: center;">ナタリア：自称リナの生涯最大最強のライバルの衣装</p>
                    <p style="text-align: center;">ガイ：光の剣を継ぐ者の衣装</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <strong>《武器見た目》</strong>
                    </p>
                    <p style="text-align: center;">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/28462/content_56003.png">
                        </strong>
                    </p>
                    <p style="text-align: center;">ガイ：光の剣（模造品）</p>
                </div>
                <p style="text-align: center;">
                    <b>リッド、ファラ、ナタリア、ガイ</b>の限定キャラカスタムは、
                    <br>
                    <strong>『【復刻】ついに登場！？ 邪悪なる塔を統べる者！』ガシャ</strong>
                </p>
                <p style="text-align: center;">
                    <strong>『【復刻】ついに登場！？ 邪悪なる塔を統べる者！』ステップアップガシャ</strong>
                    <br>
                    <strong>『【復刻】リッド＆ファラ＆ナタリア＆ガイ確定チケットガシャ』</strong>
                </p>
                <p style="text-align: center;">で入手可能!!</p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/43935/content_221206.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/43936/content_221213.png"
                             style="width: 296px;
                                    height: 96px">
                        <br>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/43937/content_221207.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;"></span><span style="font-size:12px;">※詳細は
                        <br>
                        それぞれのお知らせをご確認ください</span><span style="font-size:11px;"></span>
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">さらにリッド、ファラ、ナタリア、ガイの限定キャラカスタムは</p>
                    <p style="text-align: center;">期間限定でプリズムでも入手が可能!!</p>
                    <p style="text-align: center;">「売却・交換」&rArr;「かめにんショップ​」&rArr;該当キャラクターから</p>
                    <p style="text-align: center;">キャラカスタムを交換することができます。</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">&nbsp;◆かめにんショップ内の交換可能期間◆</p>
                    <p style="text-align: center;">
                        <strong>2022/12/20(火) メンテナンス終了後 ～ 2023/1/10(火) 23:59</strong>
                    </p>
                    <p style="text-align: center;">
                        <span style="color:#FF4747"></span>
                    </p>
                </section>
                <div class="frame2">
                    <p style="text-align: center;">
                        &nbsp;《注意事項》<span style="font-size:11px;"></span>
                    </p>
                    <p>
                        <span style="font-size:11px;"></span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・キャラカスタムアイテムの交換にはプリズムが必要です。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・キャラカスタムアイテムでのステータスの増減はありません。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・キャラカスタムアイテムを
                            <br>
                        　獲得していない場合はキャラカスタム画面に表示されません。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;"><span style="font-size:11px;"></span></span>
                    </p>
                    <p class="indent">
                        <span style="font-size:11px;"></span>
                    </p>
                </div>
            </div>

            <p style="text-align: center;">
                <span style="font-size:14px;">&copy;神坂一・あらいずみるい／KADOKAWA</span>
            </p>
        </body>
    </html>
