<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <img alt=""
                 src="{{ s3_url }}public/uploads/ckeditor/pictures/43895/content_2212061.png"
                 style="width: 100%">
            <hr>
            <p>
                <span style="font-size:14px;"><strong>リッド、ファラ、ナタリア、ガイ</strong>の</span>
            </p>
            <p>
                <span style="font-size:14px;"><strong><span style="color:#FF4747;">装備・魔鏡のみ</span></strong>が出現する</span>
            </p>
            <p>
                <span style="font-size:14px;"><strong>『【復刻】ついに登場！？ 邪悪なる塔を統べる者！』</strong></span>
            </p>
            <p>
                <span style="font-size:14px;"><strong>ガシャ</strong>が開催!!</span>
            </p>
            <p>
                <span style="font-size:16px;"></span>
                <br>
                <span style="font-size:16px;"><span style="color:#FF4747;"><strong>リッド、ファラ、ナタリア、ガイ</strong></span>の</span>
            </p>
            <p>
                <span style="font-size:16px;"><span style="color:#FF9900;"><strong>コラボ魔鏡</strong></span>が<strong>再登場!!</strong></span>
            </p>
            <p>
                <span style="font-size:14px;">さらにリッド、ファラ、ナタリア、ガイの
                    <br>
                    <span style="color:#FF9900;"><b>コラボ鏡装</b></span>も入手可能!!</span>
                </p>
                <p>&nbsp;</p>
                <p>
                    <span style="font-size:14px;"></span>
                </p>
                <p>
                    <span style="font-size:16px;"><strong>またコラボ開催を記念して</strong></span>
                </p>
                <p>
                    <span style="font-size:16px;"><span style="color:#FF4747;"><strong>鏡晶石10連ガシャが初回半額!!</strong></span></span>
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>さらに！</strong>
                </p>
                <p>
                    <strong><span style="color:#FF9900;">鏡晶石ガシャ</span>では</strong>
                </p>
                <p>
                    <strong><span style="color:#FF4747;">バーストリミッツ解放アイテム『バーストメモリア』</span>を交換できる</strong>
                </p>
                <p>
                    <strong><span style="color:#FF4747;">『バーストメモリアチケットG』</span>がおまけで付いてくる！！</strong>
                </p>
                <p>&nbsp;</p>
                <p>
                    <span style="font-size:14px;">本ガシャでは<strong>【天才魔道士再び！謎の教祖をとっちめろ！GRADE】</strong>が獲得可能!!</span>
                </p>
                <p>
                    <span style="font-size:14px;"><span style="color:#FF4747;"><strong>鏡晶石</strong></span>の1連で10pt、10連では100pt、
                    <br>
                    <strong><span style="color:#FF4747;">ダイヤ</span></strong>の1連で5pt、10連では50pt獲得可能!!</span>
            </p>
            <p>
                <span style="font-size:14px;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/16985/content_140.png">
                </span>
            </p>
            <span style="font-size:14px;"> 【天才魔道士再び！謎の教祖をとっちめろ！GRADE】は、
                <br>
                【ガシャ】≫【対象のガシャ】≫【GRADE SHOP】で
                <br>
                対象のガシャに出現する<strong><span style="color:#FF4747;">鏡装・魔鏡</span></strong>と交換が可能！
                <br>
                ※所持しているGRADEはガシャ画面の「所持GRADE」一覧から
                <br>
                確認することが出来ます。</span><span style="font-size:14px;"></span>
                <p>
                    <br>
                    期間限定の
                </p>
                <p>
                    <span style="font-size:16px;"><strong><span style="color:#FF4747;">リッド、ファラ、ナタリア、ガイ</span></strong></span>の<span style="color:#FF4747;"><span style="font-size:16px;"><strong><span style="color:#FF4747;">コラボ魔鏡</span></strong></span></span>には、
                    <br>
                    <span style="font-size:18px;"><span style="color:#FF9900;"><strong>限定キャラカスタム</strong></span></span>がセットに！
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>◆開催期間◆</strong>
                </p>
                <p>
                    <span style="font-size:18px;"><span style="color:#FF4747;"><strong>2022/12/20(火) メンテナンス終了後 ～ 2023/1/10(火) 10:59</strong></span></span>
                </p>
                <p>&nbsp;</p>
                <p>
                    <span style="font-size:14px;"><strong>『【復刻】ついに登場！？ 邪悪なる塔を統べる者！』</strong></span>
                </p>
                <p>
                    <span style="font-size:14px;"></span><span style="font-size:14px;"><strong>ガシャ</strong>では、
                    <br>
                    <strong>リッド、ファラ、ナタリア、ガイ</strong>の
                    <br>
                    <span style="color:#FF4747;"><strong>『装備』・『魔鏡』のみが出現!</strong></span></span>
                </p>
                <div class="frame1" style="text-align: center;">
                    <strong>このガシャから装備・魔鏡が出現する対象キャラ</strong><span style="font-size:14px;"></span>
                    <p>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/43635/content_40.png"
                             style="width: 100px;
                                    height: 100px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/43636/content_41.png"
                             style="width: 100px;
                                    height: 100px">
                        <span style="font-size:14px;"></span>
                    </p>
                    <p>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/43637/content_45.png"
                             style="width: 100px;
                                    height: 100px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/43638/content_56.png"
                             style="width: 100px;
                                    height: 100px">
                    </p>
                    <p>
                        <strong><span style="color:#FF4747;"></span></strong>
                    </p>
                </div>
                <div align="center">
                    <p>
                        <strong><span style="color:#FF4747;">鏡晶石</span>での10連は1回<span style="color:#FF4747;">★5鏡装</span>もしくは<span style="color:#FF4747;">魔鏡</span>が確定!!</strong>
                    </p>
                    <p>
                        <span style="color:#ff4747;"></span>
                    </p>
                </div>
                <p style="font-size: 0.8rem;
                          margin: 10px 0px;
                          padding: 10px 10px 0px;
                          text-align: center">
                    <span style="font-size:14px;"><strong>さらにリッド、ファラ、ナタリア、ガイの</strong><span style="font-size:14px;"><strong><span style="color:#ff4747;"></span></strong></span></span>
                    <br>
                    <span style="font-size:14px;"><span style="font-size:14px;"><strong><span style="color:#ff4747;">『装備』</span></strong></span></span><span style="font-size:14px;"><strong>か</strong><span style="font-size:14px;"><strong><span style="color:#ff4747;">『魔鏡』</span></strong></span><strong>が<span style="color:#ff4747;">
                        <br>
                        必ず手に入るチケット</span></strong></span><span style="font-size:14px;"><span style="font-size:14px;">が</span></span><span style="font-size:14px;"><span style="color:#FF4747;"><strong>おまけ</strong></span>でついてくる!!</span>
                        <br>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/43896/content_221207.png"
                             style="width: 296px;
                                    height: 96px">
                        <span style="font-size:12px;"></span>
                    </p>
                    <p style="font-size: 0.8rem;
                              margin: 10px 0px;
                              padding: 10px 10px 0px;
                              text-align: center">
                        <strong><span style="font-size:12px;">ダイヤでの10連は★4以上が確定!!</span></strong>
                    </p>
                    <p>
                        <span style="font-size:12px;"><span style="color:#FF4747;"><strong>コラボ記念!!鏡晶石での10連ガシャ</strong></span>は、
                        <br>
                        <strong><span style="color:#FF4747;">初回のみ半額</span></strong>の<strong><span style="color:#FF4747;">1000個!!&nbsp;</span></strong></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span>
                    </p>
                    <hr>
                    <section>
                        <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                        <img src="{{ s3_url }}public/uploads/ckeditor/pictures/43946/content_2012012.png"
                             style="width: 100%">
                        <ul class="box">
                            <li>
                                <strong>魔鏡技:<font color="#FF4747">竜を滅せし者</font></strong>　　威力:<font color="#ff4747"><b>1378</b></font>
                            </li>
                            <li style="text-align:right;float:right">
                                <strong>リッド専用</strong>
                            </li>
                        </ul>
                        <div class="frame1">
                            <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>
                                                <strong>効果内容</strong>
                                            </p>
                                            <p>使えないはずの魔術を駆使し</p>
                                            <p>敵を焼き尽くす。敵に疲労を付与する</p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong><a href="https://www.youtube.com/watch?v=kDaA_tKaHvIexternalbrowser=true">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                         style="width: 60px;
                                                                height: 60px">
                                                </a></strong>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <hr>
                    <section>
                        <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                        <img src="{{ s3_url }}public/uploads/ckeditor/pictures/43947/content_2012013.png"
                             style="width: 100%">
                        <ul class="box">
                            <li>
                                <strong>魔鏡技:<font color="#FF4747">正義の鉄槌ストレート</font></strong>　　威力:<font color="#ff4747"><b>1475</b></font>
                            </li>
                            <li style="text-align:right;float:right">
                                <strong>ファラ専用</strong>
                            </li>
                        </ul>
                        <div class="frame1">
                            <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>
                                                <strong>効果内容</strong>
                                            </p>
                                            <p>正義の拳で放たれる全身全霊の</p>
                                            <p>鉄槌ストレート。敵に鈍足を付与する</p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong><a href="https://www.youtube.com/watch?v=6oT3YMKa9p8externalbrowser=true">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                         style="width: 60px;
                                                                height: 60px">
                                                </a></strong>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <hr>
                    <section>
                        <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                        <img src="{{ s3_url }}public/uploads/ckeditor/pictures/43948/content_2012014.png"
                             style="width: 100%">
                        <ul class="box">
                            <li>
                                <strong>魔鏡技:<font color="#FF4747">氷魔轟</font></strong>　　威力:<font color="#ff4747"><b>1300</b></font>
                            </li>
                            <li style="text-align:right;float:right">
                                <strong>ナタリア専用</strong>
                            </li>
                        </ul>
                        <div class="frame1">
                            <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>
                                                <strong>効果内容</strong>
                                            </p>
                                            <p>氷を纏う無数の矢を放ち敵を純白の</p>
                                            <p>氷塊に封じ込める。敵に毒を付与する</p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong><a href="https://www.youtube.com/watch?v=6Wfe827GfDoexternalbrowser=true">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                         style="width: 60px;
                                                                height: 60px">
                                                </a></strong>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <hr>
                    <section>
                        <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                        <img src="{{ s3_url }}public/uploads/ckeditor/pictures/43949/content_2012015.png"
                             style="width: 100%">
                        <ul class="box">
                            <li>
                                <strong>魔鏡技:<font color="#FF4747">光の居合斬り</font></strong>　　威力:<font color="#ff4747"><b>1863</b></font>
                            </li>
                            <li style="text-align:right;float:right">
                                <strong>ガイ専用</strong>
                            </li>
                        </ul>
                        <div class="frame1">
                            <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>
                                                <strong>効果内容</strong>
                                            </p>
                                            <p>居合による衝撃が鋭い刃となり敵を</p>
                                            <p>眩い光に巻き込む。敵に麻痺を付与</p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong><a href="https://www.youtube.com/watch?v=mSbW7dhI4RIexternalbrowser=true">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                         style="width: 60px;
                                                                height: 60px">
                                                </a></strong>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <hr>
                    <section>
                        <div class="frame2">
                            <p style="text-align:center;">《&nbsp;注意事項&nbsp;》</p>
                            <p class="indent">
                                <span style="font-size:11px;"></span>
                            </p>
                            <p>
                                <span style="font-size:11px;">・ピックアップされている魔鏡・装備は、
                                    <br>
                                    　同レアリティの魔鏡・装備の中で提供割合が
                                    <br>
                                    　高く設定されています。
                                    <br>
                                    　※実際の提供割合は、ガシャ内訳の個別提供割合一覧に準じます。
                                    <br>
                                    ・鏡晶石10連ガシャの、10回の抽選のうち1回は
                                    <br>
                                    　「★5鏡装・魔鏡」のいずれかが確定で出現します。
                                    <br>
                                    　提供割合は、「鏡晶石10連ガシャ 1/10回」一覧に準じます。
                                    <br>
                                    　また、おまけで
                                    <br>
                                    　「【復刻】リッド＆ファラ＆ナタリア＆ガイ確定ガシャチケット」が1枚、
                                    <br>
                                    　「バーストメモリアチケットG」が10枚、
                                    <br>
                                    　【天才魔道士再び！謎の教祖をとっちめろ！GRADE】が100pt獲得できます。
                                    <br>
                                    ・「【復刻】リッド＆ファラ＆ナタリア＆ガイ確定ガシャチケット」は
                                    <br>
                                    　鏡晶石10連ガシャ1回につき1枚が獲得できるもので、
                                    <br>
                                    　鏡晶石1連ガシャを10回分実行しても獲得できません。
                                    <br>
                                    ・鏡晶石1連ガシャでは、「バーストメモリアチケットG」が1枚、
                                    <br>
                                    　【天才魔道士再び！謎の教祖をとっちめろ！GRADE】が
                                    <br>
                                    　10pt獲得できます。
                                    <br>
                                    ・ダイヤ10連ガシャの、10回の抽選のうち1回は
                                    <br>
                                    　「★4装備・★5鏡装・魔鏡」のいずれかが確定で出現します。
                                    <br>
                                    　また、おまけで【天才魔道士再び！謎の教祖をとっちめろ！GRADE】が
                                    <br>
                                    　50pt獲得できます。
                                    <br>
                                    　提供割合は、「ダイヤ10連ガシャ 1/10回」一覧に準じます。
                                    <br>
                                    ・ダイヤ1連ガシャでは、【天才魔道士再び！謎の教祖をとっちめろ！GRADE】が
                                    <br>
                                    　5pt獲得できます。
                                    <br>
                                    ・【天才魔道士再び！謎の教祖をとっちめろ！GRADE】は
                                    <br>
                                    　GRADE SHOPにて使用できます。
                                    <br>
                                    ・【天才魔道士再び！謎の教祖をとっちめろ！GRADE】は
                                    <br>
                                    　GRADE SHOPの開催期間が終了するとお使い頂けません。
                                    <br>
                                    ・本ガシャで入手した【天才魔道士再び！謎の教祖をとっちめろ！GRADE】は
                                    <br>
                                    　GRADE SHOP終了時に自動的に「精鏡石」へ変換されます。
                                    <br>
                                    ・「鏡晶石10連ガシャ 1/10回」及び「ダイヤ10連ガシャ 1/10回」以外の
                                    <br>
                                    　提供割合は、「鏡晶石1連ガシャ、鏡晶石10連ガシャ 9/10回、
                                    <br>
                                    　ダイヤ1連ガシャ、ダイヤ10連ガシャ 9/10回」一覧に準じます。
                                    <br>
                                    ・「【復刻】リッド＆ファラ＆ナタリア＆ガイ確定ガシャチケット」を使用できるのは
                                    <br>
                                    　「【復刻】リッド＆ファラ＆ナタリア＆ガイ確定チケットガシャ」のみとなり、
                                    <br>
                                    　「【復刻】リッド＆ファラ＆ナタリア＆ガイ確定チケットガシャ」の開催期間が
                                    <br>
                                    　終了するとお使い頂けません。
                                    <br>
                                    ・「バーストメモリアチケットG」は
                                    <br>
                                    　『バーストメモリア交換所』にてご使用できます。
                                    <br>
                                    ・各種ボーナスの効果は、該当のイベント開催時のみ発動します。
                                    <br>
                                    ・各種ボーナスが発動する魔鏡・装備の一覧は、
                                    <br>
                                    　該当イベントのお知らせをご確認ください。
                                    <br>
                                    ・表示されているステータス・効果・各種ボーナスは、
                                    <br>
                                    　最大強化後の値となります。
                                    <br>
                                    ・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。
                                    <br>
                                    ・それぞれの提供割合は、小数第4位を四捨五入して表示しているため、
                                    <br>
                                    　合計値が100％にならない場合がございます。
                                    <br>
                                    ・鏡晶石とダイヤいずれの手段でもガシャの提供割合は変わりません。
                                    <br>
                                    ・鏡晶石とダイヤを組み合わせてガシャを実行することはできません。
                                    <br>
                                    ・鏡晶石1連ガシャは、期間中、毎日初回に限り半額の鏡晶石100個でご利用できます。
                                    <br>
                                    　当日の2回目以降は通常時の鏡晶石200個となります。
                                    <br>
                                    　翌日0：00に再び半額の鏡晶石100個でご利用できるようになります。
                                    <br>
                                    ・鏡晶石10連ガシャは、初回に限り半額の鏡晶石1000個でご利用できます。
                                    <br>
                                    　2回目以降は通常時の鏡晶石2000個となります。
                                    <br>
                                    ・期間限定の魔鏡・装備・キャラカスタムは再登場する場合がございます。
                                    <br>
                                    ・限定キャラカスタム付き魔鏡でキャラカスタムを入手した場合、
                                    <br>
                                    　その他入手導線での入手はできません。
                                    <br>
                                    ・限定キャラカスタムを先に限定キャラカスタム付き魔鏡以外から入手した場合、
                                    <br>
                                    　限定キャラカスタム付き魔鏡で複数入手はできません。
                                    <br>
                                    ・限定キャラカスタム付き魔鏡で手に入る同一の限定キャラカスタムは
                                    <br>
                                    　複数入手することはできません。
                                    <br>
                                    ・登場キャラクターの実装済みの魔鏡・装備でも
                                    <br>
                                    　本ガシャに含まれない場合がございます。
                                    <br>
                                　出現する装備・魔鏡につきましては、ガシャ内訳をご確認ください。</span><span style="font-size:11px;"></span>
                            </p>
                        </div>
                    </section>
                </div>
                <p>
                    <b></b>
                </p>
                <p style="text-align: center;">&copy;神坂一・あらいずみるい／KADOKAWA</p>
            </body>
        </html>
