<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- キャラカスタムTOP訴求画像orバナー -->
            </p>
            <center><strong>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/43917/content_22122009.png"
                     style="width: 296px;
                            height: 96px">
            </strong></center>
            <hr>
            <section>
                <p style="text-align: center;">
                    『<font color="#ff4747"><b>キャラカスタム</b></font>』に
                </p>
            </section>
            <section>
                <p style="text-align: center;">
                    <b>リナ、白蛇のナーガ、獣神官ゼロス</b>の<strong>限定キャラカスタム</strong>が期間限定で登場!!
                </p>
                <p style="text-align: center;">
                    また<strong>リナ</strong>の<strong>【復刻】コラボ​限定キャラカスタム</strong>も再登場!!
                </p>
                <p style="text-align: center;">この機会に入手して、自分だけのカスタマイズを楽しもう!!</p>
                <hr>
                <p style="text-align: center;">
                    <strong>追加キャラカスタムアイテム一覧</strong>
                </p>
            </section>
            <section>
                <div class="frame1">
                    <p style="text-align: center;">
                        <strong>《衣装》</strong>
                    </p>
                    <p style="text-align: center;">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/43918/content_214003.png"
                                 style="width: 108px;
                                        height: 108px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/28041/content_214002.png">
                        </strong>
                    </p>
                    <p style="text-align: center;">リナ：通常衣装（すぺしゃる版）</p>
                    <p style="text-align: center;">リナ：新たな旅路への衣装</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/43919/content_218002.png"
                                 style="width: 108px;
                                        height: 108px">
                        </strong>
                    </p>
                    <p style="text-align: center;">獣神官ゼロス：通常衣装（タリスマン装備）</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <strong>《アタッチメント》</strong>
                    </p>
                    <p style="text-align: center;">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/43920/content_296002.png"
                                 style="width: 108px;
                                        height: 108px">
                        </strong>
                    </p>
                    <p style="text-align: center;">白蛇のナーガ：変装になっていない仮面</p>
                </div>
                <p style="text-align: center;">
                    <span style="font-size:12px;"><b>リナ、白蛇のナーガ、獣神官ゼロス</b>の限定キャラカスタムは</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:12px;"><strong>『天才魔道士再び！謎の教祖をとっちめろ！』ガシャ</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:12px;"><strong>『天才魔道士再び！謎の教祖をとっちめろ！』ステップアップガシャ</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:12px;"><strong>『白蛇のナーガ＆獣神官ゼロス魔鏡確定チケットガシャ』</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:12px;"><strong>『天才魔道士再び！謎の教祖をとっちめろ！チケットガシャ』</strong></span><span style="font-size:12px;">
                        <br>
                    で入手可能!!</span>
                    <br>
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/43921/content_221201.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/43922/content_221205.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/43953/content_221203.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/43923/content_221202.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:12px;"><b>リナ</b>の【復刻】コラボ限定キャラカスタムは</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:12px;"><strong>『【復刻】スレイヤーズコラボ』ピックアップガシャ</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:12px;"><strong>『リナ＆ガウリイ＆ゼルガディス＆アメリア参戦記念』ステップアップガシャ</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:12px;"><strong>『リナ＆ガウリイ＆ゼルガディス＆アメリア魔鏡確定チケットガシャ』</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:12px;"><strong>『【復刻】リナ＆ガウリイ＆ゼルガディス＆アメリア確定チケットガシャ』</strong></span><span style="font-size:12px;">
                        <br>
                    で入手可能!!</span>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/43924/content_221208.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/43925/content_221212.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/43927/content_221210.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/43926/content_221209.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">※詳細は
                        <br>
                    それぞれのお知らせをご確認ください</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">さらに白蛇のナーガ、獣神官ゼロスの限定キャラカスタムと</p>
                <p style="text-align: center;">リナの【復刻】コラボの限定キャラカスタムは期間限定で</p>
                <p style="text-align: center;">プリズムでも入手が可能!!</p>
                <p style="text-align: center;">「売却・交換」&rArr;「かめにんショップ​」&rArr;該当キャラクターから</p>
                <p style="text-align: center;">キャラカスタムを交換することができます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">&nbsp;◆かめにんショップ内の交換可能期間◆</p>
                <p style="text-align: center;">
                    <strong>2022/12/20(火) メンテナンス終了後&nbsp;～ 2023/1/10(火) 23:59</strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong><span style="color:#FF4747;"></span></strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747"></span>
                </p>
            </section>
            <div class="frame2">
                <p style="text-align: center;">
                    &nbsp;《注意事項》<span style="font-size:11px;"></span>
                </p>
                <p>
                    <span style="font-size:11px;">・キャラカスタムアイテムの交換にはプリズムが必要です。</span>
                </p>
                <p>
                    <span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;">​</span></span>・キャラカスタムアイテムでのステータスの増減はありません。</span>
                </p>
                <p>
                    <span style="font-size:11px;"></span><span style="font-size:11px;">・キャラカスタムアイテムを<span style="font-size:11px;">
                        <br>
                    　獲得していない場合はキャラカスタム画面に表示されません。</span></span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;"></span>
                </p>
            </div>
        </div>

        <p style="text-align: center;">&copy;神坂一・あらいずみるい／KADOKAWA</p>
    </body>
</html>
