<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/44691/content_2302241.png"
                     style="width: 100%;
                            margin: 10px auto">
            </p>
            <hr>
            <p>
                <span style="font-size:14px;"><span style="color:#FF9900;"></span></span>
            </p>
            <p>
                <span style="font-size:16px;"><strong>2022/11/30までに登場した</strong></span>
            </p>
            <p>
                <span style="font-size:16px;"><strong>『<span style="color:#FF9900;">バーストリミッツ鏡装</span>』のみ</strong>が出現する</span>
            </p>
            <p>
                <span style="font-size:16px;"><strong>バーストリミッツ鏡装確定チケットガシャ</strong>が開催!!</span>
            </p>
            <p>&nbsp;</p>
            <p>
                <span style="font-size:14px;">バーストリミッツ鏡装確定チケットガシャを引くには
                    <br>
                    「<span style="font-size:14px;">バーストリミッツ鏡装確定</span>ガシャチケット」が必要です。
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/44779/content_230224.png"
                         style="width: 108px;
                                height: 108px">
                </span>
            </p>
            <p>
                <span style="font-size:16px;"><strong><span style="color:#FF4747;"></span></strong></span>
            </p>
            <p>
                <span style="font-size:16px;"></span>
            </p>
            <p>
                <span style="font-size:16px;"></span>
            </p>
            <p>
                <span style="font-size:16px;"><strong><span style="color:#FF0000;"></span><span style="color:#FF0000;"></span></strong></span>
            </p>
            <div class="frame1" style="text-align: center;">
                <p>
                    <strong>登場するバーストリミッツ鏡装</strong>
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>2022/11/30(水)</strong><strong>までに登場した</strong><b>バーストリミッツ鏡装</b>
                </p>
                <p>※コラボキャラクターの鏡装は含まれません</p>
            </div>
            <hr>
            <div class="frame2">
                <p style="text-align:center;">
                    《注意事項&nbsp;》<span style="font-size:11px;"></span>
                </p>
                <p>
                    <span style="font-size:11px;">・本ガシャは「バーストリミッツ鏡装確定ガシャチケット」のみで
                        <br>
                        　実行できます。
                        <br>
                        ・本ガシャは「バーストリミッツ鏡装確定ガシャチケット」1枚につき、
                        <br>
                        　1回実行できます。
                        <br>
                        ・本ガシャからは2022/11/30までに登場したバーストリミッツ鏡装が
                        <br>
                        　獲得できます。
                        <br>
                        ・本ガシャからは重複する装備が出現する可能性がございます。
                        <br>
                        ・各種ボーナスの効果は、該当のイベント開催時のみ発動します。
                        <br>
                        ・各種ボーナスが発動する装備の一覧は、
                        <br>
                        　該当イベントのお知らせをご確認ください。
                        <br>
                        ・表示されているステータス・効果・各種ボーナスは、
                        <br>
                        　最大強化後の値となります。
                        <br>
                        ・期間限定の装備は再登場する場合がございます。
                        <br>
                        ・「バーストリミッツ鏡装確定ガシャチケット」は開催中の
                        <br>
                        　「バーストリミッツ鏡装確定チケットガシャ」の
                        <br>
                    　開催期間が終了すると消滅するためご注意ください。</span>
                </p>
            </div>

        </div>
    </body>
</html>
