<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">新コンテンツ『リコレクション』のご紹介</font></font></strong>
            </p>
            <hr>
            <section>
                <p style="text-align: center;">
                    <span style="font-size:14px;"></span>『TALES OF THE RAYS』をご利用いただき誠にありがとうございます。
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><span style="font-size:16px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ver5 </font></font></strong></span></span><span style="color:#FF9900;"><span style="font-size:16px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">.0 </font></font></strong></span></span><span style="color:#FF9900;"><span style="font-size:16px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">.0 大型アップデート完了！</font></font></strong></span></span>
                </p>
                <p style="text-align: center;">
                    <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">本お知らせでは新コンテンツ</font></font></strong><span style="color:#FF4747;">
                        <br>
                        <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">『リコレクション』</font></font></strong></span><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">についてご紹介します！</font></font></strong>
                    </p>
                    <p style="text-align: center;">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/45342/content_23041050_00.png"
                                 style="width: 420px;
                                        height: 249px">
                        </strong>
                    </p>
                    <p style="text-align: center;">
                        <br>
                        <strong><a href="#link01">・リコレクションとは</a></strong>
                    </p>
                    <p style="text-align: center;">
                        <br>
                        <strong><a href="#link02">・リコレクションのバトルについて</a></strong>
                    </p>
                    <p style="text-align: center;">
                        <br>
                        <strong><a href="#link03">・今後の更新について</a></strong>
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p>
                        <span style="font-size:16px;"><span style="color:#FF4747;"></span></span>
                    </p>
                    <p>
                        <span style="font-size:16px;"><span style="color:#FF4747;"></span></span>
                    </p>
                    <p>
                        <span style="font-size:16px;"><span style="color:#FF4747;"></span></span>
                    </p>
                    <p>
                        <span style="font-size:16px;"><span style="color:#FF4747;"></span></span>
                    </p>
                    <hr>
                    <p style="text-align: center;">
                        <a id="link01" name="link01"><span style="font-size:14px;"><strong>【リコレクションとは】</strong></span></a>
                    </p>
                    <p>&nbsp;</p>
                    <p style="text-align: center;">
                        通常とは<span style="color:#FF9900;"><strong>異なるバトルシステム</strong></span>でクエストをクリアしていく
                    </p>
                    <p style="text-align: center;">
                        <strong><span style="color:#FF9900;">新しいゲームモード</span>で</strong>す。
                    </p>
                    <p style="text-align: center;">ホーム画面の下にある「リコレクション」ボタンから始めましょう！</p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/45343/content_23041050_01.png"
                             style="width: 400px;
                                    height: 237px">
                    </p>
                    <p style="text-align: center;">
                        <span style="font-size:16px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">◆ シリーズを開放しよう&nbsp;◆</font></font></strong></span>
                    </p>
                    <p style="text-align: center;">リコレクションではテイルズオブシリーズごとにクエストが分かれています。</p>
                    <p style="text-align: center;">
                        <span style="color:#FF9900;"><strong>「幻想灯」</strong></span>を使ってシリーズを開放しましょう。
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/45344/content_23041050_04.png"
                             style="width: 400px;
                                    height: 225px">
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/45345/content_5190_2.jpg"
                             style="width: 400px;
                                    height: 121px">
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <span style="font-size:16px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">◆ クエストに挑戦しよう&nbsp;◆</font></font></strong></span>
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/45346/content_23041050_05.png"
                             style="width: 400px;
                                    height: 225px">
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">クエストにはシリーズのキャラクターのみで挑戦します。</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        クエストのバトルで以下の条件をクリアすると<span style="color:#FF9900;"><strong>「想珠」</strong></span>を獲得します。
                    </p>
                    <p style="text-align: center;">
                        <span style="color:#FF4747;"><strong>想珠を3個獲得するごとにシリーズレベルが上がります</strong>。</span>
                    </p>
                    <div align="center">
                        <table bgcolor="#204060"
                               cellpadding="0"
                               cellspacing="0"
                               style="border:2px #506070 solid;
                                      border-collapse: collapse;
                                      width:470px">
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">
                                        <span style="font-size: 0.8rem;">1. ボスを倒してクリアする</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">2. 乱入を発生させず、ボスを倒してクリアする</td>
                                </tr>
                                <tr>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">3. 乱入を発生させず、TIMEを残しつつボスを倒してクリアする</td>
                                </tr>
                                <tr>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">4. ハードモードで乱入を発生させず、TIMEを残しつつ魔鏡技でボスを倒してクリアする</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">シリーズレベルに応じて開放されているクエストの中から</p>
                    <p style="text-align: center;">5つのクエストがピックアップされているので</p>
                    <p style="text-align: center;">想珠を獲得していないクエストを選んで</p>
                    <p style="text-align: center;">挑戦していきましょう！</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <span style="font-size:16px;"><u><strong>ハードモード</strong></u></span>
                    </p>
                    <p style="text-align: center;">シリーズの全てのクエストが難易度の高いクエストに変化するモードです。</p>
                    <p style="text-align: center;">ハードモードになったシリーズは</p>
                    <p style="text-align: center;">その日の23:59までハードモードの状態が続きます。</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">下記A,Bの条件を満たすことで解放されます。</p>
                    <p style="text-align: center;">
                        A.想珠を3個獲得しているクエストが10個以上
                        <br>
                        B.Aを満たしたシリーズが5つ以上
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <span style="font-size:16px;"><u><strong>パーティ編成</strong></u></span>
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/45347/content_23041050_06.png"
                             style="width: 400px;
                                    height: 225px">
                    </p>
                    <p style="text-align: center;">「編成」ボタンからパーティを編成しましょう。</p>
                    <p style="text-align: center;">初めてシリーズの画面に入った時は</p>
                    <p style="text-align: center;">最大4人のキャラクターが戦闘力順に自動で編成されています。</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <strong>注意１</strong>
                    </p>
                    <p style="text-align: center;">
                        <strong><span style="color:#FF4747;">キャラクターLv、装備Lvはリコレクションモードでは反映されません。</span></strong>
                    </p>
                    <p style="text-align: center;">
                        シリーズレベルが上がった時に<span style="color:#FF9900;"><strong>「シリーズパーティ強化」</strong></span>を獲得することで
                    </p>
                    <p style="text-align: center;">キャラクターを強化していきます。</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <strong>注意２</strong>
                    </p>
                    <p style="text-align: center;">リコレクションモードでは以下の効果が無効となります。</p>
                    <p style="text-align: center;">図鑑報酬能力値上昇</p>
                    <p style="text-align: center;">術技割合能力値上昇</p>
                    <p style="text-align: center;">師弟設定能力値上昇</p>
                    <p style="text-align: center;">キャラLv80到達能力値ボーナス</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <span style="font-size:16px;"><strong><u>キャラクターの術技設定</u></strong></span>
                    </p>
                    <p style="text-align: center;">
                        <strong><u>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/45348/content_23041050_07.png"
                                 style="width: 400px;
                                        height: 225px">
                        </u></strong>
                    </p>
                    <p style="text-align: center;">キャラクターの術技はパーティ編成画面のキャラクター枠にある</p>
                    <p style="text-align: center;">「術技変更」から設定することができます。</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <strong>注意１</strong>
                    </p>
                    <p style="text-align: center;">
                        <span style="color:#FF4747;"><strong>術技の強化段階はリコレクションモードでは反映されません。</strong></span>
                    </p>
                    <p style="text-align: center;">
                        シリーズレベルが上がった時に<span style="color:#FF9900;"><strong>「シリーズパーティ強化」</strong></span>を獲得することで、
                    </p>
                    <p style="text-align: center;">強化段階を上げることができます。</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <strong>注意２</strong>
                    </p>
                    <p style="text-align: center;">
                        <span style="color:#FF4747;"><strong>リコレクションモードの術技設定は、</strong></span><span style="color:#FF4747;"><strong>通常の術技設定とは別に保存されます。</strong></span>
                    </p>
                    <p style="text-align: center;">初めてシリーズの画面に入った時は</p>
                    <p style="text-align: center;">通常時に設定している術技が自動で設定されています。</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <span style="font-size:16px;"><strong><u>シリーズパーティ強化</u></strong></span>
                    </p>
                    <p style="text-align: center;">リコレクションモードでキャラクターや術技を強化するための効果です。</p>
                    <p style="text-align: center;">シリーズランクが上がった時に</p>
                    <p style="text-align: center;">ランダムでピックアップされた3つの中から1つを選択して獲得できます。</p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/45349/content_23041050_08.png"
                             style="width: 400px;
                                    height: 225px">
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">効果はそのシリーズの全キャラクターに反映されます。</p>
                    <p style="text-align: center;">獲得済みのシリーズパーティ強化はシリーズ画面の</p>
                    <p style="text-align: center;">「シリーズ状況」ボタンから確認できます。</p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/45350/content_23041050_09.png"
                             style="width: 400px;
                                    height: 225px">
                    </p>
                    <p style="text-align: center;">効果の詳細は</p>
                    <p style="text-align: center;">「ヘルプ」＞「リコレクション」＞「シリーズパーティ強化」 をご確認ください。</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <span style="font-size:16px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">◆ </font></font></strong><b>シリーズレベルで歴代伝承とサブシナリオが開放</b><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">&nbsp;◆</font></font></strong></span>
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/45351/content_23041050_02.png"
                             style="width: 400px;
                                    height: 181px">
                    </p>
                    <p style="text-align: center;">
                        <span style="color:#FF9900;"><strong>シリーズレベル</strong></span>が特定の値になると
                    </p>
                    <p style="text-align: center;">
                        <span style="color:#FF4747;"><strong>「歴代伝承」と「サブシナリオ」が開放</strong></span>されます！
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <div style="text-align: center;">
                        <span style="font-size:16px;"><strong><u>歴代伝承</u></strong></span>
                    </div>
                    <p style="text-align: center;">
                        <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/45352/content_23041050_10.png"
                                 style="width: 400px;
                                        height: 225px">
                        </font></font></strong>
                    </p>
                    <p style="text-align: center;">歴代テイルズオブシリーズで開放されるシナリオです。</p>
                    <p style="text-align: center;">原作のストーリーをダイジェスト風に読むことができます。</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <span style="font-size:16px;"><strong><u>サブシナリオ</u></strong></span>
                    </p>
                    <p style="text-align: center;">
                        <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/45353/content_23041050_11.png"
                                 style="width: 400px;
                                        height: 225px">
                        </font></font></strong>
                    </p>
                    <p style="text-align: center;">テイルズ オブ ザレイズ リコレクションシリーズで開放されるシナリオです。</p>
                    <p style="text-align: center;">本編シナリオのサイドストーリーを読むことができます。</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <span style="font-size:16px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">◆ </font></font></strong><b>リコレクションランクでリコレクション本編シナリオが開放</b><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">&nbsp;◆</font></font></strong></span>
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/45354/content_23041050_03.png"
                             style="width: 400px;
                                    height: 183px">
                    </p>
                    <p style="text-align: center;">
                        <span style="color:#FF4747;"><strong>全シリーズのシリーズレベルの合計値が10増えるごと</strong></span>に、
                    </p>
                    <p style="text-align: center;">
                        <span style="color:#FF9900;"><strong>リコレクションランク</strong></span>が上がります。
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/45355/content_5190_1.jpg"
                             style="width: 400px;
                                    height: 237px">
                    </p>
                    <p style="text-align: center;">
                        <span style="color:#FF9900;"><strong>リコレクションランク</strong></span>が上がると、
                    </p>
                    <p style="text-align: center;">
                        <span style="color:#FF4747;"><strong>テイルズ オブ ザレイズ リコレクションの本編シナリオが開放</strong></span>されます。
                    </p>
                    <p style="text-align: center;">コダマ達の冒険を体験しましょう！</p>
                    <hr>
                    <p style="text-align: center;">
                        <a id="link02" name="link02"><span style="font-size:14px;"><strong>【リコレクションのバトルについて】</strong></span></a>
                    </p>
                    <p style="text-align: center;">
                        <span style="font-size:16px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">◆ AG</font></font></strong><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">&nbsp;◆</font></font></strong></span>
                    </p>
                    <p style="text-align: center;">
                        <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/45362/content_5160_1.png"
                                 style="width: 400px;
                                        height: 185px">
                        </font></font></strong>
                    </p>
                    <p style="text-align: center;">
                        <span style="color:#FF9900;"><strong>AG</strong></span>は「アクティブゲージ」と読みます。
                        <br>
                        <span style="color:#FF4747;"><strong>AGは術技の発動によって増加</strong></span>しますが、
                    </p>
                    <p style="text-align: center;">その増加量は術技の通常モードのバトルにおける</p>
                    <p style="text-align: center;">CCの消費量に対応して大きくなります。</p>
                    <p style="margin-left: 10.5pt; text-align: center;">値によって、有利不利の補正が発生します。</p>
                    <div align="center">
                        <table bgcolor="#204060"
                               cellpadding="0"
                               cellspacing="0"
                               style="border:2px #506070 solid;
                                      border-collapse: collapse;
                                      width:470px">
                            <thead>
                                <tr>
                                    <th bgcolor="#304040"
                                        scope="col"
                                        style="border:1px #506070 solid;
                                               border-collapse: collapse">AG</th>
                                    <th bgcolor="#304040"
                                        scope="col"
                                        style="border:1px #506070 solid;
                                               border-collapse: collapse">補正効果</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">0%</td>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">
                                        <p>のけぞり時間1.2倍 / 被ダメージ0.8倍 / HP回復補正1.2倍</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">1～50%未満</td>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">補正なし</td>
                                </tr>
                                <tr>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">50％～100％未満</td>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">ダメージ＋5% / 被ダメージ1.1倍 / HP回復補正0.9倍</td>
                                </tr>
                                <tr>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">100%以上</td>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">
                                        ダメージ＋10% / 被ダメージ1.3倍 / HP回復補正0.8倍
                                        <br>
                                        攻撃で敵がのけぞらない / 防御できない
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p style="text-align: center;">この判定は、連携開始時のAGの値で行われます。</p>
                    <p style="margin-left:10.5pt;">&nbsp;</p>
                    <p style="text-align: center;">
                        <span style="color:#FF4747;"><strong>AGが200%に達すると「気絶」状態</strong></span>になってしまいます。
                        <br>
                        気絶状態はAGが75％を下回ると解除されます。
                        <br>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/45357/content_5160_2.png"
                             style="width: 400px;
                                    height: 201px">
                    </p>
                    <p style="margin-left: 10.5pt; text-align: center;">
                        <span style="color:#FF4747;"><strong>AGを減らすには、待機や防御</strong></span>を行ってください。
                    </p>
                    <p style="margin-left: 10.5pt; text-align: center;">&nbsp;</p>
                    <p style="margin-left: 10.5pt; text-align: center;">また、術技を発動したタイミングでのAGの値が</p>
                    <p style="margin-left: 10.5pt; text-align: center;">条件を満たしているときに元技を発動すると</p>
                    <p style="margin-left: 10.5pt; text-align: center;">秘技へと変化して発動します。</p>
                    <p style="margin-left: 10.5pt; text-align: center;">&nbsp;</p>
                    <ul>
                        <li style="text-align: center;">
                            <strong><u>溜め秘技</u></strong>
                        </li>
                        <li style="text-align: center;">AG0の状態で術技を待機、移動中に発動した時</li>
                        <li style="text-align: center;">&nbsp;</li>
                        <li style="text-align: center;">
                            <strong><u>連携秘技</u></strong>
                        </li>
                        <li style="text-align: center;">AG100%以上の状態で術技を発動した時</li>
                    </ul>
                    <hr>
                    <p style="text-align: center;">
                        <span style="font-size:16px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">◆ オートチェイン</font></font></strong><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">&nbsp;◆</font></font></strong></span>
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/45358/content_5159_1.png"
                             style="width: 400px;
                                    height: 201px">
                    </p>
                    <p style="margin-left: 10.5pt; text-align: center;">
                        画面右側をフリックせず<span style="color:#FF4747;"><strong>ホールド(長押し)すると</strong></span>
                    </p>
                    <p style="margin-left: 10.5pt; text-align: center;">
                        <span style="color:#FF4747;"><strong>術技を</strong></span><span style="color:#FF4747;"><strong>最大４連携まで連続発動</strong></span>することができます。
                    </p>
                    <p style="margin-left: 10.5pt; text-align: center;">
                        この連携技を<span style="color:#FF9900;"><strong>「オートチェイン」</strong></span>と呼びます。
                    </p>
                    <p style="margin-left: 10.5pt; text-align: center;">&nbsp;</p>
                    <p style="margin-left: 10.5pt; text-align: center;">オートチェインは、バトル終了後に発生する「カスタマイズチャンス」でのみ</p>
                    <p style="margin-left: 10.5pt; text-align: center;">変更することができます。</p>
                    <p style="margin-left: 10.5pt; text-align: center;">変更対象となるキャラクターは、</p>
                    <p style="margin-left: 10.5pt; text-align: center;">
                        <span style="color:#FF4747;"><strong>バトル出撃時にリーダー設定されているキャラクター</strong></span>のみとなり、
                    </p>
                    <p style="margin-left: 10.5pt; text-align: center;">
                        <span style="color:#FF4747;"><strong>術技を変更できるのは、指定された１枠のみ</strong></span>となり
                    </p>
                    <p style="margin-left: 10.5pt; text-align: center;">任意で選択することはできません。</p>
                    <p style="margin-left: 10.5pt; text-align: center;">&nbsp;</p>
                    <p style="margin-left: 10.5pt; text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/45359/content_5159_2.png"
                             style="width: 400px;
                                    height: 201px">
                    </p>
                    <p style="margin-left: 10.5pt; text-align: center;">オートチェインに設定された術技の繋がりによって、</p>
                    <p style="margin-left: 10.5pt; text-align: center;">
                        <span style="color:#FF9900;"><strong>チェインボーナス</strong></span>が発生します。
                    </p>
                    <p style="margin-left: 10.5pt; text-align: center;">チェインボーナスには以下の種類があります。</p>
                    <p style="margin-left: 10.5pt; text-align: center;">&nbsp;</p>
                    <div align="center">
                        <table bgcolor="#204060"
                               cellpadding="0"
                               cellspacing="0"
                               style="border:2px #506070 solid;
                                      border-collapse: collapse;
                                      width:470px">
                            <thead>
                                <tr>
                                    <th bgcolor="#304040"
                                        scope="col"
                                        style="border:1px #506070 solid;
                                               border-collapse: collapse">種類</th>
                                    <th bgcolor="#304040"
                                        scope="col"
                                        style="border:1px #506070 solid;
                                               border-collapse: collapse">効果</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">カース</td>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">
                                        <p>
                                            違う属性の攻撃術技でつないだ場合に発生するボーナス。
                                            <br>
                                            状態異常の発生倍率が上昇します。
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">ウィーク</td>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">
                                        同じ属性の違う攻撃術技でつないだ場合に発生するボーナス。
                                        <br>
                                        弱点連携倍率が上昇します。
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">ミラージュ</td>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">
                                        無属性の違う攻撃術技でつないだ場合に発生するボーナス。
                                        <br>
                                        敵撃破時の魔鏡技ゲージの増加倍率が上昇します。
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">マスター</td>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">
                                        ★３&rarr;★４&rarr;★５のように、術技のレア度が上昇する形でつないだ場合に発生するボーナス。
                                        <br>
                                        AGの軽減率が上昇します。
                                        <br>
                                        レアリティ零の術技は★0の扱いになるため、1枠目にセットするとマスターボーナスが発生しやすくなります！
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">バリア</td>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">
                                        <p>回復術など、攻撃以外の術技をセットした場合に発生するボーナス。</p>
                                        <p>HP回復術発動時にバリアが付与されます。</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <p style="text-align: center;">
                        <span style="font-size:16px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">◆ アラウンドステップ&nbsp;◆</font></font></strong></span>
                    </p>
                    <p style="margin-left: 10.5pt; text-align: center;">
                        <span style="color:#FF4747;"><strong>左画面をはじく様に短くフリック</strong></span>することで、
                    </p>
                    <p style="margin-left: 10.5pt; text-align: center;">
                        <span style="color:#FF9900;"><strong>アラウンドステップ</strong></span>を発動させることができます。
                        <br>
                        敵の攻撃を避けたり、背後に回り込んだり、敵との距離を瞬時にコントロールすることができます。
                    </p>
                    <p style="margin-left: 10.5pt; text-align: center;">
                        <span style="font-size:16px;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/45361/content_5158_4.png"
                                 style="width: 400px;
                                        height: 201px">
                        </span>
                    </p>
                    <p style="margin-left: 10.5pt; text-align: center;">敵の攻撃をタイミングよくアラウンドステップで回避すると</p>
                    <p style="margin-left: 10.5pt; text-align: center;">
                        <span style="color:#FF9900;"><strong>「ジャスト回避」</strong></span>が発生し、
                    </p>
                    <p style="margin-left: 10.5pt; text-align: center;">
                        <span style="color:#FF4747;"><strong>アラウンドステップで消費されたHPが回復し</strong></span>
                    </p>
                    <p style="margin-left: 10.5pt; text-align: center;">
                        <span style="color:#FF4747;"><strong>0.5秒の無敵時間の付与と、AGが減少</strong></span>します。
                        <br>
                        さらに、敵の次の攻撃まで0.5秒の待機時間が発生し、
                    </p>
                    <p style="margin-left: 10.5pt; text-align: center;">その連携中にもう一度アラウンドステップが可能になります。</p>
                    <p style="margin-left: 10.5pt; text-align: center;">&nbsp;</p>
                    <p style="margin-left: 10.5pt; text-align: center;">
                        <span style="color:#FF4747;"><strong>アラウンドステップを発動させると、最大HPの3%を消費</strong></span>します。
                        <br>
                        また、消費されたHPが回復する前に再度アラウンドステップを行うと、
                    </p>
                    <p style="margin-left: 10.5pt; text-align: center;">
                        より多くのHPが消費されてしまいますので、注意が必要です。
                        <br>
                        3%&rarr;６%&rarr;９%(上限)
                    </p>
                    <p style="margin-left: 10.5pt; text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/45360/content_5158_3.png"
                             style="width: 400px;
                                    height: 201px">
                    </p>
                    <p style="margin-left: 10.5pt; text-align: center;">
                        <span style="color:#FF4747;"><strong>ガードをしていない状態で敵の攻撃を受けた場合、</strong></span>
                    </p>
                    <p style="margin-left: 10.5pt; text-align: center;">
                        <span style="color:#FF4747;"><strong>自動でジャスト回避のオートステップが発生</strong></span>します。
                    </p>
                    <p style="margin-left: 10.5pt; text-align: center;">
                        これには<span style="color:#FF9900;"><strong>制限回数があり、最初は３回まで</strong></span>となりますが、
                    </p>
                    <p style="margin-left: 10.5pt; text-align: center;">シリーズパーティ強化で最大＋10回まで増やすことができます。</p>
                    <hr>
                    <p style="margin-left: 10.5pt; text-align: center;">
                        <span style="font-size:16px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">◆ 魔鏡技</font></font></strong><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">&nbsp;◆</font></font></strong></span>
                    </p>
                    <p style="margin-left: 10.5pt; text-align: center;">
                        <span style="color:#FF4747;"><strong>ＭＧ(魔鏡技ゲージ)</strong>は</span><span style="color:#FF4747;"><strong>パーティー単位で管理</strong></span>されます。
                    </p>
                    <p style="margin-left: 10.5pt; text-align: center;">ゲージは最大で4本まで溜めることができます。</p>
                    <p style="margin-left: 10.5pt; text-align: center;">
                        <span style="color:#FF9900;"><strong>魔鏡技は発動するたびに威力に補正</strong></span>が掛かりますが、
                    </p>
                    <p style="margin-left: 10.5pt; text-align: center;">発動回数(発動可能回数)に合わせて、魔鏡技ゲージが溜まる速度は低下します。</p>
                    <p style="margin-left: 10.5pt; text-align: center;">&nbsp;</p>
                    <p style="margin-left: 10.5pt; text-align: center;">術技のジャスト連携によるＭＧの増加はありません。</p>
                    <p style="margin-left: 10.5pt; text-align: center;">&nbsp;</p>
                    <p style="margin-left: 10.5pt; text-align: center;">
                        <u><strong>霊装魔鏡技について</strong></u>
                    </p>
                    <p style="margin-left: 10.5pt; text-align: center;">精霊装をMain魔鏡としてセットすることはできませんが、</p>
                    <p style="margin-left: 10.5pt; text-align: center;">発動魔鏡技切り替えの対象となります。</p>
                    <p style="margin-left: 10.5pt; text-align: center;">精霊装のレアリティに応じた効果は</p>
                    <p style="margin-left: 10.5pt; text-align: center;">リコレクションのバトルでも発生しますが、</p>
                    <p style="margin-left: 10.5pt; text-align: center;">FGに関連する効果は発生しません。</p>
                    <p style="margin-left: 10.5pt; text-align: center;">&nbsp;</p>
                    <p style="margin-left: 10.5pt; text-align: center;">
                        <u><strong>フォームチェンジの魔鏡設定</strong></u>
                    </p>
                    <p style="margin-left: 10.5pt; text-align: center;">フォームチェンジ設定の魔鏡は、通常モードのバトルとは違い、</p>
                    <p style="margin-left: 10.5pt; text-align: center;">発動の際にMGゲージの消費が必要になります。</p>
                    <p style="margin-left: 10.5pt; text-align: center;">このため、発動できるタイミングは通常の魔鏡と同じタイミングとなります。</p>
                    <p style="margin-left: 10.5pt; text-align: center;">なお、魔鏡発動により発生するキャラクターの入れ替わりは</p>
                    <p style="margin-left: 10.5pt; text-align: center;">通常モードのバトルと同様に行われます。</p>
                    <p style="margin-left: 10.5pt; text-align: center;">&nbsp;</p>
                    <p style="margin-left: 10.5pt; text-align: center;">
                        <b><u>オリジン魔鏡について</u></b>
                    </p>
                    <p style="text-align: center;">オリジン魔鏡を所持していると、リコレクションモードで以下のボーナス効果が発生します。</p>
                    <p style="text-align: center;">
                        <span style="color:#FF9900;"><strong>・WAVEの秒数延長</strong></span>
                    </p>
                    <p style="text-align: center;">
                        所持数が増えるほど効果が大きくなります。<span style="color:#FF9900;">
                        <br>
                        <strong>・バトルスコアボーナス増加</strong></span>
                </p>
                <p style="text-align: center;">所持数が増えるほど、限界突破回数が増えるほど効果が大きくなります。</p>
                <p style="text-align: center;">
                    <br>
                    オリジン魔鏡所持効果は、各シリーズの画面の「シリーズ状況」ボタンから、
                </p>
                <p style="text-align: center;">「シリーズパーティ強化」のページで確認できます。</p>
                <hr>
                <p style="margin-left: 10.5pt; text-align: center;">
                    <span style="font-size:16px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">◆ バーストリミッツ</font></font></strong><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">&nbsp;◆</font></font></strong></span>
                </p>
                <p style="text-align: center;">通常バトルにおいてバーストリミッツ状態になることができるキャラクターは</p>
                <p style="text-align: center;">リコレクションでもバーストリミッツ状態になることができます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    ただし、<span style="color:#FF9900;"><strong>MGの共通化に伴い以下の内容に沿って発動</strong></span>が行われます。
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size: 0.8rem;">各キャラクターが戦闘で</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size: 0.8rem;">バーストリミッツ状態になることができるのは最大1回のみです</span>
                </p>
                <p style="text-align: center;">MGが1ゲージ分溜まるごとに、以下条件で発動可能になります。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">一番左のキャラクターからバーストリミッツを</p>
                <p style="text-align: center;">発動できる状態になります。</p>
                <p>&nbsp;</p>
                <p style="text-align: center;">一番左のキャラクターがすでに、バーストリミッツ状態になっていたら、</p>
                <p style="text-align: center;">左から2番目のキャラクターが、MGが1ゲージ分溜まるごとに</p>
                <p style="text-align: center;">
                    バーストリミッツを発動できる状態になります。
                    <br>
                    　以降左から順番に判定が行われます。
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">該当のキャラクターがAUTO操作の場合、</p>
                <p style="text-align: center;">通常バトルと同様に自動でバーストリミッツ状態になります。</p>
                <hr>
                <p style="margin-left: 10.5pt; text-align: center;">
                    <span style="font-size:16px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">◆ 覚醒スキル</font></font></strong><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">&nbsp;◆</font></font></strong></span>
                </p>
                <p style="margin-left: 10.5pt; text-align: center;">始祖久遠の塔で獲得できる覚醒スキルは</p>
                <p style="margin-left: 10.5pt; text-align: center;">リコレクションのバトルにおいても有効となります。</p>
                <p style="text-align: center;">ただし、以下の効果については</p>
                <p style="text-align: center;">リコレクションのバトルにあわせて効果が反映されます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <u>魔鏡技発動時ミラージュレシオ＋○○％</u>
                </p>
                <p style="text-align: center;">ミラージュレシオはMGに変換されます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <u>バックステップ関連の効果</u>
                </p>
                <p style="text-align: center;">アラウンドステップ、フロントステップに対しても有効となります。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">また、一部覚醒スキルについては</p>
                <p style="text-align: center;">意図した形で反映されていない不具合が発生しております。</p>
                <p style="text-align: center;">こちらについては次回以降の更新にて修正予定となります。</p>
                <p style="margin-left: 10.5pt; text-align: center;">&nbsp;</p>
                <hr>
                <p style="margin-left: 10.5pt; text-align: center;">
                    <span style="font-size:16px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">◆ レアリティ零</font></font></strong><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">&nbsp;◆</font></font></strong></span>
                </p>
                <p style="text-align: center;">近日開催予定のイベントと同日に登場予定です。</p>
                <p style="text-align: center;">詳細については当日のお知らせ等をご参照ください。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">コダマ達のレアリティ零については</p>
                <p style="text-align: center;">今後登場予定となります。</p>
                <pre data-stringify-type="pre">
&nbsp;</pre>
                <hr>
                <p style="text-align: center;">
                    <a id="link03" name="link03"><span style="font-size:14px;"><strong>【今後の更新について】</strong></span></a>
                </p>
                <p style="text-align: center;">
                    <br>
                    <span style="font-size:16px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">◆</font></font></strong></span><strong><span style="font-size:16px;">シナリオの追加予定について</span></strong><span style="font-size:16px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">◆</font></font></strong></span>
                    <br>
                    <span style="color:#FF9900;">〇<strong>歴代伝承</strong></span>
                    <br>
                    　A・B・C・Dグループの各シリーズの歴代伝承は全3回に分けて、
                    <br>
                    　グループごとに順次リリースを行います。
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;">〇<strong>リコレクション 本編シナリオ</strong></span>
                    <br>
                    　リコレクションの更新の度に追加予定です。
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/45363/content_________.png"
                         style="width: 80%">
                </p>
                <hr>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">◆</font></font></strong></span><span style="font-size:16px;"><strong>ク</strong></span><span style="font-size:16px;"><strong>エストの更新頻度について</strong></span><span style="font-size:16px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">◆</font></font></strong></span>
                    <br>
                    4/10のリリース時にはAグループの各シリーズに30クエストあり、
                    <br>
                    リコレクションの更新の度に各シリーズに10クエストずつ追加予定となります。
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    5月に予定しているBグループの追加の際
                    <br>
                    Aグループの各シリーズに10クエストずつ追加され、合計40クエスト存在することとなります。
                </p>
                <p style="text-align: center;">Bグループのシリーズは全40クエストでリリースされます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">同様に、Cグループ追加の際も</p>
                <p style="text-align: center;">
                    A・Bグループの各シリーズに10クエストずつ追加され、合計50クエストとなり、
                    <br>
                    Cグループのシリーズのクエストは全50クエストでリリースされます。
                </p>
                <hr>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">◆</font></font></strong></span><span style="font-size:16px;"><strong>想珠の獲得箇所について</strong></span><span style="font-size:16px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">◆</font></font></strong></span>
                    <br>
                    クエストの追加によりクエストクリアによる想珠の獲得可能箇所は
                </p>
                <p style="text-align: center;">リコレクション更新の度に増加します。</p>
                <p style="text-align: center;">
                    <br>
                    追加されるクエストの難易度は、
                </p>
                <p style="text-align: center;">リリース済みのクエストの推奨戦闘力の範囲内から、</p>
                <p style="text-align: center;">最大を更新する形を予定しています。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">リコレクションのリリース時点では</p>
                <p style="text-align: center;">
                    推奨戦闘力600～15000（ハードを除く）が存在し、
                    <br>
                    次回追加時は600～15000の範囲内からの追加と、
                    <br>
                    15000よりも大きい推奨戦闘力のクエストをそれぞれ追加予定です。
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">下記のシリーズミッションはリコレクション更新の際に</p>
                <p style="text-align: center;">
                    追加予定となっております。
                    <br>
                　<span style="color:#FF9900;"><strong>「獲得スコア累計〇〇」「累計撃破数〇〇」「魔鏡技発動数〇〇」</strong></span>
            </p>
            <p style="text-align: center;">
                <br>
                ただし、現在リリース済みのミッションが全部完了した場合、
            </p>
            <p style="text-align: center;">
                ミッション追加までの間カウントは進むことはありません。
                <br>
                他のシリーズのミッションを進めることをおすすめいたします。
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <hr>
            <p style="text-align: center;">
                <span style="font-size:16px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">◆</font></font></strong></span><span style="font-size:16px;"><strong>今後のイベント開催について</strong></span><span style="font-size:16px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">◆</font></font></strong></span>
                <br>
                メインシナリオの更新が完了以降、
            </p>
            <p style="text-align: center;">
                概ね10日前後のイベントを月3回開催しておりましたが、
                <br>
                今後は15日前後のイベントが月2回、リコレクションの更新を月1回行うサイクルを
            </p>
            <p style="text-align: center;">
                基本とする予定です。
                <br>
                （都合により、イベントの開催日数及び頻度は変更する場合がございます）
            </p>
            <hr>
            <p style="text-align: center;">
                <span style="font-size:16px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">◆イベントごとの</font></font></strong></span><span style="font-size:16px;"><strong>ボーナス装備について</strong></span><span style="font-size:16px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">◆</font></font></strong></span>
                <br>
                リコレクションの更新の際に追加される魔鏡・装備については
            </p>
            <p style="text-align: center;">
                その時点で開催中のイベントと
                <br>
                その次のイベントでボーナスを付与する予定です。
            </p>
            <hr>
            <p>&nbsp;</p>
            <p style="text-align: center;">引き続き『TALES OF THE RAYS』をよろしくお願い申し上げます。</p>
            <p>&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>

        </section>
    </div>
</body>
</html>
