<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <img alt=""
                 src="{{ s3_url }}public/uploads/ckeditor/pictures/37664/content_2201181.png"
                 style="width: 100%">
            <hr>
            <p>
                <span style="font-size:18px;"><strong>マーテル、ミラ、アーリア、クロエ</strong></span>の
            </p>
            <p>
                <span style="font-size:18px;"><strong><span style="color:#FF4747;">装備・魔鏡のみ</span></strong></span>が出現する
            </p>
            <p>
                <strong><span style="font-size:18px;">『</span><span style="font-size:18px;"></span><span style="font-size:18px;">【復刻】Happy Happening Wedding</span><span style="font-size:18px;"></span><span style="font-size:18px;">』ガシャ</span></strong>が開催!!
            </p>
            <p>
                <br>
                <strong><span style="color:#FF4747;"><span style="font-size:18px;"></span></span><span style="color:#FF4747;"><span style="font-size:18px;"></span></span><span style="color:#FF4747;"><span style="font-size:18px;"></span></span></strong><span style="font-size:18px;"><span style="color:#FF4747;"><strong>マーテル、</strong></span></span><strong><span style="color:#FF4747;"><span style="font-size:18px;">ミラ、アーリア、クロエ</span></span></strong>の<span style="font-size:18px;"><strong><span style="color:#FF4747;">季節魔鏡</span></strong></span>が再登場!!
            </p>
            <p>&nbsp;</p>
            <span style="font-size:14px;"></span>
            <p>
                期間限定の
                <br>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;">マーテル、</span><span style="color:#FF4747;">ミラ、アーリア、クロエ</span></strong>の<span style="color:#FF4747;"><strong>季節魔鏡</strong></span>には
                <br>
                <span style="font-size:18px;"><span style="color:#FF9900;"><strong>限定キャラカスタム</strong></span></span>がセットに！
            </p>
            <p>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/37629/content_2009256.png"
                     style="width: 80%">
            </p>
            <p>&nbsp;</p>
            <p>
                <strong>◆開催期間◆</strong>
            </p>
            <p>
                <span style="font-size:18px;"><span style="color:#FF4747;"><strong>イベント終了と同日時</strong></span></span>
            </p>
            <p>&nbsp;</p>
            <p>
                <span style="font-size:14px;"><strong>『【復刻】Happy Happening Wedding』ガシャ</strong>では、
                    <br>
                    <strong>マーテル、ミラ、アーリア、クロエ</strong>の
                    <br>
                    <span style="color:#FF4747;"><strong>『装備』・『魔鏡』のみが出現!</strong></span></span>
                </p>
                <div class="frame1" style="text-align: center;">
                    <strong>このガシャから装備・魔鏡が出現する対象キャラ</strong>
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/37630/content_180.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/37631/content_115.png"
                         style="width: 100px;
                                height: 100px">
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/37632/content_172.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/37633/content_118.png"
                         style="width: 100px;
                                height: 100px">
                </div>
                <div align="center">
                    <p>
                        <strong><span style="color:#FF4747;"></span></strong>
                    </p>
                    <p>
                        <strong>ダイヤでの10連は★4以上が確定!!</strong>
                    </p>
                    <p>
                        <strong><span style="color:#FF4747;">鏡晶石</span>での10連は1回<span style="color:#FF4747;">★5鏡装</span>もしくは<span style="color:#FF4747;">魔鏡</span>が確定!!</strong>
                    </p>
                    <p>
                        <span style="color:#ff4747;"></span>
                    </p>
                </div>
                <p style="font-size: 0.8rem;
                          margin: 10px 0px;
                          padding: 10px 10px 0px;
                          text-align: center">
                    <span style="font-size:14px;"><strong>さらにマーテル、ミラ、アーリア、クロエの</strong><span style="font-size:14px;"><strong><span style="color:#ff4747;">『装備』</span></strong></span></span><span style="font-size:14px;"><strong>か</strong><span style="font-size:14px;"><strong><span style="color:#ff4747;">『魔鏡』</span></strong></span><strong>が<span style="color:#ff4747;">
                        <br>
                        必ず手に入るチケット</span></strong></span><span style="font-size:14px;"><span style="font-size:14px;">が</span></span><span style="font-size:14px;"><span style="color:#FF4747;"><strong>おまけ</strong></span>でついてくる!!</span>
                        <br>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/37665/content_220119.png"
                             style="width: 296px;
                                    height: 96px">
                    </p>
                    <p style="font-size: 0.8rem;
                              margin: 10px 0px;
                              padding: 10px 10px 0px;
                              text-align: center">
                        さらに<span style="color:#FF4747;"><strong>鏡晶石10連では</strong><span style="color:#FF4747;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/37634/content_4992.png"
                             style="width: 20px;
                                    height: 20px">
                    </span><strong>2000個</strong>、<strong>鏡晶石1連では</strong><span style="color:#FF4747;"><span style="color:#FF4747;"><span style="color:#FF4747;"><span style="color:#FF4747;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/37634/content_4992.png"
                         style="width: 20px;
                                height: 20px">
                </span></span></span></span><strong>200個</strong>付き！</span><span style="color:#FF4747;"></span>
            </p>
            <hr>
            <section>
                <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/37836/content_2009252.png"
                     style="margin: 10px auto;
                            width: 100%">
                <ul class="box">
                    <li>
                        <strong>魔鏡技:<font color="#ff4747">一日千秋</font></strong>　　威力:<font color="#ff4747"><b>1462</b></font>
                    </li>
                    <li style="text-align:right;float:right">
                        <strong>マーテル専用</strong>
                    </li>
                </ul>
                <div class="frame1">
                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        <strong>効果内容</strong>
                                    </p>
                                    <p>思い出に育まれた一日千秋の想いを</p>
                                    <p>守り抜く魔鏡技。敵に鈍足を付与する</p>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong><a href="https://www.youtube.com/watch?v=ined6d0zxTkexternalbrowser=true">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                 style="width: 60px;
                                                        height: 60px">
                                        </a></strong><span class="ico-swd"></span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <hr>
            <section>
                <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/37837/content_2009253.png"
                     style="margin: 10px auto;
                            width: 100%">
                <ul class="box">
                    <li>
                        <strong>魔鏡技:<font color="#ff4747">メランコリック・ブーケ</font></strong>　　威力:<font color="#ff4747"><b>1449</b></font>
                    </li>
                    <li style="text-align:right;float:right">
                        <strong>ミラ専用</strong>
                    </li>
                </ul>
                <div class="frame1">
                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        <strong>効果内容</strong>
                                    </p>
                                    <p>剣をブーケに見立てて祝福する</p>
                                    <p>魔鏡技。敵に重量減少を付与する</p>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong><a href="https://www.youtube.com/watch?v=tDSipZBCzwQexternalbrowser=true">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                 style="width: 60px;
                                                        height: 60px">
                                        </a></strong><span class="ico-swd"></span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <hr>
            <section>
                <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/37838/content_2009254.png"
                     style="margin: 10px auto;
                            width: 100%">
                <ul class="box">
                    <li>
                        <strong>魔鏡技:<font color="#ff4747">アルテミスシュート</font></strong>　　威力:<font color="#ff4747"><b>1667</b></font>
                    </li>
                    <li style="text-align:right;float:right">
                        <strong>アーリア専用</strong>
                    </li>
                </ul>
                <div class="frame1">
                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        <strong>効果内容</strong>
                                    </p>
                                    <p>誓った想いを無数の矢に変えて敵を</p>
                                    <p>撃つ魔鏡技。敵の物防を下げる</p>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong><a href="https://www.youtube.com/watch?v=e5lgavDQifwexternalbrowser=true">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                 style="width: 60px;
                                                        height: 60px">
                                        </a></strong><span class="ico-swd"></span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <hr>
            <section>
                <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/37839/content_2009255.png"
                     style="margin: 10px auto;
                            width: 100%">
                <ul class="box">
                    <li>
                        <strong>魔鏡技:<font color="#ff4747">契儀入刀斬</font></strong>　　威力:<font color="#ff4747"><b>1270</b></font>
                    </li>
                    <li style="text-align:right;float:right">
                        <strong>クロエ専用</strong>
                    </li>
                </ul>
                <div class="frame1">
                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        <strong>効果内容</strong>
                                    </p>
                                    <p>誰かとの初めての共同作業を夢見る</p>
                                    <p>魔鏡技。ケーキは皆で食べてHP回復</p>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong><a href="https://www.youtube.com/watch?v=E0k1q3nBkJ8externalbrowser=true">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                 style="width: 60px;
                                                        height: 60px">
                                        </a></strong><span class="ico-swd"></span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <hr>
            <div align="center">
                <p>&nbsp;</p>
            </div>
            <section>
                <div class="frame2">
                    <p style="text-align:center;">《&nbsp;注意事項&nbsp;》</p>
                    <p class="indent">
                        <span style="font-size:11px;"></span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・ピックアップされている魔鏡・装備は、
                            <br>
                            　同レアリティの魔鏡・装備の中で提供割合が
                            <br>
                            　高く設定されています。
                            <br>
                            　※実際の提供割合は、ガシャ内訳の個別提供割合一覧に準じます。
                            <br>
                            ・鏡晶石10連ガシャの、10回の抽選のうち1回は
                            <br>
                            　「★5鏡装・魔鏡」のいずれかが確定で出現します。
                            <br>
                            　提供割合は、「鏡晶石10連ガシャ 1/10回」一覧に準じます。
                            <br>
                            　また、おまけで「【復刻】ウェディングガシャチケットVol.2」が1枚、
                            <br>
                            　イベント交換アイテムの「タルロウW」2000個が獲得できます。
                            <br>
                            ・鏡晶石1連ガシャはおまけでイベント交換アイテムの
                            <br>
                            　「タルロウW」が200個が獲得できます。
                            <br>
                            ・「【復刻】ウェディングガシャチケットVol.2」は
                            <br>
                            　鏡晶石10連ガシャ1回につき1枚が獲得できるもので、
                            <br>
                            　鏡晶石1連ガシャを10回分実行しても獲得できません。
                            <br>
                            ・ダイヤ10連ガシャの、10回の抽選のうち1回は
                            <br>
                            　「★4装備・★5鏡装・魔鏡」のいずれかが確定で出現します。
                            <br>
                            　提供割合は、「ダイヤ10連ガシャ 1/10回」一覧に準じます。
                            <br>
                            ・「鏡晶石10連ガシャ 1/10回」及び「ダイヤ10連ガシャ 1/10回」以外の
                            <br>
                            　提供割合は、「鏡晶石1連ガシャ、鏡晶石10連ガシャ 9/10回、
                            <br>
                            　ダイヤ1連ガシャ、ダイヤ10連ガシャ 9/10回」一覧に準じます。
                            <br>
                            ・「【復刻】ウェディングガシャチケットVol.2」を使用できるのは
                            <br>
                            　「【復刻】ウェディングチケットガシャVol.2」のみとなり、
                            <br>
                            　「【復刻】ウェディングチケットガシャVol.2」の開催期間が
                            <br>
                            　終了するとお使い頂けません。
                            <br>
                            ・各種ボーナスの効果は、該当のイベント開催時のみ発動します。
                            <br>
                            ・各種ボーナスが発動する魔鏡・装備の一覧は、
                            <br>
                            　該当イベントのお知らせをご確認ください。
                            <br>
                            ・表示されているステータス・効果・各種ボーナスは、
                            <br>
                            　最大強化後の値となります。
                            <br>
                            ・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。
                            <br>
                            ・それぞれの提供割合は、小数第4位を四捨五入して表示しているため、
                            <br>
                            　合計値が100％にならない場合がございます。
                            <br>
                            ・鏡晶石とダイヤいずれの手段でもガシャの提供割合は変わりません。
                            <br>
                            ・鏡晶石とダイヤを組み合わせてガシャを実行することはできません。
                            <br>
                            ・鏡晶石10連ガシャは、初回に限り半額の鏡晶石1000個でご利用できます。
                            <br>
                            　2回目以降は通常時の鏡晶石2000個となります。
                            <br>
                            ・鏡晶石1連ガシャは、初回に限り半額の鏡晶石100個でご利用できます。
                            <br>
                            　2回目以降は通常時の鏡晶石200個となります。
                            <br>
                            ・期間限定の魔鏡・装備・キャラカスタムは再登場する場合がございます。
                            <br>
                            ・限定キャラカスタム付き魔鏡で手に入る同一の限定キャラカスタムは
                            <br>
                            　複数入手することはできません。
                            <br>
                            ・限定キャラカスタム付き魔鏡でキャラカスタムを入手した場合、
                            <br>
                            　その他入手導線での入手はできません。
                            <br>
                            ・限定キャラカスタムを先に限定キャラカスタム付き魔鏡以外から入手した場合、
                            <br>
                            　限定キャラカスタム付き魔鏡で複数入手はできません。
                            <br>
                            ・登場キャラクターの実装済みの魔鏡・装備でも
                            <br>
                            　本ガシャに含まれない場合がございます。
                            <br>
                        　出現する装備・魔鏡につきましては、ガシャ内訳をご確認ください。</span><span style="font-size:11px;"></span>
                    </p>
                </div>
            </section>
        </div>
        <p>
            <b></b>
        </p>
    </body>
</html>
