<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/45801/content_P____________________vol71.jpg"
                     style="width: 80%;
                            height: 80%">
            </p>
            <p>
                <!-- 仕切り -->
            </p>
            <section>
                <p style="text-align: center;">&nbsp;</p>
                <hr>
                <p style="text-align: center;">
                    『TALES OF THE RAYS』を遊んでくださっているみなさま。
                    <br>
                    こんにちは。制作プロデューサーの栁澤です。
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    ザ レイズのGW（GUILTY GEAR WEEK!）楽しんで頂けましたでしょうか！
                    <br>
                    GWは終わってしまいましたが『GUILTY GEAR コラボイベント第2弾』は
                </p>
                <p style="text-align: center;">
                    5/15まで開催しています！
                    <br>
                    話題のブリジット！前回参戦要望の多かったカイ！
                </p>
                <p style="text-align: center;">今回もGUILTY GEAR開発チームのみなさまにご協力頂き、</p>
                <p style="text-align: center;">ザレイズ仕様で再現させて頂いておりますので楽しんで頂けましたら嬉しいです！</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    それでは、本題です。
                    <br>
                    今回は下記をお伝えさせて頂こうと思います。
                </p>
                <p style="text-align: center;">
                    <br>
                    <a href="#link01"><strong>・今後のアップデート</strong></a>
                    <br>
                    <strong>&rArr;リコレクションの今後の改修について</strong>
                </p>
                <p style="text-align: center;">
                    <strong>&rArr;精霊装について</strong>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <a href="#link03">・5月の配信スケジュール(予告)</a>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">まず、今後のアップデートについてです。</p>
                <p style="text-align: center;">&nbsp;</p>
                <hr>
                <p style="text-align: center;">
                    <a id="link01" name="link01"><span style="font-size:14px;"><strong>【今後のアップデート】</strong></span></a>
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>〇6月～7月
                        <br>
                    　・リコレクション改修＆調整</strong>
                </p>
                <p>
                    <strong>〇2023年中
                        <br>
                    　・精霊装の改修（検討中）</strong>
                </p>
                <p>&nbsp;</p>
                <p>リコレクションリリースから約一か月。みなさまから様々なご意見頂きつつ、</p>
                <p>
                    プレイデータを元にした傾向から良い点、悪い点も見えてきました。
                    <br>
                    今後リコレクションはそれらを考察しながら、少しずつ改善と調整をして、
                </p>
                <p>
                    より遊びやすくさせて頂ければと思います。
                    <br>
                    まだ、検討中の部分も多いですが、
                </p>
                <p>まずは、6月～7月辺りに大きな調整を入れさせて頂く予定です。</p>
                <p>検討中のものも含まれるため、ざっくりした内容にはなりますが、</p>
                <p>大枠をお話させて頂きます。</p>
                <p>&nbsp;</p>
                <p>
                    <strong>・オリジン魔鏡とゼロシフトの使い勝手向上</strong>
                    <br>
                    &rArr;オリジン魔鏡はリコレクション内でスコアを稼ぎやすくなるという効果が
                </p>
                <p>ありますが、現状は使いにくく、特にクエストの成功失敗に関与しにくいので</p>
                <p>
                    　アッパー調整を行いたいと思います。
                    <br>
                    　また、レアリティ零装備で発動するゼロシフトも発生条件がシビアで
                </p>
                <p>使いにくい部分があると思いますので、</p>
                <p>発動条件を一部緩和しての発動も可能にするように検討を進めています。</p>
                <p>（緩和条件で発動した場合、現在の2つの条件を満たした場合との性能から調整を加える予定です）</p>
                <p>また、オリジン魔鏡とセットで使う事で使いやすくなるようにも</p>
                <p>
                    　緩和をしていきたいと思います。
                    <br>
                    　具体的にはオリジン魔鏡に状態異常の効果を付与します。
                </p>
                <p>また、発生は確率となりますが、</p>
                <p>
                    　零術技でも状態異常が発生するように調整します。
                    <br>
                    　ゼロシフトの発生条件が当該キャラクターのオリジン魔鏡と
                </p>
                <p>
                    　レアリティ零で満たせるようになり、
                    <br>
                    　これによりオリジン魔鏡とゼロ術技を同時に使うシナジーが
                </p>
                <p>生まれやすくなります。</p>
                <p>&nbsp;</p>
                <p>今後のアップデートにて、オリジン魔鏡技をヒットさせた</p>
                <p>
                    　エネミーののけぞり時間の増加と、
                    <br>
                    　自身の術技によりエネミーを状態異常にさせた際に追加でのけぞり時間が
                </p>
                <p>
                    　発生する機能追加を予定しています。
                    <br>
　
                    <br>
                    　さらにオリジン魔鏡にはリコレクション以外の場面でも
                </p>
                <p>使い勝手を向上させるため、所持することで戦闘中に</p>
                <p>
                    　『アイテム』を使用できるようになる仕様を追加する予定です。
                    <br>
                    　これにより、通常のザレイズモードでも戦闘の幅が広がり、
                </p>
                <p>リコレクションでも、もう少し！というシビアな場面での攻略の一助になると</p>
                <p>
                    　考えています。
                    <br>
                    　（戦闘中のアイテムはオリジン魔鏡の原作フィーチャーというコンセプトにも
                </p>
                <p>
                    　合っていると考えています。）
                    <br>
                    　もちろんこのアイテムをあの人の前で使うと&hellip;。
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>・クリア後ボーナスの抽選方法の見直し</strong>
                    <br>
                    &rArr;現在の仕様ではボーナスが完全ランダムであるため、
                </p>
                <p>攻略に重要なボーナス（特に術技強化）を取り損ねると難易度が</p>
                <p>
                    　極端に変わってしまう問題があります。
                    <br>
                    　どういう形に出来るかは検討中ですが、
                </p>
                <p>この問題を少しでも緩和できるような仕様の追加、</p>
                <p>あるいは抽選ロジックの調整を検討しています。</p>
                <p>&nbsp;</p>
                <p>
                    <strong>・リコレクションの更新シリーズについて</strong>
                    <br>
                    &rArr;A～Dグループに入っていない作品やコラボキャラについて、
                </p>
                <p>リコレクションで直近使用が出来ないことについて</p>
                <p>
                    　多くのご意見を頂いております。
                    <br>
                    　一旦A～Dグループの歴代伝承の更新が中途半端になってしまうため、
                </p>
                <p>それらが終わってから他のシリーズの配信を検討させて頂く&hellip;と</p>
                <p>お話させて頂いていましたがやはり、</p>
                <p>今まで育ててきたキャラクターが一切使えないというのは</p>
                <p>早急に解決しなければいけない問題だとご意見の多さから感じております。</p>
                <p>上記の&quot;更新が中途半端になってしまう&quot;というのはあくまでも、</p>
                <p>&quot;歴代伝承&quot;の話であり、</p>
                <p>
                    &nbsp; &nbsp; クエスト攻略という遊び自体を追加させて頂く事は可能です。
                    <br>
                    　そのため、6月以降のタイミングで準備が出来次第、A～Dの全シリーズ及び、
                </p>
                <p>それ以外の作品＆コラボのクエストを解放させて頂きますので、</p>
                <p>
                    　リコレクションでプレイできないキャラクターは無くなります。
                    <br>
                    　ただし、歴代伝承については、
                </p>
                <p>&nbsp; &nbsp; 従来通り、A～Dグループの作品を月1で順番に更新させて頂く、</p>
                <p>
                    　という形にさせて頂ければと思います。
                    <br>
                    　（A～Dグループ以外の作品は歴代伝承はなく、
                </p>
                <p>クエスト攻略によるシリーズランクUPのみが出来ます。）</p>
                <p>&nbsp;</p>
                <p>
                    ※グループは下記になります。（再掲載）
                    <br>
                    Aグループ　「ザレイズ」「リコレクション」「ファンタジア」「デスティニー」
                </p>
                <p>
                    　　　　　&nbsp; 「エターニア」「デスティニー2」
                    <br>
                    Bグループ　「シンフォニア」「ラタトスクの騎士」「リバース」
                </p>
                <p>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 「レジェンディア」「ジ アビス」
                    <br>
                    Cグループ　「テンペスト」「イノセンスR」「ヴェスペリア」「ハーツR」
                </p>
                <p>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 「グレイセスF」
                    <br>
                    Dグループ　「エクシリア」「エクシリア2」「ゼスティリア」「ベルセリア」
                </p>
                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 「アライズ」</p>
                <p>
                    <br>
                    他にも細かい調整をさせて頂く予定ですが、
                </p>
                <p>まずは上記の3点を早急に対応させて頂く予定です。</p>
                <p>詳細が固まり次第、続報をこの場かゲーム内のお知らせで</p>
                <p>お伝えさせて頂ければと思います。</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>次に精霊装についてです。</p>
                <p>
                    生放送で紛らわしい伝え方をしてしまって申し訳ございません。
                    <br>
                    フォローさせて下さい。
                </p>
                <p>
                    結論から言うと&hellip;精霊装は無くなりません！
                    <br>
                    ただ、現行仕様のままだと全キャラクターに
                </p>
                <p>精霊装を実装するのは難しいという現実があり、精霊装未実装キャラクターは</p>
                <p>霊装魔鏡技を含めた精霊装関連システムが使えないというハンデを</p>
                <p>
                    背負ってしまいます。
                    <br>
                    せめて、後者のハンデだけでも
                </p>
                <p>急ぎ解決しなければいけない問題だと考えています。</p>
                <p>前者の問題の解決は時間が大きくかかるため</p>
                <p>解決は難しいかもしれませんが、後者の問題を解決するために、</p>
                <p>
                    精霊装とそのイベントの改修を検討しています。
                    <br>
                    その方針が固まるまでは頻度が少なくなるかもしれませんが
                </p>
                <p>
                    精霊装イベント自体は開催させて頂きます。
                    <br>
                    では、どのように解決するのか&hellip;？はもう少し時間を下さい。
                </p>
                <p>方針が固まり次第、改めてご報告させて頂こうと思います。</p>
                <hr>
                <p>&nbsp;</p>
                <p style="text-align: center;">
                    <a id="link03" name="link03"><span style="font-size:14px;"><strong>【5月の配信スケジュール（予告）】</strong></span><span style="font-size:14px;"></span></a>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p>
                    <strong>・レジェンディア　終決魔鏡イベント！</strong>
                    <br>
                    　セネル終決魔鏡　グリューネオーバーレイ魔鏡
                </p>
                <p>&nbsp; &nbsp; ノーマ＆モーゼスCO魔鏡登場（5月中旬）</p>
                <p>&nbsp;</p>
                <p>夏を先取りして『テイルズ オブ レジェンディア』から</p>
                <p>セネルの終決魔鏡が登場です！</p>
                <p>
                    同時にグリューネのオバレとノーマ＆モーゼス（モーすけ）とのCO魔鏡です！
                    <br>
                    終決魔鏡が登場していない作品の方が数が少なくなってきました！
                    <br>
                    先にお話しますが、
                </p>
                <p>5月はリコレクションの歴代伝承にもレジェンディアが追加されます！</p>
                <p>さすがに初回の更新では終決のシーンまでは行きませんが、</p>
                <p>セネル達のルーツを知らない方は歴代伝承で触ってみて頂けると</p>
                <p>
                    より終決イベントを楽しめると思います。
                    <br>
                    既に知っている方も初期のちょっとツンツンしたセネルを想い出して、
                </p>
                <p>終決時との成長の差を実感して頂けると感慨深い気持ちになれるかもしれません！</p>
                <p>&nbsp;</p>
                <p>
                    <strong>・リコレクション更新　Bグループ第1回</strong>
                    <br>
                    　セイリオス参戦　ロイド、コレット、クラトスのオリジン魔鏡登場！
                </p>
                <p>&nbsp;</p>
                <p>リコレクションのストーリーを観て頂いた方は気付いていると思いますが、</p>
                <p>頼れる美しいお兄さん！セイリオスが参戦です。</p>
                <p>
                    外見的にも特徴的な銃型の義足をどのように使って戦うのか！？ご期待下さい。
                    <br>
                    同時にロイド、コレット、クラトスのオリジン魔鏡も登場し、
                </p>
                <p>リコレクションは今回Bグループの歴代伝承「シンフォニア」「ラタトスクの騎士」</p>
                <p>
                    「リバース」「レジェンディア」「ジ アビス」とクエストが追加されます。
                    <br>
                    上でも少し触れていますが、懐かしい序盤の物語を振り返り、
                </p>
                <p>まだ様々な問題を抱えたキャラクター達が</p>
                <p>この後成長していく過程に思いをはせながら改めて見返して頂ければと思います！</p>
                <p>&nbsp;</p>
                <p>
                    <strong>・ウェディングイベント開催！</strong>
                    <br>
                    　ティア、シェリア、ファラ、マリーのウェディング魔鏡が登場！
                </p>
                <p>&nbsp;</p>
                <p>ウェディングを待ち望んだみなさま大変お待たせいたしました！</p>
                <p>
                    数年振りとなるウェディングイベントを開催させて頂きます！
                    <br>
                    久しぶりのウェディングです。今回はもうお相手がハッキリ想像できる！
                </p>
                <p>
                    そんなウェディングイベントになっています。
                    <br>
                    他の3人ももちろんなのですが、マリーさんの幸せそうなウェディング衣装。
                </p>
                <p>絶対見てみたかった！</p>
                <p>これが見られるのがザ レイズの世界の良いところです！</p>
                <p>&nbsp;</p>
                <p>&hellip;&hellip;&hellip;今月は以上です！</p>
                <hr>
                <p style="text-align: center;">
                    少し気が早いかもしれませんが、来月はテイフェス15周年です！
                    <br>
                    しかも！生放送でも少し触れましたが、イクスとミリーナがついに参戦します！
                </p>
                <p style="text-align: center;">
                    （カーリャもきっと居るハズ！？）
                    <br>
                    7年目にようやくまた一つの夢が叶いました！
                </p>
                <p style="text-align: center;">
                    しかもテイフェス15周年という節目の年に&hellip;。
                    <br>
                    これもみなさまが長年応援して下さった結果だと思います！
                </p>
                <p style="text-align: center;">本当に感謝しかありません！ありがとうございます！</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    また、リコレクションに関しては至らぬ点もあり、申し訳ございません。
                    <br>
                    上記でも触れましたみなさまの期待していたところまで届いていない点も多く
                </p>
                <p style="text-align: center;">
                    申し訳ございません。
                    <br>
                    取り急ぎ、改修や調整を実施していきます。
                </p>
                <p style="text-align: center;">まだ出来るかは分かりませんが、詳細が固まりましたら文字では伝わりにくい事もあると思いますので</p>
                <p style="text-align: center;">配信形式等で情報をお届けするみたいな事も考えて行きたいと思います。</p>
                <p style="text-align: center;">
                    <br>
                    それでは、引き続き『TALES OF THE RAYS』をよろしくお願い致します。
                </p>
                <p style="text-align: center;">制作プロデューサー　栁澤</p>
                <p style="text-align: center;">&nbsp;</p>
                <center>
                    <section>

                    </section>
                </center>
            </section>
        </div>
    </body>
</html>
