<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/46101/content_23061101.jpg"
                     style="width: 100%">
            </p>
            <hr>
            <section>
                <p style="text-align: center;">
                    <span style="font-size:16px;"></span>
                </p>
                <p style="text-align: center;">リコレクションCグループの</p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><font color="#ff4747"><b>歴代伝承配信!!</b></font></span>
                </p>
                <p style="text-align: center;">
                    <strong>『テイルズ オブ ザ テンペスト』『テイルズ オブ イノセンス R​』</strong>
                </p>
                <p style="text-align: center;">
                    <strong>『テイルズ オブ ヴェスペリア​』『テイルズ オブ ハーツ R</strong><strong>』</strong>
                </p>
                <p style="text-align: center;">
                    <strong>『テイルズ オブ グレイセス エフ​』</strong>
                </p>
                <p style="text-align: center;">
                    <strong><span style="font-size:18px;"><span style="color:#FF4747;"></span></span></strong>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"></span>
                </p>
                <p style="text-align: center;">
                    <strong>さらに、</strong>
                </p>
                <p style="text-align: center;">歴代伝承配信予定のＤグループを含む</p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><span style="font-size:18px;"><strong>全タイトルのクエストを追加！</strong></span></span>
                </p>
                <p style="text-align: center;">
                    <strong>▼Dグループ▼</strong>
                </p>
                <p style="text-align: center;">『テイルズ オブ エクシリア』『テイルズ オブ エクシリア2​』</p>
                <p style="text-align: center;">『テイルズ オブ ゼスティリア​』『テイルズ オブ ベルセリア』</p>
                <p style="text-align: center;">『テイルズ オブ アライズ​』</p>
                <p style="text-align: center;">
                    <strong>▼追加タイトル▼</strong>
                </p>
                <p style="text-align: center;">『テイルズ オブ ザ ワールド レディアント マイソロジー』</p>
                <p style="text-align: center;">『テイルズ オブ ファンタジア なりきりダンジョンX』</p>
                <p style="text-align: center;">『テイルズ オブ アーカイブス』</p>
                <p style="text-align: center;">『コラボレーションシリーズ』</p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/46106/content_21.png"
                             style="width: 100px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/46107/content_24.png"
                             style="width: 100px;
                                    height: 126px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/46108/content_10020.png"
                             style="width: 100px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/46109/content_10027.png"
                             style="width: 100px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:12px;">※『テイルズ オブ アーカイブス』は</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:12px;">「テイルズ オブ リンク」「テイルズ オブ アスタリア」「テイルズ オブ クレストリア」</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:12px;">のキャラクターが出撃可能です。</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:12px;">※Dグループおよび追加タイトルの歴代伝承配信はありません。</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:12px;">※Dグループの歴代伝承は次回リコレクション更新時に配信予定です。</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"></span><span style="font-size:16px;"><span style="color:#FF4747;"><strong>『テイルズ オブ ザ レイズ リコレクション』</strong></span></span>
                </p>
                <p style="text-align: center;">
                    <strong><span style="font-size:16px;"><span style="color:#FF4747;">本編３話配信!!</span></span></strong>
                </p>
                <p style="text-align: center;">「3話 瓦礫にこだます声 part4」で</p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><span style="color:#FF9900;"><strong>リワンナが参戦!!</strong></span></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <b>リワンナ、カイウス、ユーリ、シングのオリジン魔鏡には</b>
                </p>
                <p style="text-align: center;">
                    <b>オリジングレードのボーナス付き！</b>
                </p>
                <p style="text-align: center;">期間中は全シリーズのアイテムグレードにボーナスが発生します</p>
                <section>
                    <p style="text-align: center;">
                        <strong>◆ボーナス期間◆</strong>
                    </p>
                </section>
                <section>
                    <p style="text-align: center;">
                        <span style="color:#FF4747;"><span style="color:#FF4747;"><strong>2023/6/11(日) 0</strong></span></span><span style="color:#FF4747;"><span style="color:#FF4747;"><strong>:00～6/30(金)23:59</strong></span></span>
                    </p>
                </section>
                <p style="text-align: center;">&nbsp;</p>
                <hr>
                <p style="text-align: center;">
                    <span style="font-size:11px;"></span>
                </p>
                <section>
                    <p style="text-align: center;">
                        <strong>◆配信開始日時◆</strong>
                    </p>
                </section>
                <section>
                    <p style="text-align: center;">
                        <span style="color:#FF4747;"><span style="color:#FF4747;"><strong>2023/6/11(日) 0</strong></span></span><span style="color:#FF4747;"><span style="color:#FF4747;"><strong>:00～</strong></span></span>
                    </p>
                </section>
                <section>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <span style="font-size:14px;"><strong>◆参戦キャラクター◆</strong>　</span>
                    </p>
                </section>
                <section>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/46102/content_23061103.jpg"
                             style="width: 80%">
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                </section>
            </section>
            <section>
                <p style="text-align: center;">
                    <span style="font-size:14px;">◆<strong>あらすじ◆</strong></span>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/46103/content_23061102.jpg"
                         style="width: 80%">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/46135/content_20230605_160104.png"
                         style="width: 80%">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/46136/content_20230605_161823.png"
                         style="width: 80%">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/46137/content_20230605_174152.png"
                         style="width: 80%">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/46138/content_20230605_181404.png"
                         style="width: 80%">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/46139/content_20230605_181421.png"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/46140/content_20230605_181448.png"
                         style="width: 80%">
                </p>
                <hr>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong>◆コダマたちの信頼度10になると開放されるスキットについて◆</strong>
                        <br>
                    コダマたちの信頼度10になると開放されるスキットは</span>
                </p>
                <p style="text-align: center;">時系列がリコレクション本編シナリオの展開が進んだ先で構成しており、</p>
                <p style="text-align: center;">ネタバレ防止のため現在は未開放となっています。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    リコレクション本編シナリオは
                    <br>
                    リコレクションの更新毎に追加予定です。
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;">コダマたちの信頼度10になると開放されるスキット</span>は
                </p>
                <p style="text-align: center;">本編シナリオのリリース進行に伴い、</p>
                <p style="text-align: center;">開放予定ですので、お楽しみにお待ちください。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">※上記に伴い、信頼度を10まで上げてもスキルクエストは開放されません。
                        <br>
                    また潜在スキルも解放されません。</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <hr>
                <p style="text-align: center;">
                    <strong>◆リコレクション歴代伝承配信グループのご紹介◆</strong>
                </p>
                <p style="text-align: center;">リコレクションの歴代伝承配信は</p>
                <p style="text-align: center;">以下のグループ毎に配信を予定しております。</p>
                <p style="text-align: center;">配信につきましては、決まり次第お知らせにてご連絡いたします。</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/45327/content_group.png"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">※グループに含まれていない以下のシリーズについて、</p>
                <p style="text-align: center;">歴代伝承配信はありません。</p>
                <p style="text-align: center;">『テイルズ オブ ザ ワールド レディアント マイソロジー』</p>
                <p style="text-align: center;">『テイルズ オブ ファンタジア なりきりダンジョンX』</p>
                <p style="text-align: center;">『テイルズ オブ アーカイブス』</p>
                <p style="text-align: center;">『コラボレーションシリーズ』</p>
            </section>
            <section>
                <div class="frame2">
                    <p style="text-align:center;">&nbsp;《注意事項》</p>
                    <p>
                        <span style="font-size:11px;">・リコレクション</span><span style="font-size:11px;">をプレイするためには</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">メイン1部第1章1-3をクリアしている必要があります。</span>
                    </p>
                    <p class="indent">
                        <span style="font-size:11px;">・本お知らせ内に掲載されている内容は、</span>
                    </p>
                    <p class="indent">
                        <span style="font-size:11px;">予告なく変更することがあります。</span>
                    </p>
                </div>
            </section>
        </div>

    </body>
</html>
