<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/30409/content_2102131.png"
                     style="width: 100%">
            </p>
            <hr>
            <p>
                <span style="font-size:14px;"><b>ユアン、マーテル</b></span><span style="font-size:14px;">の</span><span style="font-size:14px;"></span>
                <br>
                <span style="font-size:14px;"><strong><span style="color:#FF4747;">『魔鏡』と『装備』のみ</span></strong>が出現する</span>
            </p>
            <p>
                <span style="font-size:14px;">【復刻】ユアン＆マーテル確定チケットガシャが開催!!</span>
            </p>
            <p>&nbsp;</p>
            <p style="font-weight:bold;">◆開催期間◆</p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;">イベント終了＋4日間</span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong><strong><span style="color:#FF4747;"></span></strong><strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                【復刻】ユアン＆マーテル確定チケットガシャでは、
                <br>
                <b>ユアン、マーテル</b>の<span style="color:#FF4747;"><strong>『魔鏡</strong><strong>』と『装備</strong><strong>』のみ</strong></span>が出現!!
            </p>
            <div class="frame1">
                <p style="text-align: center;">
                    <strong>ユアンの魔鏡・装備</strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/22878/content_18110002.png"
                         style="width: 80px;
                                height: 80px">
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/22879/content_1815001.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/22880/content_1814001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/22881/content_1814002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/22883/content_1813001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/22884/content_1813002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/22885/content_1813003.png"
                         style="width: 80px;
                                height: 80px">
                    <br>
                    <br>
                    <strong>マーテルの魔鏡・装備</strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/22886/content_18010002.png"
                         style="width: 80px;
                                height: 80px">
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/22887/content_1805001.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/22888/content_1804001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/22889/content_1804002.png"
                         style="width: 80px;
                                height: 80px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/22891/content_1803001.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/22892/content_1803002.png"
                         style="width: 80px;
                                height: 80px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/22893/content_1803003.png"
                         style="width: 80px;
                                height: 80px">
                </p>
            </div>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                <strong>【復刻】ユアン＆マーテル確定ガシャチケット</strong>は
                <br>
                <strong>『【復刻】彷徨える大樹の精霊』ガシャ</strong>のおまけ
                <br>
                <strong>『【復刻】彷徨える大樹の精霊』イベント交換所</strong>で入手が可能!<!-- 仕切り -->
            </p>
            <hr>
            <section>
                <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/30410/content_2003162.png"
                     style="width: 100%">
                <ul class="box">
                    <li>
                        <strong>魔鏡技:<font color="#ff4747">雷神荒閃慟</font></strong>　　威力:<font color="#ff4747"><b>1300</b></font>
                    </li>
                    <li style="text-align:right;float:right">
                        <strong>ユアン専用</strong>
                    </li>
                </ul>
                <div class="frame1">
                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        <strong>効果内容</strong>
                                    </p>
                                    <p>
                                        敵を武器の矛先に固定し
                                        <br>
                                        雷神の閃光を浴びせる魔鏡技
                                    </p>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong><a href="https://www.youtube.com/watch?v=8jlbAuIUBNYexternalbrowser=true">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                 style="width: 60px;
                                                        height: 60px">
                                        </a></strong>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <hr>
            <section>
                <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/30411/content_2003163.png"
                     style="width: 100%">
                <ul class="box">
                    <li>
                        <strong>魔鏡技:<font color="#ff4747">コンフォート・リジェネレイション</font></strong>　　回復力:<font color="#ff4747"><b>23</b></font>
                    </li>
                    <li style="text-align:right;float:right">
                        <strong>マーテル専用</strong>
                    </li>
                </ul>
                <div class="frame1">
                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        <strong>効果内容</strong>
                                    </p>
                                    <p>マナによって味方を癒し</p>
                                    <p>最大HPを上昇させる魔鏡技</p>
                                </td>
                                <td>
                                    <p style="text-align: center;">
                                        <strong><a href="https://www.youtube.com/watch?v=R8vS8MKmnQAexternalbrowser=true">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                 style="width: 60px;
                                                        height: 60px">
                                        </a></strong>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <hr>
            <section>
                <div class="frame2">
                    <p style="text-align:center;">《 注意事項&nbsp;》</p>
                    <p>
                        <span style="font-size:11px;">・本ガシャは「【復刻】ユアン＆マーテル確定ガシャチケット」のみで
                            <br>
                            　実行できます。
                            <br>
                            ・本ガシャは【復刻】ユアン＆マーテル確定ガシャチケット1枚につき、
                            <br>
                            　1回実行できます。
                            <br>
                            ・本ガシャからはユアン、マーテルの
                            <br>
                            　魔鏡・★5鏡装・★4装備・★3装備のいずれかが獲得できます。
                            <br>
                            ・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。
                            <br>
                            ・各種ボーナスの効果は、該当のイベント開催時のみ発動します。
                            <br>
                            ・各種ボーナスが発動する魔鏡・装備の一覧は、
                            <br>
                            　該当イベントのお知らせをご確認ください。
                            <br>
                            ・表示されているステータス・効果・各種ボーナスは、
                            <br>
                            　最大強化後の値となります。
                            <br>
                            ・期間限定の魔鏡・装備・キャラカスタムは再登場する場合がございます。
                            <br>
                            ・限定キャラカスタム付き魔鏡でキャラカスタムを入手した場合、
                            <br>
                            　その他入手導線での入手はできません。
                            <br>
                            ・限定キャラカスタムを先に限定キャラカスタム付き魔鏡以外から入手した場合、
                            <br>
                            　限定キャラカスタム付き魔鏡で複数入手はできません。
                            <br>
                            ・限定キャラカスタム付き魔鏡で手に入る同一の限定キャラカスタムは
                            <br>
                        　複数入手することはできません。</span>
                    </p>
                </div>
            </section>
        </div>
        <p>
            <b></b>
        </p>
    </body>
</html>
