<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p align="center">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/46837/content_bannar_c.jpg"
                     style="width: 100%">
                <span style="font-size:18px;"><span style="color:#FF4747;"></span></span>
            </p>
            <hr>
            <p>いつも「TALES OF THE RAYS(テイルズ オブ ザ レイズ)」を</p>
            <p>プレイしてくれてありがとう</p>
            <p>
                <br>
                プレイするにあたって、
            </p>
            <p>いくつか気(き)をつけてほしいことがあるので、</p>
            <p>それをまもってプレイしてくださいね！</p>
            <p>&nbsp;</p>
            <p>
                <strong>■気(き)をつけてほしいこと</strong>
                <br>
                <span style="color:#FF9900;"><strong>[1]</strong></span>アイテムがほしいときはおうちのひとに
            </p>
            <p>相談(そうだん)しよう！</p>
            <p>&nbsp;</p>
            <p>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/46838/content_1__.png"
                     style="width: 80%">
            </p>
            <p>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/46839/content_2__.png"
                     style="width: 80%">
            </p>
            <p>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/46840/content_3__.png"
                     style="width: 80%">
            </p>
            <p>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/46841/content_4__.png"
                     style="width: 80%">
                <br>
                <span style="color:#FF9900;"><strong>[2]</strong></span>ゲームのアカウント情報(じょうほう)は、
            </p>
            <p>
                しらないひとにおしえないようにしよう！
                <br>
                <br>
                <span style="color:#FF9900;"><strong>[3]</strong></span>連絡先(れんらくさき)はしらないひとに
            </p>
            <p>おしえないようにしよう！</p>
            <p>&nbsp;</p>
            <p>※したのボタンをおしてくわしい説明(せつめい)をみてみてね。</p>
            <p>※4コママンガになっているよ</p>
            <p>
                <br>
                【<a href="https://www.bandainamcoent.co.jp/caution_c/">オンラインゲームあんしんガイドライン</a> 】
            </p>
            <p>&nbsp;</p>

        </div>
    </body>
</html>
