<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/48483/content_2401091.png"
                     style="width: 100%;
                            margin: 10px auto">
            </p>
            <hr>
            <p>
                <span style="font-size:16px;"><b>2023/6/30までに参戦したキャラクター</b>の</span>
            </p>
            <p>
                <span style="font-size:16px;"><span style="color:#FF4747;"><strong>★4装備・鏡装・</strong></span><span style="color:#FF4747;"><strong>魔鏡のみ</strong></span>が出現する</span>
            </p>
            <p>
                <span style="font-size:16px;"><strong>『ビクトリーチケットガシャ【2024】』</strong>が開催!!</span>
            </p>
            <p>
                <span style="font-size:16px;"></span>
            </p>
            <p>
                <span style="font-size:16px;"><strong>『ビクトリーチケットガシャ</strong><span style="font-size:16px;"><strong>【2024】</strong></span><strong>』は</strong></span>
            </p>
            <p>
                <span style="font-size:16px;"><b><span style="color:#FF4747;">魔鏡が10％ 鏡装が10％&nbsp;</span>★4装備が80％で出現!!</b></span>
            </p>
            <p>&nbsp;</p>
            <p>
                <span style="font-size:16px;"></span>
            </p>
            <p style="font-weight:bold;">
                <span style="font-size:16px;">◆開催期間◆</span>
            </p>
            <p>
                <span style="font-size:16px;"><span style="color:#FF4747;"><strong>2024/1/1(月) 0</strong></span><span style="color:#FF4747;"><strong>:00 ～</strong></span></span>
            </p>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                <span style="font-size:16px;">ビクトリーチケットガシャ【2024】を引くには
                    <br>
                    「<strong>ビクトリーガシャチケット【2024】</strong>」が必要です。
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/13352/content_190907.png"
                         style="width: 108px;
                                height: 108px">
                </span>
            </p>
            <div class="frame1" style="text-align: center;">
                <p>
                    <strong><span style="font-size:14px;">『</span></strong><span style="font-size:14px;"><strong>ビクトリーチケットガシャ【2024】</strong></span><strong>』</strong>
                </p>
                <p>
                    <br>
                    <span style="font-size:12px;"><strong style="font-size: 0.8rem;">【魔鏡】</strong></span>
                </p>
                <p>
                    <span style="font-size:14px;"><span style="color:#FF9900;"><strong>2023/6/30(金)までに登場した通常魔鏡</strong></span></span>
                </p>
                <p>
                    <span style="font-size:12px;">※コラボキャラクターの魔鏡は含まれません</span>
                </p>
                <p>
                    <span style="font-size:12px;">※コラボイベントで登場した魔鏡は含まれません</span>
                </p>
                <p>
                    <span style="font-size:12px;">※フォームチェンジキャラクターの魔鏡は含まれません</span>
                </p>
                <p>&nbsp;</p>
                <p>
                    <span style="font-size:12px;"><strong>【鏡装】</strong></span>
                </p>
                <p>
                    <span style="display: none;">&nbsp;</span><strong><span style="font-size:14px;"></span></strong><span style="font-size:14px;"><span style="color:#FF9900;"><strong>2023/6/30(金)までに登場した</strong></span></span><span style="color:#FF9900;"><strong><span style="font-size:14px;">通常鏡装</span></strong></span><span style="display: none;">&nbsp;</span>
                </p>
                <p>
                    <span style="font-size:12px;">※コラボキャラクターの鏡装は含まれません</span>
                </p>
                <p>
                    <span style="font-size:12px;">※コラボイベントで登場した鏡装は含まれません</span>
                </p>
                <p>
                    <span style="font-size:12px;">※フォームチェンジキャラクターの鏡装は含まれません</span>
                </p>
            </div>
            <!-- 仕切り -->
            <section>
                <ul class="box">
                    <li style="text-align:right;float:right">&nbsp;</li>
                </ul>
            </section>
            <hr>
            <div class="frame2">
                <p style="text-align:center;">《注意事項&nbsp;》</p>
                <p>
                    <span style="font-size:11px;">・本ガシャは「ビクトリーガシャチケット【2024】」のみで
                        <br>
                        　実行できます。
                        <br>
                        ・本ガシャは「ビクトリーガシャチケット【2024】」1枚につき、
                        <br>
                        　1回実行できます。
                        <br>
                        ・本ガシャからはフォームチェンジ、コラボを除いた2023/6/30までに
                        <br>
                        　登場したキャラクターの「通常魔鏡・★5通常鏡装・★4装備」の
                        <br>
                        　いずれかが獲得できます。
                        <br>
                        ・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。
                        <br>
                        ・各種ボーナスの効果は、該当のイベント開催時のみ発動します。
                        <br>
                        ・各種ボーナスが発動する魔鏡・装備の一覧は、
                        <br>
                        　該当イベントのお知らせをご確認ください。
                        <br>
                        ・表示されているステータス・効果・各種ボーナスは、
                        <br>
                        　最大強化後の値となります。
                        <br>
                        ・本ガシャで獲得できる通常魔鏡から
                        <br>
                        　限定キャラカスタムを入手することはできません。
                        <br>
                        ・期間限定の魔鏡・装備は再登場する場合がございます。</span><span style="font-size:11px;"></span>
                    </p>
                </div>
                <p>
                    <strong> </strong>
                </p>
            </div>
        </body>
    </html>
