<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <strong>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39025/content______.png"
                         style="width: 450px;
                                height: 225px">
                </strong>
            </p>
            <hr>
            <section>
                <p style="text-align: center;">
                    <span style="font-size:14px;"></span>
                </p>
                <p style="text-align: center;">
                    <strong>始祖久遠の塔ベストヒーローズ開催！</strong>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>◆開催期間◆</strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><span style="color:#FF4747;"><strong>2024</strong></span></span><span style="font-size:16px;"><span style="color:#FF4747;"><strong>/2/10(土)</strong></span></span><span style="font-size:16px;"><span style="color:#FF4747;"><strong>&nbsp;00:00 ～ 2024/2/16(金) 23:59</strong></span></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>◆結果発表期間◆</strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><span style="color:#FF4747;"><strong>2024/2</strong></span></span><span style="font-size:16px;"><span style="color:#FF4747;"><strong>/19(月) 18:00 ～ 2024/2/23(金) 23:59</strong></span></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p>
                    <span style="font-size:16px;"><span style="color:#FF4747;"></span></span>
                </p>
                <p>
                    <span style="font-size:16px;"><span style="color:#FF4747;"></span></span>
                </p>
                <p>
                    <span style="font-size:16px;"><span style="color:#FF4747;"></span></span>
                </p>
                <p>
                    <span style="font-size:16px;"><span style="color:#FF4747;"></span></span>
                </p>
                <hr>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><strong>■ベストヒーローズとは？&nbsp;■</strong></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39026/content_62000.jpg"
                         style="width: 450px;
                                height: 221px">
                </p>
                <p style="text-align: center;">ベストヒーローズは制限時間内に、次々と出てくる敵を撃破するバトルです。</p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><strong>敵を倒すと</strong></span><span style="color:#FF9900;"><strong>討伐スコア</strong></span>を獲得します。
                </p>
                <p style="text-align: center;">
                    バトル終了時の<span style="color:#FF9900;"><strong>討伐スコアの合計</strong></span>によって<span style="color:#FF4747;"><strong>クリアランクが決まります。</strong></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39028/content_62010.jpg"
                         style="width: 450px;
                                height: 212px">
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><strong>期間中に獲得した最高クリアランク</strong></span>によって、
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>ダイヤ</strong></span>や<span style="color:#FF4747;"><strong>バーストメモリア</strong></span>などの報酬を獲得！
                </p>
                <p style="text-align: center;">※報酬は結果発表期間にプレゼントボックスに配布されます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39029/content_62020.jpg"
                         style="width: 450px;
                                height: 214px">
                </p>
                <p style="text-align: center;">
                    バトルクリア時には<span style="color:#FF9900;"><strong>撃破数</strong></span>に応じた<span style="color:#FF4747;"><strong>久遠の書</strong></span><span style="color:#FF4747;"><strong>を獲得</strong></span><span style="color:#FF4747;"><strong>！</strong></span>
                </p>
                <p style="text-align: center;">
                    さらに<span style="color:#FF9900;"><strong>その日の最高撃破数</strong></span>によって<span style="color:#FF4747;"><strong>制限時間が延長</strong></span>されます！
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <hr>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><strong>■</strong><span style="font-size:16px;"><strong>ベストヒーローズの</strong></span><strong>チーム編成■</strong></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    ベストヒーローズは<span style="color:#FF9900;"><strong>覚醒済みキャラクター</strong></span>のみの<span style="color:#FF9900;"></span>、
                </p>
                <p style="text-align: center;">最大4人のパーティ編成で出撃できます。</p>
                <p style="text-align: center;">
                    編成メンバーの<span style="color:#FF4747;"><strong>フォームチェンジ魔鏡も設定可能</strong></span>です！
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/39042/content_member220311.png"
                             style="width: 400px;
                                    height: 225px">
                    </strong>
                </p>
                <p style="text-align: center;">※サポートキャラクターは選択できません。</p>
                <hr>
                <p>&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><strong>■討伐スコアの効率的な獲得方法</strong><strong>&nbsp;■</strong></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    Sランク獲得のカギは、討伐スコアの獲得にあります。
                    <br>
                    討伐スコアを効率的に獲得する方法を確認しましょう！
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    討伐スコアは<span style="color:#FF9900;"><strong>「基本ポイント」</strong></span>と<span style="color:#FF9900;"><strong>「ヒット数ボーナス」</strong></span>からなります。<span style="color:#FF4747;"></span>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39030/content_tips_401.jpg"
                         style="width: 450px;
                                height: 217px">
                </p>
                <p>&nbsp;</p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><strong>「基本ポイント」は倒した敵によって決まるポイント</strong></span>で、
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>後に出てくる敵ほど高いポイント</strong></span>が獲得しやすくなります。
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><strong>「ヒット数ボーナス」はヒット数によってプラスされるポイント</strong></span>です。
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>ヒット数が多いほどポイントが高く</strong></span>なり、
                </p>
                <p style="text-align: center;">最大で基本ポイントと同ポイントを獲得できます。</p>
                <p>&nbsp;</p>
                <p style="text-align: center;">
                    <strong>【攻略方法１】OverSmashでヒット数を上げよう！</strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39034/content_oversmash220311.png"
                         style="width: 400px;
                                height: 225px">
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><strong>「OverSmash！」</strong></span><span style="color:#FF9900;"><strong>ボタンをタップすると魔鏡技を連携</strong></span>させることができます。
                </p>
                <p style="text-align: center;">
                    魔鏡技連携でヒット数を上げて<span style="color:#FF4747;"><strong>ヒット数ボーナスを獲得</strong></span>しましょう。
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>基本ポイントが高いボス敵で使用するとさらに効果的</strong></span>です！
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>【攻略方法２】バーストリミッツでカウントダウンを停止しよう！</strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/39035/content_burstlimits220312.png"
                             style="width: 400px;
                                    height: 225px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><strong>バーストリミッツを発動</strong></span>すると、<span style="color:#FF4747;"><strong>制限時間のカウントダウンが停止</strong></span>し、<span style="color:#FF4747;"></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>敵の行動も停止</strong></span>します！
                </p>
                <p style="text-align: center;">時間が止まっている間に、敵をどんどん倒しましょう。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p>&nbsp;</p>
                <p style="text-align: center;">
                    <strong>【攻略方法３】制限時間を延ばそう！</strong>
                </p>
                <p style="text-align: center;">最高撃破数によって延長された制限時間は、</p>
                <p style="text-align: center;">翌日以降にも繰り越されます！</p>
                <p style="text-align: center;">
                    さらに<span style="color:#FF4747;"><strong>参加日数が多くなると、制限時間が延びやすく</strong></span>なります。
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>制限時間は最長2分間まで延ばすことが可能</strong></span>です！
                </p>
                <p style="text-align: center;">毎日挑戦して制限時間を延ばしましょう。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    1日目から3日目まで敵1体につき<strong>0.2秒</strong>、
                </p>
                <p style="text-align: center;">
                    4日目から6日目まで敵1体につき<strong>0.4秒</strong>制限時間が増加します
                </p>
                <p style="text-align: center;">
                    <span style="color:#00FF00;"><span style="color:#00FF00;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/39040/content_2203121.jpg"
                             style="width: 450px;
                                    height: 439px">
                    </span></span>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/39041/content_2203122.jpg"
                         style="width: 450px;
                                height: 474px">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <hr>
                <p>&nbsp;</p>
                <p style="text-align: center;">
                    ベストヒーローズは<span style="color:#FF9900;"><strong>始祖久遠の塔の開催期間内に期間限定で開催</strong></span>されます。
                </p>
                <p style="text-align: center;">ベストヒーローズについてのより詳しい情報は、</p>
                <p style="text-align: center;">「メニュー」＞「ヘルプ」＞「始祖久遠の塔 ベストヒーローズ」</p>
                <p style="text-align: center;">をご確認ください。</p>
                <p>&nbsp;</p>
                <div class="frame1" style="text-align: center;">
                    <p style="text-align: left;">※出撃にはAPを消費しません。何度でも挑戦可能です。</p>
                    <p style="text-align: left;">※最高クリアランクは開催回ごとにリセットされます。</p>
                    <p style="text-align: left;">※制限時間の延長は開催回ごとにリセットされます。</p>
                    <p style="text-align: left;">※報酬は開催回ごとに異なります。</p>
                </div>
                <hr>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p style="text-align: center;">&nbsp;</p>

            </section>
        </div>
    </body>
</html>
