<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <strong>第10弾『ザ レイズ オブ フェスティバル』</strong>
            </p>
            <p>
                <strong>ポスタープレゼント!!</strong>
            </p>
            <hr>
            <section>
                <p style="text-align: center;">第10弾『ザ レイズ オブ フェスティバル』の投票で</p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><span style="color:#FF4747;"><strong>確定したポスターをプレゼント!!</strong></span></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/49209/content_70066510.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/49210/content_70066610.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/49211/content_70066710.png"
                         style="width: 100px;
                                height: 100px">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/49212/content_70066810.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/49213/content_70066910.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/49214/content_70067010.png"
                         style="width: 100px;
                                height: 100px">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <center>
                    <div align="center">
                        <p>お送りいたしましたポスターは、</p>
                        <p>
                            プレゼントボックスを経由しないため、
                            <br>
                            　「ルーム＞ ルーム設定＞ ポスター」から直接ご確認ください。
                        </p>
                        <p>&nbsp;</p>
                    </div>
                </center>
                <center>
                    <p style="text-align: center;">
                        <strong>◆プレゼント配布期間◆</strong>
                    </p>
                    <center><span style="color:#FF4747;"><strong>2024/2/28</strong></span><span style="color:#FF4747;"><strong>(水) メンテナンス終了後&nbsp;～ 2024/3/6(水</strong><strong>) 23:59</strong></span></center>
                </center>
                <center>&nbsp;</center>
            </section>
        </div>

    </body>
</html>
