<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <strong>『魔鏡の霊装化』のご紹介</strong>
            </p>
            <hr>
            <section>
                <p style="text-align: center;">
                    <span style="font-size:14px;"></span>『TALES OF THE RAYS』をご利用いただき誠にありがとうございます。
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">本お知らせでは、ver6.0.0アップデートで追加された</p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><strong>新機能『魔鏡の霊装化』についてご紹介します！</strong></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">機能実装を記念して霊装化に必要なアイテム</p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>霊装核&times;5
                        <br>
                    ガルド&times;1000000</strong></span>
                </p>
                <p style="text-align: center;">
                    を全てのお客様にお送りいたします。
                    <br>
                    『<strong>プレゼントボックス</strong>』からお受け取り下さい。
                    <br>
                    なお、こちらの受取期限は
                    <br>
                    <strong>2024/2/16(金) 23:59</strong>
                    <br>
                    までとなっておりますのでご注意ください。
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">&nbsp;</p>
                <p>
                    <span style="font-size:16px;"><span style="color:#FF4747;"></span></span>
                </p>
                <p>
                    <span style="font-size:16px;"><span style="color:#FF4747;"></span></span>
                </p>
                <p>
                    <span style="font-size:16px;"><span style="color:#FF4747;"></span></span>
                </p>
                <p>
                    <span style="font-size:16px;"><span style="color:#FF4747;"></span></span>
                </p>
                <hr>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><strong>■ 魔鏡の霊装化とは？&nbsp;■</strong></span>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/48901/content_625_1.jpg"
                         style="width: 450px;
                                height: 219px">
                </p>
                <p style="text-align: center;">
                    『魔鏡の霊装化』とは、<span style="color:#FF9900;"><strong>魔鏡を残したまま、</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>その魔鏡を基にした精霊装を新たに生成する機能</strong></span>です。
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">霊装化により生成された精霊装は「レアリティ3」となります。</p>
                <p style="text-align: center;">
                    通常の精霊装と同様に精霊装の枠に装備することができ、
                    <br>
                    <span style="color:#FF9900;"><strong>FG</strong><strong>を最大まで溜めると霊装魔鏡技を発動できます！</strong></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <hr>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><strong>■ 霊装化の方法&nbsp;</strong><strong>■</strong></span>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/48902/content_625_2.jpg"
                         style="width: 400px;
                                height: 225px">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">霊装化は強化画面にある「魔鏡の霊装化」にて行います。</p>
                <p style="text-align: center;">
                    霊装化には<strong><span style="color:#FF4747;">専用アイテムの「霊装核」</span></strong>とガルドを消費します。
                </p>
                <p style="text-align: center;">霊装核は交換所やイベント等で獲得することができます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><strong>◆ 霊装核交換所を追加！◆</strong></span>
                </p>
                <p style="text-align: center;">
                    イベント等で獲得できる<span style="color:#FF4747;"><strong>「霊装核チケット」</strong></span>、
                </p>
                <p style="text-align: center;">
                    ガシャ等で獲得できる<span style="color:#FF4747;"><strong>「霊装核チケットG」</strong></span>を用いて
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><strong>交換所で霊装核と交換することができます。</strong></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">毎月1日0:00に交換できる数がリセットされます。</p>
                <p style="text-align: center;">霊装核交換所は、交換・売却＞交換所・引換所＞ポイントイベント交換所の</p>
                <p style="text-align: center;">「常設」タブに設置されています。</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/48903/content_625_3.jpg"
                         style="width: 400px;
                                height: 225px">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">さらに「精霊装強化」の画面で、</p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><strong>霊装核を使用してレアリティ5まで強化</strong></span>することができます。
                    <br>
                    レアリティを上げると<span style="color:#FF4747;"><strong>2つ目のアニマを獲得可能です！</strong></span>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/48904/content_625_4.jpg"
                         style="width: 400px;
                                height: 225px">
                </p>
                <hr>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><strong>■ 精霊装所持数ボーナス</strong><strong>&nbsp;■</strong></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">同一キャラクターで複数の精霊装を所持することにより、</p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><strong>キャラクターにボーナス効果が発生します！</strong></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><span style="font-size:14px;"><strong><u>FG獲得量の増加</u></strong></span></span>
                </p>
                <p style="text-align: center;">FGの獲得量が増え、最大値まで早く溜まります</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><span style="font-size:14px;"><strong><u>クリティカル増加</u></strong></span></span>
                </p>
                <p style="text-align: center;">キャラクターのクリティカルが上がります</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><strong>精霊装が増えるほどボーナス量も増加</strong></span>するので、
                </p>
                <p style="text-align: center;">魔鏡をどんどん霊装化しましょう！</p>
                <p style="text-align: center;">所持数ボーナスは「魔鏡の霊装化」の画面で確認できます。</p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">※精霊装所持数によるボーナス量は、キャラクターによって異なり、</span><span style="font-size:11px;">
                        <br>
                    魔鏡の実装数による差が大きくならないよう設定しています。</span>
                    <br>
                    &nbsp;
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/48905/content_625_5.jpg"
                         style="width: 400px;
                                height: 225px">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">&nbsp;</p>
                <hr>
                <p>&nbsp;</p>
                <p style="text-align: center;">引き続き『TALES OF THE RAYS』をよろしくお願い申し上げます。</p>
                <p>&nbsp;</p>
                <div class="frame2">
                    <p style="text-align:center;">
                        <b>《&nbsp;注意事項&nbsp;》</b>
                    </p>
                    <p>
                        <span style="font-size:11px;">・以下の魔鏡は霊装化することができません。</span>
                    </p>
                    <p style="margin-left:10.5pt;">
                        <span style="font-size:11px;">報酬魔鏡</span>
                    </p>
                    <p style="margin-left:10.5pt;">
                        <span style="font-size:11px;">クロスオーバー魔鏡</span>
                    </p>
                    <p style="margin-left:10.5pt;">
                        <span style="font-size:11px;">フォームキャラクターの魔鏡</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・霊装化により生成された精霊装の魔鏡技の強化段階は0となります。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;"><span style="font-size:11px;">・</span>霊装魔鏡技として発動できるのは精霊装の装備枠に設定している装備の魔鏡技です。魔鏡技選択機能では霊装魔鏡技は対象外となります。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・バーストリミッツ開放済みの魔鏡を霊装化した場合、もしくは基となった魔鏡をバーストリミッツ解放した場合は、バーストリミッツ中に霊装魔鏡技を発動すると、威力・回復力が25%加算されます。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・2つの属性を持つ魔鏡を霊装化した場合、精霊装強化等の付属効果の対象となる属性は、どちらか一方の属性となります。</span><span style="font-size:11px;">適用される属性の優先度は以下の通りです。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">　火＞水＞地＞風＞光＞闇
                            <br>
                        ・強化で2つ目の属性を獲得する魔鏡を霊装化した場合は、初期から持つ属性が精霊装強化等の付属効果の対象となります。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・</span><span style="font-size:11px;">霊装化により生成された精霊装は、イベントにおける装備ボーナスやクリティカルボーナスの対象となりません。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;"></span>
                    </p>
                </div>
                <p style="text-align: center;">&nbsp;</p>

            </section>
        </div>
    </body>
</html>
