<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/50271/content_2402081.png"
                     style="width: 100%;
                            margin: 10px auto">
            </p>
            <hr>
            <p>
                <span style="font-size:14px;"><span style="color:#FF9900;"></span></span>
            </p>
            <p>
                <span style="font-size:16px;"><strong>2023/11/30までに登場した</strong></span>
            </p>
            <p>
                <span style="font-size:16px;"><strong>『<span style="color:#FF9900;">終決魔鏡</span>』のみ</strong>が出現する</span>
            </p>
            <p>
                <span style="font-size:16px;"><strong>終決魔鏡確定チケットガシャ</strong>が開催!!</span>
            </p>
            <p>&nbsp;</p>
            <p>
                <span style="font-size:16px;"></span>
            </p>
            <p>
                <span style="font-size:16px;"></span>
            </p>
            <p>
                <span style="font-size:16px;">◆開催期間◆</span>
            </p>
            <p>
                <span style="font-size:16px;"><span style="color:#FF4747;"><strong>～ 2024/7/22(月) 23:59</strong></span></span>
            </p>
            <p>&nbsp;</p>
            <p>
                <span style="font-size:14px;"></span><span style="font-size:14px;">終決魔鏡確定チケットガシャを引くには
                    <br>
                    「<span style="font-size:14px;">終決魔鏡確定</span>ガシャチケット」が必要です。</span><span style="font-size:14px;">
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/44778/content_230222.png"
                         style="width: 108px;
                                height: 108px">
                </span>
            </p>
            <p>
                <span style="font-size:16px;"><strong><span style="color:#FF4747;"></span></strong></span>
            </p>
            <p>
                <span style="font-size:16px;"></span>
            </p>
            <p>
                <span style="font-size:16px;"></span>
            </p>
            <p>
                <span style="font-size:16px;"><strong><span style="color:#FF0000;"></span><span style="color:#FF0000;"></span></strong></span>
            </p>
            <div class="frame1" style="text-align: center;">
                <p>
                    <span style="font-size:14px;"><strong>登場する終決魔鏡</strong></span>
                </p>
                <span style="color:#FF9900;"><span style="font-size:14px;"><strong>2023/11/30(木)までに登場した終決</strong><b>魔鏡</b></span></span>
            </div>
            <hr>
            <div class="frame2">
                <p style="text-align:center;">
                    《注意事項&nbsp;》<span style="font-size:11px;"></span>
                </p>
                <p>
                    <span style="font-size:11px;">・本ガシャは「終決魔鏡確定ガシャチケット」のみで
                        <br>
                        　実行できます。
                        <br>
                        ・本ガシャは「終決魔鏡確定ガシャチケット」1枚につき、
                        <br>
                        　1回実行できます。
                        <br>
                        ・本ガシャからは2023/11/30までに登場した終決魔鏡が
                        <br>
                        　獲得できます。
                        <br>
                        ・本ガシャからは重複する魔鏡が出現する可能性がございます。
                        <br>
                        ・各種ボーナスの効果は、該当のイベント開催時のみ発動します。
                        <br>
                        ・各種ボーナスが発動する魔鏡の一覧は、
                        <br>
                        　該当イベントのお知らせをご確認ください。
                        <br>
                        ・表示されているステータス・効果・各種ボーナスは、
                        <br>
                        　最大強化後の値となります。
                        <br>
                        ・限定キャラカスタム付き魔鏡でキャラカスタムを入手した場合、
                        <br>
                        　その他入手導線での入手はできません。
                        <br>
                        ・限定キャラカスタムを先に限定キャラカスタム付き魔鏡以外から入手した場合、
                        <br>
                        　限定キャラカスタム付き魔鏡で複数入手はできません。
                        <br>
                        ・限定キャラカスタム付き魔鏡で手に入る同一の限定キャラカスタムは
                        <br>
                        　複数入手することはできません。
                        <br>
                        ・期間限定の魔鏡・キャラカスタムは再登場する場合がございます。
                        <br>
                        ・「終決魔鏡確定ガシャチケット」は開催中の
                        <br>
                        　「終決魔鏡確定チケットガシャ」の
                        <br>
                    　開催期間が終了すると消滅するためご注意ください。</span>
                </p>
            </div>

        </div>
    </body>
</html>
