<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/48927/content_24020901.jpg"
                     style="width: 100%">
            </p>
            <hr>
            <section>
                <p style="text-align: center;">
                    <span style="font-size:16px;"></span>
                </p>
                <p style="text-align: center;">
                    <strong>リコレクションBグループの​配信第3弾!!</strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><strong><font color="#ff4747">歴代伝承「後編」を追加!!</font></strong></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>『テイルズ オブ シンフォニア』</strong>
                </p>
                <p style="text-align: center;">
                    <strong>『テイルズ オブ シンフォニア -ラタトスクの騎士-』</strong>
                </p>
                <p style="text-align: center;">
                    <strong>『テイルズ オブ リバース』</strong>
                </p>
                <p style="text-align: center;">
                    <strong>『テイルズ オブ レジェンディア』</strong>
                </p>
                <p style="text-align: center;">
                    <strong>『テイルズ オブ ジ アビス』</strong>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong><span style="font-size:18px;"><span style="color:#FF4747;"></span></span></strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"></span><span style="font-size:16px;"><span style="color:#FF4747;"><strong>『テイルズ オブ ザ レイズ リコレクション』</strong></span></span>
                </p>
                <p style="text-align: center;">
                    <strong><span style="font-size:16px;"><span style="color:#FF4747;">本編10話配信!!</span></span></strong>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>【既知の不具合について】</strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">「10話 虹の宵 part1」のシナリオバトルついて、</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">以下不具合を確認しております。</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">・一時停止メニューにて想珠の獲得条件が表示される不具合</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">※シナリオバトルでは想珠の獲得は行われません。</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">・クリア時に信頼度上昇表記がまれに表示される不具合</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">※シナリオバトルでは信頼度の上昇は行われません。</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">・クリア後にリコレクション内編成に入ると編成メニューが表示れない不具合</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">※ホームなどに一度戻ると表示されるようになります。</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">・ボスの割り込みが発生後にクリアすると、リザルトで進行不能となる不具合</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">この度は多くのお客様にご迷惑をおかけしておりますことをお詫び申し上げます。
                        <br>
                    不具合解消まで今しばらくお待ちいただけますよう、お願い申し上げます。</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">引き続き『TALES OF THE RAYS』をよろしくお願い申し上げます。</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:11px;"></span>
                </p>
                <section>
                    <p style="text-align: center;">
                        <strong>◆配信開始日時◆</strong>
                    </p>
                </section>
                <section>
                    <p style="text-align: center;">
                        <span style="color:#FF4747;"><span style="color:#FF4747;"><strong>2024/2/9(金) メンテナンス終了後</strong></span></span><span style="color:#FF4747;"><span style="color:#FF4747;"><strong>～</strong></span></span>
                    </p>
                </section>
                <section>
                    <p style="text-align: center;">&nbsp;</p>
                </section>
            </section>
            <section>
                <p style="text-align: center;">
                    <span style="font-size:14px;">◆<strong>あらすじ◆</strong></span>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/48928/content_24020902.jpg"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/48964/content_scene1.png"
                         style="width: 80%">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/48965/content_scene2.png"
                         style="width: 80%">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/48966/content_scene3.png"
                         style="width: 80%">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/48967/content_scene4.png"
                         style="width: 80%">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/48968/content_scene5.png"
                         style="width: 80%">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/48969/content_scene6.png"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">&nbsp;</p>
                <hr>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong>◆コダマたちの信頼度10になると開放されるスキットについて◆</strong>
                        <br>
                    コダマたちの信頼度10になると開放されるスキットは</span>
                </p>
                <p style="text-align: center;">時系列がリコレクション本編シナリオの展開が進んだ先で構成しており、</p>
                <p style="text-align: center;">ネタバレ防止のため現在は未開放となっています。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    リコレクション本編シナリオは
                    <br>
                    リコレクションの更新毎に追加予定です。
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;">コダマたちの信頼度10になると開放されるスキット</span>は
                </p>
                <p style="text-align: center;">本編シナリオのリリース進行に伴い、</p>
                <p style="text-align: center;">開放予定ですので、お楽しみにお待ちください。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">※上記に伴い、信頼度を10まで上げてもスキルクエストは開放されません。
                        <br>
                    また潜在スキルも解放されません。</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <hr>
                <p style="text-align: center;">
                    <strong>◆リコレクション歴代伝承配信グループのご紹介◆</strong>
                </p>
                <p style="text-align: center;">リコレクションの歴代伝承配信は</p>
                <p style="text-align: center;">以下のグループ毎に配信を予定しております。</p>
                <p style="text-align: center;">配信につきましては、決まり次第お知らせにてご連絡いたします。</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/45327/content_group.png"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">※グループに含まれていない以下のシリーズについて、</p>
                <p style="text-align: center;">歴代伝承配信はありません。</p>
                <p style="text-align: center;">『テイルズ オブ ザ ワールド レディアント マイソロジー』</p>
                <p style="text-align: center;">『テイルズ オブ ファンタジア なりきりダンジョンX』</p>
                <p style="text-align: center;">『テイルズ オブ アーカイブス』</p>
                <p style="text-align: center;">『コラボレーションシリーズ』</p>
            </section>
            <section>
                <div class="frame2">
                    <p style="text-align:center;">&nbsp;《注意事項》</p>
                    <p>
                        <span style="font-size:11px;">・リコレクション</span><span style="font-size:11px;">をプレイするためには</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">メイン1部第1章1-3をクリアしている必要があります。</span>
                    </p>
                    <p class="indent">
                        <span style="font-size:11px;">・本お知らせ内に掲載されている内容は、</span>
                    </p>
                    <p class="indent">
                        <span style="font-size:11px;">予告なく変更することがあります。</span>
                    </p>
                </div>
            </section>
        </div>

    </body>
</html>
