<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- キャラカスタムTOP訴求画像orバナー -->
            </p>
            <center><strong>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/49666/content_24032104.png"
                     style="width: 296px;
                            height: 96px">
            </strong></center>
            <hr>
            <section>
                <p style="text-align: center;">
                    『<font color="#ff4747"><b>キャラカスタム</b></font>』に
                </p>
            </section>
            <section>
                <p style="text-align: center;">
                    <b>スレイ、エドナ、アリーシャ、ライラ</b>の<strong>キャラカスタム</strong>が登場!!
                </p>
                <p style="text-align: center;">この機会に入手して、自分だけのカスタマイズを楽しもう!!</p>
                <hr>
                <p style="text-align: center;">
                    <strong>追加キャラカスタムアイテム一覧</strong>
                </p>
            </section>
            <section>
                <div class="frame1">
                    <p style="text-align: center;">
                        <strong>《武器見た目》</strong>
                    </p>
                    <p style="text-align: center;">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/49583/content_31005.png"
                                 style="width: 108px;
                                        height: 108px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/49584/content_50003.png"
                                 style="width: 108px;
                                        height: 108px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/49585/content_107002.png"
                                 style="width: 108px;
                                        height: 108px">
                        </strong>
                    </p>
                    <p style="text-align: center;">スレイ：義聖剣グレイヴァー</p>
                    <p style="text-align: center;">アリーシャ：決戦の長槍</p>
                    <p style="text-align: center;">ライラ：ラグナロク</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <strong>《カットイン》</strong>
                    </p>
                    <p style="text-align: center;">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/49626/content_31203.png"
                                 style="width: 108px;
                                        height: 108px">
                        </strong>
                    </p>
                    <p style="text-align: center;">スレイ：魔鏡（地神依）</p>
                </div>
                <p style="text-align: center;">
                    <strong>スレイ</strong>のカットイン『<strong>魔鏡（地神依）</strong>』は
                </p>
                <p style="text-align: center;">
                    <strong>『ティル・ナ・ノーグ見聞録-導師スレイの軌跡-』</strong>
                </p>
                <p style="text-align: center;">
                    <strong>イベントポイント交換所</strong>でのみ登場中!!
                </p>
                <p style="text-align: center;">
                    またカットイン<strong>『魔鏡（水神依）』</strong>も同じく再登場!!
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49626/content_31203.png"
                             style="width: 108px;
                                    height: 108px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49630/content_31201.png"
                             style="width: 108px;
                                    height: 108px">
                    </strong>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <b>スレイ、アリーシャ、ライラ</b>のキャラカスタムは
                </p>
                <p style="text-align: center;">
                    <strong>『ティル・ナ・ノーグ見聞録-導師スレイの軌跡-』ガシャ</strong>
                </p>
                <p style="text-align: center;">
                    <strong>『ティル・ナ・ノーグ見聞録-導師スレイの軌跡-』ステップアップガシャ</strong>
                </p>
                <p style="text-align: center;">
                    <strong>『導師スレイの軌跡チケットガシャ』</strong>
                </p>
                <p style="text-align: center;">で入手可能!!</p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49583/content_31005.png"
                             style="width: 108px;
                                    height: 108px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49584/content_50003.png"
                             style="width: 108px;
                                    height: 108px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49585/content_107002.png"
                             style="width: 108px;
                                    height: 108px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <br>
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49627/content_240319.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49628/content_240321.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49629/content_240320.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">※詳細は</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">それぞれのお知らせをご確認ください</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong><span style="color:#FF4747;"></span></strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747"></span>
                </p>
            </section>
            <div class="frame2">
                <p style="text-align: center;">
                    &nbsp;《注意事項》<span style="font-size:11px;"></span>
                </p>
                <p>
                    <span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;">​</span></span>・キャラカスタムアイテムでのステータスの増減はありません。</span>
                </p>
                <p>
                    <span style="font-size:11px;"></span><span style="font-size:11px;">・キャラカスタムアイテムを<span style="font-size:11px;">
                        <br>
                    　獲得していない場合はキャラカスタム画面に表示されません。</span></span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;"></span>
                </p>
            </div>
        </div>

    </body>
</html>
