<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- TOP訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/49464/content_24031110.jpg"
                     style="width: 100%">
            </p>
            <hr>
            <section>
                <p style="text-align: center;">
                    <strong><span style="color:#FF4747;">新イベント</span></strong>
                </p>
                <p style="text-align: center;">第11弾『ザ レイズ オブ フェスティバル』</p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><strong>あなたの好きな記念イラストは？</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"></span><strong>上位3つの候補は、ポスターにしてプレゼント！</strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong>『ザ レイズ オブ フェスティバル ～7周年記念編</strong></span><span style="font-size:14px;"><strong>～』開催!!</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><span style="text-align: left;"></span></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>◆開催期間◆</strong>
                </p>
                <center><span style="color:#FF4747;"><strong>2024/3/11(月)</strong><span style="color:#FF4747;"><strong>メンテナンス終了後</strong></span><strong>&nbsp; ～ 2024/3/20(水) 23:59</strong></span></center>
                <center>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <strong>◆最終結果発表期間◆</strong>
                    </p>
                    <center><span style="color:#FF4747;"><strong>2024/3/21(木) 11:00 ～ 2024/3/28</strong><span style="color:#FF4747;"><strong>(木</strong></span><strong>) 23:59</strong></span></center>
                </center>
                <center>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/49562/content_24031115__1_.jpg"
                         style="width: 80%">
                </center>
                <hr>
            </section>
            <p style="text-align: center;">
                <strong><span style="color:#FF4747;"></span></strong>
            </p>
            <section>
                <p>
                    <strong>■イベントの遊び方</strong>
                </p>
                <p>
                    　　「ザ レイズ オブ フェスティバル」は、クエストに挑戦して
                    <br>
                    　　好きな候補に投票＆応援するイベントです。
                </p>
                <p>イベントは「前半」「後半」の2回に分けて開催されます。</p>
                <p>&nbsp;</p>
                <p>
                    　　前半は、<span style="font-size:14px;"><strong>好きな候補にポイントを投票するイベント</strong></span>です。
                </p>
                <p>
                    <strong>　　<span style="color:#FF9900;">ランキング上位3位の候補</span></strong>は、
                </p>
                <p>
                    　　<span style="color:#FF4747;"><strong>ポスターにして配布が決定</strong></span>します。
                </p>
                <p>&nbsp;</p>
                <p>
                    　　後半は、<span style="font-size:14px;"><strong>イベント参加者全員でポイントを貯める協力イベント</strong></span>です。
                </p>
                <p>
                    <span style="color:#FF9900;"></span>
                </p>
                <p>
                    <strong>　　<span style="color:#FF9900;">各候補に設定されたポイントに到達</span></strong>すると
                </p>
                <p>
                    　　<span style="color:#FF4747;"><strong>ポスターにして配布が確約</strong></span>されます。
                </p>
                <p>&nbsp;</p>
                <p>
                    　　また、<strong>毎日クエストミッションをクリア</strong>することで
                </p>
                <p>以下の報酬を獲得することができます。</p>
                <div align="center">
                    <table align="center"
                           bgcolor="#204060"
                           border="1"
                           cellpadding="0"
                           cellspacing="0">
                        <thead>
                            <tr>
                                <th bgcolor="#304040"
                                    scope="col"
                                    style="border: 1px solid rgb(80, 96, 112);
                                           border-collapse: collapse;
                                           padding: 0px 7px;
                                           text-align: center">
                                    クエストミッション報酬<span style="color:#FF9900;">(毎日更新)</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="padding: 0px 10px; text-align: center;">
                                    <p>
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/25378/content_2.png"
                                             style="width: 80px;
                                                    height: 80px">
                                    </p>
                                    <p>
                                        <span style="font-size:14px;"><strong>ダイヤ&times;4個</strong></span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 0px 10px; text-align: center;">
                                    <p>
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/25377/content_4.png"
                                             style="width: 80px;
                                                    height: 80px">
                                    </p>
                                    <p>
                                        <span style="font-size:14px;"><span style="font-size:14px;"><strong>ギフト(超)</strong><span style="font-size:14px;"><strong>&times;1個</strong></span></span></span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 0px 10px; text-align: center;">
                                    <p>
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/25376/content_200716.png"
                                             style="width: 80px;
                                                    height: 80px">
                                    </p>
                                    <p>
                                        <span style="font-size: 14px;"><span style="font-size:14px;"><strong>フェスティバルガシャチケットVol.12&times;1枚</strong></span></span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p style="text-align: center;">&nbsp;</p>
                <p>
                    <strong>●前半イベントの投票設定について</strong>
                    <br>
                    　　投票設定からは、投票したい候補を選択することができます。
                    <br>
                    　　投票したい候補を設定する場合、
                    <br>
                    　　イベントのトップのバナー画像をタップするか、
                    <br>
                    　　「投票設定変更」のボタンをタップすることで
                    <br>
                    　　投票設定の画面を表示することができます。
                </p>
                <p>&nbsp;</p>
                <p>
                    　　投票設定は最大3候補まで設定できます。
                    <br>
                    　　投票設定時に選択した順番によって、以下のように
                    <br>
                    　　その日のベストスコアをポイントとして加算します。
                    <br>
                    　　　　1番目に選択した候補&nbsp;&hellip; ベストスコアの100%を加算
                    <br>
                    　　　　2番目に選択した候補&nbsp;&hellip; ベストスコアの50%を加算
                    <br>
                    　　　　3番目に選択した候補&nbsp;&hellip; ベストスコアの30%を加算
                </p>
                <p>&nbsp;</p>
                <p>
                    　　また、投票設定は一度でもクエストに挑戦すると、
                    <br>
                    　　その日は投票設定を再度変更することができなくなります。
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>●ベストスコアについて</strong>
                </p>
                <p>『ザ レイズ オブ フェスティバル』では、</p>
                <p>クエストに挑戦して勝利するとスコアを獲得します。</p>
                <p>その日のバトルで獲得した全てのスコアのうち、</p>
                <p>
                    　最も高い値が『<span style="color:#FF9900;"><strong>ベストスコア</strong></span>』となり、<strong><span style="color:#FF4747;">前半では投票ポイント</span></strong>、
                </p>
                <p>
                    　<span style="color:#FF4747;"><strong>後半では必要な到達ポイント</strong></span>として使用します。
                </p>
                <p>&nbsp;</p>
                <p>獲得できるスコアは、『基礎1000Pt』に対し</p>
                <p>
                    　<span style="color:#FF9900;">『<strong>戦闘条件』『所持装備』</strong></span>による<span style="color:#FF9900;"><strong>ボーナス</strong></span>が発生します。
                </p>
                <p>&nbsp;</p>
                <p>
                    　<strong>■装備ボーナス</strong>
                </p>
                <p>該当装備を所持することでボーナスが発生します。</p>
                <p>お知らせ下部の「フェス特効ボーナス」一覧をご確認ください。</p>
                <p>&nbsp;</p>
                <p>
                    　<strong>■戦闘条件ボーナス</strong>
                </p>
                <p>「効果（被ダメージ増加など）」の戦闘条件を付与することにより</p>
                <p>獲得ボーナスを増やすことができます。</p>
                <p>
                    <span style="font-size:12px;">（一例）</span>
                </p>
                <p>
                    <span style="font-size:12px;">『CC回復速度が40％低下（+20％）』</span>
                </p>
                <p>
                    <span style="font-size:12px;">『術技強化段階6以下の効果無効(+20%)』</span>
                </p>
                <p>
                    <span style="font-size:12px;">上記２つの戦闘条件を設定した場合、</span>
                </p>
                <p>
                    <span style="font-size:12px;">基礎1000ptに対して『+40％』を加算、合計1400ptが獲得スコアとなります。</span>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/28691/content_50300.png"
                         style="width: 80%">
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>●累計ベストスコアポイント報酬について</strong>
                    <br>
                    　　累計ベストスコアとは、
                </p>
                <p>
                    　　その日獲得したベストスコアを毎日加算したポイントです。
                    <br>
                    　　累計ポイントに応じて、
                </p>
                <p>さまざまな報酬を受け取ることができます。</p>
                <p>&nbsp;</p>
                <p>
                    ◆クエスト内の<span style="color:#FF9900;"><strong>敵は毎日変更されます。</strong></span>
                </p>
                <p>
                    <strong></strong>敵にあわせて『戦闘条件』を設定し、
                </p>
                <p>ベストスコアを狙いましょう。</p>
                <p>&nbsp;</p>
                <div align="center">
                    <table align="center"
                           bgcolor="#204060"
                           border="1"
                           cellpadding="0"
                           cellspacing="0">
                        <thead>
                            <tr>
                                <th bgcolor="#304040"
                                    scope="col"
                                    style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           padding: 0px 7px 0px">期間</th>
                                <th bgcolor="#304040"
                                    scope="col"
                                    style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           padding: 0px 3px 0px">敵名</th>
                                <th bgcolor="#304040"
                                    scope="col"
                                    style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           padding: 0px 3px 0px">注意点</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="padding: 0px 10px; text-align: center;">
                                    <span style="font-size: 14px;">3/11</span>
                                </td>
                                <td style="padding: 0px 3px; text-align: center;">
                                    <span style="font-size:12px;">ヘリクスウルフ&times;２
                                        <br>
                                    フィトーホーク&times;２</span>
                                </td>
                                <td align="center" style="collapse; padding: 0px 10px 0px;">
                                    <p>麻痺攻撃をしてくるので</p>
                                    <p>
                                        ガードを意識しよう。
                                        <br>
                                        しっかりリカバーしていくのも
                                    </p>
                                    <p>意外とオススメ。</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 0px 10px; text-align: center;">
                                    <span style="font-size: 14px;">3/12</span>
                                </td>
                                <td style="padding: 0px 3px; text-align: center;">
                                    <span style="font-size:12px;">地の守護者&times;２
                                        <br>
                                        風の守護者&times;２</span><span style="font-size:12px;"></span>
                                    </td>
                                    <td align="center" style="collapse; padding: 0px 10px 0px;">
                                        <p>
                                            該当の属性以外は極端にダメージが低い
                                            <br>
                                            時間制限条件を付ける場合は
                                        </p>
                                        <p>
                                            しっかり属性弱点を狙おう<span style="color:#FFFF00;"></span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 0px 10px; text-align: center;">3/13</td>
                                    <td style="padding: 0px 3px; text-align: center;">
                                        <span style="font-size:12px;">ミラージュオタ&times;６</span>
                                    </td>
                                    <td align="center" style="collapse; padding: 0px 10px 0px;">
                                        <p>
                                            MGを減らす攻撃を多く使用してくる
                                            <br>
                                            数も多いので、
                                        </p>
                                        <p>
                                            術でまとめて攻撃しよう<span style="color:#FFFF00;"></span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 0px 10px; text-align: center;">3/14</td>
                                    <td style="padding: 0px 3px; text-align: center;">
                                        <span style="font-size:12px;">オタグミミラクル&times;３</span>
                                    </td>
                                    <td align="center" style="collapse; padding: 0px 10px 0px;">
                                        <p>
                                            一撃が強く、気絶も与えてくる
                                            <br>
                                            気絶とダメージ管理に注意<span style="color:#FFFF00;"></span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 0px 10px; text-align: center;">3/15</td>
                                    <td style="padding: 0px 3px; text-align: center;">
                                        <span style="font-size:12px;">ガーネットドラゴン
                                            <br>
                                        ケイブレックス&times;２</span>
                                    </td>
                                    <td align="center" style="collapse; padding: 0px 10px 0px;">
                                        <p>ケイブレックスのHPは</p>
                                        <p>
                                            あまり高くない
                                            <br>
                                            集中的に攻撃して早めに
                                        </p>
                                        <p>
                                            ボスとの一対一に持ち込もう<span style="color:#FFFF00;"></span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 0px 10px; text-align: center;">3/16</td>
                                    <td style="padding: 0px 3px; text-align: center;">
                                        <span style="font-size:12px;">ワーウルフ&times;３</span>
                                    </td>
                                    <td align="center" style="collapse; padding: 0px 10px 0px;">
                                        <p>
                                            元々の攻撃力はあまり高くないが
                                            <br>
                                            「受けるダメージが○○%上昇」
                                        </p>
                                        <p>
                                            の戦闘条件つけすぎ注意<span style="color:#FFFF00;"></span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 0px 10px; text-align: center;">3/17</td>
                                    <td style="padding: 0px 3px; text-align: center;">
                                        <span style="font-size:12px;">盾の騎士&times;２
                                            <br>
                                        剣の騎士&times;２</span>
                                    </td>
                                    <td align="center" style="collapse; padding: 0px 10px 0px;">
                                        <p>
                                            盾の騎士が回復術を使用する
                                            <br>
                                            中途半端にHPが残らないよう
                                        </p>
                                        <p>しっかり削りきろう</p>
                                        <p>
                                            <span style="color:#FFFF00;"></span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 0px 10px; text-align: center;">3/18</td>
                                    <td style="padding: 0px 3px; text-align: center;">ポイズンプチプリ&times;６</td>
                                    <td align="center" style="collapse; padding: 0px 10px 0px;">
                                        <p>術自体の威力は低いが</p>
                                        <p>
                                            毒ダメージが厄介
                                            <br>
                                            味方をしっかり回復しながら攻撃しよう。
                                        </p>
                                        <p>
                                            詠唱時間のある回復術よりも
                                            <br>
                                            守護方陣などの
                                        </p>
                                        <p>回復効果のある技がオススメ</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 0px 10px; text-align: center;">3/19</td>
                                    <td style="padding: 0px 3px; text-align: center;">
                                        <span style="font-size:12px;">オタオタ番長
                                            <br>
                                        オタオタ後輩&times;３</span>
                                    </td>
                                    <td align="center" style="collapse; padding: 0px 10px 0px;">
                                        <p>
                                            オタオタ番長のHPがとても高い
                                            <br>
                                            時間制限条件を付ける場合には
                                        </p>
                                        <p>FGを溜めていくのがオススメ</p>
                                        <p>
                                            <span style="color:#FFFF00;"></span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 0px 10px; text-align: center;">
                                        <p>3/20</p>
                                    </td>
                                    <td style="padding: 0px 3px; text-align: center;">
                                        <span style="font-size:12px;">レリックゴレム
                                            <br>
                                        ジンガード&times;３</span>
                                    </td>
                                    <td align="center" style="collapse; padding: 0px 10px 0px;">
                                        <p>
                                            レリックゴレムが使用するビームに注意
                                            <br>
                                            範囲内に入らないように気を付けよう
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p>&nbsp;</p>
                    <p style="text-align: left;">
                        ■集計期間について
                        <br>
                        　　前半の開催期間が終了すると、集計期間を挟んで
                        <br>
                        　　集計が完了後に後半が開催されます。
                    </p>
                    <p style="text-align: left;">
                        　　後半の開催期間が終了すると、集計期間を挟んで
                        <br>
                        　　最終結果発表の期間へと移ります。
                    </p>
                    <p style="text-align: left;">
                        　　※前半、後半の集計中、および最終結果発表期間では
                        <br>
                        　　　クエストに挑戦することができません。
                    </p>
                    <p style="text-align: left;">&nbsp;</p>
                    <p style="text-align: left;">
                        ■順位発表について
                        <br>
                        　　前半では毎日の順位が、翌日の午前0時30分に発表されます。
                    </p>
                    <p>&nbsp;</p>
                    <hr>
                    <p style="text-align: center;">
                        <span style="font-size:14px;"><strong>◆『ザ レイズ オブ フェスティバル』<strong>装備のフェス特効ボーナス一覧</strong>◆</strong></span>
                    </p>
                    <div align="center">
                        <div align="center">
                            <div align="center">
                                <table bgcolor="#204060"
                                       cellpadding="0"
                                       cellspacing="0"
                                       style="border-collapse: collapse;
                                              border: 2px solid rgb(80, 96, 112);
                                              width: 490px;
                                              font-size:13px;
                                              table-layout: fixed">
                                    <thead>
                                        <tr>
                                            <th bgcolor="#304040"
                                                scope="col"
                                                style="border:1px #506070 solid;
                                                       border-collapse: collapse;
                                                       width: 23%">キャラクター</th>
                                            <th bgcolor="#304040"
                                                scope="col"
                                                style="border:1px #506070 solid;
                                                       border-collapse: collapse;
                                                       width: 77%">
                                                <p>フェス特効ボーナス</p>
                                                <p>
                                                    <strong>さらに
                                                        <img alt=""
                                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/35210/content_critical_bonus_icon.png"
                                                             style="width: 20px;
                                                                    height: 20px">
                                                    </strong>ボーナス付き!!
                                                </p>
                                                <p>
                                                    （ボーナス値は<span style="font-size:12px;">限界突破最大時のものになります。）</span>
                                                </p>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="border:1px #506070 solid;
                                                       border-collapse: collapse;
                                                       text-align: left;
                                                       padding: 4px">
                                                <p style="text-align: center;">
                                                    <span style="font-size:11px;"><b>≪ソフィ≫</b></span>
                                                </p>
                                                <p style="text-align: center;">
                                                    <span style="font-size:11px;"><b>≪シェリア≫</b></span>
                                                </p>
                                                <p style="text-align: center;">
                                                    <span style="font-size:11px;"><b>≪カノンノ・E≫</b></span>
                                                </p>
                                                <p style="text-align: center;">
                                                    <span style="font-size:11px;"><b>≪P・カノンノ≫</b></span>
                                                </p>
                                                <p style="text-align: center;">
                                                    <span style="font-size:11px;"><b>≪サラ≫</b></span>
                                                </p>
                                                <p style="text-align: center;">
                                                    <span style="font-size:11px;"><b>≪カナ≫</b></span>
                                                </p>
                                                <p style="text-align: center;">&nbsp;</p>
                                            </td>
                                            <td style="border:1px #506070 solid;
                                                       border-collapse: collapse;
                                                       text-align: left;
                                                       padding: 4px">
                                                <p style="text-align: center;">
                                                    <span style="font-size:12px;">新クロスオーバー魔鏡は最大<strong>+45%</strong>のフェス特効ボーナスを付与！</span>
                                                </p>
                                                <p style="text-align: center;">
                                                    イベントクリティカルボーナス<strong>
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35210/content_critical_bonus_icon.png"
                                                         style="width: 20px;
                                                                height: 20px">
                                                </strong>が最大100％上昇！
                                            </p>
                                            <p style="text-align: center;">&nbsp;</p>
                                            <p style="text-align: center;">
                                                <span style="font-size:12px;">新鏡装は最大<strong>+18%</strong>の<span style="font-size:12px;"><span style="font-size:12px;">フェス特効</span></span>ボーナスを付与！</span>
                                            </p>
                                            <p style="text-align: center;">
                                                イベントクリティカルボーナス<strong>
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/35210/content_critical_bonus_icon.png"
                                                     style="width: 20px;
                                                            height: 20px">
                                            </strong>が最大30％上昇！
                                        </p>
                                        <p style="text-align: center;">&nbsp;</p>
                                    </td>
                                </tr>
                                <tr></tr>
                                <tr></tr>
                                <tr>
                                    <td style="border: 1px solid rgb(80, 96, 112);
                                               border-collapse: collapse;
                                               padding: 4px;
                                               text-align: center;
                                               background-color: rgb(48, 64, 64)">≪注意事項≫</td>
                                    <td style="border: 1px solid rgb(80, 96, 112);
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px;
                                               background-color: rgb(48, 64, 64)">
                                        <section>
                                            <div align="center">
                                                <p style="text-align: left;">
                                                    <span style="font-size:11px;">※開催中のガシャから排出される装備については
                                                        <br>
                                                    「『ザ レイズ オブ フェスティバル』開催記念ガシャ開催!!」のお知らせをご確認ください。</span>
                                                </p>
                                                <p style="text-align: left;">
                                                    <span style="font-size:11px;">※『ザレイズオブフェスティバル』では上記装備・魔鏡の</span>
                                                </p>
                                                <p style="text-align: left;">
                                                    <span style="font-size:11px;">フェス特効ボーナスは、所持しているだけで発動します。</span>
                                                </p>
                                                <p style="text-align: left;">
                                                    <span style="font-size:11px;">※上記キャラをパーティに編成していない状態でも、</span>
                                                </p>
                                                <p style="text-align: left;">
                                                    <span style="font-size:11px;">対象のクエストではフェス特効ボーナスが発生します。</span>
                                                </p>
                                                <p style="text-align: left;">
                                                    <span style="font-size:11px;">※ステータスの「クリティカル」は100分率ではなく、クリティカル値1につき発生率が1%上がるものではありません。</span>
                                                </p>
                                                <p style="text-align: left;">
                                                    <span style="font-size:11px;">※クリティカル発生率は、敵によっても変化します。</span>
                                                </p>
                                                <p style="text-align: left;">
                                                    <span style="font-size:11px;"></span>
                                                </p>
                                            </div>
                                        </section>
                                        <p>
                                            <span style="font-size:11px;"></span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <p style="text-align: center;">&nbsp;</p>
            <section>
                <div class="frame2">
                    <p class="indent" style="text-align: center;">《&nbsp;注意事項&nbsp;》</p>
                    <p>
                        <span style="font-size:11px;">・イベントで初登場する装備は、再度登場する場合がございます。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・イベント期間終了後にクエストをクリアした場合は</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">装備の特効ボーナス分のポイントは獲得できません。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・霊装化により生成された精霊装は、</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">イベントにおける装備ボーナスやクリティカルボーナスの対象となりません。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;"></span>
                    </p>
                </div>
            </section>
        </section>
    </div>

</body>
</html>
