<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/49608/content_2403211.png"
                     style="width: 100%;
                            margin: 10px auto">
            </p>
            <hr>
            <p style="text-align: center;">
                <span style="font-size:18px;"><span style="color:#FF4747;"><strong>季節魔鏡</strong></span></span><span style="font-size:18px;">を<span style="font-size:18px;"><strong>1枚</strong>と</span></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:18px;"><span style="font-size:18px;"><strong><span style="color:#FF9900;">鏡装or裏鏡装orバーストリミッツ鏡装</span>1枚</strong>が</span>選べる！</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:18px;"><strong>『<span style="color:#FF4747;">季節魔鏡セレクトチケット</span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF9900;"></span><span style="color:#FF9900;"></span><span style="color:#FF9900;"></span><span style="color:#FF9900;"></span>』販売中!!</strong></span>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                <strong>『<span style="color:#FF4747;">季節魔鏡セレクトチケット</span>』では</strong>
            </p>
            <p style="text-align: center;">
                <strong>2023/11/30までに</strong>登場した
                <br>
                <span style="color:#FF4747;"><strong>季節魔鏡</strong></span>の中から1枚、<span style="color:#FF9900;"><strong>鏡装or裏鏡装orBST鏡装</strong></span>から1枚を
            </p>
            <p style="text-align: center;">選んで交換可能!!</p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                <strong>セレクトチケットの購入時、</strong>
            </p>
            <p style="text-align: center;">
                <strong><span style="color:#FF4747;">季節魔鏡キャラクター10連ガシャチケット</span>&times;1</strong>
            </p>
            <p style="text-align: center;">
                <span style="color:#FF9900;"><strong>バーストリミッツ鏡装確定</strong><span style="color:#FF9900;"><strong>ガシャ</strong></span><strong>チケット</strong></span><strong>&times;1</strong>
            </p>
            <p style="text-align: center;">
                <strong><span style="color:#FF4747;">霊装核</span>&times;3</strong>
            </p>
            <p style="text-align: center;">
                <strong><span style="color:#FF9900;">ギフト(大)</span>&times;50</strong>
            </p>
            <p style="text-align: center;">
                <b>のおまけつき！</b>
            </p>
            <p style="text-align: center;">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/49586/content_240307.png"
                     style="width: 108px;
                            height: 108px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/44569/content_230224.png"
                     style="width: 108px;
                            height: 108px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/49137/content_1.png"
                     style="width: 108px;
                            height: 108px">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/31179/content_3.png">
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                <span style="font-size:14px;"><strong>『季節魔鏡セレクトチケット』の
                    <br>
                　購入は<span style="color:#FF4747;">3回</span>まで可能!!</strong></span>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                <strong><span style="font-size:16px;">◆購入期限◆</span></strong>
            </p>
            <p style="text-align: center;">
                <span style="color:#FF4747;"><span style="color:#FF4747;"><strong>2024/3/21(木) 14:00 ～ 2024/3/31(日) 23:59</strong></span></span>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                <strong><span style="font-size:16px;">◆交換期限◆</span></strong>
            </p>
            <p style="text-align: center;">
                <span style="color:#FF4747;"><strong>2024/4/30(火) 10:59まで</strong></span>
            </p>
            <hr>
            <div class="frame1" style="text-align: center;">
                <p>
                    <span style="font-size:16px;"><strong>『季節魔鏡セレクトチケット』</strong></span>
                </p>
                <p>&nbsp;</p>
                <p>
                    <span style="font-size:14px;"><strong>交換対象魔鏡</strong></span>
                </p>
                <p>
                    <span style="font-size:14px;"><span style="color:#FF9900;"><strong>2023/11/30(木)までに登場した季節</strong><b>魔鏡が交換対象</b></span></span>
                </p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>
                    <span style="font-size:14px;"><strong>交換対象鏡装</strong></span>
                </p>
                <p>
                    <span style="font-size:14px;"><span style="color:#FF9900;"><strong>2023/11/30(木)までに登場かつ</strong></span></span>
                </p>
                <p>
                    <span style="font-size:14px;"><span style="color:#FF9900;"><b>魔鏡が交換対象となっているキャラクターのバーストリミッツ鏡装</b></span></span>
                </p>
                <p>&nbsp;</p>
                <p>
                    <span style="font-size:14px;"><span style="color:#FF9900;"><strong>2023/11/30(木)</strong><strong>までに登場した</strong><strong>鏡装</strong></span></span>
                </p>
                <p>
                    <span style="font-size:14px;"><span style="color:#FF9900;"><strong>(裏鏡装/通常鏡装)</strong></span></span>
                </p>
                <p>※コラボキャラクターの鏡装は含まれません</p>
                <p>※コラボイベントで登場した鏡装は含まれません</p>
            </div>
            <section>
                &nbsp;
            </section>
            <hr>
            <div class="frame2">
                <p style="text-align:center;">《&nbsp;注意事項&nbsp;》</p>
                <p class="indent">
                    <b><span style="font-size:11px;"></span></b>
                </p>
                <p>
                    <span style="font-size:11px;"></span><span style="font-size:11px;">・本セレクトチケットでの交換は
                        <br>
                        　「季節魔鏡セレクトチケット」のみで実行できます。
                        <br>
                        ・本セレクトチケットは
                        <br>
                        　「季節魔鏡セレクトチケット」1枚につき、
                        <br>
                        　1回実行できます。
                        <br>
                        ・本セレクトチケットは
                        <br>
                        　2023年11月30日までに登場した季節魔鏡1枚と
                        <br>
                        　鏡装もしくは裏鏡装、対象のBST鏡装の中から1つを獲得できます。
                        <br>
                        ・「季節魔鏡セレクトチケット」購入時に
                        <br>
                        　「季節魔鏡キャラクター10連ガシャチケット」1枚と
                        <br>
                        　「バーストリミッツ鏡装確定ガシャチケット」1枚と
                        <br>
                        　「霊装核」3個と「ギフト（大）」50個が獲得できます。
                        <br>
                        ・「季節魔鏡キャラクター10連ガシャチケット」は
                        <br>
                        　直接付与され、プレゼントボックスには届きませんのでご注意ください。
                        <br>
                        ・「季節魔鏡セレクトチケット」の購入は
                        <br>
                        　お一人様3回限りとなります。
                        <br>
                        ・各種ボーナスの効果は、該当のイベント開催時のみ発動します。
                        <br>
                        ・各種ボーナスが発動する魔鏡・装備の一覧は、
                        <br>
                        　該当イベントのお知らせをご確認ください。
                        <br>
                        ・表示されているのは、
                        <br>
                        　最大強化後のステータス・効果・各種ボーナス値となります。
                        <br>
                        ・本セレクトチケットの購入後のご利用期限は、2024年4月30日です。
                        <br>
                        　ご利用期限を過ぎるとチケットを購入していても
                        <br>
                        　交換することができなくなります。
                        <br>
                        ・セットで獲得できる「季節魔鏡キャラクター10連ガシャチケット」は
                        <br>
                        　購入後、チケットガシャメニューより実行できます。
                        <br>
                        ・期間限定の魔鏡・装備・キャラカスタムは再登場する場合がございます。
                        <br>
                        ・限定キャラカスタム付き魔鏡で手に入る同一の限定キャラカスタムは
                        <br>
                        　複数入手することはできません。
                        <br>
                        ・限定キャラカスタムを先に限定キャラカスタム付き魔鏡以外から入手した場合、
                        <br>
                        　限定キャラカスタム付き魔鏡で複数入手はできません。
                        <br>
                        ・限定キャラカスタム付き魔鏡でキャラカスタムを入手した場合、
                        <br>
                        　その他入手導線での入手はできません。
                        <br>
                        ・ゼロスの季節魔鏡を獲得時
                        <br>
                        　ユーリの限定キャラカスタムも獲得することができます。
                        <br>
                        ・ゼロスの季節魔鏡「男のロマン」獲得で
                        <br>
                        　限定衣装「リゾート兄貴」を獲得した場合でもユーリは加入しません。
                        <br>
                        ・ゼロスの季節魔鏡「男のロマン」獲得時にユーリが未加入の場合でも
                        <br>
                        　ユーリの限定衣装「リゾート兄貴」は獲得状態となっており、
                        <br>
                        　ユーリが加入した後に衣装の変更が可能となります。
                        <br>
                        ・アニー、ヒルダの季節魔鏡を獲得時
                        <br>
                        　ヴェイグの限定キャラカスタムも獲得することができます。
                        <br>
                        ・アニー、ヒルダの季節魔鏡獲得で
                        <br>
                        　ヴェイグの限定衣装「マーチングバンド衣装」を獲得した場合でも
                        <br>
                        　ヴェイグは加入しません。
                        <br>
                        ・アニー、ヒルダの季節魔鏡獲得時にヴェイグが未加入の場合でも
                        <br>
                        　ヴェイグの限定衣装「マーチングバンド衣装」は獲得状態となっており、
                        <br>
                    　ヴェイグが加入した後に衣装の変更が可能となります。</span>
                </p>
                <p>
                    <span style="font-size:11px;"></span>
                </p>
                <p class="indent">
                    <b><span style="font-size:11px;"></span><span style="font-size:11px;"></span></b>
                </p>
            </div>
            <p>
                <b></b>
            </p>
        </div>
    </body>
</html>
