<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/21318/content_2003033.jpg"
                     style="width: 100%">
            </p>
            <hr>
            <section>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"></span><strong style="font-size: 0.8rem;">イベントクリアで「<font color="#ff9900">アレン</font>」「<font color="#ff9900">ゼファー</font>」</strong><span style="font-size: 0.8rem;">が仲間に!!</span><span style="color:#FF9900;"></span>
                    <br>
                    <strong>『</strong><span style="color:#FF9900;"><strong>Journey of link－今日も記念日！－</strong></span><strong>』復刻開催!!</strong>
                </p>
                &nbsp;
                <p style="text-align: center;">
                    <span style="font-size: 0.8rem; text-align: left;"></span>
                </p>
                <p style="text-align: center;">
                    <strong>◆開催期間◆</strong>
                </p>
                <p style="text-align: center;">
                    <strong><span style="color:#FF4747;">2</span><span style="color:#FF4747;">024/3/3(日) 14:00～2024/3/31(日</span></strong><strong><span style="color:#FF4747;">) 13:59</span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong>◆参戦キャラクター◆</strong></span>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/21319/content_2003031.jpg"
                         style="width: 80%">
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/21320/content_2003032.jpg"
                         style="width: 80%">
                </p>
                <hr>
                <div class="frame2">
                    <p class="indent" style="text-align: center;">《&nbsp;注意事項&nbsp;》</p>
                    <p>
                        <span style="font-size:11px;">・イベントで登場するキャラ/装備は、再度登場する場合がございます。
                            <br>
                            ・イベント専用シナリオでは、APオーブは獲得できません。
                            <br>
                            ・前回の同イベントでキャラクター・報酬魔鏡を獲得している場合、
                            <br>
                            　追加でキャラクター・報酬魔鏡を獲得することはできません。
                            <br>
                            ・初回イベントでクリアしたクエストのシナリオは再生されません。
                            <br>
                        　シナリオログでは引き続きいつでもご覧頂けます。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;"></span>
                    </p>
                    <p>
                        <span style="font-size:11px;"></span>
                    </p>
                </div>

            </section>
        </div>
    </body>
</html>
