<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <span style="font-size:18px;"><strong>シリーズガシャの更新と</strong></span>
            </p>
            <p>
                <span style="font-size:18px;"><strong>『テイルズ オブ クレストリア』シリーズガシャの追加</strong></span>
            </p>
            <hr>
            <p>
                <span style="color:#FF4747;"></span>
            </p>
            <p>
                <span style="font-size:14px;">『TALES OF THE RAYS』をご利用いただき誠にありがとうございます。</span>
            </p>
            <p>&nbsp;</p>
            <p>
                <span style="font-size:14px;">本日2/28(水)のデータ更新にて</span>
            </p>
            <p>
                <span style="font-size:14px;"><strong>シリーズガシャのラインナップの更新</strong>行いました。</span>
            </p>
            <p>
                <span style="font-size:14px;"></span>
            </p>
            <p>
                <span style="font-size:14px;">また3/1(金)0:00より</span>
            </p>
            <p>
                <span style="font-size:14px;"><span style="color:#FF4747;"><strong>『テイルズ オブ クレストリア』シリーズガシャ</strong></span>が追加されます<span style="color:#FF4747;"></span></span>
            </p>
            <p>&nbsp;</p>
            <hr>
            <p>
                <span style="color:#FF4747;"><strong><span style="font-size:16px;"></span></strong></span><span style="color:#FF4747;"><strong><span style="font-size:16px;">シリーズガシャの更新内容について</span></strong></span>
            </p>
            <p>&nbsp;</p>
            <p>
                <span style="color:#FF4747;"></span><span style="font-size:14px;"><strong>【更新内容】</strong></span>
            </p>
            <p>
                <span style="font-size:14px;">含まれる季節魔鏡・通常魔鏡、鏡装の内容を</span>
            </p>
            <p>
                <span style="font-size:14px;">2023年11月30日までに実装された内容に更新いたしました。</span>
            </p>
            <p>
                <span style="font-size:12px;">※鏡装は裏鏡装、バーストリミッツ鏡装、コラボ鏡装は含まれません。</span>
            </p>
            <p>
                <span style="font-size:12px;">※シリーズガシャにはFCキャラクターは含まれません</span>
            </p>
            <p>
                <span style="font-size:12px;">※今回の更新で『初回割引』の更新はありません。</span>
            </p>
            <hr>
            <p>
                <span style="color:#FF4747;"><strong><span style="font-size:16px;">『テイルズ オブ クレストリア』シリーズガシャ追加について</span></strong></span>
            </p>
            <p>&nbsp;</p>
            <p>
                <span style="font-size:14px;">◆開催期間◆</span>
            </p>
            <p>
                <span style="font-size:14px;"><strong>2024/3/1(金) 0:00 ～</strong></span>
            </p>
            <span style="font-size:14px;"></span>
            <p>
                <span style="font-size:14px;"></span>
            </p>
            <p>
                <span style="font-size:14px;"><span style="color:#FF4747;"></span><strong>【シリーズガシャ追加内容】</strong></span>
            </p>
            <p>
                <span style="font-size:14px;">2023年11月30日までに実装されたキャラクターにて</span>
            </p>
            <p>
                <span style="font-size:14px;">シリーズガシャを追加いたしました。</span>
            </p>
            <p>
                <span style="font-size:12px;">※鏡装は裏鏡装、バーストリミッツ鏡装、コラボ鏡装は含まれません。</span>
            </p>
            <p>
                <span style="font-size:12px;">※シリーズガシャにはFCキャラクターは含まれません</span>
            </p>
            <hr>
            <p>引き続き『TALES OF THE RAYS』をよろしくお願い申し上げます。</p>
            <div align="center">
                <div align="center">
                    <div align="center">
                        <p style="text-align: center;">
                            <b><span style="font-size:11px;"></span><span style="font-size:11px;"></span></b>
                        </p>
                    </div>
                    <p>
                        <b></b>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
