<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/49615/content_2403191.png"
                     style="margin: 10px auto;
                            width: 100%">
                <span style="font-size:16px;"></span>
            </p>
            <hr>
            <p>
                <span style="font-size:18px;"><b>スレイ、エドナ、アリーシャ、ライラ</b>の</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:18px;"><strong><span style="color:#ff4747;">装備・魔鏡</span><span style="color:#ff4747;">のみ</span></strong>が出現する</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:18px;"><strong>『ティル・ナ・ノーグ見聞録-導師スレイの軌跡-』ガシャ</strong>が開催!!</span>
            </p>
            <p style="text-align: center;">
                <br>
                <font color="#ff4747"><span style="font-size: 18px;"></span></font>
            </p>
            <p>
                <span style="font-size:18px;"><span style="color:#FF4747;"><strong>スレイ＆エドナ</strong></span>の</span><span style="font-size:18px;"><span style="color:#FF9900;"><strong>クロスオーバー魔鏡</strong></span>、</span>
            </p>
            <p>
                <span style="font-size:18px;"><span style="font-size:18px;"><span style="color:#FF4747;"><strong>アリーシャ</strong></span></span><span style="font-size:18px;">の</span><span style="font-size:18px;"><span style="color:#FF9900;"><strong>オーバーレイ魔鏡</strong></span></span><span style="font-size:18px;"><span style="font-size:18px;">、</span></span></span><span style="font-size:18px;"><span style="color:#FF4747;"><span style="font-size:18px;"><span style="color:#FF4747;"></span></span></span></span>
            </p>
            <p>
                <span style="font-size:18px;"><span style="color:#FF4747;"><span style="font-size:18px;"><span style="color:#FF4747;"><strong>ライラ</strong></span></span></span>の</span><span style="font-size:18px;"><span style="color:#FF9900;"><strong>決戦魔鏡</strong></span></span><span style="font-size:18px;">が</span><span style="font-size:18px;"><strong>新登場!!</strong></span>
            </p>
            <p>
                <span style="font-size:14px;">さらに<strong>スレイ、</strong><span style="font-size:14px;"><strong>アリーシャ、</strong><span style="font-size:14px;"><strong>ライラ</strong></span></span>の<span style="color:#FF9900;"><strong>レアリティ零</strong></span></span><span style="font-size:14px;">も新登場!!</span>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                <span style="font-size:18px;"><span style="color:#FF4747;"><strong>7周年記念！ダイヤ10連ガシャ</strong></span>が<strong><span style="color:#FF9900;">初回無料!!</span></strong></span>
            </p>
            <p style="text-align: center;">
                <b>＆</b>
            </p>
            <p style="text-align: center;">
                <span style="font-size:18px;"><span style="color:#FF4747;"><strong>鏡晶石10連ガシャ</strong></span>が<strong><span style="color:#FF9900;">初回半額!!</span></strong></span>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p>
                <span style="font-size:16px;"><strong>さらに！</strong></span>
            </p>
            <p>
                <span style="font-size:16px;"><strong><span style="color:#FF9900;">鏡晶石ガシャ</span>では</strong></span>
            </p>
            <p>
                <span style="font-size:16px;"><strong><span style="color:#FF4747;">魔鏡の霊装化アイテム『霊装核』</span>を交換できる</strong></span>
            </p>
            <p>
                <span style="font-size:16px;"><strong><span style="color:#FF4747;">『霊装核チケットG』</span>がおまけで付いてくる！！</strong></span>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p>
                <span style="font-size:12px;">本ガシャでは【導師スレイの軌跡GRADE】が獲得可能!!</span>
            </p>
            <p>
                <span style="font-size:12px;"><span style="color:#FF4747;"><strong>鏡晶石</strong></span>の1連で10pt、10連では100pt、
                <br>
                <span style="color:#FF4747;"><strong>ダイヤ</strong></span>の1連で5pt、10連では50pt獲得可能!!</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size: 0.8rem;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/16985/content_140.png"
                         style="width: 108px;
                                height: 108px">
                </span><span style="font-size: 0.8rem;"><span style="font-size:14px;"></span></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:12px;">【導師スレイの軌跡GRADE】は、
                    <br>
                    【ガシャ】≫【対象のガシャ】≫【GRADE SHOP】で
                    <br>
                    対象のガシャに出現する<strong><span style="color:#FF4747;">★5装備</span>・<span style="color:#FF4747;">魔鏡</span></strong>と交換が可能！</span>
                    <br>
                    <span style="font-size:11px;">※所持しているGRADEはガシャ画面の「所持GRADE」一覧から</span>
                    <br>
                    <span style="font-size:11px;">確認することが出来ます。</span><span style="font-size:12px;"></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p>
                    <strong>スレイ、アリーシャ、ライラに</strong>
                </p>
                <p>
                    <strong><span style="color:#FF9900;">レアリティ零</span>が新登場!!</strong>
                </p>
                <p>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/49662/content_2403196.png"
                         style="width: 80%">
                </p>
                <p>
                    <strong>特定条件で<span style="color:#FF9900;">『零術技』</span>を使うことで</strong>
                </p>
                <p>
                    <strong><span style="color:#FF4747;">【ゼロシフト】</span>発動!!</strong>
                </p>
                <p>
                    <span style="font-size:11px;">※ゼロシフトの詳細については</span>
                </p>
                <p>
                    <span style="font-size:11px;">「ヘルプ」をご確認ください</span>
                </p>
                <p>&nbsp;</p>
                <p>
                    <span style="font-size:16px;">期間限定の<span style="color:#FF4747;"></span></span>
                </p>
                <p>
                    <span style="font-size:16px;"><strong style="color: rgb(255, 71, 71);">スレイ</strong><span style="font-size:16px;"><span style="color:#FF4747;"><span style="color:#FF4747;"><strong>、</strong></span></span></span><span style="color:#FF4747;"><span style="color:#FF4747;"><strong>アリーシャ、</strong><span style="color:#FF4747;"><strong>ライラ</strong></span></span></span>の<span style="color:#FF9900;"><span style="color:#FF9900;"><strong>レアリティ零</strong></span></span>には</span>
                </p>
                <p>
                    <span style="font-size:16px;"><span style="color:#FF9900;"><strong>限定キャラカスタム</strong></span>がセットに！</span>
                </p>
                <p>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/49616/content_2403195.png"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="font-weight: bold; text-align: center;">
                    <span style="font-size:16px;">◆開催期間◆</span><span style="font-size:16px;"><strong><span style="color:#ff4747;"></span></strong></span>
                </p>
                <p style="font-weight: bold; text-align: center;">
                    <span style="font-size:16px;"><strong><span style="color:#ff4747;">2024/3/21(木) 14:00</span><span style="color:#ff4747;">&nbsp;～&nbsp;</span><span style="color:#ff4747;">2024/3/31(日) 10:59</span></strong></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><strong>『ティル・ナ・ノーグ見聞録-導師スレイの軌跡-』ガシャ</strong>では、
                        <br>
                        <strong>スレイ、エドナ、アリーシャ、ライラ</strong>の
                        <br>
                        <strong><span style="color:#FF4747;">『装備』・『魔鏡』</span>のみが出現!</strong></span>
                </p>
                <div class="frame1" style="text-align: center;">
                    <strong>このガシャから装備・魔鏡が出現する対象キャラ</strong>
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/49572/content_31.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/49573/content_36.png"
                         style="width: 100px;
                                height: 100px">
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/49574/content_50.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/49575/content_107.png"
                         style="width: 100px;
                                height: 100px">
                </div>
                <div align="center">
                    <p>
                        <strong><span style="color:#FF4747;">鏡晶石</span>での10連は1回<span style="color:#FF4747;">★5装備</span>もしくは<span style="color:#FF4747;">魔鏡</span>が確定!!</strong><span style="color:#ff4747;"></span>
                    </p>
                    <p>&nbsp;</p>
                </div>
                <p>
                    <span style="font-size:14px;">さらに<strong>スレイ、エドナ、アリーシャ、ライラ</strong>の</span>
                </p>
                <p>
                    <span style="font-size:14px;"><strong><span style="color:#FF4747;">『装備』</span></strong>か<strong><span style="color:#FF4747;">『魔鏡』</span></strong>が必ず手に入るチケットがおまけでついてくる!!</span>
                </p>
                <p>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/49617/content_240320.png"
                         style="width: 296px;
                                height: 96px">
                </p>
                <span style="font-size:12px;"><strong>ダイヤでの10連は１回★4以上が確定!!</strong></span>
                <hr>
                <section>
                    <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/49618/content_2403192.png"
                         style="margin: 10px auto;
                                width: 100%">
                    <ul class="box">
                        <li>
                            <strong>魔鏡技:<font color="#ff4747">地神招来</font></strong>　　威力:<font color="#ff4747"><b>1957</b></font>
                        </li>
                        <li style="text-align:right;float:right">
                            <strong>スレイ＆エドナ専用</strong>
                        </li>
                    </ul>
                    <div class="frame1">
                        <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                            <tbody>
                                <tr>
                                    <td>
                                        <p>
                                            <strong>効果内容</strong>
                                        </p>
                                        <p>
                                            神依化し大地を震わす巨大な力で
                                            <br>
                                            豪快な一撃を繰り出す魔鏡技
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: center;">
                                            <strong><a href="https://youtu.be/TiIJjR9SbDgexternalbrowser=true">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                     style="width: 60px;
                                                            height: 60px">
                                            </a></strong>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <hr>
                <section>
                    <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/49663/content_2403193.png"
                         style="margin: 10px auto;
                                width: 100%">
                    <ul class="box">
                        <li>
                            <strong>魔鏡技:<font color="#ff4747">皇刃蒼雨衝</font></strong>　　威力:<font color="#ff4747"><b>1886</b></font>
                        </li>
                        <li style="text-align:right;float:right">
                            <strong>アリーシャ専用</strong>
                        </li>
                    </ul>
                    <div class="frame1">
                        <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                            <tbody>
                                <tr>
                                    <td>
                                        <p>
                                            <strong>効果内容</strong>
                                        </p>
                                        <p>
                                            信念を貫く槍が豪雨の如く
                                            <br>
                                            無数に降り注ぐ魔鏡技
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: center;">
                                            <strong><a href="https://youtu.be/7MSXaG1wfH4externalbrowser=true">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                     style="width: 60px;
                                                            height: 60px">
                                            </a></strong>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <p>
                    <span style="font-size:14px;"><strong><font color="#ff4747">アリーシャ</font>のオーバーレイ魔鏡は魔鏡技後の一定時間、
                        <br>
                        <span style="color:#FF4747;">通常攻撃</span>と<span style="color:#FF4747;">術技</span>に<span style="color:#FF4747;">HP吸収効果</span>を付与！</strong></span>
                        <br>
                        <span style="font-size:11px;">※サポートで使用した場合オーバーレイ魔鏡の特殊効果は発動しません。</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">※上記の効果を発動させるには、術技強化が必要となります。​</span>
                    </p>
                    <hr>
                    <section>
                        <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49620/content_2403194.png"
                             style="margin: 10px auto;
                                    width: 100%">
                        <ul class="box">
                            <li>
                                <strong>魔鏡技:<font color="#ff4747">プライマリィ・エンド</font></strong>　　威力:<font color="#ff4747"><b>1924</b></font>
                            </li>
                            <li style="text-align:right;float:right">
                                <strong>ライラ専用</strong>
                            </li>
                        </ul>
                        <div class="frame1">
                            <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>
                                                <strong>効果内容</strong>
                                            </p>
                                            <p>
                                                舞い踊る紙葉と緋炎の剣が終焉の炎を
                                                <br>
                                                起こす魔鏡技。敵に火属性弱点を付与
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong><a href="https://youtu.be/vPgR8olc9t0externalbrowser=true">
                                                    <img alt=""
                                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                         style="width: 60px;
                                                                height: 60px">
                                                </a></strong>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <hr>
                    <section>
                        <div class="frame2">
                            <p style="text-align:center;">《&nbsp;注意事項&nbsp;》</p>
                            <p class="indent">
                                <span style="font-size:11px;"></span>
                            </p>
                            <p>
                                <span style="font-size:11px;">・ピックアップされている魔鏡・装備は、
                                    <br>
                                    　同レアリティの魔鏡・装備の中で提供割合が
                                    <br>
                                    　高く設定されています。
                                    <br>
                                    　※実際の提供割合は、ガシャ内訳の個別提供割合一覧に準じます。
                                    <br>
                                    ・鏡晶石10連ガシャの、10回の抽選のうち1回は
                                    <br>
                                    　「★5装備・魔鏡」のいずれかが確定で出現します。
                                    <br>
                                    　提供割合は、「鏡晶石10連ガシャ 1/10回」一覧に準じます。
                                    <br>
                                    　また、おまけで
                                    <br>
                                    　「導師スレイの軌跡ガシャチケット」が1枚と
                                    <br>
                                    　「霊装核チケットG」と「バーストメモリアチケットG」が10枚、
                                    <br>
                                    　【導師スレイの軌跡GRADE】が100pt獲得できます。
                                    <br>
                                    ・「導師スレイの軌跡ガシャチケット」は
                                    <br>
                                    　鏡晶石10連ガシャ1回につき1枚が獲得できるもので、
                                    <br>
                                    　鏡晶石1連ガシャを10回分実行しても獲得できません。
                                    <br>
                                    ・鏡晶石1連ガシャでは「霊装核チケットG」と
                                    <br>
                                    　「バーストメモリアチケットG」が1枚、
                                    <br>
                                    　【導師スレイの軌跡GRADE】が10pt獲得できます。
                                    <br>
                                    ・ダイヤ10連ガシャの、10回の抽選のうち1回は
                                    <br>
                                    　「★4装備・★5装備・魔鏡」のいずれかが確定で出現します。
                                    <br>
                                    　また、おまけで【導師スレイの軌跡GRADE】が
                                    <br>
                                    　50pt獲得できます。
                                    <br>
                                    　提供割合は、「ダイヤ10連ガシャ 1/10回」一覧に準じます。
                                    <br>
                                    ・ダイヤ1連ガシャでは、
                                    <br>
                                    　【導師スレイの軌跡GRADE】が5pt獲得できます。
                                    <br>
                                    ・【導師スレイの軌跡GRADE】はGRADE SHOPにて使用できます。
                                    <br>
                                    ・【導師スレイの軌跡GRADE】は
                                    <br>
                                    　GRADE SHOPの開催期間が終了するとお使い頂けません。
                                    <br>
                                    ・本ガシャで入手した【導師スレイの軌跡GRADE】は
                                    <br>
                                    　GRADE SHOP終了時に自動的に「精鏡石」へ変換されます。
                                    <br>
                                    ・「鏡晶石10連ガシャ 1/10回」及び「ダイヤ10連ガシャ 1/10回」以外の
                                    <br>
                                    　提供割合は、「鏡晶石1連ガシャ、鏡晶石10連ガシャ 9/10回、
                                    <br>
                                    　ダイヤ1連ガシャ、ダイヤ10連ガシャ 9/10回」一覧に準じます。
                                    <br>
                                    ・「導師スレイの軌跡ガシャチケット」を
                                    <br>
                                    　使用できるのは
                                    <br>
                                    　「導師スレイの軌跡チケットガシャ」のみ
                                    <br>
                                    　となり、
                                    <br>
                                    　「導師スレイの軌跡チケットガシャ」の
                                    <br>
                                    　開催期間が終了するとお使い頂けません。
                                    <br>
                                    ・「霊装核チケットG」は『霊装核交換所』、
                                    <br>
                                    　「バーストメモリアチケットG」は『バーストメモリア交換所』にて
                                    <br>
                                    　ご使用できます。
                                    <br>
                                    ・各種ボーナスの効果は該当のイベント開催時のみ発動します。
                                    <br>
                                    ・各種ボーナスが発動する魔鏡・装備の一覧は、
                                    <br>
                                    　該当イベントのお知らせをご確認ください。
                                    <br>
                                    ・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。
                                    <br>
                                    ・それぞれの提供割合は、小数第4位を四捨五入して表示しているため、
                                    <br>
                                    　合計値が100％にならない場合がございます。
                                    <br>
                                    ・鏡晶石とダイヤいずれの手段でもガシャの提供割合は変わりません。
                                    <br>
                                    ・鏡晶石とダイヤを組み合わせてガシャを実行することはできません。
                                    <br>
                                    ・ダイヤ10連ガシャは初回に限り無料でご利用できます。
                                    <br>
                                    　2回目以降は通常時のダイヤ200個となります。
                                    <br>
                                    ・鏡晶石10連ガシャは初回に限り半額の鏡晶石1000個でご利用できます。
                                    <br>
                                    　2回目以降は通常時の鏡晶石2000個となります。
                                    <br>
                                    ・鏡晶石1連ガシャは期間中、
                                    <br>
                                    　毎日初回に限り半額の鏡晶石100個でご利用できます。
                                    <br>
                                    　当日の2回目以降は通常時の鏡晶石200個となります。
                                    <br>
                                    　翌日0：00に再び半額の鏡晶石100個でご利用できるようになります。
                                    <br>
                                    ・期間限定の魔鏡・装備・キャラカスタムは再登場する場合がございます。
                                    <br>
                                    ・表示されているステータス・効果・各種ボーナスは、
                                    <br>
                                    　最大強化後の値となります。
                                    <br>
                                    ・限定キャラカスタム付き魔鏡・装備でキャラカスタムを入手した場合、
                                    <br>
                                    　その他入手導線での入手はできません。
                                    <br>
                                    ・限定キャラカスタムを先に限定キャラカスタム付き魔鏡・装備以外から
                                    <br>
                                    　入手した場合、限定キャラカスタム付き魔鏡・装備で複数入手はできません。
                                    <br>
                                    ・限定キャラカスタム付き魔鏡・装備で手に入る同一の限定キャラカスタムは
                                    <br>
                                    　複数入手することはできません。
                                    <br>
                                    ・登場キャラクターの実装済みの装備・魔鏡でも
                                    <br>
                                    　本ガシャに含まれない場合がございます。
                                    <br>
                                　出現する装備・魔鏡につきましては、ガシャ内訳をご確認ください。</span><span style="font-size:11px;"></span>
                            </p>
                        </div>
                    </section>
                </div>
                <p>
                    <b></b>
                </p>
            </body>
        </html>
