<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/49621/content_2403201.png"
                     style="width: 100%">
            </p>
            <hr>
            <p>
                <span style="font-size:18px;"><b>スレイ、エドナ、アリーシャ、ライラ</b>の</span>
            </p>
            <p>
                <span style="font-size:18px;"><span style="color:#FF4747;"><strong>『魔鏡』</strong>と</span><span style="color:#FF4747;"><strong>『装備』</strong>のみ</span>が出現する</span>
            </p>
            <p>
                <span style="font-size:18px;"><strong>導師スレイの軌跡チケットガシャ</strong>が開催!!</span>
            </p>
            <p>&nbsp;</p>
            <p>
                <span style="font-size:16px;"><strong>◆開催期間◆</strong></span>
            </p>
            <p>
                <span style="font-size:16px;"><strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;">2024/3/21(木) 14:00 ～ 2024/4/21(日) 10:59</span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong></span>
            </p>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                <span style="font-size:16px;"><strong>導師スレイの軌跡チケットガシャ</strong>では、
                    <br>
                    <b>スレイ、エドナ、アリーシャ、ライラ</b>の
                    <br>
                    <span style="color:#FF4747;"><strong>『</strong><span style="color:#FF4747;"><strong>装備</strong></span><strong>』と『</strong><span style="color:#FF4747;"><strong>魔鏡</strong></span><strong>』のみ</strong></span>が出現!!</span>
                </p>
                <div class="frame1">
                    <p style="text-align: center;">
                        <strong>スレイの魔鏡・装備</strong>
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49576/content_3110009.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/11650/content_3110003.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/49577/content_315007.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/44136/content_315006.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/21397/content_315003.png"
                                 style="width: 80px;
                                        height: 80px">
                        </strong>
                    </p>
                    <p style="text-align: center;">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/21408/content_314001.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/21409/content_314002.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/21410/content_314003.png"
                                 style="width: 80px;
                                        height: 80px">
                        </strong>
                    </p>
                    <p style="text-align: center;">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/21411/content_313001.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/21412/content_313002.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/21413/content_313003.png"
                                 style="width: 80px;
                                        height: 80px">
                            <br>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/21414/content_313004.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/21415/content_313005.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/21416/content_313006.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/21417/content_313007.png"
                                 style="width: 80px;
                                        height: 80px">
                        </strong>
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <strong>エドナの魔鏡・装備</strong>
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49576/content_3110009.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/19729/content_3610003.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/49578/content_365005.png"
                                 style="width: 80px;
                                        height: 80px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/44138/content_365004.png"
                                 style="width: 80px;
                                        height: 80px">
                        </strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/25114/content_365003.png"
                             style="width: 80px;
                                    height: 80px">
                        <br>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/19724/content_364002.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/19725/content_364003.png"
                             style="width: 80px;
                                    height: 80px">
                        <br>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/19719/content_363001.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/19720/content_363002.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/19721/content_363003.png"
                             style="width: 80px;
                                    height: 80px">
                        <br>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/19722/content_363004.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/19723/content_363005.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <strong>アリーシャの魔鏡・装備</strong>
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49579/content_5010007.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/43546/content_5010006.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/21981/content_5010004.png"
                             style="width: 80px;
                                    height: 80px">
                        <br>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49580/content_505005.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/43550/content_505004.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/22342/content_505003.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/28575/content_504001.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/28576/content_504003.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/28577/content_503005.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/28578/content_503007.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/28579/content_503010.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/28580/content_503011.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <strong>ライラの魔鏡・装備</strong>
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49582/content_10710006.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/22125/content_10710003.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49581/content_1075006.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/39079/content_1075005.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/29966/content_1075003.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/29981/content_1074001.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/29982/content_1074002.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/29983/content_1073001.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/29984/content_1073002.png"
                             style="width: 80px;
                                    height: 80px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/29985/content_1073003.png"
                             style="width: 80px;
                                    height: 80px">
                    </p>
                </div>
                <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                    <span style="font-size:12px;">導師スレイの軌跡ガシャチケットは
                        <br>
                        <strong>『ティル・ナ・ノーグ見聞録-導師スレイの軌跡-』ガシャ</strong>のおまけ、
                        <br>
                        <strong>『ティル・ナ・ノーグ見聞録-導師スレイの軌跡-』ステップアップガシャ</strong>、
                        <br>
                        <strong>『</strong><span style="font-size:12px;"><strong>ティル・ナ・ノーグ見聞録-導師スレイの軌跡-</strong></span><strong>』</strong></span><span style="font-size:12px;"><span style="font-size:12px;">
                            <br>
                            <strong>ポイントイベント交換所＆交易品引換所</strong></span><span style="font-size:12px;"></span>
                            <br>
                            <span style="font-size:12px;">で<strong>入手が可能!!</strong></span></span><!-- 仕切り -->
                        </p>
                        <hr>
                        <section>
                            <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/49618/content_2403192.png"
                                 style="margin: 10px auto;
                                        width: 100%">
                            <ul class="box">
                                <li>
                                    <strong>魔鏡技:<font color="#ff4747">地神招来</font></strong>　　威力:<font color="#ff4747"><b>1957</b></font>
                                </li>
                                <li style="text-align:right;float:right">
                                    <strong>スレイ＆エドナ専用</strong>
                                </li>
                            </ul>
                            <div class="frame1">
                                <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p>
                                                    <strong>効果内容</strong>
                                                </p>
                                                <p>
                                                    神依化し大地を震わす巨大な力で
                                                    <br>
                                                    豪快な一撃を繰り出す魔鏡技
                                                </p>
                                            </td>
                                            <td>
                                                <p style="text-align: center;">
                                                    <strong><a href="https://youtu.be/TiIJjR9SbDgexternalbrowser=true">
                                                        <img alt=""
                                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                             style="width: 60px;
                                                                    height: 60px">
                                                    </a></strong>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <hr>
                        <section>
                            <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/49664/content_2403193.png"
                                 style="margin: 10px auto;
                                        width: 100%">
                            <ul class="box">
                                <li>
                                    <strong>魔鏡技:<font color="#ff4747">皇刃蒼雨衝</font></strong>　　威力:<font color="#ff4747"><b>1886</b></font>
                                </li>
                                <li style="text-align:right;float:right">
                                    <strong>アリーシャ専用</strong>
                                </li>
                            </ul>
                            <div class="frame1">
                                <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p>
                                                    <strong>効果内容</strong>
                                                </p>
                                                <p>
                                                    信念を貫く槍が豪雨の如く
                                                    <br>
                                                    無数に降り注ぐ魔鏡技
                                                </p>
                                            </td>
                                            <td>
                                                <p style="text-align: center;">
                                                    <strong><a href="https://youtu.be/7MSXaG1wfH4externalbrowser=true">
                                                        <img alt=""
                                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                             style="width: 60px;
                                                                    height: 60px">
                                                    </a></strong>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <p>
                            <span style="font-size:14px;"><strong><font color="#ff4747">アリーシャ</font>のオーバーレイ魔鏡は魔鏡技後の一定時間、
                                <br>
                                <span style="color:#FF4747;">通常攻撃</span>と<span style="color:#FF4747;">術技</span>に<span style="color:#FF4747;">HP吸収効果</span>を付与！</strong></span>
                                <br>
                                <span style="font-size:11px;">※サポートで使用した場合オーバーレイ魔鏡の特殊効果は発動しません。</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">※上記の効果を発動させるには、術技強化が必要となります。​</span>
                            </p>
                            <hr>
                            <section>
                                <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/49620/content_2403194.png"
                                     style="margin: 10px auto;
                                            width: 100%">
                                <ul class="box">
                                    <li>
                                        <strong>魔鏡技:<font color="#ff4747">プライマリィ・エンド</font></strong>　　威力:<font color="#ff4747"><b>1924</b></font>
                                    </li>
                                    <li style="text-align:right;float:right">
                                        <strong>ライラ専用</strong>
                                    </li>
                                </ul>
                                <div class="frame1">
                                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p>
                                                        <strong>効果内容</strong>
                                                    </p>
                                                    <p>
                                                        舞い踊る紙葉と緋炎の剣が終焉の炎を
                                                        <br>
                                                        起こす魔鏡技。敵に火属性弱点を付与
                                                    </p>
                                                </td>
                                                <td>
                                                    <p style="text-align: center;">
                                                        <strong><a href="https://youtu.be/vPgR8olc9t0externalbrowser=true">
                                                            <img alt=""
                                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                                 style="width: 60px;
                                                                        height: 60px">
                                                        </a></strong>
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                            <hr>
                            <div class="frame2">
                                <p style="text-align:center;">《 注意事項&nbsp;》</p>
                                <p>
                                    <span style="font-size:11px;"></span><span style="font-size:11px;"></span><span style="font-size:11px;"></span><span style="font-size:11px;"></span><span style="font-size:11px;">・本ガシャは
                                        <br>
                                        　「導師スレイの軌跡ガシャチケット」
                                        <br>
                                        　のみで実行できます。
                                        <br>
                                        ・本ガシャは
                                        <br>
                                        　「導師スレイの軌跡ガシャチケット」
                                        <br>
                                        　1枚につき、1回実行できます。
                                        <br>
                                        ・本ガシャからはスレイ、エドナ、アリーシャ、ライラの
                                        <br>
                                        　魔鏡・★5装備・★4装備・★3装備のいずれかが獲得できます。
                                        <br>
                                        ・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。
                                        <br>
                                        ・各種ボーナスの効果は、該当のイベント開催時のみ発動します。
                                        <br>
                                        ・各種ボーナスが発動する魔鏡・装備の一覧は、
                                        <br>
                                        　該当イベントのお知らせをご確認ください。
                                        <br>
                                        ・表示されているステータス・効果・各種ボーナスは、最大強化後の値となります。
                                        <br>
                                        ・期間限定の魔鏡・装備・キャラカスタムは再登場する場合がございます。
                                        <br>
                                        ・限定キャラカスタム付き魔鏡・装備でキャラカスタムを入手した場合、
                                        <br>
                                        　その他入手導線での入手はできません。
                                        <br>
                                        ・限定キャラカスタムを先に限定キャラカスタム付き魔鏡・装備以外から
                                        <br>
                                        　入手した場合、限定キャラカスタム付き魔鏡・装備で複数入手はできません。
                                        <br>
                                        ・限定キャラカスタム付き魔鏡・装備で手に入る同一の限定キャラカスタムは
                                        <br>
                                    　複数入手することはできません。</span><span style="font-size:11px;"></span>
                                </p>
                            </div>
                        </div>

                    </body>
                </html>
