<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/49309/content_2402161.png"
                     style="margin: 10px auto;
                            width: 100%">
            </p>
            <hr>
            <p style="text-align: center;">
                <span style="font-size:16px;"><b>2023/3/31(金)までに登場した</b></span><span style="font-size:14px;"></span><span style="font-size:16px;"><strong><span style="color:#ff4747;"></span></strong></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:16px;"><strong><span style="color:#ff4747;">装備・魔鏡</span><span style="color:#ff4747;">のみ</span></strong></span><span style="font-size:14px;">が出現する</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:16px;"><strong>『7周年記念』毎日10連無料ガシャ</strong></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:16px;">が開催!!</span>
            </p>
            <p style="text-align: center;">
                <br>
                <font color="#ff4747"><span style="font-size: 18px;"></span></font>
            </p>
            <p style="text-align: center;">3/1(金) ~ 3/30(土)までの期間中、</p>
            <p style="text-align: center;">
                <span style="color:#FF9900;"><strong>1日1回、無料でダイヤ10連ガシャ</strong></span>を行う事が出来る<span style="font-size:16px;"></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:16px;">『7周年記念』の特別ガシャ!!</span>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">さらに！</p>
            <p style="text-align: center;">
                <strong style=""><font color="#ff4747">季節魔鏡確定のガシャ</font></strong>を行う事が出来る
            </p>
            <p style="text-align: center;">
                <span style="color:#FF9900;"><strong>『7周年記念！季節魔鏡確定ガシャチケット』</strong></span>が
            </p>
            <p style="text-align: center;">
                おまけで<strong>1枚</strong>付いてくる!!
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">期間中、</p>
            <p style="text-align: center;">毎日欠かさずにガシャを行う事で</p>
            <p style="text-align: center;">
                <span style="color:#FF4747;"><strong>最大300連ガシャ!!</strong></span>
            </p>
            <p style="text-align: center;">＆</p>
            <p style="text-align: center;">7周年記念！季節魔鏡確定ガシャチケット&times;30回分の</p>
            <p style="text-align: center;">
                <span style="color:#FF9900;"><strong>30枚の季節魔鏡確定!!</strong></span>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                <span style="font-size:16px;"></span>
            </p>
            <p>
                <span style="font-size:14px;"><strong>本ガシャでは【7th AnniversaryGRADE】が獲得できる!!</strong></span><span style="font-size:14px;">
                    <br>
                    <span style="color:#FF4747;"><strong>ダイヤ</strong></span><strong>の</strong><strong>10連で50pt獲得可能!!</strong></span>
                </p>
                <p>
                    <span style="font-size:14px;"><b>毎日無料10連を欠かさず引くことで<span style="color:#FF9900;">登場キャラの鏡装・魔鏡と交換可能に!!</span></b>
                        <br>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/16985/content_140.png">
                    </span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:12px;">【7th AnniversaryGRADE】は、
                        <br>
                        【ガシャ】≫【対象のガシャ】≫【GRADE SHOP】で
                        <br>
                        対象のガシャに出現する<strong>鏡装・魔鏡と</strong><strong>交換が可能！</strong>
                        <br>
                        ※所持しているGRADEはガシャ画面の「所持GRADE」一覧から
                        <br>
                    確認することが出来ます。</span>
                </p>
                <p style="text-align: center;">
                    <br>
                    ◆開催期間◆
                </p>
                <p style="text-align: center;">
                    <strong><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span><span style="color:#ff4747;">2024/3/1(金) 0:00 ～ 2024/3/30(土) 23:59</span><span style="color:#ff4747;"></span><span style="color:#ff4747;"></span></strong>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p>
                    <span style="font-size:14px;"><span style="color:#FF9900;"></span></span><span style="font-size:14px;"><strong>『7周年記念』毎日10連無料ガシャでは、</strong></span>
                </p>
                <p>
                    <span style="font-size:14px;"></span>
                </p>
                <p>
                    <span style="font-size:14px;"></span>
                </p>
                <p>
                    <span style="font-size:14px;"></span>
                </p>
                <p>
                    <span style="font-size:14px;"><strong><b>2023/3/31(金)までに登場した</b></strong></span><span style="font-size:14px;">
                        <br>
                        <strong><strong><span style="color:#FF4747;">『装備』・</span><span style="color:#FF4747;">『魔鏡』</span><span style="color:#000000;"></span><span style="color:#FF4747;">のみが出現!</span></strong></strong></span>
                </p>
                <div class="frame1" style="text-align: center;">
                    <p>
                        <span style="font-size:16px;"><strong>このガシャから出現する装備・魔鏡</strong></span>
                    </p>
                    <p>&nbsp;</p>
                    <p>
                        <span style="font-size:14px;"><strong>【魔鏡】</strong></span>
                    </p>
                    <p>
                        <span style="font-size:14px;"><span style="color:#FF9900;"><strong>2023/3/31(金)までに登場した季節魔鏡・魔鏡</strong></span></span>
                    </p>
                    <p>
                        <span style="font-size:12px;">※コラボキャラクターの魔鏡は含まれません</span>
                    </p>
                    <p>
                        <span style="font-size:12px;">※フォームチェンジキャラクターの魔鏡は含まれません</span>
                    </p>
                    <p>&nbsp;</p>
                    <p>
                        <span style="font-size:14px;"><strong>【鏡装】</strong></span>
                    </p>
                    <p>
                        <span style="font-size:14px;"><span style="color:#FF9900;"><span style="font-size:14px;"><span style="color:#FF9900;"><strong>2023/3/31(金)</strong></span></span><strong>までに登場した裏鏡装・通常鏡装</strong></span></span>
                    </p>
                    <p>
                        <span style="font-size:12px;">※コラボキャラクターの鏡装は含まれません</span>
                    </p>
                    <p>
                        <span style="font-size:12px;">※フォームチェンジキャラクターの鏡装は含まれません</span>
                    </p>
                    <p>&nbsp;</p>
                    <p>
                        <span style="font-size:14px;"><strong>【★4/★3装備】</strong></span>
                    </p>
                    <p>
                        <span style="font-size:14px;"><span style="color:#FF9900;"><span style="font-size:14px;"><span style="color:#FF9900;"><strong>2023/3/31(金)</strong></span></span><strong>までに登場した装備</strong></span></span>
                    </p>
                    <p>
                        <span style="font-size:12px;">※コラボキャラクターの装備は含まれません</span>
                    </p>
                    <p>
                        <span style="font-size:12px;">※フォームチェンジキャラクターの装備は含まれません</span>
                    </p>
                    <p>
                        <span style="font-size:12px;">※イベント限定、かめにんショップ限定の装備は含まれません</span>
                    </p>
                </div>
                <div align="center">
                    <p>&nbsp;</p>
                </div>
                <hr>
                <div align="center">
                    <p>
                        <strong><span style="font-size:16px;"></span></strong>
                    </p>
                </div>
                <section>
                    <div class="frame2">
                        <p style="text-align:center;">《&nbsp;注意事項&nbsp;》</p>
                        <p class="indent">
                            <span style="font-size:11px;"></span>
                        </p>
                        <p>
                            <span style="font-size:11px;">・ダイヤ10連ガシャは、その日の初回に限り無料でご利用できます。
                                <br>
                                　初回無料分を実行した時点でガシャは実行不能となり、
                                <br>
                                　翌日0：00に再び無料でご利用できるようになります。
                                <br>
                                ・本ガシャは非常に多くのキャラクターが登場する内容となっており、
                                <br>
                                　ガシャ内訳やGRADESHOP表示の読み込みに時間がかかる場合がございます。
                                <br>
                                ・ガシャのおまけで入手できる
                                <br>
                                　「7周年記念！季節魔鏡確定ガシャチケット」を使用できるのは
                                <br>
                                　「7周年記念！季節魔鏡確定チケットガシャ」のみとなり、
                                <br>
                                　「7周年記念！季節魔鏡確定チケットガシャ」の開催期間が終了すると
                                <br>
                                　お使い頂けません。
                                <br>
                                ・【7th Anniversary GRADE】は、
                                <br>
                                　GRADE SHOPにて使用できます。
                                <br>
                                ・【7th Anniversary GRADE】は
                                <br>
                                　GRADE SHOPの開催期間が終了するとお使い頂けません。
                                <br>
                                ・本ガシャで入手した
                                <br>
                                　【7th Anniversary GRADE】は
                                <br>
                                　GRADE SHOP終了時に自動的に「精鏡石」へ変換されます。
                                <br>
                                ・各種ボーナスの効果は、該当のイベント開催時のみ発動します。
                                <br>
                                ・各種ボーナスが発動する魔鏡・装備の一覧は、
                                <br>
                                　該当イベントのお知らせをご確認ください。
                                <br>
                                ・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。
                                <br>
                                ・それぞれの提供割合は、小数第4位を四捨五入して表示しているため、
                                <br>
                                　合計値が100％にならない場合がございます。
                                <br>
                                ・表示されているステータス・効果・各種ボーナスは、最大強化後の値となります。
                                <br>
                                ・期間限定の魔鏡・装備・キャラカスタムは再登場する場合がございます。
                                <br>
                                ・限定キャラカスタム付き魔鏡でキャラカスタムを入手した場合、
                                <br>
                                　その他入手導線での入手はできません。
                                <br>
                                ・限定キャラカスタムを先に限定キャラカスタム付き魔鏡以外から入手した場合、
                                <br>
                                　限定キャラカスタム付き魔鏡で複数入手はできません。
                                <br>
                                ・限定キャラカスタム付き魔鏡で手に入る同一の限定キャラカスタムは
                                <br>
                                　複数入手することはできません。
                                <br>
                                ・ゼロスの季節魔鏡「男のロマン」を獲得時
                                <br>
                                　ユーリの限定キャラカスタムも獲得することができます。
                                <br>
                                ・ゼロスの季節魔鏡「男のロマン」獲得で
                                <br>
                                　限定衣装「リゾート兄貴」を獲得した場合でもユーリは加入しません。
                                <br>
                                ・ゼロスの季節魔鏡「男のロマン」獲得時にユーリが未加入の場合でも
                                <br>
                                　ユーリの限定衣装「リゾート兄貴」は獲得状態となっており、
                                <br>
                                　ユーリが加入した後に衣装の変更が可能となります。
                                <br>
                                ・アニー、ヒルダの季節魔鏡を獲得時
                                <br>
                                　ヴェイグの限定キャラカスタムも獲得することができます。
                                <br>
                                ・アニー、ヒルダの季節魔鏡獲得で
                                <br>
                                　ヴェイグの限定衣装「マーチングバンド衣装」を獲得した場合でも
                                <br>
                                　ヴェイグは加入しません。
                                <br>
                                ・アニー、ヒルダの季節魔鏡獲得時にヴェイグが未加入の場合でも
                                <br>
                                　ヴェイグの限定衣装「マーチングバンド衣装」は獲得状態となっており、
                                <br>
                                　ヴェイグが加入した後に衣装の変更が可能となります。
                                <br>
                                ・登場キャラクターの実装済みの魔鏡・装備でも
                                <br>
                                　本ガシャに含まれない場合がございます。
                                <br>
                            　出現する装備・魔鏡につきましては、ガシャ内訳をご確認ください。</span><span style="font-size:11px;"></span>
                        </p>
                    </div>
                </section>
            </div>
            <p>
                <b></b>
            </p>
        </body>
    </html>
