<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- キャラカスタムTOP訴求画像orバナー -->
            </p>
            <center><strong>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/49843/content_23041005.png"
                     style="width: 296px;
                            height: 96px">
            </strong></center>
            <hr>
            <section>
                <p style="text-align: center;">
                    『<font color="#ff4747"><b>キャラカスタム</b></font>』に
                </p>
            </section>
            <section>
                <p style="text-align: center;">
                    <b>エルナト、コダマ</b>の<strong>キャラカスタム</strong>が登場!!
                </p>
                <p style="text-align: center;">この機会に入手して、自分だけのカスタマイズを楽しもう!!</p>
                <hr>
                <p style="text-align: center;">
                    <strong>追加キャラカスタムアイテム一覧</strong>
                </p>
            </section>
            <section>
                <div class="frame1">
                    <p style="text-align: center;">
                        <strong>《衣装》</strong>
                    </p>
                    <p style="text-align: center;">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/49844/content_307002.png"
                                 style="width: 108px;
                                        height: 108px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/49845/content_307003.png"
                                 style="width: 108px;
                                        height: 108px">
                        </strong>
                    </p>
                    <p style="text-align: center;">エルナト：ビフレスト皇女の衣装</p>
                    <p style="text-align: center;">エルナト：初期装備衣装（ミラージュフェアリー）</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <strong>《カットイン》</strong>
                    </p>
                    <p style="text-align: center;">
                        <strong>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/49846/content_301201.png"
                                 style="width: 108px;
                                        height: 108px">
                        </strong>
                    </p>
                    <p style="text-align: center;">コダマ：終決魔鏡</p>
                </div>
                <p style="text-align: center;">
                    <b>エルナト、コダマ</b>のキャラカスタムは
                </p>
                <p style="text-align: center;">
                    <strong>『エルナト攻略戦～想い出を巡る物語～』ガシャ</strong>
                </p>
                <p style="text-align: center;">
                    <strong>『リコレクション完結記念』ステップアップガシャ</strong>
                </p>
                <p style="text-align: center;">
                    <strong>『想い出を巡る物語チケットガシャ』</strong>
                </p>
                <p style="text-align: center;">で入手可能!!</p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49844/content_307002.png"
                             style="width: 108px;
                                    height: 108px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49846/content_301201.png"
                             style="width: 108px;
                                    height: 108px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <br>
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49882/content_240403.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49849/content_240405.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49883/content_240404.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">※詳細は</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">それぞれのお知らせをご確認ください</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    また<strong>エルナト</strong>のキャラカスタム『<strong><span style="color:#FF9900;">初期装備衣装（ミラージュフェアリー）</span></strong>』は
                </p>
                <p style="text-align: center;">
                    <strong>『エルナト攻略戦～想い出を巡る物語～』開催期間中の</strong>
                </p>
                <p style="text-align: center;">
                    <strong>全体ミッション</strong>でのみ登場中!!
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49845/content_307003.png"
                             style="width: 108px;
                                    height: 108px">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong><span style="color:#FF4747;"></span></strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747"></span>
                </p>
            </section>
            <div class="frame2">
                <p style="text-align: center;">
                    &nbsp;《注意事項》<span style="font-size:11px;"></span>
                </p>
                <p>
                    <span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;">​</span></span>・キャラカスタムアイテムでのステータスの増減はありません。</span>
                </p>
                <p>
                    <span style="font-size:11px;"></span><span style="font-size:11px;">・キャラカスタムアイテムを<span style="font-size:11px;">
                        <br>
                    　獲得していない場合はキャラカスタム画面に表示されません。</span></span>
                </p>
                <p class="indent">
                    <span style="font-size:11px;"></span>
                </p>
            </div>
        </div>

    </body>
</html>
