<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>【予告】『ティル・ナ・ノーグ パンフェスタ～焼きたてを君に～』開催!!</p>
            <hr>
            <section>
                <p style="text-align: center;">
                    <strong><span style="color:#FF4747;"></span></strong>
                </p>
                <section>
                    <p style="text-align: center;">
                        <strong><span style="color:#FF4747;">新イベント</span></strong>
                    </p>
                </section>
                <section>
                    <p style="text-align: center;">
                        <span style="font-size:16px;"><strong>『ティル・ナ・ノーグ パンフェスタ～焼きたてを君に～』</strong></span>
                    </p>
                    <p style="text-align: center;">
                        <strong>開催!!</strong><span style="font-size: 0.8rem; text-align: left;"></span>
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <strong>◆開催予定日時◆</strong>
                    </p>
                    <p style="text-align: center;">
                        <span style="font-size:16px;"><strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;">2024/4/19</span></strong></span><span style="font-size:16px;"><strong><span style="color:#FF4747;">(金)14:00</span></strong><strong><span style="color:#FF4747;">より開催予定</span></strong></span>
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                </section>
            </section>
            <section>
                <p style="text-align: center;">
                    <strong>◆あらすじ◆</strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/49939/content_24041905.jpg"
                         style="width: 80%">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/49949/content_20240411_142515.png"
                         style="width: 80%">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/49950/content_20240411_142625.png"
                         style="width: 80%">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/49951/content_20240411_145529.png"
                         style="width: 80%">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/49952/content_20240411_151056.png"
                         style="width: 80%">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/49953/content_20240411_151204.png"
                         style="width: 80%">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/49954/content_20240411_151238.png"
                         style="width: 80%">
                </p>
                <div class="frame2">
                    <p style="text-align: center;">《&nbsp;注意事項&nbsp;》</p>
                    <p class="indent">
                        <span style="font-size:11px;">・イベントで初登場するキャラ/装備は、再度登場する可能性がございます。</span>
                    </p>
                    <p class="indent">
                        <span style="font-size:11px;">・イベント専用シナリオでは、APオーブは獲得できません。</span>
                    </p>
                    <p class="indent">
                        <span style="font-size:11px;">・お知らせに掲載されている内容は</span>
                    </p>
                    <p class="indent">
                        <span style="font-size:11px;">予告なく変更することがございます。</span><span style="font-size:12px;"></span>
                    </p>
                </div>
            </section>
        </div>
        <p style="text-align: center;">
            <span style="font-size:12px;"></span>
        </p>

    </body>
</html>
