<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <span style="color:#FF4747;"><b><font size="4">4～5月イベント紹介！</font></b></span>
            </p>
            <hr>
            <p>
                <span style="font-size:12px;">2024年4～5月に開催されるイベントを紹介!!</span>
            </p>
            <p>
                <!-- 仕切り -->
            </p>
            <section>
                <p style="text-align: center;">
                    <strong><a href="https://youtu.be/s8vB7eTBZHs?externalbrowser=true">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                             style="width: 100px;
                                    height: 100px">
                    </a></strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:20px;"><strong>ボタンタップでプロモーションビデオ再生！</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:9px;">※ご注意：動画再生アプリやブラウザが開きます。</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">&nbsp;</p>
                <hr>
                <p style="text-align: center;">
                    <span style="font-size:18px;"><strong>【4～5月の配信スケジュール（予告）】</strong></span>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/49876/content_24041501.jpg"
                         style="width: 80%">
                </p>
                <hr>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/49923/content_scene569.png"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">
                    <span style="font-size:20px;"><strong>新たな季節</strong><strong>魔鏡が登場！</strong></span>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49924/content_scene570.png"
                             style="width: 80%">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49925/content_scene571.png"
                             style="width: 80%">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49926/content_scene572.png"
                             style="width: 80%">
                    </strong>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49927/content_scene573.png"
                             style="width: 80%">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49928/content_scene574.png"
                             style="width: 80%">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49929/content_scene575.png"
                             style="width: 80%">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49930/content_scene576.png"
                             style="width: 80%">
                    </strong>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49931/content_scene577.png"
                             style="width: 80%">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49932/content_scene578.png"
                             style="width: 80%">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49933/content_scene579.png"
                             style="width: 80%">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49934/content_scene580.png"
                             style="width: 80%">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/49935/content_scene581.png"
                             style="width: 80%">
                    </strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/49936/content_scene582.png"
                         style="width: 80%">
                </p>
                <hr>
                <p style="text-align: center;">少しでも早くお届けできるよう鋭意開発中です。</p>
                <p style="text-align: center;">楽しみにお待ち頂ければ幸いです。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">引き続き『TALES OF THE RAYS』をよろしくお願い申し上げます。</p>
                <p style="text-align: center;">&nbsp;</p>
            </section>

        </div>
    </body>
</html>
