<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <span style="font-size: 18px;"><b>ver6.2.0アップデート</b></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size: 18px;"><b>&amp;</b></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size: 18px;"><b>メンテナンス完了の</b></span><span style="font-size: 18px;"><b>お知らせ</b></span><span style="font-size:18px;">&nbsp;</span>
            </p>
            <!-- 仕切り -->
            <hr>
            <section>
                <p style="text-align: center;">
                    <span style="font-size:14px;"></span>
                </p>
                <p style="font-weight: bold; text-align: center;">&nbsp;</p>
                <p style="text-align: center;">『TALES OF THE RAYS』をご利用いただき誠にありがとうございます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">2024/4/10(水) 11:00より行っておりました『ver6.2.0』への</p>
                <p style="text-align: center;">アップデートに伴うメンテナンスにつきまして</p>
                <p style="text-align: center;">正常にストアにアプリが反映されたことを確認できましたので</p>
                <p style="text-align: center;">15:00に正常に終了したことをお知らせいたします。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">本メンテナンスに伴い、</p>
                <p style="text-align: center;">パスポートの効果時間と</p>
                <p style="text-align: center;">イベント復刻機能により復刻中のイベントの開催時間を</p>
                <p style="text-align: center;">4時間延長させて頂きました。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">メンテナンスご協力のお礼として、</p>
                <p style="text-align: center;">
                    <strong>『ダイヤ&times;4個』</strong>
                </p>
                <p style="text-align: center;">をプレイヤーの皆様にお贈りさせていただきました。</p>
                <p style="text-align: center;">
                    『<strong>プレゼントボックス</strong>』からお受け取り下さい。
                </p>
                <p style="text-align: center;">なお、こちらの受取期限は</p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>2024/4/17(水) 23:59</strong></span>
                </p>
                <p style="text-align: center;">までとなっておりますのでご注意ください。</p>
                <p>&nbsp;</p>
                <p>
                    <span style="color:#FF4747;"></span>
                </p>
                <p>
                    <span style="color:#FF4747;"></span>
                </p>
                <p>
                    <span style="color:#FF4747;"><strong>■ver6.2.0で</strong><span style="color:#FF4747;"><span style="color:#FF4747;"><strong>調整された機能</strong></span></span></span>
                </p>
                <p>・アプリアイコン、起動画面を通常版に変更</p>
                <p>&nbsp;</p>
                <p>
                    <span style="color:#FF4747;"><strong>■ver6.2.0で修正</strong><span style="color:#FF4747;"><span style="color:#FF4747;"><strong>された機能</strong></span></span></span>
                </p>
                <p>・リコレクションモードにて術技強化でCC減少がある術技につき、</p>
                <p>術技強化すると表示上の威力が増加している不具合</p>
                <p>└ 威力の表示を修正しました。</p>
                <p>&nbsp; &nbsp; &nbsp; &nbsp; 表示のみの修正となり、実際の威力に変更はありません。</p>
                <p>&nbsp;</p>
                <p>その他、細かな不具合の修正</p>
                <p>&nbsp;</p>
                <p>また、メンテナンス更新以降、</p>
                <p>リコレクションのシリーズミッション「今日のミッションキャラクター」が</p>
                <p>アイリスに切り替わっております。</p>
                <p>この度は多くのお客様にご迷惑をおかけしておりますことを</p>
                <p>お詫び申し上げます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">メンテナンスへのご協力、誠にありがとうございました。</p>
                <p style="text-align: center;">引き続き『TALES OF THE RAYS』をよろしくお願い申し上げます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <strong></strong>
            </section>
        </div>
    </body>
</html>
