<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <strong>『リコレクション完結記念パネルミッション』登場！</strong>
            </p>
            <hr>
            <section>
                <p style="text-align: center;">『TALES OF THE RAYS』リコレクション完結を記念して、</p>
                <p style="text-align: center;">
                    <strong>「<span style="color:#FF9900;">ダイヤ&times;200</span>」</strong>
                </p>
                <p style="text-align: center;">
                    <strong>「<span style="color:#FF9900;"></span><span style="color:#FF9900;">リコレクション完結記念！</span></strong>
                </p>
                <p style="text-align: center;">
                    <strong><span style="color:#FF9900;">ザレイズリコレクションオリジン魔鏡確定ガシャチケット</span><span style="color:#FF9900;"></span>」</strong>
                </p>
                <p style="text-align: center;">
                    が<span style="color:#FF4747;"><strong>獲得</strong></span>できる
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong>『リコレクション完結記念パネルミッション』が登場!!</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">※パネルミッションは「ホーム」画面右下の「パネルミッション」ボタンから遷移可能です。</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">パネルミッションのパネルは全9種類！</p>
                <p style="text-align: center;">1種類達成するごとにも鏡結晶などの豪華報酬が！</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">パネルミッション「エルナトをパーティに入れてクエストを15回クリアする」</p>
                <p style="text-align: center;">パネルミッション「リコレクションのクエストを30回クリア」</p>
                <p style="text-align: center;">パネルミッション「ログインボーナスを10回受け取る」</p>
                <p style="text-align: center;">
                    を達成で<span style="color:#FF4747;"></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>リコレクションキャラのオリジン魔鏡が必ずもらえるガシャチケット</strong></span>
                </p>
                <p style="text-align: center;">
                    『<strong><span style="color:#FF9900;">リコレクション完結記念！</span></strong>
                </p>
                <p style="text-align: center;">
                    <strong><span style="color:#FF9900;">ザレイズリコレクションオリジン魔鏡確定ガシャチケット</span></strong>』
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/49814/content_240406.png"
                         style="width: 100px;
                                height: 100px">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">パネルミッションコンプリートで、</p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><strong>「<span style="color:#FF9900;"></span><span style="color:#FF9900;">ダイヤ&times;200</span><span style="color:#FF9900;"></span>」</strong></span>
                </p>
                <p style="text-align: center;">
                    が<strong>獲得可能!!</strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/47435/content_2.png"
                         style="width: 100px;
                                height: 100px">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                <strong><span style="font-size:16px;">◆開催期間◆</span>
                <br>
                <span style="font-size:16px;"><span style="color:#FF4747;">2024/4/10</span></span></strong><strong><span style="font-size:16px;"><span style="color:#FF4747;">(水</span></span></strong><strong><span style="font-size:16px;"><span style="color:#FF4747;">) メンテナンス終了後 ～ 2024/4/30(火) 23:59</span></span>
                <br>
                <br>
                <span style="font-size:16px;"></span></strong><span style="font-size:11px;"></span>
            </p>
            <p style="text-align: center;">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/49807/content_20240405_133110.png"
                     style="width: 80%">
            </p>
            <p style="text-align: center;">
                <br>
                <strong><span style="font-size:16px;">◆パネルミッションについて◆</span></strong>
                <br>
                パネルミッションは、条件を満すことで自動的に達成していきます。
                <br>
                ミッション内容と報酬は、パネルミッション画面の
                <br>
                各パネルをタップすると確認することができます。
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">また、ミッション達成後はホーム画面に戻ることで</p>
            <p style="text-align: center;">報酬を受け取ることができます。</p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/49813/content_20240405_180146.png"
                     style="width: 80%">
            </p>
        </section>
        <div class="frame2">
            <p style="text-align:center;">《&nbsp;注意事項&nbsp;》</p>
            <p>
                <span style="font-size:11px;">・ミッション達成報酬はホーム画面に戻ることでに直接受け取りが可能です。
                    <br>
                    ・所持数が上限を超えた報酬はプレゼントボックスに送られます。
                    <br>
                ・報酬の受け取り期限も同様になりますので、ご注意ください。</span>
            </p>
        </div>
    </div>

</body>
</html>
