<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/50067/content_24043001.jpg"
                     style="width: 100%">
            </p>
            <hr>
            <section>
                <p style="text-align: center;">
                    <strong><span style="color:#FF4747;">新イベント開催!!</span></strong>
                </p>
                <p style="text-align: center;">
                    <strong>イベントで</strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong>「<font color="#ff4747">ミトス</font>」「<font color="#ff4747">リンウェル</font>」「<font color="#ff4747">マルタ</font>」が仲間に!!</strong></span>
                </p>
                <p style="text-align: center;">
                    <strong><span style="color:#FF4747;"></span></strong>
                </p>
                <p style="text-align: center;">
                    <strong>​</strong><span style="color:#FF9900;"><strong><span style="color:#FF9900;">精霊片</span></strong></span><strong>を入手し、</strong>
                </p>
                <p style="text-align: center;">
                    <strong>ミトスたちの</strong><b><span style="font-size:18px;"><span style="color:#FF4747;">精霊装</span></span>を作成＆強化しよう!!</b>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>イベントクエスト「【高難易度】ミトス＆リンウェル＆マルタの挑戦」</strong>
                </p>
                <p style="text-align: center;">クエストミッションクリアで</p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><strong>交易品400個</strong></span>の獲得が可能!!
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/26259/content_4942.png"
                         style="width: 108px;
                                height: 108px">
                </p>
                <p style="text-align: center;">精霊装を手に入れて強くなったら挑戦しよう!!</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">その他にも</p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong>『精霊装 ミトス リンウェル マルタ</strong><strong>』交換所で</strong></span>
                </p>
                <p style="text-align: center;">ダイヤや、ガシャチケットの入手が可能！</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50102/content_240414.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50103/content_240415.png"
                         style="width: 100px;
                                height: 100px">
                </p>
                <p style="text-align: center;">
                    <strong>「ミトス＆リンウェル＆マルタ確定ガシャチケット」</strong>
                </p>
                <p style="text-align: center;">
                    <strong>「ミトス＆リンウェル＆マルタ鏡装確定ガシャチケット」</strong>
                </p>
                <p style="text-align: center;">さらに</p>
                <p style="text-align: center;">
                    <strong>リンウェルのアタッチメント</strong>も交換可能！
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50086/content_257003.png"
                         style="width: 100px;
                                height: 100px">
                </p>
                <p style="text-align: center;">
                    <strong><span style="color:#FF4747;">「ウィッチハット【セルシウス】」</span></strong>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><strong>◆開催期間◆</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;">2024/4/30(火) 14:00 ～ 2024/5/10(金) 10:59</span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong></span>
                </p>
                <hr>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong>ルームアイテムを報酬に追加!!</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong>◆イベントポスター◆</strong></span>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50068/content_70067210.png"
                         style="width: 100px;
                                height: 100px">
                </p>
                <p style="text-align: center;">精霊装イベントのイベントポスターは、</p>
                <p style="text-align: center;">期間限定ログインボーナスで獲得可能!!</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong>◆レコード◆</strong></span>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50069/content_10702624.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50070/content_10702634.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50071/content_10702644.png"
                         style="width: 100px;
                                height: 100px">
                </p>
                <p style="text-align: center;">各クエストクリアで入手可能!!</p>
                <p style="text-align: center;">クエスト『試練4 闇の精霊装作成』</p>
                <p style="text-align: center;">クエスト『試練5 氷の精霊装作成』</p>
                <p style="text-align: center;">クエスト『試練6 光の精霊装作成』</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">&nbsp;</p>
                <hr>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><strong>◆イベントの遊び方◆</strong></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50072/content_24043003.jpg"
                         style="width: 100%">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50073/content_24043004.jpg"
                         style="width: 100%">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50074/content_24043005.jpg"
                         style="width: 100%">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <hr>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><strong>≪精霊片について≫</strong></span>
                </p>
                <p style="text-align: center;">
                    <strong>ミトス＆リンウェル＆マルタの精霊装が登場!!</strong>
                </p>
                <p style="text-align: center;">
                    イベントでは精霊装が作成できる「<strong>精霊片</strong>」が獲得可能!!
                </p>
                <table align="center"
                       border="0"
                       cellpadding="1"
                       cellspacing="1"
                       style="font-size: 0.8rem;
                              width: 100%;
                              table-layout: fixed">
                    <tbody>
                        <tr>
                            <td style="text-align: center; width: 50%;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/50075/content_6701.png"
                                     style="width: 100px;
                                            height: 100px">
                            </td>
                            <td style="text-align: center; width: 50%;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/50081/content_25701.png"
                                     style="width: 100px;
                                            height: 100px">
                            </td>
                            <td style="text-align: center; width: 50%;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/50077/content_7201.png"
                                     style="width: 100px;
                                            height: 100px">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <span style="font-size:11px;">《ミトスの精霊片》</span>
                            </td>
                            <td style="text-align: center;">
                                <span style="font-size:11px;">《リンウェルの精霊片》</span>
                            </td>
                            <td style="text-align: center;">
                                <span style="font-size:11px;">《マルタの精霊片》</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong>【精霊片の獲得可能箇所】</strong></span>
                </p>
                <p style="text-align: center;">精霊片は交易品引換所やミッションなどで獲得可能!!</p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><span style="color:#FF4747;"><strong>①交易品引換所</strong></span><span style="color:#FF4747;"></span></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><span style="color:#FF4747;"><strong>②精霊装イベント</strong></span></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><span style="color:#FF4747;"><strong>③ポイント交換所</strong></span></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50078/content_240430.png"
                         style="width: 30%">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50079/content_240431.png"
                         style="width: 30%">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50080/content_240432.png"
                         style="width: 30%">
                </p>
                <p>
                    <span style="font-size:14px;"><strong>①交易品引換所</strong></span>
                </p>
                <p>
                    《<strong>「ミトス」</strong>交易品引換所》
                </p>
                <p>1回目のラインナップ：ミトスの精霊片 10個</p>
                <p>2回目のラインナップ：ミトスの精霊片 20個</p>
                <p>3回目のラインナップ：ミトスの精霊片 30個</p>
                <p>4回目のラインナップ：ミトスの精霊片 40個</p>
                <p>5回目のラインナップ以降：１ラインナップにつきミトスの精霊片 計10個</p>
                <p>
                    <span style="font-size:11px;">（すべてのラインナップで「リンウェル」「マルタ」の精霊片が計各4個獲得可能）</span>
                </p>
                <p>&nbsp;</p>
                <p>
                    《<strong>「リンウェル」</strong>交易品引換所》
                </p>
                <p>1回目のラインナップ：リンウェルの精霊片 10個</p>
                <p>2回目のラインナップ：リンウェルの精霊片 20個</p>
                <p>3回目のラインナップ：リンウェルの精霊片 30個</p>
                <p>4回目のラインナップ：リンウェルの精霊片 40個</p>
                <p>5回目のラインナップ以降：１ラインナップにつきリンウェルの精霊片 計10個</p>
                <p>
                    <span style="font-size:11px;">（すべてのラインナップで「ミトス」「マルタ」の精霊片が計各4個獲得可能）</span>
                </p>
                <p>&nbsp;</p>
                <p>
                    《<strong>「マルタ」</strong>交易品引換所》
                </p>
                <p>1回目のラインナップ：マルタの精霊片 10個</p>
                <p>2回目のラインナップ：マルタの精霊片 20個</p>
                <p>3回目のラインナップ：マルタの精霊片 30個</p>
                <p>4回目のラインナップ：マルタの精霊片 40個</p>
                <p>5回目のラインナップ以降：１ラインナップにつきマルタの精霊片 計10個</p>
                <p>
                    <span style="font-size:11px;">（すべてのラインナップで「ミトス」「リンウェル」の精霊片が計各4個獲得可能）</span>
                </p>
                <p>&nbsp;</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50104/content_720__1_.png"
                         style="width: 80%">
                </p>
                <p>
                    <span style="font-size:14px;"><strong>②精霊装イベント</strong></span>
                </p>
                <p>「試練1、試練4」クエストミッション：ミトスの精霊片　 合計50個</p>
                <p>「試練2、試練5」クエストミッション：リンウェルの精霊片　 合計50個</p>
                <p>「試練3、試練6」クエストミッション：マルタの精霊片　 合計50個</p>
                <p>&nbsp;</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50094/content____21___.png"
                         style="width: 40%">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50095/content____21___2.png"
                         style="width: 40%">
                </p>
                <p>
                    <span style="font-size:14px;"><strong>③ポイントイベント交換所</strong></span>
                </p>
                <p>『精霊装 ミトス リンウェル マルタ』交換所</p>
                <p>・ミトスの精霊片　合計150個</p>
                <p>・リンウェルの精霊片　合計150個</p>
                <p>・マルタの精霊片　合計150個</p>
                <p>『精霊装 ミトス リンウェル マルタ』精霊片交換所</p>
                <p>・ミトス、リンウェル、マルタを含む</p>
                <p>様々なキャラクターの精霊片の獲得が可能</p>
                <hr>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong>≪<span style="color:#FF4747;">交易品引換所</span>について≫</strong></span>
                </p>
                <p style="text-align: center;">交易品引換所でアイテムの引換が出来る『交易品』が登場！</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50083/content_240430.png"
                         style="width: 30%">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50084/content_240431.png"
                         style="width: 30%">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50085/content_240432.png"
                         style="width: 30%">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <table align="center"
                       border="0"
                       cellpadding="1"
                       cellspacing="1"
                       style="width:100%;
                              table-layout: fixed">
                    <tbody>
                        <tr>
                            <td style="text-align: center; width: 50%;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/26259/content_4942.png"
                                     style="width: 108px;
                                            height: 108px">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">《交易品》</td>
                        </tr>
                    </tbody>
                </table>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong><span style="font-size:14px;">【交易品の獲得可能箇所】</span></strong>
                </p>
                <p>
                    <strong>・イベントクエスト「交易品集め」</strong>
                </p>
                <p>
                    <strong>・『精霊装 ミトス リンウェル マルタ』交換所</strong>
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>・クエストミッションクリアで獲得</strong>
                </p>
                <p>クエスト「交易品集め」：合計80個</p>
                <p>
                　クエスト「【高難易度】精霊への挑戦」：<span style="color:#FF4747;"><strong>合計200個</strong></span>
            </p>
            <p>クエスト「【高難易度】ミトス＆リンウェル＆マルタの挑戦」：</p>
            <p>
                <span style="color:#FF4747;"><strong>合計400個</strong></span>
            </p>
            <p>
                <br>
                <strong>・全体ミッションクリアで獲得</strong>
            </p>
            <p>
                　『精霊装 ミトス＆リンウェル＆マルタ編のクエストを5回クリア』：10個
                <br>
                　『精霊装 ミトス＆リンウェル＆マルタ編のクエストを10回クリア』：10個
                <br>
                　『精霊装 ミトス＆リンウェル＆マルタ編のクエストを15回クリア』：10個
                <br>
                　『精霊装 ミトス＆リンウェル＆マルタ編のクエストを20回クリア』：10個
            </p>
            <p>&nbsp;</p>
            <p style="text-align: center;">
                <span style="font-size:11px;">入手した交易品は交易品引換所でランダムなアイテムと引換!!</span>
            </p>
            <p style="text-align: center;">
                <strong>「ミトス」「リンウェル」「マルタ」の</strong><strong><span style="color:#FF9900;">精霊片</span>を含む</strong>
            </p>
            <p style="text-align: center;">
                <strong><font color="#ff9900">様々なアイテム</font>が獲得可能!</strong>
            </p>
            <p style="text-align: center;">
                <span style="font-size:14px;"></span><span style="font-size:11px;">※交易品引換所から出現するその他のアイテム等の詳細は</span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:11px;">『精霊装 交易品引換所について』のお知らせをご覧ください</span>
            </p>
            <hr>
            <p style="text-align: center;">
                <span style="font-size:14px;"><strong>≪交換アイテムについて≫</strong></span>
            </p>
            <p>
                <span style="color:#FFFFFF;">・「</span><span style="color:#FFFFFF;"><span style="color:#FFFFFF;"><strong><span style="color:#FFFFFF;"></span></strong><span style="color:#FFFFFF;"><strong>精霊装 ミトス&nbsp;リンウェル マルタ</strong></span><span style="color:#FFFFFF;"><span style="color:#FFFFFF;"><span style="color:#FFFFFF;">」のクエストで出現する敵は</span></span></span></span></span>
            </p>
            <p>
                <span style="color:#FFFFFF;"><span style="color:#FFFFFF;"><span style="color:#FFFFFF;"><span style="color:#FFFFFF;"><span style="color:#FFFFFF;">イベント交換所用の「交換アイテム」をドロップ！</span></span></span></span></span>
            </p>
            <p>
                <span style="font-size:11px;">※「【高難易度】精霊への挑戦」</span>
            </p>
            <p>
                <span style="font-size:11px;">「【高難易度】ミトス＆リンウェル＆マルタの挑戦」</span>
            </p>
            <p>
                <span style="font-size:11px;">ではドロップしません。</span>
            </p>
            <p>
                <span style="color:#FFFFFF;"><span style="color:#FFFFFF;">・イベント交換所では<span style="color:#FFFFFF;">交換</span>アイテムと交易品などのアイテムが交換可能!</span></span>
            </p>
            <p style="text-align: center;">
                <br>
                ～本イベントの交換アイテム～
            </p>
            <table align="center"
                   border="0"
                   cellpadding="1"
                   cellspacing="1"
                   style="width:100%;
                          table-layout: fixed">
                <tbody>
                    <tr>
                        <td style="text-align: center; width: 50%;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/11925/content_4381.png"
                                 style="width: 108px;
                                        height: 108px">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">《虹のエレメント》</td>
                    </tr>
                </tbody>
            </table>
            <p style="text-align: center;">
                <span style="font-size:11px;"></span>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <hr>
            <p>
                <strong><strong><span style="font-size:16px;">&nbsp;</span></strong></strong>
            </p>
            <strong><strong><span style="font-size:16px;"></span> </strong> </strong>
            <div align="center">
                <p>
                    <strong><strong><span style="font-size:16px;">◆<span style="font-size:16px;"><strong>ドロップボーナス一覧</strong></span>◆</span></strong></strong>
                </p>
                <div align="center">
                    <table bgcolor="#204060"
                           cellpadding="0"
                           cellspacing="0"
                           style="border-collapse: collapse;
                                  border: 2px solid rgb(80	96	 112);
                                  width: 490px;
                                  font-size:13px;
                                  table-layout: fixed">
                        <thead>
                            <tr>
                                <th bgcolor="#304040"
                                    scope="col"
                                    style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           width: 23%">
                                    <strong>キャラクター</strong>
                                </th>
                                <th bgcolor="#304040"
                                    scope="col"
                                    style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           width: 77%">
                                    <p>
                                        <strong>ドロップボーナス</strong>
                                    </p>
                                    <p>
                                        <strong>（ボーナス値は<span style="font-size:12px;">限界突破最大時のものになります。）</span></strong>
                                    </p>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           text-align: left;
                                           padding: 4px">
                                    <p style="text-align: center;">
                                        <span style="font-size:12px;"><strong><b>≪ミトス≫</b></strong></span>
                                    </p>
                                    <p style="text-align: center;">
                                        <span style="font-size:12px;"><strong><b>≪リンウェル≫</b></strong></span>
                                    </p>
                                    <p style="text-align: center;">
                                        <span style="font-size:12px;"><strong><b>≪マルタ≫</b></strong></span><span style="font-size:12px;"></span>
                                    </p>
                                </td>
                                <td style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           text-align: left;
                                           padding: 4px">
                                    <p style="text-align: center;">
                                    <strong><span style="font-size:12px;">精霊装は</span>
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/11972/content_4382.png"
                                         style="width: 16px;
                                                height: 16px">
                                    <span style="font-size:12px;"></span><span style="font-size:12px;">をドロップした時に最大+6個ボーナスを付与！</span></strong>
                            </p>
                            <p style="text-align: center;">
                                <strong><span style="font-size:11px;">※精霊装はレアリティを上げることでボーナスが増加します</span></strong>
                            </p>
                            <p style="text-align: center;">
                                <strong>イベントクリティカルボーナス
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35210/content_critical_bonus_icon.png"
                                         style="width: 16px;
                                                height: 16px">
                                が最大80.0%上昇！</strong>
                            </p>
                            <p style="text-align: center;">&nbsp;</p>
                            <p style="text-align: center;">
                                <strong><span style="font-size:12px;">新鏡装は</span></strong>
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/11972/content_4382.png"
                                     style="width: 16px;
                                            height: 16px">
                                <strong><span style="font-size:12px;">をドロップした時に最大<strong>+5</strong>個ボーナスを付与！</span></strong>
                            </p>
                            <p style="text-align: center;">
                                <strong>イベントクリティカルボーナス
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/35210/content_critical_bonus_icon.png"
                                         style="width: 16px;
                                                height: 16px">
                                が最大30.0%上昇！</strong>
                            </p>
                            <p style="text-align: center;">&nbsp;</p>
                            <p style="text-align: center;">
                                <span style="font-size:12px;">魔鏡は</span>
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/21506/content_4751.png"
                                     style="width: 16px;
                                            height: 16px">
                                <span style="font-size:12px;">をドロップした時に最大+240個ボーナスを付与！</span>
                            </p>
                            <p style="text-align: center;">
                                <span style="font-size:12px;">鏡装は</span>
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/21506/content_4751.png"
                                     style="width: 16px;
                                            height: 16px">
                                <span style="font-size:12px;">をドロップした時に最大+120個ボーナスを付与！</span>
                            </p>
                            <p style="text-align: center;">
                                <span style="font-size:12px;">★4装備は</span>
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/21506/content_4751.png"
                                     style="width: 16px;
                                            height: 16px">
                                <span style="font-size:12px;">をドロップした時に最大+80個ボーナスを付与！</span>
                            </p>
                            <p style="text-align: center;">
                                <span style="font-size:12px;">★3装備は</span>
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/21506/content_4751.png"
                                     style="width: 16px;
                                            height: 16px">
                                <span style="font-size:12px;">をドロップした時に最大+40個ボーナスを付与！</span>
                            </p>
                            <p style="text-align: center;">&nbsp;</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border:1px #506070 solid;
                                   border-collapse: collapse;
                                   text-align: left;
                                   padding: 4px">
                            <p>≪上記以外の</p>
                            <p>キャラクター≫</p>
                            <p>
                                <span style="font-size:11px;"><span style="font-size:11px;">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/11973/content_4381.png"
                                         style="width: 16px;
                                                height: 16px">
                                </span>の</span>ドロップボーナス付き!!
                            </p>
                        </td>
                        <td style="border:1px #506070 solid;
                                   border-collapse: collapse;
                                   text-align: left;
                                   padding: 4px">
                            <p style="text-align: center;">
                                <span style="font-size: 12px;"><span style="font-size:12px;">精霊装は<span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/11973/content_4381.png"
                                         style="width: 16px;
                                                height: 16px">
                                </span></span></span><span style="font-size:12px;">をドロップした時に<span style="font-size:12px;">最大</span><strong>+160</strong>個ボーナスを付与！</span></span></span></span>
                            </p>
                            <p style="text-align: center;">
                                <span style="font-size: 12px;"><span style="font-size:12px;">魔鏡は<span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/11973/content_4381.png"
                                         style="width: 16px;
                                                height: 16px">
                                </span></span></span><span style="font-size:12px;">をドロップした時に<span style="font-size:12px;">最大</span><strong>+120</strong>個ボーナスを付与！</span></span></span></span>
                            </p>
                            <p style="text-align: center;">
                                <span style="font-size: 12px;">★5装備は<span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/11973/content_4381.png"
                                         style="width: 16px;
                                                height: 16px">
                                </span></span></span>をドロップした時に<span style="font-size:12px;">最大</span><strong>+80</strong>個ボーナスを付与！</span></span>
                            </p>
                            <p style="text-align: center;">
                                <span style="font-size:12px;">★4装備は<span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/11973/content_4381.png"
                                         style="width: 16px;
                                                height: 16px">
                                </span></span></span>をドロップした時に<span style="font-size:12px;">最大+40個ボーナスを付与！</span></span></span>
                            </p>
                            <p style="text-align: center;">
                                <span style="font-size: 12px;">★3装備は</span><span style="font-size: 12px;"><span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;"><span style="font-size:11px;">
                                    <img alt=""
                                         src="{{ s3_url }}public/uploads/ckeditor/pictures/11973/content_4381.png"
                                         style="width: 16px;
                                                height: 16px">
                                </span></span></span><span style="font-size: 12px;">をドロップした時に<span style="font-size:12px;">最大</span>+20個ボーナスを付与！</span></span></span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgb(80	96	 112);
                                   border-collapse: collapse;
                                   padding: 4px;
                                   text-align: center;
                                   background-color: rgb(48	64	 64)">≪注意事項≫</td>
                        <td style="border: 1px solid rgb(80	96	 112);
                                   border-collapse: collapse;
                                   text-align: left;
                                   padding: 4px;
                                   background-color: rgb(48	64	 64)">
                            <section>
                                <div align="center">
                                    <p style="text-align: left;">
                                        <span style="font-size:11px;">※開催中のガシャから排出される装備については
                                            <br>
                                            「『精霊装 ミトス＆リンウェル＆マルタ』ガシャ開催!!」のお知らせをご確認ください。
                                            <br>
                                            ※上記ドロップボーナス一覧の表には
                                            <br>
                                        過去に開催したイベントまたはかめにんショップ限定でのみ入手可能の限定の装備が含まれています。</span>
                                    </p>
                                    <p style="text-align: left;">
                                        <span style="font-size:11px;">※コラボイベント及びコラボガシャでのみ入手可能の装備・魔鏡にも</span>
                                    </p>
                                    <p style="text-align: left;">
                                        <span style="font-size:11px;">ボーナスが設定されています。</span>
                                    </p>
                                    <p style="text-align: left;">
                                        <span style="font-size:11px;">※クロスオーバー魔鏡は、専用魔鏡技が発動できるすべてのキャラクターで同様のボーナスが設定されます。</span>
                                    </p>
                                    <p style="text-align: left;">
                                        <span style="font-size:11px;">※オート魔鏡技にセットした魔鏡では、ドロップボーナスは発生しません。
                                            <br>
                                            ※ステータスの「クリティカル」は100分率ではなく、クリティカル値1につき発生率が1%上がるものではありません。
                                            <br>
                                            ※クリティカル発生率は、敵によっても変化します。
                                            <br>
                                        ※霊装化により生成された精霊装は、イベントにおける装備ボーナスやクリティカルボーナスの対象となりません。</span>
                                    </p>
                                </div>
                            </section>
                            <p>
                                <span style="font-size:11px;"></span>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>
                <strong><strong>&nbsp;</strong></strong>
            </p>
        </div>
    </div>
</section>
<hr>
<p style="text-align: center;">
    <strong>◆イベントに合わせてサポートキャラを変更しよう!◆</strong>
</p>
<p style="text-align: center;">
    <strong>メニュー</strong>の<strong>プロフィール</strong>から
</p>
<p style="text-align: center;">ポイントボーナス装備のキャラに変更すると・・・</p>
<p style="text-align: center;">
    <strong><span style="color:#FF9900;"><span style="font-size:24px;">フレンドにドロップボーナスが!!</span></span></strong><span style="font-size:14px;"></span>
</p>
<section>
    <ul class="box">
        <li style="text-align:right;float:right">&nbsp;</li>
    </ul>
</section>
<section>
    <ul class="box">
    </ul>
</section>
<div class="frame2">
    <p class="indent" style="text-align: center;">《&nbsp;注意事項&nbsp;》</p>
    <p>
        <span style="font-size:11px;">・イベント専用シナリオでは、APオーブは獲得できません。</span>
    </p>
    <p>
        <span style="font-size:11px;">・イベント期間終了後にクエストをクリアした場合は</span>
    </p>
    <p>
        <span style="font-size:11px;">装備のポイントボーナス分のポイントは獲得できません。</span>
    </p>
    <p>
        <span style="font-size:11px;"></span>
    </p>
    <p>
        <span style="font-size:11px;">・表示されているのは、</span>
    </p>
    <p>
        <span style="font-size:11px;">最大強化後のステータス・効果・ドロップボーナス値となります。</span><span style="font-size:11px;"></span>
    </p>
</div>
</div>

</body>
</html>
