<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <!-- css ここから -->
        <div class="container">
            <p>
                <!-- キャラカスタムTOP訴求画像orバナー -->
            </p>
            <center>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/50225/content_24052201.jpg"
                     style="width: 100%">
            </center>
            <!-- 仕切り -->
            <hr>
            <section>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">「かめにんショップ」が</p>
                <p style="text-align: center;">
                    <strong>閉店フィナーレセール</strong>を開催！
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>◆フィナーレセール期間◆</strong>
                </p>
                <p style="text-align: center;">
                    <span style="display: inline !important;
                                 float: none;
                                 background-color: transparent;
                                 color: rgb(255, 71, 71);
                                 font-family: 游ゴシック体,&quot;
                                 Yu Gothic&quot;
                                 ,YuGothic,&quot;
                                 ヒラギノ角ゴシック Pro&quot;
                                 ,&quot;
                                 Hiragino Kaku Gothic Pro&quot;
                                 ,メイリオ,Meiryo,Osaka,&quot;
                                 ＭＳ Ｐゴシック&quot;
                                 ,&quot;
                                 MS PGothic&quot;
                                 ,sans-serif;
                                 font-size: 12.8px;
                                 font-style: normal;
                                 font-variant: normal;
                                 font-weight: 700;
                                 letter-spacing: normal;
                                 orphans: 2;
                                 text-align: center;
                                 text-decoration: none;
                                 text-indent: 0px;
                                 text-transform: none;
                                 -webkit-text-stroke-width: 0px;
                                 white-space: normal;
                                 word-spacing: 0px">2024/5/22(水) メンテナンス終了後&nbsp;～ 2024/7/22(月) 23:59</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">期間限定で登場したキャラカスタムをこの機会に入手して、</p>
                <p style="text-align: center;">自分だけのカスタマイズを楽しもう！</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50275/content_24052203.jpg"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">
                    <span style="margin: 0px;
                                 padding: 0px;
                                 text-align: center;
                                 text-transform: none;
                                 text-indent: 0px;
                                 letter-spacing: normal;
                                 font-size: 12.8px;
                                 font-style: normal;
                                 font-variant: normal;
                                 font-weight: 400;
                                 text-decoration: none;
                                 word-spacing: 0px;
                                 white-space: normal;
                                 orphans: 2;
                                 -webkit-text-stroke-width: 0px;
                                 background-color: transparent"></span>
                </p>
                <p style="text-align: center;">
                    今までセール対象だった<span style="color:#FF9900;"><strong>衣装</strong></span>や<span style="color:#FF9900;"><strong>武器見た目</strong>、<strong>アタッチメント</strong></span>に加えて
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>カットイン</strong></span>や<span style="color:#FF4747;"><strong>通常魔鏡</strong></span>、<span style="color:#FF4747;"><strong>第一鏡装</strong></span>、<span style="color:#FF4747;"><strong>イベント限定★4装備</strong></span>など
                </p>
                <p style="text-align: center;">ラインナップ爆増！！</p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><strong>対象商品30%~60%オフ</strong></span>のフィナーレセール価格で<strong>かめにんショップに登場！</strong>
                    <br>
                    <span style="font-size:16px;"><span style="color:#FF4747;"><strong>今すぐかめにんショップへ！</strong></span></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">※コラボで登場したキャラカスタムや魔鏡、装備は
                        <br>
                    キャンペーンの対象外となります。</span>
                </p>
                <div class="frame2">
                    <p style="text-align:center;">《&nbsp;注意事項&nbsp;》</p>
                    <p class="indent">
                        <span style="font-size:11px;">・必要プリズムは期間限定キャラカスタムの登場時期によって異なります。</span>
                    </p>
                    <p class="indent">
                        <span style="font-size:11px;">・</span><span style="font-size:11px;">コラボイベントの期間限定衣装、魔鏡、装備は対象外となります。</span>
                    </p>
                    <p class="indent">
                        <span style="font-size:11px;">・キャラカスタム画面から衣装を購入した際に、</span>
                    </p>
                    <p class="indent">
                        <span style="font-size:11px;">かめにんポイントは取得できませんのでご注意ください。</span>
                    </p>
                </div>
            </section>
        </div>

        <p>&nbsp;</p>
    </body>
</html>
