<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/50128/content_2405045.png"
                     style="margin: 10px auto;
                            width: 100%">
            </p>
            <hr>
            <p style="text-align: center;">
                <span style="font-size:14px;"></span><font color="#ff4747"><b>イクス、ディオ、メル、カナタ、ミゼラ、カノンノ・G、オリエ</b></font><b>の</b>
            </p>
            <p>
                <b><span style="color:#FF4747;">装備・魔鏡</span>が登場する</b>
            </p>
            <p>
                <span style="font-size:16px;"><strong style="color: rgb(255, 153, 0);">『ザ レイズ オブ フェスティバル』</strong></span>
            </p>
            <p>
                <span style="font-size:16px;"><strong style="color: rgb(255, 153, 0);">開催記念ステップアップガシャ</strong></span>が開催!!
            </p>
            <p>&nbsp;</p>
            <p>
                <strong><span style="color:#FF4747;">魔鏡の霊装化アイテム『霊装核』</span>を交換できる</strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;">『霊装核チケットG』</span>がおまけで付いてくる！！</strong>
            </p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p style="font-weight: bold; text-align: center;">◆開催期間◆</p>
            <p>
                <span style="color:#FF4747;"><strong>2024/5/10(金) 14:00 ～ 2024/5/20(月) 10:59</strong></span>
            </p>
            <p>&nbsp;</p>
            <p>
                <strong>◆STEPごとの注目ポイント◆</strong>
            </p>
            <p>
                <strong>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50129/content_24050410.jpg"
                         style="width: 80%">
                </strong>
            </p>
            <hr>
            <p>&nbsp;</p>
            <div align="center">
                <div align="center">
                    <table bgcolor="#204060"
                           cellpadding="0"
                           cellspacing="0"
                           style="border: 2px solid rgb(80, 96, 112);
                                  border-image: none;
                                  width: 70%;
                                  font-size: 13px;
                                  border-collapse: collapse;
                                  table-layout: fixed">
                        <thead>
                            <tr>
                                <th bgcolor="#304040"
                                    scope="col"
                                    style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           width: 77%">
                                    <p>
                                        <span style="font-size:11px;"></span>
                                    </p>
                                    <p>
                                        <span style="font-size:11px;">『ザ レイズ オブ フェスティバル』</span>
                                    </p>
                                    <p>
                                        <span style="font-size:11px;">開催記念ステップアップガシャの</span>
                                    </p>
                                    <p>
                                        <span style="font-size:11px;">おまけで獲得できる</span>
                                    </p>
                                    <p>
                                        <span style="font-size:11px;">【フェスティバルGRADE】</span>
                                    </p>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="border:1px #506070 solid;
                                           border-collapse: collapse;
                                           text-align: left;
                                           padding: 4px">
                                    <p style="text-align: center;">
                                        <span style="color:#FF4747;"></span><strong>STEP1</strong><span style="color:#FF4747;"><strong>
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/15622/content_140__1_.png"
                                                 style="width: 30px;
                                                        height: 30px">
                                        20pt</strong></span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 4px;
                                           border: 1px solid rgb(80, 96, 112);
                                           border-image: none;
                                           text-align: center;
                                           border-collapse: collapse">
                                    <span style="color:#FF4747;"></span><strong>STEP2</strong><span style="color:#FF4747;"><span style="color:#FF4747;"><span style="color:#FF4747;"><strong>
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/15622/content_140__1_.png"
                                             style="width: 30px;
                                                    height: 30px">
                                    30</strong></span></span><strong>pt</strong></span>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 4px;
                                           border: 1px solid rgb(80, 96, 112);
                                           border-image: none;
                                           text-align: center;
                                           border-collapse: collapse">
                                    <strong style="">STEP3<font color="#ff4747">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/15622/content_140__1_.png"
                                             style="width: 30px;
                                                    height: 30px">
                                        50</font></strong><strong style="color: rgb(255, 71, 71);">pt</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 4px;
                                               border: 1px solid rgb(80, 96, 112);
                                               border-image: none;
                                               text-align: center;
                                               border-collapse: collapse">
                                        <span style="color:#FF4747;"></span><strong>STEP4</strong><span style="color:#FF4747;"><span style="color:#FF4747;"><span style="color:#FF4747;"><strong>
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/15622/content_140__1_.png"
                                                 style="width: 30px;
                                                        height: 30px">
                                        100</strong></span></span><strong>pt</strong></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 4px;
                                               border: 1px solid rgb(80, 96, 112);
                                               border-image: none;
                                               text-align: center;
                                               border-collapse: collapse">
                                        <span style="color:#FF4747;"></span><strong>STEP5</strong><span style="color:#FF4747;"><span style="color:#FF4747;"><span style="color:#FF4747;"><strong>
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/15622/content_140__1_.png"
                                                 style="width: 30px;
                                                        height: 30px">
                                        100</strong></span></span><strong>pt</strong></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                        <section>
                            <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/50161/content_2405012__1_.png"
                                 style="margin: 10px auto;
                                        width: 100%">
                            <ul class="box">
                                <li>
                                    <strong>魔鏡技:<font color="#ff4747">ティル・ナ・ノーグ</font></strong>　　威力:<font color="#ff4747"><b>3109</b></font>
                                </li>
                                <li style="text-align:right;float:right">
                                    <strong>イクス専用</strong>
                                </li>
                            </ul>
                            <div class="frame1">
                                <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p>
                                                    <strong>効果内容</strong>
                                                </p>
                                                <p>
                                                    青き世界の輝きで敵を滅する魔鏡技
                                                    <br>
                                                    発動時味方の物攻、術攻を上昇させる
                                                </p>
                                            </td>
                                            <td>
                                                <p style="text-align: center;">
                                                    <strong><a href="https://youtu.be/jMfjKNSOHo4externalbrowser=true">
                                                        <img alt=""
                                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                             style="width: 60px;
                                                                    height: 60px">
                                                    </a></strong>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <hr>
                        <section>
                            <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/50123/content_2405013.png"
                                 style="margin: 10px auto;
                                        width: 100%">
                            <ul class="box">
                                <li>
                                    <strong>魔鏡技:<font color="#ff4747">双咎連翔破</font></strong>　　威力:<font color="#ff4747"><b>1783</b></font>
                                </li>
                                <li style="text-align:right;float:right">
                                    <strong>ディオ＆メル専用</strong>
                                </li>
                            </ul>
                            <div class="frame1">
                                <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p>
                                                    <strong>効果内容</strong>
                                                </p>
                                                <p>
                                                    炎の剣術と風の魔術でなりきり士の
                                                    <br>
                                                    力を遺憾なく発揮する魔鏡技
                                                </p>
                                            </td>
                                            <td>
                                                <p style="text-align: center;">
                                                    <strong><a href="https://youtu.be/NhJKAXIG1gcexternalbrowser=true">
                                                        <img alt=""
                                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                             style="width: 60px;
                                                                    height: 60px">
                                                    </a></strong>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <hr>
                        <section>
                            <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/50124/content_2405014.png"
                                 style="margin: 10px auto;
                                        width: 100%">
                            <ul class="box">
                                <li>
                                    <strong>魔鏡技:<font color="#ff4747">デッドエンドブレイズ</font></strong>　威力:<font color="#ff4747"><b>1740</b></font>
                                </li>
                                <li style="text-align:right;float:right">
                                    <strong>カナタ＆ミゼラ専用</strong>
                                </li>
                            </ul>
                            <div class="frame1">
                                <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p>
                                                    <strong>効果内容</strong>
                                                </p>
                                                <p>
                                                    互いを守らんとする意志で
                                                    <br>
                                                    立ちはだかる敵を突破する魔鏡技
                                                </p>
                                            </td>
                                            <td>
                                                <p style="text-align: center;">
                                                    <strong><a href="https://youtu.be/VjON9LTm8u4externalbrowser=true">
                                                        <img alt=""
                                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                             style="width: 60px;
                                                                    height: 60px">
                                                    </a></strong>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <hr>
                        <section>
                            <!-- 魔鏡訴求画像(ガシャと共通部材) -->
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/50125/content_2405015.png"
                                 style="margin: 10px auto;
                                        width: 100%">
                            <ul class="box">
                                <li>
                                    <strong>魔鏡技:<font color="#ff4747">秋百合・二重</font></strong>　　威力:<font color="#ff4747"><b>1921</b></font>
                                </li>
                                <li style="text-align:right;float:right">
                                    <strong>カノンノ・G＆オリエ専用</strong>
                                </li>
                            </ul>
                            <div class="frame1">
                                <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p>
                                                    <strong>効果内容</strong>
                                                </p>
                                                <p>
                                                    緊迫した空気、手に汗握る睨み合い、
                                                    <br>
                                                    衝撃の展開！？をお届けする魔鏡技
                                                </p>
                                            </td>
                                            <td>
                                                <p style="text-align: center;">
                                                    <strong><a href="https://youtu.be/bqcqZrPzp8gexternalbrowser=true">
                                                        <img alt=""
                                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                                                             style="width: 60px;
                                                                    height: 60px">
                                                    </a></strong>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <hr>
                        <div class="frame2">
                            <p style="text-align:center;">《&nbsp;注意事項&nbsp;》</p>
                            <p>
                                <span style="font-size:11px;"></span><span style="font-size:11px;">・本ガシャは鏡晶石のみで実行できます。
                                    <br>
                                    ・ステップアップガシャは、本ガシャの実行によって
                                    <br>
                                    　さらに次のSTEPを実行することができるようになります。
                                    <br>
                                    ・全てのSTEPを実行した時点でガシャは実行不能となります。
                                    <br>
                                    　お一人様1回限りとなります。
                                    <br>
                                    ・全てのガシャの抽選は、各STEPに応じた提供割合に準じます。
                                    <br>
                                    ・STEPのおまけで入手できる「霊装核チケットG」は『霊装核交換所』、
                                    <br>
                                    　「バーストメモリアチケットG」は、『バーストメモリア交換所』にて
                                    <br>
                                    　ご使用できます。
                                    <br>
                                    ・STEP1及びSTEP4のおまけで入手できる
                                    <br>
                                    　「ザレイズフェス開催記念ガシャチケット」を使用できるのは
                                    <br>
                                    　「ザレイズフェス開催記念チケットガシャ」のみとなり、
                                    <br>
                                    　「ザレイズフェス開催記念チケットガシャ」の開催期間が終了すると
                                    <br>
                                    　お使い頂けません。
                                    <br>
                                    ・STEP5のおまけで入手できる
                                    <br>
                                    　「希望が繋いだ世界魔鏡セレクトチケット」は
                                    <br>
                                    　交換期間が終了するとお使い頂けません。
                                    <br>
                                    ・【フェスティバルGRADE】は、GRADE SHOPにて使用できます。
                                    <br>
                                    ・【フェスティバルGRADE】は
                                    <br>
                                    　GRADE SHOPの開催期間が終了するとお使い頂けません。
                                    <br>
                                    ・本ガシャで入手した【フェスティバルGRADE】は
                                    <br>
                                    　GRADE SHOP終了時に自動的に「精鏡石」へ変換されます。
                                    <br>
                                    ・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。
                                    <br>
                                    ・それぞれの提供割合は、小数第4位を四捨五入して表示しているため、
                                    <br>
                                    　合計値が100％にならない場合がございます。
                                    <br>
                                    ・各種ボーナスの効果は、該当のイベント開催時のみ発動します。
                                    <br>
                                    ・各種ボーナスが発動する魔鏡・装備の一覧は、
                                    <br>
                                    　該当イベントのお知らせをご確認ください。
                                    <br>
                                    ・表示されているステータス・効果・各種ボーナスは、
                                    <br>
                                    　最大強化後の値となります。
                                    <br>
                                    ・期間限定の魔鏡・装備は再登場する場合がございます。
                                    <br>
                                    ・登場キャラクターの実装済みの魔鏡・装備でも
                                    <br>
                                    　本ガシャに含まれない場合がございます。
                                    <br>
                                　出現する装備・魔鏡につきましては、ガシャ内訳をご確認ください。</span>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </body>
    </html>
