<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <!-- ガシャ訴求画像 -->
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/50127/content_2405031.png"
                     style="width: 100%">
            </p>
            <hr>
            <p>
                <span style="font-size:14px;"><b>イクス、ディオ、メル、カナタ、ミゼラ、カノンノ・G、オリエ</b></span><span style="font-size:14px;">の</span>
            </p>
            <p>
                <span style="font-size:14px;"></span><span style="font-size:14px;"><strong><span style="color:#FF4747;">『魔鏡』と『装備』のみ</span></strong>が出現する</span>
            </p>
            <p>
                <span style="font-size:14px;">フェスティバルチケットガシャVol.13が開催!!</span>
            </p>
            <p>&nbsp;</p>
            <p>
                本ガシャでは『フェスティバルガシャチケットVol.13』を<strong><span style="color:#FF9900;">3枚</span></strong>使うことで
            </p>
            <p>
                <span style="color:#FF4747;"><strong>1回5連の『フェスティバルチケットガシャVol.13』</strong></span>
            </p>
            <p>
                <span style="color:#FF4747;"><strong>を行うことが出来る!!</strong></span>
            </p>
            <p>&nbsp;</p>
            <p style="font-weight:bold;">◆開催期間◆</p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;">2024/5/10(金) 14:00 ～ 2024/6/6(木) 10:59</span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong><strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p>
                <strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong>
            </p>
            <p>&nbsp;</p>
            <p>
                <span style="font-size:14px;">フェスティバルチケットガシャV<span style="font-size:14px;">ol.13</span>では、</span>
            </p>
            <p>
                <span style="font-size:14px;"></span>
            </p>
            <p>
                <span style="font-size:14px;"></span>
            </p>
            <p>
                <span style="font-size:14px;"></span>
            </p>
            <p>
                <span style="font-size:14px;"><span style="font-size:14px;"><b>イクス、ディオ、メル、カナタ、ミゼラ、カノンノ・G、オリエ</b></span></span><span style="font-size:14px;">の</span>
            </p>
            <p>
                <span style="font-size:14px;"><span style="color:#FF4747;"><strong>『魔鏡』と『装備』のみ</strong></span>が出現!!</span>
            </p>
            <div class="frame1">
                <p style="text-align: center;">
                    <strong>このガシャから装備・魔鏡が出現する対象キャラ</strong>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50105/content_20001.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50106/content_168.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50107/content_169.png"
                         style="width: 100px;
                                height: 100px">
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50108/content_282.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50109/content_283.png"
                         style="width: 100px;
                                height: 100px">
                    <br>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50110/content_111.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50111/content_277.png"
                         style="width: 100px;
                                height: 100px">
                </p>
            </div>
            <p style="font-size: 0.8rem; margin: 10px 0px; padding: 10px 10px 0px;">
                <strong>フェスティバルガシャチケットVol.13</strong>は
                <br>
                <strong>イベント『ザ レイズ オブ フェスティバル』</strong>
                <br>
                <strong>『希望が繋いだ世界』ポイント交換所</strong>
                <br>
                で入手が可能!
            </p>
            <section>
                <div class="frame2">
                    <p style="text-align:center;">《 注意事項&nbsp;》</p>
                    <p>
                        <span style="font-size:11px;">・本ガシャは「フェスティバルガシャチケットVol.13」のみで
                            <br>
                            　実行できます。
                            <br>
                            ・本ガシャは「フェスティバルガシャチケットVol.13」3枚につき、
                            <br>
                            　1回実行できます。
                            <br>
                        ・本ガシャからはイクス、ディオ、メル、カナタ、ミゼラ、</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">　カノンノ・G、オリエの魔鏡・★5鏡装・★4装備のいずれかが獲得できます。
                            <br>
                            ・本ガシャからは重複する魔鏡、装備が出現する可能性がございます。
                            <br>
                            ・各種ボーナスの効果は、該当のイベント開催時のみ発動します。
                            <br>
                            ・各種ボーナスが発動する魔鏡・装備の一覧は、
                            <br>
                            　該当イベントのお知らせをご確認ください。
                            <br>
                            ・表示されているステータス・効果・各種ボーナスは、
                            <br>
                            　最大強化後の値となります。
                            <br>
                            ・期間限定の魔鏡･装備･キャラカスタムは再登場する場合がございます。
                            <br>
                            ・限定キャラカスタム付き魔鏡でキャラカスタムを入手した場合、
                            <br>
                            　その他入手導線での入手はできません。
                            <br>
                            ・限定キャラカスタムを先に限定キャラカスタム付き魔鏡以外から入手した場合、
                            <br>
                            　限定キャラカスタム付き魔鏡で複数入手はできません。
                            <br>
                            ・限定キャラカスタム付き魔鏡で手に入る同一の限定キャラカスタムは
                            <br>
                        　複数入手することはできません。</span>
                    </p>
                </div>
            </section>
        </div>
        <p>
            <b></b>
        </p>

    </body>
</html>
