<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <span style="font-size:18px;"><strong>『ザ レイズ オブ フェスティバル』開催記念ガシャ開催!!</strong></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size:18px;"><strong>毎日10連無料!!</strong></span>
            </p>
            <p style="text-align: center;">
                <img src="{{ s3_url }}public/uploads/ckeditor/pictures/50119/content_2405011.png"
                     style="width: 80%">
            </p>
            <p style="text-align: center;">
                <span style="font-size:12px;"></span><span style="font-size:16px;"><strong>◆開催日時◆</strong></span>
            </p>
            <p style="text-align: center;">
                <span style="color:#FF4747;"><strong>2024/5/10(金</strong></span><span style="color:#FF4747;"><strong>) 14:00&nbsp;～ 2024/5/30(木) 10:59</strong><span style="color:#FF4747;"></span></span><span style="font-size:14px;"></span>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p>
                <span style="font-size:14px;"></span>
            </p>
            <p>
                <span style="color:#FF9900;"><span style="font-size:18px;"><strong>開催期間中</strong></span></span>
            </p>
            <p>
                <span style="color:#FF9900;"><span style="font-size:18px;"></span></span><span style="color:#FF9900;"><span style="font-size:18px;"><strong>1日1回、10連ガシャ無料!!</strong></span></span>
            </p>
            <p>&nbsp;</p>
            <p style="text-align: center;">
                <span style="font-size:14px;">第12弾『ザ レイズ オブ フェスティバル』開催を記念して</span>
            </p>
            <p style="text-align: center;">
                <font color="#ff4747"><b>イクス</b></font><span style="font-size:14px;">の</span><span style="color:#FF4747;"><strong>終決魔鏡</strong></span>
            </p>
            <p>
                <span style="font-size:14px;"></span>
            </p>
            <p>
                <font color="#ff4747"><b>ディオ＆メル</b></font><span style="font-size:14px;">の</span><span style="color:#FF4747;"><strong>クロスオーバー魔鏡</strong></span>
            </p>
            <p>
                <font color="#ff4747"><b>カナタ＆ミゼラ</b></font><span style="font-size:14px;">の</span><span style="color:#FF4747;"><strong>クロスオーバー魔鏡</strong></span>
            </p>
            <p>
                <font color="#ff4747"><b>カノンノ・Ｇ＆オリエ</b></font><span style="font-size:14px;">の</span><span style="color:#FF4747;"><strong>クロスオーバー魔鏡</strong></span>
                <br>
                <span style="font-size:14px;">が</span><strong>新登場!!</strong>
            </p>
            <p>
                さらに<b>ディオ、メル</b>に<span style="color:#FF9900;"><strong>裏</strong><b>鏡装</b></span>が新登場!!
            </p>
            <p>&nbsp;</p>
            <p>
                <b>ステップアップガシャも開催!!</b>
            </p>
            <p>
                <img src="{{ s3_url }}public/uploads/ckeditor/pictures/50128/content_2405045.png"
                     style="width: 80%">
            </p>
            <p>
                <strong>◆開催期間◆</strong>
            </p>
            <p>
                <span style="color:#FF4747;"><strong>2024/5/10(金) 14:00 ～ 2024/5/20(月) 10:59</strong></span>
            </p>
            <p>&nbsp;</p>
            <p>
                <span style="font-size: 12px;">※各ガシャの内容などは各ガシャのお知らせをご覧ください。</span>
            </p>
            <p>
                <span style="font-size:12px;"></span>
            </p>
            <hr>
            <p>
                <span style="font-size: 18px;"><span style="font-size:12px;"><span style="font-size:12px;"><strong><strong><span style="font-size: 18px;"><span style="font-size: 18px;"><b>イベント</b></span></span></strong></strong></span></span></span>
            </p>
            <p>
                <span style="font-size: 18px;"><span style="font-size:12px;"><span style="font-size:12px;"><strong><strong><span style="font-size: 18px;"><span style="font-size: 18px;"><b>第12弾</b></span></span><span style="font-size: 18px;"><span style="font-size: 18px;"><b>『ザ レイズ オブ フェスティバル』</b></span></span></strong></strong></span></span></span>
            </p>
            <p>
                <span style="color:#FF9900;"><strong>あなたの好きな魔鏡は</strong></span><span style="color:#FF9900;"><strong>？</strong></span>
            </p>
            <p>
                <span style="color:#FF9900;"></span><span style="font-size:14px;">『ザ レイズ オブ フェスティバル <strong>&nbsp;</strong>～魔鏡編～』開催!!</span>
            </p>
            <p style="text-align: center;">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/50155/content_24051011.jpg"
                     style="width: 80%">
            </p>
            <p>
                <strong>◆開催日時◆</strong>
            </p>
            <p>
                <span style="color:#FF4747;"><strong>2024/5/10(金) 14:00&nbsp;～&nbsp;2024/5/20</strong><span style="color:#FF4747;"><strong>(月)</strong></span><strong>&nbsp;23:59</strong></span>
            </p>
            <p>
                <span style="color:#FF4747;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50156/content_24051015.jpg"
                         style="width: 80%">
                </span><span style="font-size:11px;"></span>
                <br>
                <span style="font-size:10px;">※イベントの詳細は「第12弾『ザ レイズ オブ フェスティバル』開催!!」のお知らせをご覧ください。</span><span style="color:#FF4747;"></span>
            </p>
            <p>&nbsp;</p>
            <hr>
            <p style="text-align: center;">
                <span style="font-size: 18px;"><span style="font-size:12px;"><span style="font-size:12px;"><strong><strong><span style="font-size: 18px;"><span style="font-size: 18px;"></span></span></strong></strong><span style="font-size: 18px;"><span style="font-size:12px;"><span style="font-size:12px;"><strong><strong><span style="font-size: 18px;"><span style="font-size: 18px;"><b>ザ レイズ オブ フェスティバル</b></span></span></strong></strong></span></span></span><strong><strong><span style="font-size: 18px;"><span style="font-size: 18px;"></span></span></strong></strong></span></span></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size: 18px;"><span style="font-size:12px;"><span style="font-size:12px;"><strong><strong><span style="font-size: 18px;"><span style="font-size: 18px;"><b>シナリオイベント</b></span></span></strong></strong></span></span></span>
            </p>
            <p style="text-align: center;">
                <span style="font-size: 18px;"><span style="font-size:12px;"><span style="font-size:12px;"><strong><strong><span style="font-size: 18px;"><span style="font-size: 18px;"></span></span><span style="font-size: 18px;"><span style="font-size: 18px;"><b>『</b></span></span><span style="font-size: 18px;"><span style="font-size: 18px;"><b>希望が繋いだ世界</b></span></span><span style="font-size: 18px;"><span style="font-size: 18px;"></span></span><span style="font-size: 18px;"><span style="font-size: 18px;"><b>』</b></span></span></strong></strong></span></span></span>
            </p>
            <p>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/50157/content_24051016.jpg"
                     style="width: 80%">
            </p>
            <p>
                <strong>◆開催日時◆</strong>
            </p>
            <p>
                <span style="color:#FF4747;"><span style="color:#FF4747;"></span><span style="color:#FF4747;"><strong>2024/5/10(金) 14:00&nbsp;～&nbsp;</strong><span style="color:#FF4747;"><strong>2024/5/21</strong><span style="color:#FF4747;"><span style="color:#FF4747;"><strong>(火)</strong></span></span><strong>&nbsp;10:59</strong></span></span><span style="color:#FF4747;"></span></span><span style="font-size:11px;"></span>
                <br>
                <span style="font-size:10px;">※イベントの詳細は「『希望が繋いだ世界』開催!!」のお知らせをご覧ください。</span>
            </p>
            <p>
                <span style="font-size: 12px;"></span>
            </p>
            <p style="text-align: center;">
                <span style="color:#FF4747;"></span>
            </p>
            <strong><strong><span style="font-size:12px;"><span style="font-size:12px;"> </span></span></strong></strong>
        </div>
    </body>
</html>
