<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/50152/content_24051016.jpg"
                     style="width: 100%">
            </p>
            <hr>
            <section>
                <p style="text-align: center;">
                    <strong><span style="color:#FF4747;">ザ レイズ オブ フェスティバル</span></strong>
                </p>
                <p style="text-align: center;">
                    <strong>イベント</strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><strong>『希望が繋いだ世界』</strong></span>
                </p>
                <p style="text-align: center;">開催!!</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">イベントで</p>
                <p style="text-align: center;">
                    「<font color="#ff4747"><b>ディオ</b></font>」「<font color="#ff4747"><b>メル</b></font>」「<font color="#ff4747"><b>カナタ</b></font>」「<font color="#ff4747"><b>ミゼラ</b></font>」「<font color="#ff4747"><b>カノンノ・Ｇ</b></font>」「<font color="#ff4747"><b>オリエ</b></font>」
                </p>
                <p style="text-align: center;">が仲間に!!</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">収集クエスト</p>
                <p style="text-align: center;">
                    <strong>『フェス記念グッズ集め』で​は</strong>​
                </p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><span style="color:#FF9900;"><b>獲得信頼度が2倍!!</b></span></span>
                </p>
                <p style="text-align: center;">さらに</p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><span style="color:#FF4747;"><b>大量の「ガルド」「キラル粒子」や</b></span></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:16px;"><span style="color:#FF4747;"><b>「鏡映のマテリアル」が稀に</b></span></span><span style="font-size:16px;"><span style="color:#FF4747;"><strong>ドロップすることも!!</strong></span></span>
                </p>
                <p style="text-align: center;">
                    <b>難易度が高いほど「鏡映のマテリアル」のドロップ率は上昇！</b>
                </p>
                &nbsp;
                <p style="text-align: center;">
                    <span style="font-size: 0.8rem; text-align: left;"></span>
                </p>
                <p style="text-align: center;">
                    <strong>◆開催期間◆</strong>
                </p>
                <p style="text-align: center;">
                    <strong><span style="color:#FF4747;">2024/5/10(金) 14:00&nbsp;～ 2024/5/21(火) 10:59</span></strong>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <hr>
                <center>
                    <p>
                        <span style="font-size:16px;"><strong>フェス開催記念!!</strong></span>
                    </p>
                    <p>
                        <span style="font-size:14px;">『<strong><span style="color:#FF4747;">フェスティバルガシャチケットVol.13</span></strong>』や</span>
                    </p>
                    <p>
                        <span style="font-size:14px;">『<strong><span style="color:#FF9900;">鏡結晶</span></strong>』を含む強化に必要なアイテムが</span>
                    </p>
                    <p>
                        <span style="font-size:14px;"><strong>普段よりも入手しやすい状態で交換所</strong>に登場!!</span>
                    </p>
                    <p>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/28808/content_201216.png"
                             style="width: 100px;
                                    height: 100px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/44941/content_7011.png"
                             style="width: 100px;
                                    height: 100px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/44942/content_7021.png"
                             style="width: 100px;
                                    height: 100px">
                    </p>
                    <p>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/44963/content_7221.png"
                             style="width: 100px;
                                    height: 100px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/44961/content_7231.png"
                             style="width: 100px;
                                    height: 100px">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/50148/content_7461.png"
                             style="width: 100px;
                                    height: 100px">
                    </p>
                    <p>&nbsp;</p>
                    <hr>
                    <p>
                        <span style="font-size:16px;"><strong>魔鏡符を報酬に追加！</strong></span>
                    </p>
                    <p>
                        <span style="color:#FF4747;"><strong>オート魔鏡技を強化</strong></span>するために必要な<span style="color:#FF9900;"><strong>強化アイテム</strong></span>が
                    </p>
                    <p>
                        交換所で<span style="font-size:12px;"><strong><span style="font-size:12px;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/28659/content_5122.png">
                    </span></strong></span>をたくさん交換するだけで手に入る!!
                </p>
                <p>&nbsp;</p>
                <p>今回手に入る魔鏡符はこちら！</p>
                <p>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/44937/content_1004.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/44939/content_1006.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/41398/content_1005.png">
                </p>
                <p>
                    <span style="color:#FF9900;"><strong>魔鏡符【クロスオーバー魔鏡】</strong></span>
                </p>
                <p>
                    <span style="color:#FF9900;"><strong>魔鏡符【終決魔鏡】</strong></span>
                </p>
                <p>&nbsp;</p>
                <hr>
                <p>
                    <span style="font-size:16px;"><strong>ルームアイテムを報酬に追加!!</strong></span>
                </p>
                <p>
                    <strong>◆レコード◆</strong>
                </p>
                <p>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50149/content_10702654.png"
                         style="width: 100px;
                                height: 100px">
                </p>
                <p>
                    <strong>『世界10 永遠の思い出』クリア</strong>で入手可能!!
                </p>
                <p>&nbsp;</p>
                <hr>
                <p>&nbsp;</p>
            </center>
            <p style="text-align: center;">
                <strong>◆イベントの遊び方◆</strong>
            </p>
            <section>
                <div class="frame1">
                    <p style="text-align: center;">
                        <span style="font-size:14px;"><strong>≪仲間加入について≫</strong></span>
                    </p>
                    <p>
                        <span style="font-size:11px;"></span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・「<strong>クエスト</strong>」から「希望が繋いだ世界」を選択</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・クエストをクリアし、</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">　「ディオ」「メル」<span style="font-size:11px;">「カナタ」「ミゼラ」<span style="font-size:11px;">「カノンノ・Ｇ」「オリエ」</span></span>を</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">仲間にしよう！</span>
                    </p>
                    <p>
                        <span style="font-size:11px;"></span>
                    </p>
                    <p style="text-align: center;">
                        <span style="font-size:14px;"><strong>≪交換アイテムについて≫</strong></span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・「<span style="font-size:11px;">希望が繋いだ世界</span>」の</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">クエストで出現する一部の敵は、イベント交換所用の「交換アイテム」をドロップ！</span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・イベント交換所では交換アイテムで</span>
                    </p>
                    <p>
                        <span style="font-size:11px;"><strong></strong></span><span style="font-size:11px;"><span style="font-size:11px;">「フェスティバルガシャチケットVol.13」や「鏡結晶」などと交換可能！</span></span>
                    </p>
                    <p style="text-align: center;">
                        <br>
                        ～本イベントの交換アイテム～
                    </p>
                    <center>
                        <table align="center"
                               border="0"
                               cellpadding="1"
                               cellspacing="1"
                               style="table-layout:fixed;
                                      width:80%">
                            <tbody>
                                <tr>
                                    <td style="width: 50%; text-align: center;">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/28656/content_5121.png"
                                             style="width: 100px;
                                                    height: 100px">
                                    </td>
                                    <td style="width: 50%; text-align: center;">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/28657/content_5122.png"
                                             style="width: 100px;
                                                    height: 100px">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">《ミネラルドリンク》</td>
                                    <td style="text-align: center;">《フェス記念タオル》</td>
                                    <td style="text-align: center;">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </center>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <span style="font-size:11px;"></span><span style="font-size:14px;"><strong>≪ドロップボーナスについて≫</strong></span>
                    </p>
                    <p>
                        <span style="font-size:11px;"><span style="color:#FFFFFF;">・キャラクターの装備には、交換アイテムを入手した時に</span></span>
                    </p>
                    <p>
                        <span style="font-size:11px;"><span style="color:#FFFFFF;">交換アイテムの獲得数が増加する「ドロップボーナス」効果付き！</span></span>
                    </p>
                    <p>
                        <span style="font-size:11px;"><span style="color:#FFFFFF;">交換アイテムを入手しやすいクエストで交換アイテムをゲットしよう！</span></span>
                    </p>
                    <p>
                        <span style="font-size:11px;">・交換アイテムがドロップするクエストは</span>
                    </p>
                    <p>
                        <span style="font-size:11px;"><b>「【初級】フェス記念グッズ集め</b><strong><b>」</b></strong></span>
                    </p>
                    <p>
                        <span style="font-size:11px;"><strong><b>「</b><strong>【中級】フェス記念グッズ集め</strong><b>」</b></strong></span>
                    </p>
                    <p>
                        <span style="font-size:11px;"><strong><b>「</b><strong>【上級】フェス記念グッズ集め</strong><b>」</b></strong></span>
                    </p>
                </div>
            </section>
            <div align="center">
                <p>
                    <span style="font-size:16px;">◆<strong>ドロップボーナス一覧</strong>◆</span>
                </p>
                <div align="center">
                    <div align="center">
                        <table bgcolor="#204060"
                               cellpadding="0"
                               cellspacing="0"
                               style="border-collapse: collapse;
                                      border: 2px solid rgb(80, 96, 112);
                                      width: 490px;
                                      font-size:13px;
                                      table-layout: fixed">
                            <thead>
                                <tr>
                                    <th bgcolor="#304040"
                                        scope="col"
                                        style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               width: 23%">キャラクター</th>
                                    <th bgcolor="#304040"
                                        scope="col"
                                        style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               width: 77%">
                                        <p>ドロップボーナス</p>
                                        <p>
                                            （ボーナス値は<span style="font-size:12px;">限界突破最大時のものになります。）</span>
                                        </p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">
                                        <p style="text-align: center;">
                                            <span style="font-size:11px;"><b>≪イクス≫</b></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:11px;"><b>≪ディオ≫</b></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:11px;"><b>≪メル≫</b></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:11px;"><b>≪カナタ≫</b></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:11px;"><b>≪ミゼラ≫</b></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:11px;"><b>≪カノンノ・Ｇ≫</b></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:11px;"><b>≪オリエ≫</b></span>
                                        </p>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <p>
                                            <span style="font-size:11px;">装備・魔鏡全て<strong>
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28659/content_5122.png"
                                                     style="width: 20px;
                                                            height: 20px">
                                            </strong>のドロップボーナス付き!!</span>
                                        </p>
                                        <p>&nbsp;</p>
                                    </td>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;"></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;"><strong><span style="font-size:12px;">新終決魔鏡は</span></strong></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;"><strong><span style="font-size:12px;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28659/content_5122.png"
                                                     style="width: 20px;
                                                            height: 20px">
                                            をドロップした時に最大+1000個ボーナスを付与！</span></strong></span>
                                        </p>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;"><strong><span style="font-size:12px;">新クロスオーバー魔鏡は</span></strong></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;"><strong><span style="font-size:12px;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28659/content_5122.png"
                                                     style="width: 20px;
                                                            height: 20px">
                                            をドロップした時に最大+600個ボーナスを付与！</span></strong></span>
                                        </p>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;"><strong><span style="font-size:12px;">新鏡装は</span></strong></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;"><strong><span style="font-size:12px;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28659/content_5122.png"
                                                     style="width: 20px;
                                                            height: 20px">
                                            をドロップした時に最大+160個ボーナスを付与！</span></strong></span>
                                        </p>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;"><span style="font-size:12px;">精霊装は
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28659/content_5122.png"
                                                     style="width: 20px;
                                                            height: 20px">
                                            をドロップした時に最大+250個ボーナスを付与！</span></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;"><span style="font-size:12px;">魔鏡は
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28659/content_5122.png"
                                                     style="width: 20px;
                                                            height: 20px">
                                            をドロップした時に最大+250個ボーナスを付与！</span></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;"><span style="font-size:12px;">★5装備は
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28659/content_5122.png"
                                                     style="width: 20px;
                                                            height: 20px">
                                            をドロップした時に最大+120個ボーナスを付与！</span></span>
                                            <br>
                                            <span style="font-size:12px;"></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;"><span style="font-size:12px;">★4装備は
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28659/content_5122.png"
                                                     style="width: 20px;
                                                            height: 20px">
                                            をドロップした時に最大+80個ボーナスを付与！</span></span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;"><span style="font-size:12px;">★3装備は
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28659/content_5122.png"
                                                     style="width: 20px;
                                                            height: 20px">
                                            をドロップした時に最大+40個ボーナスを付与！</span></span>
                                        </p>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;"></span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">
                                        <p>
                                            <span style="font-size:11px;">≪上記以外の</span>
                                        </p>
                                        <p>
                                            <span style="font-size:11px;">キャラクター≫</span>
                                        </p>
                                        <p>
                                            <span style="font-size:11px;"><strong>
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28658/content_5121.png"
                                                     style="width: 16px;
                                                            height: 16px">
                                            </strong>の</span><span style="font-size:11px;">ドロップボーナス付き!!</span>
                                        </p>
                                    </td>
                                    <td style="border:1px #506070 solid;
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px">
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;">精霊装は<span style="font-size:11px;"><span style="font-size: 12px;"><span style="font-size:11px;"><span style="font-size: 12px;"><span style="font-size:11px;"><span style="font-size: 12px;"><span style="font-size:11px;"><span style="font-size: 12px;"><span style="font-size:11px;"><span style="font-size: 12px;"><span style="font-size:11px;"><span style="font-size: 12px;"><strong>
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28658/content_5121.png"
                                                     style="width: 16px;
                                                            height: 16px">
                                            </strong></span></span></span></span></span></span></span></span></span></span></span></span>をドロップした時に最大<strong>+250</strong>個ボーナスを付与！</span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;">魔鏡は<span style="font-size:11px;"><span style="font-size: 12px;"><span style="font-size:11px;"><span style="font-size: 12px;"><span style="font-size:11px;"><span style="font-size: 12px;"><span style="font-size:11px;"><span style="font-size: 12px;"><span style="font-size:11px;"><span style="font-size: 12px;"><span style="font-size:11px;"><span style="font-size: 12px;"><strong>
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28658/content_5121.png"
                                                     style="width: 16px;
                                                            height: 16px">
                                            </strong></span></span></span></span></span></span></span></span></span></span></span></span>をドロップした時に最大<strong>+480</strong>個ボーナスを付与！</span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;">★5装備は<span style="font-size:11px;"><span style="font-size: 12px;"><span style="font-size:11px;"><span style="font-size: 12px;"><span style="font-size:11px;"><span style="font-size: 12px;"><span style="font-size:11px;"><span style="font-size: 12px;"><span style="font-size:11px;"><span style="font-size: 12px;"><span style="font-size:11px;"><span style="font-size: 12px;"><strong>
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28658/content_5121.png"
                                                     style="width: 16px;
                                                            height: 16px">
                                            </strong></span></span></span></span></span></span></span></span></span></span></span></span>をドロップした時に最大<strong>+160</strong>個ボーナスを付与！</span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;">★4装備は<span style="font-size:11px;"><span style="font-size: 12px;"><span style="font-size:11px;"><span style="font-size: 12px;"><span style="font-size:11px;"><span style="font-size: 12px;"><span style="font-size:11px;"><span style="font-size: 12px;"><span style="font-size:11px;"><span style="font-size: 12px;"><span style="font-size:11px;"><span style="font-size: 12px;"><strong>
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28658/content_5121.png"
                                                     style="width: 16px;
                                                            height: 16px">
                                            </strong></span></span></span></span></span></span></span></span></span></span></span></span>をドロップした時に最大<strong>+80</strong>個ボーナスを付与！</span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;">★3装備は<strong>
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/28658/content_5121.png"
                                                     style="width: 16px;
                                                            height: 16px">
                                                </strong></span>をドロップした時に最大<strong>+40</strong>個ボーナスを付与！
                                            </p>
                                            <p style="text-align: center;">&nbsp;</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid rgb(80, 96, 112);
                                                   border-collapse: collapse;
                                                   padding: 4px;
                                                   text-align: center;
                                                   background-color: rgb(48, 64, 64)">≪注意事項≫</td>
                                        <td style="border: 1px solid rgb(80, 96, 112);
                                                   border-collapse: collapse;
                                                   text-align: left;
                                                   padding: 4px;
                                                   background-color: rgb(48, 64, 64)">
                                            <section>
                                                <div align="center">
                                                    <p style="text-align: left;">
                                                        <span style="font-size:11px;">※開催中のガシャから排出される装備については</span>
                                                    </p>
                                                    <p style="text-align: left;">
                                                        <span style="font-size:11px;">「『ザ レイズ オブ フェスティバル』開催記念ガシャ開催!!」のお知らせをご確認ください。</span>
                                                    </p>
                                                    <p style="text-align: left;">
                                                        <span style="font-size:11px;">※上記ドロップボーナス一覧の表には
                                                            <br>
                                                        過去に開催したイベントまたはかめにんショップ限定でのみ入手可能の限定の装備が含まれています。</span>
                                                    </p>
                                                    <p style="text-align: left;">
                                                        <span style="font-size:11px;">※コラボイベント及びコラボガシャでのみ入手可能の装備・魔鏡にも</span>
                                                    </p>
                                                    <p style="text-align: left;">
                                                        <span style="font-size:11px;">ボーナスが設定されています。</span>
                                                    </p>
                                                </div>
                                            </section>
                                            <p>
                                                <span style="font-size:11px;"></span>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
            <p style="text-align: center;">
                <strong>◆イベントに合わせてサポートキャラを変更しよう!◆</strong>
            </p>
            <p style="text-align: center;">
                <strong>メニュー</strong>の<strong>プロフィール</strong>から
            </p>
            <p style="text-align: center;">ポイントボーナス装備のキャラに変更すると・・・</p>
            <p style="text-align: center;">
                <strong><span style="color:#FF9900;"><span style="font-size:24px;">フレンドにドロップボーナスが!!</span></span></strong><span style="font-size:14px;"></span>
            </p>
            <div align="center">
                <div align="center">
                    <div align="center">
                        <div class="frame2">
                            <p class="indent" style="text-align: center;">《&nbsp;注意事項&nbsp;》</p>
                            <p>
                                <span style="font-size:11px;">・イベントで初登場する装備は、再度登場する場合がございます。</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">・イベント期間終了後にクエストをクリアした場合は</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">装備のポイントボーナス分のポイントは獲得できません。</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">・表示されているのは、</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">最大強化後のステータス・効果・ドロップボーナス値となります。</span>
                            </p>
                            <p>
                                <span style="font-size:11px;"><span style="font-size:11px;">・</span>霊装化により生成された精霊装は、</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">イベントにおける装備ボーナスやクリティカルボーナスの対象となりません。</span><span style="font-size:11px;"></span>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
