<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <span style="color:#FF4747;"><b><font size="4">オフライン版についてのご紹介動画公開！</font></b></span><span style="color:#FF4747;"></span>
            </p>
            <hr>
            <p>
                <span style="font-size:12px;">「テイルズ オブ ザ レイズ」オフライン版説明動画公開！</span>
            </p>
            <p>
                <span style="font-size:12px;">※本動画は収録となります。
                    <br>
                ※本動画でオフライン版の詳細以外の新情報はございません。</span>
            </p>
            <p>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/50369/content_______ToR_bnr_Offline-Instructions_thumbnail_1280x720.png"
                     style="width: 80%">
            </p>
            <p>
                <!-- 仕切り -->
            </p>
            <section>
                <p style="text-align: center;">
                    <strong><a href="https://youtu.be/mgpDTkK_P-g?externalbrowser=true">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/1082/content_gasya_btn_play.png"
                             style="width: 100px;
                                    height: 100px">
                    </a></strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:20px;"><strong>ボタンタップでビデオ再生！</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:9px;">※ご注意：動画再生アプリやブラウザが開きます。</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <hr>
                <p style="text-align: center;">
                    <span style="font-size:20px;"><strong>オフライン版についてご紹介！</strong></span>
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50366/content____________.png"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50370/content____________.png"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50365/content____________.png"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50368/content____________.png"
                         style="width: 80%">
                </p>
                <hr>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">少しでも思い出を振り返れるオフライン版となるよう鋭意開発中です。</p>
                <p style="text-align: center;">楽しみにお待ち頂ければ幸いです。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">引き続き『TALES OF THE RAYS』をよろしくお願い申し上げます。</p>
                <p style="text-align: center;">&nbsp;</p>
            </section>

        </div>
    </body>
</html>
