<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p>
                <img alt=""
                     src="{{ s3_url }}public/uploads/ckeditor/pictures/50392/content_24061001.jpg"
                     style="width: 100%">
            </p>
            <hr>
            <section>
                <p style="text-align: center;">
                    <strong><span style="color:#FF4747;">新イベント開催!!</span></strong>
                </p>
                <p style="text-align: center;">
                    <strong><span style="color:#FF4747;"></span></strong>
                </p>
                <p style="text-align: center;">
                    <strong>​</strong><span style="color:#FF9900;"><strong><span style="color:#FF9900;">精霊片</span></strong></span><strong>を入手し、</strong>
                </p>
                <p style="text-align: center;">
                    <strong>過去に登場した</strong><b><span style="font-size:18px;"><span style="color:#FF4747;">精霊装</span></span>を作成＆強化しよう!!</b>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    各キャラクターに対応した<strong>イベントクエストでは</strong>
                </p>
                <p style="text-align: center;">
                    登場する敵が<span style="color:#FF4747;">その</span><strong><span style="color:#FF4747;">キャラクターの精霊片</span></strong>をドロップ！
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="color:#FF6600;"></span>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/23440/content_101.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/29589/content_301.png"
                         style="width: 100px;
                                height: 100px">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/46423/content_25301.png"
                         style="width: 100px;
                                height: 100px">
                    <span style="color:#FF6600;"></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    そして、
                    <br>
                    「ティア＆ライフィセット＆ロンドリーネ編」では
                </p>
                <p style="text-align: center;">
                    一部のイベント限定参戦キャラクターだった
                    <br>
                    「<span style="color:#FF4747;"><span style="font-size:18px;"><strong>ロンドリーネ</strong></span></span>」が加入！
                </p>
                <p style="text-align: center;">
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/42303/content_100.png"
                         style="width: 100px;
                                height: 100px">
                </p>
                <p style="text-align: center;">
                    「<span style="color:#FF4747;"><strong>ティア</strong></span>」「<span style="color:#FF4747;"><strong>ライフィセット</strong></span>」も仲間に！
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">また、</p>
                <p style="text-align: center;">クエストミッションクリアで</p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><strong>鏡映のマテリアル、霊装核、ダイヤx10&nbsp;</strong></span>の獲得が可能!!
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF6600;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/50398/content_________.png"
                             style="width: 100px;
                                    height: 100px">
                        <span style="color:#FF6600;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/50184/content____.png"
                                 style="width: 100px;
                                        height: 100px">
                            <span style="color:#FF6600;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/47435/content_2.png"
                                     style="width: 100px;
                                            height: 100px">
                            </span></span></span>
                        </p>
                        <p style="text-align: center;">
                            <br>
                            さらに、
                        </p>
                        <p style="text-align: center;">
                            <strong>【高難易度】クエスト</strong>では
                        </p>
                        <p style="text-align: center;">クエストミッションクリアで</p>
                        <p style="text-align: center;">
                            <span style="color:#FF9900;"><strong>交易品500個、霊装核x5、ダイヤx20&nbsp;</strong></span>の獲得が可能!!
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/26259/content_4942.png"
                                 style="width: 100px;
                                        height: 100px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/50186/content____.png"
                                 style="width: 100px;
                                        height: 100px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/47435/content_2.png"
                                 style="width: 100px;
                                        height: 100px">
                        </p>
                        <p style="text-align: center;">精霊装を手に入れて強くなったら挑戦しよう!!</p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">その他にも</p>
                        <p style="text-align: center;">
                            <span style="font-size:14px;"><strong>『精霊装 フィナーレ編</strong><strong>』交換所で</strong></span>
                        </p>
                        <p style="text-align: center;">ダイヤや、ガシャチケット</p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/50204/content_72221.png"
                                 style="width: 100px;
                                        height: 100px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/50205/content_240208.png"
                                 style="width: 100px;
                                        height: 100px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/50206/content_240106.png"
                                 style="width: 100px;
                                        height: 100px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/37874/content_210529.png"
                                 style="width: 100px;
                                        height: 100px">
                        </p>
                        <p style="text-align: center;">
                            <span style="color:#FF4747;"><strong>「アナザーカラー衣装交換チケット」
                                <br>
                                「終決魔鏡確定ガシャチケット」
                                <br>
                            「クロスオーバー魔鏡確定ガシャチケット」　</strong></span>
                        </p>
                        <p style="text-align: center;">
                            <strong><span style="color:#FF4747;">「季節魔鏡確定ガシャチケット</span><span style="color:#FF4747;">」</span></strong>
                            <br>
                            <br>
                            <span style="color:#FF4747;"><strong>霊装核、バーストメモリア</strong></span>の入手が可能！
                        </p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/50186/content____.png"
                                 style="width: 100px;
                                        height: 100px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/50185/content_burst_limit_material_1.png"
                                 style="width: 100px;
                                        height: 100px">
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">
                            <span style="font-size:16px;"><strong>◆開催期間◆</strong></span>
                        </p>
                        <p style="text-align: center;">
                            <span style="color:#FF4747;"><span style="font-size:16px;"><strong>2024/6/10(月) 14:00&nbsp;～2024/6/20(木) 10:59</strong></span></span>
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <hr>
                        <p style="text-align: center;">
                            <span style="font-size:16px;"><strong>◆イベントの遊び方◆</strong></span>
                            <br>
                            &nbsp;
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/50408/content_24061003.jpg"
                                 style="width: 100%">
                        </p>
                        <p>
                            <span style="font-size:14px;">※「<span style="color:#FF4747;"><strong>イクス</strong></span>」「<span style="color:#FF4747;"><strong>ミリーナ</strong></span>」は<span style="color:#FF9900;">精霊片<strong>100</strong>個</span>で<span style="color:#FF4747;"><strong>精霊装</strong></span>を作成可能となります。</span>
                        </p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/50407/content_22052206.jpg"
                                 style="width: 100%">
                        </p>
                        <p>
                            ※「<span style="color:#FF4747;"><strong>イクス</strong></span>」「<strong><span style="color:#FF4747;">ミリーナ</span></strong>」のレアリティ強化内容は以下になります。
                            <br>
                            レアリティ1：衣装/武器見た目獲得/アニマ付与
                            <br>
                            レアリティ2：なし
                            <br>
                            レアリティ3：霊装魔鏡技/カットイン
                            <br>
                            レアリティ4：なし
                            <br>
                            レアリティ5：なし
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <hr>
                        <p style="text-align: center;">
                            <span style="font-size:16px;"><strong>≪精霊片について≫</strong></span>
                        </p>
                        <p style="text-align: center;">
                            イベントでは精霊装が作成できる「<strong>精霊片</strong>」が獲得可能!!
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">
                            <span style="font-size:14px;"><strong>【精霊片の獲得可能箇所】</strong></span>
                        </p>
                        <p style="text-align: center;">精霊片は交易品引換所やミッションなどで獲得可能!!</p>
                        <p style="text-align: center;">
                            <span style="font-size:14px;"><span style="color:#FF4747;"><strong>①</strong><span style="font-size:14px;"><span style="color:#FF4747;"><strong>精霊装イベント</strong></span></span></span><span style="color:#FF4747;"></span></span>
                        </p>
                        <p style="text-align: center;">
                            <span style="font-size:14px;"><span style="color:#FF4747;"><strong>②精霊片交換所</strong></span></span>
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/50394/content_724.png"
                                 style="width: 80%">
                        </p>
                        <p style="text-align: center;">
                            <span style="font-size:14px;"><strong>①精霊装イベント</strong></span>
                        </p>
                        <p style="text-align: center;">
                            イベントクエストでは出現する敵が精霊片を<span style="color:#FF4747;"><strong>確定ドロップ</strong></span>！
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">
                            ◆開催されるクエスト名と獲得できる精霊片一<strong>覧</strong>◆
                            <br>
                            <span style="color:#FF9900;"><span style="font-size:11px;">※「精霊の招来境」クエストとは異なり、キャラクターの出撃制限はありません</span></span>
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <div align="center">
                            <table bgcolor="#204060"
                                   border="2"
                                   cellpadding="0"
                                   cellspacing="0"
                                   style="border-collapse:collapse;
                                          border:2px solid rgb(80, 96, 112);
                                          font-size:13px;
                                          table-layout:fixed;
                                          width:500px">
                                <thead>
                                    <tr>
                                        <th bgcolor="#304040" scope="col" style="text-align: center;">クエスト名</th>
                                        <th bgcolor="#304040" scope="col" style="text-align: center;">
                                            <strong>獲得できる精霊片</strong>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong>イクス＆ミリーナ編</strong>
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/23440/content_101.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/23441/content_201.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong>スタン＆リオン＆ヴェイグ編</strong>
                                            </p>
                                            <p style="text-align: center;">&nbsp;</p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/23443/content_4301.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/23442/content_601.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/23444/content_1201.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong>エミル＆ソフィ＆カイル編</strong>
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/26219/content_7101.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/26220/content_2501.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/26221/content_4601.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong>シング＆エステル＆ベルベット編</strong>
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/27807/content_5801.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/27808/content_5201.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/27809/content_3701.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong>クレス＆ミント＆リアラ編</strong>
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29589/content_301.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29590/content_7301.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/29591/content_4701.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong>スレイ＆ロゼ＆アリーシャ編</strong>
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/31232/content_3101.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/31233/content_7701.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/31234/content_5001.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong>ロイド＆コレット＆コハク編</strong>
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/32693/content_901.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/32694/content_1001.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/32695/content_2201.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong>ユーリ＆フレン＆ラピード編</strong>
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/33917/content_1901.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/33918/content_7501.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/33919/content_2001.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong>パスカ＆イアハート＆グラスバレー編</strong>
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/35545/content_9801.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/35546/content_4801.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/35547/content_11101.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong>アスベル＆シェリア＆リチャード編</strong>
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/36667/content_2401.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/36670/content_3901.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/36671/content_5301.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong>ダオス＆バルバトス＆ガイアス編</strong>
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/37939/content_7901.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/37938/content_6601.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/37940/content_10201.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong>ジュード＆ミラ=マクスウェル＆レイア編</strong>
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/39103/content_2701.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/39104/content_2801.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/39105/content_8601.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong>コーキス＆カイウス＆セネル編</strong>
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/40688/content_15601.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/40689/content_6201.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/40690/content_5501.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong>ルカ＆イリア＆リカルド編</strong>
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/41554/content_1701.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/41555/content_5101.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/41556/content_20601.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong>ルーク＆アッシュ＆シンク編</strong>
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/43610/content_1401.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/43611/content_5401.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/43612/content_8001.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong>リッド＆ルドガー＆ユリウス編</strong>
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/44882/content_4001.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/44883/content_3001.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/44884/content_5901.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong>アルフェン＆シオン＆リタ編</strong>
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/46423/content_25301.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/46424/content_25401.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/46425/content_2101.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong>ファラ＆シャーリィ＆エリーゼ編</strong>
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/46426/content_4101.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/46427/content_10501.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/46428/content_2901.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong>ルーティ＆ウッドロウ＆ジューダス編</strong>
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/46429/content_501.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/46430/content_16301.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/46431/content_5701.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="text-align: center;">
                                                <strong>ティア＆ライフィセット＆ロンドリーネ編</strong>
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/50170/content_3501.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/50171/content_3801.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/50172/content_10001.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="text-align: center;">
                                                <b>ミトス＆リンウェル＆マルタ編</b>
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/50173/content_6701.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/50174/content_25701.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                            <p style="text-align: center;">
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/50175/content_7201.png"
                                                     style="width: 80px;
                                                            height: 80px">
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p style="text-align: center;">&nbsp;</p>
                            <p style="text-align: center;">&nbsp;</p>
                            <p>
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/50395/content___________2024-06-04_182004.png"
                                     style="width: 80%">
                            </p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p style="text-align: left;">
                                <span style="font-size:14px;"><strong>②精霊片交換所</strong></span>
                            </p>
                            <p style="text-align: left;">
                                <span style="color:#FF4747;"><strong>精霊片交換チケット</strong></span>と交換することで、
                            </p>
                            <p style="text-align: left;">
                                様々なキャラクターの精霊片の獲得が可能
                                <br>
                                &nbsp;
                            </p>
                            <hr>
                            <p style="text-align: center;">
                                <span style="font-size:16px;"><strong>≪精霊片交換チケットについて≫</strong></span>
                            </p>
                            <p style="text-align: center;">
                                イベントでは「<span style="font-size:14px;"><strong>精霊片交換所</strong></span>」で精霊片と交換できる
                            </p>
                            <p style="text-align: center;">
                                「<span style="color:#FF4747;"><strong>精霊片交換チケット</strong></span>」が獲得可能!!
                            </p>
                            <p style="text-align: center;">&nbsp;</p>
                            <p style="text-align: center;">また、今回のイベントでは</p>
                            <p style="text-align: center;">
                                <span style="color:#FF4747;"><strong>チケット1枚</strong></span>につき<span style="font-size:14px;"><strong><span style="color:#FF4747;">精霊片</span></strong><span style="color:#FF4747;"><strong>5つ</strong></span></span>を
                            </p>
                            <p style="text-align: center;">
                                <span style="color:#FF4747;"><span style="font-size:18px;"><strong>無制限</strong></span></span>で交換可能！！
                            </p>
                            <p style="text-align: center;">&nbsp;</p>
                            <p style="text-align: center;">
                                <span style="font-size:14px;"><strong>【精霊片交換チケットの獲得可能箇所】</strong></span>
                            </p>
                            <p style="text-align: center;">精霊片交換チケットは交易品引換所やポイントイベント交換所などで獲得可能!!</p>
                            <p style="text-align: center;">
                                <span style="font-size:14px;"><span style="color:#FF4747;"><strong>①</strong><span style="font-size:14px;"><span style="color:#FF4747;"><strong>交易品引換所</strong></span></span></span><span style="color:#FF4747;"></span></span>
                            </p>
                            <p style="text-align: center;">
                                <span style="font-size:14px;"><span style="color:#FF4747;"><strong>②ポイントイベント交換所</strong></span></span>
                            </p>
                            <p style="text-align: center;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/50393/content_240610.png"
                                     style="width: 80%">
                            </p>
                            <p style="text-align: left;">
                                <span style="font-size:14px;"><strong>①交易品引換所</strong></span>
                            </p>
                            <p style="text-align: left;">
                                《<strong>「精霊装」</strong>交易品引換所》
                            </p>
                            <p style="text-align: left;">1回目のラインナップ：精霊片交換チケット 10枚</p>
                            <p style="text-align: left;">2回目のラインナップ：精霊片交換チケット 15枚</p>
                            <p style="text-align: left;">3回目のラインナップ：精霊片交換チケット 20枚</p>
                            <p style="text-align: left;">4回目のラインナップ：精霊片交換チケット 25枚</p>
                            <p style="text-align: left;">
                                5回目のラインナップ以降：１ラインナップにつき精霊片交換チケット 計9枚
                                <br>
                                &nbsp;
                            </p>
                            <p style="text-align: center;">&nbsp;</p>
                            <p style="text-align: center;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/50397/content___________2024-06-04_182110.png"
                                     style="width: 80%">
                            </p>
                            <p style="text-align: left;">
                                <strong>②ポイントイベント交換所</strong>
                            </p>
                            <p style="text-align: left;">『精霊装 フィナーレ編』交換所</p>
                            <p style="text-align: left;">精霊片交換チケット 合計90枚</p>
                            <p>&nbsp;</p>
                            &nbsp;
                            <hr>
                            <p style="text-align: center;">
                                <span style="font-size:14px;"><strong>≪<span style="color:#FF4747;">交易品引換所</span>について≫</strong></span>
                            </p>
                            <p style="text-align: center;">交易品引換所でアイテムの引換が出来る『交易品』が登場！</p>
                            <p style="text-align: center;">
                                <img alt=""
                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/50393/content_240610.png"
                                     style="width: 80%">
                            </p>
                            <p style="text-align: center;">&nbsp;</p>
                            <p style="text-align: center;">&nbsp;</p>
                            <table align="center"
                                   border="0"
                                   cellpadding="1"
                                   cellspacing="1"
                                   style="width:100%;
                                          table-layout: fixed">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center; width: 50%;">
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/26259/content_4942.png"
                                                 style="width: 108px;
                                                        height: 108px">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;">《交易品》</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p style="text-align: center;">&nbsp;</p>
                            <p style="text-align: center;">
                                <strong><span style="font-size:14px;">【交易品の獲得可能箇所】</span></strong>
                            </p>
                            <p>
                                <strong>・</strong><span style="color:#FFFFFF;">「</span><span style="color:#FFFFFF;"><span style="color:#FFFFFF;"><strong><span style="color:#FFFFFF;"></span></strong><span style="color:#FFFFFF;"><strong>精霊装 フィナーレ</strong></span><span style="color:#FFFFFF;"><span style="color:#FFFFFF;"><span style="color:#FFFFFF;">」のクエストで出現する敵は</span></span></span></span></span>
                            </p>
                            <p>
                                <span style="color:#FFFFFF;"><span style="color:#FFFFFF;"><span style="color:#FFFFFF;"><span style="color:#FFFFFF;"><span style="color:#FFFFFF;">交易品引換所用の「交易品」をドロップ！</span></span></span></span></span>
                            </p>
                            <p>&nbsp;</p>
                            <p>
                                <span style="font-size:11px;">※【高難易度】</span><span style="font-size:11px;">クエスト</span><span style="font-size:11px;">では</span>
                            </p>
                            <p>
                                <span style="font-size:11px;">ドロップしません。</span>
                                <br>
                                &nbsp;
                            </p>
                            <p>
                                <strong>・『精霊装 フィナーレ編』交換所</strong>
                            </p>
                            <p>&nbsp;</p>
                            <p>
                                <strong>・クエストミッションクリアで獲得</strong>
                            </p>
                            <p>
                            　【高難易度】クエスト：<span style="color:#FF4747;"><strong>合計5000個</strong></span>
                        </p>
                        <p>
                            <br>
                            <strong>・全体ミッションクリアで獲得</strong>
                        </p>
                        <p>
                            　『精霊装 フィナーレ編のクエストを5回クリア』：30個
                            <br>
                            　『精霊装 フィナーレ編のクエストを10回クリア』：30個
                            <br>
                            　『精霊装 フィナーレ編のクエストを15回クリア』：30個
                            <br>
                            　『精霊装 フィナーレ編のクエストを20回クリア』：30個
                        </p>
                        <p>&nbsp;</p>
                        <p style="text-align: center;">
                            <span style="font-size:11px;">入手した交易品は交易品引換所でランダムなアイテムと引換!!</span>
                        </p>
                        <p style="text-align: center;">
                            <strong><span style="color:#FF9900;">精霊片交換チケット</span>を含む</strong>
                        </p>
                        <p style="text-align: center;">
                            <strong><font color="#ff9900">様々なアイテム</font>が獲得可能!</strong>
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">さらに、</p>
                        <p style="text-align: center;">
                            今回のイベントでは<span style="color:#FF4747;"><strong>新たなギフト</strong></span>がラインナップに登場！
                        </p>
                        <p style="text-align: center;">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/50400/content___.png"
                                 style="width: 100px;
                                        height: 100px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/50401/content___.png"
                                 style="width: 100px;
                                        height: 100px">
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/50402/content_____.png"
                                 style="width: 100px;
                                        height: 100px">
                        </p>
                        <p style="text-align: center;">
                            「<span style="color:#FF4747;"><strong>アクティブタの角煮</strong></span>」
                        </p>
                        <p style="text-align: center;">
                            「<span style="color:#FF4747;"><strong>高級そうな水筒</strong></span>」
                        </p>
                        <p style="text-align: center;">
                            「<span style="color:#FF4747;"><strong>クラウ家の特製キッシュ</strong></span>」
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">
                            <span style="font-size:14px;"></span><span style="font-size:11px;">※交易品引換所から出現するその他のアイテム等の詳細は</span>
                        </p>
                        <p style="text-align: center;">
                            <span style="font-size:11px;">『精霊装 交易品引換所について』のお知らせをご覧ください</span>
                        </p>
                        <hr>
                        <p style="text-align: center;">
                            <span style="font-size:14px;"><strong>≪交換アイテムについて≫</strong></span>
                        </p>
                        <p>
                            <span style="color:#FFFFFF;">・「</span><span style="color:#FFFFFF;"><span style="color:#FFFFFF;"><strong><span style="color:#FFFFFF;"></span></strong><span style="color:#FFFFFF;"><strong>精霊装 フィナーレ</strong></span><span style="color:#FFFFFF;"><span style="color:#FFFFFF;"><span style="color:#FFFFFF;">」のクエストで出現する敵は</span></span></span></span></span>
                        </p>
                        <p>
                            <span style="color:#FFFFFF;"><span style="color:#FFFFFF;"><span style="color:#FFFFFF;"><span style="color:#FFFFFF;"><span style="color:#FFFFFF;">イベント交換所用の「交換アイテム」をドロップ！</span></span></span></span></span>
                        </p>
                        <p>&nbsp;</p>
                        <p>
                            <span style="font-size:11px;">※【高難易度】</span><span style="font-size:11px;">クエスト</span><span style="font-size:11px;">では</span>
                        </p>
                        <p>
                            <span style="font-size:11px;">ドロップしません。</span>
                        </p>
                        <p>&nbsp;</p>
                        <p>
                            <span style="color:#FFFFFF;"><span style="color:#FFFFFF;">・イベント交換所では<span style="color:#FFFFFF;">交換</span>アイテムと交易品などのアイテムが交換可能!</span></span>
                        </p>
                        <p style="text-align: center;">
                            <br>
                            ～本イベントの交換アイテム～
                        </p>
                        <table align="center"
                               border="0"
                               cellpadding="1"
                               cellspacing="1"
                               style="width:100%;
                                      table-layout: fixed">
                            <tbody>
                                <tr>
                                    <td style="text-align: center; width: 50%;">
                                        <img alt=""
                                             src="{{ s3_url }}public/uploads/ckeditor/pictures/11925/content_4381.png"
                                             style="width: 108px;
                                                    height: 108px">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">《虹のエレメント》</td>
                                </tr>
                            </tbody>
                        </table>
                        <p style="text-align: center;">
                            <span style="font-size:11px;"></span>
                        </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <hr>
                        <p>
                            <strong><strong><span style="font-size:16px;">&nbsp;</span></strong></strong>
                        </p>
                        <strong><strong><span style="font-size:16px;"></span> </strong> </strong>
                        <div align="center">
                            <p>
                                <strong><strong><span style="font-size:16px;">◆<span style="font-size:16px;"><strong>ドロップボーナス一覧</strong></span>◆</span></strong></strong>
                            </p>
                            <div align="center">
                                <table bgcolor="#204060"
                                       cellpadding="0"
                                       cellspacing="0"
                                       style="border-collapse: collapse;
                                              border: 2px solid rgb(80	96	 112);
                                              width: 490px;
                                              font-size:13px;
                                              table-layout: fixed">
                                    <thead>
                                        <tr>
                                            <th bgcolor="#304040"
                                                scope="col"
                                                style="border:1px #506070 solid;
                                                       border-collapse: collapse;
                                                       width: 23%">
                                                <strong>キャラクター</strong>
                                            </th>
                                            <th bgcolor="#304040"
                                                scope="col"
                                                style="border:1px #506070 solid;
                                                       border-collapse: collapse;
                                                       width: 77%">
                                                <p>
                                                    <strong>ドロップボーナス</strong>
                                                </p>
                                                <p>
                                                    <strong>（ボーナス値は<span style="font-size:12px;">限界突破最大時のものになります。）</span></strong>
                                                </p>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="border:1px #506070 solid;
                                                       border-collapse: collapse;
                                                       text-align: left;
                                                       padding: 4px">
                                                <p style="text-align: center;">
                                                    <span style="font-size:12px;"><strong><b>≪</b></strong>すべてのキャラクター<strong><b>≫</b></strong></span><span style="font-size:12px;"></span>
                                                </p>
                                            </td>
                                            <td style="border:1px #506070 solid;
                                                       border-collapse: collapse;
                                                       text-align: left;
                                                       padding: 4px">
                                                <p style="text-align: center;">
                                                <strong><span style="font-size:12px;">精霊装は</span>
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/11972/content_4382.png"
                                                     style="width: 16px;
                                                            height: 16px">
                                                <span style="font-size:12px;"></span><span style="font-size:12px;">をドロップした時に最大+18個ボーナスを付与！</span></strong>
                                        </p>
                                        <p style="text-align: center;">
                                            <strong><span style="font-size:11px;">※精霊装はレアリティを上げることでボーナスが増加します</span></strong>
                                        </p>
                                        <p style="text-align: center;">
                                            <strong>イベントクリティカルボーナス
                                                <img alt=""
                                                     src="{{ s3_url }}public/uploads/ckeditor/pictures/35210/content_critical_bonus_icon.png"
                                                     style="width: 16px;
                                                            height: 16px">
                                            が最大80.0%上昇！</strong>
                                        </p>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;">魔鏡は</span>
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/21506/content_4751.png"
                                                 style="width: 16px;
                                                        height: 16px">
                                            <span style="font-size:12px;">をドロップした時に最大+720個ボーナスを付与！</span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;">★5装備は</span>
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/21506/content_4751.png"
                                                 style="width: 16px;
                                                        height: 16px">
                                            <span style="font-size:12px;">をドロップした時に最大+360個ボーナスを付与！</span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;">★4装備は</span>
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/21506/content_4751.png"
                                                 style="width: 16px;
                                                        height: 16px">
                                            <span style="font-size:12px;">をドロップした時に最大+240個ボーナスを付与！</span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-size:12px;">★3装備は</span>
                                            <img alt=""
                                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/21506/content_4751.png"
                                                 style="width: 16px;
                                                        height: 16px">
                                            <span style="font-size:12px;">をドロップした時に最大+120個ボーナスを付与！</span>
                                        </p>
                                        <p style="text-align: center;">&nbsp;</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid rgb(80	96	 112);
                                               border-collapse: collapse;
                                               padding: 4px;
                                               text-align: center;
                                               background-color: rgb(48	64	 64)">≪注意事項≫</td>
                                    <td style="border: 1px solid rgb(80	96	 112);
                                               border-collapse: collapse;
                                               text-align: left;
                                               padding: 4px;
                                               background-color: rgb(48	64	 64)">
                                        <section>
                                            <div align="center">
                                                <p style="text-align: left;">
                                                    <span style="font-size:11px;">※上記ドロップボーナス一覧の表には
                                                        <br>
                                                    過去に開催したイベントまたはかめにんショップ限定でのみ入手可能の限定の装備が含まれています。</span>
                                                </p>
                                                <p style="text-align: left;">
                                                    <span style="font-size:11px;">※コラボイベント及びコラボガシャでのみ入手可能の装備・魔鏡にも</span>
                                                </p>
                                                <p style="text-align: left;">
                                                    <span style="font-size:11px;">ボーナスが設定されています。</span>
                                                </p>
                                                <p style="text-align: left;">
                                                    <span style="font-size:11px;">※クロスオーバー魔鏡は、専用魔鏡技が発動できるすべてのキャラクターで同様のボーナスが設定されます。</span>
                                                </p>
                                                <p style="text-align: left;">
                                                    <span style="font-size:11px;">※オート魔鏡技にセットした魔鏡では、ドロップボーナスは発生しません。
                                                        <br>
                                                        ※ステータスの「クリティカル」は100分率ではなく、クリティカル値1につき発生率が1%上がるものではありません。
                                                        <br>
                                                        ※クリティカル発生率は、敵によっても変化します。
                                                        <br>
                                                    ※霊装化により生成された精霊装は、イベントにおける装備ボーナスやクリティカルボーナスの対象となりません。</span>
                                                </p>
                                            </div>
                                        </section>
                                        <p>
                                            <span style="font-size:11px;"></span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            <strong><strong>&nbsp;</strong></strong>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <p style="text-align: center;">
            <strong>◆イベントに合わせてサポートキャラを変更しよう!◆</strong>
        </p>
        <p style="text-align: center;">
            <strong>メニュー</strong>の<strong>プロフィール</strong>から
        </p>
        <p style="text-align: center;">ポイントボーナス装備のキャラに変更すると・・・</p>
        <p style="text-align: center;">
            <strong><span style="color:#FF9900;"><span style="font-size:24px;">フレンドにドロップボーナスが!!</span></span></strong><span style="font-size:14px;"></span>
        </p>
        <section>
            <ul class="box">
                <li style="text-align:right;float:right">&nbsp;</li>
            </ul>
        </section>
        <section>
            <ul class="box">
            </ul>
        </section>
        <div class="frame2">
            <p class="indent" style="text-align: center;">《&nbsp;注意事項&nbsp;》</p>
            <p>
                <span style="font-size:11px;">・イベント専用シナリオでは、APオーブは獲得できません。</span>
            </p>
            <p>
                <span style="font-size:11px;">・イベント期間終了後にクエストをクリアした場合は</span>
            </p>
            <p>
                <span style="font-size:11px;">装備のポイントボーナス分のポイントは獲得できません。</span>
            </p>
            <p>
                <span style="font-size:11px;"></span>
            </p>
            <p>
                <span style="font-size:11px;">・表示されているのは、</span>
            </p>
            <p>
                <span style="font-size:11px;">最大強化後のステータス・効果・ドロップボーナス値となります。</span><span style="font-size:11px;"></span>
            </p>
        </div>

    </div>
</body>
</html>
