<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <em><span style="color:#FF00FF;"></span></em><span style="font-size:16px;"><span style="color:#FF4747;"><strong>【重要】メンテナンスのお知らせ</strong></span></span>
            </p>
            <hr>
            <section>
                <p style="text-align: center;">
                    <span style="font-size:14px;"></span>
                </p>
                <p style="text-align: center;">『TALES OF THE RAYS』をご利用いただき誠にありがとうございます。</p>
                <p style="text-align: center;">
                    <br>
                    <span style="color:#FF4747;"><strong>2024/7/23(火)11:00より</strong></span>
                    <br>
                    サービス終了によるメンテナンスを行います。
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">このメンテナンスは、</p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><strong>2024</strong><strong>/7/23(火) 11:00～16:00</strong></span>
                </p>
                <p style="text-align: center;">を予定しております。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">メンテナンス以降は</p>
                <p style="text-align: center;">ゲームプレイができなくなりますので予めご了承ください。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong>オフライン版（ver7.0.0）について</strong></span>
                </p>
                <p>
                    <span style="font-size:11px;">・メンテナンス終了以降、オフライン版への移行が可能となります。</span>
                </p>
                <p>
                    <span style="font-size:11px;">・オフライン版のデータ容量は約10GBとなります。</span>
                </p>
                <p>
                    <span style="font-size:11px;">予め一括ダウンロードを完了して頂くと</span>
                </p>
                <p>
                    <span style="font-size:11px;">オフライン移行時のダウンロード時間を</span><span style="font-size:11px;">短縮することができます。</span>
                </p>
                <p>
                    <span style="font-size:11px;">・オフライン版のタイトル画面にあります『払戻しのお知らせ』より</span>
                </p>
                <p>
                    <span style="font-size:11px;">資金決済に関する法律第20条第1項に基づく、重要なお知らせをご確認頂けます。</span>
                </p>
                <p>
                    <span style="font-size:11px;">・十分に準備はしておりますがメンテナンス終了直後は、</span>
                </p>
                <p>
                    <span style="font-size:11px;">オフライン移行に伴うサーバー負荷状況により、</span>
                </p>
                <p>
                    <span style="font-size:11px;">移行のためのアクセス時間を改めて頂く可能性がございます。</span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">オフライン版の詳細については以下より改めてご確認ください。</p>
                <p style="text-align: center;">
                    <a href="http://blog.tales-ch.jp/?p=1103#externalbrowser=true"><span style="font-size:16px;"><strong>オフライン版について</strong></span></a>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"></span>
                </p>
                <p style="text-align: center;">終了まで短い期間ではございますが、</p>
                <p style="text-align: center;">引き続き『TALES OF THE RAYS』をよろしくお願い申し上げます。</p>
                <p style="text-align: center;">
                    <br>
                    &nbsp;
                </p>

            </section>
        </div>
    </body>
</html>
