<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <!-- css ここから -->
        <div class="container">
            <p>
                <!-- キャラカスタムTOP訴求画像orバナー -->
            </p>
            <center><span style="color:#FF4747;"><strong>期間限定</strong></span><span style="color:#FF4747;"><strong>イベント、交換所、ガシャ、チケットの</strong></span></center>
            <center><span style="color:#FF4747;"><strong>終了日時について</strong></span></center>
            <center>
                <hr>
            </center>
            <!-- 仕切り -->
            <section>
                <p style="text-align: center;">いつも『TALES OF THE RAYS』をご利用いただきありがとうございます。</p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">期間限定の</p>
                <p style="text-align: center;">イベント、交換所、ガシャ、チケットについて</p>
                <p style="text-align: center;">
                    <span style="color:#FF9900;"><span style="font-size:16px;"><strong>終了日時および、利用期限が迫っております。</strong></span></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">まだイベントプレイや、交換所でのアイテム交換、</p>
                <p style="text-align: center;">ガシャチケット、セレクトチケットなど</p>
                <p style="text-align: center;">ご利用頂いていないものがある場合</p>
                <p style="text-align: center;">今一度期限をご確認頂き、</p>
                <p style="text-align: center;">期限内にてご利用頂きますようお願い致します。</p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><span style="font-size:11px;">※利用期限のあるセレクトチケットについては</span></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF4747;"><span style="font-size:11px;">注意事項内に記載があります。</span></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>◆終了日時◆</strong>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:20px;"><span style="color:#FF4747;"><strong>2024/07/22(月）23:59まで</strong></span></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">※期限がないものもありますが、</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;">こちらの終了日時を目安にご利用ください。</span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:11px;"></span><span style="font-size:11px;"></span>
                </p>
            </section>

        </div>
    </body>
</html>
