<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
                <span style="font-size:18px;"><strong><span style="color:#FF4747;"></span><span style="color:#FF4747;">皆様に暑中お見舞い申し上げます！</span></strong></span>
            </p>
            <hr>
            <section>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong><span style="font-size:16px;"><span style="color:#FF4747;">厳しい暑さが続いておりますが、皆様いかがお過ごしでしょうか。</span></span></strong><span style="font-size:12px;"><span style="color:#FF9900;"></span>
                    <br>
                    いつも『TALES OF THE RAYS』をお楽しみ頂きありがとうございます。</span><span style="font-size:14px;"></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><span style="color:#FF9900;"><strong>日々の感謝と暑中お見舞いの気持ちを込めて、</strong></span></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><span style="color:#FF9900;"><strong>皆様にプレゼントをお贈りします!!</strong></span></span>
                </p>
                <p style="text-align: center;">
                    <span style="color:#FF8C00;"></span>
                    <img alt=""
                         src="{{ s3_url }}public/uploads/ckeditor/pictures/50507/content_24071900.jpg"
                         style="width: 80%">
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong>◆プレゼント配布期間◆</strong></span>
                </p>
                <p style="text-align: center;">
                    <span style="font-size:14px;"><strong><span style="color:#FF4747;"></span><span style="color:#FF4747;"></span></strong><span style="font-size:14px;"><strong><span style="color:#FF4747;">2024/7/19(金) 14:00</span></strong></span><strong><span style="color:#FF4747;">～2024/7/22(月) 23:59</span></strong></span>
                </p>
                <hr>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong><font color="#ff4747"><span style="font-size: 16px;">プレゼントに含まれる各種アイテムにつきまして</span></font></strong>
                </p>
                <div class="frame1">
                    <p style="text-align: center;">
                        <strong>≪各種セレクトチケット、メモリアルガシャチケットについて≫</strong>
                    </p>
                    <p>
                        ・各種セレクトチケット、メモリアルガシャチケットの利用期限は
                        <br>
                        <span style="font-size:14px;"><span style="color:#FF9900;"><strong>2024/7/22(月）23:59</strong></span>となります。
                        <br>
                        ・利用期限が迫っておりますので、</span><span style="font-size:14px;">お早めにご利用下さい。</span>
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <strong>≪カーニバルチケット、カーニバルコインについて≫</strong>
                    </p>
                    <p>
                        ・カーニバルチケット、カーニバルコインは常設の「<span style="color:#FF9900;"><strong>カーニバル交換所</strong></span>」
                    </p>
                    <p>
                        　にて各種アイテムと交換可能です。
                        <br>
                        ・カーニバルチケット、カーニバルコインは
                        <br>
                        　「<span style="color:#FF9900;"><strong>鏡結晶カーニバル-フィナーレ-</strong></span>」でも獲得できます。
                    </p>
                    <p>
                        ・交換期限はサービス終了となる<span style="color:#FF9900;"><span style="font-size:14px;"><strong>2024/7/23(火)のメンテナンス開始</strong></span></span>
                    </p>
                    <p>
                        <span style="font-size:14px;"><strong><span style="color:#FF4747;"></span></strong></span>までとなります。
                    </p>
                    <p style="text-align: center;">
                        <br>
                        <strong>≪イベント復刻チケットについて≫</strong>
                    </p>
                    <p>
                        ・クエスト画面の「<span style="color:#FF9900;"><strong>復刻イベント</strong></span>」の項目から、お好きなイベントを
                        <br>
                        　選んで復刻できます。
                        <br>
                        ・同時に復刻できるイベントは<strong><span style="color:#FF9900;">最大</span></strong><span style="color:#FF9900;"><strong>3つ</strong></span>までとなっております。
                        <br>
                        ・一度お読みになったイベントシナリオは
                        <br>
                        <span style="color:#FF9900;"><strong>オフライン版移行後もシナリオログからご覧いただけます。</strong></span>
                    </p>
                    <p>・復刻中のイベントは、復刻するイベントの選択画面の終了ボタンから</p>
                    <p>
                        　任意のタイミングで終了が可能です。
                        <br>
                        ・復刻中のイベントを終了した場合、新たなイベントの復刻が可能に
                        <br>
                        　なります。
                    </p>
                    <p>&nbsp;</p>
                    <p style="text-align: center;">
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/50505/content_web________.jpg"
                             style="width: 100%">
                    </p>
                </div>
                <p style="text-align: center;">
                    <span style="font-size:12px;"></span><span style="font-size:12px;">引き続き『TALES OF THE RAYS』をよろしくお願い申し上げます。</span>
                </p>
            </section>

        </div>
    </body>
</html>
