<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{ s3_url }}public/Web/css/info.css"
              rel="stylesheet"
              type="text/css">
        <meta content="telephone=no, email=no, address=no" name="format-detection">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
              name="viewport">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center;">
            <strong><span style="color:#FF9900;"></span><span style="color:#FF4747;"></span>
            <img alt=""
                 src="{{ s3_url }}public/uploads/ckeditor/pictures/50450/content_Questionnaire_220131.png"
                 style="width: 296px;
                        height: 96px">
        </strong>
    </p>
    <!-- 仕切り -->
    <hr>
    <section>
        <p style="text-align: center;">
            <span style="font-size:14px;"></span>
        </p>
        <p style="font-weight: bold; text-align: center;">&nbsp;</p>
        <p style="text-align: center;">『TALES OF THE RAYS』をご利用いただき誠にありがとうございます。</p>
        <p style="text-align: center;">
            <br>
            下記の通り、「ユーザーアンケート」を実施いたします。
        </p>
        <p style="text-align: center;">今後の「テイルズ オブ 」シリーズ開発の参考のため、</p>
        <p style="text-align: center;">皆様のご意見をぜひお聞かせください。</p>
        <p style="text-align: center;">&nbsp;</p>
        <p style="text-align: center;">アンケートは全部で34問、</p>
        <p style="text-align: center;">
            通常の所要時間は30分程度を想定しております。
            <br>
            ご意見などを自由にご記載頂く質問もございますので、
            <br>
            お時間に余裕のある時にご回答をお願いいたします。
        </p>
        <p style="text-align: center;">&nbsp;</p>
        <p style="text-align: center;">
            <span style="font-size:18px;"><strong>■アンケートのお礼■</strong></span>
        </p>
        <p style="text-align: center;">アンケート実施期間の開始に合わせ運営チームより</p>
        <p style="text-align: center;">感謝の気持ちを込めまして、</p>
        <p style="text-align: center;">&nbsp;</p>
        <div align="center">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <img alt=""
                                 src="{{ s3_url }}public/uploads/ckeditor/pictures/18/content_2.png"
                                 style="width: 32px;
                                        height: 32px">
                        </td>
                        <td>
                            <span style="color:#FF4747;"><span style="font-size:16px;"><strong>ダイヤ&times;200個</strong></span></span>
                        </td>
                    </tr>
                    <tr></tr>
                </tbody>
            </table>
        </div>
        <p style="text-align: center;">&nbsp;</p>
        <p style="text-align: center;">を全てのお客様にプレゼントいたします。</p>
        <p style="text-align: center;">&nbsp;</p>
        <p style="text-align: center;">
            <span style="font-size:18px;"><strong>■アンケート実施期間■</strong></span>
        </p>
        <p style="text-align: center;">
            <span style="color:#FF4747;"><span style="font-size:16px;"><strong>2024/6/30(日)14:00 ～ 2024/7/14(日)23:59</strong></span></span>
        </p>
        <p style="text-align: center;">&nbsp;</p>
        <p style="text-align: center;">
            <span style="font-size:18px;"><strong>■プレゼント期間■</strong></span>
        </p>
        <p style="text-align: center;">
            <span style="color:#FF4747;"><span style="font-size:16px;"><span style="color:#FF4747;"><span style="font-size:16px;"><strong>2024/6/30(日)14:00 ～ 2024/7/14(日)23:59</strong></span></span></span></span>
        </p>
        <p style="text-align: center;">&nbsp;</p>
        <section>
            <div class="frame1">
                <p style="text-align: center;">
                    <span style="font-size:18px;"><strong>◆アンケート回答方法◆</strong></span>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>1. ホーム画面にある左下のバナーをタップ</strong>
                </p>
                <p style="text-align: center;">ホーム画面で表示されている以下の画像バナーをタップすると</p>
                <p style="text-align: center;">アンケートページに移動できます。</p>
                <p style="text-align: center;">
                    <strong>
                        <img alt=""
                             src="{{ s3_url }}public/uploads/ckeditor/pictures/50451/content_Questionnaire_220131.png"
                             style="width: 296px;
                                    height: 96px">
                    </strong>
                </p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                    <strong>2. アンケートページへの回答</strong>
                </p>
                <p style="text-align: center;">プラウザが起動し、アンケートページが開かれます。</p>
                <p style="text-align: center;">率直なご意見をぜひお聞かせください。</p>
                <p style="text-align: center;">&nbsp;</p>
            </div>
            <p style="text-align: center;">ご回答いただいたご意見は、運営チーム一同すべてに目を通し、</p>
            <p style="text-align: center;">今後の開発の参考とさせていただきます。</p>
            <p style="text-align: center;">皆様のご意見をお待ちしております。</p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">引き続き『TALES OF THE RAYS』をよろしくお願い申し上げます。</p>

        </section>
    </section>
</div>
</body>
</html>
